USE [XREF]
GO
/****** Object:  StoredProcedure [Oracle].[Merge_DemandClass]    Script Date: 7/8/2025 3:41:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Oracle].[Merge_DemandClass]
AS BEGIN

INSERT INTO dbo.DemandClass ([DEMAND CLASS CODE]
      ,[DEMAND CLASS NAME] ) 
SELECT [LOOKUP_CODE],
	   [Description]
 FROM OPENQUERY(PROD,'
	select    
		  FLVV.LOOKUP_CODE
		, FLVV.MEANING
		, FLVV.DESCRIPTION
		, FLVV.ENABLED_FLAG
		, FLVV.START_DATE_ACTIVE
		, FLVV.END_DATE_ACTIVE
		, FLVV.CREATION_DATE
		, FLVV.LAST_UPDATE_DATE   
	from FND_LOOKUP_VALUES_VL FLVV
    where LOOKUP_TYPE = ''DEMAND_CLASS''
		AND fLVV.ENABLED_FLAG = ''Y''
		AND START_DATE_ACTIVE > sysdate - 30
		'
 ) o
 LEFT JOIN dbo.DemandClass x ON o.[LOOKUP_CODE] = x.[DEMAND CLASS CODE]
 WHERE x.[DEMAND CLASS CODE] IS NULL

 END
GO
