USE [Operations]
GO
/****** Object:  StoredProcedure [dbo].[Upsert_DimAPInvoice]    Script Date: 7/10/2025 11:43:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Upsert_DimAPInvoice] AS BEGIN

	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Merge', GETDATE()

	MERGE dbo.DimAPInvoice target
	USING (
		SELECT DISTINCT 
			 [INVOICE_ID]
			,[INVOICE_NUM]
			,[LINE_NUMBER]
			,[INVOicE_DATE]
			,[INVOICE_AMOUNT]
			,[AMOUNT_PAID]
			,[APPROVED_AMOUNT]
			,[LINE_TYPE_LOOKUP_CODE]
			,[LINE_SOURcE]
			,[MATCH_TYPE]
			,[QUANTITY_INVOICED]
			,[UNIT_PRICE]
			,[ITEM]
			,[POID]
		FROM [Operations].[Dim].[APInvoice]
	) source
	ON	source.INVOICE_ID				= target.INVOICE_ID
		AND source.LINE_NUMBER			= target.LINE_NUMBER
	WHEN MATCHED AND (
  		source.INVOICE_NUM										<> target.INVOICE_NUM
		OR ISNULL(source.[INVOICE_DATE],'1900-01-01')			<> ISNULL(target.[INVOICE_DATE],'1900-01-01')
		OR ISNULL(source.INVOICE_AMOUNT,0)						<> ISNULL(target.INVOICE_AMOUNT,0)
		OR ISNULL(source.AMOUNT_PAID,0)							<> ISNULL(target.AMOUNT_PAID,0)
		OR ISNULL(source.APPROVED_AMOUNT,0)						<> ISNULL(target.APPROVED_AMOUNT,0)
		OR ISNULL(source.LINE_TYPE_LOOKUP_CODE,'')				<> ISNULL(target.LINE_TYPE_LOOKUP_CODE,'')
		OR ISNULL(source.MATCH_TYPE,'')							<> ISNULL(target.MATCH_TYPE,'')
		OR ISNULL(source.QUANTITY_INVOICED,0)					<> ISNULL(target.QUANTITY_INVOICED,0)
		OR ISNULL(source.UNIT_PRICE,0)							<> ISNULL(target.UNIT_PRICE,0)
		OR ISNULL(source.ITEM,0)								<> ISNULL(target.ITEM,0)
		OR ISNULL(source.POID,0)								<> ISNULL(target.POID,0)
	) THEN
	UPDATE 
	SET 
  		 INVOICE_NUM			= source.INVOICE_NUM
		,INVOICE_DATE 			= source.INVOICE_DATE
		,INVOICE_AMOUNT			= source.INVOICE_AMOUNT
		,AMOUNT_PAID			= source.AMOUNT_PAID
		,APPROVED_AMOUNT		= source.APPROVED_AMOUNT
		,LINE_TYPE_LOOKUP_CODE	= source.LINE_TYPE_LOOKUP_CODE
		,LINE_SOURCE			= source.LINE_SOURCE
		,MATCH_TYPE				= source.MATCH_TYPE
		,QUANTITY_INVOICED		= source.QUANTITY_INVOICED
		,UNIT_PRICE				= source.UNIT_PRICE
		,ITEM					= source.ITEM
		,POID					= source.POID
	WHEN NOT MATCHED BY TARGET THEN
	INSERT (
			 INVOICE_ID
			,INVOICE_NUM
			,LINE_NUMBER
			,INVOICE_DATE
			,INVOICE_AMOUNT
			,AMOUNT_PAID
			,APPROVED_AMOUNT
			,LINE_TYPE_LOOKUP_CODE
			,LINE_SOURCE
			,MATCH_TYPE
			,QUANTITY_INVOICED
			,UNIT_PRICE
			,ITEM
			,POID
    )
	VALUES (
			 INVOICE_ID
			,INVOICE_NUM
			,LINE_NUMBER
			,INVOICE_DATE
			,INVOICE_AMOUNT
			,AMOUNT_PAID
			,APPROVED_AMOUNT
			,LINE_TYPE_LOOKUP_CODE
			,LINE_SOURCE
			,MATCH_TYPE
			,QUANTITY_INVOICED
			,UNIT_PRICE
			,ITEM
			,POID
	);

	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Done', GETDATE()

/*
	SELECT * FROM (
		SELECT DISTINCT 
			 INVOICE_ID
			,INVOICE_NUM
			,LINE_NUMBER
			,INVOICE_DATE
			,INVOICE_AMOUNT
			,AMOUNT_PAID
			,APPROVED_AMOUNT
			,LINE_TYPE_LOOKUP_CODE
			,LINE_SOURCE
			,MATCH_TYPE
			,QUANTITY_INVOICED
			,UNIT_PRICE
			,ITEM
			,POID
		FROM [Operations].[dbo].[DimAPInvoice]
	) source		
		LEFT JOIN dbo.DimAPInvoice target 
	ON	source.INVOICE_ID				= target.INVOICE_ID
		AND source.LINE_NUMBER			= target.LINE_NUMBER
	WHERE
  		source.INVOICE_NUM										<> target.INVOICE_NUM
		OR ISNULL(source.[INVOICE_DATE],'1900-01-01')			<> ISNULL(target.[INVOICE_DATE],'1900-01-01')
		OR ISNULL(source.INVOICE_AMOUNT,0)						<> ISNULL(target.INVOICE_AMOUNT,0)
		OR ISNULL(source.AMOUNT_PAID,0)							<> ISNULL(target.AMOUNT_PAID,0)
		OR ISNULL(source.APPROVED_AMOUNT,0)						<> ISNULL(target.APPROVED_AMOUNT,0)
		OR ISNULL(source.LINE_TYPE_LOOKUP_CODE,'')				<> ISNULL(target.LINE_TYPE_LOOKUP_CODE,'')
		OR ISNULL(source.MATCH_TYPE,'')							<> ISNULL(target.MATCH_TYPE,'')
		OR ISNULL(source.QUANTITY_INVOICED,0)					<> ISNULL(target.QUANTITY_INVOICED,0)
		OR ISNULL(source.UNIT_PRICE,0)							<> ISNULL(target.UNIT_PRICE,0)
		OR ISNULL(source.ITEM,0)								<> ISNULL(target.ITEM,0)
		OR ISNULL(source.POID,0)								<> ISNULL(target.POID,0)
*/

END

GO
