USE [Operations]
GO
/****** Object:  StoredProcedure [dbo].[Update_InventoryCurrent]    Script Date: 7/10/2025 11:43:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Update_InventoryCurrent] AS BEGIN
	BEGIN TRY
		BEGIN TRAN

		  TRUNCATE TABLE Oracle.[InventoryCurrent]

		  INSERT INTO Oracle.[InventoryCurrent]
		  SELECT [INVENTORY_ITEM_ID]
				  ,[ORGANIZATION_ID]
				  ,[DATE_RECEIVED]
				  ,[LAST_UPDATE_DATE]
				  ,[LAST_UPDATED_BY]
				  ,[CREATION_DATE]
				  ,[CREATED_BY]
				  ,[LAST_UPDATE_LOGIN]
				  ,[PRIMARY_TRANSACTION_QUANTITY]
				  ,[SUBINVENTORY_CODE]
				  ,[REVISION]
				  ,[LOCATOR_ID]
				  ,[CREATE_TRANSACTION_ID]
				  ,[UPDATE_TRANSACTION_ID]
				  ,[LOT_NUMBER]
				  ,[ORIG_DATE_RECEIVED]
				  ,[COST_GROUP_ID]
				  ,[CONTAINERIZED_FLAG]
				  ,[PROJECT_ID]
				  ,[TASK_ID]
				  ,[ONHAND_QUANTITIES_ID]
				  ,[ORGANIZATION_TYPE]
				  ,[OWNING_ORGANIZATION_ID]
				  ,[OWNING_TP_TYPE]
				  ,[PLANNING_ORGANIZATION_ID]
				  ,[PLANNING_TP_TYPE]
				  ,[TRANSACTION_UOM_CODE]
				  ,[TRANSACTION_QUANTITY]
				  ,[SECONDARY_UOM_CODE]
				  ,[SECONDARY_TRANSACTION_QUANTITY]
				  ,[IS_CONSIGNED]
				  ,[LPN_ID]
				  ,[STATUS_ID]
				  ,SUBSTRING(LOWER(CONVERT(VARCHAR(32),HASHBYTES('MD5',
					--replace @columnList result here
					CAST(ISNULL(INVENTORY_ITEM_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(ORGANIZATION_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(DATE_RECEIVED,'') AS VARCHAR(100)) +  CAST(ISNULL(LAST_UPDATE_DATE,'') AS VARCHAR(100)) +  CAST(ISNULL(LAST_UPDATED_BY,'0') AS VARCHAR(100)) +  CAST(ISNULL(CREATION_DATE,'') AS VARCHAR(100)) +  CAST(ISNULL(CREATED_BY,'0') AS VARCHAR(100)) +  CAST(ISNULL(LAST_UPDATE_LOGIN,'0') AS VARCHAR(100)) +  CAST(ISNULL(PRIMARY_TRANSACTION_QUANTITY,'0') AS VARCHAR(100)) +  CAST(ISNULL(SUBINVENTORY_CODE,'') AS VARCHAR(10)) +  CAST(ISNULL(REVISION,'') AS VARCHAR(3)) +  CAST(ISNULL(LOCATOR_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(CREATE_TRANSACTION_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(UPDATE_TRANSACTION_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(LOT_NUMBER,'') AS VARCHAR(80)) +  CAST(ISNULL(ORIG_DATE_RECEIVED,'') AS VARCHAR(100)) +  CAST(ISNULL(COST_GROUP_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(CONTAINERIZED_FLAG,'0') AS VARCHAR(100)) +  CAST(ISNULL(PROJECT_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(TASK_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(ONHAND_QUANTITIES_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(ORGANIZATION_TYPE,'0') AS VARCHAR(100)) +  CAST(ISNULL(OWNING_ORGANIZATION_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(OWNING_TP_TYPE,'0') AS VARCHAR(100)) +  CAST(ISNULL(PLANNING_ORGANIZATION_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(PLANNING_TP_TYPE,'0') AS VARCHAR(100)) +  CAST(ISNULL(TRANSACTION_UOM_CODE,'') AS VARCHAR(3)) +  CAST(ISNULL(TRANSACTION_QUANTITY,'0') AS VARCHAR(100)) +  CAST(ISNULL(SECONDARY_UOM_CODE,'') AS VARCHAR(3)) +  CAST(ISNULL(SECONDARY_TRANSACTION_QUANTITY,'0') AS VARCHAR(100)) +  CAST(ISNULL(IS_CONSIGNED,'0') AS VARCHAR(100)) +  CAST(ISNULL(LPN_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(STATUS_ID,'0') AS VARCHAR(100)) 
				),1)),3,32) AS [Fingerprint]
				  ,GETDATE() AS [StartDate]
				  ,GETDATE() AS [EndDate]
				  ,1 AS [CurrentRecord]
			FROM OPENQUERY(PROD,'SELECT * FROM	mtl_onhand_quantities_detail moqd')


		COMMIT TRAN
	END TRY
	BEGIN CATCH
		ROLLBACK TRAN
		THROW
	END CATCH
END
GO
