USE [Operations]
GO
/****** Object:  StoredProcedure [Oracle].[Merge_PER_ALL_PEOPLE_F]    Script Date: 7/10/2025 11:43:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [Oracle].[Merge_PER_ALL_PEOPLE_F]
AS BEGIN

	CREATE TABLE #people(
		[PERSON_ID] [numeric](10, 0) NOT NULL,
		[EFFECTIVE_START_DATE] [datetime2](7) NOT NULL,
		[EFFECTIVE_END_DATE] [datetime2](7) NOT NULL,
		[BUSINESS_GROUP_ID] [numeric](15, 0) NOT NULL,
		[PERSON_TYPE_ID] [numeric](15, 0) NOT NULL,
		[LAST_NAME] [nvarchar](150) NOT NULL,
		[START_DATE] [datetime2](7) NOT NULL,
		[APPLICANT_NUMBER] [nvarchar](30) NULL,
		[BACKGROUND_CHECK_STATUS] [nvarchar](30) NULL,
		[BACKGROUND_DATE_CHECK] [datetime2](7) NULL,
		[BLOOD_TYPE] [nvarchar](30) NULL,
		[COMMENT_ID] [numeric](15, 0) NULL,
		[CORRESPONDENCE_LANGUAGE] [nvarchar](30) NULL,
		[CURRENT_APPLICANT_FLAG] [nvarchar](30) NULL,
		[CURRENT_EMP_OR_APL_FLAG] [nvarchar](30) NULL,
		[CURRENT_EMPLOYEE_FLAG] [nvarchar](30) NULL,
		[DATE_EMPLOYEE_DATA_VERIFIED] [datetime2](7) NULL,
		[DATE_OF_BIRTH] [datetime2](7) NULL,
		[EMAIL_ADDRESS] [nvarchar](240) NULL,
		[EMPLOYEE_NUMBER] [nvarchar](30) NULL,
		[EXPENSE_CHECK_SEND_TO_ADDRESS] [nvarchar](30) NULL,
		[FAST_PATH_EMPLOYEE] [nvarchar](30) NULL,
		[FIRST_NAME] [nvarchar](150) NULL,
		[FTE_CAPACITY] [numeric](5, 2) NULL,
		[FULL_NAME] [nvarchar](240) NULL,
		[HOLD_APPLICANT_DATE_UNTIL] [datetime2](7) NULL,
		[HONORS] [nvarchar](45) NULL,
		[INTERNAL_LOCATION] [nvarchar](45) NULL,
		[KNOWN_AS] [nvarchar](80) NULL,
		[LAST_MEDICAL_TEST_BY] [nvarchar](60) NULL,
		[LAST_MEDICAL_TEST_DATE] [datetime2](7) NULL,
		[MAILSTOP] [nvarchar](45) NULL,
		[MARITAL_STATUS] [nvarchar](30) NULL,
		[MIDDLE_NAMES] [nvarchar](60) NULL,
		[NATIONALITY] [nvarchar](30) NULL,
		[NATIONAL_IDENTIFIER] [nvarchar](30) NULL,
		[OFFICE_NUMBER] [nvarchar](45) NULL,
		[ON_MILITARY_SERVICE] [nvarchar](30) NULL,
		[ORDER_NAME] [nvarchar](240) NULL,
		[PRE_NAME_ADJUNCT] [nvarchar](30) NULL,
		[PREVIOUS_LAST_NAME] [nvarchar](150) NULL,
		[PROJECTED_START_DATE] [datetime2](7) NULL,
		[REHIRE_AUTHORIZOR] [nvarchar](60) NULL,
		[REHIRE_REASON] [nvarchar](60) NULL,
		[REHIRE_RECOMMENDATION] [nvarchar](30) NULL,
		[RESUME_EXISTS] [nvarchar](30) NULL,
		[RESUME_LAST_UPDATED] [datetime2](7) NULL,
		[REGISTERED_DISABLED_FLAG] [nvarchar](30) NULL,
		[SECOND_PASSPORT_EXISTS] [nvarchar](30) NULL,
		[SEX] [nvarchar](30) NULL,
		[STUDENT_STATUS] [nvarchar](30) NULL,
		[SUFFIX] [nvarchar](30) NULL,
		[TITLE] [nvarchar](30) NULL,
		[VENDOR_ID] [numeric](15, 0) NULL,
		[WORK_SCHEDULE] [nvarchar](30) NULL,
		[WORK_TELEPHONE] [nvarchar](60) NULL,
		[COORD_BEN_MED_PLN_NO] [nvarchar](30) NULL,
		[COORD_BEN_NO_CVG_FLAG] [nvarchar](30) NULL,
		[DPDNT_ADOPTION_DATE] [datetime2](7) NULL,
		[DPDNT_VLNTRY_SVCE_FLAG] [nvarchar](30) NULL,
		[RECEIPT_OF_DEATH_CERT_DATE] [datetime2](7) NULL,
		[USES_TOBACCO_FLAG] [nvarchar](30) NULL,
		[BENEFIT_GROUP_ID] [numeric](15, 0) NULL,
		[REQUEST_ID] [numeric](15, 0) NULL,
		[PROGRAM_APPLICATION_ID] [numeric](15, 0) NULL,
		[PROGRAM_ID] [numeric](15, 0) NULL,
		[PROGRAM_UPDATE_DATE] [datetime2](7) NULL,
		[ATTRIBUTE_CATEGORY] [nvarchar](30) NULL,
		[ATTRIBUTE1] [nvarchar](150) NULL,
		[ATTRIBUTE2] [nvarchar](150) NULL,
		[ATTRIBUTE3] [nvarchar](150) NULL,
		[ATTRIBUTE4] [nvarchar](150) NULL,
		[ATTRIBUTE5] [nvarchar](150) NULL,
		[ATTRIBUTE6] [nvarchar](150) NULL,
		[ATTRIBUTE7] [nvarchar](150) NULL,
		[ATTRIBUTE8] [nvarchar](150) NULL,
		[ATTRIBUTE9] [nvarchar](150) NULL,
		[ATTRIBUTE10] [nvarchar](150) NULL,
		[ATTRIBUTE11] [nvarchar](150) NULL,
		[ATTRIBUTE12] [nvarchar](150) NULL,
		[ATTRIBUTE13] [nvarchar](150) NULL,
		[ATTRIBUTE14] [nvarchar](150) NULL,
		[ATTRIBUTE15] [nvarchar](150) NULL,
		[ATTRIBUTE16] [nvarchar](150) NULL,
		[ATTRIBUTE17] [nvarchar](150) NULL,
		[ATTRIBUTE18] [nvarchar](150) NULL,
		[ATTRIBUTE19] [nvarchar](150) NULL,
		[ATTRIBUTE20] [nvarchar](150) NULL,
		[ATTRIBUTE21] [nvarchar](150) NULL,
		[ATTRIBUTE22] [nvarchar](150) NULL,
		[ATTRIBUTE23] [nvarchar](150) NULL,
		[ATTRIBUTE24] [nvarchar](150) NULL,
		[ATTRIBUTE25] [nvarchar](150) NULL,
		[ATTRIBUTE26] [nvarchar](150) NULL,
		[ATTRIBUTE27] [nvarchar](150) NULL,
		[ATTRIBUTE28] [nvarchar](150) NULL,
		[ATTRIBUTE29] [nvarchar](150) NULL,
		[ATTRIBUTE30] [nvarchar](150) NULL,
		[LAST_UPDATE_DATE] [datetime2](7) NULL,
		[LAST_UPDATED_BY] [numeric](15, 0) NULL,
		[LAST_UPDATE_LOGIN] [numeric](15, 0) NULL,
		[CREATED_BY] [numeric](15, 0) NULL,
		[CREATION_DATE] [datetime2](7) NULL,
		[PER_INFORMATION_CATEGORY] [nvarchar](30) NULL,
		[PER_INFORMATION1] [nvarchar](150) NULL,
		[PER_INFORMATION2] [nvarchar](150) NULL,
		[PER_INFORMATION3] [nvarchar](150) NULL,
		[PER_INFORMATION4] [nvarchar](150) NULL,
		[PER_INFORMATION5] [nvarchar](150) NULL,
		[PER_INFORMATION6] [nvarchar](150) NULL,
		[PER_INFORMATION7] [nvarchar](150) NULL,
		[PER_INFORMATION8] [nvarchar](150) NULL,
		[PER_INFORMATION9] [nvarchar](150) NULL,
		[PER_INFORMATION10] [nvarchar](150) NULL,
		[PER_INFORMATION11] [nvarchar](150) NULL,
		[PER_INFORMATION12] [nvarchar](150) NULL,
		[PER_INFORMATION13] [nvarchar](150) NULL,
		[PER_INFORMATION14] [nvarchar](150) NULL,
		[PER_INFORMATION15] [nvarchar](150) NULL,
		[PER_INFORMATION16] [nvarchar](150) NULL,
		[PER_INFORMATION17] [nvarchar](150) NULL,
		[PER_INFORMATION18] [nvarchar](150) NULL,
		[PER_INFORMATION19] [nvarchar](150) NULL,
		[PER_INFORMATION20] [nvarchar](150) NULL,
		[PER_INFORMATION21] [nvarchar](150) NULL,
		[PER_INFORMATION22] [nvarchar](150) NULL,
		[PER_INFORMATION23] [nvarchar](150) NULL,
		[PER_INFORMATION24] [nvarchar](150) NULL,
		[PER_INFORMATION25] [nvarchar](150) NULL,
		[PER_INFORMATION26] [nvarchar](150) NULL,
		[PER_INFORMATION27] [nvarchar](150) NULL,
		[PER_INFORMATION28] [nvarchar](150) NULL,
		[PER_INFORMATION29] [nvarchar](150) NULL,
		[PER_INFORMATION30] [nvarchar](150) NULL,
		[OBJECT_VERSION_NUMBER] [numeric](9, 0) NULL,
		[DATE_OF_DEATH] [datetime2](7) NULL,
		[ORIGINAL_DATE_OF_HIRE] [datetime2](7) NULL,
		[TOWN_OF_BIRTH] [nvarchar](90) NULL,
		[REGION_OF_BIRTH] [nvarchar](90) NULL,
		[COUNTRY_OF_BIRTH] [nvarchar](90) NULL,
		[GLOBAL_PERSON_ID] [nvarchar](30) NULL,
		[COORD_BEN_MED_PL_NAME] [nvarchar](80) NULL,
		[COORD_BEN_MED_INSR_CRR_NAME] [nvarchar](80) NULL,
		[COORD_BEN_MED_INSR_CRR_IDENT] [nvarchar](80) NULL,
		[COORD_BEN_MED_EXT_ER] [nvarchar](80) NULL,
		[COORD_BEN_MED_CVG_STRT_DT] [datetime2](7) NULL,
		[COORD_BEN_MED_CVG_END_DT] [datetime2](7) NULL,
		[PARTY_ID] [numeric](15, 0) NULL,
		[NPW_NUMBER] [nvarchar](30) NULL,
		[CURRENT_NPW_FLAG] [nvarchar](30) NULL,
		[GLOBAL_NAME] [nvarchar](240) NULL,
		[LOCAL_NAME] [nvarchar](240) NULL,
		[Fingerprint] [varchar](32) NOT NULL
	)
	
    INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Oracle Download', GETDATE()

	INSERT INTO #people
	SELECT 
		[PERSON_ID]
      ,[EFFECTIVE_START_DATE]
      ,[EFFECTIVE_END_DATE]
      ,[BUSINESS_GROUP_ID]
      ,[PERSON_TYPE_ID]
      ,[LAST_NAME]
      ,[START_DATE]
      ,[APPLICANT_NUMBER]
      ,[BACKGROUND_CHECK_STATUS]
      ,[BACKGROUND_DATE_CHECK]
      ,[BLOOD_TYPE]
      ,[COMMENT_ID]
      ,[CORRESPONDENCE_LANGUAGE]
      ,[CURRENT_APPLICANT_FLAG]
      ,[CURRENT_EMP_OR_APL_FLAG]
      ,[CURRENT_EMPLOYEE_FLAG]
      ,[DATE_EMPLOYEE_DATA_VERIFIED]
      ,[DATE_OF_BIRTH]
      ,[EMAIL_ADDRESS]
      ,[EMPLOYEE_NUMBER]
      ,[EXPENSE_CHECK_SEND_TO_ADDRESS]
      ,[FAST_PATH_EMPLOYEE]
      ,[FIRST_NAME]
      ,[FTE_CAPACITY]
      ,[FULL_NAME]
      ,[HOLD_APPLICANT_DATE_UNTIL]
      ,[HONORS]
      ,[INTERNAL_LOCATION]
      ,[KNOWN_AS]
      ,[LAST_MEDICAL_TEST_BY]
      ,[LAST_MEDICAL_TEST_DATE]
      ,[MAILSTOP]
      ,[MARITAL_STATUS]
      ,[MIDDLE_NAMES]
      ,[NATIONALITY]
      ,[NATIONAL_IDENTIFIER]
      ,[OFFICE_NUMBER]
      ,[ON_MILITARY_SERVICE]
      ,[ORDER_NAME]
      ,[PRE_NAME_ADJUNCT]
      ,[PREVIOUS_LAST_NAME]
      ,[PROJECTED_START_DATE]
      ,[REHIRE_AUTHORIZOR]
      ,[REHIRE_REASON]
      ,[REHIRE_RECOMMENDATION]
      ,[RESUME_EXISTS]
      ,[RESUME_LAST_UPDATED]
      ,[REGISTERED_DISABLED_FLAG]
      ,[SECOND_PASSPORT_EXISTS]
      ,[SEX]
      ,[STUDENT_STATUS]
      ,[SUFFIX]
      ,[TITLE]
      ,[VENDOR_ID]
      ,[WORK_SCHEDULE]
      ,[WORK_TELEPHONE]
      ,[COORD_BEN_MED_PLN_NO]
      ,[COORD_BEN_NO_CVG_FLAG]
      ,[DPDNT_ADOPTION_DATE]
      ,[DPDNT_VLNTRY_SVCE_FLAG]
      ,[RECEIPT_OF_DEATH_CERT_DATE]
      ,[USES_TOBACCO_FLAG]
      ,[BENEFIT_GROUP_ID]
      ,[REQUEST_ID]
      ,[PROGRAM_APPLICATION_ID]
      ,[PROGRAM_ID]
      ,[PROGRAM_UPDATE_DATE]
      ,[ATTRIBUTE_CATEGORY]
      ,[ATTRIBUTE1]
      ,[ATTRIBUTE2]
      ,[ATTRIBUTE3]
      ,[ATTRIBUTE4]
      ,[ATTRIBUTE5]
      ,[ATTRIBUTE6]
      ,[ATTRIBUTE7]
      ,[ATTRIBUTE8]
      ,[ATTRIBUTE9]
      ,[ATTRIBUTE10]
      ,[ATTRIBUTE11]
      ,[ATTRIBUTE12]
      ,[ATTRIBUTE13]
      ,[ATTRIBUTE14]
      ,[ATTRIBUTE15]
      ,[ATTRIBUTE16]
      ,[ATTRIBUTE17]
      ,[ATTRIBUTE18]
      ,[ATTRIBUTE19]
      ,[ATTRIBUTE20]
      ,[ATTRIBUTE21]
      ,[ATTRIBUTE22]
      ,[ATTRIBUTE23]
      ,[ATTRIBUTE24]
      ,[ATTRIBUTE25]
      ,[ATTRIBUTE26]
      ,[ATTRIBUTE27]
      ,[ATTRIBUTE28]
      ,[ATTRIBUTE29]
      ,[ATTRIBUTE30]
      ,[LAST_UPDATE_DATE]
      ,[LAST_UPDATED_BY]
      ,[LAST_UPDATE_LOGIN]
      ,[CREATED_BY]
      ,[CREATION_DATE]
      ,[PER_INFORMATION_CATEGORY]
      ,[PER_INFORMATION1]
      ,[PER_INFORMATION2]
      ,[PER_INFORMATION3]
      ,[PER_INFORMATION4]
      ,[PER_INFORMATION5]
      ,[PER_INFORMATION6]
      ,[PER_INFORMATION7]
      ,[PER_INFORMATION8]
      ,[PER_INFORMATION9]
      ,[PER_INFORMATION10]
      ,[PER_INFORMATION11]
      ,[PER_INFORMATION12]
      ,[PER_INFORMATION13]
      ,[PER_INFORMATION14]
      ,[PER_INFORMATION15]
      ,[PER_INFORMATION16]
      ,[PER_INFORMATION17]
      ,[PER_INFORMATION18]
      ,[PER_INFORMATION19]
      ,[PER_INFORMATION20]
      ,[PER_INFORMATION21]
      ,[PER_INFORMATION22]
      ,[PER_INFORMATION23]
      ,[PER_INFORMATION24]
      ,[PER_INFORMATION25]
      ,[PER_INFORMATION26]
      ,[PER_INFORMATION27]
      ,[PER_INFORMATION28]
      ,[PER_INFORMATION29]
      ,[PER_INFORMATION30]
      ,[OBJECT_VERSION_NUMBER]
      ,[DATE_OF_DEATH]
      ,[ORIGINAL_DATE_OF_HIRE]
      ,[TOWN_OF_BIRTH]
      ,[REGION_OF_BIRTH]
      ,[COUNTRY_OF_BIRTH]
      ,[GLOBAL_PERSON_ID]
      ,[COORD_BEN_MED_PL_NAME]
      ,[COORD_BEN_MED_INSR_CRR_NAME]
      ,[COORD_BEN_MED_INSR_CRR_IDENT]
      ,[COORD_BEN_MED_EXT_ER]
      ,[COORD_BEN_MED_CVG_STRT_DT]
      ,[COORD_BEN_MED_CVG_END_DT]
      ,[PARTY_ID]
      ,[NPW_NUMBER]
      ,[CURRENT_NPW_FLAG]
      ,[GLOBAL_NAME]
      ,[LOCAL_NAME]
	  ,'XXX' AS Fingerprint
	FROM OPENQUERY(PROD,'SELECT * FROM PER_ALL_PEOPLE_F papf  WHERE LAST_UPDATE_DATE >= SYSDATE - 5 OR CREATION_DATE >= SYSDATE - 5')

	/*
		DECLARE @columnList VARCHAR(MAX) = dbo.getHashField ('PER_ALL_PEOPLE_F','Oracle') SELECT @columnList
	*/

	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Fingerprint', GETDATE()

	UPDATE #people
	SET Fingerprint = 
		SUBSTRING(LOWER(CONVERT(VARCHAR(32),HASHBYTES('MD5',
			--replace @columnList result here
			CAST(ISNULL([PERSON_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([EFFECTIVE_START_DATE],'') AS VARCHAR(100)) +  CAST(ISNULL([EFFECTIVE_END_DATE],'') AS VARCHAR(100)) +  CAST(ISNULL([BUSINESS_GROUP_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([PERSON_TYPE_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([LAST_NAME],'') AS VARCHAR(150)) +  CAST(ISNULL([START_DATE],'') AS VARCHAR(100)) +  CAST(ISNULL([APPLICANT_NUMBER],'') AS VARCHAR(30)) +  CAST(ISNULL([BACKGROUND_CHECK_STATUS],'') AS VARCHAR(30)) +  CAST(ISNULL([BACKGROUND_DATE_CHECK],'') AS VARCHAR(100)) +  CAST(ISNULL([BLOOD_TYPE],'') AS VARCHAR(30)) +  CAST(ISNULL([COMMENT_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([CORRESPONDENCE_LANGUAGE],'') AS VARCHAR(30)) +  CAST(ISNULL([CURRENT_APPLICANT_FLAG],'') AS VARCHAR(30)) +  CAST(ISNULL([CURRENT_EMP_OR_APL_FLAG],'') AS VARCHAR(30)) +  CAST(ISNULL([CURRENT_EMPLOYEE_FLAG],'') AS VARCHAR(30)) +  CAST(ISNULL([DATE_EMPLOYEE_DATA_VERIFIED],'') AS VARCHAR(100)) +  CAST(ISNULL([DATE_OF_BIRTH],'') AS VARCHAR(100)) +  CAST(ISNULL([EMAIL_ADDRESS],'') AS VARCHAR(240)) +  CAST(ISNULL([EMPLOYEE_NUMBER],'') AS VARCHAR(30)) +  CAST(ISNULL([EXPENSE_CHECK_SEND_TO_ADDRESS],'') AS VARCHAR(30)) +  CAST(ISNULL([FAST_PATH_EMPLOYEE],'') AS VARCHAR(30)) +  CAST(ISNULL([FIRST_NAME],'') AS VARCHAR(150)) +  CAST(ISNULL([FTE_CAPACITY],'0') AS VARCHAR(100)) +  CAST(ISNULL([FULL_NAME],'') AS VARCHAR(240)) +  CAST(ISNULL([HOLD_APPLICANT_DATE_UNTIL],'') AS VARCHAR(100)) +  CAST(ISNULL([HONORS],'') AS VARCHAR(45)) +  CAST(ISNULL([INTERNAL_LOCATION],'') AS VARCHAR(45)) +  CAST(ISNULL([KNOWN_AS],'') AS VARCHAR(80)) +  CAST(ISNULL([LAST_MEDICAL_TEST_BY],'') AS VARCHAR(60)) +  CAST(ISNULL([LAST_MEDICAL_TEST_DATE],'') AS VARCHAR(100)) +  CAST(ISNULL([MAILSTOP],'') AS VARCHAR(45)) +  CAST(ISNULL([MARITAL_STATUS],'') AS VARCHAR(30)) +  CAST(ISNULL([MIDDLE_NAMES],'') AS VARCHAR(60)) +  CAST(ISNULL([NATIONALITY],'') AS VARCHAR(30)) +  CAST(ISNULL([NATIONAL_IDENTIFIER],'') AS VARCHAR(30)) +  CAST(ISNULL([OFFICE_NUMBER],'') AS VARCHAR(45)) +  CAST(ISNULL([ON_MILITARY_SERVICE],'') AS VARCHAR(30)) +  CAST(ISNULL([ORDER_NAME],'') AS VARCHAR(240)) +  CAST(ISNULL([PRE_NAME_ADJUNCT],'') AS VARCHAR(30)) +  CAST(ISNULL([PREVIOUS_LAST_NAME],'') AS VARCHAR(150)) +  CAST(ISNULL([PROJECTED_START_DATE],'') AS VARCHAR(100)) +  CAST(ISNULL([REHIRE_AUTHORIZOR],'') AS VARCHAR(60)) +  CAST(ISNULL([REHIRE_REASON],'') AS VARCHAR(60)) +  CAST(ISNULL([REHIRE_RECOMMENDATION],'') AS VARCHAR(30)) +  CAST(ISNULL([RESUME_EXISTS],'') AS VARCHAR(30)) +  CAST(ISNULL([RESUME_LAST_UPDATED],'') AS VARCHAR(100)) +  CAST(ISNULL([REGISTERED_DISABLED_FLAG],'') AS VARCHAR(30)) +  CAST(ISNULL([SECOND_PASSPORT_EXISTS],'') AS VARCHAR(30)) +  CAST(ISNULL([SEX],'') AS VARCHAR(30)) +  CAST(ISNULL([STUDENT_STATUS],'') AS VARCHAR(30)) +  CAST(ISNULL([SUFFIX],'') AS VARCHAR(30)) +  CAST(ISNULL([TITLE],'') AS VARCHAR(30)) +  CAST(ISNULL([VENDOR_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([WORK_SCHEDULE],'') AS VARCHAR(30)) +  CAST(ISNULL([WORK_TELEPHONE],'') AS VARCHAR(60)) +  CAST(ISNULL([COORD_BEN_MED_PLN_NO],'') AS VARCHAR(30)) +  CAST(ISNULL([COORD_BEN_NO_CVG_FLAG],'') AS VARCHAR(30)) +  CAST(ISNULL([DPDNT_ADOPTION_DATE],'') AS VARCHAR(100)) +  CAST(ISNULL([DPDNT_VLNTRY_SVCE_FLAG],'') AS VARCHAR(30)) +  CAST(ISNULL([RECEIPT_OF_DEATH_CERT_DATE],'') AS VARCHAR(100)) +  CAST(ISNULL([USES_TOBACCO_FLAG],'') AS VARCHAR(30)) +  CAST(ISNULL([BENEFIT_GROUP_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([REQUEST_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([PROGRAM_APPLICATION_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([PROGRAM_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([PROGRAM_UPDATE_DATE],'') AS VARCHAR(100)) +  CAST(ISNULL([ATTRIBUTE_CATEGORY],'') AS VARCHAR(30)) +  CAST(ISNULL([ATTRIBUTE1],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE2],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE3],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE4],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE5],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE6],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE7],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE8],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE9],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE10],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE11],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE12],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE13],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE14],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE15],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE16],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE17],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE18],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE19],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE20],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE21],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE22],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE23],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE24],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE25],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE26],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE27],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE28],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE29],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE30],'') AS VARCHAR(150)) +  CAST(ISNULL([LAST_UPDATE_DATE],'') AS VARCHAR(100)) +  CAST(ISNULL([LAST_UPDATED_BY],'0') AS VARCHAR(100)) +  CAST(ISNULL([LAST_UPDATE_LOGIN],'0') AS VARCHAR(100)) +  CAST(ISNULL([CREATED_BY],'0') AS VARCHAR(100)) +  CAST(ISNULL([CREATION_DATE],'') AS VARCHAR(100)) +  CAST(ISNULL([PER_INFORMATION_CATEGORY],'') AS VARCHAR(30)) +  CAST(ISNULL([PER_INFORMATION1],'') AS VARCHAR(150)) +  CAST(ISNULL([PER_INFORMATION2],'') AS VARCHAR(150)) +  CAST(ISNULL([PER_INFORMATION3],'') AS VARCHAR(150)) +  CAST(ISNULL([PER_INFORMATION4],'') AS VARCHAR(150)) +  CAST(ISNULL([PER_INFORMATION5],'') AS VARCHAR(150)) +  CAST(ISNULL([PER_INFORMATION6],'') AS VARCHAR(150)) +  CAST(ISNULL([PER_INFORMATION7],'') AS VARCHAR(150)) +  CAST(ISNULL([PER_INFORMATION8],'') AS VARCHAR(150)) +  CAST(ISNULL([PER_INFORMATION9],'') AS VARCHAR(150)) +  CAST(ISNULL([PER_INFORMATION10],'') AS VARCHAR(150)) +  CAST(ISNULL([PER_INFORMATION11],'') AS VARCHAR(150)) +  CAST(ISNULL([PER_INFORMATION12],'') AS VARCHAR(150)) +  CAST(ISNULL([PER_INFORMATION13],'') AS VARCHAR(150)) +  CAST(ISNULL([PER_INFORMATION14],'') AS VARCHAR(150)) +  CAST(ISNULL([PER_INFORMATION15],'') AS VARCHAR(150)) +  CAST(ISNULL([PER_INFORMATION16],'') AS VARCHAR(150)) +  CAST(ISNULL([PER_INFORMATION17],'') AS VARCHAR(150)) +  CAST(ISNULL([PER_INFORMATION18],'') AS VARCHAR(150)) +  CAST(ISNULL([PER_INFORMATION19],'') AS VARCHAR(150)) +  CAST(ISNULL([PER_INFORMATION20],'') AS VARCHAR(150)) +  CAST(ISNULL([PER_INFORMATION21],'') AS VARCHAR(150)) +  CAST(ISNULL([PER_INFORMATION22],'') AS VARCHAR(150)) +  CAST(ISNULL([PER_INFORMATION23],'') AS VARCHAR(150)) +  CAST(ISNULL([PER_INFORMATION24],'') AS VARCHAR(150)) +  CAST(ISNULL([PER_INFORMATION25],'') AS VARCHAR(150)) +  CAST(ISNULL([PER_INFORMATION26],'') AS VARCHAR(150)) +  CAST(ISNULL([PER_INFORMATION27],'') AS VARCHAR(150)) +  CAST(ISNULL([PER_INFORMATION28],'') AS VARCHAR(150)) +  CAST(ISNULL([PER_INFORMATION29],'') AS VARCHAR(150)) +  CAST(ISNULL([PER_INFORMATION30],'') AS VARCHAR(150)) +  CAST(ISNULL([OBJECT_VERSION_NUMBER],'0') AS VARCHAR(100)) +  CAST(ISNULL([DATE_OF_DEATH],'') AS VARCHAR(100)) +  CAST(ISNULL([ORIGINAL_DATE_OF_HIRE],'') AS VARCHAR(100)) +  CAST(ISNULL([TOWN_OF_BIRTH],'') AS VARCHAR(90)) +  CAST(ISNULL([REGION_OF_BIRTH],'') AS VARCHAR(90)) +  CAST(ISNULL([COUNTRY_OF_BIRTH],'') AS VARCHAR(90)) +  CAST(ISNULL([GLOBAL_PERSON_ID],'') AS VARCHAR(30)) +  CAST(ISNULL([COORD_BEN_MED_PL_NAME],'') AS VARCHAR(80)) +  CAST(ISNULL([COORD_BEN_MED_INSR_CRR_NAME],'') AS VARCHAR(80)) +  CAST(ISNULL([COORD_BEN_MED_INSR_CRR_IDENT],'') AS VARCHAR(80)) +  CAST(ISNULL([COORD_BEN_MED_EXT_ER],'') AS VARCHAR(80)) +  CAST(ISNULL([COORD_BEN_MED_CVG_STRT_DT],'') AS VARCHAR(100)) +  CAST(ISNULL([COORD_BEN_MED_CVG_END_DT],'') AS VARCHAR(100)) +  CAST(ISNULL([PARTY_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([NPW_NUMBER],'') AS VARCHAR(30)) +  CAST(ISNULL([CURRENT_NPW_FLAG],'') AS VARCHAR(30)) +  CAST(ISNULL([GLOBAL_NAME],'') AS VARCHAR(240)) +  CAST(ISNULL([LOCAL_NAME],'') AS VARCHAR(240)) 
		),1)),3,32);

	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Merge', GETDATE()

	INSERT INTO Oracle.PER_ALL_PEOPLE_F (
	[PERSON_ID]
      ,[EFFECTIVE_START_DATE]
      ,[EFFECTIVE_END_DATE]
      ,[BUSINESS_GROUP_ID]
      ,[PERSON_TYPE_ID]
      ,[LAST_NAME]
      ,[START_DATE]
      ,[APPLICANT_NUMBER]
      ,[BACKGROUND_CHECK_STATUS]
      ,[BACKGROUND_DATE_CHECK]
      ,[BLOOD_TYPE]
      ,[COMMENT_ID]
      ,[CORRESPONDENCE_LANGUAGE]
      ,[CURRENT_APPLICANT_FLAG]
      ,[CURRENT_EMP_OR_APL_FLAG]
      ,[CURRENT_EMPLOYEE_FLAG]
      ,[DATE_EMPLOYEE_DATA_VERIFIED]
      ,[DATE_OF_BIRTH]
      ,[EMAIL_ADDRESS]
      ,[EMPLOYEE_NUMBER]
      ,[EXPENSE_CHECK_SEND_TO_ADDRESS]
      ,[FAST_PATH_EMPLOYEE]
      ,[FIRST_NAME]
      ,[FTE_CAPACITY]
      ,[FULL_NAME]
      ,[HOLD_APPLICANT_DATE_UNTIL]
      ,[HONORS]
      ,[INTERNAL_LOCATION]
      ,[KNOWN_AS]
      ,[LAST_MEDICAL_TEST_BY]
      ,[LAST_MEDICAL_TEST_DATE]
      ,[MAILSTOP]
      ,[MARITAL_STATUS]
      ,[MIDDLE_NAMES]
      ,[NATIONALITY]
      ,[NATIONAL_IDENTIFIER]
      ,[OFFICE_NUMBER]
      ,[ON_MILITARY_SERVICE]
      ,[ORDER_NAME]
      ,[PRE_NAME_ADJUNCT]
      ,[PREVIOUS_LAST_NAME]
      ,[PROJECTED_START_DATE]
      ,[REHIRE_AUTHORIZOR]
      ,[REHIRE_REASON]
      ,[REHIRE_RECOMMENDATION]
      ,[RESUME_EXISTS]
      ,[RESUME_LAST_UPDATED]
      ,[REGISTERED_DISABLED_FLAG]
      ,[SECOND_PASSPORT_EXISTS]
      ,[SEX]
      ,[STUDENT_STATUS]
      ,[SUFFIX]
      ,[TITLE]
      ,[VENDOR_ID]
      ,[WORK_SCHEDULE]
      ,[WORK_TELEPHONE]
      ,[COORD_BEN_MED_PLN_NO]
      ,[COORD_BEN_NO_CVG_FLAG]
      ,[DPDNT_ADOPTION_DATE]
      ,[DPDNT_VLNTRY_SVCE_FLAG]
      ,[RECEIPT_OF_DEATH_CERT_DATE]
      ,[USES_TOBACCO_FLAG]
      ,[BENEFIT_GROUP_ID]
      ,[REQUEST_ID]
      ,[PROGRAM_APPLICATION_ID]
      ,[PROGRAM_ID]
      ,[PROGRAM_UPDATE_DATE]
      ,[ATTRIBUTE_CATEGORY]
      ,[ATTRIBUTE1]
      ,[ATTRIBUTE2]
      ,[ATTRIBUTE3]
      ,[ATTRIBUTE4]
      ,[ATTRIBUTE5]
      ,[ATTRIBUTE6]
      ,[ATTRIBUTE7]
      ,[ATTRIBUTE8]
      ,[ATTRIBUTE9]
      ,[ATTRIBUTE10]
      ,[ATTRIBUTE11]
      ,[ATTRIBUTE12]
      ,[ATTRIBUTE13]
      ,[ATTRIBUTE14]
      ,[ATTRIBUTE15]
      ,[ATTRIBUTE16]
      ,[ATTRIBUTE17]
      ,[ATTRIBUTE18]
      ,[ATTRIBUTE19]
      ,[ATTRIBUTE20]
      ,[ATTRIBUTE21]
      ,[ATTRIBUTE22]
      ,[ATTRIBUTE23]
      ,[ATTRIBUTE24]
      ,[ATTRIBUTE25]
      ,[ATTRIBUTE26]
      ,[ATTRIBUTE27]
      ,[ATTRIBUTE28]
      ,[ATTRIBUTE29]
      ,[ATTRIBUTE30]
      ,[LAST_UPDATE_DATE]
      ,[LAST_UPDATED_BY]
      ,[LAST_UPDATE_LOGIN]
      ,[CREATED_BY]
      ,[CREATION_DATE]
      ,[PER_INFORMATION_CATEGORY]
      ,[PER_INFORMATION1]
      ,[PER_INFORMATION2]
      ,[PER_INFORMATION3]
      ,[PER_INFORMATION4]
      ,[PER_INFORMATION5]
      ,[PER_INFORMATION6]
      ,[PER_INFORMATION7]
      ,[PER_INFORMATION8]
      ,[PER_INFORMATION9]
      ,[PER_INFORMATION10]
      ,[PER_INFORMATION11]
      ,[PER_INFORMATION12]
      ,[PER_INFORMATION13]
      ,[PER_INFORMATION14]
      ,[PER_INFORMATION15]
      ,[PER_INFORMATION16]
      ,[PER_INFORMATION17]
      ,[PER_INFORMATION18]
      ,[PER_INFORMATION19]
      ,[PER_INFORMATION20]
      ,[PER_INFORMATION21]
      ,[PER_INFORMATION22]
      ,[PER_INFORMATION23]
      ,[PER_INFORMATION24]
      ,[PER_INFORMATION25]
      ,[PER_INFORMATION26]
      ,[PER_INFORMATION27]
      ,[PER_INFORMATION28]
      ,[PER_INFORMATION29]
      ,[PER_INFORMATION30]
      ,[OBJECT_VERSION_NUMBER]
      ,[DATE_OF_DEATH]
      ,[ORIGINAL_DATE_OF_HIRE]
      ,[TOWN_OF_BIRTH]
      ,[REGION_OF_BIRTH]
      ,[COUNTRY_OF_BIRTH]
      ,[GLOBAL_PERSON_ID]
      ,[COORD_BEN_MED_PL_NAME]
      ,[COORD_BEN_MED_INSR_CRR_NAME]
      ,[COORD_BEN_MED_INSR_CRR_IDENT]
      ,[COORD_BEN_MED_EXT_ER]
      ,[COORD_BEN_MED_CVG_STRT_DT]
      ,[COORD_BEN_MED_CVG_END_DT]
      ,[PARTY_ID]
      ,[NPW_NUMBER]
      ,[CURRENT_NPW_FLAG]
      ,[GLOBAL_NAME]
      ,[LOCAL_NAME]
      ,[Fingerprint]
	)
	SELECT 
			   a.[PERSON_ID]
			  ,a.[EFFECTIVE_START_DATE]
			  ,a.[EFFECTIVE_END_DATE]
			  ,a.[BUSINESS_GROUP_ID]
			  ,a.[PERSON_TYPE_ID]
			  ,a.[LAST_NAME]
			  ,a.[START_DATE]
			  ,a.[APPLICANT_NUMBER]
			  ,a.[BACKGROUND_CHECK_STATUS]
			  ,a.[BACKGROUND_DATE_CHECK]
			  ,a.[BLOOD_TYPE]
			  ,a.[COMMENT_ID]
			  ,a.[CORRESPONDENCE_LANGUAGE]
			  ,a.[CURRENT_APPLICANT_FLAG]
			  ,a.[CURRENT_EMP_OR_APL_FLAG]
			  ,a.[CURRENT_EMPLOYEE_FLAG]
			  ,a.[DATE_EMPLOYEE_DATA_VERIFIED]
			  ,a.[DATE_OF_BIRTH]
			  ,a.[EMAIL_ADDRESS]
			  ,a.[EMPLOYEE_NUMBER]
			  ,a.[EXPENSE_CHECK_SEND_TO_ADDRESS]
			  ,a.[FAST_PATH_EMPLOYEE]
			  ,a.[FIRST_NAME]
			  ,a.[FTE_CAPACITY]
			  ,a.[FULL_NAME]
			  ,a.[HOLD_APPLICANT_DATE_UNTIL]
			  ,a.[HONORS]
			  ,a.[INTERNAL_LOCATION]
			  ,a.[KNOWN_AS]
			  ,a.[LAST_MEDICAL_TEST_BY]
			  ,a.[LAST_MEDICAL_TEST_DATE]
			  ,a.[MAILSTOP]
			  ,a.[MARITAL_STATUS]
			  ,a.[MIDDLE_NAMES]
			  ,a.[NATIONALITY]
			  ,a.[NATIONAL_IDENTIFIER]
			  ,a.[OFFICE_NUMBER]
			  ,a.[ON_MILITARY_SERVICE]
			  ,a.[ORDER_NAME]
			  ,a.[PRE_NAME_ADJUNCT]
			  ,a.[PREVIOUS_LAST_NAME]
			  ,a.[PROJECTED_START_DATE]
			  ,a.[REHIRE_AUTHORIZOR]
			  ,a.[REHIRE_REASON]
			  ,a.[REHIRE_RECOMMENDATION]
			  ,a.[RESUME_EXISTS]
			  ,a.[RESUME_LAST_UPDATED]
			  ,a.[REGISTERED_DISABLED_FLAG]
			  ,a.[SECOND_PASSPORT_EXISTS]
			  ,a.[SEX]
			  ,a.[STUDENT_STATUS]
			  ,a.[SUFFIX]
			  ,a.[TITLE]
			  ,a.[VENDOR_ID]
			  ,a.[WORK_SCHEDULE]
			  ,a.[WORK_TELEPHONE]
			  ,a.[COORD_BEN_MED_PLN_NO]
			  ,a.[COORD_BEN_NO_CVG_FLAG]
			  ,a.[DPDNT_ADOPTION_DATE]
			  ,a.[DPDNT_VLNTRY_SVCE_FLAG]
			  ,a.[RECEIPT_OF_DEATH_CERT_DATE]
			  ,a.[USES_TOBACCO_FLAG]
			  ,a.[BENEFIT_GROUP_ID]
			  ,a.[REQUEST_ID]
			  ,a.[PROGRAM_APPLICATION_ID]
			  ,a.[PROGRAM_ID]
			  ,a.[PROGRAM_UPDATE_DATE]
			  ,a.[ATTRIBUTE_CATEGORY]
			  ,a.[ATTRIBUTE1]
			  ,a.[ATTRIBUTE2]
			  ,a.[ATTRIBUTE3]
			  ,a.[ATTRIBUTE4]
			  ,a.[ATTRIBUTE5]
			  ,a.[ATTRIBUTE6]
			  ,a.[ATTRIBUTE7]
			  ,a.[ATTRIBUTE8]
			  ,a.[ATTRIBUTE9]
			  ,a.[ATTRIBUTE10]
			  ,a.[ATTRIBUTE11]
			  ,a.[ATTRIBUTE12]
			  ,a.[ATTRIBUTE13]
			  ,a.[ATTRIBUTE14]
			  ,a.[ATTRIBUTE15]
			  ,a.[ATTRIBUTE16]
			  ,a.[ATTRIBUTE17]
			  ,a.[ATTRIBUTE18]
			  ,a.[ATTRIBUTE19]
			  ,a.[ATTRIBUTE20]
			  ,a.[ATTRIBUTE21]
			  ,a.[ATTRIBUTE22]
			  ,a.[ATTRIBUTE23]
			  ,a.[ATTRIBUTE24]
			  ,a.[ATTRIBUTE25]
			  ,a.[ATTRIBUTE26]
			  ,a.[ATTRIBUTE27]
			  ,a.[ATTRIBUTE28]
			  ,a.[ATTRIBUTE29]
			  ,a.[ATTRIBUTE30]
			  ,a.[LAST_UPDATE_DATE]
			  ,a.[LAST_UPDATED_BY]
			  ,a.[LAST_UPDATE_LOGIN]
			  ,a.[CREATED_BY]
			  ,a.[CREATION_DATE]
			  ,a.[PER_INFORMATION_CATEGORY]
			  ,a.[PER_INFORMATION1]
			  ,a.[PER_INFORMATION2]
			  ,a.[PER_INFORMATION3]
			  ,a.[PER_INFORMATION4]
			  ,a.[PER_INFORMATION5]
			  ,a.[PER_INFORMATION6]
			  ,a.[PER_INFORMATION7]
			  ,a.[PER_INFORMATION8]
			  ,a.[PER_INFORMATION9]
			  ,a.[PER_INFORMATION10]
			  ,a.[PER_INFORMATION11]
			  ,a.[PER_INFORMATION12]
			  ,a.[PER_INFORMATION13]
			  ,a.[PER_INFORMATION14]
			  ,a.[PER_INFORMATION15]
			  ,a.[PER_INFORMATION16]
			  ,a.[PER_INFORMATION17]
			  ,a.[PER_INFORMATION18]
			  ,a.[PER_INFORMATION19]
			  ,a.[PER_INFORMATION20]
			  ,a.[PER_INFORMATION21]
			  ,a.[PER_INFORMATION22]
			  ,a.[PER_INFORMATION23]
			  ,a.[PER_INFORMATION24]
			  ,a.[PER_INFORMATION25]
			  ,a.[PER_INFORMATION26]
			  ,a.[PER_INFORMATION27]
			  ,a.[PER_INFORMATION28]
			  ,a.[PER_INFORMATION29]
			  ,a.[PER_INFORMATION30]
			  ,a.[OBJECT_VERSION_NUMBER]
			  ,a.[DATE_OF_DEATH]
			  ,a.[ORIGINAL_DATE_OF_HIRE]
			  ,a.[TOWN_OF_BIRTH]
			  ,a.[REGION_OF_BIRTH]
			  ,a.[COUNTRY_OF_BIRTH]
			  ,a.[GLOBAL_PERSON_ID]
			  ,a.[COORD_BEN_MED_PL_NAME]
			  ,a.[COORD_BEN_MED_INSR_CRR_NAME]
			  ,a.[COORD_BEN_MED_INSR_CRR_IDENT]
			  ,a.[COORD_BEN_MED_EXT_ER]
			  ,a.[COORD_BEN_MED_CVG_STRT_DT]
			  ,a.[COORD_BEN_MED_CVG_END_DT]
			  ,a.[PARTY_ID]
			  ,a.[NPW_NUMBER]
			  ,a.[CURRENT_NPW_FLAG]
			  ,a.[GLOBAL_NAME]
			  ,a.[LOCAL_NAME]
			  ,a.[Fingerprint]
		FROM (
			MERGE Oracle.PER_ALL_PEOPLE_F b
			USING (SELECT * FROM #people) a
			ON a.PERSON_ID = b.PERSON_ID 
				AND ISNULL(a.EFFECTIVE_START_DATE,'9999-12-31') = ISNULL(b.EFFECTIVE_START_DATE,'9999-12-31')
				AND ISNULL(a.EFFECTIVE_END_DATE,'9999-12-31') = ISNULL(b.EFFECTIVE_END_DATE,'9999-12-31') 
				AND b.CurrentRecord = 1 --swap with business key of table
			WHEN NOT MATCHED --BY TARGET 
			THEN INSERT (
					[PERSON_ID]
				  ,[EFFECTIVE_START_DATE]
				  ,[EFFECTIVE_END_DATE]
				  ,[BUSINESS_GROUP_ID]
				  ,[PERSON_TYPE_ID]
				  ,[LAST_NAME]
				  ,[START_DATE]
				  ,[APPLICANT_NUMBER]
				  ,[BACKGROUND_CHECK_STATUS]
				  ,[BACKGROUND_DATE_CHECK]
				  ,[BLOOD_TYPE]
				  ,[COMMENT_ID]
				  ,[CORRESPONDENCE_LANGUAGE]
				  ,[CURRENT_APPLICANT_FLAG]
				  ,[CURRENT_EMP_OR_APL_FLAG]
				  ,[CURRENT_EMPLOYEE_FLAG]
				  ,[DATE_EMPLOYEE_DATA_VERIFIED]
				  ,[DATE_OF_BIRTH]
				  ,[EMAIL_ADDRESS]
				  ,[EMPLOYEE_NUMBER]
				  ,[EXPENSE_CHECK_SEND_TO_ADDRESS]
				  ,[FAST_PATH_EMPLOYEE]
				  ,[FIRST_NAME]
				  ,[FTE_CAPACITY]
				  ,[FULL_NAME]
				  ,[HOLD_APPLICANT_DATE_UNTIL]
				  ,[HONORS]
				  ,[INTERNAL_LOCATION]
				  ,[KNOWN_AS]
				  ,[LAST_MEDICAL_TEST_BY]
				  ,[LAST_MEDICAL_TEST_DATE]
				  ,[MAILSTOP]
				  ,[MARITAL_STATUS]
				  ,[MIDDLE_NAMES]
				  ,[NATIONALITY]
				  ,[NATIONAL_IDENTIFIER]
				  ,[OFFICE_NUMBER]
				  ,[ON_MILITARY_SERVICE]
				  ,[ORDER_NAME]
				  ,[PRE_NAME_ADJUNCT]
				  ,[PREVIOUS_LAST_NAME]
				  ,[PROJECTED_START_DATE]
				  ,[REHIRE_AUTHORIZOR]
				  ,[REHIRE_REASON]
				  ,[REHIRE_RECOMMENDATION]
				  ,[RESUME_EXISTS]
				  ,[RESUME_LAST_UPDATED]
				  ,[REGISTERED_DISABLED_FLAG]
				  ,[SECOND_PASSPORT_EXISTS]
				  ,[SEX]
				  ,[STUDENT_STATUS]
				  ,[SUFFIX]
				  ,[TITLE]
				  ,[VENDOR_ID]
				  ,[WORK_SCHEDULE]
				  ,[WORK_TELEPHONE]
				  ,[COORD_BEN_MED_PLN_NO]
				  ,[COORD_BEN_NO_CVG_FLAG]
				  ,[DPDNT_ADOPTION_DATE]
				  ,[DPDNT_VLNTRY_SVCE_FLAG]
				  ,[RECEIPT_OF_DEATH_CERT_DATE]
				  ,[USES_TOBACCO_FLAG]
				  ,[BENEFIT_GROUP_ID]
				  ,[REQUEST_ID]
				  ,[PROGRAM_APPLICATION_ID]
				  ,[PROGRAM_ID]
				  ,[PROGRAM_UPDATE_DATE]
				  ,[ATTRIBUTE_CATEGORY]
				  ,[ATTRIBUTE1]
				  ,[ATTRIBUTE2]
				  ,[ATTRIBUTE3]
				  ,[ATTRIBUTE4]
				  ,[ATTRIBUTE5]
				  ,[ATTRIBUTE6]
				  ,[ATTRIBUTE7]
				  ,[ATTRIBUTE8]
				  ,[ATTRIBUTE9]
				  ,[ATTRIBUTE10]
				  ,[ATTRIBUTE11]
				  ,[ATTRIBUTE12]
				  ,[ATTRIBUTE13]
				  ,[ATTRIBUTE14]
				  ,[ATTRIBUTE15]
				  ,[ATTRIBUTE16]
				  ,[ATTRIBUTE17]
				  ,[ATTRIBUTE18]
				  ,[ATTRIBUTE19]
				  ,[ATTRIBUTE20]
				  ,[ATTRIBUTE21]
				  ,[ATTRIBUTE22]
				  ,[ATTRIBUTE23]
				  ,[ATTRIBUTE24]
				  ,[ATTRIBUTE25]
				  ,[ATTRIBUTE26]
				  ,[ATTRIBUTE27]
				  ,[ATTRIBUTE28]
				  ,[ATTRIBUTE29]
				  ,[ATTRIBUTE30]
				  ,[LAST_UPDATE_DATE]
				  ,[LAST_UPDATED_BY]
				  ,[LAST_UPDATE_LOGIN]
				  ,[CREATED_BY]
				  ,[CREATION_DATE]
				  ,[PER_INFORMATION_CATEGORY]
				  ,[PER_INFORMATION1]
				  ,[PER_INFORMATION2]
				  ,[PER_INFORMATION3]
				  ,[PER_INFORMATION4]
				  ,[PER_INFORMATION5]
				  ,[PER_INFORMATION6]
				  ,[PER_INFORMATION7]
				  ,[PER_INFORMATION8]
				  ,[PER_INFORMATION9]
				  ,[PER_INFORMATION10]
				  ,[PER_INFORMATION11]
				  ,[PER_INFORMATION12]
				  ,[PER_INFORMATION13]
				  ,[PER_INFORMATION14]
				  ,[PER_INFORMATION15]
				  ,[PER_INFORMATION16]
				  ,[PER_INFORMATION17]
				  ,[PER_INFORMATION18]
				  ,[PER_INFORMATION19]
				  ,[PER_INFORMATION20]
				  ,[PER_INFORMATION21]
				  ,[PER_INFORMATION22]
				  ,[PER_INFORMATION23]
				  ,[PER_INFORMATION24]
				  ,[PER_INFORMATION25]
				  ,[PER_INFORMATION26]
				  ,[PER_INFORMATION27]
				  ,[PER_INFORMATION28]
				  ,[PER_INFORMATION29]
				  ,[PER_INFORMATION30]
				  ,[OBJECT_VERSION_NUMBER]
				  ,[DATE_OF_DEATH]
				  ,[ORIGINAL_DATE_OF_HIRE]
				  ,[TOWN_OF_BIRTH]
				  ,[REGION_OF_BIRTH]
				  ,[COUNTRY_OF_BIRTH]
				  ,[GLOBAL_PERSON_ID]
				  ,[COORD_BEN_MED_PL_NAME]
				  ,[COORD_BEN_MED_INSR_CRR_NAME]
				  ,[COORD_BEN_MED_INSR_CRR_IDENT]
				  ,[COORD_BEN_MED_EXT_ER]
				  ,[COORD_BEN_MED_CVG_STRT_DT]
				  ,[COORD_BEN_MED_CVG_END_DT]
				  ,[PARTY_ID]
				  ,[NPW_NUMBER]
				  ,[CURRENT_NPW_FLAG]
				  ,[GLOBAL_NAME]
				  ,[LOCAL_NAME]
				  ,[Fingerprint]
				)
				VALUES (
					a.[PERSON_ID]
				  ,a.[EFFECTIVE_START_DATE]
				  ,a.[EFFECTIVE_END_DATE]
				  ,a.[BUSINESS_GROUP_ID]
				  ,a.[PERSON_TYPE_ID]
				  ,a.[LAST_NAME]
				  ,a.[START_DATE]
				  ,a.[APPLICANT_NUMBER]
				  ,a.[BACKGROUND_CHECK_STATUS]
				  ,a.[BACKGROUND_DATE_CHECK]
				  ,a.[BLOOD_TYPE]
				  ,a.[COMMENT_ID]
				  ,a.[CORRESPONDENCE_LANGUAGE]
				  ,a.[CURRENT_APPLICANT_FLAG]
				  ,a.[CURRENT_EMP_OR_APL_FLAG]
				  ,a.[CURRENT_EMPLOYEE_FLAG]
				  ,a.[DATE_EMPLOYEE_DATA_VERIFIED]
				  ,a.[DATE_OF_BIRTH]
				  ,a.[EMAIL_ADDRESS]
				  ,a.[EMPLOYEE_NUMBER]
				  ,a.[EXPENSE_CHECK_SEND_TO_ADDRESS]
				  ,a.[FAST_PATH_EMPLOYEE]
				  ,a.[FIRST_NAME]
				  ,a.[FTE_CAPACITY]
				  ,a.[FULL_NAME]
				  ,a.[HOLD_APPLICANT_DATE_UNTIL]
				  ,a.[HONORS]
				  ,a.[INTERNAL_LOCATION]
				  ,a.[KNOWN_AS]
				  ,a.[LAST_MEDICAL_TEST_BY]
				  ,a.[LAST_MEDICAL_TEST_DATE]
				  ,a.[MAILSTOP]
				  ,a.[MARITAL_STATUS]
				  ,a.[MIDDLE_NAMES]
				  ,a.[NATIONALITY]
				  ,a.[NATIONAL_IDENTIFIER]
				  ,a.[OFFICE_NUMBER]
				  ,a.[ON_MILITARY_SERVICE]
				  ,a.[ORDER_NAME]
				  ,a.[PRE_NAME_ADJUNCT]
				  ,a.[PREVIOUS_LAST_NAME]
				  ,a.[PROJECTED_START_DATE]
				  ,a.[REHIRE_AUTHORIZOR]
				  ,a.[REHIRE_REASON]
				  ,a.[REHIRE_RECOMMENDATION]
				  ,a.[RESUME_EXISTS]
				  ,a.[RESUME_LAST_UPDATED]
				  ,a.[REGISTERED_DISABLED_FLAG]
				  ,a.[SECOND_PASSPORT_EXISTS]
				  ,a.[SEX]
				  ,a.[STUDENT_STATUS]
				  ,a.[SUFFIX]
				  ,a.[TITLE]
				  ,a.[VENDOR_ID]
				  ,a.[WORK_SCHEDULE]
				  ,a.[WORK_TELEPHONE]
				  ,a.[COORD_BEN_MED_PLN_NO]
				  ,a.[COORD_BEN_NO_CVG_FLAG]
				  ,a.[DPDNT_ADOPTION_DATE]
				  ,a.[DPDNT_VLNTRY_SVCE_FLAG]
				  ,a.[RECEIPT_OF_DEATH_CERT_DATE]
				  ,a.[USES_TOBACCO_FLAG]
				  ,a.[BENEFIT_GROUP_ID]
				  ,a.[REQUEST_ID]
				  ,a.[PROGRAM_APPLICATION_ID]
				  ,a.[PROGRAM_ID]
				  ,a.[PROGRAM_UPDATE_DATE]
				  ,a.[ATTRIBUTE_CATEGORY]
				  ,a.[ATTRIBUTE1]
				  ,a.[ATTRIBUTE2]
				  ,a.[ATTRIBUTE3]
				  ,a.[ATTRIBUTE4]
				  ,a.[ATTRIBUTE5]
				  ,a.[ATTRIBUTE6]
				  ,a.[ATTRIBUTE7]
				  ,a.[ATTRIBUTE8]
				  ,a.[ATTRIBUTE9]
				  ,a.[ATTRIBUTE10]
				  ,a.[ATTRIBUTE11]
				  ,a.[ATTRIBUTE12]
				  ,a.[ATTRIBUTE13]
				  ,a.[ATTRIBUTE14]
				  ,a.[ATTRIBUTE15]
				  ,a.[ATTRIBUTE16]
				  ,a.[ATTRIBUTE17]
				  ,a.[ATTRIBUTE18]
				  ,a.[ATTRIBUTE19]
				  ,a.[ATTRIBUTE20]
				  ,a.[ATTRIBUTE21]
				  ,a.[ATTRIBUTE22]
				  ,a.[ATTRIBUTE23]
				  ,a.[ATTRIBUTE24]
				  ,a.[ATTRIBUTE25]
				  ,a.[ATTRIBUTE26]
				  ,a.[ATTRIBUTE27]
				  ,a.[ATTRIBUTE28]
				  ,a.[ATTRIBUTE29]
				  ,a.[ATTRIBUTE30]
				  ,a.[LAST_UPDATE_DATE]
				  ,a.[LAST_UPDATED_BY]
				  ,a.[LAST_UPDATE_LOGIN]
				  ,a.[CREATED_BY]
				  ,a.[CREATION_DATE]
				  ,a.[PER_INFORMATION_CATEGORY]
				  ,a.[PER_INFORMATION1]
				  ,a.[PER_INFORMATION2]
				  ,a.[PER_INFORMATION3]
				  ,a.[PER_INFORMATION4]
				  ,a.[PER_INFORMATION5]
				  ,a.[PER_INFORMATION6]
				  ,a.[PER_INFORMATION7]
				  ,a.[PER_INFORMATION8]
				  ,a.[PER_INFORMATION9]
				  ,a.[PER_INFORMATION10]
				  ,a.[PER_INFORMATION11]
				  ,a.[PER_INFORMATION12]
				  ,a.[PER_INFORMATION13]
				  ,a.[PER_INFORMATION14]
				  ,a.[PER_INFORMATION15]
				  ,a.[PER_INFORMATION16]
				  ,a.[PER_INFORMATION17]
				  ,a.[PER_INFORMATION18]
				  ,a.[PER_INFORMATION19]
				  ,a.[PER_INFORMATION20]
				  ,a.[PER_INFORMATION21]
				  ,a.[PER_INFORMATION22]
				  ,a.[PER_INFORMATION23]
				  ,a.[PER_INFORMATION24]
				  ,a.[PER_INFORMATION25]
				  ,a.[PER_INFORMATION26]
				  ,a.[PER_INFORMATION27]
				  ,a.[PER_INFORMATION28]
				  ,a.[PER_INFORMATION29]
				  ,a.[PER_INFORMATION30]
				  ,a.[OBJECT_VERSION_NUMBER]
				  ,a.[DATE_OF_DEATH]
				  ,a.[ORIGINAL_DATE_OF_HIRE]
				  ,a.[TOWN_OF_BIRTH]
				  ,a.[REGION_OF_BIRTH]
				  ,a.[COUNTRY_OF_BIRTH]
				  ,a.[GLOBAL_PERSON_ID]
				  ,a.[COORD_BEN_MED_PL_NAME]
				  ,a.[COORD_BEN_MED_INSR_CRR_NAME]
				  ,a.[COORD_BEN_MED_INSR_CRR_IDENT]
				  ,a.[COORD_BEN_MED_EXT_ER]
				  ,a.[COORD_BEN_MED_CVG_STRT_DT]
				  ,a.[COORD_BEN_MED_CVG_END_DT]
				  ,a.[PARTY_ID]
				  ,a.[NPW_NUMBER]
				  ,a.[CURRENT_NPW_FLAG]
				  ,a.[GLOBAL_NAME]
				  ,a.[LOCAL_NAME]
				  ,a.[Fingerprint]
				)
				--Existing records that have changed are expired
				WHEN MATCHED AND a.Fingerprint<>b.Fingerprint
				THEN UPDATE SET b.EndDate=GETDATE()
					,b.CurrentRecord=0
				OUTPUT 
						a.[PERSON_ID]
					  ,a.[EFFECTIVE_START_DATE]
					  ,a.[EFFECTIVE_END_DATE]
					  ,a.[BUSINESS_GROUP_ID]
					  ,a.[PERSON_TYPE_ID]
					  ,a.[LAST_NAME]
					  ,a.[START_DATE]
					  ,a.[APPLICANT_NUMBER]
					  ,a.[BACKGROUND_CHECK_STATUS]
					  ,a.[BACKGROUND_DATE_CHECK]
					  ,a.[BLOOD_TYPE]
					  ,a.[COMMENT_ID]
					  ,a.[CORRESPONDENCE_LANGUAGE]
					  ,a.[CURRENT_APPLICANT_FLAG]
					  ,a.[CURRENT_EMP_OR_APL_FLAG]
					  ,a.[CURRENT_EMPLOYEE_FLAG]
					  ,a.[DATE_EMPLOYEE_DATA_VERIFIED]
					  ,a.[DATE_OF_BIRTH]
					  ,a.[EMAIL_ADDRESS]
					  ,a.[EMPLOYEE_NUMBER]
					  ,a.[EXPENSE_CHECK_SEND_TO_ADDRESS]
					  ,a.[FAST_PATH_EMPLOYEE]
					  ,a.[FIRST_NAME]
					  ,a.[FTE_CAPACITY]
					  ,a.[FULL_NAME]
					  ,a.[HOLD_APPLICANT_DATE_UNTIL]
					  ,a.[HONORS]
					  ,a.[INTERNAL_LOCATION]
					  ,a.[KNOWN_AS]
					  ,a.[LAST_MEDICAL_TEST_BY]
					  ,a.[LAST_MEDICAL_TEST_DATE]
					  ,a.[MAILSTOP]
					  ,a.[MARITAL_STATUS]
					  ,a.[MIDDLE_NAMES]
					  ,a.[NATIONALITY]
					  ,a.[NATIONAL_IDENTIFIER]
					  ,a.[OFFICE_NUMBER]
					  ,a.[ON_MILITARY_SERVICE]
					  ,a.[ORDER_NAME]
					  ,a.[PRE_NAME_ADJUNCT]
					  ,a.[PREVIOUS_LAST_NAME]
					  ,a.[PROJECTED_START_DATE]
					  ,a.[REHIRE_AUTHORIZOR]
					  ,a.[REHIRE_REASON]
					  ,a.[REHIRE_RECOMMENDATION]
					  ,a.[RESUME_EXISTS]
					  ,a.[RESUME_LAST_UPDATED]
					  ,a.[REGISTERED_DISABLED_FLAG]
					  ,a.[SECOND_PASSPORT_EXISTS]
					  ,a.[SEX]
					  ,a.[STUDENT_STATUS]
					  ,a.[SUFFIX]
					  ,a.[TITLE]
					  ,a.[VENDOR_ID]
					  ,a.[WORK_SCHEDULE]
					  ,a.[WORK_TELEPHONE]
					  ,a.[COORD_BEN_MED_PLN_NO]
					  ,a.[COORD_BEN_NO_CVG_FLAG]
					  ,a.[DPDNT_ADOPTION_DATE]
					  ,a.[DPDNT_VLNTRY_SVCE_FLAG]
					  ,a.[RECEIPT_OF_DEATH_CERT_DATE]
					  ,a.[USES_TOBACCO_FLAG]
					  ,a.[BENEFIT_GROUP_ID]
					  ,a.[REQUEST_ID]
					  ,a.[PROGRAM_APPLICATION_ID]
					  ,a.[PROGRAM_ID]
					  ,a.[PROGRAM_UPDATE_DATE]
					  ,a.[ATTRIBUTE_CATEGORY]
					  ,a.[ATTRIBUTE1]
					  ,a.[ATTRIBUTE2]
					  ,a.[ATTRIBUTE3]
					  ,a.[ATTRIBUTE4]
					  ,a.[ATTRIBUTE5]
					  ,a.[ATTRIBUTE6]
					  ,a.[ATTRIBUTE7]
					  ,a.[ATTRIBUTE8]
					  ,a.[ATTRIBUTE9]
					  ,a.[ATTRIBUTE10]
					  ,a.[ATTRIBUTE11]
					  ,a.[ATTRIBUTE12]
					  ,a.[ATTRIBUTE13]
					  ,a.[ATTRIBUTE14]
					  ,a.[ATTRIBUTE15]
					  ,a.[ATTRIBUTE16]
					  ,a.[ATTRIBUTE17]
					  ,a.[ATTRIBUTE18]
					  ,a.[ATTRIBUTE19]
					  ,a.[ATTRIBUTE20]
					  ,a.[ATTRIBUTE21]
					  ,a.[ATTRIBUTE22]
					  ,a.[ATTRIBUTE23]
					  ,a.[ATTRIBUTE24]
					  ,a.[ATTRIBUTE25]
					  ,a.[ATTRIBUTE26]
					  ,a.[ATTRIBUTE27]
					  ,a.[ATTRIBUTE28]
					  ,a.[ATTRIBUTE29]
					  ,a.[ATTRIBUTE30]
					  ,a.[LAST_UPDATE_DATE]
					  ,a.[LAST_UPDATED_BY]
					  ,a.[LAST_UPDATE_LOGIN]
					  ,a.[CREATED_BY]
					  ,a.[CREATION_DATE]
					  ,a.[PER_INFORMATION_CATEGORY]
					  ,a.[PER_INFORMATION1]
					  ,a.[PER_INFORMATION2]
					  ,a.[PER_INFORMATION3]
					  ,a.[PER_INFORMATION4]
					  ,a.[PER_INFORMATION5]
					  ,a.[PER_INFORMATION6]
					  ,a.[PER_INFORMATION7]
					  ,a.[PER_INFORMATION8]
					  ,a.[PER_INFORMATION9]
					  ,a.[PER_INFORMATION10]
					  ,a.[PER_INFORMATION11]
					  ,a.[PER_INFORMATION12]
					  ,a.[PER_INFORMATION13]
					  ,a.[PER_INFORMATION14]
					  ,a.[PER_INFORMATION15]
					  ,a.[PER_INFORMATION16]
					  ,a.[PER_INFORMATION17]
					  ,a.[PER_INFORMATION18]
					  ,a.[PER_INFORMATION19]
					  ,a.[PER_INFORMATION20]
					  ,a.[PER_INFORMATION21]
					  ,a.[PER_INFORMATION22]
					  ,a.[PER_INFORMATION23]
					  ,a.[PER_INFORMATION24]
					  ,a.[PER_INFORMATION25]
					  ,a.[PER_INFORMATION26]
					  ,a.[PER_INFORMATION27]
					  ,a.[PER_INFORMATION28]
					  ,a.[PER_INFORMATION29]
					  ,a.[PER_INFORMATION30]
					  ,a.[OBJECT_VERSION_NUMBER]
					  ,a.[DATE_OF_DEATH]
					  ,a.[ORIGINAL_DATE_OF_HIRE]
					  ,a.[TOWN_OF_BIRTH]
					  ,a.[REGION_OF_BIRTH]
					  ,a.[COUNTRY_OF_BIRTH]
					  ,a.[GLOBAL_PERSON_ID]
					  ,a.[COORD_BEN_MED_PL_NAME]
					  ,a.[COORD_BEN_MED_INSR_CRR_NAME]
					  ,a.[COORD_BEN_MED_INSR_CRR_IDENT]
					  ,a.[COORD_BEN_MED_EXT_ER]
					  ,a.[COORD_BEN_MED_CVG_STRT_DT]
					  ,a.[COORD_BEN_MED_CVG_END_DT]
					  ,a.[PARTY_ID]
					  ,a.[NPW_NUMBER]
					  ,a.[CURRENT_NPW_FLAG]
					  ,a.[GLOBAL_NAME]
					  ,a.[LOCAL_NAME]
					  ,a.[Fingerprint]
					  ,$Action AS Action
			) a
			WHERE Action = 'Update'
			;

	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Done', GETDATE()
	
	DROP TABLE #people

END


GO
