USE [Operations]
GO
/****** Object:  StoredProcedure [Oracle].[Merge_INV_SECONDARY_INVENTORIES]    Script Date: 7/10/2025 11:43:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Oracle].[Merge_INV_SECONDARY_INVENTORIES] AS BEGIN

	CREATE TABLE #secondaryInventories (
		[SECONDARY_INVENTORY_NAME] [nvarchar](10) NOT NULL,
		[ORGANIZATION_ID] [float] NOT NULL,
		[LAST_UPDATE_DATE] [datetime2](7) NOT NULL,
		[LAST_UPDATED_BY] [float] NOT NULL,
		[CREATION_DATE] [datetime2](7) NOT NULL,
		[CREATED_BY] [float] NOT NULL,
		[LAST_UPDATE_LOGIN] [float] NULL,
		[DESCRIPTION] [nvarchar](50) NULL,
		[DISABLE_DATE] [datetime2](7) NULL,
		[INVENTORY_ATP_CODE] [float] NOT NULL,
		[AVAILABILITY_TYPE] [float] NOT NULL,
		[RESERVABLE_TYPE] [float] NOT NULL,
		[LOCATOR_TYPE] [float] NULL,
		[PICKING_ORDER] [float] NULL,
		[MATERIAL_ACCOUNT] [float] NULL,
		[MATERIAL_OVERHEAD_ACCOUNT] [float] NULL,
		[RESOURCE_ACCOUNT] [float] NULL,
		[OVERHEAD_ACCOUNT] [float] NULL,
		[OUTSIDE_PROCESSING_ACCOUNT] [float] NULL,
		[QUANTITY_TRACKED] [float] NOT NULL,
		[ASSET_INVENTORY] [float] NOT NULL,
		[SOURCE_TYPE] [float] NULL,
		[SOURCE_SUBINVENTORY] [nvarchar](10) NULL,
		[SOURCE_ORGANIZATION_ID] [float] NULL,
		[REQUISITION_APPROVAL_TYPE] [float] NULL,
		[EXPENSE_ACCOUNT] [float] NULL,
		[ENCUMBRANCE_ACCOUNT] [float] NULL,
		[ATTRIBUTE_CATEGORY] [nvarchar](30) NULL,
		[ATTRIBUTE1] [nvarchar](150) NULL,
		[ATTRIBUTE2] [nvarchar](150) NULL,
		[ATTRIBUTE3] [nvarchar](150) NULL,
		[ATTRIBUTE4] [nvarchar](150) NULL,
		[ATTRIBUTE5] [nvarchar](150) NULL,
		[ATTRIBUTE6] [nvarchar](150) NULL,
		[ATTRIBUTE7] [nvarchar](150) NULL,
		[ATTRIBUTE8] [nvarchar](150) NULL,
		[ATTRIBUTE9] [nvarchar](150) NULL,
		[ATTRIBUTE10] [nvarchar](150) NULL,
		[ATTRIBUTE11] [nvarchar](150) NULL,
		[ATTRIBUTE12] [nvarchar](150) NULL,
		[ATTRIBUTE13] [nvarchar](150) NULL,
		[ATTRIBUTE14] [nvarchar](150) NULL,
		[ATTRIBUTE15] [nvarchar](150) NULL,
		[REQUEST_ID] [float] NULL,
		[PROGRAM_APPLICATION_ID] [float] NULL,
		[PROGRAM_ID] [float] NULL,
		[PROGRAM_UPDATE_DATE] [datetime2](7) NULL,
		[PREPROCESSING_LEAD_TIME] [float] NULL,
		[PROCESSING_LEAD_TIME] [float] NULL,
		[POSTPROCESSING_LEAD_TIME] [float] NULL,
		[DEMAND_CLASS] [nvarchar](30) NULL,
		[PROJECT_ID] [numeric](15, 0) NULL,
		[TASK_ID] [numeric](15, 0) NULL,
		[SUBINVENTORY_USAGE] [float] NULL,
		[NOTIFY_LIST_ID] [float] NULL,
		[PICK_UOM_CODE] [nvarchar](3) NULL,
		[DEPRECIABLE_FLAG] [float] NULL,
		[LOCATION_ID] [numeric](15, 0) NULL,
		[DEFAULT_COST_GROUP_ID] [float] NULL,
		[STATUS_ID] [float] NULL,
		[DEFAULT_LOC_STATUS_ID] [float] NULL,
		[LPN_CONTROLLED_FLAG] [float] NULL,
		[PICK_METHODOLOGY] [float] NULL,
		[CARTONIZATION_FLAG] [numeric](30, 0) NULL,
		[DROPPING_ORDER] [float] NULL,
		[SUBINVENTORY_TYPE] [float] NULL,
		[PLANNING_LEVEL] [numeric](22, 0) NULL,
		[DEFAULT_COUNT_TYPE_CODE] [numeric](22, 0) NULL,
		[ENABLE_BULK_PICK] [nvarchar](1) NULL,
		[ENABLE_LOCATOR_ALIAS] [nvarchar](1) NULL,
		[ENFORCE_ALIAS_UNIQUENESS] [nvarchar](1) NULL,
		[ENABLE_OPP_CYC_COUNT] [nvarchar](1) NULL,
		[OPP_CYC_COUNT_DAYS] [numeric](5, 0) NULL,
		[OPP_CYC_COUNT_HEADER_ID] [float] NULL,
		[OPP_CYC_COUNT_QUANTITY] [float] NULL,
		[Fingerprint] [VARCHAR](32) NOT NULL
	)


	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Oracle Download', GETDATE()

	INSERT INTO #secondaryInventories
	SELECT 
		   [SECONDARY_INVENTORY_NAME]
		  ,[ORGANIZATION_ID]
		  ,[LAST_UPDATE_DATE]
		  ,[LAST_UPDATED_BY]
		  ,[CREATION_DATE]
		  ,[CREATED_BY]
		  ,[LAST_UPDATE_LOGIN]
		  ,[DESCRIPTION]
		  ,[DISABLE_DATE]
		  ,[INVENTORY_ATP_CODE]
		  ,[AVAILABILITY_TYPE]
		  ,[RESERVABLE_TYPE]
		  ,[LOCATOR_TYPE]
		  ,[PICKING_ORDER]
		  ,[MATERIAL_ACCOUNT]
		  ,[MATERIAL_OVERHEAD_ACCOUNT]
		  ,[RESOURCE_ACCOUNT]
		  ,[OVERHEAD_ACCOUNT]
		  ,[OUTSIDE_PROCESSING_ACCOUNT]
		  ,[QUANTITY_TRACKED]
		  ,[ASSET_INVENTORY]
		  ,[SOURCE_TYPE]
		  ,[SOURCE_SUBINVENTORY]
		  ,[SOURCE_ORGANIZATION_ID]
		  ,[REQUISITION_APPROVAL_TYPE]
		  ,[EXPENSE_ACCOUNT]
		  ,[ENCUMBRANCE_ACCOUNT]
		  ,[ATTRIBUTE_CATEGORY]
		  ,[ATTRIBUTE1]
		  ,[ATTRIBUTE2]
		  ,[ATTRIBUTE3]
		  ,[ATTRIBUTE4]
		  ,[ATTRIBUTE5]
		  ,[ATTRIBUTE6]
		  ,[ATTRIBUTE7]
		  ,[ATTRIBUTE8]
		  ,[ATTRIBUTE9]
		  ,[ATTRIBUTE10]
		  ,[ATTRIBUTE11]
		  ,[ATTRIBUTE12]
		  ,[ATTRIBUTE13]
		  ,[ATTRIBUTE14]
		  ,[ATTRIBUTE15]
		  ,[REQUEST_ID]
		  ,[PROGRAM_APPLICATION_ID]
		  ,[PROGRAM_ID]
		  ,[PROGRAM_UPDATE_DATE]
		  ,[PREPROCESSING_LEAD_TIME]
		  ,[PROCESSING_LEAD_TIME]
		  ,[POSTPROCESSING_LEAD_TIME]
		  ,[DEMAND_CLASS]
		  ,[PROJECT_ID]
		  ,[TASK_ID]
		  ,[SUBINVENTORY_USAGE]
		  ,[NOTIFY_LIST_ID]
		  ,[PICK_UOM_CODE]
		  ,[DEPRECIABLE_FLAG]
		  ,[LOCATION_ID]
		  ,[DEFAULT_COST_GROUP_ID]
		  ,[STATUS_ID]
		  ,[DEFAULT_LOC_STATUS_ID]
		  ,[LPN_CONTROLLED_FLAG]
		  ,[PICK_METHODOLOGY]
		  ,[CARTONIZATION_FLAG]
		  ,[DROPPING_ORDER]
		  ,[SUBINVENTORY_TYPE]
		  ,[PLANNING_LEVEL]
		  ,[DEFAULT_COUNT_TYPE_CODE]
		  ,[ENABLE_BULK_PICK]
		  ,[ENABLE_LOCATOR_ALIAS]
		  ,[ENFORCE_ALIAS_UNIQUENESS]
		  ,[ENABLE_OPP_CYC_COUNT]
		  ,[OPP_CYC_COUNT_DAYS]
		  ,[OPP_CYC_COUNT_HEADER_ID]
		  ,[OPP_CYC_COUNT_QUANTITY]
		  ,'XXXXXXXX' AS Fingerprint
	FROM OPENQUERY(PROD,'SELECT * FROM MTL_SECONDARY_INVENTORIES')

	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Fingerprint', GETDATE()

		/*
			DECLARE @columnList VARCHAR(MAX) = dbo.getHashField ('INV_MTL_SECONDARY_INVENTORIES','Oracle') SELECT @columnList
		*/
		UPDATE #secondaryInventories
		SET Fingerprint = 
			SUBSTRING(LOWER(CONVERT(VARCHAR(32),HASHBYTES('MD5',
				--replace @columnList result here
					   CAST(ISNULL(SECONDARY_INVENTORY_NAME,'') AS VARCHAR(10)) +  CAST(ISNULL(ORGANIZATION_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(LAST_UPDATE_DATE,'') AS VARCHAR(100)) +  CAST(ISNULL(LAST_UPDATED_BY,'0') AS VARCHAR(100)) +  CAST(ISNULL(CREATION_DATE,'') AS VARCHAR(100)) +  CAST(ISNULL(CREATED_BY,'0') AS VARCHAR(100)) +  CAST(ISNULL(LAST_UPDATE_LOGIN,'0') AS VARCHAR(100)) +  CAST(ISNULL(DESCRIPTION,'') AS VARCHAR(50)) +  CAST(ISNULL(DISABLE_DATE,'') AS VARCHAR(100)) +  CAST(ISNULL(INVENTORY_ATP_CODE,'0') AS VARCHAR(100)) +  CAST(ISNULL(AVAILABILITY_TYPE,'0') AS VARCHAR(100)) +  CAST(ISNULL(RESERVABLE_TYPE,'0') AS VARCHAR(100)) +  CAST(ISNULL(LOCATOR_TYPE,'0') AS VARCHAR(100)) +  CAST(ISNULL(PICKING_ORDER,'0') AS VARCHAR(100)) +  CAST(ISNULL(MATERIAL_ACCOUNT,'0') AS VARCHAR(100)) +  CAST(ISNULL(MATERIAL_OVERHEAD_ACCOUNT,'0') AS VARCHAR(100)) +  CAST(ISNULL(RESOURCE_ACCOUNT,'0') AS VARCHAR(100)) +  CAST(ISNULL(OVERHEAD_ACCOUNT,'0') AS VARCHAR(100)) +  CAST(ISNULL(OUTSIDE_PROCESSING_ACCOUNT,'0') AS VARCHAR(100)) +  CAST(ISNULL(QUANTITY_TRACKED,'0') AS VARCHAR(100)) +  CAST(ISNULL(ASSET_INVENTORY,'0') AS VARCHAR(100)) +  CAST(ISNULL(SOURCE_TYPE,'0') AS VARCHAR(100)) +  CAST(ISNULL(SOURCE_SUBINVENTORY,'') AS VARCHAR(10)) +  CAST(ISNULL(SOURCE_ORGANIZATION_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(REQUISITION_APPROVAL_TYPE,'0') AS VARCHAR(100)) +  CAST(ISNULL(EXPENSE_ACCOUNT,'0') AS VARCHAR(100)) +  CAST(ISNULL(ENCUMBRANCE_ACCOUNT,'0') AS VARCHAR(100)) +  CAST(ISNULL(ATTRIBUTE_CATEGORY,'') AS VARCHAR(30)) +  CAST(ISNULL(ATTRIBUTE1,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE2,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE3,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE4,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE5,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE6,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE7,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE8,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE9,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE10,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE11,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE12,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE13,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE14,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE15,'') AS VARCHAR(150)) +  CAST(ISNULL(REQUEST_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(PROGRAM_APPLICATION_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(PROGRAM_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(PROGRAM_UPDATE_DATE,'') AS VARCHAR(100)) +  CAST(ISNULL(PREPROCESSING_LEAD_TIME,'0') AS VARCHAR(100)) +  CAST(ISNULL(PROCESSING_LEAD_TIME,'0') AS VARCHAR(100)) +  CAST(ISNULL(POSTPROCESSING_LEAD_TIME,'0') AS VARCHAR(100)) +  CAST(ISNULL(DEMAND_CLASS,'') AS VARCHAR(30)) +  CAST(ISNULL(PROJECT_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(TASK_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(SUBINVENTORY_USAGE,'0') AS VARCHAR(100)) +  CAST(ISNULL(NOTIFY_LIST_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(PICK_UOM_CODE,'') AS VARCHAR(3)) +  CAST(ISNULL(DEPRECIABLE_FLAG,'0') AS VARCHAR(100)) +  CAST(ISNULL(LOCATION_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(DEFAULT_COST_GROUP_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(STATUS_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(DEFAULT_LOC_STATUS_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(LPN_CONTROLLED_FLAG,'0') AS VARCHAR(100)) +  CAST(ISNULL(PICK_METHODOLOGY,'0') AS VARCHAR(100)) +  CAST(ISNULL(CARTONIZATION_FLAG,'0') AS VARCHAR(100)) +  CAST(ISNULL(DROPPING_ORDER,'0') AS VARCHAR(100)) +  CAST(ISNULL(SUBINVENTORY_TYPE,'0') AS VARCHAR(100)) +  CAST(ISNULL(PLANNING_LEVEL,'0') AS VARCHAR(100)) +  CAST(ISNULL(DEFAULT_COUNT_TYPE_CODE,'0') AS VARCHAR(100)) +  CAST(ISNULL(ENABLE_BULK_PICK,'') AS VARCHAR(1)) +  CAST(ISNULL(ENABLE_LOCATOR_ALIAS,'') AS VARCHAR(1)) +  CAST(ISNULL(ENFORCE_ALIAS_UNIQUENESS,'') AS VARCHAR(1)) +  CAST(ISNULL(ENABLE_OPP_CYC_COUNT,'') AS VARCHAR(1)) +  CAST(ISNULL(OPP_CYC_COUNT_DAYS,'0') AS VARCHAR(100)) +  CAST(ISNULL(OPP_CYC_COUNT_HEADER_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(OPP_CYC_COUNT_QUANTITY,'0') AS VARCHAR(100)) 
			),1)),3,32);

				--expire records outside the merge

	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Merge', GETDATE()

	INSERT INTO Oracle.INV_MTL_SECONDARY_INVENTORIES (
			[SECONDARY_INVENTORY_NAME]
			,[ORGANIZATION_ID]
			,[LAST_UPDATE_DATE]
			,[LAST_UPDATED_BY]
			,[CREATION_DATE]
			,[CREATED_BY]
			,[LAST_UPDATE_LOGIN]
			,[DESCRIPTION]
			,[DISABLE_DATE]
			,[INVENTORY_ATP_CODE]
			,[AVAILABILITY_TYPE]
			,[RESERVABLE_TYPE]
			,[LOCATOR_TYPE]
			,[PICKING_ORDER]
			,[MATERIAL_ACCOUNT]
			,[MATERIAL_OVERHEAD_ACCOUNT]
			,[RESOURCE_ACCOUNT]
			,[OVERHEAD_ACCOUNT]
			,[OUTSIDE_PROCESSING_ACCOUNT]
			,[QUANTITY_TRACKED]
			,[ASSET_INVENTORY]
			,[SOURCE_TYPE]
			,[SOURCE_SUBINVENTORY]
			,[SOURCE_ORGANIZATION_ID]
			,[REQUISITION_APPROVAL_TYPE]
			,[EXPENSE_ACCOUNT]
			,[ENCUMBRANCE_ACCOUNT]
			,[ATTRIBUTE_CATEGORY]
			,[ATTRIBUTE1]
			,[ATTRIBUTE2]
			,[ATTRIBUTE3]
			,[ATTRIBUTE4]
			,[ATTRIBUTE5]
			,[ATTRIBUTE6]
			,[ATTRIBUTE7]
			,[ATTRIBUTE8]
			,[ATTRIBUTE9]
			,[ATTRIBUTE10]
			,[ATTRIBUTE11]
			,[ATTRIBUTE12]
			,[ATTRIBUTE13]
			,[ATTRIBUTE14]
			,[ATTRIBUTE15]
			,[REQUEST_ID]
			,[PROGRAM_APPLICATION_ID]
			,[PROGRAM_ID]
			,[PROGRAM_UPDATE_DATE]
			,[PREPROCESSING_LEAD_TIME]
			,[PROCESSING_LEAD_TIME]
			,[POSTPROCESSING_LEAD_TIME]
			,[DEMAND_CLASS]
			,[PROJECT_ID]
			,[TASK_ID]
			,[SUBINVENTORY_USAGE]
			,[NOTIFY_LIST_ID]
			,[PICK_UOM_CODE]
			,[DEPRECIABLE_FLAG]
			,[LOCATION_ID]
			,[DEFAULT_COST_GROUP_ID]
			,[STATUS_ID]
			,[DEFAULT_LOC_STATUS_ID]
			,[LPN_CONTROLLED_FLAG]
			,[PICK_METHODOLOGY]
			,[CARTONIZATION_FLAG]
			,[DROPPING_ORDER]
			,[SUBINVENTORY_TYPE]
			,[PLANNING_LEVEL]
			,[DEFAULT_COUNT_TYPE_CODE]
			,[ENABLE_BULK_PICK]
			,[ENABLE_LOCATOR_ALIAS]
			,[ENFORCE_ALIAS_UNIQUENESS]
			,[ENABLE_OPP_CYC_COUNT]
			,[OPP_CYC_COUNT_DAYS]
			,[OPP_CYC_COUNT_HEADER_ID]
			,[OPP_CYC_COUNT_QUANTITY]
			,[Fingerprint]
	)
		SELECT 
				a. [SECONDARY_INVENTORY_NAME]
				,a.[ORGANIZATION_ID]
				,a.[LAST_UPDATE_DATE]
				,a.[LAST_UPDATED_BY]
				,a.[CREATION_DATE]
				,a.[CREATED_BY]
				,a.[LAST_UPDATE_LOGIN]
				,a.[DESCRIPTION]
				,a.[DISABLE_DATE]
				,a.[INVENTORY_ATP_CODE]
				,a.[AVAILABILITY_TYPE]
				,a.[RESERVABLE_TYPE]
				,a.[LOCATOR_TYPE]
				,a.[PICKING_ORDER]
				,a.[MATERIAL_ACCOUNT]
				,a.[MATERIAL_OVERHEAD_ACCOUNT]
				,a.[RESOURCE_ACCOUNT]
				,a.[OVERHEAD_ACCOUNT]
				,a.[OUTSIDE_PROCESSING_ACCOUNT]
				,a.[QUANTITY_TRACKED]
				,a.[ASSET_INVENTORY]
				,a.[SOURCE_TYPE]
				,a.[SOURCE_SUBINVENTORY]
				,a.[SOURCE_ORGANIZATION_ID]
				,a.[REQUISITION_APPROVAL_TYPE]
				,a.[EXPENSE_ACCOUNT]
				,a.[ENCUMBRANCE_ACCOUNT]
				,a.[ATTRIBUTE_CATEGORY]
				,a.[ATTRIBUTE1]
				,a.[ATTRIBUTE2]
				,a.[ATTRIBUTE3]
				,a.[ATTRIBUTE4]
				,a.[ATTRIBUTE5]
				,a.[ATTRIBUTE6]
				,a.[ATTRIBUTE7]
				,a.[ATTRIBUTE8]
				,a.[ATTRIBUTE9]
				,a.[ATTRIBUTE10]
				,a.[ATTRIBUTE11]
				,a.[ATTRIBUTE12]
				,a.[ATTRIBUTE13]
				,a.[ATTRIBUTE14]
				,a.[ATTRIBUTE15]
				,a.[REQUEST_ID]
				,a.[PROGRAM_APPLICATION_ID]
				,a.[PROGRAM_ID]
				,a.[PROGRAM_UPDATE_DATE]
				,a.[PREPROCESSING_LEAD_TIME]
				,a.[PROCESSING_LEAD_TIME]
				,a.[POSTPROCESSING_LEAD_TIME]
				,a.[DEMAND_CLASS]
				,a.[PROJECT_ID]
				,a.[TASK_ID]
				,a.[SUBINVENTORY_USAGE]
				,a.[NOTIFY_LIST_ID]
				,a.[PICK_UOM_CODE]
				,a.[DEPRECIABLE_FLAG]
				,a.[LOCATION_ID]
				,a.[DEFAULT_COST_GROUP_ID]
				,a.[STATUS_ID]
				,a.[DEFAULT_LOC_STATUS_ID]
				,a.[LPN_CONTROLLED_FLAG]
				,a.[PICK_METHODOLOGY]
				,a.[CARTONIZATION_FLAG]
				,a.[DROPPING_ORDER]
				,a.[SUBINVENTORY_TYPE]
				,a.[PLANNING_LEVEL]
				,a.[DEFAULT_COUNT_TYPE_CODE]
				,a.[ENABLE_BULK_PICK]
				,a.[ENABLE_LOCATOR_ALIAS]
				,a.[ENFORCE_ALIAS_UNIQUENESS]
				,a.[ENABLE_OPP_CYC_COUNT]
				,a.[OPP_CYC_COUNT_DAYS]
				,a.[OPP_CYC_COUNT_HEADER_ID]
				,a.[OPP_CYC_COUNT_QUANTITY]
				,a.[Fingerprint]
		FROM (
			MERGE Oracle.INV_MTL_SECONDARY_INVENTORIES b
			USING (SELECT * FROM #secondaryInventories) a
			ON a.ORGANIZATION_ID = b.ORGANIZATION_ID AND a.SECONDARY_INVENTORY_NAME = b.SECONDARY_INVENTORY_NAME  AND b.CurrentRecord = 1 --AND ISNULL(a.DISABLE_DATE,'9999-12-31') = ISNULL(b.DISABLE_DATE,'9999-12-31')
			WHEN NOT MATCHED --BY TARGET 
			THEN INSERT (
					[SECONDARY_INVENTORY_NAME]
					,[ORGANIZATION_ID]
					,[LAST_UPDATE_DATE]
					,[LAST_UPDATED_BY]
					,[CREATION_DATE]
					,[CREATED_BY]
					,[LAST_UPDATE_LOGIN]
					,[DESCRIPTION]
					,[DISABLE_DATE]
					,[INVENTORY_ATP_CODE]
					,[AVAILABILITY_TYPE]
					,[RESERVABLE_TYPE]
					,[LOCATOR_TYPE]
					,[PICKING_ORDER]
					,[MATERIAL_ACCOUNT]
					,[MATERIAL_OVERHEAD_ACCOUNT]
					,[RESOURCE_ACCOUNT]
					,[OVERHEAD_ACCOUNT]
					,[OUTSIDE_PROCESSING_ACCOUNT]
					,[QUANTITY_TRACKED]
					,[ASSET_INVENTORY]
					,[SOURCE_TYPE]
					,[SOURCE_SUBINVENTORY]
					,[SOURCE_ORGANIZATION_ID]
					,[REQUISITION_APPROVAL_TYPE]
					,[EXPENSE_ACCOUNT]
					,[ENCUMBRANCE_ACCOUNT]
					,[ATTRIBUTE_CATEGORY]
					,[ATTRIBUTE1]
					,[ATTRIBUTE2]
					,[ATTRIBUTE3]
					,[ATTRIBUTE4]
					,[ATTRIBUTE5]
					,[ATTRIBUTE6]
					,[ATTRIBUTE7]
					,[ATTRIBUTE8]
					,[ATTRIBUTE9]
					,[ATTRIBUTE10]
					,[ATTRIBUTE11]
					,[ATTRIBUTE12]
					,[ATTRIBUTE13]
					,[ATTRIBUTE14]
					,[ATTRIBUTE15]
					,[REQUEST_ID]
					,[PROGRAM_APPLICATION_ID]
					,[PROGRAM_ID]
					,[PROGRAM_UPDATE_DATE]
					,[PREPROCESSING_LEAD_TIME]
					,[PROCESSING_LEAD_TIME]
					,[POSTPROCESSING_LEAD_TIME]
					,[DEMAND_CLASS]
					,[PROJECT_ID]
					,[TASK_ID]
					,[SUBINVENTORY_USAGE]
					,[NOTIFY_LIST_ID]
					,[PICK_UOM_CODE]
					,[DEPRECIABLE_FLAG]
					,[LOCATION_ID]
					,[DEFAULT_COST_GROUP_ID]
					,[STATUS_ID]
					,[DEFAULT_LOC_STATUS_ID]
					,[LPN_CONTROLLED_FLAG]
					,[PICK_METHODOLOGY]
					,[CARTONIZATION_FLAG]
					,[DROPPING_ORDER]
					,[SUBINVENTORY_TYPE]
					,[PLANNING_LEVEL]
					,[DEFAULT_COUNT_TYPE_CODE]
					,[ENABLE_BULK_PICK]
					,[ENABLE_LOCATOR_ALIAS]
					,[ENFORCE_ALIAS_UNIQUENESS]
					,[ENABLE_OPP_CYC_COUNT]
					,[OPP_CYC_COUNT_DAYS]
					,[OPP_CYC_COUNT_HEADER_ID]
					,[OPP_CYC_COUNT_QUANTITY]
					,[Fingerprint]
			)
			VALUES (
					a. [SECONDARY_INVENTORY_NAME]
					,a.[ORGANIZATION_ID]
					,a.[LAST_UPDATE_DATE]
					,a.[LAST_UPDATED_BY]
					,a.[CREATION_DATE]
					,a.[CREATED_BY]
					,a.[LAST_UPDATE_LOGIN]
					,a.[DESCRIPTION]
					,a.[DISABLE_DATE]
					,a.[INVENTORY_ATP_CODE]
					,a.[AVAILABILITY_TYPE]
					,a.[RESERVABLE_TYPE]
					,a.[LOCATOR_TYPE]
					,a.[PICKING_ORDER]
					,a.[MATERIAL_ACCOUNT]
					,a.[MATERIAL_OVERHEAD_ACCOUNT]
					,a.[RESOURCE_ACCOUNT]
					,a.[OVERHEAD_ACCOUNT]
					,a.[OUTSIDE_PROCESSING_ACCOUNT]
					,a.[QUANTITY_TRACKED]
					,a.[ASSET_INVENTORY]
					,a.[SOURCE_TYPE]
					,a.[SOURCE_SUBINVENTORY]
					,a.[SOURCE_ORGANIZATION_ID]
					,a.[REQUISITION_APPROVAL_TYPE]
					,a.[EXPENSE_ACCOUNT]
					,a.[ENCUMBRANCE_ACCOUNT]
					,a.[ATTRIBUTE_CATEGORY]
					,a.[ATTRIBUTE1]
					,a.[ATTRIBUTE2]
					,a.[ATTRIBUTE3]
					,a.[ATTRIBUTE4]
					,a.[ATTRIBUTE5]
					,a.[ATTRIBUTE6]
					,a.[ATTRIBUTE7]
					,a.[ATTRIBUTE8]
					,a.[ATTRIBUTE9]
					,a.[ATTRIBUTE10]
					,a.[ATTRIBUTE11]
					,a.[ATTRIBUTE12]
					,a.[ATTRIBUTE13]
					,a.[ATTRIBUTE14]
					,a.[ATTRIBUTE15]
					,a.[REQUEST_ID]
					,a.[PROGRAM_APPLICATION_ID]
					,a.[PROGRAM_ID]
					,a.[PROGRAM_UPDATE_DATE]
					,a.[PREPROCESSING_LEAD_TIME]
					,a.[PROCESSING_LEAD_TIME]
					,a.[POSTPROCESSING_LEAD_TIME]
					,a.[DEMAND_CLASS]
					,a.[PROJECT_ID]
					,a.[TASK_ID]
					,a.[SUBINVENTORY_USAGE]
					,a.[NOTIFY_LIST_ID]
					,a.[PICK_UOM_CODE]
					,a.[DEPRECIABLE_FLAG]
					,a.[LOCATION_ID]
					,a.[DEFAULT_COST_GROUP_ID]
					,a.[STATUS_ID]
					,a.[DEFAULT_LOC_STATUS_ID]
					,a.[LPN_CONTROLLED_FLAG]
					,a.[PICK_METHODOLOGY]
					,a.[CARTONIZATION_FLAG]
					,a.[DROPPING_ORDER]
					,a.[SUBINVENTORY_TYPE]
					,a.[PLANNING_LEVEL]
					,a.[DEFAULT_COUNT_TYPE_CODE]
					,a.[ENABLE_BULK_PICK]
					,a.[ENABLE_LOCATOR_ALIAS]
					,a.[ENFORCE_ALIAS_UNIQUENESS]
					,a.[ENABLE_OPP_CYC_COUNT]
					,a.[OPP_CYC_COUNT_DAYS]
					,a.[OPP_CYC_COUNT_HEADER_ID]
					,a.[OPP_CYC_COUNT_QUANTITY]
					,a.[Fingerprint]
			)
			--Existing records that have changed are expired
			WHEN MATCHED AND a.Fingerprint<>b.Fingerprint
			THEN UPDATE SET b.EndDate=GETDATE()
				,b.CurrentRecord=0
			OUTPUT 
					a. [SECONDARY_INVENTORY_NAME]
					,a.[ORGANIZATION_ID]
					,a.[LAST_UPDATE_DATE]
					,a.[LAST_UPDATED_BY]
					,a.[CREATION_DATE]
					,a.[CREATED_BY]
					,a.[LAST_UPDATE_LOGIN]
					,a.[DESCRIPTION]
					,a.[DISABLE_DATE]
					,a.[INVENTORY_ATP_CODE]
					,a.[AVAILABILITY_TYPE]
					,a.[RESERVABLE_TYPE]
					,a.[LOCATOR_TYPE]
					,a.[PICKING_ORDER]
					,a.[MATERIAL_ACCOUNT]
					,a.[MATERIAL_OVERHEAD_ACCOUNT]
					,a.[RESOURCE_ACCOUNT]
					,a.[OVERHEAD_ACCOUNT]
					,a.[OUTSIDE_PROCESSING_ACCOUNT]
					,a.[QUANTITY_TRACKED]
					,a.[ASSET_INVENTORY]
					,a.[SOURCE_TYPE]
					,a.[SOURCE_SUBINVENTORY]
					,a.[SOURCE_ORGANIZATION_ID]
					,a.[REQUISITION_APPROVAL_TYPE]
					,a.[EXPENSE_ACCOUNT]
					,a.[ENCUMBRANCE_ACCOUNT]
					,a.[ATTRIBUTE_CATEGORY]
					,a.[ATTRIBUTE1]
					,a.[ATTRIBUTE2]
					,a.[ATTRIBUTE3]
					,a.[ATTRIBUTE4]
					,a.[ATTRIBUTE5]
					,a.[ATTRIBUTE6]
					,a.[ATTRIBUTE7]
					,a.[ATTRIBUTE8]
					,a.[ATTRIBUTE9]
					,a.[ATTRIBUTE10]
					,a.[ATTRIBUTE11]
					,a.[ATTRIBUTE12]
					,a.[ATTRIBUTE13]
					,a.[ATTRIBUTE14]
					,a.[ATTRIBUTE15]
					,a.[REQUEST_ID]
					,a.[PROGRAM_APPLICATION_ID]
					,a.[PROGRAM_ID]
					,a.[PROGRAM_UPDATE_DATE]
					,a.[PREPROCESSING_LEAD_TIME]
					,a.[PROCESSING_LEAD_TIME]
					,a.[POSTPROCESSING_LEAD_TIME]
					,a.[DEMAND_CLASS]
					,a.[PROJECT_ID]
					,a.[TASK_ID]
					,a.[SUBINVENTORY_USAGE]
					,a.[NOTIFY_LIST_ID]
					,a.[PICK_UOM_CODE]
					,a.[DEPRECIABLE_FLAG]
					,a.[LOCATION_ID]
					,a.[DEFAULT_COST_GROUP_ID]
					,a.[STATUS_ID]
					,a.[DEFAULT_LOC_STATUS_ID]
					,a.[LPN_CONTROLLED_FLAG]
					,a.[PICK_METHODOLOGY]
					,a.[CARTONIZATION_FLAG]
					,a.[DROPPING_ORDER]
					,a.[SUBINVENTORY_TYPE]
					,a.[PLANNING_LEVEL]
					,a.[DEFAULT_COUNT_TYPE_CODE]
					,a.[ENABLE_BULK_PICK]
					,a.[ENABLE_LOCATOR_ALIAS]
					,a.[ENFORCE_ALIAS_UNIQUENESS]
					,a.[ENABLE_OPP_CYC_COUNT]
					,a.[OPP_CYC_COUNT_DAYS]
					,a.[OPP_CYC_COUNT_HEADER_ID]
					,a.[OPP_CYC_COUNT_QUANTITY]
					,a.[Fingerprint]
					,$Action AS Action
		) a
		WHERE Action = 'Update'
		;

		INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Done', GETDATE()

		DROP TABLE #secondaryInventories

END
GO
