USE [Operations]
GO
/****** Object:  StoredProcedure [Oracle].[Merge_Schema_INV]    Script Date: 7/10/2025 11:43:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Oracle].[Merge_Schema_INV] 
AS BEGIN

	EXEC [Oracle].[Merge_INV_MTL_SYSTEM_ITEMS_B]
	EXEC [Oracle].[Merge_INV_MTL_SYSTEM_ITEMS_TL]
	EXEC [Oracle].[Merge_INV_MTL_ONHAND_QUANTITIES_DETAIL]
	EXEC [Oracle].[Merge_INV_MTL_UOM_CLASS_CONVERSIONS]
	EXEC [Oracle].[Merge_INV_SECONDARY_INVENTORIES]
	EXEC [Oracle].[Merge_INV_MTL_MATERIAL_TRANSACTIONS]
	EXEC [Oracle].[Merge_INV_MTL_PARAMETERS]
	EXEC [Oracle].[Merge_INV_MTL_TRANSACTION_TYPES]
	EXEC [Oracle].[Merge_INV_MTL_ITEM_LOCATIONS]

END
GO
