USE [Operations]
GO
/****** Object:  StoredProcedure [Oracle].[Merge_INV_MTL_ITEM_LOCATIONS]    Script Date: 7/10/2025 11:43:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Oracle].[Merge_INV_MTL_ITEM_LOCATIONS]
AS BEGIN

	CREATE TABLE #ItemLocations(
		[INVENTORY_LOCATION_ID] [float] NOT NULL,
		[ORGANIZATION_ID] [float] NOT NULL,
		[LAST_UPDATE_DATE] [datetime2](7) NOT NULL,
		[LAST_UPDATED_BY] [float] NOT NULL,
		[CREATION_DATE] [datetime2](7) NULL,
		[CREATED_BY] [float] NULL,
		[LAST_UPDATE_LOGIN] [float] NULL,
		[DESCRIPTION] [nvarchar](50) NULL,
		[DESCRIPTIVE_TEXT] [nvarchar](240) NULL,
		[DISABLE_DATE] [datetime2](7) NULL,
		[INVENTORY_LOCATION_TYPE] [float] NULL,
		[PICKING_ORDER] [float] NULL,
		[PHYSICAL_LOCATION_CODE] [nvarchar](10) NULL,
		[LOCATION_MAXIMUM_UNITS] [float] NULL,
		[SUBINVENTORY_CODE] [nvarchar](10) NULL,
		[LOCATION_WEIGHT_UOM_CODE] [nvarchar](3) NULL,
		[MAX_WEIGHT] [float] NULL,
		[VOLUME_UOM_CODE] [nvarchar](3) NULL,
		[MAX_CUBIC_AREA] [float] NULL,
		[X_COORDINATE] [float] NULL,
		[Y_COORDINATE] [float] NULL,
		[Z_COORDINATE] [float] NULL,
		[INVENTORY_ACCOUNT_ID] [float] NULL,
		[SEGMENT1] [nvarchar](40) NULL,
		[SEGMENT2] [nvarchar](40) NULL,
		[SEGMENT3] [nvarchar](40) NULL,
		[SEGMENT4] [nvarchar](40) NULL,
		[SEGMENT5] [nvarchar](40) NULL,
		[SEGMENT6] [nvarchar](40) NULL,
		[SEGMENT7] [nvarchar](40) NULL,
		[SEGMENT8] [nvarchar](40) NULL,
		[SEGMENT9] [nvarchar](40) NULL,
		[SEGMENT10] [nvarchar](40) NULL,
		[SEGMENT11] [nvarchar](40) NULL,
		[SEGMENT12] [nvarchar](40) NULL,
		[SEGMENT13] [nvarchar](40) NULL,
		[SEGMENT14] [nvarchar](40) NULL,
		[SEGMENT15] [nvarchar](40) NULL,
		[SEGMENT16] [nvarchar](40) NULL,
		[SEGMENT17] [nvarchar](40) NULL,
		[SEGMENT18] [nvarchar](40) NULL,
		[SEGMENT19] [nvarchar](40) NULL,
		[SEGMENT20] [nvarchar](40) NULL,
		[SUMMARY_FLAG] [nvarchar](1) NOT NULL,
		[ENABLED_FLAG] [nvarchar](1) NOT NULL,
		[START_DATE_ACTIVE] [datetime2](7) NULL,
		[END_DATE_ACTIVE] [datetime2](7) NULL,
		[ATTRIBUTE_CATEGORY] [nvarchar](30) NULL,
		[ATTRIBUTE1] [nvarchar](150) NULL,
		[ATTRIBUTE2] [nvarchar](150) NULL,
		[ATTRIBUTE3] [nvarchar](150) NULL,
		[ATTRIBUTE4] [nvarchar](150) NULL,
		[ATTRIBUTE5] [nvarchar](150) NULL,
		[ATTRIBUTE6] [nvarchar](150) NULL,
		[ATTRIBUTE7] [nvarchar](150) NULL,
		[ATTRIBUTE8] [nvarchar](150) NULL,
		[ATTRIBUTE9] [nvarchar](150) NULL,
		[ATTRIBUTE10] [nvarchar](150) NULL,
		[ATTRIBUTE11] [nvarchar](150) NULL,
		[ATTRIBUTE12] [nvarchar](150) NULL,
		[ATTRIBUTE13] [nvarchar](150) NULL,
		[ATTRIBUTE14] [nvarchar](150) NULL,
		[ATTRIBUTE15] [nvarchar](150) NULL,
		[REQUEST_ID] [float] NULL,
		[PROGRAM_APPLICATION_ID] [float] NULL,
		[PROGRAM_ID] [float] NULL,
		[PROGRAM_UPDATE_DATE] [datetime2](7) NULL,
		[PROJECT_ID] [numeric](15, 0) NULL,
		[TASK_ID] [numeric](15, 0) NULL,
		[PHYSICAL_LOCATION_ID] [numeric](15, 0) NULL,
		[PICK_UOM_CODE] [nvarchar](3) NULL,
		[DIMENSION_UOM_CODE] [nvarchar](3) NULL,
		[LENGTH] [float] NULL,
		[WIDTH] [float] NULL,
		[HEIGHT] [float] NULL,
		[LOCATOR_STATUS] [float] NULL,
		[STATUS_ID] [float] NULL,
		[CURRENT_CUBIC_AREA] [float] NULL,
		[AVAILABLE_CUBIC_AREA] [float] NULL,
		[CURRENT_WEIGHT] [float] NULL,
		[AVAILABLE_WEIGHT] [float] NULL,
		[LOCATION_CURRENT_UNITS] [float] NULL,
		[LOCATION_AVAILABLE_UNITS] [float] NULL,
		[INVENTORY_ITEM_ID] [float] NULL,
		[SUGGESTED_CUBIC_AREA] [float] NULL,
		[SUGGESTED_WEIGHT] [float] NULL,
		[LOCATION_SUGGESTED_UNITS] [float] NULL,
		[EMPTY_FLAG] [nvarchar](1) NULL,
		[MIXED_ITEMS_FLAG] [nvarchar](1) NULL,
		[DROPPING_ORDER] [float] NULL,
		[AVAILABILITY_TYPE] [float] NULL,
		[INVENTORY_ATP_CODE] [float] NULL,
		[RESERVABLE_TYPE] [float] NULL,
		[ALIAS] [nvarchar](30) NULL,
		[INV_DOCK_DOOR_ID] [float] NULL,
		[INV_ORG_ID] [float] NULL,
		[AREA_ROW_ID] [float] NULL,
		[Fingerprint] [varchar](32) NOT NULL
	) ON [PRIMARY]


	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Oracle Download', GETDATE()
	
	INSERT INTO #ItemLocations 
	SELECT [INVENTORY_LOCATION_ID]
		  ,[ORGANIZATION_ID]
		  ,[LAST_UPDATE_DATE]
		  ,[LAST_UPDATED_BY]
		  ,[CREATION_DATE]
		  ,[CREATED_BY]
		  ,[LAST_UPDATE_LOGIN]
		  ,[DESCRIPTION]
		  ,[DESCRIPTIVE_TEXT]
		  ,[DISABLE_DATE]
		  ,[INVENTORY_LOCATION_TYPE]
		  ,[PICKING_ORDER]
		  ,[PHYSICAL_LOCATION_CODE]
		  ,[LOCATION_MAXIMUM_UNITS]
		  ,[SUBINVENTORY_CODE]
		  ,[LOCATION_WEIGHT_UOM_CODE]
		  ,[MAX_WEIGHT]
		  ,[VOLUME_UOM_CODE]
		  ,[MAX_CUBIC_AREA]
		  ,[X_COORDINATE]
		  ,[Y_COORDINATE]
		  ,[Z_COORDINATE]
		  ,[INVENTORY_ACCOUNT_ID]
		  ,[SEGMENT1]
		  ,[SEGMENT2]
		  ,[SEGMENT3]
		  ,[SEGMENT4]
		  ,[SEGMENT5]
		  ,[SEGMENT6]
		  ,[SEGMENT7]
		  ,[SEGMENT8]
		  ,[SEGMENT9]
		  ,[SEGMENT10]
		  ,[SEGMENT11]
		  ,[SEGMENT12]
		  ,[SEGMENT13]
		  ,[SEGMENT14]
		  ,[SEGMENT15]
		  ,[SEGMENT16]
		  ,[SEGMENT17]
		  ,[SEGMENT18]
		  ,[SEGMENT19]
		  ,[SEGMENT20]
		  ,[SUMMARY_FLAG]
		  ,[ENABLED_FLAG]
		  ,[START_DATE_ACTIVE]
		  ,[END_DATE_ACTIVE]
		  ,[ATTRIBUTE_CATEGORY]
		  ,[ATTRIBUTE1]
		  ,[ATTRIBUTE2]
		  ,[ATTRIBUTE3]
		  ,[ATTRIBUTE4]
		  ,[ATTRIBUTE5]
		  ,[ATTRIBUTE6]
		  ,[ATTRIBUTE7]
		  ,[ATTRIBUTE8]
		  ,[ATTRIBUTE9]
		  ,[ATTRIBUTE10]
		  ,[ATTRIBUTE11]
		  ,[ATTRIBUTE12]
		  ,[ATTRIBUTE13]
		  ,[ATTRIBUTE14]
		  ,[ATTRIBUTE15]
		  ,[REQUEST_ID]
		  ,[PROGRAM_APPLICATION_ID]
		  ,[PROGRAM_ID]
		  ,[PROGRAM_UPDATE_DATE]
		  ,[PROJECT_ID]
		  ,[TASK_ID]
		  ,[PHYSICAL_LOCATION_ID]
		  ,[PICK_UOM_CODE]
		  ,[DIMENSION_UOM_CODE]
		  ,[LENGTH]
		  ,[WIDTH]
		  ,[HEIGHT]
		  ,[LOCATOR_STATUS]
		  ,[STATUS_ID]
		  ,[CURRENT_CUBIC_AREA]
		  ,[AVAILABLE_CUBIC_AREA]
		  ,[CURRENT_WEIGHT]
		  ,[AVAILABLE_WEIGHT]
		  ,[LOCATION_CURRENT_UNITS]
		  ,[LOCATION_AVAILABLE_UNITS]
		  ,[INVENTORY_ITEM_ID]
		  ,[SUGGESTED_CUBIC_AREA]
		  ,[SUGGESTED_WEIGHT]
		  ,[LOCATION_SUGGESTED_UNITS]
		  ,[EMPTY_FLAG]
		  ,[MIXED_ITEMS_FLAG]
		  ,[DROPPING_ORDER]
		  ,[AVAILABILITY_TYPE]
		  ,[INVENTORY_ATP_CODE]
		  ,[RESERVABLE_TYPE]
		  ,[ALIAS]
		  ,[INV_DOCK_DOOR_ID]
		  ,[INV_ORG_ID]
		  ,[AREA_ROW_ID]
		  ,'XXX' AS [Fingerprint]
	FROM OPENQUERY(PROD,'SELECT * FROM INV.MTL_ITEM_LOCATIONS')

	/*
		DECLARE @columnList VARCHAR(MAX) = dbo.getHashField ('INV_MTL_ITEM_LOCATIONS','Oracle') SELECT @columnList
	*/

	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Fingerprint', GETDATE()

	--Exclude 
	UPDATE #ItemLocations
	SET Fingerprint = 
		SUBSTRING(LOWER(CONVERT(VARCHAR(32),HASHBYTES('MD5',
			--replace @columnList result here
				   CAST(ISNULL([INVENTORY_LOCATION_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([ORGANIZATION_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([LAST_UPDATED_BY],'0') AS VARCHAR(100)) +  CAST(ISNULL([CREATION_DATE],'') AS VARCHAR(100)) +  CAST(ISNULL([CREATED_BY],'0') AS VARCHAR(100)) +  CAST(ISNULL([LAST_UPDATE_LOGIN],'0') AS VARCHAR(100)) +  CAST(ISNULL([DESCRIPTION],'') AS VARCHAR(50)) +  CAST(ISNULL([DESCRIPTIVE_TEXT],'') AS VARCHAR(240)) +  CAST(ISNULL([DISABLE_DATE],'') AS VARCHAR(100)) +  CAST(ISNULL([INVENTORY_LOCATION_TYPE],'0') AS VARCHAR(100)) +  CAST(ISNULL([PICKING_ORDER],'0') AS VARCHAR(100)) +  CAST(ISNULL([PHYSICAL_LOCATION_CODE],'') AS VARCHAR(10)) +  CAST(ISNULL([LOCATION_MAXIMUM_UNITS],'0') AS VARCHAR(100)) +  CAST(ISNULL([SUBINVENTORY_CODE],'') AS VARCHAR(10)) +  CAST(ISNULL([LOCATION_WEIGHT_UOM_CODE],'') AS VARCHAR(3)) +  CAST(ISNULL([MAX_WEIGHT],'0') AS VARCHAR(100)) +  CAST(ISNULL([VOLUME_UOM_CODE],'') AS VARCHAR(3)) +  CAST(ISNULL([MAX_CUBIC_AREA],'0') AS VARCHAR(100)) +  CAST(ISNULL([X_COORDINATE],'0') AS VARCHAR(100)) +  CAST(ISNULL([Y_COORDINATE],'0') AS VARCHAR(100)) +  CAST(ISNULL([Z_COORDINATE],'0') AS VARCHAR(100)) +  CAST(ISNULL([INVENTORY_ACCOUNT_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([SEGMENT1],'') AS VARCHAR(40)) +  CAST(ISNULL([SEGMENT2],'') AS VARCHAR(40)) +  CAST(ISNULL([SEGMENT3],'') AS VARCHAR(40)) +  CAST(ISNULL([SEGMENT4],'') AS VARCHAR(40)) +  CAST(ISNULL([SEGMENT5],'') AS VARCHAR(40)) +  CAST(ISNULL([SEGMENT6],'') AS VARCHAR(40)) +  CAST(ISNULL([SEGMENT7],'') AS VARCHAR(40)) +  CAST(ISNULL([SEGMENT8],'') AS VARCHAR(40)) +  CAST(ISNULL([SEGMENT9],'') AS VARCHAR(40)) +  CAST(ISNULL([SEGMENT10],'') AS VARCHAR(40)) +  CAST(ISNULL([SEGMENT11],'') AS VARCHAR(40)) +  CAST(ISNULL([SEGMENT12],'') AS VARCHAR(40)) +  CAST(ISNULL([SEGMENT13],'') AS VARCHAR(40)) +  CAST(ISNULL([SEGMENT14],'') AS VARCHAR(40)) +  CAST(ISNULL([SEGMENT15],'') AS VARCHAR(40)) +  CAST(ISNULL([SEGMENT16],'') AS VARCHAR(40)) +  CAST(ISNULL([SEGMENT17],'') AS VARCHAR(40)) +  CAST(ISNULL([SEGMENT18],'') AS VARCHAR(40)) +  CAST(ISNULL([SEGMENT19],'') AS VARCHAR(40)) +  CAST(ISNULL([SEGMENT20],'') AS VARCHAR(40)) +  CAST(ISNULL([SUMMARY_FLAG],'') AS VARCHAR(1)) +  CAST(ISNULL([ENABLED_FLAG],'') AS VARCHAR(1)) +  CAST(ISNULL([START_DATE_ACTIVE],'') AS VARCHAR(100)) +  CAST(ISNULL([END_DATE_ACTIVE],'') AS VARCHAR(100)) +  CAST(ISNULL([ATTRIBUTE_CATEGORY],'') AS VARCHAR(30)) +  CAST(ISNULL([ATTRIBUTE1],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE2],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE3],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE4],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE5],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE6],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE7],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE8],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE9],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE10],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE11],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE12],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE13],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE14],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE15],'') AS VARCHAR(150)) +  CAST(ISNULL([REQUEST_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([PROGRAM_APPLICATION_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([PROGRAM_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([PROGRAM_UPDATE_DATE],'') AS VARCHAR(100)) +  CAST(ISNULL([PROJECT_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([TASK_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([PHYSICAL_LOCATION_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([PICK_UOM_CODE],'') AS VARCHAR(3)) +  CAST(ISNULL([DIMENSION_UOM_CODE],'') AS VARCHAR(3)) +  CAST(ISNULL([LENGTH],'0') AS VARCHAR(100)) +  CAST(ISNULL([WIDTH],'0') AS VARCHAR(100)) +  CAST(ISNULL([HEIGHT],'0') AS VARCHAR(100)) +  CAST(ISNULL([LOCATOR_STATUS],'0') AS VARCHAR(100)) +  CAST(ISNULL([STATUS_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([CURRENT_CUBIC_AREA],'0') AS VARCHAR(100)) +  CAST(ISNULL([AVAILABLE_CUBIC_AREA],'0') AS VARCHAR(100)) +  CAST(ISNULL([CURRENT_WEIGHT],'0') AS VARCHAR(100)) +  CAST(ISNULL([AVAILABLE_WEIGHT],'0') AS VARCHAR(100)) +  CAST(ISNULL([LOCATION_CURRENT_UNITS],'0') AS VARCHAR(100)) +  CAST(ISNULL([LOCATION_AVAILABLE_UNITS],'0') AS VARCHAR(100)) +  CAST(ISNULL([INVENTORY_ITEM_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([SUGGESTED_CUBIC_AREA],'0') AS VARCHAR(100)) +  CAST(ISNULL([SUGGESTED_WEIGHT],'0') AS VARCHAR(100)) +  CAST(ISNULL([LOCATION_SUGGESTED_UNITS],'0') AS VARCHAR(100)) +  CAST(ISNULL([EMPTY_FLAG],'') AS VARCHAR(1)) +  CAST(ISNULL([MIXED_ITEMS_FLAG],'') AS VARCHAR(1)) +  CAST(ISNULL([DROPPING_ORDER],'0') AS VARCHAR(100)) +  CAST(ISNULL([AVAILABILITY_TYPE],'0') AS VARCHAR(100)) +  CAST(ISNULL([INVENTORY_ATP_CODE],'0') AS VARCHAR(100)) +  CAST(ISNULL([RESERVABLE_TYPE],'0') AS VARCHAR(100)) +  CAST(ISNULL([ALIAS],'') AS VARCHAR(30)) +  CAST(ISNULL([INV_DOCK_DOOR_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([INV_ORG_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([AREA_ROW_ID],'0') AS VARCHAR(100))+  CAST(ISNULL([LAST_UPDATE_DATE],'') AS VARCHAR(100)) 
		),1)),3,32);

	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Merge', GETDATE()
	
	INSERT INTO Oracle.INV_MTL_ITEM_LOCATIONS (
			 [INVENTORY_LOCATION_ID]
		  ,[ORGANIZATION_ID]
		  ,[LAST_UPDATE_DATE]
		  ,[LAST_UPDATED_BY]
		  ,[CREATION_DATE]
		  ,[CREATED_BY]
		  ,[LAST_UPDATE_LOGIN]
		  ,[DESCRIPTION]
		  ,[DESCRIPTIVE_TEXT]
		  ,[DISABLE_DATE]
		  ,[INVENTORY_LOCATION_TYPE]
		  ,[PICKING_ORDER]
		  ,[PHYSICAL_LOCATION_CODE]
		  ,[LOCATION_MAXIMUM_UNITS]
		  ,[SUBINVENTORY_CODE]
		  ,[LOCATION_WEIGHT_UOM_CODE]
		  ,[MAX_WEIGHT]
		  ,[VOLUME_UOM_CODE]
		  ,[MAX_CUBIC_AREA]
		  ,[X_COORDINATE]
		  ,[Y_COORDINATE]
		  ,[Z_COORDINATE]
		  ,[INVENTORY_ACCOUNT_ID]
		  ,[SEGMENT1]
		  ,[SEGMENT2]
		  ,[SEGMENT3]
		  ,[SEGMENT4]
		  ,[SEGMENT5]
		  ,[SEGMENT6]
		  ,[SEGMENT7]
		  ,[SEGMENT8]
		  ,[SEGMENT9]
		  ,[SEGMENT10]
		  ,[SEGMENT11]
		  ,[SEGMENT12]
		  ,[SEGMENT13]
		  ,[SEGMENT14]
		  ,[SEGMENT15]
		  ,[SEGMENT16]
		  ,[SEGMENT17]
		  ,[SEGMENT18]
		  ,[SEGMENT19]
		  ,[SEGMENT20]
		  ,[SUMMARY_FLAG]
		  ,[ENABLED_FLAG]
		  ,[START_DATE_ACTIVE]
		  ,[END_DATE_ACTIVE]
		  ,[ATTRIBUTE_CATEGORY]
		  ,[ATTRIBUTE1]
		  ,[ATTRIBUTE2]
		  ,[ATTRIBUTE3]
		  ,[ATTRIBUTE4]
		  ,[ATTRIBUTE5]
		  ,[ATTRIBUTE6]
		  ,[ATTRIBUTE7]
		  ,[ATTRIBUTE8]
		  ,[ATTRIBUTE9]
		  ,[ATTRIBUTE10]
		  ,[ATTRIBUTE11]
		  ,[ATTRIBUTE12]
		  ,[ATTRIBUTE13]
		  ,[ATTRIBUTE14]
		  ,[ATTRIBUTE15]
		  ,[REQUEST_ID]
		  ,[PROGRAM_APPLICATION_ID]
		  ,[PROGRAM_ID]
		  ,[PROGRAM_UPDATE_DATE]
		  ,[PROJECT_ID]
		  ,[TASK_ID]
		  ,[PHYSICAL_LOCATION_ID]
		  ,[PICK_UOM_CODE]
		  ,[DIMENSION_UOM_CODE]
		  ,[LENGTH]
		  ,[WIDTH]
		  ,[HEIGHT]
		  ,[LOCATOR_STATUS]
		  ,[STATUS_ID]
		  ,[CURRENT_CUBIC_AREA]
		  ,[AVAILABLE_CUBIC_AREA]
		  ,[CURRENT_WEIGHT]
		  ,[AVAILABLE_WEIGHT]
		  ,[LOCATION_CURRENT_UNITS]
		  ,[LOCATION_AVAILABLE_UNITS]
		  ,[INVENTORY_ITEM_ID]
		  ,[SUGGESTED_CUBIC_AREA]
		  ,[SUGGESTED_WEIGHT]
		  ,[LOCATION_SUGGESTED_UNITS]
		  ,[EMPTY_FLAG]
		  ,[MIXED_ITEMS_FLAG]
		  ,[DROPPING_ORDER]
		  ,[AVAILABILITY_TYPE]
		  ,[INVENTORY_ATP_CODE]
		  ,[RESERVABLE_TYPE]
		  ,[ALIAS]
		  ,[INV_DOCK_DOOR_ID]
		  ,[INV_ORG_ID]
		  ,[AREA_ROW_ID]
		  ,[Fingerprint]
		)
			SELECT 
			   a.[INVENTORY_LOCATION_ID]
			  ,a.[ORGANIZATION_ID]
			  ,a.[LAST_UPDATE_DATE]
			  ,a.[LAST_UPDATED_BY]
			  ,a.[CREATION_DATE]
			  ,a.[CREATED_BY]
			  ,a.[LAST_UPDATE_LOGIN]
			  ,a.[DESCRIPTION]
			  ,a.[DESCRIPTIVE_TEXT]
			  ,a.[DISABLE_DATE]
			  ,a.[INVENTORY_LOCATION_TYPE]
			  ,a.[PICKING_ORDER]
			  ,a.[PHYSICAL_LOCATION_CODE]
			  ,a.[LOCATION_MAXIMUM_UNITS]
			  ,a.[SUBINVENTORY_CODE]
			  ,a.[LOCATION_WEIGHT_UOM_CODE]
			  ,a.[MAX_WEIGHT]
			  ,a.[VOLUME_UOM_CODE]
			  ,a.[MAX_CUBIC_AREA]
			  ,a.[X_COORDINATE]
			  ,a.[Y_COORDINATE]
			  ,a.[Z_COORDINATE]
			  ,a.[INVENTORY_ACCOUNT_ID]
			  ,a.[SEGMENT1]
			  ,a.[SEGMENT2]
			  ,a.[SEGMENT3]
			  ,a.[SEGMENT4]
			  ,a.[SEGMENT5]
			  ,a.[SEGMENT6]
			  ,a.[SEGMENT7]
			  ,a.[SEGMENT8]
			  ,a.[SEGMENT9]
			  ,a.[SEGMENT10]
			  ,a.[SEGMENT11]
			  ,a.[SEGMENT12]
			  ,a.[SEGMENT13]
			  ,a.[SEGMENT14]
			  ,a.[SEGMENT15]
			  ,a.[SEGMENT16]
			  ,a.[SEGMENT17]
			  ,a.[SEGMENT18]
			  ,a.[SEGMENT19]
			  ,a.[SEGMENT20]
			  ,a.[SUMMARY_FLAG]
			  ,a.[ENABLED_FLAG]
			  ,a.[START_DATE_ACTIVE]
			  ,a.[END_DATE_ACTIVE]
			  ,a.[ATTRIBUTE_CATEGORY]
			  ,a.[ATTRIBUTE1]
			  ,a.[ATTRIBUTE2]
			  ,a.[ATTRIBUTE3]
			  ,a.[ATTRIBUTE4]
			  ,a.[ATTRIBUTE5]
			  ,a.[ATTRIBUTE6]
			  ,a.[ATTRIBUTE7]
			  ,a.[ATTRIBUTE8]
			  ,a.[ATTRIBUTE9]
			  ,a.[ATTRIBUTE10]
			  ,a.[ATTRIBUTE11]
			  ,a.[ATTRIBUTE12]
			  ,a.[ATTRIBUTE13]
			  ,a.[ATTRIBUTE14]
			  ,a.[ATTRIBUTE15]
			  ,a.[REQUEST_ID]
			  ,a.[PROGRAM_APPLICATION_ID]
			  ,a.[PROGRAM_ID]
			  ,a.[PROGRAM_UPDATE_DATE]
			  ,a.[PROJECT_ID]
			  ,a.[TASK_ID]
			  ,a.[PHYSICAL_LOCATION_ID]
			  ,a.[PICK_UOM_CODE]
			  ,a.[DIMENSION_UOM_CODE]
			  ,a.[LENGTH]
			  ,a.[WIDTH]
			  ,a.[HEIGHT]
			  ,a.[LOCATOR_STATUS]
			  ,a.[STATUS_ID]
			  ,a.[CURRENT_CUBIC_AREA]
			  ,a.[AVAILABLE_CUBIC_AREA]
			  ,a.[CURRENT_WEIGHT]
			  ,a.[AVAILABLE_WEIGHT]
			  ,a.[LOCATION_CURRENT_UNITS]
			  ,a.[LOCATION_AVAILABLE_UNITS]
			  ,a.[INVENTORY_ITEM_ID]
			  ,a.[SUGGESTED_CUBIC_AREA]
			  ,a.[SUGGESTED_WEIGHT]
			  ,a.[LOCATION_SUGGESTED_UNITS]
			  ,a.[EMPTY_FLAG]
			  ,a.[MIXED_ITEMS_FLAG]
			  ,a.[DROPPING_ORDER]
			  ,a.[AVAILABILITY_TYPE]
			  ,a.[INVENTORY_ATP_CODE]
			  ,a.[RESERVABLE_TYPE]
			  ,a.[ALIAS]
			  ,a.[INV_DOCK_DOOR_ID]
			  ,a.[INV_ORG_ID]
			  ,a.[AREA_ROW_ID]
			  ,a.[Fingerprint]
			FROM (
				MERGE Oracle.INV_MTL_ITEM_LOCATIONS b
				USING (SELECT * FROM #ItemLocations) a
				ON a.Inventory_Location_ID = b.Inventory_Location_ID AND b.CurrentRecord = 1 --swap with business key of table
				WHEN NOT MATCHED --BY TARGET 
				THEN INSERT (
				   [INVENTORY_LOCATION_ID]
				  ,[ORGANIZATION_ID]
				  ,[LAST_UPDATE_DATE]
				  ,[LAST_UPDATED_BY]
				  ,[CREATION_DATE]
				  ,[CREATED_BY]
				  ,[LAST_UPDATE_LOGIN]
				  ,[DESCRIPTION]
				  ,[DESCRIPTIVE_TEXT]
				  ,[DISABLE_DATE]
				  ,[INVENTORY_LOCATION_TYPE]
				  ,[PICKING_ORDER]
				  ,[PHYSICAL_LOCATION_CODE]
				  ,[LOCATION_MAXIMUM_UNITS]
				  ,[SUBINVENTORY_CODE]
				  ,[LOCATION_WEIGHT_UOM_CODE]
				  ,[MAX_WEIGHT]
				  ,[VOLUME_UOM_CODE]
				  ,[MAX_CUBIC_AREA]
				  ,[X_COORDINATE]
				  ,[Y_COORDINATE]
				  ,[Z_COORDINATE]
				  ,[INVENTORY_ACCOUNT_ID]
				  ,[SEGMENT1]
				  ,[SEGMENT2]
				  ,[SEGMENT3]
				  ,[SEGMENT4]
				  ,[SEGMENT5]
				  ,[SEGMENT6]
				  ,[SEGMENT7]
				  ,[SEGMENT8]
				  ,[SEGMENT9]
				  ,[SEGMENT10]
				  ,[SEGMENT11]
				  ,[SEGMENT12]
				  ,[SEGMENT13]
				  ,[SEGMENT14]
				  ,[SEGMENT15]
				  ,[SEGMENT16]
				  ,[SEGMENT17]
				  ,[SEGMENT18]
				  ,[SEGMENT19]
				  ,[SEGMENT20]
				  ,[SUMMARY_FLAG]
				  ,[ENABLED_FLAG]
				  ,[START_DATE_ACTIVE]
				  ,[END_DATE_ACTIVE]
				  ,[ATTRIBUTE_CATEGORY]
				  ,[ATTRIBUTE1]
				  ,[ATTRIBUTE2]
				  ,[ATTRIBUTE3]
				  ,[ATTRIBUTE4]
				  ,[ATTRIBUTE5]
				  ,[ATTRIBUTE6]
				  ,[ATTRIBUTE7]
				  ,[ATTRIBUTE8]
				  ,[ATTRIBUTE9]
				  ,[ATTRIBUTE10]
				  ,[ATTRIBUTE11]
				  ,[ATTRIBUTE12]
				  ,[ATTRIBUTE13]
				  ,[ATTRIBUTE14]
				  ,[ATTRIBUTE15]
				  ,[REQUEST_ID]
				  ,[PROGRAM_APPLICATION_ID]
				  ,[PROGRAM_ID]
				  ,[PROGRAM_UPDATE_DATE]
				  ,[PROJECT_ID]
				  ,[TASK_ID]
				  ,[PHYSICAL_LOCATION_ID]
				  ,[PICK_UOM_CODE]
				  ,[DIMENSION_UOM_CODE]
				  ,[LENGTH]
				  ,[WIDTH]
				  ,[HEIGHT]
				  ,[LOCATOR_STATUS]
				  ,[STATUS_ID]
				  ,[CURRENT_CUBIC_AREA]
				  ,[AVAILABLE_CUBIC_AREA]
				  ,[CURRENT_WEIGHT]
				  ,[AVAILABLE_WEIGHT]
				  ,[LOCATION_CURRENT_UNITS]
				  ,[LOCATION_AVAILABLE_UNITS]
				  ,[INVENTORY_ITEM_ID]
				  ,[SUGGESTED_CUBIC_AREA]
				  ,[SUGGESTED_WEIGHT]
				  ,[LOCATION_SUGGESTED_UNITS]
				  ,[EMPTY_FLAG]
				  ,[MIXED_ITEMS_FLAG]
				  ,[DROPPING_ORDER]
				  ,[AVAILABILITY_TYPE]
				  ,[INVENTORY_ATP_CODE]
				  ,[RESERVABLE_TYPE]
				  ,[ALIAS]
				  ,[INV_DOCK_DOOR_ID]
				  ,[INV_ORG_ID]
				  ,[AREA_ROW_ID]
				  ,[Fingerprint]
				)
				VALUES (
				   a.[INVENTORY_LOCATION_ID]
				  ,a.[ORGANIZATION_ID]
				  ,a.[LAST_UPDATE_DATE]
				  ,a.[LAST_UPDATED_BY]
				  ,a.[CREATION_DATE]
				  ,a.[CREATED_BY]
				  ,a.[LAST_UPDATE_LOGIN]
				  ,a.[DESCRIPTION]
				  ,a.[DESCRIPTIVE_TEXT]
				  ,a.[DISABLE_DATE]
				  ,a.[INVENTORY_LOCATION_TYPE]
				  ,a.[PICKING_ORDER]
				  ,a.[PHYSICAL_LOCATION_CODE]
				  ,a.[LOCATION_MAXIMUM_UNITS]
				  ,a.[SUBINVENTORY_CODE]
				  ,a.[LOCATION_WEIGHT_UOM_CODE]
				  ,a.[MAX_WEIGHT]
				  ,a.[VOLUME_UOM_CODE]
				  ,a.[MAX_CUBIC_AREA]
				  ,a.[X_COORDINATE]
				  ,a.[Y_COORDINATE]
				  ,a.[Z_COORDINATE]
				  ,a.[INVENTORY_ACCOUNT_ID]
				  ,a.[SEGMENT1]
				  ,a.[SEGMENT2]
				  ,a.[SEGMENT3]
				  ,a.[SEGMENT4]
				  ,a.[SEGMENT5]
				  ,a.[SEGMENT6]
				  ,a.[SEGMENT7]
				  ,a.[SEGMENT8]
				  ,a.[SEGMENT9]
				  ,a.[SEGMENT10]
				  ,a.[SEGMENT11]
				  ,a.[SEGMENT12]
				  ,a.[SEGMENT13]
				  ,a.[SEGMENT14]
				  ,a.[SEGMENT15]
				  ,a.[SEGMENT16]
				  ,a.[SEGMENT17]
				  ,a.[SEGMENT18]
				  ,a.[SEGMENT19]
				  ,a.[SEGMENT20]
				  ,a.[SUMMARY_FLAG]
				  ,a.[ENABLED_FLAG]
				  ,a.[START_DATE_ACTIVE]
				  ,a.[END_DATE_ACTIVE]
				  ,a.[ATTRIBUTE_CATEGORY]
				  ,a.[ATTRIBUTE1]
				  ,a.[ATTRIBUTE2]
				  ,a.[ATTRIBUTE3]
				  ,a.[ATTRIBUTE4]
				  ,a.[ATTRIBUTE5]
				  ,a.[ATTRIBUTE6]
				  ,a.[ATTRIBUTE7]
				  ,a.[ATTRIBUTE8]
				  ,a.[ATTRIBUTE9]
				  ,a.[ATTRIBUTE10]
				  ,a.[ATTRIBUTE11]
				  ,a.[ATTRIBUTE12]
				  ,a.[ATTRIBUTE13]
				  ,a.[ATTRIBUTE14]
				  ,a.[ATTRIBUTE15]
				  ,a.[REQUEST_ID]
				  ,a.[PROGRAM_APPLICATION_ID]
				  ,a.[PROGRAM_ID]
				  ,a.[PROGRAM_UPDATE_DATE]
				  ,a.[PROJECT_ID]
				  ,a.[TASK_ID]
				  ,a.[PHYSICAL_LOCATION_ID]
				  ,a.[PICK_UOM_CODE]
				  ,a.[DIMENSION_UOM_CODE]
				  ,a.[LENGTH]
				  ,a.[WIDTH]
				  ,a.[HEIGHT]
				  ,a.[LOCATOR_STATUS]
				  ,a.[STATUS_ID]
				  ,a.[CURRENT_CUBIC_AREA]
				  ,a.[AVAILABLE_CUBIC_AREA]
				  ,a.[CURRENT_WEIGHT]
				  ,a.[AVAILABLE_WEIGHT]
				  ,a.[LOCATION_CURRENT_UNITS]
				  ,a.[LOCATION_AVAILABLE_UNITS]
				  ,a.[INVENTORY_ITEM_ID]
				  ,a.[SUGGESTED_CUBIC_AREA]
				  ,a.[SUGGESTED_WEIGHT]
				  ,a.[LOCATION_SUGGESTED_UNITS]
				  ,a.[EMPTY_FLAG]
				  ,a.[MIXED_ITEMS_FLAG]
				  ,a.[DROPPING_ORDER]
				  ,a.[AVAILABILITY_TYPE]
				  ,a.[INVENTORY_ATP_CODE]
				  ,a.[RESERVABLE_TYPE]
				  ,a.[ALIAS]
				  ,a.[INV_DOCK_DOOR_ID]
				  ,a.[INV_ORG_ID]
				  ,a.[AREA_ROW_ID]
				  ,a.[Fingerprint]
				)
				--Existing records that have changed are expired
				WHEN MATCHED AND a.Fingerprint<>b.Fingerprint
				THEN UPDATE SET b.EndDate=GETDATE()
					,b.CurrentRecord=0
				OUTPUT 
				   a.[INVENTORY_LOCATION_ID]
				  ,a.[ORGANIZATION_ID]
				  ,a.[LAST_UPDATE_DATE]
				  ,a.[LAST_UPDATED_BY]
				  ,a.[CREATION_DATE]
				  ,a.[CREATED_BY]
				  ,a.[LAST_UPDATE_LOGIN]
				  ,a.[DESCRIPTION]
				  ,a.[DESCRIPTIVE_TEXT]
				  ,a.[DISABLE_DATE]
				  ,a.[INVENTORY_LOCATION_TYPE]
				  ,a.[PICKING_ORDER]
				  ,a.[PHYSICAL_LOCATION_CODE]
				  ,a.[LOCATION_MAXIMUM_UNITS]
				  ,a.[SUBINVENTORY_CODE]
				  ,a.[LOCATION_WEIGHT_UOM_CODE]
				  ,a.[MAX_WEIGHT]
				  ,a.[VOLUME_UOM_CODE]
				  ,a.[MAX_CUBIC_AREA]
				  ,a.[X_COORDINATE]
				  ,a.[Y_COORDINATE]
				  ,a.[Z_COORDINATE]
				  ,a.[INVENTORY_ACCOUNT_ID]
				  ,a.[SEGMENT1]
				  ,a.[SEGMENT2]
				  ,a.[SEGMENT3]
				  ,a.[SEGMENT4]
				  ,a.[SEGMENT5]
				  ,a.[SEGMENT6]
				  ,a.[SEGMENT7]
				  ,a.[SEGMENT8]
				  ,a.[SEGMENT9]
				  ,a.[SEGMENT10]
				  ,a.[SEGMENT11]
				  ,a.[SEGMENT12]
				  ,a.[SEGMENT13]
				  ,a.[SEGMENT14]
				  ,a.[SEGMENT15]
				  ,a.[SEGMENT16]
				  ,a.[SEGMENT17]
				  ,a.[SEGMENT18]
				  ,a.[SEGMENT19]
				  ,a.[SEGMENT20]
				  ,a.[SUMMARY_FLAG]
				  ,a.[ENABLED_FLAG]
				  ,a.[START_DATE_ACTIVE]
				  ,a.[END_DATE_ACTIVE]
				  ,a.[ATTRIBUTE_CATEGORY]
				  ,a.[ATTRIBUTE1]
				  ,a.[ATTRIBUTE2]
				  ,a.[ATTRIBUTE3]
				  ,a.[ATTRIBUTE4]
				  ,a.[ATTRIBUTE5]
				  ,a.[ATTRIBUTE6]
				  ,a.[ATTRIBUTE7]
				  ,a.[ATTRIBUTE8]
				  ,a.[ATTRIBUTE9]
				  ,a.[ATTRIBUTE10]
				  ,a.[ATTRIBUTE11]
				  ,a.[ATTRIBUTE12]
				  ,a.[ATTRIBUTE13]
				  ,a.[ATTRIBUTE14]
				  ,a.[ATTRIBUTE15]
				  ,a.[REQUEST_ID]
				  ,a.[PROGRAM_APPLICATION_ID]
				  ,a.[PROGRAM_ID]
				  ,a.[PROGRAM_UPDATE_DATE]
				  ,a.[PROJECT_ID]
				  ,a.[TASK_ID]
				  ,a.[PHYSICAL_LOCATION_ID]
				  ,a.[PICK_UOM_CODE]
				  ,a.[DIMENSION_UOM_CODE]
				  ,a.[LENGTH]
				  ,a.[WIDTH]
				  ,a.[HEIGHT]
				  ,a.[LOCATOR_STATUS]
				  ,a.[STATUS_ID]
				  ,a.[CURRENT_CUBIC_AREA]
				  ,a.[AVAILABLE_CUBIC_AREA]
				  ,a.[CURRENT_WEIGHT]
				  ,a.[AVAILABLE_WEIGHT]
				  ,a.[LOCATION_CURRENT_UNITS]
				  ,a.[LOCATION_AVAILABLE_UNITS]
				  ,a.[INVENTORY_ITEM_ID]
				  ,a.[SUGGESTED_CUBIC_AREA]
				  ,a.[SUGGESTED_WEIGHT]
				  ,a.[LOCATION_SUGGESTED_UNITS]
				  ,a.[EMPTY_FLAG]
				  ,a.[MIXED_ITEMS_FLAG]
				  ,a.[DROPPING_ORDER]
				  ,a.[AVAILABILITY_TYPE]
				  ,a.[INVENTORY_ATP_CODE]
				  ,a.[RESERVABLE_TYPE]
				  ,a.[ALIAS]
				  ,a.[INV_DOCK_DOOR_ID]
				  ,a.[INV_ORG_ID]
				  ,a.[AREA_ROW_ID]
				  ,a.[Fingerprint]
					  ,$Action AS Action
			) a
			WHERE Action = 'Update'
			;
	

	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Done', GETDATE()

	DROP TABLE #ItemLocations

END
GO
