USE [Operations]
GO
/****** Object:  StoredProcedure [Oracle].[Merge_JTF_RS_RESOURCE_EXTNS_VL]    Script Date: 7/10/2025 11:43:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Oracle].[Merge_JTF_RS_RESOURCE_EXTNS_VL] 
AS BEGIN

	CREATE TABLE #Resource (
		--<column-list>
	[ROW_ID] [char](18) NULL,
	[RESOURCE_ID] [float] NOT NULL,
	[CREATED_BY] [float] NOT NULL,
	[CREATION_DATE] [datetime2](7) NOT NULL,
	[LAST_UPDATED_BY] [float] NOT NULL,
	[LAST_UPDATE_DATE] [datetime2](7) NOT NULL,
	[LAST_UPDATE_LOGIN] [float] NULL,
	[CATEGORY] [nvarchar](30) NOT NULL,
	[RESOURCE_NUMBER] [nvarchar](30) NOT NULL,
	[SOURCE_ID] [float] NULL,
	[ADDRESS_ID] [float] NULL,
	[CONTACT_ID] [float] NULL,
	[MANAGING_EMPLOYEE_ID] [float] NULL,
	[START_DATE_ACTIVE] [datetime2](7) NOT NULL,
	[END_DATE_ACTIVE] [datetime2](7) NULL,
	[TIME_ZONE] [float] NULL,
	[COST_PER_HR] [float] NULL,
	[PRIMARY_LANGUAGE] [nvarchar](30) NULL,
	[SECONDARY_LANGUAGE] [nvarchar](30) NULL,
	[IES_AGENT_LOGIN] [nvarchar](240) NULL,
	[SERVER_GROUP_ID] [float] NULL,
	[ASSIGNED_TO_GROUP_ID] [float] NULL,
	[COST_CENTER] [nvarchar](30) NULL,
	[CHARGE_TO_COST_CENTER] [nvarchar](30) NULL,
	[COMPENSATION_CURRENCY_CODE] [nvarchar](15) NULL,
	[COMMISSIONABLE_FLAG] [nvarchar](1) NULL,
	[HOLD_REASON_CODE] [nvarchar](30) NULL,
	[HOLD_PAYMENT] [nvarchar](1) NULL,
	[COMP_SERVICE_TEAM_ID] [float] NULL,
	[TRANSACTION_NUMBER] [float] NULL,
	[OBJECT_VERSION_NUMBER] [float] NOT NULL,
	[ATTRIBUTE1] [nvarchar](150) NULL,
	[ATTRIBUTE2] [nvarchar](150) NULL,
	[ATTRIBUTE3] [nvarchar](150) NULL,
	[ATTRIBUTE4] [nvarchar](150) NULL,
	[ATTRIBUTE5] [nvarchar](150) NULL,
	[ATTRIBUTE6] [nvarchar](150) NULL,
	[ATTRIBUTE7] [nvarchar](150) NULL,
	[ATTRIBUTE8] [nvarchar](150) NULL,
	[ATTRIBUTE9] [nvarchar](150) NULL,
	[ATTRIBUTE10] [nvarchar](150) NULL,
	[ATTRIBUTE11] [nvarchar](150) NULL,
	[ATTRIBUTE12] [nvarchar](150) NULL,
	[ATTRIBUTE13] [nvarchar](150) NULL,
	[ATTRIBUTE14] [nvarchar](150) NULL,
	[ATTRIBUTE15] [nvarchar](150) NULL,
	[ATTRIBUTE_CATEGORY] [nvarchar](30) NULL,
	[USER_ID] [float] NULL,
	[SUPPORT_SITE_ID] [float] NULL,
	[RESOURCE_NAME] [nvarchar](360) NULL,
	[SOURCE_NAME] [nvarchar](360) NULL,
	[SOURCE_NUMBER] [nvarchar](30) NULL,
	[SOURCE_JOB_TITLE] [nvarchar](240) NULL,
	[SOURCE_EMAIL] [nvarchar](2000) NULL,
	[SOURCE_PHONE] [nvarchar](2000) NULL,
	[SOURCE_ORG_ID] [float] NULL,
	[SOURCE_ORG_NAME] [nvarchar](360) NULL,
	[SOURCE_ADDRESS1] [nvarchar](240) NULL,
	[SOURCE_ADDRESS2] [nvarchar](240) NULL,
	[SOURCE_ADDRESS3] [nvarchar](240) NULL,
	[SOURCE_ADDRESS4] [nvarchar](240) NULL,
	[SOURCE_CITY] [nvarchar](60) NULL,
	[SOURCE_POSTAL_CODE] [nvarchar](60) NULL,
	[SOURCE_STATE] [nvarchar](150) NULL,
	[SOURCE_PROVINCE] [nvarchar](150) NULL,
	[SOURCE_COUNTY] [nvarchar](150) NULL,
	[SOURCE_COUNTRY] [nvarchar](60) NULL,
	[SOURCE_MGR_ID] [float] NULL,
	[SOURCE_MGR_NAME] [nvarchar](360) NULL,
	[SOURCE_BUSINESS_GRP_ID] [float] NULL,
	[SOURCE_BUSINESS_GRP_NAME] [nvarchar](360) NULL,
	[SOURCE_FIRST_NAME] [nvarchar](360) NULL,
	[SOURCE_MIDDLE_NAME] [nvarchar](360) NULL,
	[SOURCE_LAST_NAME] [nvarchar](360) NULL,
	[SOURCE_CATEGORY] [nvarchar](360) NULL,
	[SOURCE_STATUS] [nvarchar](360) NULL,
	[USER_NAME] [nvarchar](100) NULL,
	[SOURCE_OFFICE] [nvarchar](45) NULL,
	[SOURCE_LOCATION] [nvarchar](45) NULL,
	[SOURCE_MAILSTOP] [nvarchar](45) NULL,
	[SOURCE_MOBILE_PHONE] [nvarchar](60) NULL,
	[SOURCE_PAGER] [nvarchar](60) NULL,
	[SOURCE_JOB_ID] [float] NULL,
	[PERSON_PARTY_ID] [float] NULL,
	[FS_SETUP_COMPLETE] [nvarchar](1) NULL,
	[FINGERPRINT] [varchar](32) NOT NULL
	) 

	--insert steps to log what is happening.  If the job fails, we can check the ETLLog and see where it failed.
	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Oracle Download', GETDATE()
	
	INSERT INTO #Resource (
		  --<column-list>
		  [ROW_ID],
		  [RESOURCE_ID],
		  [CREATED_BY],
		  [CREATION_DATE],
		  [LAST_UPDATED_BY],
		  [LAST_UPDATE_DATE],
		  [LAST_UPDATE_LOGIN],
		  [CATEGORY],
		  [RESOURCE_NUMBER],
		  [SOURCE_ID],
		  [ADDRESS_ID],
		  [CONTACT_ID],
		  [MANAGING_EMPLOYEE_ID],
		  [START_DATE_ACTIVE],
		  [END_DATE_ACTIVE],
		  [TIME_ZONE],
		  [COST_PER_HR],
		  [PRIMARY_LANGUAGE],
		  [SECONDARY_LANGUAGE],
		  [IES_AGENT_LOGIN],
		  [SERVER_GROUP_ID],
		  [ASSIGNED_TO_GROUP_ID],
		  [COST_CENTER],
		  [CHARGE_TO_COST_CENTER],
		  [COMPENSATION_CURRENCY_CODE],
		  [COMMISSIONABLE_FLAG],
		  [HOLD_REASON_CODE],
		  [HOLD_PAYMENT],
		  [COMP_SERVICE_TEAM_ID],
		  [TRANSACTION_NUMBER],
		  [OBJECT_VERSION_NUMBER],
		  [ATTRIBUTE1],
		  [ATTRIBUTE2],
		  [ATTRIBUTE3],
		  [ATTRIBUTE4],
		  [ATTRIBUTE5],
		  [ATTRIBUTE6],
		  [ATTRIBUTE7],
		  [ATTRIBUTE8],
		  [ATTRIBUTE9],
		  [ATTRIBUTE10],
		  [ATTRIBUTE11],
		  [ATTRIBUTE12],
		  [ATTRIBUTE13],
		  [ATTRIBUTE14],
		  [ATTRIBUTE15],
		  [ATTRIBUTE_CATEGORY],
		  [USER_ID],
		  [SUPPORT_SITE_ID],
		  [RESOURCE_NAME],
		  [SOURCE_NAME],
		  [SOURCE_NUMBER],
		  [SOURCE_JOB_TITLE],
		  [SOURCE_EMAIL],
		  [SOURCE_PHONE],
		  [SOURCE_ORG_ID],
		  [SOURCE_ORG_NAME],
		  [SOURCE_ADDRESS1],
		  [SOURCE_ADDRESS2],
		  [SOURCE_ADDRESS3],
		  [SOURCE_ADDRESS4],
		  [SOURCE_CITY],
		  [SOURCE_POSTAL_CODE],
		  [SOURCE_STATE],
		  [SOURCE_PROVINCE],
		  [SOURCE_COUNTY],
		  [SOURCE_COUNTRY],
		  [SOURCE_MGR_ID],
		  [SOURCE_MGR_NAME],
		  [SOURCE_BUSINESS_GRP_ID],
		  [SOURCE_BUSINESS_GRP_NAME],
		  [SOURCE_FIRST_NAME],
		  [SOURCE_MIDDLE_NAME],
		  [SOURCE_LAST_NAME],
		  [SOURCE_CATEGORY],
		  [SOURCE_STATUS],
		  [USER_NAME],
		  [SOURCE_OFFICE],
		  [SOURCE_LOCATION],
		  [SOURCE_MAILSTOP],
		  [SOURCE_MOBILE_PHONE],
		  [SOURCE_PAGER],
		  [SOURCE_JOB_ID],
		  [PERSON_PARTY_ID],
		  [FS_SETUP_COMPLETE],
		  [Fingerprint]
	  )
	SELECT 
		 --<column-list>
		  [ROW_ID],
		  [RESOURCE_ID],
		  [CREATED_BY],
		  [CREATION_DATE],
		  [LAST_UPDATED_BY],
		  [LAST_UPDATE_DATE],
		  [LAST_UPDATE_LOGIN],
		  [CATEGORY],
		  [RESOURCE_NUMBER],
		  [SOURCE_ID],
		  [ADDRESS_ID],
		  [CONTACT_ID],
		  [MANAGING_EMPLOYEE_ID],
		  [START_DATE_ACTIVE],
		  [END_DATE_ACTIVE],
		  [TIME_ZONE],
		  [COST_PER_HR],
		  [PRIMARY_LANGUAGE],
		  [SECONDARY_LANGUAGE],
		  [IES_AGENT_LOGIN],
		  [SERVER_GROUP_ID],
		  [ASSIGNED_TO_GROUP_ID],
		  [COST_CENTER],
		  [CHARGE_TO_COST_CENTER],
		  [COMPENSATION_CURRENCY_CODE],
		  [COMMISSIONABLE_FLAG],
		  [HOLD_REASON_CODE],
		  [HOLD_PAYMENT],
		  [COMP_SERVICE_TEAM_ID],
		  [TRANSACTION_NUMBER],
		  [OBJECT_VERSION_NUMBER],
		  [ATTRIBUTE1],
		  [ATTRIBUTE2],
		  [ATTRIBUTE3],
		  [ATTRIBUTE4],
		  [ATTRIBUTE5],
		  [ATTRIBUTE6],
		  [ATTRIBUTE7],
		  [ATTRIBUTE8],
		  [ATTRIBUTE9],
		  [ATTRIBUTE10],
		  [ATTRIBUTE11],
		  [ATTRIBUTE12],
		  [ATTRIBUTE13],
		  [ATTRIBUTE14],
		  [ATTRIBUTE15],
		  [ATTRIBUTE_CATEGORY],
		  [USER_ID],
		  [SUPPORT_SITE_ID],
		  [RESOURCE_NAME],
		  [SOURCE_NAME],
		  [SOURCE_NUMBER],
		  [SOURCE_JOB_TITLE],
		  [SOURCE_EMAIL],
		  [SOURCE_PHONE],
		  [SOURCE_ORG_ID],
		  [SOURCE_ORG_NAME],
		  [SOURCE_ADDRESS1],
		  [SOURCE_ADDRESS2],
		  [SOURCE_ADDRESS3],
		  [SOURCE_ADDRESS4],
		  [SOURCE_CITY],
		  [SOURCE_POSTAL_CODE],
		  [SOURCE_STATE],
		  [SOURCE_PROVINCE],
		  [SOURCE_COUNTY],
		  [SOURCE_COUNTRY],
		  [SOURCE_MGR_ID],
		  [SOURCE_MGR_NAME],
		  [SOURCE_BUSINESS_GRP_ID],
		  [SOURCE_BUSINESS_GRP_NAME],
		  [SOURCE_FIRST_NAME],
		  [SOURCE_MIDDLE_NAME],
		  [SOURCE_LAST_NAME],
		  [SOURCE_CATEGORY],
		  [SOURCE_STATUS],
		  [USER_NAME],
		  [SOURCE_OFFICE],
		  [SOURCE_LOCATION],
		  [SOURCE_MAILSTOP],
		  [SOURCE_MOBILE_PHONE],
		  [SOURCE_PAGER],
		  [SOURCE_JOB_ID],
		  [PERSON_PARTY_ID],
		  [FS_SETUP_COMPLETE],
		  'XXX' AS [Fingerprint]
	FROM OPENQUERY(PROD, '
		SELECT * FROM JTF_RS_RESOURCE_EXTNS_VL
		WHERE CREATION_DATE > sysdate - 7 OR LAST_UPDATE_DATE > sysdate - 7
	')
	--8000 character limit for openqueries
	
	/*	--run this and replace @columnList below
		DECLARE @columnList VARCHAR(MAX) = dbo.getHashField ('JTF_RS_RESOURCE_EXTNS_VL','Oracle') SELECT @columnList
	*/

	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Fingerprint', GETDATE()

	UPDATE #Resource
	SET Fingerprint = 
		SUBSTRING(LOWER(CONVERT(VARCHAR(32),HASHBYTES('MD5',
			--replace @columnList result here
		CAST(ISNULL([ROW_ID],'') AS VARCHAR(18)) +  CAST(ISNULL([RESOURCE_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([CREATED_BY],'0') AS VARCHAR(100)) +  CAST(ISNULL([CREATION_DATE],'') AS VARCHAR(100)) +  CAST(ISNULL([LAST_UPDATED_BY],'0') AS VARCHAR(100)) +  CAST(ISNULL([LAST_UPDATE_DATE],'') AS VARCHAR(100)) +  CAST(ISNULL([LAST_UPDATE_LOGIN],'0') AS VARCHAR(100)) +  CAST(ISNULL([CATEGORY],'') AS VARCHAR(30)) +  CAST(ISNULL([RESOURCE_NUMBER],'') AS VARCHAR(30)) +  CAST(ISNULL([SOURCE_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([ADDRESS_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([CONTACT_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([MANAGING_EMPLOYEE_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([START_DATE_ACTIVE],'') AS VARCHAR(100)) +  CAST(ISNULL([END_DATE_ACTIVE],'') AS VARCHAR(100)) +  CAST(ISNULL([TIME_ZONE],'0') AS VARCHAR(100)) +  CAST(ISNULL([COST_PER_HR],'0') AS VARCHAR(100)) +  CAST(ISNULL([PRIMARY_LANGUAGE],'') AS VARCHAR(30)) +  CAST(ISNULL([SECONDARY_LANGUAGE],'') AS VARCHAR(30)) +  CAST(ISNULL([IES_AGENT_LOGIN],'') AS VARCHAR(240)) +  CAST(ISNULL([SERVER_GROUP_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([ASSIGNED_TO_GROUP_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([COST_CENTER],'') AS VARCHAR(30)) +  CAST(ISNULL([CHARGE_TO_COST_CENTER],'') AS VARCHAR(30)) +  CAST(ISNULL([COMPENSATION_CURRENCY_CODE],'') AS VARCHAR(15)) +  CAST(ISNULL([COMMISSIONABLE_FLAG],'') AS VARCHAR(1)) +  CAST(ISNULL([HOLD_REASON_CODE],'') AS VARCHAR(30)) +  CAST(ISNULL([HOLD_PAYMENT],'') AS VARCHAR(1)) +  CAST(ISNULL([COMP_SERVICE_TEAM_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([TRANSACTION_NUMBER],'0') AS VARCHAR(100)) +  CAST(ISNULL([OBJECT_VERSION_NUMBER],'0') AS VARCHAR(100)) +  CAST(ISNULL([ATTRIBUTE1],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE2],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE3],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE4],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE5],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE6],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE7],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE8],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE9],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE10],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE11],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE12],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE13],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE14],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE15],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE_CATEGORY],'') AS VARCHAR(30)) +  CAST(ISNULL([USER_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([SUPPORT_SITE_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([RESOURCE_NAME],'') AS VARCHAR(360)) +  CAST(ISNULL([SOURCE_NAME],'') AS VARCHAR(360)) +  CAST(ISNULL([SOURCE_NUMBER],'') AS VARCHAR(30)) +  CAST(ISNULL([SOURCE_JOB_TITLE],'') AS VARCHAR(240)) +  CAST(ISNULL([SOURCE_EMAIL],'') AS VARCHAR(2000)) +  CAST(ISNULL([SOURCE_PHONE],'') AS VARCHAR(2000)) +  CAST(ISNULL([SOURCE_ORG_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([SOURCE_ORG_NAME],'') AS VARCHAR(360)) +  CAST(ISNULL([SOURCE_ADDRESS1],'') AS VARCHAR(240)) +  CAST(ISNULL([SOURCE_ADDRESS2],'') AS VARCHAR(240)) +  CAST(ISNULL([SOURCE_ADDRESS3],'') AS VARCHAR(240)) +  CAST(ISNULL([SOURCE_ADDRESS4],'') AS VARCHAR(240)) +  CAST(ISNULL([SOURCE_CITY],'') AS VARCHAR(60)) +  CAST(ISNULL([SOURCE_POSTAL_CODE],'') AS VARCHAR(60)) +  CAST(ISNULL([SOURCE_STATE],'') AS VARCHAR(150)) +  CAST(ISNULL([SOURCE_PROVINCE],'') AS VARCHAR(150)) +  CAST(ISNULL([SOURCE_COUNTY],'') AS VARCHAR(150)) +  CAST(ISNULL([SOURCE_COUNTRY],'') AS VARCHAR(60)) +  CAST(ISNULL([SOURCE_MGR_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([SOURCE_MGR_NAME],'') AS VARCHAR(360)) +  CAST(ISNULL([SOURCE_BUSINESS_GRP_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([SOURCE_BUSINESS_GRP_NAME],'') AS VARCHAR(360)) +  CAST(ISNULL([SOURCE_FIRST_NAME],'') AS VARCHAR(360)) +  CAST(ISNULL([SOURCE_MIDDLE_NAME],'') AS VARCHAR(360)) +  CAST(ISNULL([SOURCE_LAST_NAME],'') AS VARCHAR(360)) +  CAST(ISNULL([SOURCE_CATEGORY],'') AS VARCHAR(360)) +  CAST(ISNULL([SOURCE_STATUS],'') AS VARCHAR(360)) +  CAST(ISNULL([USER_NAME],'') AS VARCHAR(100)) +  CAST(ISNULL([SOURCE_OFFICE],'') AS VARCHAR(45)) +  CAST(ISNULL([SOURCE_LOCATION],'') AS VARCHAR(45)) +  CAST(ISNULL([SOURCE_MAILSTOP],'') AS VARCHAR(45)) +  CAST(ISNULL([SOURCE_MOBILE_PHONE],'') AS VARCHAR(60)) +  CAST(ISNULL([SOURCE_PAGER],'') AS VARCHAR(60)) +  CAST(ISNULL([SOURCE_JOB_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([PERSON_PARTY_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([FS_SETUP_COMPLETE],'') AS VARCHAR(1)) 
		),1)),3,32);


	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Merge', GETDATE()

	INSERT INTO #Resource (
		  --<column-list>
		  [ROW_ID],
		  [RESOURCE_ID],
		  [CREATED_BY],
		  [CREATION_DATE],
		  [LAST_UPDATED_BY],
		  [LAST_UPDATE_DATE],
		  [LAST_UPDATE_LOGIN],
		  [CATEGORY],
		  [RESOURCE_NUMBER],
		  [SOURCE_ID],
		  [ADDRESS_ID],
		  [CONTACT_ID],
		  [MANAGING_EMPLOYEE_ID],
		  [START_DATE_ACTIVE],
		  [END_DATE_ACTIVE],
		  [TIME_ZONE],
		  [COST_PER_HR],
		  [PRIMARY_LANGUAGE],
		  [SECONDARY_LANGUAGE],
		  [IES_AGENT_LOGIN],
		  [SERVER_GROUP_ID],
		  [ASSIGNED_TO_GROUP_ID],
		  [COST_CENTER],
		  [CHARGE_TO_COST_CENTER],
		  [COMPENSATION_CURRENCY_CODE],
		  [COMMISSIONABLE_FLAG],
		  [HOLD_REASON_CODE],
		  [HOLD_PAYMENT],
		  [COMP_SERVICE_TEAM_ID],
		  [TRANSACTION_NUMBER],
		  [OBJECT_VERSION_NUMBER],
		  [ATTRIBUTE1],
		  [ATTRIBUTE2],
		  [ATTRIBUTE3],
		  [ATTRIBUTE4],
		  [ATTRIBUTE5],
		  [ATTRIBUTE6],
		  [ATTRIBUTE7],
		  [ATTRIBUTE8],
		  [ATTRIBUTE9],
		  [ATTRIBUTE10],
		  [ATTRIBUTE11],
		  [ATTRIBUTE12],
		  [ATTRIBUTE13],
		  [ATTRIBUTE14],
		  [ATTRIBUTE15],
		  [ATTRIBUTE_CATEGORY],
		  [USER_ID],
		  [SUPPORT_SITE_ID],
		  [RESOURCE_NAME],
		  [SOURCE_NAME],
		  [SOURCE_NUMBER],
		  [SOURCE_JOB_TITLE],
		  [SOURCE_EMAIL],
		  [SOURCE_PHONE],
		  [SOURCE_ORG_ID],
		  [SOURCE_ORG_NAME],
		  [SOURCE_ADDRESS1],
		  [SOURCE_ADDRESS2],
		  [SOURCE_ADDRESS3],
		  [SOURCE_ADDRESS4],
		  [SOURCE_CITY],
		  [SOURCE_POSTAL_CODE],
		  [SOURCE_STATE],
		  [SOURCE_PROVINCE],
		  [SOURCE_COUNTY],
		  [SOURCE_COUNTRY],
		  [SOURCE_MGR_ID],
		  [SOURCE_MGR_NAME],
		  [SOURCE_BUSINESS_GRP_ID],
		  [SOURCE_BUSINESS_GRP_NAME],
		  [SOURCE_FIRST_NAME],
		  [SOURCE_MIDDLE_NAME],
		  [SOURCE_LAST_NAME],
		  [SOURCE_CATEGORY],
		  [SOURCE_STATUS],
		  [USER_NAME],
		  [SOURCE_OFFICE],
		  [SOURCE_LOCATION],
		  [SOURCE_MAILSTOP],
		  [SOURCE_MOBILE_PHONE],
		  [SOURCE_PAGER],
		  [SOURCE_JOB_ID],
		  [PERSON_PARTY_ID],
		  [FS_SETUP_COMPLETE],
		  [Fingerprint]
	)
		SELECT 
			  --a.<column-list>
		  a.[ROW_ID],
		  a.[RESOURCE_ID],
		  a.[CREATED_BY],
		  a.[CREATION_DATE],
		  a.[LAST_UPDATED_BY],
		  a.[LAST_UPDATE_DATE],
		  a.[LAST_UPDATE_LOGIN],
		  a.[CATEGORY],
		  a.[RESOURCE_NUMBER],
		  a.[SOURCE_ID],
		  a.[ADDRESS_ID],
		  a.[CONTACT_ID],
		  a.[MANAGING_EMPLOYEE_ID],
		  a.[START_DATE_ACTIVE],
		  a.[END_DATE_ACTIVE],
		  a.[TIME_ZONE],
		  a.[COST_PER_HR],
		  a.[PRIMARY_LANGUAGE],
		  a.[SECONDARY_LANGUAGE],
		  a.[IES_AGENT_LOGIN],
		  a.[SERVER_GROUP_ID],
		  a.[ASSIGNED_TO_GROUP_ID],
		  a.[COST_CENTER],
		  a.[CHARGE_TO_COST_CENTER],
		  a.[COMPENSATION_CURRENCY_CODE],
		  a.[COMMISSIONABLE_FLAG],
		  a.[HOLD_REASON_CODE],
		  a.[HOLD_PAYMENT],
		  a.[COMP_SERVICE_TEAM_ID],
		  a.[TRANSACTION_NUMBER],
		  a.[OBJECT_VERSION_NUMBER],
		  a.[ATTRIBUTE1],
		  a.[ATTRIBUTE2],
		  a.[ATTRIBUTE3],
		  a.[ATTRIBUTE4],
		  a.[ATTRIBUTE5],
		  a.[ATTRIBUTE6],
		  a.[ATTRIBUTE7],
		  a.[ATTRIBUTE8],
		  a.[ATTRIBUTE9],
		  a.[ATTRIBUTE10],
		  a.[ATTRIBUTE11],
		  a.[ATTRIBUTE12],
		  a.[ATTRIBUTE13],
		  a.[ATTRIBUTE14],
		  a.[ATTRIBUTE15],
		  a.[ATTRIBUTE_CATEGORY],
		  a.[USER_ID],
		  a.[SUPPORT_SITE_ID],
		  a.[RESOURCE_NAME],
		  a.[SOURCE_NAME],
		  a.[SOURCE_NUMBER],
		  a.[SOURCE_JOB_TITLE],
		  a.[SOURCE_EMAIL],
		  a.[SOURCE_PHONE],
		  a.[SOURCE_ORG_ID],
		  a.[SOURCE_ORG_NAME],
		  a.[SOURCE_ADDRESS1],
		  a.[SOURCE_ADDRESS2],
		  a.[SOURCE_ADDRESS3],
		  a.[SOURCE_ADDRESS4],
		  a.[SOURCE_CITY],
		  a.[SOURCE_POSTAL_CODE],
		  a.[SOURCE_STATE],
		  a.[SOURCE_PROVINCE],
		  a.[SOURCE_COUNTY],
		  a.[SOURCE_COUNTRY],
		  a.[SOURCE_MGR_ID],
		  a.[SOURCE_MGR_NAME],
		  a.[SOURCE_BUSINESS_GRP_ID],
		  a.[SOURCE_BUSINESS_GRP_NAME],
		  a.[SOURCE_FIRST_NAME],
		  a.[SOURCE_MIDDLE_NAME],
		  a.[SOURCE_LAST_NAME],
		  a.[SOURCE_CATEGORY],
		  a.[SOURCE_STATUS],
		  a.[USER_NAME],
		  a.[SOURCE_OFFICE],
		  a.[SOURCE_LOCATION],
		  a.[SOURCE_MAILSTOP],
		  a.[SOURCE_MOBILE_PHONE],
		  a.[SOURCE_PAGER],
		  a.[SOURCE_JOB_ID],
		  a.[PERSON_PARTY_ID],
		  a.[FS_SETUP_COMPLETE],
		  a.[Fingerprint]
		FROM (
			MERGE Oracle.JTF_RS_RESOURCE_EXTNS_VL b
			USING (SELECT * FROM #Resource) a
			ON a.[RESOURCE_ID] = b.[RESOURCE_ID] AND b.CurrentRecord = 1 --swap with business key of table
			WHEN NOT MATCHED --BY TARGET 
			THEN INSERT (
				  --<column-list>
				  [ROW_ID],
				  [RESOURCE_ID],
				  [CREATED_BY],
				  [CREATION_DATE],
				  [LAST_UPDATED_BY],
				  [LAST_UPDATE_DATE],
				  [LAST_UPDATE_LOGIN],
				  [CATEGORY],
				  [RESOURCE_NUMBER],
				  [SOURCE_ID],
				  [ADDRESS_ID],
				  [CONTACT_ID],
				  [MANAGING_EMPLOYEE_ID],
				  [START_DATE_ACTIVE],
				  [END_DATE_ACTIVE],
				  [TIME_ZONE],
				  [COST_PER_HR],
				  [PRIMARY_LANGUAGE],
				  [SECONDARY_LANGUAGE],
				  [IES_AGENT_LOGIN],
				  [SERVER_GROUP_ID],
				  [ASSIGNED_TO_GROUP_ID],
				  [COST_CENTER],
				  [CHARGE_TO_COST_CENTER],
				  [COMPENSATION_CURRENCY_CODE],
				  [COMMISSIONABLE_FLAG],
				  [HOLD_REASON_CODE],
				  [HOLD_PAYMENT],
				  [COMP_SERVICE_TEAM_ID],
				  [TRANSACTION_NUMBER],
				  [OBJECT_VERSION_NUMBER],
				  [ATTRIBUTE1],
				  [ATTRIBUTE2],
				  [ATTRIBUTE3],
				  [ATTRIBUTE4],
				  [ATTRIBUTE5],
				  [ATTRIBUTE6],
				  [ATTRIBUTE7],
				  [ATTRIBUTE8],
				  [ATTRIBUTE9],
				  [ATTRIBUTE10],
				  [ATTRIBUTE11],
				  [ATTRIBUTE12],
				  [ATTRIBUTE13],
				  [ATTRIBUTE14],
				  [ATTRIBUTE15],
				  [ATTRIBUTE_CATEGORY],
				  [USER_ID],
				  [SUPPORT_SITE_ID],
				  [RESOURCE_NAME],
				  [SOURCE_NAME],
				  [SOURCE_NUMBER],
				  [SOURCE_JOB_TITLE],
				  [SOURCE_EMAIL],
				  [SOURCE_PHONE],
				  [SOURCE_ORG_ID],
				  [SOURCE_ORG_NAME],
				  [SOURCE_ADDRESS1],
				  [SOURCE_ADDRESS2],
				  [SOURCE_ADDRESS3],
				  [SOURCE_ADDRESS4],
				  [SOURCE_CITY],
				  [SOURCE_POSTAL_CODE],
				  [SOURCE_STATE],
				  [SOURCE_PROVINCE],
				  [SOURCE_COUNTY],
				  [SOURCE_COUNTRY],
				  [SOURCE_MGR_ID],
				  [SOURCE_MGR_NAME],
				  [SOURCE_BUSINESS_GRP_ID],
				  [SOURCE_BUSINESS_GRP_NAME],
				  [SOURCE_FIRST_NAME],
				  [SOURCE_MIDDLE_NAME],
				  [SOURCE_LAST_NAME],
				  [SOURCE_CATEGORY],
				  [SOURCE_STATUS],
				  [USER_NAME],
				  [SOURCE_OFFICE],
				  [SOURCE_LOCATION],
				  [SOURCE_MAILSTOP],
				  [SOURCE_MOBILE_PHONE],
				  [SOURCE_PAGER],
				  [SOURCE_JOB_ID],
				  [PERSON_PARTY_ID],
				  [FS_SETUP_COMPLETE],
				  [Fingerprint]
			)
			VALUES (
				  --a.<column-list>
				  a.[ROW_ID],
				  a.[RESOURCE_ID],
				  a.[CREATED_BY],
				  a.[CREATION_DATE],
				  a.[LAST_UPDATED_BY],
				  a.[LAST_UPDATE_DATE],
				  a.[LAST_UPDATE_LOGIN],
				  a.[CATEGORY],
				  a.[RESOURCE_NUMBER],
				  a.[SOURCE_ID],
				  a.[ADDRESS_ID],
				  a.[CONTACT_ID],
				  a.[MANAGING_EMPLOYEE_ID],
				  a.[START_DATE_ACTIVE],
				  a.[END_DATE_ACTIVE],
				  a.[TIME_ZONE],
				  a.[COST_PER_HR],
				  a.[PRIMARY_LANGUAGE],
				  a.[SECONDARY_LANGUAGE],
				  a.[IES_AGENT_LOGIN],
				  a.[SERVER_GROUP_ID],
				  a.[ASSIGNED_TO_GROUP_ID],
				  a.[COST_CENTER],
				  a.[CHARGE_TO_COST_CENTER],
				  a.[COMPENSATION_CURRENCY_CODE],
				  a.[COMMISSIONABLE_FLAG],
				  a.[HOLD_REASON_CODE],
				  a.[HOLD_PAYMENT],
				  a.[COMP_SERVICE_TEAM_ID],
				  a.[TRANSACTION_NUMBER],
				  a.[OBJECT_VERSION_NUMBER],
				  a.[ATTRIBUTE1],
				  a.[ATTRIBUTE2],
				  a.[ATTRIBUTE3],
				  a.[ATTRIBUTE4],
				  a.[ATTRIBUTE5],
				  a.[ATTRIBUTE6],
				  a.[ATTRIBUTE7],
				  a.[ATTRIBUTE8],
				  a.[ATTRIBUTE9],
				  a.[ATTRIBUTE10],
				  a.[ATTRIBUTE11],
				  a.[ATTRIBUTE12],
				  a.[ATTRIBUTE13],
				  a.[ATTRIBUTE14],
				  a.[ATTRIBUTE15],
				  a.[ATTRIBUTE_CATEGORY],
				  a.[USER_ID],
				  a.[SUPPORT_SITE_ID],
				  a.[RESOURCE_NAME],
				  a.[SOURCE_NAME],
				  a.[SOURCE_NUMBER],
				  a.[SOURCE_JOB_TITLE],
				  a.[SOURCE_EMAIL],
				  a.[SOURCE_PHONE],
				  a.[SOURCE_ORG_ID],
				  a.[SOURCE_ORG_NAME],
				  a.[SOURCE_ADDRESS1],
				  a.[SOURCE_ADDRESS2],
				  a.[SOURCE_ADDRESS3],
				  a.[SOURCE_ADDRESS4],
				  a.[SOURCE_CITY],
				  a.[SOURCE_POSTAL_CODE],
				  a.[SOURCE_STATE],
				  a.[SOURCE_PROVINCE],
				  a.[SOURCE_COUNTY],
				  a.[SOURCE_COUNTRY],
				  a.[SOURCE_MGR_ID],
				  a.[SOURCE_MGR_NAME],
				  a.[SOURCE_BUSINESS_GRP_ID],
				  a.[SOURCE_BUSINESS_GRP_NAME],
				  a.[SOURCE_FIRST_NAME],
				  a.[SOURCE_MIDDLE_NAME],
				  a.[SOURCE_LAST_NAME],
				  a.[SOURCE_CATEGORY],
				  a.[SOURCE_STATUS],
				  a.[USER_NAME],
				  a.[SOURCE_OFFICE],
				  a.[SOURCE_LOCATION],
				  a.[SOURCE_MAILSTOP],
				  a.[SOURCE_MOBILE_PHONE],
				  a.[SOURCE_PAGER],
				  a.[SOURCE_JOB_ID],
				  a.[PERSON_PARTY_ID],
				  a.[FS_SETUP_COMPLETE],
				  a.[Fingerprint]
			)
			--Existing records that have changed are expired
			WHEN MATCHED AND a.Fingerprint<>b.Fingerprint
			THEN UPDATE SET b.EndDate=GETDATE()
				,b.CurrentRecord=0
			OUTPUT 
				  --a.<column-list>
				  a.[ROW_ID],
				  a.[RESOURCE_ID],
				  a.[CREATED_BY],
				  a.[CREATION_DATE],
				  a.[LAST_UPDATED_BY],
				  a.[LAST_UPDATE_DATE],
				  a.[LAST_UPDATE_LOGIN],
				  a.[CATEGORY],
				  a.[RESOURCE_NUMBER],
				  a.[SOURCE_ID],
				  a.[ADDRESS_ID],
				  a.[CONTACT_ID],
				  a.[MANAGING_EMPLOYEE_ID],
				  a.[START_DATE_ACTIVE],
				  a.[END_DATE_ACTIVE],
				  a.[TIME_ZONE],
				  a.[COST_PER_HR],
				  a.[PRIMARY_LANGUAGE],
				  a.[SECONDARY_LANGUAGE],
				  a.[IES_AGENT_LOGIN],
				  a.[SERVER_GROUP_ID],
				  a.[ASSIGNED_TO_GROUP_ID],
				  a.[COST_CENTER],
				  a.[CHARGE_TO_COST_CENTER],
				  a.[COMPENSATION_CURRENCY_CODE],
				  a.[COMMISSIONABLE_FLAG],
				  a.[HOLD_REASON_CODE],
				  a.[HOLD_PAYMENT],
				  a.[COMP_SERVICE_TEAM_ID],
				  a.[TRANSACTION_NUMBER],
				  a.[OBJECT_VERSION_NUMBER],
				  a.[ATTRIBUTE1],
				  a.[ATTRIBUTE2],
				  a.[ATTRIBUTE3],
				  a.[ATTRIBUTE4],
				  a.[ATTRIBUTE5],
				  a.[ATTRIBUTE6],
				  a.[ATTRIBUTE7],
				  a.[ATTRIBUTE8],
				  a.[ATTRIBUTE9],
				  a.[ATTRIBUTE10],
				  a.[ATTRIBUTE11],
				  a.[ATTRIBUTE12],
				  a.[ATTRIBUTE13],
				  a.[ATTRIBUTE14],
				  a.[ATTRIBUTE15],
				  a.[ATTRIBUTE_CATEGORY],
				  a.[USER_ID],
				  a.[SUPPORT_SITE_ID],
				  a.[RESOURCE_NAME],
				  a.[SOURCE_NAME],
				  a.[SOURCE_NUMBER],
				  a.[SOURCE_JOB_TITLE],
				  a.[SOURCE_EMAIL],
				  a.[SOURCE_PHONE],
				  a.[SOURCE_ORG_ID],
				  a.[SOURCE_ORG_NAME],
				  a.[SOURCE_ADDRESS1],
				  a.[SOURCE_ADDRESS2],
				  a.[SOURCE_ADDRESS3],
				  a.[SOURCE_ADDRESS4],
				  a.[SOURCE_CITY],
				  a.[SOURCE_POSTAL_CODE],
				  a.[SOURCE_STATE],
				  a.[SOURCE_PROVINCE],
				  a.[SOURCE_COUNTY],
				  a.[SOURCE_COUNTRY],
				  a.[SOURCE_MGR_ID],
				  a.[SOURCE_MGR_NAME],
				  a.[SOURCE_BUSINESS_GRP_ID],
				  a.[SOURCE_BUSINESS_GRP_NAME],
				  a.[SOURCE_FIRST_NAME],
				  a.[SOURCE_MIDDLE_NAME],
				  a.[SOURCE_LAST_NAME],
				  a.[SOURCE_CATEGORY],
				  a.[SOURCE_STATUS],
				  a.[USER_NAME],
				  a.[SOURCE_OFFICE],
				  a.[SOURCE_LOCATION],
				  a.[SOURCE_MAILSTOP],
				  a.[SOURCE_MOBILE_PHONE],
				  a.[SOURCE_PAGER],
				  a.[SOURCE_JOB_ID],
				  a.[PERSON_PARTY_ID],
				  a.[FS_SETUP_COMPLETE],
				  a.[Fingerprint]
				  ,$Action AS Action
		) a
		WHERE Action = 'Update'
		;

	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Done', GETDATE()

	DROP TABLE #Resource

END
GO
