USE [Operations]
GO
/****** Object:  StoredProcedure [Oracle].[Merge_CST_ITEM_COST_TYPE_V]    Script Date: 7/10/2025 11:43:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Oracle].[Merge_CST_ITEM_COST_TYPE_V]
AS BEGIN

	CREATE TABLE #itemCost (
		[ROW_ID] [char](18) COLLATE SQL_Latin1_General_CP1_CS_AS NULL,
		[INVENTORY_ITEM_ID] [float] NOT NULL,
		[ITEM_NUMBER] [nvarchar](40) NULL,
		[PADDED_ITEM_NUMBER] [nvarchar](90) NULL,
		[DESCRIPTION] [nvarchar](240) NULL,
		[PRIMARY_UOM_CODE] [nvarchar](3) NULL,
		[ORGANIZATION_ID] [float] NOT NULL,
		[COST_TYPE_ID] [float] NOT NULL,
		[COST_TYPE] [nvarchar](10) NOT NULL,
		[COST_TYPE_DESCRIPTION] [nvarchar](240) NULL,
		[ALLOW_UPDATES_FLAG] [float] NULL,
		[FROZEN_STANDARD_FLAG] [float] NULL,
		[DEFAULT_COST_TYPE_ID] [float] NOT NULL,
		[DEFAULT_COST_TYPE] [nvarchar](10) NOT NULL,
		[LAST_UPDATE_DATE] [datetime2](7) NOT NULL,
		[LAST_UPDATED_BY] [float] NOT NULL,
		[CREATION_DATE] [datetime2](7) NOT NULL,
		[CREATED_BY] [float] NOT NULL,
		[LAST_UPDATE_LOGIN] [float] NULL,
		[INVENTORY_ASSET] [float] NOT NULL,
		[LOT_SIZE] [float] NULL,
		[BASED_ON_ROLLUP] [float] NULL,
		[SHRINKAGE_RATE] [float] NULL,
		[DEFAULTED_FLAG] [float] NOT NULL,
		[ITEM_COST] [float] NULL,
		[MATERIAL_COST] [float] NULL,
		[MATERIAL_OVERHEAD_COST] [float] NULL,
		[RESOURCE_COST] [float] NULL,
		[OUTSIDE_PROCESSING_COST] [float] NULL,
		[OVERHEAD_COST] [float] NULL,
		[PLANNING_MAKE_BUY_CODE] [nvarchar](80) NULL,
		[DEFAULT_INCLUDE_IN_ROLLUP_FLAG] [nvarchar](1) NULL,
		[COST_OF_SALES_ACCOUNT] [float] NULL,
		[SALES_ACCOUNT] [float] NULL,
		[CATEGORY_ID] [float] NULL,
		[ATTRIBUTE_CATEGORY] [nvarchar](30) NULL,
		[ATTRIBUTE1] [nvarchar](150) NULL,
		[ATTRIBUTE2] [nvarchar](150) NULL,
		[ATTRIBUTE3] [nvarchar](150) NULL,
		[ATTRIBUTE4] [nvarchar](150) NULL,
		[ATTRIBUTE5] [nvarchar](150) NULL,
		[ATTRIBUTE6] [nvarchar](150) NULL,
		[ATTRIBUTE7] [nvarchar](150) NULL,
		[ATTRIBUTE8] [nvarchar](150) NULL,
		[ATTRIBUTE9] [nvarchar](150) NULL,
		[ATTRIBUTE10] [nvarchar](150) NULL,
		[ATTRIBUTE11] [nvarchar](150) NULL,
		[ATTRIBUTE12] [nvarchar](150) NULL,
		[ATTRIBUTE13] [nvarchar](150) NULL,
		[ATTRIBUTE14] [nvarchar](150) NULL,
		[ATTRIBUTE15] [nvarchar](150) NULL,
		[REQUEST_ID] [float] NULL,
		[PROGRAM_APPLICATION_ID] [float] NULL,
		[PROGRAM_ID] [float] NULL,
		[PROGRAM_UPDATE_DATE] [datetime2](7) NULL,
		[Fingerprint] [varchar](32) NOT NULL
	)

	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Oracle Download', GETDATE()

	INSERT INTO #itemCost
	SELECT [ROW_ID]
		  ,[INVENTORY_ITEM_ID]
		  ,[ITEM_NUMBER]
		  ,[PADDED_ITEM_NUMBER]
		  ,[DESCRIPTION]
		  ,[PRIMARY_UOM_CODE]
		  ,[ORGANIZATION_ID]
		  ,[COST_TYPE_ID]
		  ,[COST_TYPE]
		  ,[COST_TYPE_DESCRIPTION]
		  ,[ALLOW_UPDATES_FLAG]
		  ,[FROZEN_STANDARD_FLAG]
		  ,[DEFAULT_COST_TYPE_ID]
		  ,[DEFAULT_COST_TYPE]
		  ,[LAST_UPDATE_DATE]
		  ,[LAST_UPDATED_BY]
		  ,[CREATION_DATE]
		  ,[CREATED_BY]
		  ,[LAST_UPDATE_LOGIN]
		  ,[INVENTORY_ASSET]
		  ,[LOT_SIZE]
		  ,[BASED_ON_ROLLUP]
		  ,[SHRINKAGE_RATE]
		  ,[DEFAULTED_FLAG]
		  ,[ITEM_COST]
		  ,[MATERIAL_COST]
		  ,[MATERIAL_OVERHEAD_COST]
		  ,[RESOURCE_COST]
		  ,[OUTSIDE_PROCESSING_COST]
		  ,[OVERHEAD_COST]
		  ,[PLANNING_MAKE_BUY_CODE]
		  ,[DEFAULT_INCLUDE_IN_ROLLUP_FLAG]
		  ,[COST_OF_SALES_ACCOUNT]
		  ,[SALES_ACCOUNT]
		  ,[CATEGORY_ID]
		  ,[ATTRIBUTE_CATEGORY]
		  ,[ATTRIBUTE1]
		  ,[ATTRIBUTE2]
		  ,[ATTRIBUTE3]
		  ,[ATTRIBUTE4]
		  ,[ATTRIBUTE5]
		  ,[ATTRIBUTE6]
		  ,[ATTRIBUTE7]
		  ,[ATTRIBUTE8]
		  ,[ATTRIBUTE9]
		  ,[ATTRIBUTE10]
		  ,[ATTRIBUTE11]
		  ,[ATTRIBUTE12]
		  ,[ATTRIBUTE13]
		  ,[ATTRIBUTE14]
		  ,[ATTRIBUTE15]
		  ,[REQUEST_ID]
		  ,[PROGRAM_APPLICATION_ID]
		  ,[PROGRAM_ID]
		  ,[PROGRAM_UPDATE_DATE]
		  ,'XXX' AS [Fingerprint]
	FROM OPENQUERY(PROD, 'SELECT * FROM CST_ITEM_COST_TYPE_V 
		WHERE CREATION_DATE >= SYSDATE - 5 OR LAST_UPDATE_DATE >= SYSDATE - 5
		--WHERE LAST_UPDATE_DATE >= TO_DATE(''20190101'',''YYYYMMDD'')
	') 

	/*
		DECLARE @columnList VARCHAR(MAX) = dbo.getHashField ('CST_ITEM_COST_TYPE_V','Oracle') SELECT @columnList
	*/

	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Fingerprint', GETDATE()

	UPDATE #itemCost
	SET Fingerprint = 
		SUBSTRING(LOWER(CONVERT(VARCHAR(32),HASHBYTES('MD5',
			--replace @columnList result here
				  CAST(ISNULL(ROW_ID,'') COLLATE SQL_Latin1_General_CP1_CS_AS AS VARCHAR(18)) +  CAST(ISNULL(INVENTORY_ITEM_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(ITEM_NUMBER,'') AS VARCHAR(100)) +  CAST(ISNULL(PADDED_ITEM_NUMBER,'') AS VARCHAR(100)) +  CAST(ISNULL(DESCRIPTION,'') AS VARCHAR(100)) +  CAST(ISNULL(PRIMARY_UOM_CODE,'') AS VARCHAR(100)) +  CAST(ISNULL(ORGANIZATION_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(COST_TYPE_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(COST_TYPE,'') AS VARCHAR(100)) +  CAST(ISNULL(COST_TYPE_DESCRIPTION,'') AS VARCHAR(100)) +  CAST(ISNULL(ALLOW_UPDATES_FLAG,'0') AS VARCHAR(100)) +  CAST(ISNULL(FROZEN_STANDARD_FLAG,'0') AS VARCHAR(100)) +  CAST(ISNULL(DEFAULT_COST_TYPE_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(DEFAULT_COST_TYPE,'') AS VARCHAR(100)) +  CAST(ISNULL(LAST_UPDATE_DATE,'') AS VARCHAR(100)) +  CAST(ISNULL(LAST_UPDATED_BY,'0') AS VARCHAR(100)) +  CAST(ISNULL(CREATION_DATE,'') AS VARCHAR(100)) +  CAST(ISNULL(CREATED_BY,'0') AS VARCHAR(100)) +  CAST(ISNULL(LAST_UPDATE_LOGIN,'0') AS VARCHAR(100)) +  CAST(ISNULL(INVENTORY_ASSET,'0') AS VARCHAR(100)) +  CAST(ISNULL(LOT_SIZE,'0') AS VARCHAR(100)) +  CAST(ISNULL(BASED_ON_ROLLUP,'0') AS VARCHAR(100)) +  CAST(ISNULL(SHRINKAGE_RATE,'0') AS VARCHAR(100)) +  CAST(ISNULL(DEFAULTED_FLAG,'0') AS VARCHAR(100)) +  CAST(ISNULL(ITEM_COST,'0') AS VARCHAR(100)) +  CAST(ISNULL(MATERIAL_COST,'0') AS VARCHAR(100)) +  CAST(ISNULL(MATERIAL_OVERHEAD_COST,'0') AS VARCHAR(100)) +  CAST(ISNULL(RESOURCE_COST,'0') AS VARCHAR(100)) +  CAST(ISNULL(OUTSIDE_PROCESSING_COST,'0') AS VARCHAR(100)) +  CAST(ISNULL(OVERHEAD_COST,'0') AS VARCHAR(100)) +  CAST(ISNULL(PLANNING_MAKE_BUY_CODE,'') AS VARCHAR(100)) +  CAST(ISNULL(DEFAULT_INCLUDE_IN_ROLLUP_FLAG,'') AS VARCHAR(100)) +  CAST(ISNULL(COST_OF_SALES_ACCOUNT,'0') AS VARCHAR(100)) +  CAST(ISNULL(SALES_ACCOUNT,'0') AS VARCHAR(100)) +  CAST(ISNULL(CATEGORY_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(ATTRIBUTE_CATEGORY,'') AS VARCHAR(100)) +  CAST(ISNULL(ATTRIBUTE1,'') AS VARCHAR(100)) +  CAST(ISNULL(ATTRIBUTE2,'') AS VARCHAR(100)) +  CAST(ISNULL(ATTRIBUTE3,'') AS VARCHAR(100)) +  CAST(ISNULL(ATTRIBUTE4,'') AS VARCHAR(100)) +  CAST(ISNULL(ATTRIBUTE5,'') AS VARCHAR(100)) +  CAST(ISNULL(ATTRIBUTE6,'') AS VARCHAR(100)) +  CAST(ISNULL(ATTRIBUTE7,'') AS VARCHAR(100)) +  CAST(ISNULL(ATTRIBUTE8,'') AS VARCHAR(100)) +  CAST(ISNULL(ATTRIBUTE9,'') AS VARCHAR(100)) +  CAST(ISNULL(ATTRIBUTE10,'') AS VARCHAR(100)) +  CAST(ISNULL(ATTRIBUTE11,'') AS VARCHAR(100)) +  CAST(ISNULL(ATTRIBUTE12,'') AS VARCHAR(100)) +  CAST(ISNULL(ATTRIBUTE13,'') AS VARCHAR(100)) +  CAST(ISNULL(ATTRIBUTE14,'') AS VARCHAR(100)) +  CAST(ISNULL(ATTRIBUTE15,'') AS VARCHAR(100)) +  CAST(ISNULL(REQUEST_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(PROGRAM_APPLICATION_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(PROGRAM_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(PROGRAM_UPDATE_DATE,'') AS VARCHAR(100)) 
		),1)),3,32);

	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Merge', GETDATE()

	INSERT INTO Oracle.CST_ITEM_COST_TYPE_V (
			 [ROW_ID]
			  ,[INVENTORY_ITEM_ID]
			  ,[ITEM_NUMBER]
			  ,[PADDED_ITEM_NUMBER]
			  ,[DESCRIPTION]
			  ,[PRIMARY_UOM_CODE]
			  ,[ORGANIZATION_ID]
			  ,[COST_TYPE_ID]
			  ,[COST_TYPE]
			  ,[COST_TYPE_DESCRIPTION]
			  ,[ALLOW_UPDATES_FLAG]
			  ,[FROZEN_STANDARD_FLAG]
			  ,[DEFAULT_COST_TYPE_ID]
			  ,[DEFAULT_COST_TYPE]
			  ,[LAST_UPDATE_DATE]
			  ,[LAST_UPDATED_BY]
			  ,[CREATION_DATE]
			  ,[CREATED_BY]
			  ,[LAST_UPDATE_LOGIN]
			  ,[INVENTORY_ASSET]
			  ,[LOT_SIZE]
			  ,[BASED_ON_ROLLUP]
			  ,[SHRINKAGE_RATE]
			  ,[DEFAULTED_FLAG]
			  ,[ITEM_COST]
			  ,[MATERIAL_COST]
			  ,[MATERIAL_OVERHEAD_COST]
			  ,[RESOURCE_COST]
			  ,[OUTSIDE_PROCESSING_COST]
			  ,[OVERHEAD_COST]
			  ,[PLANNING_MAKE_BUY_CODE]
			  ,[DEFAULT_INCLUDE_IN_ROLLUP_FLAG]
			  ,[COST_OF_SALES_ACCOUNT]
			  ,[SALES_ACCOUNT]
			  ,[CATEGORY_ID]
			  ,[ATTRIBUTE_CATEGORY]
			  ,[ATTRIBUTE1]
			  ,[ATTRIBUTE2]
			  ,[ATTRIBUTE3]
			  ,[ATTRIBUTE4]
			  ,[ATTRIBUTE5]
			  ,[ATTRIBUTE6]
			  ,[ATTRIBUTE7]
			  ,[ATTRIBUTE8]
			  ,[ATTRIBUTE9]
			  ,[ATTRIBUTE10]
			  ,[ATTRIBUTE11]
			  ,[ATTRIBUTE12]
			  ,[ATTRIBUTE13]
			  ,[ATTRIBUTE14]
			  ,[ATTRIBUTE15]
			  ,[REQUEST_ID]
			  ,[PROGRAM_APPLICATION_ID]
			  ,[PROGRAM_ID]
			  ,[PROGRAM_UPDATE_DATE]
			  ,[Fingerprint]
		)
			SELECT 
			  a.[ROW_ID]
			  ,a.[INVENTORY_ITEM_ID]
			  ,a.[ITEM_NUMBER]
			  ,a.[PADDED_ITEM_NUMBER]
			  ,a.[DESCRIPTION]
			  ,a.[PRIMARY_UOM_CODE]
			  ,a.[ORGANIZATION_ID]
			  ,a.[COST_TYPE_ID]
			  ,a.[COST_TYPE]
			  ,a.[COST_TYPE_DESCRIPTION]
			  ,a.[ALLOW_UPDATES_FLAG]
			  ,a.[FROZEN_STANDARD_FLAG]
			  ,a.[DEFAULT_COST_TYPE_ID]
			  ,a.[DEFAULT_COST_TYPE]
			  ,a.[LAST_UPDATE_DATE]
			  ,a.[LAST_UPDATED_BY]
			  ,a.[CREATION_DATE]
			  ,a.[CREATED_BY]
			  ,a.[LAST_UPDATE_LOGIN]
			  ,a.[INVENTORY_ASSET]
			  ,a.[LOT_SIZE]
			  ,a.[BASED_ON_ROLLUP]
			  ,a.[SHRINKAGE_RATE]
			  ,a.[DEFAULTED_FLAG]
			  ,a.[ITEM_COST]
			  ,a.[MATERIAL_COST]
			  ,a.[MATERIAL_OVERHEAD_COST]
			  ,a.[RESOURCE_COST]
			  ,a.[OUTSIDE_PROCESSING_COST]
			  ,a.[OVERHEAD_COST]
			  ,a.[PLANNING_MAKE_BUY_CODE]
			  ,a.[DEFAULT_INCLUDE_IN_ROLLUP_FLAG]
			  ,a.[COST_OF_SALES_ACCOUNT]
			  ,a.[SALES_ACCOUNT]
			  ,a.[CATEGORY_ID]
			  ,a.[ATTRIBUTE_CATEGORY]
			  ,a.[ATTRIBUTE1]
			  ,a.[ATTRIBUTE2]
			  ,a.[ATTRIBUTE3]
			  ,a.[ATTRIBUTE4]
			  ,a.[ATTRIBUTE5]
			  ,a.[ATTRIBUTE6]
			  ,a.[ATTRIBUTE7]
			  ,a.[ATTRIBUTE8]
			  ,a.[ATTRIBUTE9]
			  ,a.[ATTRIBUTE10]
			  ,a.[ATTRIBUTE11]
			  ,a.[ATTRIBUTE12]
			  ,a.[ATTRIBUTE13]
			  ,a.[ATTRIBUTE14]
			  ,a.[ATTRIBUTE15]
			  ,a.[REQUEST_ID]
			  ,a.[PROGRAM_APPLICATION_ID]
			  ,a.[PROGRAM_ID]
			  ,a.[PROGRAM_UPDATE_DATE]
			  ,a.[Fingerprint]
			FROM (
				MERGE Oracle.CST_ITEM_COST_TYPE_V b
				USING (SELECT * FROM #itemCost) a
				--swap with business key of table
				ON  a.Row_ID = b.Row_ID 
					AND a.INVENTORY_ITEM_ID = b.INVENTORY_ITEM_ID
					AND a.ITEM_NUMBER = b.ITEM_NUMBER
					AND b.CurrentRecord = 1 
				WHEN NOT MATCHED --BY TARGET 
				THEN INSERT (
					   [ROW_ID]
					  ,[INVENTORY_ITEM_ID]
					  ,[ITEM_NUMBER]
					  ,[PADDED_ITEM_NUMBER]
					  ,[DESCRIPTION]
					  ,[PRIMARY_UOM_CODE]
					  ,[ORGANIZATION_ID]
					  ,[COST_TYPE_ID]
					  ,[COST_TYPE]
					  ,[COST_TYPE_DESCRIPTION]
					  ,[ALLOW_UPDATES_FLAG]
					  ,[FROZEN_STANDARD_FLAG]
					  ,[DEFAULT_COST_TYPE_ID]
					  ,[DEFAULT_COST_TYPE]
					  ,[LAST_UPDATE_DATE]
					  ,[LAST_UPDATED_BY]
					  ,[CREATION_DATE]
					  ,[CREATED_BY]
					  ,[LAST_UPDATE_LOGIN]
					  ,[INVENTORY_ASSET]
					  ,[LOT_SIZE]
					  ,[BASED_ON_ROLLUP]
					  ,[SHRINKAGE_RATE]
					  ,[DEFAULTED_FLAG]
					  ,[ITEM_COST]
					  ,[MATERIAL_COST]
					  ,[MATERIAL_OVERHEAD_COST]
					  ,[RESOURCE_COST]
					  ,[OUTSIDE_PROCESSING_COST]
					  ,[OVERHEAD_COST]
					  ,[PLANNING_MAKE_BUY_CODE]
					  ,[DEFAULT_INCLUDE_IN_ROLLUP_FLAG]
					  ,[COST_OF_SALES_ACCOUNT]
					  ,[SALES_ACCOUNT]
					  ,[CATEGORY_ID]
					  ,[ATTRIBUTE_CATEGORY]
					  ,[ATTRIBUTE1]
					  ,[ATTRIBUTE2]
					  ,[ATTRIBUTE3]
					  ,[ATTRIBUTE4]
					  ,[ATTRIBUTE5]
					  ,[ATTRIBUTE6]
					  ,[ATTRIBUTE7]
					  ,[ATTRIBUTE8]
					  ,[ATTRIBUTE9]
					  ,[ATTRIBUTE10]
					  ,[ATTRIBUTE11]
					  ,[ATTRIBUTE12]
					  ,[ATTRIBUTE13]
					  ,[ATTRIBUTE14]
					  ,[ATTRIBUTE15]
					  ,[REQUEST_ID]
					  ,[PROGRAM_APPLICATION_ID]
					  ,[PROGRAM_ID]
					  ,[PROGRAM_UPDATE_DATE]
					  ,[Fingerprint]
				)
				VALUES (
					   a.[ROW_ID]
					  ,a.[INVENTORY_ITEM_ID]
					  ,a.[ITEM_NUMBER]
					  ,a.[PADDED_ITEM_NUMBER]
					  ,a.[DESCRIPTION]
					  ,a.[PRIMARY_UOM_CODE]
					  ,a.[ORGANIZATION_ID]
					  ,a.[COST_TYPE_ID]
					  ,a.[COST_TYPE]
					  ,a.[COST_TYPE_DESCRIPTION]
					  ,a.[ALLOW_UPDATES_FLAG]
					  ,a.[FROZEN_STANDARD_FLAG]
					  ,a.[DEFAULT_COST_TYPE_ID]
					  ,a.[DEFAULT_COST_TYPE]
					  ,a.[LAST_UPDATE_DATE]
					  ,a.[LAST_UPDATED_BY]
					  ,a.[CREATION_DATE]
					  ,a.[CREATED_BY]
					  ,a.[LAST_UPDATE_LOGIN]
					  ,a.[INVENTORY_ASSET]
					  ,a.[LOT_SIZE]
					  ,a.[BASED_ON_ROLLUP]
					  ,a.[SHRINKAGE_RATE]
					  ,a.[DEFAULTED_FLAG]
					  ,a.[ITEM_COST]
					  ,a.[MATERIAL_COST]
					  ,a.[MATERIAL_OVERHEAD_COST]
					  ,a.[RESOURCE_COST]
					  ,a.[OUTSIDE_PROCESSING_COST]
					  ,a.[OVERHEAD_COST]
					  ,a.[PLANNING_MAKE_BUY_CODE]
					  ,a.[DEFAULT_INCLUDE_IN_ROLLUP_FLAG]
					  ,a.[COST_OF_SALES_ACCOUNT]
					  ,a.[SALES_ACCOUNT]
					  ,a.[CATEGORY_ID]
					  ,a.[ATTRIBUTE_CATEGORY]
					  ,a.[ATTRIBUTE1]
					  ,a.[ATTRIBUTE2]
					  ,a.[ATTRIBUTE3]
					  ,a.[ATTRIBUTE4]
					  ,a.[ATTRIBUTE5]
					  ,a.[ATTRIBUTE6]
					  ,a.[ATTRIBUTE7]
					  ,a.[ATTRIBUTE8]
					  ,a.[ATTRIBUTE9]
					  ,a.[ATTRIBUTE10]
					  ,a.[ATTRIBUTE11]
					  ,a.[ATTRIBUTE12]
					  ,a.[ATTRIBUTE13]
					  ,a.[ATTRIBUTE14]
					  ,a.[ATTRIBUTE15]
					  ,a.[REQUEST_ID]
					  ,a.[PROGRAM_APPLICATION_ID]
					  ,a.[PROGRAM_ID]
					  ,a.[PROGRAM_UPDATE_DATE]
					  ,a.[Fingerprint]
				)
				--Existing records that have changed are expired
				WHEN MATCHED AND a.Fingerprint<>b.Fingerprint
				THEN UPDATE SET b.EndDate=GETDATE()
					,b.CurrentRecord=0
				OUTPUT 
					   a.[ROW_ID]
					  ,a.[INVENTORY_ITEM_ID]
					  ,a.[ITEM_NUMBER]
					  ,a.[PADDED_ITEM_NUMBER]
					  ,a.[DESCRIPTION]
					  ,a.[PRIMARY_UOM_CODE]
					  ,a.[ORGANIZATION_ID]
					  ,a.[COST_TYPE_ID]
					  ,a.[COST_TYPE]
					  ,a.[COST_TYPE_DESCRIPTION]
					  ,a.[ALLOW_UPDATES_FLAG]
					  ,a.[FROZEN_STANDARD_FLAG]
					  ,a.[DEFAULT_COST_TYPE_ID]
					  ,a.[DEFAULT_COST_TYPE]
					  ,a.[LAST_UPDATE_DATE]
					  ,a.[LAST_UPDATED_BY]
					  ,a.[CREATION_DATE]
					  ,a.[CREATED_BY]
					  ,a.[LAST_UPDATE_LOGIN]
					  ,a.[INVENTORY_ASSET]
					  ,a.[LOT_SIZE]
					  ,a.[BASED_ON_ROLLUP]
					  ,a.[SHRINKAGE_RATE]
					  ,a.[DEFAULTED_FLAG]
					  ,a.[ITEM_COST]
					  ,a.[MATERIAL_COST]
					  ,a.[MATERIAL_OVERHEAD_COST]
					  ,a.[RESOURCE_COST]
					  ,a.[OUTSIDE_PROCESSING_COST]
					  ,a.[OVERHEAD_COST]
					  ,a.[PLANNING_MAKE_BUY_CODE]
					  ,a.[DEFAULT_INCLUDE_IN_ROLLUP_FLAG]
					  ,a.[COST_OF_SALES_ACCOUNT]
					  ,a.[SALES_ACCOUNT]
					  ,a.[CATEGORY_ID]
					  ,a.[ATTRIBUTE_CATEGORY]
					  ,a.[ATTRIBUTE1]
					  ,a.[ATTRIBUTE2]
					  ,a.[ATTRIBUTE3]
					  ,a.[ATTRIBUTE4]
					  ,a.[ATTRIBUTE5]
					  ,a.[ATTRIBUTE6]
					  ,a.[ATTRIBUTE7]
					  ,a.[ATTRIBUTE8]
					  ,a.[ATTRIBUTE9]
					  ,a.[ATTRIBUTE10]
					  ,a.[ATTRIBUTE11]
					  ,a.[ATTRIBUTE12]
					  ,a.[ATTRIBUTE13]
					  ,a.[ATTRIBUTE14]
					  ,a.[ATTRIBUTE15]
					  ,a.[REQUEST_ID]
					  ,a.[PROGRAM_APPLICATION_ID]
					  ,a.[PROGRAM_ID]
					  ,a.[PROGRAM_UPDATE_DATE]
					  ,a.[Fingerprint]
					  ,$Action AS Action
			) a
			WHERE Action = 'Update'
			;

	--name changes generate a new ROW_ID in Oracle.  A full synch would be required to expire these, instead just assign end date based on new records start date.
	;WITH SKUs AS (
		SELECT INVENTORY_ITEM_ID, ORGANiZATION_ID, COST_TYPE, COUNT(*) AS RecordCount
		FROM Oracle.CST_ITEM_COST_TYPE_V cst1 
		WHERE CurrentRecord = 1   
		GROUP BY INVENTORY_ITEM_ID, ORGANiZATION_ID, COST_TYPE
		HAVING COUNT(*) > 1 
	)
	,CTE AS (
		SELECT ROW_NUMBER() OVER (PARTITION BY cst1.ITEM_NUMBER, cst1.ORGANIZATION_ID, cst1.COST_TYPE ORDER BY cst1.ID) AS RowID, cst1.* 
		FROM Oracle.CST_ITEM_COST_TYPE_V cst1 
			INNER JOIN SKUs ON cst1.INVENTORY_ITEM_ID = skus.INVENTORY_ITEM_ID AND cst1.ORGANIZATION_ID = skus.ORGANIZATION_ID AND cst1.COST_TYPE = SKUs.COST_TYPE
		WHERE CurrentRecord = 1
	)
	UPDATE cst SET EndDate = b.StartDate, CurrentRecord = 0
	--SELECT a.ID, a.RowID, a.INVENTORY_ITEM_ID, a.ORGANIZATION_ID, a.COST_TYPE, a.Row_ID, a.StartDate, a.EndDate, a.CurrentRecord, b.RowID, b.INVENTORY_ITEM_ID, b.ORGANIZATION_ID, b.COST_TYPE, b.Row_ID, b.StartDate, b.EndDate, b.CurrentRecord 
	FROM CTE a 
		INNER JOIN CTE b ON a.INVENTORY_ITEM_ID = b.INVENTORY_ITEM_ID AND a.ORGANIZATION_ID = b.ORGANIZATION_ID AND a.COST_TYPE = b.COST_TYPE AND a.RowID + 1 = b.RowID AND a.EndDate IS NULL
		INNER JOIN Oracle.CST_ITEM_COST_TYPE_V cst ON a.ID = cst.ID
	--ORDER BY a.INVENTORY_ITEM_ID, a.ORGANIZATION_ID, a.COST_TYPE, a.RowID

	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Done', GETDATE()
	
	DROP TABLE #itemCost

	--SELECT COUNT(*) FROM Oracle.CST_ITEM_COST_TYPE_V 
END


GO
