USE [Operations]
GO
/****** Object:  StoredProcedure [Oracle].[Merge_INV_MTL_MATERIAL_STATUSES_VL]    Script Date: 7/10/2025 11:43:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Oracle].[Merge_INV_MTL_MATERIAL_STATUSES_VL] AS BEGIN

	CREATE TABLE #INV_MTL_MATERIAL_STATUSES_VL (
		[ROW_ID] [char](18) NULL,
		[ATTRIBUTE15] [nvarchar](150) NULL,
		[ATTRIBUTE2] [nvarchar](150) NULL,
		[ATTRIBUTE3] [nvarchar](150) NULL,
		[ATTRIBUTE4] [nvarchar](150) NULL,
		[ATTRIBUTE5] [nvarchar](150) NULL,
		[ATTRIBUTE6] [nvarchar](150) NULL,
		[ATTRIBUTE7] [nvarchar](150) NULL,
		[ATTRIBUTE8] [nvarchar](150) NULL,
		[ATTRIBUTE9] [nvarchar](150) NULL,
		[ATTRIBUTE10] [nvarchar](150) NULL,
		[ATTRIBUTE11] [nvarchar](150) NULL,
		[ATTRIBUTE12] [nvarchar](150) NULL,
		[ATTRIBUTE13] [nvarchar](150) NULL,
		[LOCATOR_CONTROL] [float] NOT NULL,
		[LOT_CONTROL] [float] NOT NULL,
		[SERIAL_CONTROL] [float] NOT NULL,
		[ONHAND_CONTROL] [float] NOT NULL,
		[STATUS_ID] [float] NOT NULL,
		[ZONE_CONTROL] [float] NOT NULL,
		[ATTRIBUTE1] [nvarchar](150) NULL,
		[ATTRIBUTE14] [nvarchar](150) NULL,
		[CREATED_BY] [float] NOT NULL,
		[LAST_UPDATE_LOGIN] [float] NULL,
		[REQUEST_ID] [float] NULL,
		[PROGRAM_APPLICATION_ID] [float] NULL,
		[PROGRAM_ID] [float] NULL,
		[PROGRAM_UPDATE_DATE] [datetime2](7) NULL,
		[ATTRIBUTE_CATEGORY] [nvarchar](30) NULL,
		[ENABLED_FLAG] [float] NOT NULL,
		[LAST_UPDATE_DATE] [datetime2](7) NOT NULL,
		[LAST_UPDATED_BY] [float] NOT NULL,
		[CREATION_DATE] [datetime2](7) NOT NULL,
		[STATUS_CODE] [nvarchar](80) NOT NULL,
		[DESCRIPTION] [nvarchar](240) NULL,
		[LPN_CONTROL] [float] NOT NULL,
		[INVENTORY_ATP_CODE] [float] NULL,
		[AVAILABILITY_TYPE] [float] NULL,
		[RESERVABLE_TYPE] [float] NULL,
		[Fingerprint] [varchar](32) NOT NULL
	)

	INSERT INTO #INV_MTL_MATERIAL_STATUSES_VL
	SELECT
		   [ROW_ID]
		  ,[ATTRIBUTE15]
		  ,[ATTRIBUTE2]
		  ,[ATTRIBUTE3]
		  ,[ATTRIBUTE4]
		  ,[ATTRIBUTE5]
		  ,[ATTRIBUTE6]
		  ,[ATTRIBUTE7]
		  ,[ATTRIBUTE8]
		  ,[ATTRIBUTE9]
		  ,[ATTRIBUTE10]
		  ,[ATTRIBUTE11]
		  ,[ATTRIBUTE12]
		  ,[ATTRIBUTE13]
		  ,[LOCATOR_CONTROL]
		  ,[LOT_CONTROL]
		  ,[SERIAL_CONTROL]
		  ,[ONHAND_CONTROL]
		  ,[STATUS_ID]
		  ,[ZONE_CONTROL]
		  ,[ATTRIBUTE1]
		  ,[ATTRIBUTE14]
		  ,[CREATED_BY]
		  ,[LAST_UPDATE_LOGIN]
		  ,[REQUEST_ID]
		  ,[PROGRAM_APPLICATION_ID]
		  ,[PROGRAM_ID]
		  ,[PROGRAM_UPDATE_DATE]
		  ,[ATTRIBUTE_CATEGORY]
		  ,[ENABLED_FLAG]
		  ,[LAST_UPDATE_DATE]
		  ,[LAST_UPDATED_BY]
		  ,[CREATION_DATE]
		  ,[STATUS_CODE]
		  ,[DESCRIPTION]
		  ,[LPN_CONTROL]
		  ,[INVENTORY_ATP_CODE]
		  ,[AVAILABILITY_TYPE]
		  ,[RESERVABLE_TYPE]
		  ,'XXX' AS [Fingerprint]
	FROM OPENQUERY(PROD,'SELECT * FROM mtl_material_statuses_vl') ORDER BY RESERVABLE_TYPE, STATUS_ID


	/*
		DECLARE @columnList VARCHAR(MAX) = dbo.getHashField ('INV_MTL_MATERIAL_STATUSES_VL','Oracle') SELECT @columnList
	*/

	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Fingerprint', GETDATE()

	UPDATE #INV_MTL_MATERIAL_STATUSES_VL
	SET Fingerprint = 
		SUBSTRING(LOWER(CONVERT(VARCHAR(32),HASHBYTES('MD5',
			--replace @columnList result here
				 CAST(ISNULL([ROW_ID],'') AS VARCHAR(18)) +  CAST(ISNULL([ATTRIBUTE15],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE2],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE3],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE4],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE5],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE6],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE7],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE8],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE9],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE10],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE11],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE12],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE13],'') AS VARCHAR(150)) +  CAST(ISNULL([LOCATOR_CONTROL],'0') AS VARCHAR(100)) +  CAST(ISNULL([LOT_CONTROL],'0') AS VARCHAR(100)) +  CAST(ISNULL([SERIAL_CONTROL],'0') AS VARCHAR(100)) +  CAST(ISNULL([ONHAND_CONTROL],'0') AS VARCHAR(100)) +  CAST(ISNULL([STATUS_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([ZONE_CONTROL],'0') AS VARCHAR(100)) +  CAST(ISNULL([ATTRIBUTE1],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE14],'') AS VARCHAR(150)) +  CAST(ISNULL([CREATED_BY],'0') AS VARCHAR(100)) +  CAST(ISNULL([LAST_UPDATE_LOGIN],'0') AS VARCHAR(100)) +  CAST(ISNULL([REQUEST_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([PROGRAM_APPLICATION_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([PROGRAM_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([PROGRAM_UPDATE_DATE],'') AS VARCHAR(100)) +  CAST(ISNULL([ATTRIBUTE_CATEGORY],'') AS VARCHAR(30)) +  CAST(ISNULL([ENABLED_FLAG],'0') AS VARCHAR(100)) +  CAST(ISNULL([LAST_UPDATE_DATE],'') AS VARCHAR(100)) +  CAST(ISNULL([LAST_UPDATED_BY],'0') AS VARCHAR(100)) +  CAST(ISNULL([CREATION_DATE],'') AS VARCHAR(100)) +  CAST(ISNULL([STATUS_CODE],'') AS VARCHAR(80)) +  CAST(ISNULL([DESCRIPTION],'') AS VARCHAR(240)) +  CAST(ISNULL([LPN_CONTROL],'0') AS VARCHAR(100)) +  CAST(ISNULL([INVENTORY_ATP_CODE],'0') AS VARCHAR(100)) +  CAST(ISNULL([AVAILABILITY_TYPE],'0') AS VARCHAR(100)) +  CAST(ISNULL([RESERVABLE_TYPE],'0') AS VARCHAR(100)) 
		),1)),3,32);

	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Merge', GETDATE()

	INSERT INTO Oracle.INV_MTL_MATERIAL_STATUSES_VL (
				[ROW_ID]
		  ,[ATTRIBUTE15]
		  ,[ATTRIBUTE2]
		  ,[ATTRIBUTE3]
		  ,[ATTRIBUTE4]
		  ,[ATTRIBUTE5]
		  ,[ATTRIBUTE6]
		  ,[ATTRIBUTE7]
		  ,[ATTRIBUTE8]
		  ,[ATTRIBUTE9]
		  ,[ATTRIBUTE10]
		  ,[ATTRIBUTE11]
		  ,[ATTRIBUTE12]
		  ,[ATTRIBUTE13]
		  ,[LOCATOR_CONTROL]
		  ,[LOT_CONTROL]
		  ,[SERIAL_CONTROL]
		  ,[ONHAND_CONTROL]
		  ,[STATUS_ID]
		  ,[ZONE_CONTROL]
		  ,[ATTRIBUTE1]
		  ,[ATTRIBUTE14]
		  ,[CREATED_BY]
		  ,[LAST_UPDATE_LOGIN]
		  ,[REQUEST_ID]
		  ,[PROGRAM_APPLICATION_ID]
		  ,[PROGRAM_ID]
		  ,[PROGRAM_UPDATE_DATE]
		  ,[ATTRIBUTE_CATEGORY]
		  ,[ENABLED_FLAG]
		  ,[LAST_UPDATE_DATE]
		  ,[LAST_UPDATED_BY]
		  ,[CREATION_DATE]
		  ,[STATUS_CODE]
		  ,[DESCRIPTION]
		  ,[LPN_CONTROL]
		  ,[INVENTORY_ATP_CODE]
		  ,[AVAILABILITY_TYPE]
		  ,[RESERVABLE_TYPE]
		  ,[Fingerprint]
		)
			SELECT 
				 a.[ROW_ID]
				,a.[ATTRIBUTE15]
				,a.[ATTRIBUTE2]
				,a.[ATTRIBUTE3]
				,a.[ATTRIBUTE4]
				,a.[ATTRIBUTE5]
				,a.[ATTRIBUTE6]
				,a.[ATTRIBUTE7]
				,a.[ATTRIBUTE8]
				,a.[ATTRIBUTE9]
				,a.[ATTRIBUTE10]
				,a.[ATTRIBUTE11]
				,a.[ATTRIBUTE12]
				,a.[ATTRIBUTE13]
				,a.[LOCATOR_CONTROL]
				,a.[LOT_CONTROL]
				,a.[SERIAL_CONTROL]
				,a.[ONHAND_CONTROL]
				,a.[STATUS_ID]
				,a.[ZONE_CONTROL]
				,a.[ATTRIBUTE1]
				,a.[ATTRIBUTE14]
				,a.[CREATED_BY]
				,a.[LAST_UPDATE_LOGIN]
				,a.[REQUEST_ID]
				,a.[PROGRAM_APPLICATION_ID]
				,a.[PROGRAM_ID]
				,a.[PROGRAM_UPDATE_DATE]
				,a.[ATTRIBUTE_CATEGORY]
				,a.[ENABLED_FLAG]
				,a.[LAST_UPDATE_DATE]
				,a.[LAST_UPDATED_BY]
				,a.[CREATION_DATE]
				,a.[STATUS_CODE]
				,a.[DESCRIPTION]
				,a.[LPN_CONTROL]
				,a.[INVENTORY_ATP_CODE]
				,a.[AVAILABILITY_TYPE]
				,a.[RESERVABLE_TYPE]
				,a.[Fingerprint]
			FROM (
				MERGE Oracle.INV_MTL_MATERIAL_STATUSES_VL b
				USING (SELECT * FROM #INV_MTL_MATERIAL_STATUSES_VL) a
				ON a.ROW_ID = b.ROW_ID AND b.CurrentRecord = 1 --swap with business key of table
				WHEN NOT MATCHED --BY TARGET 
				THEN INSERT (
				   [ROW_ID]
				  ,[ATTRIBUTE15]
				  ,[ATTRIBUTE2]
				  ,[ATTRIBUTE3]
				  ,[ATTRIBUTE4]
				  ,[ATTRIBUTE5]
				  ,[ATTRIBUTE6]
				  ,[ATTRIBUTE7]
				  ,[ATTRIBUTE8]
				  ,[ATTRIBUTE9]
				  ,[ATTRIBUTE10]
				  ,[ATTRIBUTE11]
				  ,[ATTRIBUTE12]
				  ,[ATTRIBUTE13]
				  ,[LOCATOR_CONTROL]
				  ,[LOT_CONTROL]
				  ,[SERIAL_CONTROL]
				  ,[ONHAND_CONTROL]
				  ,[STATUS_ID]
				  ,[ZONE_CONTROL]
				  ,[ATTRIBUTE1]
				  ,[ATTRIBUTE14]
				  ,[CREATED_BY]
				  ,[LAST_UPDATE_LOGIN]
				  ,[REQUEST_ID]
				  ,[PROGRAM_APPLICATION_ID]
				  ,[PROGRAM_ID]
				  ,[PROGRAM_UPDATE_DATE]
				  ,[ATTRIBUTE_CATEGORY]
				  ,[ENABLED_FLAG]
				  ,[LAST_UPDATE_DATE]
				  ,[LAST_UPDATED_BY]
				  ,[CREATION_DATE]
				  ,[STATUS_CODE]
				  ,[DESCRIPTION]
				  ,[LPN_CONTROL]
				  ,[INVENTORY_ATP_CODE]
				  ,[AVAILABILITY_TYPE]
				  ,[RESERVABLE_TYPE]
				  ,[Fingerprint]
				)
				VALUES (
					   a.[ROW_ID]
					  ,a.[ATTRIBUTE15]
					  ,a.[ATTRIBUTE2]
					  ,a.[ATTRIBUTE3]
					  ,a.[ATTRIBUTE4]
					  ,a.[ATTRIBUTE5]
					  ,a.[ATTRIBUTE6]
					  ,a.[ATTRIBUTE7]
					  ,a.[ATTRIBUTE8]
					  ,a.[ATTRIBUTE9]
					  ,a.[ATTRIBUTE10]
					  ,a.[ATTRIBUTE11]
					  ,a.[ATTRIBUTE12]
					  ,a.[ATTRIBUTE13]
					  ,a.[LOCATOR_CONTROL]
					  ,a.[LOT_CONTROL]
					  ,a.[SERIAL_CONTROL]
					  ,a.[ONHAND_CONTROL]
					  ,a.[STATUS_ID]
					  ,a.[ZONE_CONTROL]
					  ,a.[ATTRIBUTE1]
					  ,a.[ATTRIBUTE14]
					  ,a.[CREATED_BY]
					  ,a.[LAST_UPDATE_LOGIN]
					  ,a.[REQUEST_ID]
					  ,a.[PROGRAM_APPLICATION_ID]
					  ,a.[PROGRAM_ID]
					  ,a.[PROGRAM_UPDATE_DATE]
					  ,a.[ATTRIBUTE_CATEGORY]
					  ,a.[ENABLED_FLAG]
					  ,a.[LAST_UPDATE_DATE]
					  ,a.[LAST_UPDATED_BY]
					  ,a.[CREATION_DATE]
					  ,a.[STATUS_CODE]
					  ,a.[DESCRIPTION]
					  ,a.[LPN_CONTROL]
					  ,a.[INVENTORY_ATP_CODE]
					  ,a.[AVAILABILITY_TYPE]
					  ,a.[RESERVABLE_TYPE]
					  ,a.[Fingerprint]
				)
				--Existing records that have changed are expired
				WHEN MATCHED AND a.Fingerprint<>b.Fingerprint
				THEN UPDATE SET b.EndDate=GETDATE()
					,b.CurrentRecord=0
				OUTPUT 
						 a.[ROW_ID]
						,a.[ATTRIBUTE15]
						,a.[ATTRIBUTE2]
						,a.[ATTRIBUTE3]
						,a.[ATTRIBUTE4]
						,a.[ATTRIBUTE5]
						,a.[ATTRIBUTE6]
						,a.[ATTRIBUTE7]
						,a.[ATTRIBUTE8]
						,a.[ATTRIBUTE9]
						,a.[ATTRIBUTE10]
						,a.[ATTRIBUTE11]
						,a.[ATTRIBUTE12]
						,a.[ATTRIBUTE13]
						,a.[LOCATOR_CONTROL]
						,a.[LOT_CONTROL]
						,a.[SERIAL_CONTROL]
						,a.[ONHAND_CONTROL]
						,a.[STATUS_ID]
						,a.[ZONE_CONTROL]
						,a.[ATTRIBUTE1]
						,a.[ATTRIBUTE14]
						,a.[CREATED_BY]
						,a.[LAST_UPDATE_LOGIN]
						,a.[REQUEST_ID]
						,a.[PROGRAM_APPLICATION_ID]
						,a.[PROGRAM_ID]
						,a.[PROGRAM_UPDATE_DATE]
						,a.[ATTRIBUTE_CATEGORY]
						,a.[ENABLED_FLAG]
						,a.[LAST_UPDATE_DATE]
						,a.[LAST_UPDATED_BY]
						,a.[CREATION_DATE]
						,a.[STATUS_CODE]
						,a.[DESCRIPTION]
						,a.[LPN_CONTROL]
						,a.[INVENTORY_ATP_CODE]
						,a.[AVAILABILITY_TYPE]
						,a.[RESERVABLE_TYPE]
						,a.[Fingerprint]
						,$Action AS Action
			) a
			WHERE Action = 'Update'
			;

	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Done', GETDATE()
	
	DROP TABLE #INV_MTL_MATERIAL_STATUSES_VL
END
GO
