USE [Operations]
GO
/****** Object:  StoredProcedure [Oracle].[Merge_OE_PRICED_ADJUSTMENTS_V]    Script Date: 7/10/2025 11:43:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [Oracle].[Merge_OE_PRICED_ADJUSTMENTS_V] AS BEGIN

	CREATE TABLE #OrderAdjustment (
		[ROW_ID] [char](18) NULL,
		[PRICE_ADJUSTMENT_ID] [float] NOT NULL,
		[CREATION_DATE] [datetime2](7) NOT NULL,
		[CREATED_BY] [float] NOT NULL,
		[LAST_UPDATE_DATE] [datetime2](7) NOT NULL,
		[LAST_UPDATED_BY] [float] NOT NULL,
		[LAST_UPDATE_LOGIN] [float] NULL,
		[PROGRAM_APPLICATION_ID] [float] NULL,
		[PROGRAM_ID] [float] NULL,
		[PROGRAM_UPDATE_DATE] [datetime2](7) NULL,
		[REQUEST_ID] [float] NULL,
		[HEADER_ID] [float] NOT NULL,
		[DISCOUNT_ID] [float] NULL,
		[DISCOUNT_LINE_ID] [float] NULL,
		[AUTOMATIC_FLAG] [nvarchar](1) NOT NULL,
		[PERCENT] [float] NULL,
		[LINE_ID] [float] NULL,
		[CONTEXT] [nvarchar](30) NULL,
		[ATTRIBUTE1] [nvarchar](240) NULL,
		[ATTRIBUTE2] [nvarchar](240) NULL,
		[ATTRIBUTE3] [nvarchar](240) NULL,
		[ATTRIBUTE4] [nvarchar](240) NULL,
		[ATTRIBUTE5] [nvarchar](240) NULL,
		[ATTRIBUTE6] [nvarchar](240) NULL,
		[ATTRIBUTE7] [nvarchar](240) NULL,
		[ATTRIBUTE8] [nvarchar](240) NULL,
		[ATTRIBUTE9] [nvarchar](240) NULL,
		[ATTRIBUTE10] [nvarchar](240) NULL,
		[ATTRIBUTE11] [nvarchar](240) NULL,
		[ATTRIBUTE12] [nvarchar](240) NULL,
		[ATTRIBUTE13] [nvarchar](240) NULL,
		[ATTRIBUTE14] [nvarchar](240) NULL,
		[ATTRIBUTE15] [nvarchar](240) NULL,
		[ORIG_SYS_DISCOUNT_REF] [nvarchar](50) NULL,
		[LIST_HEADER_ID] [float] NULL,
		[LIST_LINE_ID] [float] NULL,
		[LIST_LINE_TYPE_CODE] [nvarchar](30) NULL,
		[MODIFIER_MECHANISM_TYPE_CODE] [nvarchar](30) NULL,
		[MODIFIED_FROM] [nvarchar](240) NULL,
		[MODIFIED_TO] [nvarchar](240) NULL,
		[UPDATED_FLAG] [nvarchar](1) NULL,
		[UPDATE_ALLOWED] [nvarchar](1) NULL,
		[APPLIED_FLAG] [nvarchar](1) NULL,
		[CHANGE_REASON_CODE] [nvarchar](30) NULL,
		[CHANGE_REASON_TEXT] [nvarchar](2000) NULL,
		[ADJUSTMENT_NAME] [nvarchar](240) NULL,
		[ADJUSTMENT_TYPE_CODE] [nvarchar](30) NULL,
		[OVERRIDE_ALLOWED_FLAG] [nvarchar](1) NULL,
		[ADJUSTMENT_TYPE_NAME] [nvarchar](2) NULL,
		[OPERAND] [float] NULL,
		[ARITHMETIC_OPERATOR] [nvarchar](30) NULL,
		[COST_ID] [float] NULL,
		[TAX_CODE] [nvarchar](50) NULL,
		[TAX_EXEMPT_FLAG] [nvarchar](1) NULL,
		[TAX_EXEMPT_NUMBER] [nvarchar](80) NULL,
		[TAX_EXEMPT_REASON_CODE] [nvarchar](30) NULL,
		[PARENT_ADJUSTMENT_ID] [float] NULL,
		[INVOICED_FLAG] [nvarchar](1) NULL,
		[ESTIMATED_FLAG] [nvarchar](1) NULL,
		[INC_IN_SALES_PERFORMANCE] [nvarchar](1) NULL,
		[SPLIT_ACTION_CODE] [nvarchar](30) NULL,
		[PRICING_PHASE_ID] [float] NULL,
		[ADJUSTED_AMOUNT] [float] NULL,
		[CHARGE_TYPE_CODE] [nvarchar](30) NULL,
		[CHARGE_SUBTYPE_CODE] [nvarchar](30) NULL,
		[LIST_LINE_NO] [nvarchar](240) NULL,
		[SOURCE_SYSTEM_CODE] [nvarchar](30) NULL,
		[BENEFIT_QTY] [float] NULL,
		[BENEFIT_UOM_CODE] [nvarchar](3) NULL,
		[PRINT_ON_INVOICE_FLAG] [nvarchar](1) NULL,
		[EXPIRATION_DATE] [datetime2](7) NULL,
		[REBATE_TRANSACTION_TYPE_CODE] [nvarchar](30) NULL,
		[REBATE_TRANSACTION_REFERENCE] [nvarchar](80) NULL,
		[REBATE_PAYMENT_SYSTEM_CODE] [nvarchar](30) NULL,
		[REDEEMED_DATE] [datetime2](7) NULL,
		[REDEEMED_FLAG] [nvarchar](1) NULL,
		[ACCRUAL_FLAG] [nvarchar](1) NULL,
		[RANGE_BREAK_QUANTITY] [float] NULL,
		[ACCRUAL_CONVERSION_RATE] [float] NULL,
		[PRICING_GROUP_SEQUENCE] [float] NULL,
		[MODIFIER_LEVEL_CODE] [nvarchar](30) NULL,
		[PRICE_BREAK_TYPE_CODE] [nvarchar](30) NULL,
		[SUBSTITUTION_ATTRIBUTE] [nvarchar](30) NULL,
		[PRORATION_TYPE_CODE] [nvarchar](30) NULL,
		[CREDIT_OR_CHARGE_FLAG] [nvarchar](1) NULL,
		[INCLUDE_ON_RETURNS_FLAG] [nvarchar](1) NULL,
		[ADJUSTMENT_DESCRIPTION] [nvarchar](2000) NULL,
		[AC_CONTEXT] [nvarchar](150) NULL,
		[AC_ATTRIBUTE1] [nvarchar](240) NULL,
		[AC_ATTRIBUTE2] [nvarchar](240) NULL,
		[AC_ATTRIBUTE3] [nvarchar](240) NULL,
		[AC_ATTRIBUTE4] [nvarchar](240) NULL,
		[AC_ATTRIBUTE5] [nvarchar](240) NULL,
		[AC_ATTRIBUTE6] [nvarchar](240) NULL,
		[AC_ATTRIBUTE7] [nvarchar](240) NULL,
		[AC_ATTRIBUTE8] [nvarchar](240) NULL,
		[AC_ATTRIBUTE9] [nvarchar](240) NULL,
		[AC_ATTRIBUTE10] [nvarchar](240) NULL,
		[AC_ATTRIBUTE11] [nvarchar](240) NULL,
		[AC_ATTRIBUTE12] [nvarchar](240) NULL,
		[AC_ATTRIBUTE13] [nvarchar](240) NULL,
		[AC_ATTRIBUTE14] [nvarchar](240) NULL,
		[AC_ATTRIBUTE15] [nvarchar](240) NULL,
		[LOCK_CONTROL] [float] NULL,
		[OPERAND_PER_PQTY] [float] NULL,
		[ADJUSTED_AMOUNT_PER_PQTY] [float] NULL,
		[INVOICED_AMOUNT] [float] NULL,
		[RETROBILL_REQUEST_ID] [float] NULL,
		[TAX_RATE_ID] [numeric](15, 0) NULL,
		[Fingerprint] [varchar](32) NOT NULL
	) 

	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Oracle Download', GETDATE()

	INSERT INTO #OrderAdjustment (
		   [ROW_ID]
      ,[PRICE_ADJUSTMENT_ID]
      ,[CREATION_DATE]
      ,[CREATED_BY]
      ,[LAST_UPDATE_DATE]
      ,[LAST_UPDATED_BY]
      ,[LAST_UPDATE_LOGIN]
      ,[PROGRAM_APPLICATION_ID]
      ,[PROGRAM_ID]
      ,[PROGRAM_UPDATE_DATE]
      ,[REQUEST_ID]
      ,[HEADER_ID]
      ,[DISCOUNT_ID]
      ,[DISCOUNT_LINE_ID]
      ,[AUTOMATIC_FLAG]
      ,[PERCENT]
      ,[LINE_ID]
      ,[CONTEXT]
      ,[ATTRIBUTE1]
      ,[ATTRIBUTE2]
      ,[ATTRIBUTE3]
      ,[ATTRIBUTE4]
      ,[ATTRIBUTE5]
      ,[ATTRIBUTE6]
      ,[ATTRIBUTE7]
      ,[ATTRIBUTE8]
      ,[ATTRIBUTE9]
      ,[ATTRIBUTE10]
      ,[ATTRIBUTE11]
      ,[ATTRIBUTE12]
      ,[ATTRIBUTE13]
      ,[ATTRIBUTE14]
      ,[ATTRIBUTE15]
      ,[ORIG_SYS_DISCOUNT_REF]
      ,[LIST_HEADER_ID]
      ,[LIST_LINE_ID]
      ,[LIST_LINE_TYPE_CODE]
      ,[MODIFIER_MECHANISM_TYPE_CODE]
      ,[MODIFIED_FROM]
      ,[MODIFIED_TO]
      ,[UPDATED_FLAG]
      ,[UPDATE_ALLOWED]
      ,[APPLIED_FLAG]
      ,[CHANGE_REASON_CODE]
      ,[CHANGE_REASON_TEXT]
      ,[ADJUSTMENT_NAME]
      ,[ADJUSTMENT_TYPE_CODE]
      ,[OVERRIDE_ALLOWED_FLAG]
      ,[ADJUSTMENT_TYPE_NAME]
      ,[OPERAND]
      ,[ARITHMETIC_OPERATOR]
      ,[COST_ID]
      ,[TAX_CODE]
      ,[TAX_EXEMPT_FLAG]
      ,[TAX_EXEMPT_NUMBER]
      ,[TAX_EXEMPT_REASON_CODE]
      ,[PARENT_ADJUSTMENT_ID]
      ,[INVOICED_FLAG]
      ,[ESTIMATED_FLAG]
      ,[INC_IN_SALES_PERFORMANCE]
      ,[SPLIT_ACTION_CODE]
      ,[PRICING_PHASE_ID]
      ,[ADJUSTED_AMOUNT]
      ,[CHARGE_TYPE_CODE]
      ,[CHARGE_SUBTYPE_CODE]
      ,[LIST_LINE_NO]
      ,[SOURCE_SYSTEM_CODE]
      ,[BENEFIT_QTY]
      ,[BENEFIT_UOM_CODE]
      ,[PRINT_ON_INVOICE_FLAG]
      ,[EXPIRATION_DATE]
      ,[REBATE_TRANSACTION_TYPE_CODE]
      ,[REBATE_TRANSACTION_REFERENCE]
      ,[REBATE_PAYMENT_SYSTEM_CODE]
      ,[REDEEMED_DATE]
      ,[REDEEMED_FLAG]
      ,[ACCRUAL_FLAG]
      ,[RANGE_BREAK_QUANTITY]
      ,[ACCRUAL_CONVERSION_RATE]
      ,[PRICING_GROUP_SEQUENCE]
      ,[MODIFIER_LEVEL_CODE]
      ,[PRICE_BREAK_TYPE_CODE]
      ,[SUBSTITUTION_ATTRIBUTE]
      ,[PRORATION_TYPE_CODE]
      ,[CREDIT_OR_CHARGE_FLAG]
      ,[INCLUDE_ON_RETURNS_FLAG]
      ,[ADJUSTMENT_DESCRIPTION]
      ,[AC_CONTEXT]
      ,[AC_ATTRIBUTE1]
      ,[AC_ATTRIBUTE2]
      ,[AC_ATTRIBUTE3]
      ,[AC_ATTRIBUTE4]
      ,[AC_ATTRIBUTE5]
      ,[AC_ATTRIBUTE6]
      ,[AC_ATTRIBUTE7]
      ,[AC_ATTRIBUTE8]
      ,[AC_ATTRIBUTE9]
      ,[AC_ATTRIBUTE10]
      ,[AC_ATTRIBUTE11]
      ,[AC_ATTRIBUTE12]
      ,[AC_ATTRIBUTE13]
      ,[AC_ATTRIBUTE14]
      ,[AC_ATTRIBUTE15]
      ,[LOCK_CONTROL]
      ,[OPERAND_PER_PQTY]
      ,[ADJUSTED_AMOUNT_PER_PQTY]
      ,[INVOICED_AMOUNT]
      ,[RETROBILL_REQUEST_ID]
      ,[TAX_RATE_ID]
      ,[Fingerprint]
	)
	SELECT
		   [ROW_ID]
      ,[PRICE_ADJUSTMENT_ID]
      ,[CREATION_DATE]
      ,[CREATED_BY]
      ,[LAST_UPDATE_DATE]
      ,[LAST_UPDATED_BY]
      ,[LAST_UPDATE_LOGIN]
      ,[PROGRAM_APPLICATION_ID]
      ,[PROGRAM_ID]
      ,[PROGRAM_UPDATE_DATE]
      ,[REQUEST_ID]
      ,[HEADER_ID]
      ,[DISCOUNT_ID]
      ,[DISCOUNT_LINE_ID]
      ,[AUTOMATIC_FLAG]
      ,[PERCENT]
      ,[LINE_ID]
      ,[CONTEXT]
      ,[ATTRIBUTE1]
      ,[ATTRIBUTE2]
      ,[ATTRIBUTE3]
      ,[ATTRIBUTE4]
      ,[ATTRIBUTE5]
      ,[ATTRIBUTE6]
      ,[ATTRIBUTE7]
      ,[ATTRIBUTE8]
      ,[ATTRIBUTE9]
      ,[ATTRIBUTE10]
      ,[ATTRIBUTE11]
      ,[ATTRIBUTE12]
      ,[ATTRIBUTE13]
      ,[ATTRIBUTE14]
      ,[ATTRIBUTE15]
      ,[ORIG_SYS_DISCOUNT_REF]
      ,[LIST_HEADER_ID]
      ,[LIST_LINE_ID]
      ,[LIST_LINE_TYPE_CODE]
      ,[MODIFIER_MECHANISM_TYPE_CODE]
      ,[MODIFIED_FROM]
      ,[MODIFIED_TO]
      ,[UPDATED_FLAG]
      ,[UPDATE_ALLOWED]
      ,[APPLIED_FLAG]
      ,[CHANGE_REASON_CODE]
      ,[CHANGE_REASON_TEXT]
      ,[ADJUSTMENT_NAME]
      ,[ADJUSTMENT_TYPE_CODE]
      ,[OVERRIDE_ALLOWED_FLAG]
      ,[ADJUSTMENT_TYPE_NAME]
      ,[OPERAND]
      ,[ARITHMETIC_OPERATOR]
      ,[COST_ID]
      ,[TAX_CODE]
      ,[TAX_EXEMPT_FLAG]
      ,[TAX_EXEMPT_NUMBER]
      ,[TAX_EXEMPT_REASON_CODE]
      ,[PARENT_ADJUSTMENT_ID]
      ,[INVOICED_FLAG]
      ,[ESTIMATED_FLAG]
      ,[INC_IN_SALES_PERFORMANCE]
      ,[SPLIT_ACTION_CODE]
      ,[PRICING_PHASE_ID]
      ,[ADJUSTED_AMOUNT]
      ,[CHARGE_TYPE_CODE]
      ,[CHARGE_SUBTYPE_CODE]
      ,[LIST_LINE_NO]
      ,[SOURCE_SYSTEM_CODE]
      ,[BENEFIT_QTY]
      ,[BENEFIT_UOM_CODE]
      ,[PRINT_ON_INVOICE_FLAG]
      ,[EXPIRATION_DATE]
      ,[REBATE_TRANSACTION_TYPE_CODE]
      ,[REBATE_TRANSACTION_REFERENCE]
      ,[REBATE_PAYMENT_SYSTEM_CODE]
      ,[REDEEMED_DATE]
      ,[REDEEMED_FLAG]
      ,[ACCRUAL_FLAG]
      ,[RANGE_BREAK_QUANTITY]
      ,[ACCRUAL_CONVERSION_RATE]
      ,[PRICING_GROUP_SEQUENCE]
      ,[MODIFIER_LEVEL_CODE]
      ,[PRICE_BREAK_TYPE_CODE]
      ,[SUBSTITUTION_ATTRIBUTE]
      ,[PRORATION_TYPE_CODE]
      ,[CREDIT_OR_CHARGE_FLAG]
      ,[INCLUDE_ON_RETURNS_FLAG]
      ,[ADJUSTMENT_DESCRIPTION]
      ,[AC_CONTEXT]
      ,[AC_ATTRIBUTE1]
      ,[AC_ATTRIBUTE2]
      ,[AC_ATTRIBUTE3]
      ,[AC_ATTRIBUTE4]
      ,[AC_ATTRIBUTE5]
      ,[AC_ATTRIBUTE6]
      ,[AC_ATTRIBUTE7]
      ,[AC_ATTRIBUTE8]
      ,[AC_ATTRIBUTE9]
      ,[AC_ATTRIBUTE10]
      ,[AC_ATTRIBUTE11]
      ,[AC_ATTRIBUTE12]
      ,[AC_ATTRIBUTE13]
      ,[AC_ATTRIBUTE14]
      ,[AC_ATTRIBUTE15]
      ,[LOCK_CONTROL]
      ,[OPERAND_PER_PQTY]
      ,[ADJUSTED_AMOUNT_PER_PQTY]
      ,[INVOICED_AMOUNT]
      ,[RETROBILL_REQUEST_ID]
      ,[TAX_RATE_ID]
	  ,'XXX' AS [Fingerprint]
	FROM OPENQUERY(PROD,'SELECT * FROM OE_PRICE_ADJUSTMENTS_V WHERE CREATION_DATE >= sysdate - 7 OR LAST_UPDATE_DATE >= sysdate - 7')

	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Fingerprint', GETDATE()

	/*
		DECLARE @columnList VARCHAR(MAX) = dbo.getHashField ('OE_PRICE_ADJUSTMENTS_V','Oracle') SELECT @columnList
	*/
	UPDATE #OrderAdjustment
	SET Fingerprint = 
		SUBSTRING(LOWER(CONVERT(VARCHAR(32),HASHBYTES('MD5',
			--replace @columnList result here
					   CAST(ISNULL([ROW_ID],'') AS VARCHAR(18)) +  CAST(ISNULL([PRICE_ADJUSTMENT_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([CREATION_DATE],'') AS VARCHAR(100)) +  CAST(ISNULL([CREATED_BY],'0') AS VARCHAR(100)) +  CAST(ISNULL([LAST_UPDATE_DATE],'') AS VARCHAR(100)) +  CAST(ISNULL([LAST_UPDATED_BY],'0') AS VARCHAR(100)) +  CAST(ISNULL([LAST_UPDATE_LOGIN],'0') AS VARCHAR(100)) +  CAST(ISNULL([PROGRAM_APPLICATION_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([PROGRAM_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([PROGRAM_UPDATE_DATE],'') AS VARCHAR(100)) +  CAST(ISNULL([REQUEST_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([HEADER_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([DISCOUNT_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([DISCOUNT_LINE_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([AUTOMATIC_FLAG],'') AS VARCHAR(1)) +  CAST(ISNULL([PERCENT],'0') AS VARCHAR(100)) +  CAST(ISNULL([LINE_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([CONTEXT],'') AS VARCHAR(30)) +  CAST(ISNULL([ATTRIBUTE1],'') AS VARCHAR(240)) +  CAST(ISNULL([ATTRIBUTE2],'') AS VARCHAR(240)) +  CAST(ISNULL([ATTRIBUTE3],'') AS VARCHAR(240)) +  CAST(ISNULL([ATTRIBUTE4],'') AS VARCHAR(240)) +  CAST(ISNULL([ATTRIBUTE5],'') AS VARCHAR(240)) +  CAST(ISNULL([ATTRIBUTE6],'') AS VARCHAR(240)) +  CAST(ISNULL([ATTRIBUTE7],'') AS VARCHAR(240)) +  CAST(ISNULL([ATTRIBUTE8],'') AS VARCHAR(240)) +  CAST(ISNULL([ATTRIBUTE9],'') AS VARCHAR(240)) +  CAST(ISNULL([ATTRIBUTE10],'') AS VARCHAR(240)) +  CAST(ISNULL([ATTRIBUTE11],'') AS VARCHAR(240)) +  CAST(ISNULL([ATTRIBUTE12],'') AS VARCHAR(240)) +  CAST(ISNULL([ATTRIBUTE13],'') AS VARCHAR(240)) +  CAST(ISNULL([ATTRIBUTE14],'') AS VARCHAR(240)) +  CAST(ISNULL([ATTRIBUTE15],'') AS VARCHAR(240)) +  CAST(ISNULL([ORIG_SYS_DISCOUNT_REF],'') AS VARCHAR(50)) +  CAST(ISNULL([LIST_HEADER_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([LIST_LINE_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([LIST_LINE_TYPE_CODE],'') AS VARCHAR(30)) +  CAST(ISNULL([MODIFIER_MECHANISM_TYPE_CODE],'') AS VARCHAR(30)) +  CAST(ISNULL([MODIFIED_FROM],'') AS VARCHAR(240)) +  CAST(ISNULL([MODIFIED_TO],'') AS VARCHAR(240)) +  CAST(ISNULL([UPDATED_FLAG],'') AS VARCHAR(1)) +  CAST(ISNULL([UPDATE_ALLOWED],'') AS VARCHAR(1)) +  CAST(ISNULL([APPLIED_FLAG],'') AS VARCHAR(1)) +  CAST(ISNULL([CHANGE_REASON_CODE],'') AS VARCHAR(30)) +  CAST(ISNULL([CHANGE_REASON_TEXT],'') AS VARCHAR(2000)) +  CAST(ISNULL([ADJUSTMENT_NAME],'') AS VARCHAR(240)) +  CAST(ISNULL([ADJUSTMENT_TYPE_CODE],'') AS VARCHAR(30)) +  CAST(ISNULL([OVERRIDE_ALLOWED_FLAG],'') AS VARCHAR(1)) +  CAST(ISNULL([ADJUSTMENT_TYPE_NAME],'') AS VARCHAR(2)) +  CAST(ISNULL([OPERAND],'0') AS VARCHAR(100)) +  CAST(ISNULL([ARITHMETIC_OPERATOR],'') AS VARCHAR(30)) +  CAST(ISNULL([COST_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([TAX_CODE],'') AS VARCHAR(50)) +  CAST(ISNULL([TAX_EXEMPT_FLAG],'') AS VARCHAR(1)) +  CAST(ISNULL([TAX_EXEMPT_NUMBER],'') AS VARCHAR(80)) +  CAST(ISNULL([TAX_EXEMPT_REASON_CODE],'') AS VARCHAR(30)) +  CAST(ISNULL([PARENT_ADJUSTMENT_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([INVOICED_FLAG],'') AS VARCHAR(1)) +  CAST(ISNULL([ESTIMATED_FLAG],'') AS VARCHAR(1)) +  CAST(ISNULL([INC_IN_SALES_PERFORMANCE],'') AS VARCHAR(1)) +  CAST(ISNULL([SPLIT_ACTION_CODE],'') AS VARCHAR(30)) +  CAST(ISNULL([PRICING_PHASE_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([ADJUSTED_AMOUNT],'0') AS VARCHAR(100)) +  CAST(ISNULL([CHARGE_TYPE_CODE],'') AS VARCHAR(30)) +  CAST(ISNULL([CHARGE_SUBTYPE_CODE],'') AS VARCHAR(30)) +  CAST(ISNULL([LIST_LINE_NO],'') AS VARCHAR(240)) +  CAST(ISNULL([SOURCE_SYSTEM_CODE],'') AS VARCHAR(30)) +  CAST(ISNULL([BENEFIT_QTY],'0') AS VARCHAR(100)) +  CAST(ISNULL([BENEFIT_UOM_CODE],'') AS VARCHAR(3)) +  CAST(ISNULL([PRINT_ON_INVOICE_FLAG],'') AS VARCHAR(1)) +  CAST(ISNULL([EXPIRATION_DATE],'') AS VARCHAR(100)) +  CAST(ISNULL([REBATE_TRANSACTION_TYPE_CODE],'') AS VARCHAR(30)) +  CAST(ISNULL([REBATE_TRANSACTION_REFERENCE],'') AS VARCHAR(80)) +  CAST(ISNULL([REBATE_PAYMENT_SYSTEM_CODE],'') AS VARCHAR(30)) +  CAST(ISNULL([REDEEMED_DATE],'') AS VARCHAR(100)) +  CAST(ISNULL([REDEEMED_FLAG],'') AS VARCHAR(1)) +  CAST(ISNULL([ACCRUAL_FLAG],'') AS VARCHAR(1)) +  CAST(ISNULL([RANGE_BREAK_QUANTITY],'0') AS VARCHAR(100)) +  CAST(ISNULL([ACCRUAL_CONVERSION_RATE],'0') AS VARCHAR(100)) +  CAST(ISNULL([PRICING_GROUP_SEQUENCE],'0') AS VARCHAR(100)) +  CAST(ISNULL([MODIFIER_LEVEL_CODE],'') AS VARCHAR(30)) +  CAST(ISNULL([PRICE_BREAK_TYPE_CODE],'') AS VARCHAR(30)) +  CAST(ISNULL([SUBSTITUTION_ATTRIBUTE],'') AS VARCHAR(30)) +  CAST(ISNULL([PRORATION_TYPE_CODE],'') AS VARCHAR(30)) +  CAST(ISNULL([CREDIT_OR_CHARGE_FLAG],'') AS VARCHAR(1)) +  CAST(ISNULL([INCLUDE_ON_RETURNS_FLAG],'') AS VARCHAR(1)) +  CAST(ISNULL([ADJUSTMENT_DESCRIPTION],'') AS VARCHAR(2000)) +  CAST(ISNULL([AC_CONTEXT],'') AS VARCHAR(150)) +  CAST(ISNULL([AC_ATTRIBUTE1],'') AS VARCHAR(240)) +  CAST(ISNULL([AC_ATTRIBUTE2],'') AS VARCHAR(240)) +  CAST(ISNULL([AC_ATTRIBUTE3],'') AS VARCHAR(240)) +  CAST(ISNULL([AC_ATTRIBUTE4],'') AS VARCHAR(240)) +  CAST(ISNULL([AC_ATTRIBUTE5],'') AS VARCHAR(240)) +  CAST(ISNULL([AC_ATTRIBUTE6],'') AS VARCHAR(240)) +  CAST(ISNULL([AC_ATTRIBUTE7],'') AS VARCHAR(240)) +  CAST(ISNULL([AC_ATTRIBUTE8],'') AS VARCHAR(240)) +  CAST(ISNULL([AC_ATTRIBUTE9],'') AS VARCHAR(240)) +  CAST(ISNULL([AC_ATTRIBUTE10],'') AS VARCHAR(240)) +  CAST(ISNULL([AC_ATTRIBUTE11],'') AS VARCHAR(240)) +  CAST(ISNULL([AC_ATTRIBUTE12],'') AS VARCHAR(240)) +  CAST(ISNULL([AC_ATTRIBUTE13],'') AS VARCHAR(240)) +  CAST(ISNULL([AC_ATTRIBUTE14],'') AS VARCHAR(240)) +  CAST(ISNULL([AC_ATTRIBUTE15],'') AS VARCHAR(240)) +  CAST(ISNULL([LOCK_CONTROL],'0') AS VARCHAR(100)) +  CAST(ISNULL([OPERAND_PER_PQTY],'0') AS VARCHAR(100)) +  CAST(ISNULL([ADJUSTED_AMOUNT_PER_PQTY],'0') AS VARCHAR(100)) +  CAST(ISNULL([INVOICED_AMOUNT],'0') AS VARCHAR(100)) +  CAST(ISNULL([RETROBILL_REQUEST_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([TAX_RATE_ID],'0') AS VARCHAR(100)) 
		),1)),3,32)


	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Merge', GETDATE()

	INSERT INTO Oracle.OE_PRICE_ADJUSTMENTS_V (
	   [ROW_ID]
      ,[PRICE_ADJUSTMENT_ID]
      ,[CREATION_DATE]
      ,[CREATED_BY]
      ,[LAST_UPDATE_DATE]
      ,[LAST_UPDATED_BY]
      ,[LAST_UPDATE_LOGIN]
      ,[PROGRAM_APPLICATION_ID]
      ,[PROGRAM_ID]
      ,[PROGRAM_UPDATE_DATE]
      ,[REQUEST_ID]
      ,[HEADER_ID]
      ,[DISCOUNT_ID]
      ,[DISCOUNT_LINE_ID]
      ,[AUTOMATIC_FLAG]
      ,[PERCENT]
      ,[LINE_ID]
      ,[CONTEXT]
      ,[ATTRIBUTE1]
      ,[ATTRIBUTE2]
      ,[ATTRIBUTE3]
      ,[ATTRIBUTE4]
      ,[ATTRIBUTE5]
      ,[ATTRIBUTE6]
      ,[ATTRIBUTE7]
      ,[ATTRIBUTE8]
      ,[ATTRIBUTE9]
      ,[ATTRIBUTE10]
      ,[ATTRIBUTE11]
      ,[ATTRIBUTE12]
      ,[ATTRIBUTE13]
      ,[ATTRIBUTE14]
      ,[ATTRIBUTE15]
      ,[ORIG_SYS_DISCOUNT_REF]
      ,[LIST_HEADER_ID]
      ,[LIST_LINE_ID]
      ,[LIST_LINE_TYPE_CODE]
      ,[MODIFIER_MECHANISM_TYPE_CODE]
      ,[MODIFIED_FROM]
      ,[MODIFIED_TO]
      ,[UPDATED_FLAG]
      ,[UPDATE_ALLOWED]
      ,[APPLIED_FLAG]
      ,[CHANGE_REASON_CODE]
      ,[CHANGE_REASON_TEXT]
      ,[ADJUSTMENT_NAME]
      ,[ADJUSTMENT_TYPE_CODE]
      ,[OVERRIDE_ALLOWED_FLAG]
      ,[ADJUSTMENT_TYPE_NAME]
      ,[OPERAND]
      ,[ARITHMETIC_OPERATOR]
      ,[COST_ID]
      ,[TAX_CODE]
      ,[TAX_EXEMPT_FLAG]
      ,[TAX_EXEMPT_NUMBER]
      ,[TAX_EXEMPT_REASON_CODE]
      ,[PARENT_ADJUSTMENT_ID]
      ,[INVOICED_FLAG]
      ,[ESTIMATED_FLAG]
      ,[INC_IN_SALES_PERFORMANCE]
      ,[SPLIT_ACTION_CODE]
      ,[PRICING_PHASE_ID]
      ,[ADJUSTED_AMOUNT]
      ,[CHARGE_TYPE_CODE]
      ,[CHARGE_SUBTYPE_CODE]
      ,[LIST_LINE_NO]
      ,[SOURCE_SYSTEM_CODE]
      ,[BENEFIT_QTY]
      ,[BENEFIT_UOM_CODE]
      ,[PRINT_ON_INVOICE_FLAG]
      ,[EXPIRATION_DATE]
      ,[REBATE_TRANSACTION_TYPE_CODE]
      ,[REBATE_TRANSACTION_REFERENCE]
      ,[REBATE_PAYMENT_SYSTEM_CODE]
      ,[REDEEMED_DATE]
      ,[REDEEMED_FLAG]
      ,[ACCRUAL_FLAG]
      ,[RANGE_BREAK_QUANTITY]
      ,[ACCRUAL_CONVERSION_RATE]
      ,[PRICING_GROUP_SEQUENCE]
      ,[MODIFIER_LEVEL_CODE]
      ,[PRICE_BREAK_TYPE_CODE]
      ,[SUBSTITUTION_ATTRIBUTE]
      ,[PRORATION_TYPE_CODE]
      ,[CREDIT_OR_CHARGE_FLAG]
      ,[INCLUDE_ON_RETURNS_FLAG]
      ,[ADJUSTMENT_DESCRIPTION]
      ,[AC_CONTEXT]
      ,[AC_ATTRIBUTE1]
      ,[AC_ATTRIBUTE2]
      ,[AC_ATTRIBUTE3]
      ,[AC_ATTRIBUTE4]
      ,[AC_ATTRIBUTE5]
      ,[AC_ATTRIBUTE6]
      ,[AC_ATTRIBUTE7]
      ,[AC_ATTRIBUTE8]
      ,[AC_ATTRIBUTE9]
      ,[AC_ATTRIBUTE10]
      ,[AC_ATTRIBUTE11]
      ,[AC_ATTRIBUTE12]
      ,[AC_ATTRIBUTE13]
      ,[AC_ATTRIBUTE14]
      ,[AC_ATTRIBUTE15]
      ,[LOCK_CONTROL]
      ,[OPERAND_PER_PQTY]
      ,[ADJUSTED_AMOUNT_PER_PQTY]
      ,[INVOICED_AMOUNT]
      ,[RETROBILL_REQUEST_ID]
      ,[TAX_RATE_ID]
      ,[Fingerprint]
	)
		SELECT 
				   a.[ROW_ID]
				  ,a.[PRICE_ADJUSTMENT_ID]
				  ,a.[CREATION_DATE]
				  ,a.[CREATED_BY]
				  ,a.[LAST_UPDATE_DATE]
				  ,a.[LAST_UPDATED_BY]
				  ,a.[LAST_UPDATE_LOGIN]
				  ,a.[PROGRAM_APPLICATION_ID]
				  ,a.[PROGRAM_ID]
				  ,a.[PROGRAM_UPDATE_DATE]
				  ,a.[REQUEST_ID]
				  ,a.[HEADER_ID]
				  ,a.[DISCOUNT_ID]
				  ,a.[DISCOUNT_LINE_ID]
				  ,a.[AUTOMATIC_FLAG]
				  ,a.[PERCENT]
				  ,a.[LINE_ID]
				  ,a.[CONTEXT]
				  ,a.[ATTRIBUTE1]
				  ,a.[ATTRIBUTE2]
				  ,a.[ATTRIBUTE3]
				  ,a.[ATTRIBUTE4]
				  ,a.[ATTRIBUTE5]
				  ,a.[ATTRIBUTE6]
				  ,a.[ATTRIBUTE7]
				  ,a.[ATTRIBUTE8]
				  ,a.[ATTRIBUTE9]
				  ,a.[ATTRIBUTE10]
				  ,a.[ATTRIBUTE11]
				  ,a.[ATTRIBUTE12]
				  ,a.[ATTRIBUTE13]
				  ,a.[ATTRIBUTE14]
				  ,a.[ATTRIBUTE15]
				  ,a.[ORIG_SYS_DISCOUNT_REF]
				  ,a.[LIST_HEADER_ID]
				  ,a.[LIST_LINE_ID]
				  ,a.[LIST_LINE_TYPE_CODE]
				  ,a.[MODIFIER_MECHANISM_TYPE_CODE]
				  ,a.[MODIFIED_FROM]
				  ,a.[MODIFIED_TO]
				  ,a.[UPDATED_FLAG]
				  ,a.[UPDATE_ALLOWED]
				  ,a.[APPLIED_FLAG]
				  ,a.[CHANGE_REASON_CODE]
				  ,a.[CHANGE_REASON_TEXT]
				  ,a.[ADJUSTMENT_NAME]
				  ,a.[ADJUSTMENT_TYPE_CODE]
				  ,a.[OVERRIDE_ALLOWED_FLAG]
				  ,a.[ADJUSTMENT_TYPE_NAME]
				  ,a.[OPERAND]
				  ,a.[ARITHMETIC_OPERATOR]
				  ,a.[COST_ID]
				  ,a.[TAX_CODE]
				  ,a.[TAX_EXEMPT_FLAG]
				  ,a.[TAX_EXEMPT_NUMBER]
				  ,a.[TAX_EXEMPT_REASON_CODE]
				  ,a.[PARENT_ADJUSTMENT_ID]
				  ,a.[INVOICED_FLAG]
				  ,a.[ESTIMATED_FLAG]
				  ,a.[INC_IN_SALES_PERFORMANCE]
				  ,a.[SPLIT_ACTION_CODE]
				  ,a.[PRICING_PHASE_ID]
				  ,a.[ADJUSTED_AMOUNT]
				  ,a.[CHARGE_TYPE_CODE]
				  ,a.[CHARGE_SUBTYPE_CODE]
				  ,a.[LIST_LINE_NO]
				  ,a.[SOURCE_SYSTEM_CODE]
				  ,a.[BENEFIT_QTY]
				  ,a.[BENEFIT_UOM_CODE]
				  ,a.[PRINT_ON_INVOICE_FLAG]
				  ,a.[EXPIRATION_DATE]
				  ,a.[REBATE_TRANSACTION_TYPE_CODE]
				  ,a.[REBATE_TRANSACTION_REFERENCE]
				  ,a.[REBATE_PAYMENT_SYSTEM_CODE]
				  ,a.[REDEEMED_DATE]
				  ,a.[REDEEMED_FLAG]
				  ,a.[ACCRUAL_FLAG]
				  ,a.[RANGE_BREAK_QUANTITY]
				  ,a.[ACCRUAL_CONVERSION_RATE]
				  ,a.[PRICING_GROUP_SEQUENCE]
				  ,a.[MODIFIER_LEVEL_CODE]
				  ,a.[PRICE_BREAK_TYPE_CODE]
				  ,a.[SUBSTITUTION_ATTRIBUTE]
				  ,a.[PRORATION_TYPE_CODE]
				  ,a.[CREDIT_OR_CHARGE_FLAG]
				  ,a.[INCLUDE_ON_RETURNS_FLAG]
				  ,a.[ADJUSTMENT_DESCRIPTION]
				  ,a.[AC_CONTEXT]
				  ,a.[AC_ATTRIBUTE1]
				  ,a.[AC_ATTRIBUTE2]
				  ,a.[AC_ATTRIBUTE3]
				  ,a.[AC_ATTRIBUTE4]
				  ,a.[AC_ATTRIBUTE5]
				  ,a.[AC_ATTRIBUTE6]
				  ,a.[AC_ATTRIBUTE7]
				  ,a.[AC_ATTRIBUTE8]
				  ,a.[AC_ATTRIBUTE9]
				  ,a.[AC_ATTRIBUTE10]
				  ,a.[AC_ATTRIBUTE11]
				  ,a.[AC_ATTRIBUTE12]
				  ,a.[AC_ATTRIBUTE13]
				  ,a.[AC_ATTRIBUTE14]
				  ,a.[AC_ATTRIBUTE15]
				  ,a.[LOCK_CONTROL]
				  ,a.[OPERAND_PER_PQTY]
				  ,a.[ADJUSTED_AMOUNT_PER_PQTY]
				  ,a.[INVOICED_AMOUNT]
				  ,a.[RETROBILL_REQUEST_ID]
				  ,a.[TAX_RATE_ID]
				  ,a.[Fingerprint]
			FROM (
				MERGE Oracle.OE_PRICE_ADJUSTMENTS_V b
				USING (SELECT * FROM #orderAdjustment) a
				ON a.[PRICE_ADJUSTMENT_ID] = b.[PRICE_ADJUSTMENT_ID] AND b.CurrentRecord = 1 --swap with business key of table
				WHEN NOT MATCHED --BY TARGET 
				THEN INSERT (
						   [ROW_ID]
						  ,[PRICE_ADJUSTMENT_ID]
						  ,[CREATION_DATE]
						  ,[CREATED_BY]
						  ,[LAST_UPDATE_DATE]
						  ,[LAST_UPDATED_BY]
						  ,[LAST_UPDATE_LOGIN]
						  ,[PROGRAM_APPLICATION_ID]
						  ,[PROGRAM_ID]
						  ,[PROGRAM_UPDATE_DATE]
						  ,[REQUEST_ID]
						  ,[HEADER_ID]
						  ,[DISCOUNT_ID]
						  ,[DISCOUNT_LINE_ID]
						  ,[AUTOMATIC_FLAG]
						  ,[PERCENT]
						  ,[LINE_ID]
						  ,[CONTEXT]
						  ,[ATTRIBUTE1]
						  ,[ATTRIBUTE2]
						  ,[ATTRIBUTE3]
						  ,[ATTRIBUTE4]
						  ,[ATTRIBUTE5]
						  ,[ATTRIBUTE6]
						  ,[ATTRIBUTE7]
						  ,[ATTRIBUTE8]
						  ,[ATTRIBUTE9]
						  ,[ATTRIBUTE10]
						  ,[ATTRIBUTE11]
						  ,[ATTRIBUTE12]
						  ,[ATTRIBUTE13]
						  ,[ATTRIBUTE14]
						  ,[ATTRIBUTE15]
						  ,[ORIG_SYS_DISCOUNT_REF]
						  ,[LIST_HEADER_ID]
						  ,[LIST_LINE_ID]
						  ,[LIST_LINE_TYPE_CODE]
						  ,[MODIFIER_MECHANISM_TYPE_CODE]
						  ,[MODIFIED_FROM]
						  ,[MODIFIED_TO]
						  ,[UPDATED_FLAG]
						  ,[UPDATE_ALLOWED]
						  ,[APPLIED_FLAG]
						  ,[CHANGE_REASON_CODE]
						  ,[CHANGE_REASON_TEXT]
						  ,[ADJUSTMENT_NAME]
						  ,[ADJUSTMENT_TYPE_CODE]
						  ,[OVERRIDE_ALLOWED_FLAG]
						  ,[ADJUSTMENT_TYPE_NAME]
						  ,[OPERAND]
						  ,[ARITHMETIC_OPERATOR]
						  ,[COST_ID]
						  ,[TAX_CODE]
						  ,[TAX_EXEMPT_FLAG]
						  ,[TAX_EXEMPT_NUMBER]
						  ,[TAX_EXEMPT_REASON_CODE]
						  ,[PARENT_ADJUSTMENT_ID]
						  ,[INVOICED_FLAG]
						  ,[ESTIMATED_FLAG]
						  ,[INC_IN_SALES_PERFORMANCE]
						  ,[SPLIT_ACTION_CODE]
						  ,[PRICING_PHASE_ID]
						  ,[ADJUSTED_AMOUNT]
						  ,[CHARGE_TYPE_CODE]
						  ,[CHARGE_SUBTYPE_CODE]
						  ,[LIST_LINE_NO]
						  ,[SOURCE_SYSTEM_CODE]
						  ,[BENEFIT_QTY]
						  ,[BENEFIT_UOM_CODE]
						  ,[PRINT_ON_INVOICE_FLAG]
						  ,[EXPIRATION_DATE]
						  ,[REBATE_TRANSACTION_TYPE_CODE]
						  ,[REBATE_TRANSACTION_REFERENCE]
						  ,[REBATE_PAYMENT_SYSTEM_CODE]
						  ,[REDEEMED_DATE]
						  ,[REDEEMED_FLAG]
						  ,[ACCRUAL_FLAG]
						  ,[RANGE_BREAK_QUANTITY]
						  ,[ACCRUAL_CONVERSION_RATE]
						  ,[PRICING_GROUP_SEQUENCE]
						  ,[MODIFIER_LEVEL_CODE]
						  ,[PRICE_BREAK_TYPE_CODE]
						  ,[SUBSTITUTION_ATTRIBUTE]
						  ,[PRORATION_TYPE_CODE]
						  ,[CREDIT_OR_CHARGE_FLAG]
						  ,[INCLUDE_ON_RETURNS_FLAG]
						  ,[ADJUSTMENT_DESCRIPTION]
						  ,[AC_CONTEXT]
						  ,[AC_ATTRIBUTE1]
						  ,[AC_ATTRIBUTE2]
						  ,[AC_ATTRIBUTE3]
						  ,[AC_ATTRIBUTE4]
						  ,[AC_ATTRIBUTE5]
						  ,[AC_ATTRIBUTE6]
						  ,[AC_ATTRIBUTE7]
						  ,[AC_ATTRIBUTE8]
						  ,[AC_ATTRIBUTE9]
						  ,[AC_ATTRIBUTE10]
						  ,[AC_ATTRIBUTE11]
						  ,[AC_ATTRIBUTE12]
						  ,[AC_ATTRIBUTE13]
						  ,[AC_ATTRIBUTE14]
						  ,[AC_ATTRIBUTE15]
						  ,[LOCK_CONTROL]
						  ,[OPERAND_PER_PQTY]
						  ,[ADJUSTED_AMOUNT_PER_PQTY]
						  ,[INVOICED_AMOUNT]
						  ,[RETROBILL_REQUEST_ID]
						  ,[TAX_RATE_ID]
						  ,[Fingerprint]			)
			VALUES (
					a.[ROW_ID]
				,a.[PRICE_ADJUSTMENT_ID]
				,a.[CREATION_DATE]
				,a.[CREATED_BY]
				,a.[LAST_UPDATE_DATE]
				,a.[LAST_UPDATED_BY]
				,a.[LAST_UPDATE_LOGIN]
				,a.[PROGRAM_APPLICATION_ID]
				,a.[PROGRAM_ID]
				,a.[PROGRAM_UPDATE_DATE]
				,a.[REQUEST_ID]
				,a.[HEADER_ID]
				,a.[DISCOUNT_ID]
				,a.[DISCOUNT_LINE_ID]
				,a.[AUTOMATIC_FLAG]
				,a.[PERCENT]
				,a.[LINE_ID]
				,a.[CONTEXT]
				,a.[ATTRIBUTE1]
				,a.[ATTRIBUTE2]
				,a.[ATTRIBUTE3]
				,a.[ATTRIBUTE4]
				,a.[ATTRIBUTE5]
				,a.[ATTRIBUTE6]
				,a.[ATTRIBUTE7]
				,a.[ATTRIBUTE8]
				,a.[ATTRIBUTE9]
				,a.[ATTRIBUTE10]
				,a.[ATTRIBUTE11]
				,a.[ATTRIBUTE12]
				,a.[ATTRIBUTE13]
				,a.[ATTRIBUTE14]
				,a.[ATTRIBUTE15]
				,a.[ORIG_SYS_DISCOUNT_REF]
				,a.[LIST_HEADER_ID]
				,a.[LIST_LINE_ID]
				,a.[LIST_LINE_TYPE_CODE]
				,a.[MODIFIER_MECHANISM_TYPE_CODE]
				,a.[MODIFIED_FROM]
				,a.[MODIFIED_TO]
				,a.[UPDATED_FLAG]
				,a.[UPDATE_ALLOWED]
				,a.[APPLIED_FLAG]
				,a.[CHANGE_REASON_CODE]
				,a.[CHANGE_REASON_TEXT]
				,a.[ADJUSTMENT_NAME]
				,a.[ADJUSTMENT_TYPE_CODE]
				,a.[OVERRIDE_ALLOWED_FLAG]
				,a.[ADJUSTMENT_TYPE_NAME]
				,a.[OPERAND]
				,a.[ARITHMETIC_OPERATOR]
				,a.[COST_ID]
				,a.[TAX_CODE]
				,a.[TAX_EXEMPT_FLAG]
				,a.[TAX_EXEMPT_NUMBER]
				,a.[TAX_EXEMPT_REASON_CODE]
				,a.[PARENT_ADJUSTMENT_ID]
				,a.[INVOICED_FLAG]
				,a.[ESTIMATED_FLAG]
				,a.[INC_IN_SALES_PERFORMANCE]
				,a.[SPLIT_ACTION_CODE]
				,a.[PRICING_PHASE_ID]
				,a.[ADJUSTED_AMOUNT]
				,a.[CHARGE_TYPE_CODE]
				,a.[CHARGE_SUBTYPE_CODE]
				,a.[LIST_LINE_NO]
				,a.[SOURCE_SYSTEM_CODE]
				,a.[BENEFIT_QTY]
				,a.[BENEFIT_UOM_CODE]
				,a.[PRINT_ON_INVOICE_FLAG]
				,a.[EXPIRATION_DATE]
				,a.[REBATE_TRANSACTION_TYPE_CODE]
				,a.[REBATE_TRANSACTION_REFERENCE]
				,a.[REBATE_PAYMENT_SYSTEM_CODE]
				,a.[REDEEMED_DATE]
				,a.[REDEEMED_FLAG]
				,a.[ACCRUAL_FLAG]
				,a.[RANGE_BREAK_QUANTITY]
				,a.[ACCRUAL_CONVERSION_RATE]
				,a.[PRICING_GROUP_SEQUENCE]
				,a.[MODIFIER_LEVEL_CODE]
				,a.[PRICE_BREAK_TYPE_CODE]
				,a.[SUBSTITUTION_ATTRIBUTE]
				,a.[PRORATION_TYPE_CODE]
				,a.[CREDIT_OR_CHARGE_FLAG]
				,a.[INCLUDE_ON_RETURNS_FLAG]
				,a.[ADJUSTMENT_DESCRIPTION]
				,a.[AC_CONTEXT]
				,a.[AC_ATTRIBUTE1]
				,a.[AC_ATTRIBUTE2]
				,a.[AC_ATTRIBUTE3]
				,a.[AC_ATTRIBUTE4]
				,a.[AC_ATTRIBUTE5]
				,a.[AC_ATTRIBUTE6]
				,a.[AC_ATTRIBUTE7]
				,a.[AC_ATTRIBUTE8]
				,a.[AC_ATTRIBUTE9]
				,a.[AC_ATTRIBUTE10]
				,a.[AC_ATTRIBUTE11]
				,a.[AC_ATTRIBUTE12]
				,a.[AC_ATTRIBUTE13]
				,a.[AC_ATTRIBUTE14]
				,a.[AC_ATTRIBUTE15]
				,a.[LOCK_CONTROL]
				,a.[OPERAND_PER_PQTY]
				,a.[ADJUSTED_AMOUNT_PER_PQTY]
				,a.[INVOICED_AMOUNT]
				,a.[RETROBILL_REQUEST_ID]
				,a.[TAX_RATE_ID]
				,a.[Fingerprint]
			)
			--Existing records that have changed are expired
			WHEN MATCHED AND a.Fingerprint<>b.Fingerprint
			THEN UPDATE SET b.EndDate=GETDATE()
				,b.CurrentRecord=0
			OUTPUT 
				 a.[ROW_ID]
				,a.[PRICE_ADJUSTMENT_ID]
				,a.[CREATION_DATE]
				,a.[CREATED_BY]
				,a.[LAST_UPDATE_DATE]
				,a.[LAST_UPDATED_BY]
				,a.[LAST_UPDATE_LOGIN]
				,a.[PROGRAM_APPLICATION_ID]
				,a.[PROGRAM_ID]
				,a.[PROGRAM_UPDATE_DATE]
				,a.[REQUEST_ID]
				,a.[HEADER_ID]
				,a.[DISCOUNT_ID]
				,a.[DISCOUNT_LINE_ID]
				,a.[AUTOMATIC_FLAG]
				,a.[PERCENT]
				,a.[LINE_ID]
				,a.[CONTEXT]
				,a.[ATTRIBUTE1]
				,a.[ATTRIBUTE2]
				,a.[ATTRIBUTE3]
				,a.[ATTRIBUTE4]
				,a.[ATTRIBUTE5]
				,a.[ATTRIBUTE6]
				,a.[ATTRIBUTE7]
				,a.[ATTRIBUTE8]
				,a.[ATTRIBUTE9]
				,a.[ATTRIBUTE10]
				,a.[ATTRIBUTE11]
				,a.[ATTRIBUTE12]
				,a.[ATTRIBUTE13]
				,a.[ATTRIBUTE14]
				,a.[ATTRIBUTE15]
				,a.[ORIG_SYS_DISCOUNT_REF]
				,a.[LIST_HEADER_ID]
				,a.[LIST_LINE_ID]
				,a.[LIST_LINE_TYPE_CODE]
				,a.[MODIFIER_MECHANISM_TYPE_CODE]
				,a.[MODIFIED_FROM]
				,a.[MODIFIED_TO]
				,a.[UPDATED_FLAG]
				,a.[UPDATE_ALLOWED]
				,a.[APPLIED_FLAG]
				,a.[CHANGE_REASON_CODE]
				,a.[CHANGE_REASON_TEXT]
				,a.[ADJUSTMENT_NAME]
				,a.[ADJUSTMENT_TYPE_CODE]
				,a.[OVERRIDE_ALLOWED_FLAG]
				,a.[ADJUSTMENT_TYPE_NAME]
				,a.[OPERAND]
				,a.[ARITHMETIC_OPERATOR]
				,a.[COST_ID]
				,a.[TAX_CODE]
				,a.[TAX_EXEMPT_FLAG]
				,a.[TAX_EXEMPT_NUMBER]
				,a.[TAX_EXEMPT_REASON_CODE]
				,a.[PARENT_ADJUSTMENT_ID]
				,a.[INVOICED_FLAG]
				,a.[ESTIMATED_FLAG]
				,a.[INC_IN_SALES_PERFORMANCE]
				,a.[SPLIT_ACTION_CODE]
				,a.[PRICING_PHASE_ID]
				,a.[ADJUSTED_AMOUNT]
				,a.[CHARGE_TYPE_CODE]
				,a.[CHARGE_SUBTYPE_CODE]
				,a.[LIST_LINE_NO]
				,a.[SOURCE_SYSTEM_CODE]
				,a.[BENEFIT_QTY]
				,a.[BENEFIT_UOM_CODE]
				,a.[PRINT_ON_INVOICE_FLAG]
				,a.[EXPIRATION_DATE]
				,a.[REBATE_TRANSACTION_TYPE_CODE]
				,a.[REBATE_TRANSACTION_REFERENCE]
				,a.[REBATE_PAYMENT_SYSTEM_CODE]
				,a.[REDEEMED_DATE]
				,a.[REDEEMED_FLAG]
				,a.[ACCRUAL_FLAG]
				,a.[RANGE_BREAK_QUANTITY]
				,a.[ACCRUAL_CONVERSION_RATE]
				,a.[PRICING_GROUP_SEQUENCE]
				,a.[MODIFIER_LEVEL_CODE]
				,a.[PRICE_BREAK_TYPE_CODE]
				,a.[SUBSTITUTION_ATTRIBUTE]
				,a.[PRORATION_TYPE_CODE]
				,a.[CREDIT_OR_CHARGE_FLAG]
				,a.[INCLUDE_ON_RETURNS_FLAG]
				,a.[ADJUSTMENT_DESCRIPTION]
				,a.[AC_CONTEXT]
				,a.[AC_ATTRIBUTE1]
				,a.[AC_ATTRIBUTE2]
				,a.[AC_ATTRIBUTE3]
				,a.[AC_ATTRIBUTE4]
				,a.[AC_ATTRIBUTE5]
				,a.[AC_ATTRIBUTE6]
				,a.[AC_ATTRIBUTE7]
				,a.[AC_ATTRIBUTE8]
				,a.[AC_ATTRIBUTE9]
				,a.[AC_ATTRIBUTE10]
				,a.[AC_ATTRIBUTE11]
				,a.[AC_ATTRIBUTE12]
				,a.[AC_ATTRIBUTE13]
				,a.[AC_ATTRIBUTE14]
				,a.[AC_ATTRIBUTE15]
				,a.[LOCK_CONTROL]
				,a.[OPERAND_PER_PQTY]
				,a.[ADJUSTED_AMOUNT_PER_PQTY]
				,a.[INVOICED_AMOUNT]
				,a.[RETROBILL_REQUEST_ID]
				,a.[TAX_RATE_ID]
				,a.[Fingerprint]
				,$Action AS Action
		) a
		WHERE Action = 'Update'
		;

	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Done', GETDATE()

	DROP TABLE #orderAdjustment

END
GO
