USE [Operations]
GO
/****** Object:  StoredProcedure [Oracle].[Merge_CustomerPricingModifiers]    Script Date: 7/10/2025 11:43:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [Oracle].[Merge_CustomerPricingModifiers] 
AS BEGIN

		CREATE TABLE #CustomerPricingModifiers(
			[ACCOUNT_NUMBER] [nvarchar](30) NOT NULL,
			[PRICE_LIST_ID] [numeric](15, 0) NULL,
			[PART] [nvarchar](40) NULL,
			[MODIFIER_NAME] [nvarchar](240) NOT NULL,
			[MODIFIER_AMOUNT] [float] NULL,
			[ARITHMETIC] [nvarchar](30) NULL,
			[ACTIVE_FLAG] [nvarchar](1) NULL,
			[STARTDATE] [datetime2](7) NULL,
			[ENDDATE] [datetime2](7) NULL
		)

		INSERT INTO #CustomerPricingModifiers (
			[ACCOUNT_NUMBER]
			,[PRICE_LIST_ID] 
			,[PART]
			,[MODIFIER_NAME]
			,[MODIFIER_AMOUNT]
			,[ARITHMETIC]
			,[ACTIVE_FLAG]
			,[STARTDATE]
			,[ENDDATE]
		)
		SELECT *
		FROM OPENQUERY(PROD,'
		SELECT DISTINCT
			  HCA.ACCOUNT_NUMBER
			, HCA.PRICE_LIST_ID 
			, MSIB.SEGMENT1 AS PART
			, QLT.NAME AS MODIFIER_NAME
			, QL.OPERAND AS MODIFIER_AMOUNT
			, QL.ARITHMETIC_OPERATOR AS ARITHMETIC
			, QQ.ACTIVE_FLAG 
			, QL.START_DATE_ACTIVE STARTDATE 
			, QL.END_DATE_ACTIVE ENDDATE 
		  FROM 
			QP_LIST_HEADERS_TL QLT
			,QP_LIST_LINES QL
			,QP_PRICING_ATTRIBUTES QPA
			,QP_QUALIFIERS QQ 
			,HZ_CUST_ACCOUNTS HCA 
			, MTL_SYSTEM_ITEMS_B MSIB
		  WHERE 
			QQ.LIST_HEADER_ID = QLT.LIST_HEADER_ID 
			AND QQ.QUALIFIER_CONTEXT = ''CUSTOMER'' 
			AND QQ.LIST_TYPE_CODE = ''SLT'' 
			AND QQ.ACTIVE_FLAG = ''Y'' 
			AND QQ.QUALIFIER_ATTR_VALUE = TO_CHAR(HCA.CUST_ACCOUNT_ID) 
			AND QL.PRICING_PHASE_ID > 1 
			--AND QL.QUALIFICATION_IND IN (0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32) 
			AND QL.LIST_LINE_ID = QPA.LIST_LINE_ID(+) 
			AND NVL(QPA.PRICING_ATTRIBUTE_CONTEXT, ''VOLUME'') = ''VOLUME'' 
			AND QL.LIST_HEADER_ID = QLT.LIST_HEADER_ID 
			--AND QL.LIST_LINE_TYPE_CODE = ''SUR'' 
			AND QL.MODIFIER_LEVEL_CODE = ''LINE'' 
			AND SYSDATE BETWEEN QL.START_DATE_ACTIVE AND NVL2 (QL.END_DATE_ACTIVE, QL.END_DATE_ACTIVE + 1, SYSDATE + 1)
			AND PRODUCT_ATTRIBUTE_CONTEXT = ''ITEM'' 
			AND QPA.PRODUCT_ATTR_VALUE <> ''ALL''
			AND CAST(QPA.PRODUCT_ATTR_VALUE AS INT) = MSIB.INVENTORY_ITEM_ID AND MSIB.ORGANIZATION_ID = 85
		') a

		DELETE FROM a
		FROM Oracle.CustomerPricingModifiers a
			LEFT JOIN #CustomerPricingModifiers b ON a.ACCOUNT_NUMBER = b.ACCOUNT_NUMBER AND a.PART = b.PART AND a.MODIFIER_NAME = b.MODIFIER_NAME
		WHERE b.ACCOUNT_NUMBER IS NULL

		INSERT INTO Oracle.CustomerPricingModifiers
		SELECT a.* FROM #CustomerPricingModifiers a
			LEFT JOIN Oracle.CustomerPricingModifiers b ON a.ACCOUNT_NUMBER = b.ACCOUNT_NUMBER AND a.PART = b.PART AND a.MODIFIER_NAME = b.MODIFIER_NAME
		WHERE b.ACCOUNT_NUMBER IS NULL

		UPDATE a
		SET a.ACTIVE_FLAG = b.ACTIVE_FLAG
			,a.ARITHMETIC = b.ARITHMETIC
			,a.MODIFIER_AMOUNT = b.MODIFIER_AMOUNT
			,a.STARTDATE = b.STARTDATE
			,a.ENDDATE = b.ENDDATE
			,a.PRICE_LIST_ID = b.PRICE_LIST_ID
		FROM Oracle.CustomerPricingModifiers a
			INNER JOIN #CustomerPricingModifiers b ON a.ACCOUNT_NUMBER = b.ACCOUNT_NUMBER AND a.PART = b.PART AND a.MODIFIER_NAME = b.MODIFIER_NAME
		
		DROP TABLE #CustomerPricingModifiers
END
GO
