USE [Operations]
GO
/****** Object:  StoredProcedure [Oracle].[Merge_WIP_FLOW_SCHEDULES]    Script Date: 7/10/2025 11:43:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Oracle].[Merge_WIP_FLOW_SCHEDULES]
AS BEGIN

	CREATE TABLE #WIPSchedule (
		[SCHEDULED_FLAG] [float] NOT NULL,
		[WIP_ENTITY_ID] [float] NOT NULL,
		[ORGANIZATION_ID] [float] NOT NULL,
		[LAST_UPDATE_DATE] [datetime2](7) NOT NULL,
		[LAST_UPDATED_BY] [float] NOT NULL,
		[CREATION_DATE] [datetime2](7) NOT NULL,
		[CREATED_BY] [float] NOT NULL,
		[LAST_UPDATE_LOGIN] [float] NULL,
		[REQUEST_ID] [float] NULL,
		[PROGRAM_APPLICATION_ID] [float] NULL,
		[PROGRAM_ID] [float] NULL,
		[PROGRAM_UPDATE_DATE] [datetime2](7) NULL,
		[PRIMARY_ITEM_ID] [float] NULL,
		[CLASS_CODE] [nvarchar](10) NOT NULL,
		[SCHEDULED_START_DATE] [datetime2](7) NOT NULL,
		[DATE_CLOSED] [datetime2](7) NULL,
		[PLANNED_QUANTITY] [float] NOT NULL,
		[QUANTITY_COMPLETED] [float] NOT NULL,
		[MPS_SCHEDULED_COMPLETION_DATE] [datetime2](7) NULL,
		[MPS_NET_QUANTITY] [float] NULL,
		[BOM_REVISION] [nvarchar](3) NULL,
		[ROUTING_REVISION] [nvarchar](3) NULL,
		[BOM_REVISION_DATE] [datetime2](7) NULL,
		[ROUTING_REVISION_DATE] [datetime2](7) NULL,
		[ALTERNATE_BOM_DESIGNATOR] [nvarchar](10) NULL,
		[ALTERNATE_ROUTING_DESIGNATOR] [nvarchar](10) NULL,
		[COMPLETION_SUBINVENTORY] [nvarchar](10) NULL,
		[COMPLETION_LOCATOR_ID] [float] NULL,
		[MATERIAL_ACCOUNT] [float] NULL,
		[MATERIAL_OVERHEAD_ACCOUNT] [float] NULL,
		[RESOURCE_ACCOUNT] [float] NULL,
		[OUTSIDE_PROCESSING_ACCOUNT] [float] NULL,
		[MATERIAL_VARIANCE_ACCOUNT] [float] NULL,
		[RESOURCE_VARIANCE_ACCOUNT] [float] NULL,
		[OUTSIDE_PROC_VARIANCE_ACCOUNT] [float] NULL,
		[STD_COST_ADJUSTMENT_ACCOUNT] [float] NULL,
		[OVERHEAD_ACCOUNT] [float] NULL,
		[OVERHEAD_VARIANCE_ACCOUNT] [float] NULL,
		[DEMAND_CLASS] [nvarchar](30) NULL,
		[SCHEDULED_COMPLETION_DATE] [datetime2](7) NOT NULL,
		[SCHEDULE_GROUP_ID] [float] NULL,
		[BUILD_SEQUENCE] [float] NULL,
		[LINE_ID] [float] NULL,
		[PROJECT_ID] [float] NULL,
		[TASK_ID] [float] NULL,
		[STATUS] [float] NOT NULL,
		[SCHEDULE_NUMBER] [nvarchar](30) NOT NULL,
		[ATTRIBUTE_CATEGORY] [nvarchar](30) NULL,
		[ATTRIBUTE1] [nvarchar](150) NULL,
		[ATTRIBUTE2] [nvarchar](150) NULL,
		[ATTRIBUTE3] [nvarchar](150) NULL,
		[ATTRIBUTE4] [nvarchar](150) NULL,
		[ATTRIBUTE5] [nvarchar](150) NULL,
		[ATTRIBUTE6] [nvarchar](150) NULL,
		[ATTRIBUTE7] [nvarchar](150) NULL,
		[ATTRIBUTE8] [nvarchar](150) NULL,
		[ATTRIBUTE9] [nvarchar](150) NULL,
		[ATTRIBUTE10] [nvarchar](150) NULL,
		[ATTRIBUTE11] [nvarchar](150) NULL,
		[ATTRIBUTE12] [nvarchar](150) NULL,
		[ATTRIBUTE13] [nvarchar](150) NULL,
		[ATTRIBUTE14] [nvarchar](150) NULL,
		[ATTRIBUTE15] [nvarchar](150) NULL,
		[DEMAND_SOURCE_HEADER_ID] [float] NULL,
		[DEMAND_SOURCE_LINE] [nvarchar](30) NULL,
		[DEMAND_SOURCE_DELIVERY] [nvarchar](30) NULL,
		[DEMAND_SOURCE_TYPE] [float] NULL,
		[KANBAN_CARD_ID] [float] NULL,
		[END_ITEM_UNIT_NUMBER] [nvarchar](30) NULL,
		[QUANTITY_SCRAPPED] [float] NOT NULL,
		[CURRENT_LINE_OPERATION] [float] NULL,
		[SYNCH_SCHEDULE_NUM] [nvarchar](30) NULL,
		[SYNCH_OPERATION_SEQ_NUM] [float] NULL,
		[ROLL_FORWARDED_FLAG] [float] NULL,
		[ALLOCATED_FLAG] [nvarchar](1) NULL,
		[AUTO_REPLENISH] [nvarchar](1) NULL,
		[TRANSACTED_FLAG] [nvarchar](1) NULL,
		[SO_CONSUMED_PLAN_ID] [nvarchar](30) NULL,
		[Fingerprint] [varchar](32) NOT NULL
	)


	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Oracle Download', GETDATE()

	INSERT INTO #WIPSchedule
	SELECT [SCHEDULED_FLAG]
		  ,[WIP_ENTITY_ID]
		  ,[ORGANIZATION_ID]
		  ,[LAST_UPDATE_DATE]
		  ,[LAST_UPDATED_BY]
		  ,[CREATION_DATE]
		  ,[CREATED_BY]
		  ,[LAST_UPDATE_LOGIN]
		  ,[REQUEST_ID]
		  ,[PROGRAM_APPLICATION_ID]
		  ,[PROGRAM_ID]
		  ,[PROGRAM_UPDATE_DATE]
		  ,[PRIMARY_ITEM_ID]
		  ,[CLASS_CODE]
		  ,[SCHEDULED_START_DATE]
		  ,[DATE_CLOSED]
		  ,[PLANNED_QUANTITY]
		  ,[QUANTITY_COMPLETED]
		  ,[MPS_SCHEDULED_COMPLETION_DATE]
		  ,[MPS_NET_QUANTITY]
		  ,[BOM_REVISION]
		  ,[ROUTING_REVISION]
		  ,[BOM_REVISION_DATE]
		  ,[ROUTING_REVISION_DATE]
		  ,[ALTERNATE_BOM_DESIGNATOR]
		  ,[ALTERNATE_ROUTING_DESIGNATOR]
		  ,[COMPLETION_SUBINVENTORY]
		  ,[COMPLETION_LOCATOR_ID]
		  ,[MATERIAL_ACCOUNT]
		  ,[MATERIAL_OVERHEAD_ACCOUNT]
		  ,[RESOURCE_ACCOUNT]
		  ,[OUTSIDE_PROCESSING_ACCOUNT]
		  ,[MATERIAL_VARIANCE_ACCOUNT]
		  ,[RESOURCE_VARIANCE_ACCOUNT]
		  ,[OUTSIDE_PROC_VARIANCE_ACCOUNT]
		  ,[STD_COST_ADJUSTMENT_ACCOUNT]
		  ,[OVERHEAD_ACCOUNT]
		  ,[OVERHEAD_VARIANCE_ACCOUNT]
		  ,[DEMAND_CLASS]
		  ,[SCHEDULED_COMPLETION_DATE]
		  ,[SCHEDULE_GROUP_ID]
		  ,[BUILD_SEQUENCE]
		  ,[LINE_ID]
		  ,[PROJECT_ID]
		  ,[TASK_ID]
		  ,[STATUS]
		  ,[SCHEDULE_NUMBER]
		  ,[ATTRIBUTE_CATEGORY]
		  ,[ATTRIBUTE1]
		  ,[ATTRIBUTE2]
		  ,[ATTRIBUTE3]
		  ,[ATTRIBUTE4]
		  ,[ATTRIBUTE5]
		  ,[ATTRIBUTE6]
		  ,[ATTRIBUTE7]
		  ,[ATTRIBUTE8]
		  ,[ATTRIBUTE9]
		  ,[ATTRIBUTE10]
		  ,[ATTRIBUTE11]
		  ,[ATTRIBUTE12]
		  ,[ATTRIBUTE13]
		  ,[ATTRIBUTE14]
		  ,[ATTRIBUTE15]
		  ,[DEMAND_SOURCE_HEADER_ID]
		  ,[DEMAND_SOURCE_LINE]
		  ,[DEMAND_SOURCE_DELIVERY]
		  ,[DEMAND_SOURCE_TYPE]
		  ,[KANBAN_CARD_ID]
		  ,[END_ITEM_UNIT_NUMBER]
		  ,[QUANTITY_SCRAPPED]
		  ,[CURRENT_LINE_OPERATION]
		  ,[SYNCH_SCHEDULE_NUM]
		  ,[SYNCH_OPERATION_SEQ_NUM]
		  ,[ROLL_FORWARDED_FLAG]
		  ,[ALLOCATED_FLAG]
		  ,[AUTO_REPLENISH]
		  ,[TRANSACTED_FLAG]
		  ,[SO_CONSUMED_PLAN_ID]
		  ,'XXX' AS [Fingerprint]
	FROM OPENQUERY(PROD,'SELECT * FROM WIP_FLOW_SCHEDULES WHERE CREATION_DATE >= SYSDATE - 5 OR LAST_UPDATE_DATE >= SYSDATE - 5')

	/*
		DECLARE @columnList VARCHAR(MAX) = dbo.getHashField ('WIP_FLOW_SCHEDULES','Oracle') SELECT @columnList
	*/

	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Fingerprint', GETDATE()

	UPDATE #WIPSchedule
	SET Fingerprint = 
		SUBSTRING(LOWER(CONVERT(VARCHAR(32),HASHBYTES('MD5',
			--replace @columnList result here
			 CAST(ISNULL(SCHEDULED_FLAG,'0') AS VARCHAR(100)) +  CAST(ISNULL(WIP_ENTITY_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(ORGANIZATION_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(LAST_UPDATE_DATE,'') AS VARCHAR(100)) +  CAST(ISNULL(LAST_UPDATED_BY,'0') AS VARCHAR(100)) +  CAST(ISNULL(CREATION_DATE,'') AS VARCHAR(100)) +  CAST(ISNULL(CREATED_BY,'0') AS VARCHAR(100)) +  CAST(ISNULL(LAST_UPDATE_LOGIN,'0') AS VARCHAR(100)) +  CAST(ISNULL(REQUEST_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(PROGRAM_APPLICATION_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(PROGRAM_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(PROGRAM_UPDATE_DATE,'') AS VARCHAR(100)) +  CAST(ISNULL(PRIMARY_ITEM_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(CLASS_CODE,'') AS VARCHAR(10)) +  CAST(ISNULL(SCHEDULED_START_DATE,'') AS VARCHAR(100)) +  CAST(ISNULL(DATE_CLOSED,'') AS VARCHAR(100)) +  CAST(ISNULL(PLANNED_QUANTITY,'0') AS VARCHAR(100)) +  CAST(ISNULL(QUANTITY_COMPLETED,'0') AS VARCHAR(100)) +  CAST(ISNULL(MPS_SCHEDULED_COMPLETION_DATE,'') AS VARCHAR(100)) +  CAST(ISNULL(MPS_NET_QUANTITY,'0') AS VARCHAR(100)) +  CAST(ISNULL(BOM_REVISION,'') AS VARCHAR(3)) +  CAST(ISNULL(ROUTING_REVISION,'') AS VARCHAR(3)) +  CAST(ISNULL(BOM_REVISION_DATE,'') AS VARCHAR(100)) +  CAST(ISNULL(ROUTING_REVISION_DATE,'') AS VARCHAR(100)) +  CAST(ISNULL(ALTERNATE_BOM_DESIGNATOR,'') AS VARCHAR(10)) +  CAST(ISNULL(ALTERNATE_ROUTING_DESIGNATOR,'') AS VARCHAR(10)) +  CAST(ISNULL(COMPLETION_SUBINVENTORY,'') AS VARCHAR(10)) +  CAST(ISNULL(COMPLETION_LOCATOR_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(MATERIAL_ACCOUNT,'0') AS VARCHAR(100)) +  CAST(ISNULL(MATERIAL_OVERHEAD_ACCOUNT,'0') AS VARCHAR(100)) +  CAST(ISNULL(RESOURCE_ACCOUNT,'0') AS VARCHAR(100)) +  CAST(ISNULL(OUTSIDE_PROCESSING_ACCOUNT,'0') AS VARCHAR(100)) +  CAST(ISNULL(MATERIAL_VARIANCE_ACCOUNT,'0') AS VARCHAR(100)) +  CAST(ISNULL(RESOURCE_VARIANCE_ACCOUNT,'0') AS VARCHAR(100)) +  CAST(ISNULL(OUTSIDE_PROC_VARIANCE_ACCOUNT,'0') AS VARCHAR(100)) +  CAST(ISNULL(STD_COST_ADJUSTMENT_ACCOUNT,'0') AS VARCHAR(100)) +  CAST(ISNULL(OVERHEAD_ACCOUNT,'0') AS VARCHAR(100)) +  CAST(ISNULL(OVERHEAD_VARIANCE_ACCOUNT,'0') AS VARCHAR(100)) +  CAST(ISNULL(DEMAND_CLASS,'') AS VARCHAR(30)) +  CAST(ISNULL(SCHEDULED_COMPLETION_DATE,'') AS VARCHAR(100)) +  CAST(ISNULL(SCHEDULE_GROUP_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(BUILD_SEQUENCE,'0') AS VARCHAR(100)) +  CAST(ISNULL(LINE_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(PROJECT_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(TASK_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(STATUS,'0') AS VARCHAR(100)) +  CAST(ISNULL(SCHEDULE_NUMBER,'') AS VARCHAR(30)) +  CAST(ISNULL(ATTRIBUTE_CATEGORY,'') AS VARCHAR(30)) +  CAST(ISNULL(ATTRIBUTE1,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE2,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE3,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE4,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE5,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE6,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE7,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE8,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE9,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE10,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE11,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE12,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE13,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE14,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE15,'') AS VARCHAR(150)) +  CAST(ISNULL(DEMAND_SOURCE_HEADER_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(DEMAND_SOURCE_LINE,'') AS VARCHAR(30)) +  CAST(ISNULL(DEMAND_SOURCE_DELIVERY,'') AS VARCHAR(30)) +  CAST(ISNULL(DEMAND_SOURCE_TYPE,'0') AS VARCHAR(100)) +  CAST(ISNULL(KANBAN_CARD_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(END_ITEM_UNIT_NUMBER,'') AS VARCHAR(30)) +  CAST(ISNULL(QUANTITY_SCRAPPED,'0') AS VARCHAR(100)) +  CAST(ISNULL(CURRENT_LINE_OPERATION,'0') AS VARCHAR(100)) +  CAST(ISNULL(SYNCH_SCHEDULE_NUM,'') AS VARCHAR(30)) +  CAST(ISNULL(SYNCH_OPERATION_SEQ_NUM,'0') AS VARCHAR(100)) +  CAST(ISNULL(ROLL_FORWARDED_FLAG,'0') AS VARCHAR(100)) +  CAST(ISNULL(ALLOCATED_FLAG,'') AS VARCHAR(1)) +  CAST(ISNULL(AUTO_REPLENISH,'') AS VARCHAR(1)) +  CAST(ISNULL(TRANSACTED_FLAG,'') AS VARCHAR(1)) +  CAST(ISNULL(SO_CONSUMED_PLAN_ID,'') AS VARCHAR(30)) 
		),1)),3,32);

	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Merge', GETDATE()

	INSERT INTO Oracle.WIP_FLOW_SCHEDULES (
		  [SCHEDULED_FLAG]
		  ,[WIP_ENTITY_ID]
		  ,[ORGANIZATION_ID]
		  ,[LAST_UPDATE_DATE]
		  ,[LAST_UPDATED_BY]
		  ,[CREATION_DATE]
		  ,[CREATED_BY]
		  ,[LAST_UPDATE_LOGIN]
		  ,[REQUEST_ID]
		  ,[PROGRAM_APPLICATION_ID]
		  ,[PROGRAM_ID]
		  ,[PROGRAM_UPDATE_DATE]
		  ,[PRIMARY_ITEM_ID]
		  ,[CLASS_CODE]
		  ,[SCHEDULED_START_DATE]
		  ,[DATE_CLOSED]
		  ,[PLANNED_QUANTITY]
		  ,[QUANTITY_COMPLETED]
		  ,[MPS_SCHEDULED_COMPLETION_DATE]
		  ,[MPS_NET_QUANTITY]
		  ,[BOM_REVISION]
		  ,[ROUTING_REVISION]
		  ,[BOM_REVISION_DATE]
		  ,[ROUTING_REVISION_DATE]
		  ,[ALTERNATE_BOM_DESIGNATOR]
		  ,[ALTERNATE_ROUTING_DESIGNATOR]
		  ,[COMPLETION_SUBINVENTORY]
		  ,[COMPLETION_LOCATOR_ID]
		  ,[MATERIAL_ACCOUNT]
		  ,[MATERIAL_OVERHEAD_ACCOUNT]
		  ,[RESOURCE_ACCOUNT]
		  ,[OUTSIDE_PROCESSING_ACCOUNT]
		  ,[MATERIAL_VARIANCE_ACCOUNT]
		  ,[RESOURCE_VARIANCE_ACCOUNT]
		  ,[OUTSIDE_PROC_VARIANCE_ACCOUNT]
		  ,[STD_COST_ADJUSTMENT_ACCOUNT]
		  ,[OVERHEAD_ACCOUNT]
		  ,[OVERHEAD_VARIANCE_ACCOUNT]
		  ,[DEMAND_CLASS]
		  ,[SCHEDULED_COMPLETION_DATE]
		  ,[SCHEDULE_GROUP_ID]
		  ,[BUILD_SEQUENCE]
		  ,[LINE_ID]
		  ,[PROJECT_ID]
		  ,[TASK_ID]
		  ,[STATUS]
		  ,[SCHEDULE_NUMBER]
		  ,[ATTRIBUTE_CATEGORY]
		  ,[ATTRIBUTE1]
		  ,[ATTRIBUTE2]
		  ,[ATTRIBUTE3]
		  ,[ATTRIBUTE4]
		  ,[ATTRIBUTE5]
		  ,[ATTRIBUTE6]
		  ,[ATTRIBUTE7]
		  ,[ATTRIBUTE8]
		  ,[ATTRIBUTE9]
		  ,[ATTRIBUTE10]
		  ,[ATTRIBUTE11]
		  ,[ATTRIBUTE12]
		  ,[ATTRIBUTE13]
		  ,[ATTRIBUTE14]
		  ,[ATTRIBUTE15]
		  ,[DEMAND_SOURCE_HEADER_ID]
		  ,[DEMAND_SOURCE_LINE]
		  ,[DEMAND_SOURCE_DELIVERY]
		  ,[DEMAND_SOURCE_TYPE]
		  ,[KANBAN_CARD_ID]
		  ,[END_ITEM_UNIT_NUMBER]
		  ,[QUANTITY_SCRAPPED]
		  ,[CURRENT_LINE_OPERATION]
		  ,[SYNCH_SCHEDULE_NUM]
		  ,[SYNCH_OPERATION_SEQ_NUM]
		  ,[ROLL_FORWARDED_FLAG]
		  ,[ALLOCATED_FLAG]
		  ,[AUTO_REPLENISH]
		  ,[TRANSACTED_FLAG]
		  ,[SO_CONSUMED_PLAN_ID]
		  ,[Fingerprint]
		)
			SELECT 
			  a.[SCHEDULED_FLAG]
			  ,a.[WIP_ENTITY_ID]
			  ,a.[ORGANIZATION_ID]
			  ,a.[LAST_UPDATE_DATE]
			  ,a.[LAST_UPDATED_BY]
			  ,a.[CREATION_DATE]
			  ,a.[CREATED_BY]
			  ,a.[LAST_UPDATE_LOGIN]
			  ,a.[REQUEST_ID]
			  ,a.[PROGRAM_APPLICATION_ID]
			  ,a.[PROGRAM_ID]
			  ,a.[PROGRAM_UPDATE_DATE]
			  ,a.[PRIMARY_ITEM_ID]
			  ,a.[CLASS_CODE]
			  ,a.[SCHEDULED_START_DATE]
			  ,a.[DATE_CLOSED]
			  ,a.[PLANNED_QUANTITY]
			  ,a.[QUANTITY_COMPLETED]
			  ,a.[MPS_SCHEDULED_COMPLETION_DATE]
			  ,a.[MPS_NET_QUANTITY]
			  ,a.[BOM_REVISION]
			  ,a.[ROUTING_REVISION]
			  ,a.[BOM_REVISION_DATE]
			  ,a.[ROUTING_REVISION_DATE]
			  ,a.[ALTERNATE_BOM_DESIGNATOR]
			  ,a.[ALTERNATE_ROUTING_DESIGNATOR]
			  ,a.[COMPLETION_SUBINVENTORY]
			  ,a.[COMPLETION_LOCATOR_ID]
			  ,a.[MATERIAL_ACCOUNT]
			  ,a.[MATERIAL_OVERHEAD_ACCOUNT]
			  ,a.[RESOURCE_ACCOUNT]
			  ,a.[OUTSIDE_PROCESSING_ACCOUNT]
			  ,a.[MATERIAL_VARIANCE_ACCOUNT]
			  ,a.[RESOURCE_VARIANCE_ACCOUNT]
			  ,a.[OUTSIDE_PROC_VARIANCE_ACCOUNT]
			  ,a.[STD_COST_ADJUSTMENT_ACCOUNT]
			  ,a.[OVERHEAD_ACCOUNT]
			  ,a.[OVERHEAD_VARIANCE_ACCOUNT]
			  ,a.[DEMAND_CLASS]
			  ,a.[SCHEDULED_COMPLETION_DATE]
			  ,a.[SCHEDULE_GROUP_ID]
			  ,a.[BUILD_SEQUENCE]
			  ,a.[LINE_ID]
			  ,a.[PROJECT_ID]
			  ,a.[TASK_ID]
			  ,a.[STATUS]
			  ,a.[SCHEDULE_NUMBER]
			  ,a.[ATTRIBUTE_CATEGORY]
			  ,a.[ATTRIBUTE1]
			  ,a.[ATTRIBUTE2]
			  ,a.[ATTRIBUTE3]
			  ,a.[ATTRIBUTE4]
			  ,a.[ATTRIBUTE5]
			  ,a.[ATTRIBUTE6]
			  ,a.[ATTRIBUTE7]
			  ,a.[ATTRIBUTE8]
			  ,a.[ATTRIBUTE9]
			  ,a.[ATTRIBUTE10]
			  ,a.[ATTRIBUTE11]
			  ,a.[ATTRIBUTE12]
			  ,a.[ATTRIBUTE13]
			  ,a.[ATTRIBUTE14]
			  ,a.[ATTRIBUTE15]
			  ,a.[DEMAND_SOURCE_HEADER_ID]
			  ,a.[DEMAND_SOURCE_LINE]
			  ,a.[DEMAND_SOURCE_DELIVERY]
			  ,a.[DEMAND_SOURCE_TYPE]
			  ,a.[KANBAN_CARD_ID]
			  ,a.[END_ITEM_UNIT_NUMBER]
			  ,a.[QUANTITY_SCRAPPED]
			  ,a.[CURRENT_LINE_OPERATION]
			  ,a.[SYNCH_SCHEDULE_NUM]
			  ,a.[SYNCH_OPERATION_SEQ_NUM]
			  ,a.[ROLL_FORWARDED_FLAG]
			  ,a.[ALLOCATED_FLAG]
			  ,a.[AUTO_REPLENISH]
			  ,a.[TRANSACTED_FLAG]
			  ,a.[SO_CONSUMED_PLAN_ID]
			  ,a.[Fingerprint]
			FROM (
				MERGE Oracle.WIP_FLOW_SCHEDULES b
				USING (SELECT * FROM #WIPSchedule) a
				ON a.WIP_ENTITY_ID = b.WIP_ENTITY_ID AND a.ORGANIZATION_ID = b.ORGANIZATION_ID AND b.CurrentRecord = 1 --swap with business key of table
				WHEN NOT MATCHED --BY TARGET 
				THEN INSERT (
					   [SCHEDULED_FLAG]
					  ,[WIP_ENTITY_ID]
					  ,[ORGANIZATION_ID]
					  ,[LAST_UPDATE_DATE]
					  ,[LAST_UPDATED_BY]
					  ,[CREATION_DATE]
					  ,[CREATED_BY]
					  ,[LAST_UPDATE_LOGIN]
					  ,[REQUEST_ID]
					  ,[PROGRAM_APPLICATION_ID]
					  ,[PROGRAM_ID]
					  ,[PROGRAM_UPDATE_DATE]
					  ,[PRIMARY_ITEM_ID]
					  ,[CLASS_CODE]
					  ,[SCHEDULED_START_DATE]
					  ,[DATE_CLOSED]
					  ,[PLANNED_QUANTITY]
					  ,[QUANTITY_COMPLETED]
					  ,[MPS_SCHEDULED_COMPLETION_DATE]
					  ,[MPS_NET_QUANTITY]
					  ,[BOM_REVISION]
					  ,[ROUTING_REVISION]
					  ,[BOM_REVISION_DATE]
					  ,[ROUTING_REVISION_DATE]
					  ,[ALTERNATE_BOM_DESIGNATOR]
					  ,[ALTERNATE_ROUTING_DESIGNATOR]
					  ,[COMPLETION_SUBINVENTORY]
					  ,[COMPLETION_LOCATOR_ID]
					  ,[MATERIAL_ACCOUNT]
					  ,[MATERIAL_OVERHEAD_ACCOUNT]
					  ,[RESOURCE_ACCOUNT]
					  ,[OUTSIDE_PROCESSING_ACCOUNT]
					  ,[MATERIAL_VARIANCE_ACCOUNT]
					  ,[RESOURCE_VARIANCE_ACCOUNT]
					  ,[OUTSIDE_PROC_VARIANCE_ACCOUNT]
					  ,[STD_COST_ADJUSTMENT_ACCOUNT]
					  ,[OVERHEAD_ACCOUNT]
					  ,[OVERHEAD_VARIANCE_ACCOUNT]
					  ,[DEMAND_CLASS]
					  ,[SCHEDULED_COMPLETION_DATE]
					  ,[SCHEDULE_GROUP_ID]
					  ,[BUILD_SEQUENCE]
					  ,[LINE_ID]
					  ,[PROJECT_ID]
					  ,[TASK_ID]
					  ,[STATUS]
					  ,[SCHEDULE_NUMBER]
					  ,[ATTRIBUTE_CATEGORY]
					  ,[ATTRIBUTE1]
					  ,[ATTRIBUTE2]
					  ,[ATTRIBUTE3]
					  ,[ATTRIBUTE4]
					  ,[ATTRIBUTE5]
					  ,[ATTRIBUTE6]
					  ,[ATTRIBUTE7]
					  ,[ATTRIBUTE8]
					  ,[ATTRIBUTE9]
					  ,[ATTRIBUTE10]
					  ,[ATTRIBUTE11]
					  ,[ATTRIBUTE12]
					  ,[ATTRIBUTE13]
					  ,[ATTRIBUTE14]
					  ,[ATTRIBUTE15]
					  ,[DEMAND_SOURCE_HEADER_ID]
					  ,[DEMAND_SOURCE_LINE]
					  ,[DEMAND_SOURCE_DELIVERY]
					  ,[DEMAND_SOURCE_TYPE]
					  ,[KANBAN_CARD_ID]
					  ,[END_ITEM_UNIT_NUMBER]
					  ,[QUANTITY_SCRAPPED]
					  ,[CURRENT_LINE_OPERATION]
					  ,[SYNCH_SCHEDULE_NUM]
					  ,[SYNCH_OPERATION_SEQ_NUM]
					  ,[ROLL_FORWARDED_FLAG]
					  ,[ALLOCATED_FLAG]
					  ,[AUTO_REPLENISH]
					  ,[TRANSACTED_FLAG]
					  ,[SO_CONSUMED_PLAN_ID]
					  ,[Fingerprint]
				)
				VALUES (
					   a.[SCHEDULED_FLAG]
					  ,a.[WIP_ENTITY_ID]
					  ,a.[ORGANIZATION_ID]
					  ,a.[LAST_UPDATE_DATE]
					  ,a.[LAST_UPDATED_BY]
					  ,a.[CREATION_DATE]
					  ,a.[CREATED_BY]
					  ,a.[LAST_UPDATE_LOGIN]
					  ,a.[REQUEST_ID]
					  ,a.[PROGRAM_APPLICATION_ID]
					  ,a.[PROGRAM_ID]
					  ,a.[PROGRAM_UPDATE_DATE]
					  ,a.[PRIMARY_ITEM_ID]
					  ,a.[CLASS_CODE]
					  ,a.[SCHEDULED_START_DATE]
					  ,a.[DATE_CLOSED]
					  ,a.[PLANNED_QUANTITY]
					  ,a.[QUANTITY_COMPLETED]
					  ,a.[MPS_SCHEDULED_COMPLETION_DATE]
					  ,a.[MPS_NET_QUANTITY]
					  ,a.[BOM_REVISION]
					  ,a.[ROUTING_REVISION]
					  ,a.[BOM_REVISION_DATE]
					  ,a.[ROUTING_REVISION_DATE]
					  ,a.[ALTERNATE_BOM_DESIGNATOR]
					  ,a.[ALTERNATE_ROUTING_DESIGNATOR]
					  ,a.[COMPLETION_SUBINVENTORY]
					  ,a.[COMPLETION_LOCATOR_ID]
					  ,a.[MATERIAL_ACCOUNT]
					  ,a.[MATERIAL_OVERHEAD_ACCOUNT]
					  ,a.[RESOURCE_ACCOUNT]
					  ,a.[OUTSIDE_PROCESSING_ACCOUNT]
					  ,a.[MATERIAL_VARIANCE_ACCOUNT]
					  ,a.[RESOURCE_VARIANCE_ACCOUNT]
					  ,a.[OUTSIDE_PROC_VARIANCE_ACCOUNT]
					  ,a.[STD_COST_ADJUSTMENT_ACCOUNT]
					  ,a.[OVERHEAD_ACCOUNT]
					  ,a.[OVERHEAD_VARIANCE_ACCOUNT]
					  ,a.[DEMAND_CLASS]
					  ,a.[SCHEDULED_COMPLETION_DATE]
					  ,a.[SCHEDULE_GROUP_ID]
					  ,a.[BUILD_SEQUENCE]
					  ,a.[LINE_ID]
					  ,a.[PROJECT_ID]
					  ,a.[TASK_ID]
					  ,a.[STATUS]
					  ,a.[SCHEDULE_NUMBER]
					  ,a.[ATTRIBUTE_CATEGORY]
					  ,a.[ATTRIBUTE1]
					  ,a.[ATTRIBUTE2]
					  ,a.[ATTRIBUTE3]
					  ,a.[ATTRIBUTE4]
					  ,a.[ATTRIBUTE5]
					  ,a.[ATTRIBUTE6]
					  ,a.[ATTRIBUTE7]
					  ,a.[ATTRIBUTE8]
					  ,a.[ATTRIBUTE9]
					  ,a.[ATTRIBUTE10]
					  ,a.[ATTRIBUTE11]
					  ,a.[ATTRIBUTE12]
					  ,a.[ATTRIBUTE13]
					  ,a.[ATTRIBUTE14]
					  ,a.[ATTRIBUTE15]
					  ,a.[DEMAND_SOURCE_HEADER_ID]
					  ,a.[DEMAND_SOURCE_LINE]
					  ,a.[DEMAND_SOURCE_DELIVERY]
					  ,a.[DEMAND_SOURCE_TYPE]
					  ,a.[KANBAN_CARD_ID]
					  ,a.[END_ITEM_UNIT_NUMBER]
					  ,a.[QUANTITY_SCRAPPED]
					  ,a.[CURRENT_LINE_OPERATION]
					  ,a.[SYNCH_SCHEDULE_NUM]
					  ,a.[SYNCH_OPERATION_SEQ_NUM]
					  ,a.[ROLL_FORWARDED_FLAG]
					  ,a.[ALLOCATED_FLAG]
					  ,a.[AUTO_REPLENISH]
					  ,a.[TRANSACTED_FLAG]
					  ,a.[SO_CONSUMED_PLAN_ID]
					  ,a.[Fingerprint]
				)
				--Existing records that have changed are expired
				WHEN MATCHED AND a.Fingerprint<>b.Fingerprint
				THEN UPDATE SET b.EndDate=GETDATE()
					,b.CurrentRecord=0
				OUTPUT 
					   a.[SCHEDULED_FLAG]
					  ,a.[WIP_ENTITY_ID]
					  ,a.[ORGANIZATION_ID]
					  ,a.[LAST_UPDATE_DATE]
					  ,a.[LAST_UPDATED_BY]
					  ,a.[CREATION_DATE]
					  ,a.[CREATED_BY]
					  ,a.[LAST_UPDATE_LOGIN]
					  ,a.[REQUEST_ID]
					  ,a.[PROGRAM_APPLICATION_ID]
					  ,a.[PROGRAM_ID]
					  ,a.[PROGRAM_UPDATE_DATE]
					  ,a.[PRIMARY_ITEM_ID]
					  ,a.[CLASS_CODE]
					  ,a.[SCHEDULED_START_DATE]
					  ,a.[DATE_CLOSED]
					  ,a.[PLANNED_QUANTITY]
					  ,a.[QUANTITY_COMPLETED]
					  ,a.[MPS_SCHEDULED_COMPLETION_DATE]
					  ,a.[MPS_NET_QUANTITY]
					  ,a.[BOM_REVISION]
					  ,a.[ROUTING_REVISION]
					  ,a.[BOM_REVISION_DATE]
					  ,a.[ROUTING_REVISION_DATE]
					  ,a.[ALTERNATE_BOM_DESIGNATOR]
					  ,a.[ALTERNATE_ROUTING_DESIGNATOR]
					  ,a.[COMPLETION_SUBINVENTORY]
					  ,a.[COMPLETION_LOCATOR_ID]
					  ,a.[MATERIAL_ACCOUNT]
					  ,a.[MATERIAL_OVERHEAD_ACCOUNT]
					  ,a.[RESOURCE_ACCOUNT]
					  ,a.[OUTSIDE_PROCESSING_ACCOUNT]
					  ,a.[MATERIAL_VARIANCE_ACCOUNT]
					  ,a.[RESOURCE_VARIANCE_ACCOUNT]
					  ,a.[OUTSIDE_PROC_VARIANCE_ACCOUNT]
					  ,a.[STD_COST_ADJUSTMENT_ACCOUNT]
					  ,a.[OVERHEAD_ACCOUNT]
					  ,a.[OVERHEAD_VARIANCE_ACCOUNT]
					  ,a.[DEMAND_CLASS]
					  ,a.[SCHEDULED_COMPLETION_DATE]
					  ,a.[SCHEDULE_GROUP_ID]
					  ,a.[BUILD_SEQUENCE]
					  ,a.[LINE_ID]
					  ,a.[PROJECT_ID]
					  ,a.[TASK_ID]
					  ,a.[STATUS]
					  ,a.[SCHEDULE_NUMBER]
					  ,a.[ATTRIBUTE_CATEGORY]
					  ,a.[ATTRIBUTE1]
					  ,a.[ATTRIBUTE2]
					  ,a.[ATTRIBUTE3]
					  ,a.[ATTRIBUTE4]
					  ,a.[ATTRIBUTE5]
					  ,a.[ATTRIBUTE6]
					  ,a.[ATTRIBUTE7]
					  ,a.[ATTRIBUTE8]
					  ,a.[ATTRIBUTE9]
					  ,a.[ATTRIBUTE10]
					  ,a.[ATTRIBUTE11]
					  ,a.[ATTRIBUTE12]
					  ,a.[ATTRIBUTE13]
					  ,a.[ATTRIBUTE14]
					  ,a.[ATTRIBUTE15]
					  ,a.[DEMAND_SOURCE_HEADER_ID]
					  ,a.[DEMAND_SOURCE_LINE]
					  ,a.[DEMAND_SOURCE_DELIVERY]
					  ,a.[DEMAND_SOURCE_TYPE]
					  ,a.[KANBAN_CARD_ID]
					  ,a.[END_ITEM_UNIT_NUMBER]
					  ,a.[QUANTITY_SCRAPPED]
					  ,a.[CURRENT_LINE_OPERATION]
					  ,a.[SYNCH_SCHEDULE_NUM]
					  ,a.[SYNCH_OPERATION_SEQ_NUM]
					  ,a.[ROLL_FORWARDED_FLAG]
					  ,a.[ALLOCATED_FLAG]
					  ,a.[AUTO_REPLENISH]
					  ,a.[TRANSACTED_FLAG]
					  ,a.[SO_CONSUMED_PLAN_ID]
					  ,a.[Fingerprint]
					  ,$Action AS Action
			) a
			WHERE Action = 'Update'
			;
	

	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Done', GETDATE()

	DROP TABLE #WIPSchedule
END
GO
