USE [Operations]
GO
/****** Object:  StoredProcedure [Oracle].[Merge_WIP_Lines]    Script Date: 7/10/2025 11:43:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Oracle].[Merge_WIP_Lines]
AS BEGIN

	CREATE TABLE #WIPLines (
			[LINE_ID] [float] NOT NULL,
			[ORGANIZATION_ID] [float] NOT NULL,
			[LAST_UPDATE_DATE] [datetime2](7) NOT NULL,
			[LAST_UPDATED_BY] [float] NOT NULL,
			[CREATION_DATE] [datetime2](7) NOT NULL,
			[CREATED_BY] [float] NOT NULL,
			[LAST_UPDATE_LOGIN] [float] NULL,
			[LINE_CODE] [nvarchar](10) NOT NULL,
			[DESCRIPTION] [nvarchar](240) NULL,
			[DISABLE_DATE] [datetime2](7) NULL,
			[MINIMUM_RATE] [float] NOT NULL,
			[MAXIMUM_RATE] [float] NOT NULL,
			[FIXED_THROUGHPUT] [float] NULL,
			[LINE_SCHEDULE_TYPE] [float] NOT NULL,
			[SCHEDULING_METHOD_ID] [float] NULL,
			[START_TIME] [float] NOT NULL,
			[STOP_TIME] [float] NOT NULL,
			[ATTRIBUTE_CATEGORY] [nvarchar](30) NULL,
			[ATTRIBUTE1] [nvarchar](150) NULL,
			[ATTRIBUTE2] [nvarchar](150) NULL,
			[ATTRIBUTE3] [nvarchar](150) NULL,
			[ATTRIBUTE4] [nvarchar](150) NULL,
			[ATTRIBUTE5] [nvarchar](150) NULL,
			[ATTRIBUTE6] [nvarchar](150) NULL,
			[ATTRIBUTE7] [nvarchar](150) NULL,
			[ATTRIBUTE8] [nvarchar](150) NULL,
			[ATTRIBUTE9] [nvarchar](150) NULL,
			[ATTRIBUTE10] [nvarchar](150) NULL,
			[ATTRIBUTE11] [nvarchar](150) NULL,
			[ATTRIBUTE12] [nvarchar](150) NULL,
			[ATTRIBUTE13] [nvarchar](150) NULL,
			[ATTRIBUTE14] [nvarchar](150) NULL,
			[ATTRIBUTE15] [nvarchar](150) NULL,
			[ATP_RULE_ID] [float] NULL,
			[EXCEPTION_SET_NAME] [nvarchar](10) NULL,
			[SEQ_DIRECTION] [float] NULL,
			[SEQ_CONNECT_FLAG] [nvarchar](1) NULL,
			[SEQ_FIX_SEQUENCE_TYPE] [float] NULL,
			[SEQ_FIX_SEQUENCE_AMOUNT] [float] NULL,
			[SEQ_DEFAULT_RULE_ID] [float] NULL,
			[SEQ_COMBINE_SCHEDULE_FLAG] [nvarchar](1) NULL,
			[Fingerprint] [varchar](32) NOT NULL
	)


	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Oracle Download', GETDATE()

	INSERT INTO #WIPLines 
	SELECT [LINE_ID]
		  ,[ORGANIZATION_ID]
		  ,[LAST_UPDATE_DATE]
		  ,[LAST_UPDATED_BY]
		  ,[CREATION_DATE]
		  ,[CREATED_BY]
		  ,[LAST_UPDATE_LOGIN]
		  ,[LINE_CODE]
		  ,[DESCRIPTION]
		  ,[DISABLE_DATE]
		  ,[MINIMUM_RATE]
		  ,[MAXIMUM_RATE]
		  ,[FIXED_THROUGHPUT]
		  ,[LINE_SCHEDULE_TYPE]
		  ,[SCHEDULING_METHOD_ID]
		  ,[START_TIME]
		  ,[STOP_TIME]
		  ,[ATTRIBUTE_CATEGORY]
		  ,[ATTRIBUTE1]
		  ,[ATTRIBUTE2]
		  ,[ATTRIBUTE3]
		  ,[ATTRIBUTE4]
		  ,[ATTRIBUTE5]
		  ,[ATTRIBUTE6]
		  ,[ATTRIBUTE7]
		  ,[ATTRIBUTE8]
		  ,[ATTRIBUTE9]
		  ,[ATTRIBUTE10]
		  ,[ATTRIBUTE11]
		  ,[ATTRIBUTE12]
		  ,[ATTRIBUTE13]
		  ,[ATTRIBUTE14]
		  ,[ATTRIBUTE15]
		  ,[ATP_RULE_ID]
		  ,[EXCEPTION_SET_NAME]
		  ,[SEQ_DIRECTION]
		  ,[SEQ_CONNECT_FLAG]
		  ,[SEQ_FIX_SEQUENCE_TYPE]
		  ,[SEQ_FIX_SEQUENCE_AMOUNT]
		  ,[SEQ_DEFAULT_RULE_ID]
		  ,[SEQ_COMBINE_SCHEDULE_FLAG]
		  ,'XXX' AS [Fingerprint]   
	FROM OPENQUERY(PROD,'SELECT * FROM WIP_Lines')

	/*
		DECLARE @columnList VARCHAR(MAX) = dbo.getHashField ('WIP_Lines','Oracle') SELECT @columnList
	*/

	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Fingerprint', GETDATE()

	UPDATE #WIPLines
	SET Fingerprint = 
		SUBSTRING(LOWER(CONVERT(VARCHAR(32),HASHBYTES('MD5',
			--replace @columnList result here
				  CAST(ISNULL(LINE_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(ORGANIZATION_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(LAST_UPDATE_DATE,'') AS VARCHAR(100)) +  CAST(ISNULL(LAST_UPDATED_BY,'0') AS VARCHAR(100)) +  CAST(ISNULL(CREATION_DATE,'') AS VARCHAR(100)) +  CAST(ISNULL(CREATED_BY,'0') AS VARCHAR(100)) +  CAST(ISNULL(LAST_UPDATE_LOGIN,'0') AS VARCHAR(100)) +  CAST(ISNULL(LINE_CODE,'') AS VARCHAR(100)) +  CAST(ISNULL(DESCRIPTION,'') AS VARCHAR(100)) +  CAST(ISNULL(DISABLE_DATE,'') AS VARCHAR(100)) +  CAST(ISNULL(MINIMUM_RATE,'0') AS VARCHAR(100)) +  CAST(ISNULL(MAXIMUM_RATE,'0') AS VARCHAR(100)) +  CAST(ISNULL(FIXED_THROUGHPUT,'0') AS VARCHAR(100)) +  CAST(ISNULL(LINE_SCHEDULE_TYPE,'0') AS VARCHAR(100)) +  CAST(ISNULL(SCHEDULING_METHOD_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(START_TIME,'0') AS VARCHAR(100)) +  CAST(ISNULL(STOP_TIME,'0') AS VARCHAR(100)) +  CAST(ISNULL(ATTRIBUTE_CATEGORY,'') AS VARCHAR(100)) +  CAST(ISNULL(ATTRIBUTE1,'') AS VARCHAR(100)) +  CAST(ISNULL(ATTRIBUTE2,'') AS VARCHAR(100)) +  CAST(ISNULL(ATTRIBUTE3,'') AS VARCHAR(100)) +  CAST(ISNULL(ATTRIBUTE4,'') AS VARCHAR(100)) +  CAST(ISNULL(ATTRIBUTE5,'') AS VARCHAR(100)) +  CAST(ISNULL(ATTRIBUTE6,'') AS VARCHAR(100)) +  CAST(ISNULL(ATTRIBUTE7,'') AS VARCHAR(100)) +  CAST(ISNULL(ATTRIBUTE8,'') AS VARCHAR(100)) +  CAST(ISNULL(ATTRIBUTE9,'') AS VARCHAR(100)) +  CAST(ISNULL(ATTRIBUTE10,'') AS VARCHAR(100)) +  CAST(ISNULL(ATTRIBUTE11,'') AS VARCHAR(100)) +  CAST(ISNULL(ATTRIBUTE12,'') AS VARCHAR(100)) +  CAST(ISNULL(ATTRIBUTE13,'') AS VARCHAR(100)) +  CAST(ISNULL(ATTRIBUTE14,'') AS VARCHAR(100)) +  CAST(ISNULL(ATTRIBUTE15,'') AS VARCHAR(100)) +  CAST(ISNULL(ATP_RULE_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(EXCEPTION_SET_NAME,'') AS VARCHAR(100)) +  CAST(ISNULL(SEQ_DIRECTION,'0') AS VARCHAR(100)) +  CAST(ISNULL(SEQ_CONNECT_FLAG,'') AS VARCHAR(100)) +  CAST(ISNULL(SEQ_FIX_SEQUENCE_TYPE,'0') AS VARCHAR(100)) +  CAST(ISNULL(SEQ_FIX_SEQUENCE_AMOUNT,'0') AS VARCHAR(100)) +  CAST(ISNULL(SEQ_DEFAULT_RULE_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(SEQ_COMBINE_SCHEDULE_FLAG,'') AS VARCHAR(100)) 
		),1)),3,32);

	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Merge', GETDATE()

	INSERT INTO Oracle.WIP_Lines (
			  [LINE_ID]
			  ,[ORGANIZATION_ID]
			  ,[LAST_UPDATE_DATE]
			  ,[LAST_UPDATED_BY]
			  ,[CREATION_DATE]
			  ,[CREATED_BY]
			  ,[LAST_UPDATE_LOGIN]
			  ,[LINE_CODE]
			  ,[DESCRIPTION]
			  ,[DISABLE_DATE]
			  ,[MINIMUM_RATE]
			  ,[MAXIMUM_RATE]
			  ,[FIXED_THROUGHPUT]
			  ,[LINE_SCHEDULE_TYPE]
			  ,[SCHEDULING_METHOD_ID]
			  ,[START_TIME]
			  ,[STOP_TIME]
			  ,[ATTRIBUTE_CATEGORY]
			  ,[ATTRIBUTE1]
			  ,[ATTRIBUTE2]
			  ,[ATTRIBUTE3]
			  ,[ATTRIBUTE4]
			  ,[ATTRIBUTE5]
			  ,[ATTRIBUTE6]
			  ,[ATTRIBUTE7]
			  ,[ATTRIBUTE8]
			  ,[ATTRIBUTE9]
			  ,[ATTRIBUTE10]
			  ,[ATTRIBUTE11]
			  ,[ATTRIBUTE12]
			  ,[ATTRIBUTE13]
			  ,[ATTRIBUTE14]
			  ,[ATTRIBUTE15]
			  ,[ATP_RULE_ID]
			  ,[EXCEPTION_SET_NAME]
			  ,[SEQ_DIRECTION]
			  ,[SEQ_CONNECT_FLAG]
			  ,[SEQ_FIX_SEQUENCE_TYPE]
			  ,[SEQ_FIX_SEQUENCE_AMOUNT]
			  ,[SEQ_DEFAULT_RULE_ID]
			  ,[SEQ_COMBINE_SCHEDULE_FLAG]
			  ,[Fingerprint]
		)
			SELECT 
			  a.[LINE_ID]
			  ,a.[ORGANIZATION_ID]
			  ,a.[LAST_UPDATE_DATE]
			  ,a.[LAST_UPDATED_BY]
			  ,a.[CREATION_DATE]
			  ,a.[CREATED_BY]
			  ,a.[LAST_UPDATE_LOGIN]
			  ,a.[LINE_CODE]
			  ,a.[DESCRIPTION]
			  ,a.[DISABLE_DATE]
			  ,a.[MINIMUM_RATE]
			  ,a.[MAXIMUM_RATE]
			  ,a.[FIXED_THROUGHPUT]
			  ,a.[LINE_SCHEDULE_TYPE]
			  ,a.[SCHEDULING_METHOD_ID]
			  ,a.[START_TIME]
			  ,a.[STOP_TIME]
			  ,a.[ATTRIBUTE_CATEGORY]
			  ,a.[ATTRIBUTE1]
			  ,a.[ATTRIBUTE2]
			  ,a.[ATTRIBUTE3]
			  ,a.[ATTRIBUTE4]
			  ,a.[ATTRIBUTE5]
			  ,a.[ATTRIBUTE6]
			  ,a.[ATTRIBUTE7]
			  ,a.[ATTRIBUTE8]
			  ,a.[ATTRIBUTE9]
			  ,a.[ATTRIBUTE10]
			  ,a.[ATTRIBUTE11]
			  ,a.[ATTRIBUTE12]
			  ,a.[ATTRIBUTE13]
			  ,a.[ATTRIBUTE14]
			  ,a.[ATTRIBUTE15]
			  ,a.[ATP_RULE_ID]
			  ,a.[EXCEPTION_SET_NAME]
			  ,a.[SEQ_DIRECTION]
			  ,a.[SEQ_CONNECT_FLAG]
			  ,a.[SEQ_FIX_SEQUENCE_TYPE]
			  ,a.[SEQ_FIX_SEQUENCE_AMOUNT]
			  ,a.[SEQ_DEFAULT_RULE_ID]
			  ,a.[SEQ_COMBINE_SCHEDULE_FLAG]
			  ,a.[Fingerprint]
			FROM (
				MERGE Oracle.WIP_Lines b
				USING (SELECT * FROM #WIPLines) a
				ON a.Line_ID = b.Line_ID AND b.CurrentRecord = 1 --swap with business key of table
				WHEN NOT MATCHED --BY TARGET 
				THEN INSERT (
				   [LINE_ID]
				  ,[ORGANIZATION_ID]
				  ,[LAST_UPDATE_DATE]
				  ,[LAST_UPDATED_BY]
				  ,[CREATION_DATE]
				  ,[CREATED_BY]
				  ,[LAST_UPDATE_LOGIN]
				  ,[LINE_CODE]
				  ,[DESCRIPTION]
				  ,[DISABLE_DATE]
				  ,[MINIMUM_RATE]
				  ,[MAXIMUM_RATE]
				  ,[FIXED_THROUGHPUT]
				  ,[LINE_SCHEDULE_TYPE]
				  ,[SCHEDULING_METHOD_ID]
				  ,[START_TIME]
				  ,[STOP_TIME]
				  ,[ATTRIBUTE_CATEGORY]
				  ,[ATTRIBUTE1]
				  ,[ATTRIBUTE2]
				  ,[ATTRIBUTE3]
				  ,[ATTRIBUTE4]
				  ,[ATTRIBUTE5]
				  ,[ATTRIBUTE6]
				  ,[ATTRIBUTE7]
				  ,[ATTRIBUTE8]
				  ,[ATTRIBUTE9]
				  ,[ATTRIBUTE10]
				  ,[ATTRIBUTE11]
				  ,[ATTRIBUTE12]
				  ,[ATTRIBUTE13]
				  ,[ATTRIBUTE14]
				  ,[ATTRIBUTE15]
				  ,[ATP_RULE_ID]
				  ,[EXCEPTION_SET_NAME]
				  ,[SEQ_DIRECTION]
				  ,[SEQ_CONNECT_FLAG]
				  ,[SEQ_FIX_SEQUENCE_TYPE]
				  ,[SEQ_FIX_SEQUENCE_AMOUNT]
				  ,[SEQ_DEFAULT_RULE_ID]
				  ,[SEQ_COMBINE_SCHEDULE_FLAG]
				  ,[Fingerprint]
				)
				VALUES (
					   a.[LINE_ID]
					  ,a.[ORGANIZATION_ID]
					  ,a.[LAST_UPDATE_DATE]
					  ,a.[LAST_UPDATED_BY]
					  ,a.[CREATION_DATE]
					  ,a.[CREATED_BY]
					  ,a.[LAST_UPDATE_LOGIN]
					  ,a.[LINE_CODE]
					  ,a.[DESCRIPTION]
					  ,a.[DISABLE_DATE]
					  ,a.[MINIMUM_RATE]
					  ,a.[MAXIMUM_RATE]
					  ,a.[FIXED_THROUGHPUT]
					  ,a.[LINE_SCHEDULE_TYPE]
					  ,a.[SCHEDULING_METHOD_ID]
					  ,a.[START_TIME]
					  ,a.[STOP_TIME]
					  ,a.[ATTRIBUTE_CATEGORY]
					  ,a.[ATTRIBUTE1]
					  ,a.[ATTRIBUTE2]
					  ,a.[ATTRIBUTE3]
					  ,a.[ATTRIBUTE4]
					  ,a.[ATTRIBUTE5]
					  ,a.[ATTRIBUTE6]
					  ,a.[ATTRIBUTE7]
					  ,a.[ATTRIBUTE8]
					  ,a.[ATTRIBUTE9]
					  ,a.[ATTRIBUTE10]
					  ,a.[ATTRIBUTE11]
					  ,a.[ATTRIBUTE12]
					  ,a.[ATTRIBUTE13]
					  ,a.[ATTRIBUTE14]
					  ,a.[ATTRIBUTE15]
					  ,a.[ATP_RULE_ID]
					  ,a.[EXCEPTION_SET_NAME]
					  ,a.[SEQ_DIRECTION]
					  ,a.[SEQ_CONNECT_FLAG]
					  ,a.[SEQ_FIX_SEQUENCE_TYPE]
					  ,a.[SEQ_FIX_SEQUENCE_AMOUNT]
					  ,a.[SEQ_DEFAULT_RULE_ID]
					  ,a.[SEQ_COMBINE_SCHEDULE_FLAG]
					  ,a.[Fingerprint]
				)
				--Existing records that have changed are expired
				WHEN MATCHED AND a.Fingerprint<>b.Fingerprint
				THEN UPDATE SET b.EndDate=GETDATE()
					,b.CurrentRecord=0
				OUTPUT 
					   a.[LINE_ID]
					  ,a.[ORGANIZATION_ID]
					  ,a.[LAST_UPDATE_DATE]
					  ,a.[LAST_UPDATED_BY]
					  ,a.[CREATION_DATE]
					  ,a.[CREATED_BY]
					  ,a.[LAST_UPDATE_LOGIN]
					  ,a.[LINE_CODE]
					  ,a.[DESCRIPTION]
					  ,a.[DISABLE_DATE]
					  ,a.[MINIMUM_RATE]
					  ,a.[MAXIMUM_RATE]
					  ,a.[FIXED_THROUGHPUT]
					  ,a.[LINE_SCHEDULE_TYPE]
					  ,a.[SCHEDULING_METHOD_ID]
					  ,a.[START_TIME]
					  ,a.[STOP_TIME]
					  ,a.[ATTRIBUTE_CATEGORY]
					  ,a.[ATTRIBUTE1]
					  ,a.[ATTRIBUTE2]
					  ,a.[ATTRIBUTE3]
					  ,a.[ATTRIBUTE4]
					  ,a.[ATTRIBUTE5]
					  ,a.[ATTRIBUTE6]
					  ,a.[ATTRIBUTE7]
					  ,a.[ATTRIBUTE8]
					  ,a.[ATTRIBUTE9]
					  ,a.[ATTRIBUTE10]
					  ,a.[ATTRIBUTE11]
					  ,a.[ATTRIBUTE12]
					  ,a.[ATTRIBUTE13]
					  ,a.[ATTRIBUTE14]
					  ,a.[ATTRIBUTE15]
					  ,a.[ATP_RULE_ID]
					  ,a.[EXCEPTION_SET_NAME]
					  ,a.[SEQ_DIRECTION]
					  ,a.[SEQ_CONNECT_FLAG]
					  ,a.[SEQ_FIX_SEQUENCE_TYPE]
					  ,a.[SEQ_FIX_SEQUENCE_AMOUNT]
					  ,a.[SEQ_DEFAULT_RULE_ID]
					  ,a.[SEQ_COMBINE_SCHEDULE_FLAG]
					  ,a.[Fingerprint]
					  ,$Action AS Action
			) a
			WHERE Action = 'Update'
			;

	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Done', GETDATE()
	
	DROP TABLE #WIPLines
END
GO
