USE [Operations]
GO
/****** Object:  StoredProcedure [Oracle].[Merge_CRP_RESOURCE_HOURS]    Script Date: 7/10/2025 11:43:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Oracle].[Merge_CRP_RESOURCE_HOURS]
AS BEGIN

	CREATE TABLE #ResourceHours (
		[TRANSACTION_ID] [float] NOT NULL,
		[LAST_UPDATE_DATE] [datetime2](7) NOT NULL,
		[LAST_UPDATED_BY] [float] NOT NULL,
		[CREATION_DATE] [datetime2](7) NOT NULL,
		[CREATED_BY] [float] NOT NULL,
		[LAST_UPDATE_LOGIN] [float] NULL,
		[BILL_OF_RESOURCES] [nvarchar](10) NOT NULL,
		[ASSEMBLY_ITEM_ID] [float] NOT NULL,
		[SOURCE_ITEM_ID] [float] NOT NULL,
		[ORGANIZATION_ID] [float] NOT NULL,
		[RESOURCE_ID] [float] NULL,
		[DEPARTMENT_ID] [float] NULL,
		[LINE_ID] [float] NULL,
		[RESOURCE_DEPARTMENT_HOURS] [float] NULL,
		[OPERATION_SEQ_NUM] [float] NULL,
		[OPERATION_SEQUENCE_ID] [float] NULL,
		[RESOURCE_SEQ_NUM] [float] NULL,
		[SETBACK_DAYS] [float] NULL,
		[ASSEMBLY_USAGE] [float] NULL,
		[ORIGINATION_TYPE] [float] NOT NULL,
		[RESOURCE_UNITS] [float] NULL,
		[BASIS] [float] NULL,
		[REQUEST_ID] [float] NULL,
		[PROGRAM_APPLICATION_ID] [float] NULL,
		[PROGRAM_ID] [float] NULL,
		[PROGRAM_UPDATE_DATE] [datetime2](7) NULL,
		[DDF_CONTEXT] [nvarchar](30) NULL,
		[ATTRIBUTE_CATEGORY] [nvarchar](30) NULL,
		[ATTRIBUTE1] [nvarchar](150) NULL,
		[ATTRIBUTE2] [nvarchar](150) NULL,
		[ATTRIBUTE3] [nvarchar](150) NULL,
		[ATTRIBUTE4] [nvarchar](150) NULL,
		[ATTRIBUTE5] [nvarchar](150) NULL,
		[ATTRIBUTE6] [nvarchar](150) NULL,
		[ATTRIBUTE7] [nvarchar](150) NULL,
		[ATTRIBUTE8] [nvarchar](150) NULL,
		[ATTRIBUTE9] [nvarchar](150) NULL,
		[ATTRIBUTE10] [nvarchar](150) NULL,
		[ATTRIBUTE11] [nvarchar](150) NULL,
		[ATTRIBUTE12] [nvarchar](150) NULL,
		[ATTRIBUTE13] [nvarchar](150) NULL,
		[ATTRIBUTE14] [nvarchar](150) NULL,
		[ATTRIBUTE15] [nvarchar](150) NULL,
		[Fingerprint] [varchar](32) NOT NULL
	)

	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Oracle Download', GETDATE()
	
	INSERT INTO #ResourceHours
	SELECT [TRANSACTION_ID]
		,[LAST_UPDATE_DATE]
		,[LAST_UPDATED_BY]
		,[CREATION_DATE]
		,[CREATED_BY]
		,[LAST_UPDATE_LOGIN]
		,[BILL_OF_RESOURCES]
		,[ASSEMBLY_ITEM_ID]
		,[SOURCE_ITEM_ID]
		,[ORGANIZATION_ID]
		,[RESOURCE_ID]
		,[DEPARTMENT_ID]
		,[LINE_ID]
		,[RESOURCE_DEPARTMENT_HOURS]
		,[OPERATION_SEQ_NUM]
		,[OPERATION_SEQUENCE_ID]
		,[RESOURCE_SEQ_NUM]
		,[SETBACK_DAYS]
		,[ASSEMBLY_USAGE]
		,[ORIGINATION_TYPE]
		,[RESOURCE_UNITS]
		,[BASIS]
		,[REQUEST_ID]
		,[PROGRAM_APPLICATION_ID]
		,[PROGRAM_ID]
		,[PROGRAM_UPDATE_DATE]
		,[DDF_CONTEXT]
		,[ATTRIBUTE_CATEGORY]
		,[ATTRIBUTE1]
		,[ATTRIBUTE2]
		,[ATTRIBUTE3]
		,[ATTRIBUTE4]
		,[ATTRIBUTE5]
		,[ATTRIBUTE6]
		,[ATTRIBUTE7]
		,[ATTRIBUTE8]
		,[ATTRIBUTE9]
		,[ATTRIBUTE10]
		,[ATTRIBUTE11]
		,[ATTRIBUTE12]
		,[ATTRIBUTE13]
		,[ATTRIBUTE14]
		,[ATTRIBUTE15]
		,'XXX' AS [Fingerprint]
	FROM OPENQUERY(PROD,'SELECT * FROM CRP_RESOURCE_HOURS')

	/*
		DECLARE @columnList VARCHAR(MAX) = dbo.getHashField ('CRP_RESOURCE_HOURS','Oracle') SELECT @columnList
	*/

	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Fingerprint', GETDATE()
		
	UPDATE #ResourceHours
	SET Fingerprint = 
		SUBSTRING(LOWER(CONVERT(VARCHAR(32),HASHBYTES('MD5',
			--replace @columnList result here
				  CAST(ISNULL(TRANSACTION_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(LAST_UPDATE_DATE,'') AS VARCHAR(100)) +  CAST(ISNULL(LAST_UPDATED_BY,'0') AS VARCHAR(100)) +  CAST(ISNULL(CREATION_DATE,'') AS VARCHAR(100)) +  CAST(ISNULL(CREATED_BY,'0') AS VARCHAR(100)) +  CAST(ISNULL(LAST_UPDATE_LOGIN,'0') AS VARCHAR(100)) +  CAST(ISNULL(BILL_OF_RESOURCES,'') AS VARCHAR(10)) +  CAST(ISNULL(ASSEMBLY_ITEM_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(SOURCE_ITEM_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(ORGANIZATION_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(RESOURCE_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(DEPARTMENT_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(LINE_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(RESOURCE_DEPARTMENT_HOURS,'0') AS VARCHAR(100)) +  CAST(ISNULL(OPERATION_SEQ_NUM,'0') AS VARCHAR(100)) +  CAST(ISNULL(OPERATION_SEQUENCE_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(RESOURCE_SEQ_NUM,'0') AS VARCHAR(100)) +  CAST(ISNULL(SETBACK_DAYS,'0') AS VARCHAR(100)) +  CAST(ISNULL(ASSEMBLY_USAGE,'0') AS VARCHAR(100)) +  CAST(ISNULL(ORIGINATION_TYPE,'0') AS VARCHAR(100)) +  CAST(ISNULL(RESOURCE_UNITS,'0') AS VARCHAR(100)) +  CAST(ISNULL(BASIS,'0') AS VARCHAR(100)) +  CAST(ISNULL(REQUEST_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(PROGRAM_APPLICATION_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(PROGRAM_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(PROGRAM_UPDATE_DATE,'') AS VARCHAR(100)) +  CAST(ISNULL(DDF_CONTEXT,'') AS VARCHAR(30)) +  CAST(ISNULL(ATTRIBUTE_CATEGORY,'') AS VARCHAR(30)) +  CAST(ISNULL(ATTRIBUTE1,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE2,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE3,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE4,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE5,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE6,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE7,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE8,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE9,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE10,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE11,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE12,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE13,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE14,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE15,'') AS VARCHAR(150)) 
		),1)),3,32);

	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Merge', GETDATE()
	
	INSERT INTO Oracle.CRP_RESOURCE_HOURS (
		   [TRANSACTION_ID]
		  ,[LAST_UPDATE_DATE]
		  ,[LAST_UPDATED_BY]
		  ,[CREATION_DATE]
		  ,[CREATED_BY]
		  ,[LAST_UPDATE_LOGIN]
		  ,[BILL_OF_RESOURCES]
		  ,[ASSEMBLY_ITEM_ID]
		  ,[SOURCE_ITEM_ID]
		  ,[ORGANIZATION_ID]
		  ,[RESOURCE_ID]
		  ,[DEPARTMENT_ID]
		  ,[LINE_ID]
		  ,[RESOURCE_DEPARTMENT_HOURS]
		  ,[OPERATION_SEQ_NUM]
		  ,[OPERATION_SEQUENCE_ID]
		  ,[RESOURCE_SEQ_NUM]
		  ,[SETBACK_DAYS]
		  ,[ASSEMBLY_USAGE]
		  ,[ORIGINATION_TYPE]
		  ,[RESOURCE_UNITS]
		  ,[BASIS]
		  ,[REQUEST_ID]
		  ,[PROGRAM_APPLICATION_ID]
		  ,[PROGRAM_ID]
		  ,[PROGRAM_UPDATE_DATE]
		  ,[DDF_CONTEXT]
		  ,[ATTRIBUTE_CATEGORY]
		  ,[ATTRIBUTE1]
		  ,[ATTRIBUTE2]
		  ,[ATTRIBUTE3]
		  ,[ATTRIBUTE4]
		  ,[ATTRIBUTE5]
		  ,[ATTRIBUTE6]
		  ,[ATTRIBUTE7]
		  ,[ATTRIBUTE8]
		  ,[ATTRIBUTE9]
		  ,[ATTRIBUTE10]
		  ,[ATTRIBUTE11]
		  ,[ATTRIBUTE12]
		  ,[ATTRIBUTE13]
		  ,[ATTRIBUTE14]
		  ,[ATTRIBUTE15]
		  ,[Fingerprint]
		)
			SELECT 
			  a.[TRANSACTION_ID]
			  ,a.[LAST_UPDATE_DATE]
			  ,a.[LAST_UPDATED_BY]
			  ,a.[CREATION_DATE]
			  ,a.[CREATED_BY]
			  ,a.[LAST_UPDATE_LOGIN]
			  ,a.[BILL_OF_RESOURCES]
			  ,a.[ASSEMBLY_ITEM_ID]
			  ,a.[SOURCE_ITEM_ID]
			  ,a.[ORGANIZATION_ID]
			  ,a.[RESOURCE_ID]
			  ,a.[DEPARTMENT_ID]
			  ,a.[LINE_ID]
			  ,a.[RESOURCE_DEPARTMENT_HOURS]
			  ,a.[OPERATION_SEQ_NUM]
			  ,a.[OPERATION_SEQUENCE_ID]
			  ,a.[RESOURCE_SEQ_NUM]
			  ,a.[SETBACK_DAYS]
			  ,a.[ASSEMBLY_USAGE]
			  ,a.[ORIGINATION_TYPE]
			  ,a.[RESOURCE_UNITS]
			  ,a.[BASIS]
			  ,a.[REQUEST_ID]
			  ,a.[PROGRAM_APPLICATION_ID]
			  ,a.[PROGRAM_ID]
			  ,a.[PROGRAM_UPDATE_DATE]
			  ,a.[DDF_CONTEXT]
			  ,a.[ATTRIBUTE_CATEGORY]
			  ,a.[ATTRIBUTE1]
			  ,a.[ATTRIBUTE2]
			  ,a.[ATTRIBUTE3]
			  ,a.[ATTRIBUTE4]
			  ,a.[ATTRIBUTE5]
			  ,a.[ATTRIBUTE6]
			  ,a.[ATTRIBUTE7]
			  ,a.[ATTRIBUTE8]
			  ,a.[ATTRIBUTE9]
			  ,a.[ATTRIBUTE10]
			  ,a.[ATTRIBUTE11]
			  ,a.[ATTRIBUTE12]
			  ,a.[ATTRIBUTE13]
			  ,a.[ATTRIBUTE14]
			  ,a.[ATTRIBUTE15]
			  ,a.[Fingerprint]
			FROM (
				MERGE Oracle.CRP_RESOURCE_HOURS b
				USING (SELECT * FROM #ResourceHours) a
				ON a.Transaction_ID = b.Transaction_ID AND b.CurrentRecord = 1 --swap with business key of table
				WHEN NOT MATCHED --BY TARGET 
				THEN INSERT (
					   [TRANSACTION_ID]
					  ,[LAST_UPDATE_DATE]
					  ,[LAST_UPDATED_BY]
					  ,[CREATION_DATE]
					  ,[CREATED_BY]
					  ,[LAST_UPDATE_LOGIN]
					  ,[BILL_OF_RESOURCES]
					  ,[ASSEMBLY_ITEM_ID]
					  ,[SOURCE_ITEM_ID]
					  ,[ORGANIZATION_ID]
					  ,[RESOURCE_ID]
					  ,[DEPARTMENT_ID]
					  ,[LINE_ID]
					  ,[RESOURCE_DEPARTMENT_HOURS]
					  ,[OPERATION_SEQ_NUM]
					  ,[OPERATION_SEQUENCE_ID]
					  ,[RESOURCE_SEQ_NUM]
					  ,[SETBACK_DAYS]
					  ,[ASSEMBLY_USAGE]
					  ,[ORIGINATION_TYPE]
					  ,[RESOURCE_UNITS]
					  ,[BASIS]
					  ,[REQUEST_ID]
					  ,[PROGRAM_APPLICATION_ID]
					  ,[PROGRAM_ID]
					  ,[PROGRAM_UPDATE_DATE]
					  ,[DDF_CONTEXT]
					  ,[ATTRIBUTE_CATEGORY]
					  ,[ATTRIBUTE1]
					  ,[ATTRIBUTE2]
					  ,[ATTRIBUTE3]
					  ,[ATTRIBUTE4]
					  ,[ATTRIBUTE5]
					  ,[ATTRIBUTE6]
					  ,[ATTRIBUTE7]
					  ,[ATTRIBUTE8]
					  ,[ATTRIBUTE9]
					  ,[ATTRIBUTE10]
					  ,[ATTRIBUTE11]
					  ,[ATTRIBUTE12]
					  ,[ATTRIBUTE13]
					  ,[ATTRIBUTE14]
					  ,[ATTRIBUTE15]
					  ,[Fingerprint]
				)
				VALUES (
					   a.[TRANSACTION_ID]
					  ,a.[LAST_UPDATE_DATE]
					  ,a.[LAST_UPDATED_BY]
					  ,a.[CREATION_DATE]
					  ,a.[CREATED_BY]
					  ,a.[LAST_UPDATE_LOGIN]
					  ,a.[BILL_OF_RESOURCES]
					  ,a.[ASSEMBLY_ITEM_ID]
					  ,a.[SOURCE_ITEM_ID]
					  ,a.[ORGANIZATION_ID]
					  ,a.[RESOURCE_ID]
					  ,a.[DEPARTMENT_ID]
					  ,a.[LINE_ID]
					  ,a.[RESOURCE_DEPARTMENT_HOURS]
					  ,a.[OPERATION_SEQ_NUM]
					  ,a.[OPERATION_SEQUENCE_ID]
					  ,a.[RESOURCE_SEQ_NUM]
					  ,a.[SETBACK_DAYS]
					  ,a.[ASSEMBLY_USAGE]
					  ,a.[ORIGINATION_TYPE]
					  ,a.[RESOURCE_UNITS]
					  ,a.[BASIS]
					  ,a.[REQUEST_ID]
					  ,a.[PROGRAM_APPLICATION_ID]
					  ,a.[PROGRAM_ID]
					  ,a.[PROGRAM_UPDATE_DATE]
					  ,a.[DDF_CONTEXT]
					  ,a.[ATTRIBUTE_CATEGORY]
					  ,a.[ATTRIBUTE1]
					  ,a.[ATTRIBUTE2]
					  ,a.[ATTRIBUTE3]
					  ,a.[ATTRIBUTE4]
					  ,a.[ATTRIBUTE5]
					  ,a.[ATTRIBUTE6]
					  ,a.[ATTRIBUTE7]
					  ,a.[ATTRIBUTE8]
					  ,a.[ATTRIBUTE9]
					  ,a.[ATTRIBUTE10]
					  ,a.[ATTRIBUTE11]
					  ,a.[ATTRIBUTE12]
					  ,a.[ATTRIBUTE13]
					  ,a.[ATTRIBUTE14]
					  ,a.[ATTRIBUTE15]
					  ,a.[Fingerprint]
				)
				--Existing records that have changed are expired
				WHEN MATCHED AND a.Fingerprint<>b.Fingerprint
				THEN UPDATE SET b.EndDate=GETDATE()
					,b.CurrentRecord=0
				OUTPUT 
					   a.[TRANSACTION_ID]
					  ,a.[LAST_UPDATE_DATE]
					  ,a.[LAST_UPDATED_BY]
					  ,a.[CREATION_DATE]
					  ,a.[CREATED_BY]
					  ,a.[LAST_UPDATE_LOGIN]
					  ,a.[BILL_OF_RESOURCES]
					  ,a.[ASSEMBLY_ITEM_ID]
					  ,a.[SOURCE_ITEM_ID]
					  ,a.[ORGANIZATION_ID]
					  ,a.[RESOURCE_ID]
					  ,a.[DEPARTMENT_ID]
					  ,a.[LINE_ID]
					  ,a.[RESOURCE_DEPARTMENT_HOURS]
					  ,a.[OPERATION_SEQ_NUM]
					  ,a.[OPERATION_SEQUENCE_ID]
					  ,a.[RESOURCE_SEQ_NUM]
					  ,a.[SETBACK_DAYS]
					  ,a.[ASSEMBLY_USAGE]
					  ,a.[ORIGINATION_TYPE]
					  ,a.[RESOURCE_UNITS]
					  ,a.[BASIS]
					  ,a.[REQUEST_ID]
					  ,a.[PROGRAM_APPLICATION_ID]
					  ,a.[PROGRAM_ID]
					  ,a.[PROGRAM_UPDATE_DATE]
					  ,a.[DDF_CONTEXT]
					  ,a.[ATTRIBUTE_CATEGORY]
					  ,a.[ATTRIBUTE1]
					  ,a.[ATTRIBUTE2]
					  ,a.[ATTRIBUTE3]
					  ,a.[ATTRIBUTE4]
					  ,a.[ATTRIBUTE5]
					  ,a.[ATTRIBUTE6]
					  ,a.[ATTRIBUTE7]
					  ,a.[ATTRIBUTE8]
					  ,a.[ATTRIBUTE9]
					  ,a.[ATTRIBUTE10]
					  ,a.[ATTRIBUTE11]
					  ,a.[ATTRIBUTE12]
					  ,a.[ATTRIBUTE13]
					  ,a.[ATTRIBUTE14]
					  ,a.[ATTRIBUTE15]
					  ,a.[Fingerprint]
					  ,$Action AS Action
			) a
			WHERE Action = 'Update'
			;

	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Done', GETDATE()
	
	DROP TABLE #ResourceHours
END
GO
