USE [Operations]
GO
/****** Object:  StoredProcedure [Oracle].[Merge_PO_VENDORS]    Script Date: 7/10/2025 11:43:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Oracle].[Merge_PO_VENDORS] AS BEGIN

	CREATE TABLE #VENDORS (
		[VENDOR_ID] [float] NOT NULL,
		[LAST_UPDATE_DATE] [datetime2](7) NOT NULL,
		[LAST_UPDATED_BY] [float] NOT NULL,
		[VENDOR_NAME] [nvarchar](240) NULL,
		[VENDOR_NAME_ALT] [nvarchar](320) NULL,
		[SEGMENT1] [nvarchar](30) NOT NULL,
		[SUMMARY_FLAG] [nvarchar](1) NOT NULL,
		[ENABLED_FLAG] [nvarchar](1) NOT NULL,
		[SEGMENT2] [nvarchar](30) NULL,
		[SEGMENT3] [nvarchar](30) NULL,
		[SEGMENT4] [nvarchar](30) NULL,
		[SEGMENT5] [nvarchar](30) NULL,
		[LAST_UPDATE_LOGIN] [float] NULL,
		[CREATION_DATE] [datetime2](7) NOT NULL,
		[CREATED_BY] [float] NOT NULL,
		[EMPLOYEE_ID] [float] NULL,
		[VENDOR_TYPE_LOOKUP_CODE] [nvarchar](30) NULL,
		[CUSTOMER_NUM] [nvarchar](25) NULL,
		[ONE_TIME_FLAG] [nvarchar](1) NULL,
		[PARENT_VENDOR_ID] [float] NULL,
		[MIN_ORDER_AMOUNT] [float] NULL,
		[TERMS_ID] [float] NULL,
		[SET_OF_BOOKS_ID] [float] NULL,
		[ALWAYS_TAKE_DISC_FLAG] [nvarchar](1) NULL,
		[PAY_DATE_BASIS_LOOKUP_CODE] [nvarchar](25) NULL,
		[PAY_GROUP_LOOKUP_CODE] [nvarchar](25) NULL,
		[PAYMENT_PRIORITY] [float] NULL,
		[INVOICE_CURRENCY_CODE] [nvarchar](15) NULL,
		[PAYMENT_CURRENCY_CODE] [nvarchar](15) NULL,
		[INVOICE_AMOUNT_LIMIT] [float] NULL,
		[HOLD_ALL_PAYMENTS_FLAG] [nvarchar](1) NULL,
		[HOLD_FUTURE_PAYMENTS_FLAG] [nvarchar](1) NULL,
		[HOLD_REASON] [nvarchar](240) NULL,
		[NUM_1099] [nvarchar](20) NULL,
		[INDIVIDUAL_1099] [nvarchar](30) NULL,
		[TYPE_1099] [nvarchar](10) NULL,
		[WITHHOLDING_STATUS_LOOKUP_CODE] [nvarchar](25) NULL,
		[WITHHOLDING_START_DATE] [datetime2](7) NULL,
		[ORGANIZATION_TYPE_LOOKUP_CODE] [nvarchar](25) NULL,
		[START_DATE_ACTIVE] [datetime2](7) NULL,
		[END_DATE_ACTIVE] [datetime2](7) NULL,
		[MINORITY_GROUP_LOOKUP_CODE] [nvarchar](30) NULL,
		[WOMEN_OWNED_FLAG] [nvarchar](1) NULL,
		[SMALL_BUSINESS_FLAG] [nvarchar](1) NULL,
		[STANDARD_INDUSTRY_CLASS] [nvarchar](25) NULL,
		[HOLD_FLAG] [nvarchar](1) NULL,
		[PURCHASING_HOLD_REASON] [nvarchar](240) NULL,
		[HOLD_BY] [numeric](9, 0) NULL,
		[HOLD_DATE] [datetime2](7) NULL,
		[TERMS_DATE_BASIS] [nvarchar](25) NULL,
		[INSPECTION_REQUIRED_FLAG] [nvarchar](1) NULL,
		[RECEIPT_REQUIRED_FLAG] [nvarchar](1) NULL,
		[QTY_RCV_TOLERANCE] [float] NULL,
		[QTY_RCV_EXCEPTION_CODE] [nvarchar](25) NULL,
		[ENFORCE_SHIP_TO_LOCATION_CODE] [nvarchar](25) NULL,
		[DAYS_EARLY_RECEIPT_ALLOWED] [float] NULL,
		[DAYS_LATE_RECEIPT_ALLOWED] [float] NULL,
		[RECEIPT_DAYS_EXCEPTION_CODE] [nvarchar](25) NULL,
		[RECEIVING_ROUTING_ID] [float] NULL,
		[ALLOW_SUBSTITUTE_RECEIPTS_FLAG] [nvarchar](1) NULL,
		[ALLOW_UNORDERED_RECEIPTS_FLAG] [nvarchar](1) NULL,
		[HOLD_UNMATCHED_INVOICES_FLAG] [nvarchar](1) NULL,
		[TAX_VERIFICATION_DATE] [datetime2](7) NULL,
		[NAME_CONTROL] [nvarchar](4) NULL,
		[STATE_REPORTABLE_FLAG] [nvarchar](1) NULL,
		[FEDERAL_REPORTABLE_FLAG] [nvarchar](1) NULL,
		[ATTRIBUTE_CATEGORY] [nvarchar](30) NULL,
		[ATTRIBUTE1] [nvarchar](150) NULL,
		[ATTRIBUTE2] [nvarchar](150) NULL,
		[ATTRIBUTE3] [nvarchar](150) NULL,
		[ATTRIBUTE4] [nvarchar](150) NULL,
		[ATTRIBUTE5] [nvarchar](150) NULL,
		[ATTRIBUTE6] [nvarchar](150) NULL,
		[ATTRIBUTE7] [nvarchar](150) NULL,
		[ATTRIBUTE8] [nvarchar](150) NULL,
		[ATTRIBUTE9] [nvarchar](150) NULL,
		[ATTRIBUTE10] [nvarchar](150) NULL,
		[ATTRIBUTE11] [nvarchar](150) NULL,
		[ATTRIBUTE12] [nvarchar](150) NULL,
		[ATTRIBUTE13] [nvarchar](150) NULL,
		[ATTRIBUTE14] [nvarchar](150) NULL,
		[ATTRIBUTE15] [nvarchar](150) NULL,
		[REQUEST_ID] [float] NULL,
		[PROGRAM_APPLICATION_ID] [float] NULL,
		[PROGRAM_ID] [float] NULL,
		[PROGRAM_UPDATE_DATE] [datetime2](7) NULL,
		[VAT_REGISTRATION_NUM] [nvarchar](20) NULL,
		[AUTO_CALCULATE_INTEREST_FLAG] [nvarchar](1) NULL,
		[VALIDATION_NUMBER] [float] NULL,
		[EXCLUDE_FREIGHT_FROM_DISCOUNT] [nvarchar](1) NULL,
		[TAX_REPORTING_NAME] [nvarchar](80) NULL,
		[CHECK_DIGITS] [nvarchar](30) NULL,
		[ALLOW_AWT_FLAG] [nvarchar](1) NULL,
		[AWT_GROUP_ID] [numeric](15, 0) NULL,
		[GLOBAL_ATTRIBUTE1] [nvarchar](150) NULL,
		[GLOBAL_ATTRIBUTE2] [nvarchar](150) NULL,
		[GLOBAL_ATTRIBUTE3] [nvarchar](150) NULL,
		[GLOBAL_ATTRIBUTE4] [nvarchar](150) NULL,
		[GLOBAL_ATTRIBUTE5] [nvarchar](150) NULL,
		[GLOBAL_ATTRIBUTE6] [nvarchar](150) NULL,
		[GLOBAL_ATTRIBUTE7] [nvarchar](150) NULL,
		[GLOBAL_ATTRIBUTE8] [nvarchar](150) NULL,
		[GLOBAL_ATTRIBUTE9] [nvarchar](150) NULL,
		[GLOBAL_ATTRIBUTE10] [nvarchar](150) NULL,
		[GLOBAL_ATTRIBUTE11] [nvarchar](150) NULL,
		[GLOBAL_ATTRIBUTE12] [nvarchar](150) NULL,
		[GLOBAL_ATTRIBUTE13] [nvarchar](150) NULL,
		[GLOBAL_ATTRIBUTE14] [nvarchar](150) NULL,
		[GLOBAL_ATTRIBUTE15] [nvarchar](150) NULL,
		[GLOBAL_ATTRIBUTE16] [nvarchar](150) NULL,
		[GLOBAL_ATTRIBUTE17] [nvarchar](150) NULL,
		[GLOBAL_ATTRIBUTE18] [nvarchar](150) NULL,
		[GLOBAL_ATTRIBUTE19] [nvarchar](150) NULL,
		[GLOBAL_ATTRIBUTE20] [nvarchar](150) NULL,
		[GLOBAL_ATTRIBUTE_CATEGORY] [nvarchar](30) NULL,
		[BANK_CHARGE_BEARER] [nvarchar](1) NULL,
		[MATCH_OPTION] [nvarchar](25) NULL,
		[CREATE_DEBIT_MEMO_FLAG] [nvarchar](25) NULL,
		[PARTY_ID] [float] NULL,
		[PARENT_PARTY_ID] [float] NULL,
		[NI_NUMBER] [nvarchar](30) NULL,
		[PARTY_NUMBER] [nvarchar](30) NOT NULL,
		[PAY_AWT_GROUP_ID] [numeric](15, 0) NULL,
		[Fingerprint] [varchar](32) NOT NULL
	)

	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Oracle Download', GETDATE()
	
	INSERT INTO #VENDORS
	SELECT *, 'XXXXXX'
	FROM OPENQUERY(PROD,'SELECT * FROM po_vendors pov WHERE LAST_UPDATE_DATE >= sysdate - 7') 

	/*
		DECLARE @columnList VARCHAR(MAX) = dbo.getHashField ('PO_VENDORS','Oracle') SELECT @columnList
	*/

	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Fingerprint', GETDATE()

	UPDATE #VENDORS
	SET Fingerprint = 
		SUBSTRING(LOWER(CONVERT(VARCHAR(32),HASHBYTES('MD5',
			--replace @columnList result here
				 CAST(ISNULL([VENDOR_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([LAST_UPDATE_DATE],'') AS VARCHAR(100)) +  CAST(ISNULL([LAST_UPDATED_BY],'0') AS VARCHAR(100)) +  CAST(ISNULL([VENDOR_NAME],'') AS VARCHAR(240)) +  CAST(ISNULL([VENDOR_NAME_ALT],'') AS VARCHAR(320)) +  CAST(ISNULL([SEGMENT1],'') AS VARCHAR(30)) +  CAST(ISNULL([SUMMARY_FLAG],'') AS VARCHAR(1)) +  CAST(ISNULL([ENABLED_FLAG],'') AS VARCHAR(1)) +  CAST(ISNULL([SEGMENT2],'') AS VARCHAR(30)) +  CAST(ISNULL([SEGMENT3],'') AS VARCHAR(30)) +  CAST(ISNULL([SEGMENT4],'') AS VARCHAR(30)) +  CAST(ISNULL([SEGMENT5],'') AS VARCHAR(30)) +  CAST(ISNULL([LAST_UPDATE_LOGIN],'0') AS VARCHAR(100)) +  CAST(ISNULL([CREATION_DATE],'') AS VARCHAR(100)) +  CAST(ISNULL([CREATED_BY],'0') AS VARCHAR(100)) +  CAST(ISNULL([EMPLOYEE_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([VENDOR_TYPE_LOOKUP_CODE],'') AS VARCHAR(30)) +  CAST(ISNULL([CUSTOMER_NUM],'') AS VARCHAR(25)) +  CAST(ISNULL([ONE_TIME_FLAG],'') AS VARCHAR(1)) +  CAST(ISNULL([PARENT_VENDOR_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([MIN_ORDER_AMOUNT],'0') AS VARCHAR(100)) +  CAST(ISNULL([TERMS_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([SET_OF_BOOKS_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([ALWAYS_TAKE_DISC_FLAG],'') AS VARCHAR(1)) +  CAST(ISNULL([PAY_DATE_BASIS_LOOKUP_CODE],'') AS VARCHAR(25)) +  CAST(ISNULL([PAY_GROUP_LOOKUP_CODE],'') AS VARCHAR(25)) +  CAST(ISNULL([PAYMENT_PRIORITY],'0') AS VARCHAR(100)) +  CAST(ISNULL([INVOICE_CURRENCY_CODE],'') AS VARCHAR(15)) +  CAST(ISNULL([PAYMENT_CURRENCY_CODE],'') AS VARCHAR(15)) +  CAST(ISNULL([INVOICE_AMOUNT_LIMIT],'0') AS VARCHAR(100)) +  CAST(ISNULL([HOLD_ALL_PAYMENTS_FLAG],'') AS VARCHAR(1)) +  CAST(ISNULL([HOLD_FUTURE_PAYMENTS_FLAG],'') AS VARCHAR(1)) +  CAST(ISNULL([HOLD_REASON],'') AS VARCHAR(240)) +  CAST(ISNULL([NUM_1099],'') AS VARCHAR(20)) +  CAST(ISNULL([INDIVIDUAL_1099],'') AS VARCHAR(30)) +  CAST(ISNULL([TYPE_1099],'') AS VARCHAR(10)) +  CAST(ISNULL([WITHHOLDING_STATUS_LOOKUP_CODE],'') AS VARCHAR(25)) +  CAST(ISNULL([WITHHOLDING_START_DATE],'') AS VARCHAR(100)) +  CAST(ISNULL([ORGANIZATION_TYPE_LOOKUP_CODE],'') AS VARCHAR(25)) +  CAST(ISNULL([START_DATE_ACTIVE],'') AS VARCHAR(100)) +  CAST(ISNULL([END_DATE_ACTIVE],'') AS VARCHAR(100)) +  CAST(ISNULL([MINORITY_GROUP_LOOKUP_CODE],'') AS VARCHAR(30)) +  CAST(ISNULL([WOMEN_OWNED_FLAG],'') AS VARCHAR(1)) +  CAST(ISNULL([SMALL_BUSINESS_FLAG],'') AS VARCHAR(1)) +  CAST(ISNULL([STANDARD_INDUSTRY_CLASS],'') AS VARCHAR(25)) +  CAST(ISNULL([HOLD_FLAG],'') AS VARCHAR(1)) +  CAST(ISNULL([PURCHASING_HOLD_REASON],'') AS VARCHAR(240)) +  CAST(ISNULL([HOLD_BY],'0') AS VARCHAR(100)) +  CAST(ISNULL([HOLD_DATE],'') AS VARCHAR(100)) +  CAST(ISNULL([TERMS_DATE_BASIS],'') AS VARCHAR(25)) +  CAST(ISNULL([INSPECTION_REQUIRED_FLAG],'') AS VARCHAR(1)) +  CAST(ISNULL([RECEIPT_REQUIRED_FLAG],'') AS VARCHAR(1)) +  CAST(ISNULL([QTY_RCV_TOLERANCE],'0') AS VARCHAR(100)) +  CAST(ISNULL([QTY_RCV_EXCEPTION_CODE],'') AS VARCHAR(25)) +  CAST(ISNULL([ENFORCE_SHIP_TO_LOCATION_CODE],'') AS VARCHAR(25)) +  CAST(ISNULL([DAYS_EARLY_RECEIPT_ALLOWED],'0') AS VARCHAR(100)) +  CAST(ISNULL([DAYS_LATE_RECEIPT_ALLOWED],'0') AS VARCHAR(100)) +  CAST(ISNULL([RECEIPT_DAYS_EXCEPTION_CODE],'') AS VARCHAR(25)) +  CAST(ISNULL([RECEIVING_ROUTING_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([ALLOW_SUBSTITUTE_RECEIPTS_FLAG],'') AS VARCHAR(1)) +  CAST(ISNULL([ALLOW_UNORDERED_RECEIPTS_FLAG],'') AS VARCHAR(1)) +  CAST(ISNULL([HOLD_UNMATCHED_INVOICES_FLAG],'') AS VARCHAR(1)) +  CAST(ISNULL([TAX_VERIFICATION_DATE],'') AS VARCHAR(100)) +  CAST(ISNULL([NAME_CONTROL],'') AS VARCHAR(4)) +  CAST(ISNULL([STATE_REPORTABLE_FLAG],'') AS VARCHAR(1)) +  CAST(ISNULL([FEDERAL_REPORTABLE_FLAG],'') AS VARCHAR(1)) +  CAST(ISNULL([ATTRIBUTE_CATEGORY],'') AS VARCHAR(30)) +  CAST(ISNULL([ATTRIBUTE1],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE2],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE3],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE4],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE5],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE6],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE7],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE8],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE9],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE10],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE11],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE12],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE13],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE14],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE15],'') AS VARCHAR(150)) +  CAST(ISNULL([REQUEST_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([PROGRAM_APPLICATION_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([PROGRAM_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([PROGRAM_UPDATE_DATE],'') AS VARCHAR(100)) +  CAST(ISNULL([VAT_REGISTRATION_NUM],'') AS VARCHAR(20)) +  CAST(ISNULL([AUTO_CALCULATE_INTEREST_FLAG],'') AS VARCHAR(1)) +  CAST(ISNULL([VALIDATION_NUMBER],'0') AS VARCHAR(100)) +  CAST(ISNULL([EXCLUDE_FREIGHT_FROM_DISCOUNT],'') AS VARCHAR(1)) +  CAST(ISNULL([TAX_REPORTING_NAME],'') AS VARCHAR(80)) +  CAST(ISNULL([CHECK_DIGITS],'') AS VARCHAR(30)) +  CAST(ISNULL([ALLOW_AWT_FLAG],'') AS VARCHAR(1)) +  CAST(ISNULL([AWT_GROUP_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([GLOBAL_ATTRIBUTE1],'') AS VARCHAR(150)) +  CAST(ISNULL([GLOBAL_ATTRIBUTE2],'') AS VARCHAR(150)) +  CAST(ISNULL([GLOBAL_ATTRIBUTE3],'') AS VARCHAR(150)) +  CAST(ISNULL([GLOBAL_ATTRIBUTE4],'') AS VARCHAR(150)) +  CAST(ISNULL([GLOBAL_ATTRIBUTE5],'') AS VARCHAR(150)) +  CAST(ISNULL([GLOBAL_ATTRIBUTE6],'') AS VARCHAR(150)) +  CAST(ISNULL([GLOBAL_ATTRIBUTE7],'') AS VARCHAR(150)) +  CAST(ISNULL([GLOBAL_ATTRIBUTE8],'') AS VARCHAR(150)) +  CAST(ISNULL([GLOBAL_ATTRIBUTE9],'') AS VARCHAR(150)) +  CAST(ISNULL([GLOBAL_ATTRIBUTE10],'') AS VARCHAR(150)) +  CAST(ISNULL([GLOBAL_ATTRIBUTE11],'') AS VARCHAR(150)) +  CAST(ISNULL([GLOBAL_ATTRIBUTE12],'') AS VARCHAR(150)) +  CAST(ISNULL([GLOBAL_ATTRIBUTE13],'') AS VARCHAR(150)) +  CAST(ISNULL([GLOBAL_ATTRIBUTE14],'') AS VARCHAR(150)) +  CAST(ISNULL([GLOBAL_ATTRIBUTE15],'') AS VARCHAR(150)) +  CAST(ISNULL([GLOBAL_ATTRIBUTE16],'') AS VARCHAR(150)) +  CAST(ISNULL([GLOBAL_ATTRIBUTE17],'') AS VARCHAR(150)) +  CAST(ISNULL([GLOBAL_ATTRIBUTE18],'') AS VARCHAR(150)) +  CAST(ISNULL([GLOBAL_ATTRIBUTE19],'') AS VARCHAR(150)) +  CAST(ISNULL([GLOBAL_ATTRIBUTE20],'') AS VARCHAR(150)) +  CAST(ISNULL([GLOBAL_ATTRIBUTE_CATEGORY],'') AS VARCHAR(30)) +  CAST(ISNULL([BANK_CHARGE_BEARER],'') AS VARCHAR(1)) +  CAST(ISNULL([MATCH_OPTION],'') AS VARCHAR(25)) +  CAST(ISNULL([CREATE_DEBIT_MEMO_FLAG],'') AS VARCHAR(25)) +  CAST(ISNULL([PARTY_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([PARENT_PARTY_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([NI_NUMBER],'') AS VARCHAR(30)) +  CAST(ISNULL([PARTY_NUMBER],'') AS VARCHAR(30)) +  CAST(ISNULL([PAY_AWT_GROUP_ID],'0') AS VARCHAR(100)) 
		),1)),3,32);


	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Merge', GETDATE()

	INSERT INTO Oracle.PO_VENDORS (
				[VENDOR_ID]
			  ,[LAST_UPDATE_DATE]
			  ,[LAST_UPDATED_BY]
			  ,[VENDOR_NAME]
			  ,[VENDOR_NAME_ALT]
			  ,[SEGMENT1]
			  ,[SUMMARY_FLAG]
			  ,[ENABLED_FLAG]
			  ,[SEGMENT2]
			  ,[SEGMENT3]
			  ,[SEGMENT4]
			  ,[SEGMENT5]
			  ,[LAST_UPDATE_LOGIN]
			  ,[CREATION_DATE]
			  ,[CREATED_BY]
			  ,[EMPLOYEE_ID]
			  ,[VENDOR_TYPE_LOOKUP_CODE]
			  ,[CUSTOMER_NUM]
			  ,[ONE_TIME_FLAG]
			  ,[PARENT_VENDOR_ID]
			  ,[MIN_ORDER_AMOUNT]
			  ,[TERMS_ID]
			  ,[SET_OF_BOOKS_ID]
			  ,[ALWAYS_TAKE_DISC_FLAG]
			  ,[PAY_DATE_BASIS_LOOKUP_CODE]
			  ,[PAY_GROUP_LOOKUP_CODE]
			  ,[PAYMENT_PRIORITY]
			  ,[INVOICE_CURRENCY_CODE]
			  ,[PAYMENT_CURRENCY_CODE]
			  ,[INVOICE_AMOUNT_LIMIT]
			  ,[HOLD_ALL_PAYMENTS_FLAG]
			  ,[HOLD_FUTURE_PAYMENTS_FLAG]
			  ,[HOLD_REASON]
			  ,[NUM_1099]
			  ,[INDIVIDUAL_1099]
			  ,[TYPE_1099]
			  ,[WITHHOLDING_STATUS_LOOKUP_CODE]
			  ,[WITHHOLDING_START_DATE]
			  ,[ORGANIZATION_TYPE_LOOKUP_CODE]
			  ,[START_DATE_ACTIVE]
			  ,[END_DATE_ACTIVE]
			  ,[MINORITY_GROUP_LOOKUP_CODE]
			  ,[WOMEN_OWNED_FLAG]
			  ,[SMALL_BUSINESS_FLAG]
			  ,[STANDARD_INDUSTRY_CLASS]
			  ,[HOLD_FLAG]
			  ,[PURCHASING_HOLD_REASON]
			  ,[HOLD_BY]
			  ,[HOLD_DATE]
			  ,[TERMS_DATE_BASIS]
			  ,[INSPECTION_REQUIRED_FLAG]
			  ,[RECEIPT_REQUIRED_FLAG]
			  ,[QTY_RCV_TOLERANCE]
			  ,[QTY_RCV_EXCEPTION_CODE]
			  ,[ENFORCE_SHIP_TO_LOCATION_CODE]
			  ,[DAYS_EARLY_RECEIPT_ALLOWED]
			  ,[DAYS_LATE_RECEIPT_ALLOWED]
			  ,[RECEIPT_DAYS_EXCEPTION_CODE]
			  ,[RECEIVING_ROUTING_ID]
			  ,[ALLOW_SUBSTITUTE_RECEIPTS_FLAG]
			  ,[ALLOW_UNORDERED_RECEIPTS_FLAG]
			  ,[HOLD_UNMATCHED_INVOICES_FLAG]
			  ,[TAX_VERIFICATION_DATE]
			  ,[NAME_CONTROL]
			  ,[STATE_REPORTABLE_FLAG]
			  ,[FEDERAL_REPORTABLE_FLAG]
			  ,[ATTRIBUTE_CATEGORY]
			  ,[ATTRIBUTE1]
			  ,[ATTRIBUTE2]
			  ,[ATTRIBUTE3]
			  ,[ATTRIBUTE4]
			  ,[ATTRIBUTE5]
			  ,[ATTRIBUTE6]
			  ,[ATTRIBUTE7]
			  ,[ATTRIBUTE8]
			  ,[ATTRIBUTE9]
			  ,[ATTRIBUTE10]
			  ,[ATTRIBUTE11]
			  ,[ATTRIBUTE12]
			  ,[ATTRIBUTE13]
			  ,[ATTRIBUTE14]
			  ,[ATTRIBUTE15]
			  ,[REQUEST_ID]
			  ,[PROGRAM_APPLICATION_ID]
			  ,[PROGRAM_ID]
			  ,[PROGRAM_UPDATE_DATE]
			  ,[VAT_REGISTRATION_NUM]
			  ,[AUTO_CALCULATE_INTEREST_FLAG]
			  ,[VALIDATION_NUMBER]
			  ,[EXCLUDE_FREIGHT_FROM_DISCOUNT]
			  ,[TAX_REPORTING_NAME]
			  ,[CHECK_DIGITS]
			  ,[ALLOW_AWT_FLAG]
			  ,[AWT_GROUP_ID]
			  ,[GLOBAL_ATTRIBUTE1]
			  ,[GLOBAL_ATTRIBUTE2]
			  ,[GLOBAL_ATTRIBUTE3]
			  ,[GLOBAL_ATTRIBUTE4]
			  ,[GLOBAL_ATTRIBUTE5]
			  ,[GLOBAL_ATTRIBUTE6]
			  ,[GLOBAL_ATTRIBUTE7]
			  ,[GLOBAL_ATTRIBUTE8]
			  ,[GLOBAL_ATTRIBUTE9]
			  ,[GLOBAL_ATTRIBUTE10]
			  ,[GLOBAL_ATTRIBUTE11]
			  ,[GLOBAL_ATTRIBUTE12]
			  ,[GLOBAL_ATTRIBUTE13]
			  ,[GLOBAL_ATTRIBUTE14]
			  ,[GLOBAL_ATTRIBUTE15]
			  ,[GLOBAL_ATTRIBUTE16]
			  ,[GLOBAL_ATTRIBUTE17]
			  ,[GLOBAL_ATTRIBUTE18]
			  ,[GLOBAL_ATTRIBUTE19]
			  ,[GLOBAL_ATTRIBUTE20]
			  ,[GLOBAL_ATTRIBUTE_CATEGORY]
			  ,[BANK_CHARGE_BEARER]
			  ,[MATCH_OPTION]
			  ,[CREATE_DEBIT_MEMO_FLAG]
			  ,[PARTY_ID]
			  ,[PARENT_PARTY_ID]
			  ,[NI_NUMBER]
			  ,[PARTY_NUMBER]
			  ,[PAY_AWT_GROUP_ID]
			  ,[Fingerprint]
		)
			SELECT 
			   a.[VENDOR_ID]
			  ,a.[LAST_UPDATE_DATE]
			  ,a.[LAST_UPDATED_BY]
			  ,a.[VENDOR_NAME]
			  ,a.[VENDOR_NAME_ALT]
			  ,a.[SEGMENT1]
			  ,a.[SUMMARY_FLAG]
			  ,a.[ENABLED_FLAG]
			  ,a.[SEGMENT2]
			  ,a.[SEGMENT3]
			  ,a.[SEGMENT4]
			  ,a.[SEGMENT5]
			  ,a.[LAST_UPDATE_LOGIN]
			  ,a.[CREATION_DATE]
			  ,a.[CREATED_BY]
			  ,a.[EMPLOYEE_ID]
			  ,a.[VENDOR_TYPE_LOOKUP_CODE]
			  ,a.[CUSTOMER_NUM]
			  ,a.[ONE_TIME_FLAG]
			  ,a.[PARENT_VENDOR_ID]
			  ,a.[MIN_ORDER_AMOUNT]
			  ,a.[TERMS_ID]
			  ,a.[SET_OF_BOOKS_ID]
			  ,a.[ALWAYS_TAKE_DISC_FLAG]
			  ,a.[PAY_DATE_BASIS_LOOKUP_CODE]
			  ,a.[PAY_GROUP_LOOKUP_CODE]
			  ,a.[PAYMENT_PRIORITY]
			  ,a.[INVOICE_CURRENCY_CODE]
			  ,a.[PAYMENT_CURRENCY_CODE]
			  ,a.[INVOICE_AMOUNT_LIMIT]
			  ,a.[HOLD_ALL_PAYMENTS_FLAG]
			  ,a.[HOLD_FUTURE_PAYMENTS_FLAG]
			  ,a.[HOLD_REASON]
			  ,a.[NUM_1099]
			  ,a.[INDIVIDUAL_1099]
			  ,a.[TYPE_1099]
			  ,a.[WITHHOLDING_STATUS_LOOKUP_CODE]
			  ,a.[WITHHOLDING_START_DATE]
			  ,a.[ORGANIZATION_TYPE_LOOKUP_CODE]
			  ,a.[START_DATE_ACTIVE]
			  ,a.[END_DATE_ACTIVE]
			  ,a.[MINORITY_GROUP_LOOKUP_CODE]
			  ,a.[WOMEN_OWNED_FLAG]
			  ,a.[SMALL_BUSINESS_FLAG]
			  ,a.[STANDARD_INDUSTRY_CLASS]
			  ,a.[HOLD_FLAG]
			  ,a.[PURCHASING_HOLD_REASON]
			  ,a.[HOLD_BY]
			  ,a.[HOLD_DATE]
			  ,a.[TERMS_DATE_BASIS]
			  ,a.[INSPECTION_REQUIRED_FLAG]
			  ,a.[RECEIPT_REQUIRED_FLAG]
			  ,a.[QTY_RCV_TOLERANCE]
			  ,a.[QTY_RCV_EXCEPTION_CODE]
			  ,a.[ENFORCE_SHIP_TO_LOCATION_CODE]
			  ,a.[DAYS_EARLY_RECEIPT_ALLOWED]
			  ,a.[DAYS_LATE_RECEIPT_ALLOWED]
			  ,a.[RECEIPT_DAYS_EXCEPTION_CODE]
			  ,a.[RECEIVING_ROUTING_ID]
			  ,a.[ALLOW_SUBSTITUTE_RECEIPTS_FLAG]
			  ,a.[ALLOW_UNORDERED_RECEIPTS_FLAG]
			  ,a.[HOLD_UNMATCHED_INVOICES_FLAG]
			  ,a.[TAX_VERIFICATION_DATE]
			  ,a.[NAME_CONTROL]
			  ,a.[STATE_REPORTABLE_FLAG]
			  ,a.[FEDERAL_REPORTABLE_FLAG]
			  ,a.[ATTRIBUTE_CATEGORY]
			  ,a.[ATTRIBUTE1]
			  ,a.[ATTRIBUTE2]
			  ,a.[ATTRIBUTE3]
			  ,a.[ATTRIBUTE4]
			  ,a.[ATTRIBUTE5]
			  ,a.[ATTRIBUTE6]
			  ,a.[ATTRIBUTE7]
			  ,a.[ATTRIBUTE8]
			  ,a.[ATTRIBUTE9]
			  ,a.[ATTRIBUTE10]
			  ,a.[ATTRIBUTE11]
			  ,a.[ATTRIBUTE12]
			  ,a.[ATTRIBUTE13]
			  ,a.[ATTRIBUTE14]
			  ,a.[ATTRIBUTE15]
			  ,a.[REQUEST_ID]
			  ,a.[PROGRAM_APPLICATION_ID]
			  ,a.[PROGRAM_ID]
			  ,a.[PROGRAM_UPDATE_DATE]
			  ,a.[VAT_REGISTRATION_NUM]
			  ,a.[AUTO_CALCULATE_INTEREST_FLAG]
			  ,a.[VALIDATION_NUMBER]
			  ,a.[EXCLUDE_FREIGHT_FROM_DISCOUNT]
			  ,a.[TAX_REPORTING_NAME]
			  ,a.[CHECK_DIGITS]
			  ,a.[ALLOW_AWT_FLAG]
			  ,a.[AWT_GROUP_ID]
			  ,a.[GLOBAL_ATTRIBUTE1]
			  ,a.[GLOBAL_ATTRIBUTE2]
			  ,a.[GLOBAL_ATTRIBUTE3]
			  ,a.[GLOBAL_ATTRIBUTE4]
			  ,a.[GLOBAL_ATTRIBUTE5]
			  ,a.[GLOBAL_ATTRIBUTE6]
			  ,a.[GLOBAL_ATTRIBUTE7]
			  ,a.[GLOBAL_ATTRIBUTE8]
			  ,a.[GLOBAL_ATTRIBUTE9]
			  ,a.[GLOBAL_ATTRIBUTE10]
			  ,a.[GLOBAL_ATTRIBUTE11]
			  ,a.[GLOBAL_ATTRIBUTE12]
			  ,a.[GLOBAL_ATTRIBUTE13]
			  ,a.[GLOBAL_ATTRIBUTE14]
			  ,a.[GLOBAL_ATTRIBUTE15]
			  ,a.[GLOBAL_ATTRIBUTE16]
			  ,a.[GLOBAL_ATTRIBUTE17]
			  ,a.[GLOBAL_ATTRIBUTE18]
			  ,a.[GLOBAL_ATTRIBUTE19]
			  ,a.[GLOBAL_ATTRIBUTE20]
			  ,a.[GLOBAL_ATTRIBUTE_CATEGORY]
			  ,a.[BANK_CHARGE_BEARER]
			  ,a.[MATCH_OPTION]
			  ,a.[CREATE_DEBIT_MEMO_FLAG]
			  ,a.[PARTY_ID]
			  ,a.[PARENT_PARTY_ID]
			  ,a.[NI_NUMBER]
			  ,a.[PARTY_NUMBER]
			  ,a.[PAY_AWT_GROUP_ID]
			  ,a.[Fingerprint]
			FROM (
				MERGE Oracle.PO_VENDORS b
				USING (SELECT * FROM #VENDORS) a
				ON a.Vendor_ID = b.Vendor_ID AND b.CurrentRecord = 1 --swap with business key of table
				WHEN NOT MATCHED --BY TARGET 
				THEN INSERT (
					[VENDOR_ID]
				  ,[LAST_UPDATE_DATE]
				  ,[LAST_UPDATED_BY]
				  ,[VENDOR_NAME]
				  ,[VENDOR_NAME_ALT]
				  ,[SEGMENT1]
				  ,[SUMMARY_FLAG]
				  ,[ENABLED_FLAG]
				  ,[SEGMENT2]
				  ,[SEGMENT3]
				  ,[SEGMENT4]
				  ,[SEGMENT5]
				  ,[LAST_UPDATE_LOGIN]
				  ,[CREATION_DATE]
				  ,[CREATED_BY]
				  ,[EMPLOYEE_ID]
				  ,[VENDOR_TYPE_LOOKUP_CODE]
				  ,[CUSTOMER_NUM]
				  ,[ONE_TIME_FLAG]
				  ,[PARENT_VENDOR_ID]
				  ,[MIN_ORDER_AMOUNT]
				  ,[TERMS_ID]
				  ,[SET_OF_BOOKS_ID]
				  ,[ALWAYS_TAKE_DISC_FLAG]
				  ,[PAY_DATE_BASIS_LOOKUP_CODE]
				  ,[PAY_GROUP_LOOKUP_CODE]
				  ,[PAYMENT_PRIORITY]
				  ,[INVOICE_CURRENCY_CODE]
				  ,[PAYMENT_CURRENCY_CODE]
				  ,[INVOICE_AMOUNT_LIMIT]
				  ,[HOLD_ALL_PAYMENTS_FLAG]
				  ,[HOLD_FUTURE_PAYMENTS_FLAG]
				  ,[HOLD_REASON]
				  ,[NUM_1099]
				  ,[INDIVIDUAL_1099]
				  ,[TYPE_1099]
				  ,[WITHHOLDING_STATUS_LOOKUP_CODE]
				  ,[WITHHOLDING_START_DATE]
				  ,[ORGANIZATION_TYPE_LOOKUP_CODE]
				  ,[START_DATE_ACTIVE]
				  ,[END_DATE_ACTIVE]
				  ,[MINORITY_GROUP_LOOKUP_CODE]
				  ,[WOMEN_OWNED_FLAG]
				  ,[SMALL_BUSINESS_FLAG]
				  ,[STANDARD_INDUSTRY_CLASS]
				  ,[HOLD_FLAG]
				  ,[PURCHASING_HOLD_REASON]
				  ,[HOLD_BY]
				  ,[HOLD_DATE]
				  ,[TERMS_DATE_BASIS]
				  ,[INSPECTION_REQUIRED_FLAG]
				  ,[RECEIPT_REQUIRED_FLAG]
				  ,[QTY_RCV_TOLERANCE]
				  ,[QTY_RCV_EXCEPTION_CODE]
				  ,[ENFORCE_SHIP_TO_LOCATION_CODE]
				  ,[DAYS_EARLY_RECEIPT_ALLOWED]
				  ,[DAYS_LATE_RECEIPT_ALLOWED]
				  ,[RECEIPT_DAYS_EXCEPTION_CODE]
				  ,[RECEIVING_ROUTING_ID]
				  ,[ALLOW_SUBSTITUTE_RECEIPTS_FLAG]
				  ,[ALLOW_UNORDERED_RECEIPTS_FLAG]
				  ,[HOLD_UNMATCHED_INVOICES_FLAG]
				  ,[TAX_VERIFICATION_DATE]
				  ,[NAME_CONTROL]
				  ,[STATE_REPORTABLE_FLAG]
				  ,[FEDERAL_REPORTABLE_FLAG]
				  ,[ATTRIBUTE_CATEGORY]
				  ,[ATTRIBUTE1]
				  ,[ATTRIBUTE2]
				  ,[ATTRIBUTE3]
				  ,[ATTRIBUTE4]
				  ,[ATTRIBUTE5]
				  ,[ATTRIBUTE6]
				  ,[ATTRIBUTE7]
				  ,[ATTRIBUTE8]
				  ,[ATTRIBUTE9]
				  ,[ATTRIBUTE10]
				  ,[ATTRIBUTE11]
				  ,[ATTRIBUTE12]
				  ,[ATTRIBUTE13]
				  ,[ATTRIBUTE14]
				  ,[ATTRIBUTE15]
				  ,[REQUEST_ID]
				  ,[PROGRAM_APPLICATION_ID]
				  ,[PROGRAM_ID]
				  ,[PROGRAM_UPDATE_DATE]
				  ,[VAT_REGISTRATION_NUM]
				  ,[AUTO_CALCULATE_INTEREST_FLAG]
				  ,[VALIDATION_NUMBER]
				  ,[EXCLUDE_FREIGHT_FROM_DISCOUNT]
				  ,[TAX_REPORTING_NAME]
				  ,[CHECK_DIGITS]
				  ,[ALLOW_AWT_FLAG]
				  ,[AWT_GROUP_ID]
				  ,[GLOBAL_ATTRIBUTE1]
				  ,[GLOBAL_ATTRIBUTE2]
				  ,[GLOBAL_ATTRIBUTE3]
				  ,[GLOBAL_ATTRIBUTE4]
				  ,[GLOBAL_ATTRIBUTE5]
				  ,[GLOBAL_ATTRIBUTE6]
				  ,[GLOBAL_ATTRIBUTE7]
				  ,[GLOBAL_ATTRIBUTE8]
				  ,[GLOBAL_ATTRIBUTE9]
				  ,[GLOBAL_ATTRIBUTE10]
				  ,[GLOBAL_ATTRIBUTE11]
				  ,[GLOBAL_ATTRIBUTE12]
				  ,[GLOBAL_ATTRIBUTE13]
				  ,[GLOBAL_ATTRIBUTE14]
				  ,[GLOBAL_ATTRIBUTE15]
				  ,[GLOBAL_ATTRIBUTE16]
				  ,[GLOBAL_ATTRIBUTE17]
				  ,[GLOBAL_ATTRIBUTE18]
				  ,[GLOBAL_ATTRIBUTE19]
				  ,[GLOBAL_ATTRIBUTE20]
				  ,[GLOBAL_ATTRIBUTE_CATEGORY]
				  ,[BANK_CHARGE_BEARER]
				  ,[MATCH_OPTION]
				  ,[CREATE_DEBIT_MEMO_FLAG]
				  ,[PARTY_ID]
				  ,[PARENT_PARTY_ID]
				  ,[NI_NUMBER]
				  ,[PARTY_NUMBER]
				  ,[PAY_AWT_GROUP_ID]
				  ,[Fingerprint]
				)
				VALUES (
				   a.[VENDOR_ID]
				  ,a.[LAST_UPDATE_DATE]
				  ,a.[LAST_UPDATED_BY]
				  ,a.[VENDOR_NAME]
				  ,a.[VENDOR_NAME_ALT]
				  ,a.[SEGMENT1]
				  ,a.[SUMMARY_FLAG]
				  ,a.[ENABLED_FLAG]
				  ,a.[SEGMENT2]
				  ,a.[SEGMENT3]
				  ,a.[SEGMENT4]
				  ,a.[SEGMENT5]
				  ,a.[LAST_UPDATE_LOGIN]
				  ,a.[CREATION_DATE]
				  ,a.[CREATED_BY]
				  ,a.[EMPLOYEE_ID]
				  ,a.[VENDOR_TYPE_LOOKUP_CODE]
				  ,a.[CUSTOMER_NUM]
				  ,a.[ONE_TIME_FLAG]
				  ,a.[PARENT_VENDOR_ID]
				  ,a.[MIN_ORDER_AMOUNT]
				  ,a.[TERMS_ID]
				  ,a.[SET_OF_BOOKS_ID]
				  ,a.[ALWAYS_TAKE_DISC_FLAG]
				  ,a.[PAY_DATE_BASIS_LOOKUP_CODE]
				  ,a.[PAY_GROUP_LOOKUP_CODE]
				  ,a.[PAYMENT_PRIORITY]
				  ,a.[INVOICE_CURRENCY_CODE]
				  ,a.[PAYMENT_CURRENCY_CODE]
				  ,a.[INVOICE_AMOUNT_LIMIT]
				  ,a.[HOLD_ALL_PAYMENTS_FLAG]
				  ,a.[HOLD_FUTURE_PAYMENTS_FLAG]
				  ,a.[HOLD_REASON]
				  ,a.[NUM_1099]
				  ,a.[INDIVIDUAL_1099]
				  ,a.[TYPE_1099]
				  ,a.[WITHHOLDING_STATUS_LOOKUP_CODE]
				  ,a.[WITHHOLDING_START_DATE]
				  ,a.[ORGANIZATION_TYPE_LOOKUP_CODE]
				  ,a.[START_DATE_ACTIVE]
				  ,a.[END_DATE_ACTIVE]
				  ,a.[MINORITY_GROUP_LOOKUP_CODE]
				  ,a.[WOMEN_OWNED_FLAG]
				  ,a.[SMALL_BUSINESS_FLAG]
				  ,a.[STANDARD_INDUSTRY_CLASS]
				  ,a.[HOLD_FLAG]
				  ,a.[PURCHASING_HOLD_REASON]
				  ,a.[HOLD_BY]
				  ,a.[HOLD_DATE]
				  ,a.[TERMS_DATE_BASIS]
				  ,a.[INSPECTION_REQUIRED_FLAG]
				  ,a.[RECEIPT_REQUIRED_FLAG]
				  ,a.[QTY_RCV_TOLERANCE]
				  ,a.[QTY_RCV_EXCEPTION_CODE]
				  ,a.[ENFORCE_SHIP_TO_LOCATION_CODE]
				  ,a.[DAYS_EARLY_RECEIPT_ALLOWED]
				  ,a.[DAYS_LATE_RECEIPT_ALLOWED]
				  ,a.[RECEIPT_DAYS_EXCEPTION_CODE]
				  ,a.[RECEIVING_ROUTING_ID]
				  ,a.[ALLOW_SUBSTITUTE_RECEIPTS_FLAG]
				  ,a.[ALLOW_UNORDERED_RECEIPTS_FLAG]
				  ,a.[HOLD_UNMATCHED_INVOICES_FLAG]
				  ,a.[TAX_VERIFICATION_DATE]
				  ,a.[NAME_CONTROL]
				  ,a.[STATE_REPORTABLE_FLAG]
				  ,a.[FEDERAL_REPORTABLE_FLAG]
				  ,a.[ATTRIBUTE_CATEGORY]
				  ,a.[ATTRIBUTE1]
				  ,a.[ATTRIBUTE2]
				  ,a.[ATTRIBUTE3]
				  ,a.[ATTRIBUTE4]
				  ,a.[ATTRIBUTE5]
				  ,a.[ATTRIBUTE6]
				  ,a.[ATTRIBUTE7]
				  ,a.[ATTRIBUTE8]
				  ,a.[ATTRIBUTE9]
				  ,a.[ATTRIBUTE10]
				  ,a.[ATTRIBUTE11]
				  ,a.[ATTRIBUTE12]
				  ,a.[ATTRIBUTE13]
				  ,a.[ATTRIBUTE14]
				  ,a.[ATTRIBUTE15]
				  ,a.[REQUEST_ID]
				  ,a.[PROGRAM_APPLICATION_ID]
				  ,a.[PROGRAM_ID]
				  ,a.[PROGRAM_UPDATE_DATE]
				  ,a.[VAT_REGISTRATION_NUM]
				  ,a.[AUTO_CALCULATE_INTEREST_FLAG]
				  ,a.[VALIDATION_NUMBER]
				  ,a.[EXCLUDE_FREIGHT_FROM_DISCOUNT]
				  ,a.[TAX_REPORTING_NAME]
				  ,a.[CHECK_DIGITS]
				  ,a.[ALLOW_AWT_FLAG]
				  ,a.[AWT_GROUP_ID]
				  ,a.[GLOBAL_ATTRIBUTE1]
				  ,a.[GLOBAL_ATTRIBUTE2]
				  ,a.[GLOBAL_ATTRIBUTE3]
				  ,a.[GLOBAL_ATTRIBUTE4]
				  ,a.[GLOBAL_ATTRIBUTE5]
				  ,a.[GLOBAL_ATTRIBUTE6]
				  ,a.[GLOBAL_ATTRIBUTE7]
				  ,a.[GLOBAL_ATTRIBUTE8]
				  ,a.[GLOBAL_ATTRIBUTE9]
				  ,a.[GLOBAL_ATTRIBUTE10]
				  ,a.[GLOBAL_ATTRIBUTE11]
				  ,a.[GLOBAL_ATTRIBUTE12]
				  ,a.[GLOBAL_ATTRIBUTE13]
				  ,a.[GLOBAL_ATTRIBUTE14]
				  ,a.[GLOBAL_ATTRIBUTE15]
				  ,a.[GLOBAL_ATTRIBUTE16]
				  ,a.[GLOBAL_ATTRIBUTE17]
				  ,a.[GLOBAL_ATTRIBUTE18]
				  ,a.[GLOBAL_ATTRIBUTE19]
				  ,a.[GLOBAL_ATTRIBUTE20]
				  ,a.[GLOBAL_ATTRIBUTE_CATEGORY]
				  ,a.[BANK_CHARGE_BEARER]
				  ,a.[MATCH_OPTION]
				  ,a.[CREATE_DEBIT_MEMO_FLAG]
				  ,a.[PARTY_ID]
				  ,a.[PARENT_PARTY_ID]
				  ,a.[NI_NUMBER]
				  ,a.[PARTY_NUMBER]
				  ,a.[PAY_AWT_GROUP_ID]
				  ,a.[Fingerprint]
				)
				--Existing records that have changed are expired
				WHEN MATCHED AND a.Fingerprint<>b.Fingerprint
				THEN UPDATE SET b.EndDate=GETDATE()
					,b.CurrentRecord=0
				OUTPUT 
					   a.[VENDOR_ID]
					  ,a.[LAST_UPDATE_DATE]
					  ,a.[LAST_UPDATED_BY]
					  ,a.[VENDOR_NAME]
					  ,a.[VENDOR_NAME_ALT]
					  ,a.[SEGMENT1]
					  ,a.[SUMMARY_FLAG]
					  ,a.[ENABLED_FLAG]
					  ,a.[SEGMENT2]
					  ,a.[SEGMENT3]
					  ,a.[SEGMENT4]
					  ,a.[SEGMENT5]
					  ,a.[LAST_UPDATE_LOGIN]
					  ,a.[CREATION_DATE]
					  ,a.[CREATED_BY]
					  ,a.[EMPLOYEE_ID]
					  ,a.[VENDOR_TYPE_LOOKUP_CODE]
					  ,a.[CUSTOMER_NUM]
					  ,a.[ONE_TIME_FLAG]
					  ,a.[PARENT_VENDOR_ID]
					  ,a.[MIN_ORDER_AMOUNT]
					  ,a.[TERMS_ID]
					  ,a.[SET_OF_BOOKS_ID]
					  ,a.[ALWAYS_TAKE_DISC_FLAG]
					  ,a.[PAY_DATE_BASIS_LOOKUP_CODE]
					  ,a.[PAY_GROUP_LOOKUP_CODE]
					  ,a.[PAYMENT_PRIORITY]
					  ,a.[INVOICE_CURRENCY_CODE]
					  ,a.[PAYMENT_CURRENCY_CODE]
					  ,a.[INVOICE_AMOUNT_LIMIT]
					  ,a.[HOLD_ALL_PAYMENTS_FLAG]
					  ,a.[HOLD_FUTURE_PAYMENTS_FLAG]
					  ,a.[HOLD_REASON]
					  ,a.[NUM_1099]
					  ,a.[INDIVIDUAL_1099]
					  ,a.[TYPE_1099]
					  ,a.[WITHHOLDING_STATUS_LOOKUP_CODE]
					  ,a.[WITHHOLDING_START_DATE]
					  ,a.[ORGANIZATION_TYPE_LOOKUP_CODE]
					  ,a.[START_DATE_ACTIVE]
					  ,a.[END_DATE_ACTIVE]
					  ,a.[MINORITY_GROUP_LOOKUP_CODE]
					  ,a.[WOMEN_OWNED_FLAG]
					  ,a.[SMALL_BUSINESS_FLAG]
					  ,a.[STANDARD_INDUSTRY_CLASS]
					  ,a.[HOLD_FLAG]
					  ,a.[PURCHASING_HOLD_REASON]
					  ,a.[HOLD_BY]
					  ,a.[HOLD_DATE]
					  ,a.[TERMS_DATE_BASIS]
					  ,a.[INSPECTION_REQUIRED_FLAG]
					  ,a.[RECEIPT_REQUIRED_FLAG]
					  ,a.[QTY_RCV_TOLERANCE]
					  ,a.[QTY_RCV_EXCEPTION_CODE]
					  ,a.[ENFORCE_SHIP_TO_LOCATION_CODE]
					  ,a.[DAYS_EARLY_RECEIPT_ALLOWED]
					  ,a.[DAYS_LATE_RECEIPT_ALLOWED]
					  ,a.[RECEIPT_DAYS_EXCEPTION_CODE]
					  ,a.[RECEIVING_ROUTING_ID]
					  ,a.[ALLOW_SUBSTITUTE_RECEIPTS_FLAG]
					  ,a.[ALLOW_UNORDERED_RECEIPTS_FLAG]
					  ,a.[HOLD_UNMATCHED_INVOICES_FLAG]
					  ,a.[TAX_VERIFICATION_DATE]
					  ,a.[NAME_CONTROL]
					  ,a.[STATE_REPORTABLE_FLAG]
					  ,a.[FEDERAL_REPORTABLE_FLAG]
					  ,a.[ATTRIBUTE_CATEGORY]
					  ,a.[ATTRIBUTE1]
					  ,a.[ATTRIBUTE2]
					  ,a.[ATTRIBUTE3]
					  ,a.[ATTRIBUTE4]
					  ,a.[ATTRIBUTE5]
					  ,a.[ATTRIBUTE6]
					  ,a.[ATTRIBUTE7]
					  ,a.[ATTRIBUTE8]
					  ,a.[ATTRIBUTE9]
					  ,a.[ATTRIBUTE10]
					  ,a.[ATTRIBUTE11]
					  ,a.[ATTRIBUTE12]
					  ,a.[ATTRIBUTE13]
					  ,a.[ATTRIBUTE14]
					  ,a.[ATTRIBUTE15]
					  ,a.[REQUEST_ID]
					  ,a.[PROGRAM_APPLICATION_ID]
					  ,a.[PROGRAM_ID]
					  ,a.[PROGRAM_UPDATE_DATE]
					  ,a.[VAT_REGISTRATION_NUM]
					  ,a.[AUTO_CALCULATE_INTEREST_FLAG]
					  ,a.[VALIDATION_NUMBER]
					  ,a.[EXCLUDE_FREIGHT_FROM_DISCOUNT]
					  ,a.[TAX_REPORTING_NAME]
					  ,a.[CHECK_DIGITS]
					  ,a.[ALLOW_AWT_FLAG]
					  ,a.[AWT_GROUP_ID]
					  ,a.[GLOBAL_ATTRIBUTE1]
					  ,a.[GLOBAL_ATTRIBUTE2]
					  ,a.[GLOBAL_ATTRIBUTE3]
					  ,a.[GLOBAL_ATTRIBUTE4]
					  ,a.[GLOBAL_ATTRIBUTE5]
					  ,a.[GLOBAL_ATTRIBUTE6]
					  ,a.[GLOBAL_ATTRIBUTE7]
					  ,a.[GLOBAL_ATTRIBUTE8]
					  ,a.[GLOBAL_ATTRIBUTE9]
					  ,a.[GLOBAL_ATTRIBUTE10]
					  ,a.[GLOBAL_ATTRIBUTE11]
					  ,a.[GLOBAL_ATTRIBUTE12]
					  ,a.[GLOBAL_ATTRIBUTE13]
					  ,a.[GLOBAL_ATTRIBUTE14]
					  ,a.[GLOBAL_ATTRIBUTE15]
					  ,a.[GLOBAL_ATTRIBUTE16]
					  ,a.[GLOBAL_ATTRIBUTE17]
					  ,a.[GLOBAL_ATTRIBUTE18]
					  ,a.[GLOBAL_ATTRIBUTE19]
					  ,a.[GLOBAL_ATTRIBUTE20]
					  ,a.[GLOBAL_ATTRIBUTE_CATEGORY]
					  ,a.[BANK_CHARGE_BEARER]
					  ,a.[MATCH_OPTION]
					  ,a.[CREATE_DEBIT_MEMO_FLAG]
					  ,a.[PARTY_ID]
					  ,a.[PARENT_PARTY_ID]
					  ,a.[NI_NUMBER]
					  ,a.[PARTY_NUMBER]
					  ,a.[PAY_AWT_GROUP_ID]
					  ,a.[Fingerprint]
						,$Action AS Action
			) a
			WHERE Action = 'Update'
			;

	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Done', GETDATE()
	
	DROP TABLE #VENDORS
END

GO
