USE [Operations]
GO
/****** Object:  StoredProcedure [Oracle].[Merge_QP_SECU_LIST_HEADERS_V]    Script Date: 7/10/2025 11:43:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Oracle].[Merge_QP_SECU_LIST_HEADERS_V]
AS BEGIN

	CREATE TABLE #QPListHeaders (
		[ROW_ID] [char](18) COLLATE SQL_Latin1_General_CP1_CS_AS NULL,
		[CONTEXT] [nvarchar](30) NULL,
		[ATTRIBUTE1] [nvarchar](240) NULL,
		[ATTRIBUTE2] [nvarchar](240) NULL,
		[ATTRIBUTE3] [nvarchar](240) NULL,
		[ATTRIBUTE4] [nvarchar](240) NULL,
		[ATTRIBUTE5] [nvarchar](240) NULL,
		[ATTRIBUTE6] [nvarchar](240) NULL,
		[ATTRIBUTE7] [nvarchar](240) NULL,
		[ATTRIBUTE8] [nvarchar](240) NULL,
		[ATTRIBUTE9] [nvarchar](240) NULL,
		[ATTRIBUTE10] [nvarchar](240) NULL,
		[ATTRIBUTE11] [nvarchar](240) NULL,
		[ATTRIBUTE12] [nvarchar](240) NULL,
		[ATTRIBUTE13] [nvarchar](240) NULL,
		[ATTRIBUTE14] [nvarchar](240) NULL,
		[ATTRIBUTE15] [nvarchar](240) NULL,
		[CURRENCY_CODE] [nvarchar](30) NULL,
		[SHIP_METHOD_CODE] [nvarchar](30) NULL,
		[FREIGHT_TERMS_CODE] [nvarchar](30) NULL,
		[LIST_HEADER_ID] [float] NOT NULL,
		[CREATION_DATE] [datetime2](7) NOT NULL,
		[START_DATE_ACTIVE] [datetime2](7) NULL,
		[END_DATE_ACTIVE] [datetime2](7) NULL,
		[AUTOMATIC_FLAG] [nvarchar](1) NULL,
		[LIST_TYPE_CODE] [nvarchar](30) NOT NULL,
		[TERMS_ID] [float] NULL,
		[ROUNDING_FACTOR] [float] NULL,
		[REQUEST_ID] [float] NULL,
		[CREATED_BY] [float] NOT NULL,
		[LAST_UPDATE_DATE] [datetime2](7) NOT NULL,
		[LAST_UPDATED_BY] [float] NOT NULL,
		[LAST_UPDATE_LOGIN] [float] NULL,
		[PROGRAM_APPLICATION_ID] [float] NULL,
		[PROGRAM_ID] [float] NULL,
		[PROGRAM_UPDATE_DATE] [datetime2](7) NULL,
		[DISCOUNT_LINES_FLAG] [nvarchar](1) NULL,
		[NAME] [nvarchar](240) NOT NULL,
		[DESCRIPTION] [nvarchar](2000) NULL,
		[COMMENTS] [nvarchar](2000) NULL,
		[GSA_INDICATOR] [nvarchar](1) NULL,
		[PRORATE_FLAG] [nvarchar](30) NULL,
		[SOURCE_SYSTEM_CODE] [nvarchar](30) NULL,
		[VERSION_NO] [nvarchar](30) NULL,
		[ACTIVE_FLAG] [nvarchar](1) NULL,
		[MOBILE_DOWNLOAD] [nvarchar](1) NULL,
		[CURRENCY_HEADER_ID] [float] NULL,
		[PTE_CODE] [nvarchar](30) NULL,
		[LIST_SOURCE_CODE] [nvarchar](30) NULL,
		[ORIG_SYSTEM_HEADER_REF] [nvarchar](50) NULL,
		[GLOBAL_FLAG] [nvarchar](1) NULL,
		[ORIG_ORG_ID] [float] NULL,
		[VIEW_FLAG] [nchar](1) NULL,
		[UPDATE_FLAG] [nchar](1) NULL,
		[SHAREABLE_FLAG] [nvarchar](1) NULL,
		[SOLD_TO_ORG_ID] [float] NULL,
		[LIMIT_EXISTS_FLAG] [nvarchar](1) NULL,
		[LOCKED_FROM_LIST_HEADER_ID] [float] NULL,
		[Fingerprint] [varchar](32) NOT NULL
	)


	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Oracle Download', GETDATE()

	INSERT INTO #QPListHeaders
	SELECT [ROW_ID]
		  ,[CONTEXT]
		  ,[ATTRIBUTE1]
		  ,[ATTRIBUTE2]
		  ,[ATTRIBUTE3]
		  ,[ATTRIBUTE4]
		  ,[ATTRIBUTE5]
		  ,[ATTRIBUTE6]
		  ,[ATTRIBUTE7]
		  ,[ATTRIBUTE8]
		  ,[ATTRIBUTE9]
		  ,[ATTRIBUTE10]
		  ,[ATTRIBUTE11]
		  ,[ATTRIBUTE12]
		  ,[ATTRIBUTE13]
		  ,[ATTRIBUTE14]
		  ,[ATTRIBUTE15]
		  ,[CURRENCY_CODE]
		  ,[SHIP_METHOD_CODE]
		  ,[FREIGHT_TERMS_CODE]
		  ,[LIST_HEADER_ID]
		  ,[CREATION_DATE]
		  ,[START_DATE_ACTIVE]
		  ,[END_DATE_ACTIVE]
		  ,[AUTOMATIC_FLAG]
		  ,[LIST_TYPE_CODE]
		  ,[TERMS_ID]
		  ,[ROUNDING_FACTOR]
		  ,[REQUEST_ID]
		  ,[CREATED_BY]
		  ,[LAST_UPDATE_DATE]
		  ,[LAST_UPDATED_BY]
		  ,[LAST_UPDATE_LOGIN]
		  ,[PROGRAM_APPLICATION_ID]
		  ,[PROGRAM_ID]
		  ,[PROGRAM_UPDATE_DATE]
		  ,[DISCOUNT_LINES_FLAG]
		  ,[NAME]
		  ,[DESCRIPTION]
		  ,[COMMENTS]
		  ,[GSA_INDICATOR]
		  ,[PRORATE_FLAG]
		  ,[SOURCE_SYSTEM_CODE]
		  ,[VERSION_NO]
		  ,[ACTIVE_FLAG]
		  ,[MOBILE_DOWNLOAD]
		  ,[CURRENCY_HEADER_ID]
		  ,[PTE_CODE]
		  ,[LIST_SOURCE_CODE]
		  ,[ORIG_SYSTEM_HEADER_REF]
		  ,[GLOBAL_FLAG]
		  ,[ORIG_ORG_ID]
		  ,[VIEW_FLAG]
		  ,[UPDATE_FLAG]
		  ,[SHAREABLE_FLAG]
		  ,[SOLD_TO_ORG_ID]
		  ,[LIMIT_EXISTS_FLAG]
		  ,[LOCKED_FROM_LIST_HEADER_ID]
		  ,'XXX' AS [Fingerprint]
	FROM OPENQUERY(PROD,'SELECT * FROM QP_SECU_LIST_HEADERS_V')

	/*
		DECLARE @columnList VARCHAR(MAX) = dbo.getHashField ('QP_SECU_LIST_HEADER_VS','Oracle') SELECT @columnList
	*/

	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Fingerprint', GETDATE()

	UPDATE #QPListHeaders
	SET Fingerprint = 
		SUBSTRING(LOWER(CONVERT(VARCHAR(32),HASHBYTES('MD5',
			--replace @columnList result here
				   CAST(ISNULL(ROW_ID,'') COLLATE SQL_Latin1_General_CP1_CS_AS AS VARCHAR(18)) +  CAST(ISNULL(CONTEXT,'') AS VARCHAR(30)) +  CAST(ISNULL(ATTRIBUTE1,'') AS VARCHAR(240)) +  CAST(ISNULL(ATTRIBUTE2,'') AS VARCHAR(240)) +  CAST(ISNULL(ATTRIBUTE3,'') AS VARCHAR(240)) +  CAST(ISNULL(ATTRIBUTE4,'') AS VARCHAR(240)) +  CAST(ISNULL(ATTRIBUTE5,'') AS VARCHAR(240)) +  CAST(ISNULL(ATTRIBUTE6,'') AS VARCHAR(240)) +  CAST(ISNULL(ATTRIBUTE7,'') AS VARCHAR(240)) +  CAST(ISNULL(ATTRIBUTE8,'') AS VARCHAR(240)) +  CAST(ISNULL(ATTRIBUTE9,'') AS VARCHAR(240)) +  CAST(ISNULL(ATTRIBUTE10,'') AS VARCHAR(240)) +  CAST(ISNULL(ATTRIBUTE11,'') AS VARCHAR(240)) +  CAST(ISNULL(ATTRIBUTE12,'') AS VARCHAR(240)) +  CAST(ISNULL(ATTRIBUTE13,'') AS VARCHAR(240)) +  CAST(ISNULL(ATTRIBUTE14,'') AS VARCHAR(240)) +  CAST(ISNULL(ATTRIBUTE15,'') AS VARCHAR(240)) +  CAST(ISNULL(CURRENCY_CODE,'') AS VARCHAR(30)) +  CAST(ISNULL(SHIP_METHOD_CODE,'') AS VARCHAR(30)) +  CAST(ISNULL(FREIGHT_TERMS_CODE,'') AS VARCHAR(30)) +  CAST(ISNULL(LIST_HEADER_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(CREATION_DATE,'') AS VARCHAR(100)) +  CAST(ISNULL(START_DATE_ACTIVE,'') AS VARCHAR(100)) +  CAST(ISNULL(END_DATE_ACTIVE,'') AS VARCHAR(100)) +  CAST(ISNULL(AUTOMATIC_FLAG,'') AS VARCHAR(1)) +  CAST(ISNULL(LIST_TYPE_CODE,'') AS VARCHAR(30)) +  CAST(ISNULL(TERMS_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(ROUNDING_FACTOR,'0') AS VARCHAR(100)) +  CAST(ISNULL(REQUEST_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(CREATED_BY,'0') AS VARCHAR(100)) +  CAST(ISNULL(LAST_UPDATE_DATE,'') AS VARCHAR(100)) +  CAST(ISNULL(LAST_UPDATED_BY,'0') AS VARCHAR(100)) +  CAST(ISNULL(LAST_UPDATE_LOGIN,'0') AS VARCHAR(100)) +  CAST(ISNULL(PROGRAM_APPLICATION_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(PROGRAM_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(PROGRAM_UPDATE_DATE,'') AS VARCHAR(100)) +  CAST(ISNULL(DISCOUNT_LINES_FLAG,'') AS VARCHAR(1)) +  CAST(ISNULL(NAME,'') AS VARCHAR(240)) +  CAST(ISNULL(DESCRIPTION,'') AS VARCHAR(2000)) +  CAST(ISNULL(COMMENTS,'') AS VARCHAR(2000)) +  CAST(ISNULL(GSA_INDICATOR,'') AS VARCHAR(1)) +  CAST(ISNULL(PRORATE_FLAG,'') AS VARCHAR(30)) +  CAST(ISNULL(SOURCE_SYSTEM_CODE,'') AS VARCHAR(30)) +  CAST(ISNULL(VERSION_NO,'') AS VARCHAR(30)) +  CAST(ISNULL(ACTIVE_FLAG,'') AS VARCHAR(1)) +  CAST(ISNULL(MOBILE_DOWNLOAD,'') AS VARCHAR(1)) +  CAST(ISNULL(CURRENCY_HEADER_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(PTE_CODE,'') AS VARCHAR(30)) +  CAST(ISNULL(LIST_SOURCE_CODE,'') AS VARCHAR(30)) +  CAST(ISNULL(ORIG_SYSTEM_HEADER_REF,'') AS VARCHAR(50)) +  CAST(ISNULL(GLOBAL_FLAG,'') AS VARCHAR(1)) +  CAST(ISNULL(ORIG_ORG_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(VIEW_FLAG,'') AS VARCHAR(100)) +  CAST(ISNULL(UPDATE_FLAG,'') AS VARCHAR(100)) +  CAST(ISNULL(SHAREABLE_FLAG,'') AS VARCHAR(1)) +  CAST(ISNULL(SOLD_TO_ORG_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(LIMIT_EXISTS_FLAG,'') AS VARCHAR(1)) +  CAST(ISNULL(LOCKED_FROM_LIST_HEADER_ID,'0') AS VARCHAR(100)) 
		),1)),3,32);

	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Merge', GETDATE()

	INSERT INTO Oracle.QP_SECU_LIST_HEADERS_V (
			  [ROW_ID]
			  ,[CONTEXT]
			  ,[ATTRIBUTE1]
			  ,[ATTRIBUTE2]
			  ,[ATTRIBUTE3]
			  ,[ATTRIBUTE4]
			  ,[ATTRIBUTE5]
			  ,[ATTRIBUTE6]
			  ,[ATTRIBUTE7]
			  ,[ATTRIBUTE8]
			  ,[ATTRIBUTE9]
			  ,[ATTRIBUTE10]
			  ,[ATTRIBUTE11]
			  ,[ATTRIBUTE12]
			  ,[ATTRIBUTE13]
			  ,[ATTRIBUTE14]
			  ,[ATTRIBUTE15]
			  ,[CURRENCY_CODE]
			  ,[SHIP_METHOD_CODE]
			  ,[FREIGHT_TERMS_CODE]
			  ,[LIST_HEADER_ID]
			  ,[CREATION_DATE]
			  ,[START_DATE_ACTIVE]
			  ,[END_DATE_ACTIVE]
			  ,[AUTOMATIC_FLAG]
			  ,[LIST_TYPE_CODE]
			  ,[TERMS_ID]
			  ,[ROUNDING_FACTOR]
			  ,[REQUEST_ID]
			  ,[CREATED_BY]
			  ,[LAST_UPDATE_DATE]
			  ,[LAST_UPDATED_BY]
			  ,[LAST_UPDATE_LOGIN]
			  ,[PROGRAM_APPLICATION_ID]
			  ,[PROGRAM_ID]
			  ,[PROGRAM_UPDATE_DATE]
			  ,[DISCOUNT_LINES_FLAG]
			  ,[NAME]
			  ,[DESCRIPTION]
			  ,[COMMENTS]
			  ,[GSA_INDICATOR]
			  ,[PRORATE_FLAG]
			  ,[SOURCE_SYSTEM_CODE]
			  ,[VERSION_NO]
			  ,[ACTIVE_FLAG]
			  ,[MOBILE_DOWNLOAD]
			  ,[CURRENCY_HEADER_ID]
			  ,[PTE_CODE]
			  ,[LIST_SOURCE_CODE]
			  ,[ORIG_SYSTEM_HEADER_REF]
			  ,[GLOBAL_FLAG]
			  ,[ORIG_ORG_ID]
			  ,[VIEW_FLAG]
			  ,[UPDATE_FLAG]
			  ,[SHAREABLE_FLAG]
			  ,[SOLD_TO_ORG_ID]
			  ,[LIMIT_EXISTS_FLAG]
			  ,[LOCKED_FROM_LIST_HEADER_ID]
			  ,[Fingerprint]
		)
			SELECT 
			  a.[ROW_ID]
			  ,a.[CONTEXT]
			  ,a.[ATTRIBUTE1]
			  ,a.[ATTRIBUTE2]
			  ,a.[ATTRIBUTE3]
			  ,a.[ATTRIBUTE4]
			  ,a.[ATTRIBUTE5]
			  ,a.[ATTRIBUTE6]
			  ,a.[ATTRIBUTE7]
			  ,a.[ATTRIBUTE8]
			  ,a.[ATTRIBUTE9]
			  ,a.[ATTRIBUTE10]
			  ,a.[ATTRIBUTE11]
			  ,a.[ATTRIBUTE12]
			  ,a.[ATTRIBUTE13]
			  ,a.[ATTRIBUTE14]
			  ,a.[ATTRIBUTE15]
			  ,a.[CURRENCY_CODE]
			  ,a.[SHIP_METHOD_CODE]
			  ,a.[FREIGHT_TERMS_CODE]
			  ,a.[LIST_HEADER_ID]
			  ,a.[CREATION_DATE]
			  ,a.[START_DATE_ACTIVE]
			  ,a.[END_DATE_ACTIVE]
			  ,a.[AUTOMATIC_FLAG]
			  ,a.[LIST_TYPE_CODE]
			  ,a.[TERMS_ID]
			  ,a.[ROUNDING_FACTOR]
			  ,a.[REQUEST_ID]
			  ,a.[CREATED_BY]
			  ,a.[LAST_UPDATE_DATE]
			  ,a.[LAST_UPDATED_BY]
			  ,a.[LAST_UPDATE_LOGIN]
			  ,a.[PROGRAM_APPLICATION_ID]
			  ,a.[PROGRAM_ID]
			  ,a.[PROGRAM_UPDATE_DATE]
			  ,a.[DISCOUNT_LINES_FLAG]
			  ,a.[NAME]
			  ,a.[DESCRIPTION]
			  ,a.[COMMENTS]
			  ,a.[GSA_INDICATOR]
			  ,a.[PRORATE_FLAG]
			  ,a.[SOURCE_SYSTEM_CODE]
			  ,a.[VERSION_NO]
			  ,a.[ACTIVE_FLAG]
			  ,a.[MOBILE_DOWNLOAD]
			  ,a.[CURRENCY_HEADER_ID]
			  ,a.[PTE_CODE]
			  ,a.[LIST_SOURCE_CODE]
			  ,a.[ORIG_SYSTEM_HEADER_REF]
			  ,a.[GLOBAL_FLAG]
			  ,a.[ORIG_ORG_ID]
			  ,a.[VIEW_FLAG]
			  ,a.[UPDATE_FLAG]
			  ,a.[SHAREABLE_FLAG]
			  ,a.[SOLD_TO_ORG_ID]
			  ,a.[LIMIT_EXISTS_FLAG]
			  ,a.[LOCKED_FROM_LIST_HEADER_ID]
			  ,a.[Fingerprint]
			FROM (
				MERGE Oracle.QP_SECU_LIST_HEADERS_V b
				USING (SELECT * FROM #QPListHeaders) a
				ON a.Row_ID = b.Row_ID AND a.List_Header_ID = b.List_Header_ID AND b.CurrentRecord = 1 --swap with business key of table
				WHEN NOT MATCHED --BY TARGET 
				THEN INSERT (
					   [ROW_ID]
					  ,[CONTEXT]
					  ,[ATTRIBUTE1]
					  ,[ATTRIBUTE2]
					  ,[ATTRIBUTE3]
					  ,[ATTRIBUTE4]
					  ,[ATTRIBUTE5]
					  ,[ATTRIBUTE6]
					  ,[ATTRIBUTE7]
					  ,[ATTRIBUTE8]
					  ,[ATTRIBUTE9]
					  ,[ATTRIBUTE10]
					  ,[ATTRIBUTE11]
					  ,[ATTRIBUTE12]
					  ,[ATTRIBUTE13]
					  ,[ATTRIBUTE14]
					  ,[ATTRIBUTE15]
					  ,[CURRENCY_CODE]
					  ,[SHIP_METHOD_CODE]
					  ,[FREIGHT_TERMS_CODE]
					  ,[LIST_HEADER_ID]
					  ,[CREATION_DATE]
					  ,[START_DATE_ACTIVE]
					  ,[END_DATE_ACTIVE]
					  ,[AUTOMATIC_FLAG]
					  ,[LIST_TYPE_CODE]
					  ,[TERMS_ID]
					  ,[ROUNDING_FACTOR]
					  ,[REQUEST_ID]
					  ,[CREATED_BY]
					  ,[LAST_UPDATE_DATE]
					  ,[LAST_UPDATED_BY]
					  ,[LAST_UPDATE_LOGIN]
					  ,[PROGRAM_APPLICATION_ID]
					  ,[PROGRAM_ID]
					  ,[PROGRAM_UPDATE_DATE]
					  ,[DISCOUNT_LINES_FLAG]
					  ,[NAME]
					  ,[DESCRIPTION]
					  ,[COMMENTS]
					  ,[GSA_INDICATOR]
					  ,[PRORATE_FLAG]
					  ,[SOURCE_SYSTEM_CODE]
					  ,[VERSION_NO]
					  ,[ACTIVE_FLAG]
					  ,[MOBILE_DOWNLOAD]
					  ,[CURRENCY_HEADER_ID]
					  ,[PTE_CODE]
					  ,[LIST_SOURCE_CODE]
					  ,[ORIG_SYSTEM_HEADER_REF]
					  ,[GLOBAL_FLAG]
					  ,[ORIG_ORG_ID]
					  ,[VIEW_FLAG]
					  ,[UPDATE_FLAG]
					  ,[SHAREABLE_FLAG]
					  ,[SOLD_TO_ORG_ID]
					  ,[LIMIT_EXISTS_FLAG]
					  ,[LOCKED_FROM_LIST_HEADER_ID]
					  ,[Fingerprint]
				)
				VALUES (
					   a.[ROW_ID]
					  ,a.[CONTEXT]
					  ,a.[ATTRIBUTE1]
					  ,a.[ATTRIBUTE2]
					  ,a.[ATTRIBUTE3]
					  ,a.[ATTRIBUTE4]
					  ,a.[ATTRIBUTE5]
					  ,a.[ATTRIBUTE6]
					  ,a.[ATTRIBUTE7]
					  ,a.[ATTRIBUTE8]
					  ,a.[ATTRIBUTE9]
					  ,a.[ATTRIBUTE10]
					  ,a.[ATTRIBUTE11]
					  ,a.[ATTRIBUTE12]
					  ,a.[ATTRIBUTE13]
					  ,a.[ATTRIBUTE14]
					  ,a.[ATTRIBUTE15]
					  ,a.[CURRENCY_CODE]
					  ,a.[SHIP_METHOD_CODE]
					  ,a.[FREIGHT_TERMS_CODE]
					  ,a.[LIST_HEADER_ID]
					  ,a.[CREATION_DATE]
					  ,a.[START_DATE_ACTIVE]
					  ,a.[END_DATE_ACTIVE]
					  ,a.[AUTOMATIC_FLAG]
					  ,a.[LIST_TYPE_CODE]
					  ,a.[TERMS_ID]
					  ,a.[ROUNDING_FACTOR]
					  ,a.[REQUEST_ID]
					  ,a.[CREATED_BY]
					  ,a.[LAST_UPDATE_DATE]
					  ,a.[LAST_UPDATED_BY]
					  ,a.[LAST_UPDATE_LOGIN]
					  ,a.[PROGRAM_APPLICATION_ID]
					  ,a.[PROGRAM_ID]
					  ,a.[PROGRAM_UPDATE_DATE]
					  ,a.[DISCOUNT_LINES_FLAG]
					  ,a.[NAME]
					  ,a.[DESCRIPTION]
					  ,a.[COMMENTS]
					  ,a.[GSA_INDICATOR]
					  ,a.[PRORATE_FLAG]
					  ,a.[SOURCE_SYSTEM_CODE]
					  ,a.[VERSION_NO]
					  ,a.[ACTIVE_FLAG]
					  ,a.[MOBILE_DOWNLOAD]
					  ,a.[CURRENCY_HEADER_ID]
					  ,a.[PTE_CODE]
					  ,a.[LIST_SOURCE_CODE]
					  ,a.[ORIG_SYSTEM_HEADER_REF]
					  ,a.[GLOBAL_FLAG]
					  ,a.[ORIG_ORG_ID]
					  ,a.[VIEW_FLAG]
					  ,a.[UPDATE_FLAG]
					  ,a.[SHAREABLE_FLAG]
					  ,a.[SOLD_TO_ORG_ID]
					  ,a.[LIMIT_EXISTS_FLAG]
					  ,a.[LOCKED_FROM_LIST_HEADER_ID]
					  ,a.[Fingerprint]
				)
				--Existing records that have changed are expired
				WHEN MATCHED AND a.Fingerprint<>b.Fingerprint
				THEN UPDATE SET b.EndDate=GETDATE()
					,b.CurrentRecord=0
				OUTPUT 
					   a.[ROW_ID]
					  ,a.[CONTEXT]
					  ,a.[ATTRIBUTE1]
					  ,a.[ATTRIBUTE2]
					  ,a.[ATTRIBUTE3]
					  ,a.[ATTRIBUTE4]
					  ,a.[ATTRIBUTE5]
					  ,a.[ATTRIBUTE6]
					  ,a.[ATTRIBUTE7]
					  ,a.[ATTRIBUTE8]
					  ,a.[ATTRIBUTE9]
					  ,a.[ATTRIBUTE10]
					  ,a.[ATTRIBUTE11]
					  ,a.[ATTRIBUTE12]
					  ,a.[ATTRIBUTE13]
					  ,a.[ATTRIBUTE14]
					  ,a.[ATTRIBUTE15]
					  ,a.[CURRENCY_CODE]
					  ,a.[SHIP_METHOD_CODE]
					  ,a.[FREIGHT_TERMS_CODE]
					  ,a.[LIST_HEADER_ID]
					  ,a.[CREATION_DATE]
					  ,a.[START_DATE_ACTIVE]
					  ,a.[END_DATE_ACTIVE]
					  ,a.[AUTOMATIC_FLAG]
					  ,a.[LIST_TYPE_CODE]
					  ,a.[TERMS_ID]
					  ,a.[ROUNDING_FACTOR]
					  ,a.[REQUEST_ID]
					  ,a.[CREATED_BY]
					  ,a.[LAST_UPDATE_DATE]
					  ,a.[LAST_UPDATED_BY]
					  ,a.[LAST_UPDATE_LOGIN]
					  ,a.[PROGRAM_APPLICATION_ID]
					  ,a.[PROGRAM_ID]
					  ,a.[PROGRAM_UPDATE_DATE]
					  ,a.[DISCOUNT_LINES_FLAG]
					  ,a.[NAME]
					  ,a.[DESCRIPTION]
					  ,a.[COMMENTS]
					  ,a.[GSA_INDICATOR]
					  ,a.[PRORATE_FLAG]
					  ,a.[SOURCE_SYSTEM_CODE]
					  ,a.[VERSION_NO]
					  ,a.[ACTIVE_FLAG]
					  ,a.[MOBILE_DOWNLOAD]
					  ,a.[CURRENCY_HEADER_ID]
					  ,a.[PTE_CODE]
					  ,a.[LIST_SOURCE_CODE]
					  ,a.[ORIG_SYSTEM_HEADER_REF]
					  ,a.[GLOBAL_FLAG]
					  ,a.[ORIG_ORG_ID]
					  ,a.[VIEW_FLAG]
					  ,a.[UPDATE_FLAG]
					  ,a.[SHAREABLE_FLAG]
					  ,a.[SOLD_TO_ORG_ID]
					  ,a.[LIMIT_EXISTS_FLAG]
					  ,a.[LOCKED_FROM_LIST_HEADER_ID]
					  ,a.[Fingerprint]
					  ,$Action AS Action
			) a
			WHERE Action = 'Update'
			;

	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Done', GETDATE()
	
	DROP TABLE #QPListHeaders
END
GO
