USE [Operations]
GO
/****** Object:  StoredProcedure [Oracle].[Merge_GLDailyRates]    Script Date: 7/10/2025 11:43:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Oracle].[Merge_GLDailyRates] AS BEGIN
	BEGIN TRY
		BEGIN TRAN

			DELETE FROM Oracle.GL_DAILY_RATES WHERE conversion_date >= DATEADD(DAY,-7,GETDATE())

			INSERT INTO Oracle.GL_DAILY_RATES
			SELECT * 
			FROM OPENQUERY(PROD,
			'select FROM_CURRENCY, TO_CURRENCY, CONVERSION_DATE, CONVERSION_RATE, INVERSE_CONVERSION_RATE
			from GL_DAILY_RATES_V gdrv
			where 1=1
				and gdrv.FROM_CURRENCY = ''CAD''
				and trunc(gdrv.CONVERSION_DATE) >= sysdate - 7
			'
			)

		COMMIT TRAN
	END TRY

	BEGIN CATCH
		THROW
		ROLLBACK TRAN
	END CATCH
END

GO
