USE [Operations]
GO
/****** Object:  StoredProcedure [Oracle].[Merge_BOM_RESOURCES]    Script Date: 7/10/2025 11:43:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Oracle].[Merge_BOM_RESOURCES]
AS BEGIN

		CREATE TABLE #resources (
			[RESOURCE_ID] [float] NOT NULL,
			[RESOURCE_CODE] [nvarchar](10) NOT NULL,
			[ORGANIZATION_ID] [float] NOT NULL,
			[LAST_UPDATE_DATE] [datetime2](7) NOT NULL,
			[LAST_UPDATED_BY] [float] NOT NULL,
			[CREATION_DATE] [datetime2](7) NOT NULL,
			[CREATED_BY] [float] NOT NULL,
			[LAST_UPDATE_LOGIN] [float] NULL,
			[DESCRIPTION] [nvarchar](240) NULL,
			[DISABLE_DATE] [datetime2](7) NULL,
			[COST_ELEMENT_ID] [float] NOT NULL,
			[PURCHASE_ITEM_ID] [float] NULL,
			[COST_CODE_TYPE] [float] NOT NULL,
			[FUNCTIONAL_CURRENCY_FLAG] [float] NOT NULL,
			[UNIT_OF_MEASURE] [nvarchar](3) NULL,
			[DEFAULT_ACTIVITY_ID] [float] NULL,
			[RESOURCE_TYPE] [float] NULL,
			[AUTOCHARGE_TYPE] [float] NULL,
			[STANDARD_RATE_FLAG] [float] NULL,
			[DEFAULT_BASIS_TYPE] [float] NULL,
			[ABSORPTION_ACCOUNT] [float] NULL,
			[ALLOW_COSTS_FLAG] [float] NOT NULL,
			[RATE_VARIANCE_ACCOUNT] [float] NULL,
			[EXPENDITURE_TYPE] [nvarchar](30) NULL,
			[ATTRIBUTE_CATEGORY] [nvarchar](30) NULL,
			[ATTRIBUTE1] [nvarchar](150) NULL,
			[ATTRIBUTE2] [nvarchar](150) NULL,
			[ATTRIBUTE3] [nvarchar](150) NULL,
			[ATTRIBUTE4] [nvarchar](150) NULL,
			[ATTRIBUTE5] [nvarchar](150) NULL,
			[ATTRIBUTE6] [nvarchar](150) NULL,
			[ATTRIBUTE7] [nvarchar](150) NULL,
			[ATTRIBUTE8] [nvarchar](150) NULL,
			[ATTRIBUTE9] [nvarchar](150) NULL,
			[ATTRIBUTE10] [nvarchar](150) NULL,
			[ATTRIBUTE11] [nvarchar](150) NULL,
			[ATTRIBUTE12] [nvarchar](150) NULL,
			[ATTRIBUTE13] [nvarchar](150) NULL,
			[ATTRIBUTE14] [nvarchar](150) NULL,
			[ATTRIBUTE15] [nvarchar](150) NULL,
			[REQUEST_ID] [float] NULL,
			[PROGRAM_APPLICATION_ID] [float] NULL,
			[PROGRAM_ID] [float] NULL,
			[PROGRAM_UPDATE_DATE] [datetime2](7) NULL,
			[BATCHABLE] [float] NULL,
			[MAX_BATCH_CAPACITY] [float] NULL,
			[MIN_BATCH_CAPACITY] [float] NULL,
			[BATCH_CAPACITY_UOM] [nvarchar](3) NULL,
			[BATCH_WINDOW] [float] NULL,
			[BATCH_WINDOW_UOM] [nvarchar](3) NULL,
			[COMPETENCE_ID] [numeric](15, 0) NULL,
			[RATING_LEVEL_ID] [numeric](15, 0) NULL,
			[QUALIFICATION_TYPE_ID] [numeric](9, 0) NULL,
			[BILLABLE_ITEM_ID] [float] NULL,
			[SUPPLY_SUBINVENTORY] [nvarchar](10) NULL,
			[SUPPLY_LOCATOR_ID] [float] NULL,
			[BATCHING_PENALTY] [float] NULL,
			[FINGERPRINT] [varchar](32) NOT NULL
		) 

		INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Oracle Download', GETDATE()
	
		INSERT INTO #resources (
			   [RESOURCE_ID]
			  ,[RESOURCE_CODE]
			  ,[ORGANIZATION_ID]
			  ,[LAST_UPDATE_DATE]
			  ,[LAST_UPDATED_BY]
			  ,[CREATION_DATE]
			  ,[CREATED_BY]
			  ,[LAST_UPDATE_LOGIN]
			  ,[DESCRIPTION]
			  ,[DISABLE_DATE]
			  ,[COST_ELEMENT_ID]
			  ,[PURCHASE_ITEM_ID]
			  ,[COST_CODE_TYPE]
			  ,[FUNCTIONAL_CURRENCY_FLAG]
			  ,[UNIT_OF_MEASURE]
			  ,[DEFAULT_ACTIVITY_ID]
			  ,[RESOURCE_TYPE]
			  ,[AUTOCHARGE_TYPE]
			  ,[STANDARD_RATE_FLAG]
			  ,[DEFAULT_BASIS_TYPE]
			  ,[ABSORPTION_ACCOUNT]
			  ,[ALLOW_COSTS_FLAG]
			  ,[RATE_VARIANCE_ACCOUNT]
			  ,[EXPENDITURE_TYPE]
			  ,[ATTRIBUTE_CATEGORY]
			  ,[ATTRIBUTE1]
			  ,[ATTRIBUTE2]
			  ,[ATTRIBUTE3]
			  ,[ATTRIBUTE4]
			  ,[ATTRIBUTE5]
			  ,[ATTRIBUTE6]
			  ,[ATTRIBUTE7]
			  ,[ATTRIBUTE8]
			  ,[ATTRIBUTE9]
			  ,[ATTRIBUTE10]
			  ,[ATTRIBUTE11]
			  ,[ATTRIBUTE12]
			  ,[ATTRIBUTE13]
			  ,[ATTRIBUTE14]
			  ,[ATTRIBUTE15]
			  ,[REQUEST_ID]
			  ,[PROGRAM_APPLICATION_ID]
			  ,[PROGRAM_ID]
			  ,[PROGRAM_UPDATE_DATE]
			  ,[BATCHABLE]
			  ,[MAX_BATCH_CAPACITY]
			  ,[MIN_BATCH_CAPACITY]
			  ,[BATCH_CAPACITY_UOM]
			  ,[BATCH_WINDOW]
			  ,[BATCH_WINDOW_UOM]
			  ,[COMPETENCE_ID]
			  ,[RATING_LEVEL_ID]
			  ,[QUALIFICATION_TYPE_ID]
			  ,[BILLABLE_ITEM_ID]
			  ,[SUPPLY_SUBINVENTORY]
			  ,[SUPPLY_LOCATOR_ID]
			  ,[BATCHING_PENALTY]
			  ,[FINGERPRINT]
		)
		SELECT [RESOURCE_ID]
			  ,[RESOURCE_CODE]
			  ,[ORGANIZATION_ID]
			  ,[LAST_UPDATE_DATE]
			  ,[LAST_UPDATED_BY]
			  ,[CREATION_DATE]
			  ,[CREATED_BY]
			  ,[LAST_UPDATE_LOGIN]
			  ,[DESCRIPTION]
			  ,[DISABLE_DATE]
			  ,[COST_ELEMENT_ID]
			  ,[PURCHASE_ITEM_ID]
			  ,[COST_CODE_TYPE]
			  ,[FUNCTIONAL_CURRENCY_FLAG]
			  ,[UNIT_OF_MEASURE]
			  ,[DEFAULT_ACTIVITY_ID]
			  ,[RESOURCE_TYPE]
			  ,[AUTOCHARGE_TYPE]
			  ,[STANDARD_RATE_FLAG]
			  ,[DEFAULT_BASIS_TYPE]
			  ,[ABSORPTION_ACCOUNT]
			  ,[ALLOW_COSTS_FLAG]
			  ,[RATE_VARIANCE_ACCOUNT]
			  ,[EXPENDITURE_TYPE]
			  ,[ATTRIBUTE_CATEGORY]
			  ,[ATTRIBUTE1]
			  ,[ATTRIBUTE2]
			  ,[ATTRIBUTE3]
			  ,[ATTRIBUTE4]
			  ,[ATTRIBUTE5]
			  ,[ATTRIBUTE6]
			  ,[ATTRIBUTE7]
			  ,[ATTRIBUTE8]
			  ,[ATTRIBUTE9]
			  ,[ATTRIBUTE10]
			  ,[ATTRIBUTE11]
			  ,[ATTRIBUTE12]
			  ,[ATTRIBUTE13]
			  ,[ATTRIBUTE14]
			  ,[ATTRIBUTE15]
			  ,[REQUEST_ID]
			  ,[PROGRAM_APPLICATION_ID]
			  ,[PROGRAM_ID]
			  ,[PROGRAM_UPDATE_DATE]
			  ,[BATCHABLE]
			  ,[MAX_BATCH_CAPACITY]
			  ,[MIN_BATCH_CAPACITY]
			  ,[BATCH_CAPACITY_UOM]
			  ,[BATCH_WINDOW]
			  ,[BATCH_WINDOW_UOM]
			  ,[COMPETENCE_ID]
			  ,[RATING_LEVEL_ID]
			  ,[QUALIFICATION_TYPE_ID]
			  ,[BILLABLE_ITEM_ID]
			  ,[SUPPLY_SUBINVENTORY]
			  ,[SUPPLY_LOCATOR_ID]
			  ,[BATCHING_PENALTY]
			  ,'XXX' AS FINGERPRINT
		FROM OPENQUERY(PROD,
			'SELECT * FROM BOM.BOM_RESOURCES 
			 WHERE CREATION_DATE >= SYSDATE - 5
				OR LAST_UPDATE_DATE >= SYSDATE - 5
			'
		)
		
		INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Fingerprint', GETDATE()

		/*
			DECLARE @columnList VARCHAR(MAX) = dbo.getHashField ('BOM_RESOURCES','Oracle') SELECT @columnList
		*/
		UPDATE #resources
		SET Fingerprint = 
			SUBSTRING(LOWER(CONVERT(VARCHAR(32),HASHBYTES('MD5',
				--replace @columnList result here
					  CAST(ISNULL(RESOURCE_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(RESOURCE_CODE,'') AS VARCHAR(10)) +  CAST(ISNULL(ORGANIZATION_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(LAST_UPDATE_DATE,'') AS VARCHAR(100)) +  CAST(ISNULL(LAST_UPDATED_BY,'0') AS VARCHAR(100)) +  CAST(ISNULL(CREATION_DATE,'') AS VARCHAR(100)) +  CAST(ISNULL(CREATED_BY,'0') AS VARCHAR(100)) +  CAST(ISNULL(LAST_UPDATE_LOGIN,'0') AS VARCHAR(100)) +  CAST(ISNULL(DESCRIPTION,'') AS VARCHAR(240)) +  CAST(ISNULL(DISABLE_DATE,'') AS VARCHAR(100)) +  CAST(ISNULL(COST_ELEMENT_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(PURCHASE_ITEM_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(COST_CODE_TYPE,'0') AS VARCHAR(100)) +  CAST(ISNULL(FUNCTIONAL_CURRENCY_FLAG,'0') AS VARCHAR(100)) +  CAST(ISNULL(UNIT_OF_MEASURE,'') AS VARCHAR(3)) +  CAST(ISNULL(DEFAULT_ACTIVITY_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(RESOURCE_TYPE,'0') AS VARCHAR(100)) +  CAST(ISNULL(AUTOCHARGE_TYPE,'0') AS VARCHAR(100)) +  CAST(ISNULL(STANDARD_RATE_FLAG,'0') AS VARCHAR(100)) +  CAST(ISNULL(DEFAULT_BASIS_TYPE,'0') AS VARCHAR(100)) +  CAST(ISNULL(ABSORPTION_ACCOUNT,'0') AS VARCHAR(100)) +  CAST(ISNULL(ALLOW_COSTS_FLAG,'0') AS VARCHAR(100)) +  CAST(ISNULL(RATE_VARIANCE_ACCOUNT,'0') AS VARCHAR(100)) +  CAST(ISNULL(EXPENDITURE_TYPE,'') AS VARCHAR(30)) +  CAST(ISNULL(ATTRIBUTE_CATEGORY,'') AS VARCHAR(30)) +  CAST(ISNULL(ATTRIBUTE1,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE2,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE3,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE4,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE5,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE6,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE7,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE8,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE9,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE10,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE11,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE12,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE13,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE14,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE15,'') AS VARCHAR(150)) +  CAST(ISNULL(REQUEST_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(PROGRAM_APPLICATION_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(PROGRAM_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(PROGRAM_UPDATE_DATE,'') AS VARCHAR(100)) +  CAST(ISNULL(BATCHABLE,'0') AS VARCHAR(100)) +  CAST(ISNULL(MAX_BATCH_CAPACITY,'0') AS VARCHAR(100)) +  CAST(ISNULL(MIN_BATCH_CAPACITY,'0') AS VARCHAR(100)) +  CAST(ISNULL(BATCH_CAPACITY_UOM,'') AS VARCHAR(3)) +  CAST(ISNULL(BATCH_WINDOW,'0') AS VARCHAR(100)) +  CAST(ISNULL(BATCH_WINDOW_UOM,'') AS VARCHAR(3)) +  CAST(ISNULL(COMPETENCE_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(RATING_LEVEL_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(QUALIFICATION_TYPE_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(BILLABLE_ITEM_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(SUPPLY_SUBINVENTORY,'') AS VARCHAR(10)) +  CAST(ISNULL(SUPPLY_LOCATOR_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(BATCHING_PENALTY,'0') AS VARCHAR(100)) 
			),1)),3,32);


		INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Merge', GETDATE()
	
		INSERT INTO Oracle.BOM_RESOURCES (
				  [RESOURCE_ID]
			  ,[RESOURCE_CODE]
			  ,[ORGANIZATION_ID]
			  ,[LAST_UPDATE_DATE]
			  ,[LAST_UPDATED_BY]
			  ,[CREATION_DATE]
			  ,[CREATED_BY]
			  ,[LAST_UPDATE_LOGIN]
			  ,[DESCRIPTION]
			  ,[DISABLE_DATE]
			  ,[COST_ELEMENT_ID]
			  ,[PURCHASE_ITEM_ID]
			  ,[COST_CODE_TYPE]
			  ,[FUNCTIONAL_CURRENCY_FLAG]
			  ,[UNIT_OF_MEASURE]
			  ,[DEFAULT_ACTIVITY_ID]
			  ,[RESOURCE_TYPE]
			  ,[AUTOCHARGE_TYPE]
			  ,[STANDARD_RATE_FLAG]
			  ,[DEFAULT_BASIS_TYPE]
			  ,[ABSORPTION_ACCOUNT]
			  ,[ALLOW_COSTS_FLAG]
			  ,[RATE_VARIANCE_ACCOUNT]
			  ,[EXPENDITURE_TYPE]
			  ,[ATTRIBUTE_CATEGORY]
			  ,[ATTRIBUTE1]
			  ,[ATTRIBUTE2]
			  ,[ATTRIBUTE3]
			  ,[ATTRIBUTE4]
			  ,[ATTRIBUTE5]
			  ,[ATTRIBUTE6]
			  ,[ATTRIBUTE7]
			  ,[ATTRIBUTE8]
			  ,[ATTRIBUTE9]
			  ,[ATTRIBUTE10]
			  ,[ATTRIBUTE11]
			  ,[ATTRIBUTE12]
			  ,[ATTRIBUTE13]
			  ,[ATTRIBUTE14]
			  ,[ATTRIBUTE15]
			  ,[REQUEST_ID]
			  ,[PROGRAM_APPLICATION_ID]
			  ,[PROGRAM_ID]
			  ,[PROGRAM_UPDATE_DATE]
			  ,[BATCHABLE]
			  ,[MAX_BATCH_CAPACITY]
			  ,[MIN_BATCH_CAPACITY]
			  ,[BATCH_CAPACITY_UOM]
			  ,[BATCH_WINDOW]
			  ,[BATCH_WINDOW_UOM]
			  ,[COMPETENCE_ID]
			  ,[RATING_LEVEL_ID]
			  ,[QUALIFICATION_TYPE_ID]
			  ,[BILLABLE_ITEM_ID]
			  ,[SUPPLY_SUBINVENTORY]
			  ,[SUPPLY_LOCATOR_ID]
			  ,[BATCHING_PENALTY]
			  ,[FINGERPRINT]
		)
			SELECT 
				   a.[RESOURCE_ID]
				  ,a.[RESOURCE_CODE]
				  ,a.[ORGANIZATION_ID]
				  ,a.[LAST_UPDATE_DATE]
				  ,a.[LAST_UPDATED_BY]
				  ,a.[CREATION_DATE]
				  ,a.[CREATED_BY]
				  ,a.[LAST_UPDATE_LOGIN]
				  ,a.[DESCRIPTION]
				  ,a.[DISABLE_DATE]
				  ,a.[COST_ELEMENT_ID]
				  ,a.[PURCHASE_ITEM_ID]
				  ,a.[COST_CODE_TYPE]
				  ,a.[FUNCTIONAL_CURRENCY_FLAG]
				  ,a.[UNIT_OF_MEASURE]
				  ,a.[DEFAULT_ACTIVITY_ID]
				  ,a.[RESOURCE_TYPE]
				  ,a.[AUTOCHARGE_TYPE]
				  ,a.[STANDARD_RATE_FLAG]
				  ,a.[DEFAULT_BASIS_TYPE]
				  ,a.[ABSORPTION_ACCOUNT]
				  ,a.[ALLOW_COSTS_FLAG]
				  ,a.[RATE_VARIANCE_ACCOUNT]
				  ,a.[EXPENDITURE_TYPE]
				  ,a.[ATTRIBUTE_CATEGORY]
				  ,a.[ATTRIBUTE1]
				  ,a.[ATTRIBUTE2]
				  ,a.[ATTRIBUTE3]
				  ,a.[ATTRIBUTE4]
				  ,a.[ATTRIBUTE5]
				  ,a.[ATTRIBUTE6]
				  ,a.[ATTRIBUTE7]
				  ,a.[ATTRIBUTE8]
				  ,a.[ATTRIBUTE9]
				  ,a.[ATTRIBUTE10]
				  ,a.[ATTRIBUTE11]
				  ,a.[ATTRIBUTE12]
				  ,a.[ATTRIBUTE13]
				  ,a.[ATTRIBUTE14]
				  ,a.[ATTRIBUTE15]
				  ,a.[REQUEST_ID]
				  ,a.[PROGRAM_APPLICATION_ID]
				  ,a.[PROGRAM_ID]
				  ,a.[PROGRAM_UPDATE_DATE]
				  ,a.[BATCHABLE]
				  ,a.[MAX_BATCH_CAPACITY]
				  ,a.[MIN_BATCH_CAPACITY]
				  ,a.[BATCH_CAPACITY_UOM]
				  ,a.[BATCH_WINDOW]
				  ,a.[BATCH_WINDOW_UOM]
				  ,a.[COMPETENCE_ID]
				  ,a.[RATING_LEVEL_ID]
				  ,a.[QUALIFICATION_TYPE_ID]
				  ,a.[BILLABLE_ITEM_ID]
				  ,a.[SUPPLY_SUBINVENTORY]
				  ,a.[SUPPLY_LOCATOR_ID]
				  ,a.[BATCHING_PENALTY]
				  ,a.[FINGERPRINT]
			FROM (
				MERGE Oracle.BOM_RESOURCES b
				USING (SELECT * FROM #resources) a
				ON a.RESOURCE_ID = b.RESOURCE_ID AND b.CurrentRecord = 1 --swap with business key of table
				WHEN NOT MATCHED --BY TARGET 
				THEN INSERT (
					  [RESOURCE_ID]
					  ,[RESOURCE_CODE]
					  ,[ORGANIZATION_ID]
					  ,[LAST_UPDATE_DATE]
					  ,[LAST_UPDATED_BY]
					  ,[CREATION_DATE]
					  ,[CREATED_BY]
					  ,[LAST_UPDATE_LOGIN]
					  ,[DESCRIPTION]
					  ,[DISABLE_DATE]
					  ,[COST_ELEMENT_ID]
					  ,[PURCHASE_ITEM_ID]
					  ,[COST_CODE_TYPE]
					  ,[FUNCTIONAL_CURRENCY_FLAG]
					  ,[UNIT_OF_MEASURE]
					  ,[DEFAULT_ACTIVITY_ID]
					  ,[RESOURCE_TYPE]
					  ,[AUTOCHARGE_TYPE]
					  ,[STANDARD_RATE_FLAG]
					  ,[DEFAULT_BASIS_TYPE]
					  ,[ABSORPTION_ACCOUNT]
					  ,[ALLOW_COSTS_FLAG]
					  ,[RATE_VARIANCE_ACCOUNT]
					  ,[EXPENDITURE_TYPE]
					  ,[ATTRIBUTE_CATEGORY]
					  ,[ATTRIBUTE1]
					  ,[ATTRIBUTE2]
					  ,[ATTRIBUTE3]
					  ,[ATTRIBUTE4]
					  ,[ATTRIBUTE5]
					  ,[ATTRIBUTE6]
					  ,[ATTRIBUTE7]
					  ,[ATTRIBUTE8]
					  ,[ATTRIBUTE9]
					  ,[ATTRIBUTE10]
					  ,[ATTRIBUTE11]
					  ,[ATTRIBUTE12]
					  ,[ATTRIBUTE13]
					  ,[ATTRIBUTE14]
					  ,[ATTRIBUTE15]
					  ,[REQUEST_ID]
					  ,[PROGRAM_APPLICATION_ID]
					  ,[PROGRAM_ID]
					  ,[PROGRAM_UPDATE_DATE]
					  ,[BATCHABLE]
					  ,[MAX_BATCH_CAPACITY]
					  ,[MIN_BATCH_CAPACITY]
					  ,[BATCH_CAPACITY_UOM]
					  ,[BATCH_WINDOW]
					  ,[BATCH_WINDOW_UOM]
					  ,[COMPETENCE_ID]
					  ,[RATING_LEVEL_ID]
					  ,[QUALIFICATION_TYPE_ID]
					  ,[BILLABLE_ITEM_ID]
					  ,[SUPPLY_SUBINVENTORY]
					  ,[SUPPLY_LOCATOR_ID]
					  ,[BATCHING_PENALTY]
					  ,[FINGERPRINT]
				)
				VALUES (
					   a.[RESOURCE_ID]
					  ,a.[RESOURCE_CODE]
					  ,a.[ORGANIZATION_ID]
					  ,a.[LAST_UPDATE_DATE]
					  ,a.[LAST_UPDATED_BY]
					  ,a.[CREATION_DATE]
					  ,a.[CREATED_BY]
					  ,a.[LAST_UPDATE_LOGIN]
					  ,a.[DESCRIPTION]
					  ,a.[DISABLE_DATE]
					  ,a.[COST_ELEMENT_ID]
					  ,a.[PURCHASE_ITEM_ID]
					  ,a.[COST_CODE_TYPE]
					  ,a.[FUNCTIONAL_CURRENCY_FLAG]
					  ,a.[UNIT_OF_MEASURE]
					  ,a.[DEFAULT_ACTIVITY_ID]
					  ,a.[RESOURCE_TYPE]
					  ,a.[AUTOCHARGE_TYPE]
					  ,a.[STANDARD_RATE_FLAG]
					  ,a.[DEFAULT_BASIS_TYPE]
					  ,a.[ABSORPTION_ACCOUNT]
					  ,a.[ALLOW_COSTS_FLAG]
					  ,a.[RATE_VARIANCE_ACCOUNT]
					  ,a.[EXPENDITURE_TYPE]
					  ,a.[ATTRIBUTE_CATEGORY]
					  ,a.[ATTRIBUTE1]
					  ,a.[ATTRIBUTE2]
					  ,a.[ATTRIBUTE3]
					  ,a.[ATTRIBUTE4]
					  ,a.[ATTRIBUTE5]
					  ,a.[ATTRIBUTE6]
					  ,a.[ATTRIBUTE7]
					  ,a.[ATTRIBUTE8]
					  ,a.[ATTRIBUTE9]
					  ,a.[ATTRIBUTE10]
					  ,a.[ATTRIBUTE11]
					  ,a.[ATTRIBUTE12]
					  ,a.[ATTRIBUTE13]
					  ,a.[ATTRIBUTE14]
					  ,a.[ATTRIBUTE15]
					  ,a.[REQUEST_ID]
					  ,a.[PROGRAM_APPLICATION_ID]
					  ,a.[PROGRAM_ID]
					  ,a.[PROGRAM_UPDATE_DATE]
					  ,a.[BATCHABLE]
					  ,a.[MAX_BATCH_CAPACITY]
					  ,a.[MIN_BATCH_CAPACITY]
					  ,a.[BATCH_CAPACITY_UOM]
					  ,a.[BATCH_WINDOW]
					  ,a.[BATCH_WINDOW_UOM]
					  ,a.[COMPETENCE_ID]
					  ,a.[RATING_LEVEL_ID]
					  ,a.[QUALIFICATION_TYPE_ID]
					  ,a.[BILLABLE_ITEM_ID]
					  ,a.[SUPPLY_SUBINVENTORY]
					  ,a.[SUPPLY_LOCATOR_ID]
					  ,a.[BATCHING_PENALTY]
					  ,a.[FINGERPRINT]
				)
				--Existing records that have changed are expired
				WHEN MATCHED AND a.Fingerprint<>b.Fingerprint
				THEN UPDATE SET b.EndDate=GETDATE()
					,b.CurrentRecord=0
				OUTPUT 
						   a.[RESOURCE_ID]
						  ,a.[RESOURCE_CODE]
						  ,a.[ORGANIZATION_ID]
						  ,a.[LAST_UPDATE_DATE]
						  ,a.[LAST_UPDATED_BY]
						  ,a.[CREATION_DATE]
						  ,a.[CREATED_BY]
						  ,a.[LAST_UPDATE_LOGIN]
						  ,a.[DESCRIPTION]
						  ,a.[DISABLE_DATE]
						  ,a.[COST_ELEMENT_ID]
						  ,a.[PURCHASE_ITEM_ID]
						  ,a.[COST_CODE_TYPE]
						  ,a.[FUNCTIONAL_CURRENCY_FLAG]
						  ,a.[UNIT_OF_MEASURE]
						  ,a.[DEFAULT_ACTIVITY_ID]
						  ,a.[RESOURCE_TYPE]
						  ,a.[AUTOCHARGE_TYPE]
						  ,a.[STANDARD_RATE_FLAG]
						  ,a.[DEFAULT_BASIS_TYPE]
						  ,a.[ABSORPTION_ACCOUNT]
						  ,a.[ALLOW_COSTS_FLAG]
						  ,a.[RATE_VARIANCE_ACCOUNT]
						  ,a.[EXPENDITURE_TYPE]
						  ,a.[ATTRIBUTE_CATEGORY]
						  ,a.[ATTRIBUTE1]
						  ,a.[ATTRIBUTE2]
						  ,a.[ATTRIBUTE3]
						  ,a.[ATTRIBUTE4]
						  ,a.[ATTRIBUTE5]
						  ,a.[ATTRIBUTE6]
						  ,a.[ATTRIBUTE7]
						  ,a.[ATTRIBUTE8]
						  ,a.[ATTRIBUTE9]
						  ,a.[ATTRIBUTE10]
						  ,a.[ATTRIBUTE11]
						  ,a.[ATTRIBUTE12]
						  ,a.[ATTRIBUTE13]
						  ,a.[ATTRIBUTE14]
						  ,a.[ATTRIBUTE15]
						  ,a.[REQUEST_ID]
						  ,a.[PROGRAM_APPLICATION_ID]
						  ,a.[PROGRAM_ID]
						  ,a.[PROGRAM_UPDATE_DATE]
						  ,a.[BATCHABLE]
						  ,a.[MAX_BATCH_CAPACITY]
						  ,a.[MIN_BATCH_CAPACITY]
						  ,a.[BATCH_CAPACITY_UOM]
						  ,a.[BATCH_WINDOW]
						  ,a.[BATCH_WINDOW_UOM]
						  ,a.[COMPETENCE_ID]
						  ,a.[RATING_LEVEL_ID]
						  ,a.[QUALIFICATION_TYPE_ID]
						  ,a.[BILLABLE_ITEM_ID]
						  ,a.[SUPPLY_SUBINVENTORY]
						  ,a.[SUPPLY_LOCATOR_ID]
						  ,a.[BATCHING_PENALTY]
						  ,a.[FINGERPRINT]
						  ,$Action AS Action
			) a
			WHERE Action = 'Update'
			;

		INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Done', GETDATE()

		DROP TABLE #resources

END

GO
