USE [Operations]
GO
/****** Object:  StoredProcedure [Oracle].[Merge_ORG_ORGANIZATION_DEFINITIONS]    Script Date: 7/10/2025 11:43:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Oracle].[Merge_ORG_ORGANIZATION_DEFINITIONS] 
AS BEGIN

	CREATE TABLE #Organization (
		[ORGANIZATION_ID] [numeric](15, 0) NOT NULL,
		[BUSINESS_GROUP_ID] [numeric](15, 0) NOT NULL,
		[USER_DEFINITION_ENABLE_DATE] [datetime2](7) NOT NULL,
		[DISABLE_DATE] [datetime2](7) NULL,
		[ORGANIZATION_CODE] [nvarchar](3) NULL,
		[ORGANIZATION_NAME] [nvarchar](240) NOT NULL,
		[SET_OF_BOOKS_ID] [numeric](15, 0) NOT NULL,
		[CHART_OF_ACCOUNTS_ID] [numeric](15, 0) NOT NULL,
		[INVENTORY_ENABLED_FLAG] [nvarchar](150) NULL,
		[OPERATING_UNIT] [float] NULL,
		[LEGAL_ENTITY] [float] NULL,
		[Fingerprint] [varchar](32) NOT NULL
	)

	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Oracle Download', GETDATE()

	INSERT INTO #Organization 
	SELECT [ORGANIZATION_ID]
			,[BUSINESS_GROUP_ID]
			,[USER_DEFINITION_ENABLE_DATE]
			,[DISABLE_DATE]
			,[ORGANIZATION_CODE]
			,[ORGANIZATION_NAME]
			,[SET_OF_BOOKS_ID]
			,[CHART_OF_ACCOUNTS_ID]
			,[INVENTORY_ENABLED_FLAG]
			,[OPERATING_UNIT]
			,[LEGAL_ENTITY] 
			,'XXX' AS Fingerprint
	FROM OPENQUERY(PROD,'SELECT * FROM ORG_ORGANIZATION_DEFINITIONS')

	/*
		DECLARE @columnList VARCHAR(MAX) = dbo.getHashField ('ORG_ORGANIZATION_DEFINITIONS','Oracle') SELECT @columnList
	*/

	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Fingerprint', GETDATE()

	UPDATE #Organization
	SET Fingerprint = 
		SUBSTRING(LOWER(CONVERT(VARCHAR(32),HASHBYTES('MD5',
			--replace @columnList result here
				CAST(ISNULL(ORGANIZATION_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(BUSINESS_GROUP_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(USER_DEFINITION_ENABLE_DATE,'') AS VARCHAR(100)) +  CAST(ISNULL(DISABLE_DATE,'') AS VARCHAR(100)) +  CAST(ISNULL(ORGANIZATION_CODE,'') AS VARCHAR(100)) +  CAST(ISNULL(ORGANIZATION_NAME,'') AS VARCHAR(100)) +  CAST(ISNULL(SET_OF_BOOKS_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(CHART_OF_ACCOUNTS_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(INVENTORY_ENABLED_FLAG,'') AS VARCHAR(100)) +  CAST(ISNULL(OPERATING_UNIT,'0') AS VARCHAR(100)) +  CAST(ISNULL(LEGAL_ENTITY,'0') AS VARCHAR(100)) 
		),1)),3,32);

	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Merge', GETDATE()

	INSERT INTO Oracle.ORG_ORGANIZATION_DEFINITIONS (
				[ORGANIZATION_ID]
				,[BUSINESS_GROUP_ID]
				,[USER_DEFINITION_ENABLE_DATE]
				,[DISABLE_DATE]
				,[ORGANIZATION_CODE]
				,[ORGANIZATION_NAME]
				,[SET_OF_BOOKS_ID]
				,[CHART_OF_ACCOUNTS_ID]
				,[INVENTORY_ENABLED_FLAG]
				,[OPERATING_UNIT]
				,[LEGAL_ENTITY] 
				,[Fingerprint]
		)
			SELECT 
				 a.[ORGANIZATION_ID]
				,a.[BUSINESS_GROUP_ID]
				,a.[USER_DEFINITION_ENABLE_DATE]
				,a.[DISABLE_DATE]
				,a.[ORGANIZATION_CODE]
				,a.[ORGANIZATION_NAME]
				,a.[SET_OF_BOOKS_ID]
				,a.[CHART_OF_ACCOUNTS_ID]
				,a.[INVENTORY_ENABLED_FLAG]
				,a.[OPERATING_UNIT]
				,a.[LEGAL_ENTITY] 
				,a.[Fingerprint]
			FROM (
				MERGE Oracle.ORG_ORGANIZATION_DEFINITIONS b
				USING (SELECT * FROM #Organization) a
				ON a.Organization_ID = b.Organization_ID AND b.CurrentRecord = 1 --swap with business key of table
				WHEN NOT MATCHED --BY TARGET 
				THEN INSERT (
						 [ORGANIZATION_ID]
						,[BUSINESS_GROUP_ID]
						,[USER_DEFINITION_ENABLE_DATE]
						,[DISABLE_DATE]
						,[ORGANIZATION_CODE]
						,[ORGANIZATION_NAME]
						,[SET_OF_BOOKS_ID]
						,[CHART_OF_ACCOUNTS_ID]
						,[INVENTORY_ENABLED_FLAG]
						,[OPERATING_UNIT]
						,[LEGAL_ENTITY] 
						,[Fingerprint]
				)
				VALUES (
					   a.[ORGANIZATION_ID]
					  ,a.[BUSINESS_GROUP_ID]
					  ,a.[USER_DEFINITION_ENABLE_DATE]
					  ,a.[DISABLE_DATE]
					  ,a.[ORGANIZATION_CODE]
					  ,a.[ORGANIZATION_NAME]
					  ,a.[SET_OF_BOOKS_ID]
					  ,a.[CHART_OF_ACCOUNTS_ID]
					  ,a.[INVENTORY_ENABLED_FLAG]
					  ,a.[OPERATING_UNIT]
					  ,a.[LEGAL_ENTITY] 
					  ,a.[Fingerprint]
				)
				--Existing records that have changed are expired
				WHEN MATCHED AND a.Fingerprint<>b.Fingerprint
				THEN UPDATE SET b.EndDate=GETDATE()
					,b.CurrentRecord=0
				OUTPUT 
						 a.[ORGANIZATION_ID]
						,a.[BUSINESS_GROUP_ID]
						,a.[USER_DEFINITION_ENABLE_DATE]
						,a.[DISABLE_DATE]
						,a.[ORGANIZATION_CODE]
						,a.[ORGANIZATION_NAME]
						,a.[SET_OF_BOOKS_ID]
						,a.[CHART_OF_ACCOUNTS_ID]
						,a.[INVENTORY_ENABLED_FLAG]
						,a.[OPERATING_UNIT]
						,a.[LEGAL_ENTITY] 
						,a.[Fingerprint]
						,$Action AS Action
			) a
			WHERE Action = 'Update'
			;

	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Done', GETDATE()
	
	DROP TABLE #Organization

	--SELECT * FROM Oracle.Org_Organization_Definitions
END

	
GO
