USE [Operations]
GO
/****** Object:  StoredProcedure [Oracle].[Merge_RA_CUST_TRX_LINE_SALESREPS_ALL]    Script Date: 7/10/2025 11:43:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Oracle].[Merge_RA_CUST_TRX_LINE_SALESREPS_ALL] 
AS BEGIN

	CREATE TABLE #CustomerTRX (
		--<column-list>
		[CUST_TRX_LINE_SALESREP_ID] [numeric](15, 0) NOT NULL,
		[LAST_UPDATE_DATE] [datetime2](7) NOT NULL,
		[LAST_UPDATED_BY] [numeric](15, 0) NOT NULL,
		[CREATION_DATE] [datetime2](7) NOT NULL,
		[CREATED_BY] [numeric](15, 0) NOT NULL,
		[LAST_UPDATE_LOGIN] [numeric](15, 0) NULL,
		[CUSTOMER_TRX_ID] [numeric](15, 0) NOT NULL,
		[SALESREP_ID] [numeric](15, 0) NOT NULL,
		[CUSTOMER_TRX_LINE_ID] [numeric](15, 0) NULL,
		[REVENUE_AMOUNT_SPLIT] [float] NULL,
		[NON_REVENUE_AMOUNT_SPLIT] [float] NULL,
		[ATTRIBUTE_CATEGORY] [nvarchar](30) NULL,
		[ATTRIBUTE1] [nvarchar](150) NULL,
		[ATTRIBUTE2] [nvarchar](150) NULL,
		[ATTRIBUTE3] [nvarchar](150) NULL,
		[ATTRIBUTE4] [nvarchar](150) NULL,
		[ATTRIBUTE5] [nvarchar](150) NULL,
		[ATTRIBUTE6] [nvarchar](150) NULL,
		[ATTRIBUTE7] [nvarchar](150) NULL,
		[ATTRIBUTE8] [nvarchar](150) NULL,
		[ATTRIBUTE9] [nvarchar](150) NULL,
		[ATTRIBUTE10] [nvarchar](150) NULL,
		[REQUEST_ID] [numeric](15, 0) NULL,
		[PROGRAM_APPLICATION_ID] [numeric](15, 0) NULL,
		[PROGRAM_ID] [numeric](15, 0) NULL,
		[PROGRAM_UPDATE_DATE] [datetime2](7) NULL,
		[NON_REVENUE_PERCENT_SPLIT] [float] NULL,
		[REVENUE_PERCENT_SPLIT] [float] NULL,
		[ORIGINAL_LINE_SALESREP_ID] [numeric](15, 0) NULL,
		[PREV_CUST_TRX_LINE_SALESREP_ID] [numeric](15, 0) NULL,
		[ATTRIBUTE11] [nvarchar](150) NULL,
		[ATTRIBUTE12] [nvarchar](150) NULL,
		[ATTRIBUTE13] [nvarchar](150) NULL,
		[ATTRIBUTE14] [nvarchar](150) NULL,
		[ATTRIBUTE15] [nvarchar](150) NULL,
		[ORG_ID] [numeric](15, 0) NULL,
		[WH_UPDATE_DATE] [datetime2](7) NULL,
		[REVENUE_ADJUSTMENT_ID] [numeric](15, 0) NULL,
		[REVENUE_SALESGROUP_ID] [float] NULL,
		[NON_REVENUE_SALESGROUP_ID] [float] NULL,
		[FINGERPRINT] [varchar](32) NOT NULL
	) 

	--insert steps to log what is happening.  If the job fails, we can check the ETLLog and see where it failed.
	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Oracle Download', GETDATE()
	
	INSERT INTO #CustomerTRX (
		  --<column-list>
		  [CUST_TRX_LINE_SALESREP_ID],
		  [LAST_UPDATE_DATE],
		  [LAST_UPDATED_BY],
		  [CREATION_DATE],
		  [CREATED_BY],
		  [LAST_UPDATE_LOGIN],
		  [CUSTOMER_TRX_ID],
		  [SALESREP_ID],
		  [CUSTOMER_TRX_LINE_ID],
		  [REVENUE_AMOUNT_SPLIT],
		  [NON_REVENUE_AMOUNT_SPLIT],
		  [ATTRIBUTE_CATEGORY],
		  [ATTRIBUTE1],
		  [ATTRIBUTE2],
		  [ATTRIBUTE3],
		  [ATTRIBUTE4],
		  [ATTRIBUTE5],
		  [ATTRIBUTE6],
		  [ATTRIBUTE7],
		  [ATTRIBUTE8],
		  [ATTRIBUTE9],
		  [ATTRIBUTE10],
		  [REQUEST_ID],
		  [PROGRAM_APPLICATION_ID],
		  [PROGRAM_ID],
		  [PROGRAM_UPDATE_DATE],
		  [NON_REVENUE_PERCENT_SPLIT],
		  [REVENUE_PERCENT_SPLIT],
		  [ORIGINAL_LINE_SALESREP_ID],
		  [PREV_CUST_TRX_LINE_SALESREP_ID],
		  [ATTRIBUTE11],
		  [ATTRIBUTE12],
		  [ATTRIBUTE13],
		  [ATTRIBUTE14],
		  [ATTRIBUTE15],
		  [ORG_ID],
		  [WH_UPDATE_DATE],
		  [REVENUE_ADJUSTMENT_ID],
		  [REVENUE_SALESGROUP_ID],
		  [NON_REVENUE_SALESGROUP_ID],
		  [Fingerprint]
	  )
	SELECT 
		 --<column-list>
		  [CUST_TRX_LINE_SALESREP_ID],
		  [LAST_UPDATE_DATE],
		  [LAST_UPDATED_BY],
		  [CREATION_DATE],
		  [CREATED_BY],
		  [LAST_UPDATE_LOGIN],
		  [CUSTOMER_TRX_ID],
		  [SALESREP_ID],
		  [CUSTOMER_TRX_LINE_ID],
		  [REVENUE_AMOUNT_SPLIT],
		  [NON_REVENUE_AMOUNT_SPLIT],
		  [ATTRIBUTE_CATEGORY],
		  [ATTRIBUTE1],
		  [ATTRIBUTE2],
		  [ATTRIBUTE3],
		  [ATTRIBUTE4],
		  [ATTRIBUTE5],
		  [ATTRIBUTE6],
		  [ATTRIBUTE7],
		  [ATTRIBUTE8],
		  [ATTRIBUTE9],
		  [ATTRIBUTE10],
		  [REQUEST_ID],
		  [PROGRAM_APPLICATION_ID],
		  [PROGRAM_ID],
		  [PROGRAM_UPDATE_DATE],
		  [NON_REVENUE_PERCENT_SPLIT],
		  [REVENUE_PERCENT_SPLIT],
		  [ORIGINAL_LINE_SALESREP_ID],
		  [PREV_CUST_TRX_LINE_SALESREP_ID],
		  [ATTRIBUTE11],
		  [ATTRIBUTE12],
		  [ATTRIBUTE13],
		  [ATTRIBUTE14],
		  [ATTRIBUTE15],
		  [ORG_ID],
		  [WH_UPDATE_DATE],
		  [REVENUE_ADJUSTMENT_ID],
		  [REVENUE_SALESGROUP_ID],
		  [NON_REVENUE_SALESGROUP_ID],
		  'XXX' AS [Fingerprint]
	FROM OPENQUERY(PROD, '
		SELECT * FROM RA_CUST_TRX_LINE_SALESREPS_ALL
		WHERE CREATION_DATE > sysdate - 7 OR LAST_UPDATE_DATE > sysdate - 7
	') --8000 character limit for openqueries

	/*	--run this and replace @columnList below
		DECLARE @columnList VARCHAR(MAX) = dbo.getHashField ('RA_CUST_TRX_LINE_SALESREPS_ALL','Oracle') SELECT @columnList
	*/

	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Fingerprint', GETDATE()

	UPDATE #CustomerTRX
	SET Fingerprint = 
		SUBSTRING(LOWER(CONVERT(VARCHAR(32),HASHBYTES('MD5',
			--replace @columnList result here
		CAST(ISNULL([CUST_TRX_LINE_SALESREP_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([LAST_UPDATE_DATE],'') AS VARCHAR(100)) +  CAST(ISNULL([LAST_UPDATED_BY],'0') AS VARCHAR(100)) +  CAST(ISNULL([CREATION_DATE],'') AS VARCHAR(100)) +  CAST(ISNULL([CREATED_BY],'0') AS VARCHAR(100)) +  CAST(ISNULL([LAST_UPDATE_LOGIN],'0') AS VARCHAR(100)) +  CAST(ISNULL([CUSTOMER_TRX_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([SALESREP_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([CUSTOMER_TRX_LINE_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([REVENUE_AMOUNT_SPLIT],'0') AS VARCHAR(100)) +  CAST(ISNULL([NON_REVENUE_AMOUNT_SPLIT],'0') AS VARCHAR(100)) +  CAST(ISNULL([ATTRIBUTE_CATEGORY],'') AS VARCHAR(30)) +  CAST(ISNULL([ATTRIBUTE1],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE2],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE3],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE4],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE5],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE6],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE7],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE8],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE9],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE10],'') AS VARCHAR(150)) +  CAST(ISNULL([REQUEST_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([PROGRAM_APPLICATION_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([PROGRAM_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([PROGRAM_UPDATE_DATE],'') AS VARCHAR(100)) +  CAST(ISNULL([NON_REVENUE_PERCENT_SPLIT],'0') AS VARCHAR(100)) +  CAST(ISNULL([REVENUE_PERCENT_SPLIT],'0') AS VARCHAR(100)) +  CAST(ISNULL([ORIGINAL_LINE_SALESREP_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([PREV_CUST_TRX_LINE_SALESREP_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([ATTRIBUTE11],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE12],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE13],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE14],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE15],'') AS VARCHAR(150)) +  CAST(ISNULL([ORG_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([WH_UPDATE_DATE],'') AS VARCHAR(100)) +  CAST(ISNULL([REVENUE_ADJUSTMENT_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([REVENUE_SALESGROUP_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([NON_REVENUE_SALESGROUP_ID],'0') AS VARCHAR(100)) 
		),1)),3,32);


	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Merge', GETDATE()

	INSERT INTO #CustomerTRX (
		  --<column-list>
		  [CUST_TRX_LINE_SALESREP_ID],
		  [LAST_UPDATE_DATE],
		  [LAST_UPDATED_BY],
		  [CREATION_DATE],
		  [CREATED_BY],
		  [LAST_UPDATE_LOGIN],
		  [CUSTOMER_TRX_ID],
		  [SALESREP_ID],
		  [CUSTOMER_TRX_LINE_ID],
		  [REVENUE_AMOUNT_SPLIT],
		  [NON_REVENUE_AMOUNT_SPLIT],
		  [ATTRIBUTE_CATEGORY],
		  [ATTRIBUTE1],
		  [ATTRIBUTE2],
		  [ATTRIBUTE3],
		  [ATTRIBUTE4],
		  [ATTRIBUTE5],
		  [ATTRIBUTE6],
		  [ATTRIBUTE7],
		  [ATTRIBUTE8],
		  [ATTRIBUTE9],
		  [ATTRIBUTE10],
		  [REQUEST_ID],
		  [PROGRAM_APPLICATION_ID],
		  [PROGRAM_ID],
		  [PROGRAM_UPDATE_DATE],
		  [NON_REVENUE_PERCENT_SPLIT],
		  [REVENUE_PERCENT_SPLIT],
		  [ORIGINAL_LINE_SALESREP_ID],
		  [PREV_CUST_TRX_LINE_SALESREP_ID],
		  [ATTRIBUTE11],
		  [ATTRIBUTE12],
		  [ATTRIBUTE13],
		  [ATTRIBUTE14],
		  [ATTRIBUTE15],
		  [ORG_ID],
		  [WH_UPDATE_DATE],
		  [REVENUE_ADJUSTMENT_ID],
		  [REVENUE_SALESGROUP_ID],
		  [NON_REVENUE_SALESGROUP_ID],
		  [Fingerprint]
	)
		SELECT 
			  --a.<column-list>
		  a.[CUST_TRX_LINE_SALESREP_ID],
		  a.[LAST_UPDATE_DATE],
		  a.[LAST_UPDATED_BY],
		  a.[CREATION_DATE],
		  a.[CREATED_BY],
		  a.[LAST_UPDATE_LOGIN],
		  a.[CUSTOMER_TRX_ID],
		  a.[SALESREP_ID],
		  a.[CUSTOMER_TRX_LINE_ID],
		  a.[REVENUE_AMOUNT_SPLIT],
		  a.[NON_REVENUE_AMOUNT_SPLIT],
		  a.[ATTRIBUTE_CATEGORY],
		  a.[ATTRIBUTE1],
		  a.[ATTRIBUTE2],
		  a.[ATTRIBUTE3],
		  a.[ATTRIBUTE4],
		  a.[ATTRIBUTE5],
		  a.[ATTRIBUTE6],
		  a.[ATTRIBUTE7],
		  a.[ATTRIBUTE8],
		  a.[ATTRIBUTE9],
		  a.[ATTRIBUTE10],
		  a.[REQUEST_ID],
		  a.[PROGRAM_APPLICATION_ID],
		  a.[PROGRAM_ID],
		  a.[PROGRAM_UPDATE_DATE],
		  a.[NON_REVENUE_PERCENT_SPLIT],
		  a.[REVENUE_PERCENT_SPLIT],
		  a.[ORIGINAL_LINE_SALESREP_ID],
		  a.[PREV_CUST_TRX_LINE_SALESREP_ID],
		  a.[ATTRIBUTE11],
		  a.[ATTRIBUTE12],
		  a.[ATTRIBUTE13],
		  a.[ATTRIBUTE14],
		  a.[ATTRIBUTE15],
		  a.[ORG_ID],
		  a.[WH_UPDATE_DATE],
		  a.[REVENUE_ADJUSTMENT_ID],
		  a.[REVENUE_SALESGROUP_ID],
		  a.[NON_REVENUE_SALESGROUP_ID],
		  a.[Fingerprint]
		FROM (
			MERGE Oracle.RA_CUST_TRX_LINE_SALESREPS_ALL b
			USING (SELECT * FROM #CustomerTRX) a
			ON a.[CUST_TRX_LINE_SALESREP_ID] = b.[CUST_TRX_LINE_SALESREP_ID] AND b.CurrentRecord = 1 --swap with business key of table
			WHEN NOT MATCHED --BY TARGET 
			THEN INSERT (
				  --<column-list>
				  [CUST_TRX_LINE_SALESREP_ID],
				  [LAST_UPDATE_DATE],
				  [LAST_UPDATED_BY],
				  [CREATION_DATE],
				  [CREATED_BY],
				  [LAST_UPDATE_LOGIN],
				  [CUSTOMER_TRX_ID],
				  [SALESREP_ID],
				  [CUSTOMER_TRX_LINE_ID],
				  [REVENUE_AMOUNT_SPLIT],
				  [NON_REVENUE_AMOUNT_SPLIT],
				  [ATTRIBUTE_CATEGORY],
				  [ATTRIBUTE1],
				  [ATTRIBUTE2],
				  [ATTRIBUTE3],
				  [ATTRIBUTE4],
				  [ATTRIBUTE5],
				  [ATTRIBUTE6],
				  [ATTRIBUTE7],
				  [ATTRIBUTE8],
				  [ATTRIBUTE9],
				  [ATTRIBUTE10],
				  [REQUEST_ID],
				  [PROGRAM_APPLICATION_ID],
				  [PROGRAM_ID],
				  [PROGRAM_UPDATE_DATE],
				  [NON_REVENUE_PERCENT_SPLIT],
				  [REVENUE_PERCENT_SPLIT],
				  [ORIGINAL_LINE_SALESREP_ID],
				  [PREV_CUST_TRX_LINE_SALESREP_ID],
				  [ATTRIBUTE11],
				  [ATTRIBUTE12],
				  [ATTRIBUTE13],
				  [ATTRIBUTE14],
				  [ATTRIBUTE15],
				  [ORG_ID],
				  [WH_UPDATE_DATE],
				  [REVENUE_ADJUSTMENT_ID],
				  [REVENUE_SALESGROUP_ID],
				  [NON_REVENUE_SALESGROUP_ID],
				  [Fingerprint]
			)
			VALUES (
				  --a.<column-list>
				  a.[CUST_TRX_LINE_SALESREP_ID],
				  a.[LAST_UPDATE_DATE],
				  a.[LAST_UPDATED_BY],
				  a.[CREATION_DATE],
				  a.[CREATED_BY],
				  a.[LAST_UPDATE_LOGIN],
				  a.[CUSTOMER_TRX_ID],
				  a.[SALESREP_ID],
				  a.[CUSTOMER_TRX_LINE_ID],
				  a.[REVENUE_AMOUNT_SPLIT],
				  a.[NON_REVENUE_AMOUNT_SPLIT],
				  a.[ATTRIBUTE_CATEGORY],
				  a.[ATTRIBUTE1],
				  a.[ATTRIBUTE2],
				  a.[ATTRIBUTE3],
				  a.[ATTRIBUTE4],
				  a.[ATTRIBUTE5],
				  a.[ATTRIBUTE6],
				  a.[ATTRIBUTE7],
				  a.[ATTRIBUTE8],
				  a.[ATTRIBUTE9],
				  a.[ATTRIBUTE10],
				  a.[REQUEST_ID],
				  a.[PROGRAM_APPLICATION_ID],
				  a.[PROGRAM_ID],
				  a.[PROGRAM_UPDATE_DATE],
				  a.[NON_REVENUE_PERCENT_SPLIT],
				  a.[REVENUE_PERCENT_SPLIT],
				  a.[ORIGINAL_LINE_SALESREP_ID],
				  a.[PREV_CUST_TRX_LINE_SALESREP_ID],
				  a.[ATTRIBUTE11],
				  a.[ATTRIBUTE12],
				  a.[ATTRIBUTE13],
				  a.[ATTRIBUTE14],
				  a.[ATTRIBUTE15],
				  a.[ORG_ID],
				  a.[WH_UPDATE_DATE],
				  a.[REVENUE_ADJUSTMENT_ID],
				  a.[REVENUE_SALESGROUP_ID],
				  a.[NON_REVENUE_SALESGROUP_ID],
				  a.[Fingerprint]
			)
			--Existing records that have changed are expired
			WHEN MATCHED AND a.Fingerprint<>b.Fingerprint
			THEN UPDATE SET b.EndDate=GETDATE()
				,b.CurrentRecord=0
			OUTPUT 
				  --a.<column-list>
				  a.[CUST_TRX_LINE_SALESREP_ID],
				  a.[LAST_UPDATE_DATE],
				  a.[LAST_UPDATED_BY],
				  a.[CREATION_DATE],
				  a.[CREATED_BY],
				  a.[LAST_UPDATE_LOGIN],
				  a.[CUSTOMER_TRX_ID],
				  a.[SALESREP_ID],
				  a.[CUSTOMER_TRX_LINE_ID],
				  a.[REVENUE_AMOUNT_SPLIT],
				  a.[NON_REVENUE_AMOUNT_SPLIT],
				  a.[ATTRIBUTE_CATEGORY],
				  a.[ATTRIBUTE1],
				  a.[ATTRIBUTE2],
				  a.[ATTRIBUTE3],
				  a.[ATTRIBUTE4],
				  a.[ATTRIBUTE5],
				  a.[ATTRIBUTE6],
				  a.[ATTRIBUTE7],
				  a.[ATTRIBUTE8],
				  a.[ATTRIBUTE9],
				  a.[ATTRIBUTE10],
				  a.[REQUEST_ID],
				  a.[PROGRAM_APPLICATION_ID],
				  a.[PROGRAM_ID],
				  a.[PROGRAM_UPDATE_DATE],
				  a.[NON_REVENUE_PERCENT_SPLIT],
				  a.[REVENUE_PERCENT_SPLIT],
				  a.[ORIGINAL_LINE_SALESREP_ID],
				  a.[PREV_CUST_TRX_LINE_SALESREP_ID],
				  a.[ATTRIBUTE11],
				  a.[ATTRIBUTE12],
				  a.[ATTRIBUTE13],
				  a.[ATTRIBUTE14],
				  a.[ATTRIBUTE15],
				  a.[ORG_ID],
				  a.[WH_UPDATE_DATE],
				  a.[REVENUE_ADJUSTMENT_ID],
				  a.[REVENUE_SALESGROUP_ID],
				  a.[NON_REVENUE_SALESGROUP_ID],
				  a.[Fingerprint]
				  ,$Action AS Action
		) a
		WHERE Action = 'Update'
		;

	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Done', GETDATE()

	DROP TABLE #CustomerTRX

END
GO
