USE [Operations]
GO
/****** Object:  StoredProcedure [Oracle].[Merge_PO_APPROVED_SUPPLIER_LIST]    Script Date: 7/10/2025 11:43:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [Oracle].[Merge_PO_APPROVED_SUPPLIER_LIST]
AS BEGIN

	CREATE TABLE #ASL (
		[ASL_ID] [float] NOT NULL,
		[USING_ORGANIZATION_ID] [float] NOT NULL,
		[OWNING_ORGANIZATION_ID] [float] NOT NULL,
		[VENDOR_BUSINESS_TYPE] [nvarchar](25) NOT NULL,
		[ASL_STATUS_ID] [float] NOT NULL,
		[LAST_UPDATE_DATE] [datetime2](7) NOT NULL,
		[LAST_UPDATED_BY] [float] NOT NULL,
		[CREATION_DATE] [datetime2](7) NOT NULL,
		[CREATED_BY] [float] NOT NULL,
		[MANUFACTURER_ID] [float] NULL,
		[VENDOR_ID] [float] NULL,
		[ITEM_ID] [float] NULL,
		[CATEGORY_ID] [float] NULL,
		[VENDOR_SITE_ID] [float] NULL,
		[PRIMARY_VENDOR_ITEM] [nvarchar](25) NULL,
		[MANUFACTURER_ASL_ID] [float] NULL,
		[REVIEW_BY_DATE] [datetime2](7) NULL,
		[COMMENTS] [nvarchar](240) NULL,
		[ATTRIBUTE_CATEGORY] [nvarchar](30) NULL,
		[ATTRIBUTE1] [nvarchar](150) NULL,
		[ATTRIBUTE2] [nvarchar](150) NULL,
		[ATTRIBUTE3] [nvarchar](150) NULL,
		[ATTRIBUTE4] [nvarchar](150) NULL,
		[ATTRIBUTE5] [nvarchar](150) NULL,
		[ATTRIBUTE6] [nvarchar](150) NULL,
		[ATTRIBUTE7] [nvarchar](150) NULL,
		[ATTRIBUTE8] [nvarchar](150) NULL,
		[ATTRIBUTE9] [nvarchar](150) NULL,
		[ATTRIBUTE10] [nvarchar](150) NULL,
		[ATTRIBUTE11] [nvarchar](150) NULL,
		[ATTRIBUTE12] [nvarchar](150) NULL,
		[ATTRIBUTE13] [nvarchar](150) NULL,
		[ATTRIBUTE14] [nvarchar](150) NULL,
		[ATTRIBUTE15] [nvarchar](150) NULL,
		[LAST_UPDATE_LOGIN] [float] NULL,
		[REQUEST_ID] [float] NULL,
		[PROGRAM_APPLICATION_ID] [float] NULL,
		[PROGRAM_ID] [float] NULL,
		[PROGRAM_UPDATE_DATE] [datetime2](7) NULL,
		[DISABLE_FLAG] [nvarchar](1) NULL,
		[Fingerprint] [varchar](32) NOT NULL
	)

    INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Oracle Download', GETDATE()

	INSERT INTO #ASL
	SELECT 
	   [ASL_ID]
      ,[USING_ORGANIZATION_ID]
      ,[OWNING_ORGANIZATION_ID]
      ,[VENDOR_BUSINESS_TYPE]
      ,[ASL_STATUS_ID]
      ,[LAST_UPDATE_DATE]
      ,[LAST_UPDATED_BY]
      ,[CREATION_DATE]
      ,[CREATED_BY]
      ,[MANUFACTURER_ID]
      ,[VENDOR_ID]
      ,[ITEM_ID]
      ,[CATEGORY_ID]
      ,[VENDOR_SITE_ID]
      ,[PRIMARY_VENDOR_ITEM]
      ,[MANUFACTURER_ASL_ID]
      ,[REVIEW_BY_DATE]
      ,[COMMENTS]
      ,[ATTRIBUTE_CATEGORY]
      ,[ATTRIBUTE1]
      ,[ATTRIBUTE2]
      ,[ATTRIBUTE3]
      ,[ATTRIBUTE4]
      ,[ATTRIBUTE5]
      ,[ATTRIBUTE6]
      ,[ATTRIBUTE7]
      ,[ATTRIBUTE8]
      ,[ATTRIBUTE9]
      ,[ATTRIBUTE10]
      ,[ATTRIBUTE11]
      ,[ATTRIBUTE12]
      ,[ATTRIBUTE13]
      ,[ATTRIBUTE14]
      ,[ATTRIBUTE15]
      ,[LAST_UPDATE_LOGIN]
      ,[REQUEST_ID]
      ,[PROGRAM_APPLICATION_ID]
      ,[PROGRAM_ID]
      ,[PROGRAM_UPDATE_DATE]
      ,[DISABLE_FLAG]
	  ,'XXX' AS Fingerprint
	FROM OPENQUERY(PROD,'SELECT * FROM PO_APPROVED_SUPPLIER_LIST pasl  WHERE LAST_UPDATE_DATE >= SYSDATE - 5 OR CREATION_DATE >= SYSDATE - 5')

	/*
		DECLARE @columnList VARCHAR(MAX) = dbo.getHashField ('PO_APPROVED_SUPPLIER_LIST','Oracle') SELECT @columnList
	*/

	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Fingerprint', GETDATE()

	UPDATE #ASL
	SET Fingerprint = 
		SUBSTRING(LOWER(CONVERT(VARCHAR(32),HASHBYTES('MD5',
			--replace @columnList result here
			  CAST(ISNULL([ASL_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([USING_ORGANIZATION_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([OWNING_ORGANIZATION_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([VENDOR_BUSINESS_TYPE],'') AS VARCHAR(25)) +  CAST(ISNULL([ASL_STATUS_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([LAST_UPDATE_DATE],'') AS VARCHAR(100)) +  CAST(ISNULL([LAST_UPDATED_BY],'0') AS VARCHAR(100)) +  CAST(ISNULL([CREATION_DATE],'') AS VARCHAR(100)) +  CAST(ISNULL([CREATED_BY],'0') AS VARCHAR(100)) +  CAST(ISNULL([MANUFACTURER_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([VENDOR_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([ITEM_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([CATEGORY_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([VENDOR_SITE_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([PRIMARY_VENDOR_ITEM],'') AS VARCHAR(25)) +  CAST(ISNULL([MANUFACTURER_ASL_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([REVIEW_BY_DATE],'') AS VARCHAR(100)) +  CAST(ISNULL([COMMENTS],'') AS VARCHAR(240)) +  CAST(ISNULL([ATTRIBUTE_CATEGORY],'') AS VARCHAR(30)) +  CAST(ISNULL([ATTRIBUTE1],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE2],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE3],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE4],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE5],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE6],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE7],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE8],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE9],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE10],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE11],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE12],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE13],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE14],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE15],'') AS VARCHAR(150)) +  CAST(ISNULL([LAST_UPDATE_LOGIN],'0') AS VARCHAR(100)) +  CAST(ISNULL([REQUEST_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([PROGRAM_APPLICATION_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([PROGRAM_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([PROGRAM_UPDATE_DATE],'') AS VARCHAR(100)) +  CAST(ISNULL([DISABLE_FLAG],'') AS VARCHAR(1)) 
		),1)),3,32);

	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Merge', GETDATE()

	INSERT INTO Oracle.PO_APPROVED_SUPPLIER_LIST (
	   [ASL_ID]
      ,[USING_ORGANIZATION_ID]
      ,[OWNING_ORGANIZATION_ID]
      ,[VENDOR_BUSINESS_TYPE]
      ,[ASL_STATUS_ID]
      ,[LAST_UPDATE_DATE]
      ,[LAST_UPDATED_BY]
      ,[CREATION_DATE]
      ,[CREATED_BY]
      ,[MANUFACTURER_ID]
      ,[VENDOR_ID]
      ,[ITEM_ID]
      ,[CATEGORY_ID]
      ,[VENDOR_SITE_ID]
      ,[PRIMARY_VENDOR_ITEM]
      ,[MANUFACTURER_ASL_ID]
      ,[REVIEW_BY_DATE]
      ,[COMMENTS]
      ,[ATTRIBUTE_CATEGORY]
      ,[ATTRIBUTE1]
      ,[ATTRIBUTE2]
      ,[ATTRIBUTE3]
      ,[ATTRIBUTE4]
      ,[ATTRIBUTE5]
      ,[ATTRIBUTE6]
      ,[ATTRIBUTE7]
      ,[ATTRIBUTE8]
      ,[ATTRIBUTE9]
      ,[ATTRIBUTE10]
      ,[ATTRIBUTE11]
      ,[ATTRIBUTE12]
      ,[ATTRIBUTE13]
      ,[ATTRIBUTE14]
      ,[ATTRIBUTE15]
      ,[LAST_UPDATE_LOGIN]
      ,[REQUEST_ID]
      ,[PROGRAM_APPLICATION_ID]
      ,[PROGRAM_ID]
      ,[PROGRAM_UPDATE_DATE]
      ,[DISABLE_FLAG]
	  ,[Fingerprint]
	)
	SELECT 
		   a.[ASL_ID]
		  ,a.[USING_ORGANIZATION_ID]
		  ,a.[OWNING_ORGANIZATION_ID]
		  ,a.[VENDOR_BUSINESS_TYPE]
		  ,a.[ASL_STATUS_ID]
		  ,a.[LAST_UPDATE_DATE]
		  ,a.[LAST_UPDATED_BY]
		  ,a.[CREATION_DATE]
		  ,a.[CREATED_BY]
		  ,a.[MANUFACTURER_ID]
		  ,a.[VENDOR_ID]
		  ,a.[ITEM_ID]
		  ,a.[CATEGORY_ID]
		  ,a.[VENDOR_SITE_ID]
		  ,a.[PRIMARY_VENDOR_ITEM]
		  ,a.[MANUFACTURER_ASL_ID]
		  ,a.[REVIEW_BY_DATE]
		  ,a.[COMMENTS]
		  ,a.[ATTRIBUTE_CATEGORY]
		  ,a.[ATTRIBUTE1]
		  ,a.[ATTRIBUTE2]
		  ,a.[ATTRIBUTE3]
		  ,a.[ATTRIBUTE4]
		  ,a.[ATTRIBUTE5]
		  ,a.[ATTRIBUTE6]
		  ,a.[ATTRIBUTE7]
		  ,a.[ATTRIBUTE8]
		  ,a.[ATTRIBUTE9]
		  ,a.[ATTRIBUTE10]
		  ,a.[ATTRIBUTE11]
		  ,a.[ATTRIBUTE12]
		  ,a.[ATTRIBUTE13]
		  ,a.[ATTRIBUTE14]
		  ,a.[ATTRIBUTE15]
		  ,a.[LAST_UPDATE_LOGIN]
		  ,a.[REQUEST_ID]
		  ,a.[PROGRAM_APPLICATION_ID]
		  ,a.[PROGRAM_ID]
		  ,a.[PROGRAM_UPDATE_DATE]
		  ,a.[DISABLE_FLAG]
		  ,a.[Fingerprint]
		FROM (
			MERGE Oracle.PO_APPROVED_SUPPLIER_LIST b
			USING (SELECT * FROM #ASL) a
			ON a.ASL_ID = b.ASL_ID AND b.CurrentRecord = 1 --swap with business key of table
			WHEN NOT MATCHED --BY TARGET 
			THEN INSERT (
				   [ASL_ID]
				  ,[USING_ORGANIZATION_ID]
				  ,[OWNING_ORGANIZATION_ID]
				  ,[VENDOR_BUSINESS_TYPE]
				  ,[ASL_STATUS_ID]
				  ,[LAST_UPDATE_DATE]
				  ,[LAST_UPDATED_BY]
				  ,[CREATION_DATE]
				  ,[CREATED_BY]
				  ,[MANUFACTURER_ID]
				  ,[VENDOR_ID]
				  ,[ITEM_ID]
				  ,[CATEGORY_ID]
				  ,[VENDOR_SITE_ID]
				  ,[PRIMARY_VENDOR_ITEM]
				  ,[MANUFACTURER_ASL_ID]
				  ,[REVIEW_BY_DATE]
				  ,[COMMENTS]
				  ,[ATTRIBUTE_CATEGORY]
				  ,[ATTRIBUTE1]
				  ,[ATTRIBUTE2]
				  ,[ATTRIBUTE3]
				  ,[ATTRIBUTE4]
				  ,[ATTRIBUTE5]
				  ,[ATTRIBUTE6]
				  ,[ATTRIBUTE7]
				  ,[ATTRIBUTE8]
				  ,[ATTRIBUTE9]
				  ,[ATTRIBUTE10]
				  ,[ATTRIBUTE11]
				  ,[ATTRIBUTE12]
				  ,[ATTRIBUTE13]
				  ,[ATTRIBUTE14]
				  ,[ATTRIBUTE15]
				  ,[LAST_UPDATE_LOGIN]
				  ,[REQUEST_ID]
				  ,[PROGRAM_APPLICATION_ID]
				  ,[PROGRAM_ID]
				  ,[PROGRAM_UPDATE_DATE]
				  ,[DISABLE_FLAG]
				  ,[Fingerprint]
				)
				VALUES (
				   a.[ASL_ID]
				  ,a.[USING_ORGANIZATION_ID]
				  ,a.[OWNING_ORGANIZATION_ID]
				  ,a.[VENDOR_BUSINESS_TYPE]
				  ,a.[ASL_STATUS_ID]
				  ,a.[LAST_UPDATE_DATE]
				  ,a.[LAST_UPDATED_BY]
				  ,a.[CREATION_DATE]
				  ,a.[CREATED_BY]
				  ,a.[MANUFACTURER_ID]
				  ,a.[VENDOR_ID]
				  ,a.[ITEM_ID]
				  ,a.[CATEGORY_ID]
				  ,a.[VENDOR_SITE_ID]
				  ,a.[PRIMARY_VENDOR_ITEM]
				  ,a.[MANUFACTURER_ASL_ID]
				  ,a.[REVIEW_BY_DATE]
				  ,a.[COMMENTS]
				  ,a.[ATTRIBUTE_CATEGORY]
				  ,a.[ATTRIBUTE1]
				  ,a.[ATTRIBUTE2]
				  ,a.[ATTRIBUTE3]
				  ,a.[ATTRIBUTE4]
				  ,a.[ATTRIBUTE5]
				  ,a.[ATTRIBUTE6]
				  ,a.[ATTRIBUTE7]
				  ,a.[ATTRIBUTE8]
				  ,a.[ATTRIBUTE9]
				  ,a.[ATTRIBUTE10]
				  ,a.[ATTRIBUTE11]
				  ,a.[ATTRIBUTE12]
				  ,a.[ATTRIBUTE13]
				  ,a.[ATTRIBUTE14]
				  ,a.[ATTRIBUTE15]
				  ,a.[LAST_UPDATE_LOGIN]
				  ,a.[REQUEST_ID]
				  ,a.[PROGRAM_APPLICATION_ID]
				  ,a.[PROGRAM_ID]
				  ,a.[PROGRAM_UPDATE_DATE]
				  ,a.[DISABLE_FLAG]
				  ,a.[Fingerprint]
				)
				--Existing records that have changed are expired
				WHEN MATCHED AND a.Fingerprint<>b.Fingerprint
				THEN UPDATE SET b.EndDate=GETDATE()
					,b.CurrentRecord=0
				OUTPUT 
						a.[ASL_ID]
						,a.[USING_ORGANIZATION_ID]
						,a.[OWNING_ORGANIZATION_ID]
						,a.[VENDOR_BUSINESS_TYPE]
						,a.[ASL_STATUS_ID]
						,a.[LAST_UPDATE_DATE]
						,a.[LAST_UPDATED_BY]
						,a.[CREATION_DATE]
						,a.[CREATED_BY]
						,a.[MANUFACTURER_ID]
						,a.[VENDOR_ID]
						,a.[ITEM_ID]
						,a.[CATEGORY_ID]
						,a.[VENDOR_SITE_ID]
						,a.[PRIMARY_VENDOR_ITEM]
						,a.[MANUFACTURER_ASL_ID]
						,a.[REVIEW_BY_DATE]
						,a.[COMMENTS]
						,a.[ATTRIBUTE_CATEGORY]
						,a.[ATTRIBUTE1]
						,a.[ATTRIBUTE2]
						,a.[ATTRIBUTE3]
						,a.[ATTRIBUTE4]
						,a.[ATTRIBUTE5]
						,a.[ATTRIBUTE6]
						,a.[ATTRIBUTE7]
						,a.[ATTRIBUTE8]
						,a.[ATTRIBUTE9]
						,a.[ATTRIBUTE10]
						,a.[ATTRIBUTE11]
						,a.[ATTRIBUTE12]
						,a.[ATTRIBUTE13]
						,a.[ATTRIBUTE14]
						,a.[ATTRIBUTE15]
						,a.[LAST_UPDATE_LOGIN]
						,a.[REQUEST_ID]
						,a.[PROGRAM_APPLICATION_ID]
						,a.[PROGRAM_ID]
						,a.[PROGRAM_UPDATE_DATE]
						,a.[DISABLE_FLAG]
						,a.[Fingerprint]
					  ,$Action AS Action
			) a
			WHERE Action = 'Update'
			;

	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Done', GETDATE()
	
	DROP TABLE #ASL

END


GO
