USE [Operations]
GO
/****** Object:  StoredProcedure [Oracle].[Merge_INV_MTL_MATERIAL_TRANSACTIONS]    Script Date: 7/10/2025 11:43:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [Oracle].[Merge_INV_MTL_MATERIAL_TRANSACTIONS]
AS BEGIN

	CREATE TABLE #MaterialTrans (
		[TRANSACTION_ID] [float] NOT NULL,
		[LAST_UPDATE_DATE] [datetime2](7) NOT NULL,
		[LAST_UPDATED_BY] [float] NOT NULL,
		[CREATION_DATE] [datetime2](7) NOT NULL,
		[CREATED_BY] [float] NOT NULL,
		[LAST_UPDATE_LOGIN] [float] NULL,
		[REQUEST_ID] [float] NULL,
		[PROGRAM_APPLICATION_ID] [float] NULL,
		[PROGRAM_ID] [float] NULL,
		[PROGRAM_UPDATE_DATE] [datetime2](7) NULL,
		[INVENTORY_ITEM_ID] [float] NOT NULL,
		[REVISION] [nvarchar](3) NULL,
		[ORGANIZATION_ID] [float] NOT NULL,
		[SUBINVENTORY_CODE] [nvarchar](10) NULL,
		[LOCATOR_ID] [float] NULL,
		[TRANSACTION_TYPE_ID] [float] NOT NULL,
		[TRANSACTION_ACTION_ID] [float] NOT NULL,
		[TRANSACTION_SOURCE_TYPE_ID] [float] NOT NULL,
		[TRANSACTION_SOURCE_ID] [float] NULL,
		[TRANSACTION_SOURCE_NAME] [nvarchar](80) NULL,
		[TRANSACTION_QUANTITY] [float] NOT NULL,
		[TRANSACTION_UOM] [nvarchar](3) NOT NULL,
		[PRIMARY_QUANTITY] [float] NOT NULL,
		[TRANSACTION_DATE] [datetime2](7) NOT NULL,
		[VARIANCE_AMOUNT] [float] NULL,
		[ACCT_PERIOD_ID] [float] NULL,
		[TRANSACTION_REFERENCE] [nvarchar](240) NULL,
		[REASON_ID] [float] NULL,
		[DISTRIBUTION_ACCOUNT_ID] [float] NULL,
		[ENCUMBRANCE_ACCOUNT] [float] NULL,
		[ENCUMBRANCE_AMOUNT] [float] NULL,
		[COST_UPDATE_ID] [float] NULL,
		[COSTED_FLAG] [nvarchar](1) NULL,
		[TRANSACTION_GROUP_ID] [float] NULL,
		[INVOICED_FLAG] [nvarchar](1) NULL,
		[ACTUAL_COST] [float] NULL,
		[TRANSACTION_COST] [float] NULL,
		[PRIOR_COST] [float] NULL,
		[NEW_COST] [float] NULL,
		[CURRENCY_CODE] [nvarchar](10) NULL,
		[CURRENCY_CONVERSION_RATE] [float] NULL,
		[CURRENCY_CONVERSION_TYPE] [nvarchar](30) NULL,
		[CURRENCY_CONVERSION_DATE] [datetime2](7) NULL,
		[USSGL_TRANSACTION_CODE] [nvarchar](30) NULL,
		[QUANTITY_ADJUSTED] [float] NULL,
		[EMPLOYEE_CODE] [nvarchar](10) NULL,
		[DEPARTMENT_ID] [float] NULL,
		[OPERATION_SEQ_NUM] [float] NULL,
		[MASTER_SCHEDULE_UPDATE_CODE] [nvarchar](10) NULL,
		[RECEIVING_DOCUMENT] [nvarchar](10) NULL,
		[PICKING_LINE_ID] [float] NULL,
		[TRX_SOURCE_LINE_ID] [float] NULL,
		[TRX_SOURCE_DELIVERY_ID] [float] NULL,
		[REPETITIVE_LINE_ID] [float] NULL,
		[PHYSICAL_ADJUSTMENT_ID] [float] NULL,
		[CYCLE_COUNT_ID] [float] NULL,
		[RMA_LINE_ID] [float] NULL,
		[TRANSFER_TRANSACTION_ID] [float] NULL,
		[TRANSACTION_SET_ID] [float] NULL,
		[RCV_TRANSACTION_ID] [float] NULL,
		[MOVE_TRANSACTION_ID] [float] NULL,
		[COMPLETION_TRANSACTION_ID] [float] NULL,
		[SHORTAGE_PROCESS_CODE] [float] NULL,
		[SOURCE_CODE] [nvarchar](30) NULL,
		[SOURCE_LINE_ID] [float] NULL,
		[VENDOR_LOT_NUMBER] [nvarchar](30) NULL,
		[TRANSFER_ORGANIZATION_ID] [float] NULL,
		[TRANSFER_SUBINVENTORY] [nvarchar](10) NULL,
		[TRANSFER_LOCATOR_ID] [float] NULL,
		[SHIPMENT_NUMBER] [nvarchar](30) NULL,
		[TRANSFER_COST] [float] NULL,
		[TRANSPORTATION_DIST_ACCOUNT] [float] NULL,
		[TRANSPORTATION_COST] [float] NULL,
		[TRANSFER_COST_DIST_ACCOUNT] [float] NULL,
		[WAYBILL_AIRBILL] [nvarchar](30) NULL,
		[FREIGHT_CODE] [nvarchar](30) NULL,
		[NUMBER_OF_CONTAINERS] [float] NULL,
		[VALUE_CHANGE] [float] NULL,
		[PERCENTAGE_CHANGE] [float] NULL,
		[ATTRIBUTE_CATEGORY] [nvarchar](30) NULL,
		[ATTRIBUTE1] [nvarchar](150) NULL,
		[ATTRIBUTE2] [nvarchar](150) NULL,
		[ATTRIBUTE3] [nvarchar](150) NULL,
		[ATTRIBUTE4] [nvarchar](150) NULL,
		[ATTRIBUTE5] [nvarchar](150) NULL,
		[ATTRIBUTE6] [nvarchar](150) NULL,
		[ATTRIBUTE7] [nvarchar](150) NULL,
		[ATTRIBUTE8] [nvarchar](150) NULL,
		[ATTRIBUTE9] [nvarchar](150) NULL,
		[ATTRIBUTE10] [nvarchar](150) NULL,
		[ATTRIBUTE11] [nvarchar](150) NULL,
		[ATTRIBUTE12] [nvarchar](150) NULL,
		[ATTRIBUTE13] [nvarchar](150) NULL,
		[ATTRIBUTE14] [nvarchar](150) NULL,
		[ATTRIBUTE15] [nvarchar](150) NULL,
		[MOVEMENT_ID] [float] NULL,
		[TASK_ID] [numeric](15, 0) NULL,
		[TO_TASK_ID] [numeric](15, 0) NULL,
		[PROJECT_ID] [numeric](15, 0) NULL,
		[TO_PROJECT_ID] [numeric](15, 0) NULL,
		[SOURCE_PROJECT_ID] [float] NULL,
		[PA_EXPENDITURE_ORG_ID] [float] NULL,
		[SOURCE_TASK_ID] [float] NULL,
		[EXPENDITURE_TYPE] [nvarchar](30) NULL,
		[ERROR_CODE] [nvarchar](240) NULL,
		[ERROR_EXPLANATION] [nvarchar](240) NULL,
		[PRIOR_COSTED_QUANTITY] [float] NULL,
		[TRANSFER_PRIOR_COSTED_QUANTITY] [float] NULL,
		[FINAL_COMPLETION_FLAG] [nvarchar](1) NULL,
		[PM_COST_COLLECTED] [nvarchar](1) NULL,
		[PM_COST_COLLECTOR_GROUP_ID] [float] NULL,
		[SHIPMENT_COSTED] [nvarchar](1) NULL,
		[TRANSFER_PERCENTAGE] [float] NULL,
		[MATERIAL_ACCOUNT] [float] NULL,
		[MATERIAL_OVERHEAD_ACCOUNT] [float] NULL,
		[RESOURCE_ACCOUNT] [float] NULL,
		[OUTSIDE_PROCESSING_ACCOUNT] [float] NULL,
		[OVERHEAD_ACCOUNT] [float] NULL,
		[COST_GROUP_ID] [float] NULL,
		[TRANSFER_COST_GROUP_ID] [float] NULL,
		[FLOW_SCHEDULE] [nvarchar](1) NULL,
		[QA_COLLECTION_ID] [float] NULL,
		[OVERCOMPLETION_TRANSACTION_QTY] [float] NULL,
		[OVERCOMPLETION_PRIMARY_QTY] [float] NULL,
		[OVERCOMPLETION_TRANSACTION_ID] [float] NULL,
		[MVT_STAT_STATUS] [nvarchar](240) NULL,
		[COMMON_BOM_SEQ_ID] [float] NULL,
		[COMMON_ROUTING_SEQ_ID] [float] NULL,
		[ORG_COST_GROUP_ID] [float] NULL,
		[COST_TYPE_ID] [float] NULL,
		[PERIODIC_PRIMARY_QUANTITY] [float] NULL,
		[MOVE_ORDER_LINE_ID] [float] NULL,
		[TASK_GROUP_ID] [float] NULL,
		[PICK_SLIP_NUMBER] [float] NULL,
		[LPN_ID] [float] NULL,
		[TRANSFER_LPN_ID] [float] NULL,
		[PICK_STRATEGY_ID] [float] NULL,
		[PICK_RULE_ID] [float] NULL,
		[PUT_AWAY_STRATEGY_ID] [float] NULL,
		[PUT_AWAY_RULE_ID] [float] NULL,
		[CONTENT_LPN_ID] [float] NULL,
		[PICK_SLIP_DATE] [datetime2](7) NULL,
		[COST_CATEGORY_ID] [float] NULL,
		[ORGANIZATION_TYPE] [float] NULL,
		[TRANSFER_ORGANIZATION_TYPE] [float] NULL,
		[OWNING_ORGANIZATION_ID] [float] NULL,
		[OWNING_TP_TYPE] [float] NULL,
		[XFR_OWNING_ORGANIZATION_ID] [float] NULL,
		[TRANSFER_OWNING_TP_TYPE] [float] NULL,
		[PLANNING_ORGANIZATION_ID] [float] NULL,
		[PLANNING_TP_TYPE] [float] NULL,
		[XFR_PLANNING_ORGANIZATION_ID] [float] NULL,
		[TRANSFER_PLANNING_TP_TYPE] [float] NULL,
		[SECONDARY_UOM_CODE] [nvarchar](3) NULL,
		[SECONDARY_TRANSACTION_QUANTITY] [float] NULL,
		[TRANSACTION_GROUP_SEQ] [float] NULL,
		[SHIP_TO_LOCATION_ID] [float] NULL,
		[RESERVATION_ID] [float] NULL,
		[TRANSACTION_MODE] [float] NULL,
		[TRANSACTION_BATCH_ID] [float] NULL,
		[TRANSACTION_BATCH_SEQ] [float] NULL,
		[INTRANSIT_ACCOUNT] [float] NULL,
		[FOB_POINT] [float] NULL,
		[PARENT_TRANSACTION_ID] [float] NULL,
		[LOGICAL_TRX_TYPE_CODE] [float] NULL,
		[TRX_FLOW_HEADER_ID] [float] NULL,
		[LOGICAL_TRANSACTIONS_CREATED] [float] NULL,
		[LOGICAL_TRANSACTION] [float] NULL,
		[INTERCOMPANY_COST] [float] NULL,
		[INTERCOMPANY_PRICING_OPTION] [float] NULL,
		[INTERCOMPANY_CURRENCY_CODE] [nvarchar](15) NULL,
		[ORIGINAL_TRANSACTION_TEMP_ID] [float] NULL,
		[TRANSFER_PRICE] [float] NULL,
		[EXPENSE_ACCOUNT_ID] [float] NULL,
		[COGS_RECOGNITION_PERCENT] [float] NULL,
		[SO_ISSUE_ACCOUNT_TYPE] [float] NULL,
		[OPM_COSTED_FLAG] [nvarchar](1) NULL,
		[MATERIAL_EXPENSE_ACCOUNT] [float] NULL,
		[TRANSACTION_EXTRACTED] [nvarchar](1) NULL,
		[XML_DOCUMENT_ID] [float] NULL,
		[Fingerprint] [varchar](32) NOT NULL
	)

	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Oracle Download', GETDATE()

	INSERT INTO #MaterialTrans 
	SELECT [TRANSACTION_ID]
		  ,[LAST_UPDATE_DATE]
		  ,[LAST_UPDATED_BY]
		  ,[CREATION_DATE]
		  ,[CREATED_BY]
		  ,[LAST_UPDATE_LOGIN]
		  ,[REQUEST_ID]
		  ,[PROGRAM_APPLICATION_ID]
		  ,[PROGRAM_ID]
		  ,[PROGRAM_UPDATE_DATE]
		  ,[INVENTORY_ITEM_ID]
		  ,[REVISION]
		  ,[ORGANIZATION_ID]
		  ,[SUBINVENTORY_CODE]
		  ,[LOCATOR_ID]
		  ,[TRANSACTION_TYPE_ID]
		  ,[TRANSACTION_ACTION_ID]
		  ,[TRANSACTION_SOURCE_TYPE_ID]
		  ,[TRANSACTION_SOURCE_ID]
		  ,[TRANSACTION_SOURCE_NAME]
		  ,[TRANSACTION_QUANTITY]
		  ,[TRANSACTION_UOM]
		  ,[PRIMARY_QUANTITY]
		  ,[TRANSACTION_DATE]
		  ,[VARIANCE_AMOUNT]
		  ,[ACCT_PERIOD_ID]
		  ,[TRANSACTION_REFERENCE]
		  ,[REASON_ID]
		  ,[DISTRIBUTION_ACCOUNT_ID]
		  ,[ENCUMBRANCE_ACCOUNT]
		  ,[ENCUMBRANCE_AMOUNT]
		  ,[COST_UPDATE_ID]
		  ,[COSTED_FLAG]
		  ,[TRANSACTION_GROUP_ID]
		  ,[INVOICED_FLAG]
		  ,[ACTUAL_COST]
		  ,[TRANSACTION_COST]
		  ,[PRIOR_COST]
		  ,[NEW_COST]
		  ,[CURRENCY_CODE]
		  ,[CURRENCY_CONVERSION_RATE]
		  ,[CURRENCY_CONVERSION_TYPE]
		  ,[CURRENCY_CONVERSION_DATE]
		  ,[USSGL_TRANSACTION_CODE]
		  ,[QUANTITY_ADJUSTED]
		  ,[EMPLOYEE_CODE]
		  ,[DEPARTMENT_ID]
		  ,[OPERATION_SEQ_NUM]
		  ,[MASTER_SCHEDULE_UPDATE_CODE]
		  ,[RECEIVING_DOCUMENT]
		  ,[PICKING_LINE_ID]
		  ,[TRX_SOURCE_LINE_ID]
		  ,[TRX_SOURCE_DELIVERY_ID]
		  ,[REPETITIVE_LINE_ID]
		  ,[PHYSICAL_ADJUSTMENT_ID]
		  ,[CYCLE_COUNT_ID]
		  ,[RMA_LINE_ID]
		  ,[TRANSFER_TRANSACTION_ID]
		  ,[TRANSACTION_SET_ID]
		  ,[RCV_TRANSACTION_ID]
		  ,[MOVE_TRANSACTION_ID]
		  ,[COMPLETION_TRANSACTION_ID]
		  ,[SHORTAGE_PROCESS_CODE]
		  ,[SOURCE_CODE]
		  ,[SOURCE_LINE_ID]
		  ,[VENDOR_LOT_NUMBER]
		  ,[TRANSFER_ORGANIZATION_ID]
		  ,[TRANSFER_SUBINVENTORY]
		  ,[TRANSFER_LOCATOR_ID]
		  ,[SHIPMENT_NUMBER]
		  ,[TRANSFER_COST]
		  ,[TRANSPORTATION_DIST_ACCOUNT]
		  ,[TRANSPORTATION_COST]
		  ,[TRANSFER_COST_DIST_ACCOUNT]
		  ,[WAYBILL_AIRBILL]
		  ,[FREIGHT_CODE]
		  ,[NUMBER_OF_CONTAINERS]
		  ,[VALUE_CHANGE]
		  ,[PERCENTAGE_CHANGE]
		  ,[ATTRIBUTE_CATEGORY]
		  ,[ATTRIBUTE1]
		  ,[ATTRIBUTE2]
		  ,[ATTRIBUTE3]
		  ,[ATTRIBUTE4]
		  ,[ATTRIBUTE5]
		  ,[ATTRIBUTE6]
		  ,[ATTRIBUTE7]
		  ,[ATTRIBUTE8]
		  ,[ATTRIBUTE9]
		  ,[ATTRIBUTE10]
		  ,[ATTRIBUTE11]
		  ,[ATTRIBUTE12]
		  ,[ATTRIBUTE13]
		  ,[ATTRIBUTE14]
		  ,[ATTRIBUTE15]
		  ,[MOVEMENT_ID]
		  ,[TASK_ID]
		  ,[TO_TASK_ID]
		  ,[PROJECT_ID]
		  ,[TO_PROJECT_ID]
		  ,[SOURCE_PROJECT_ID]
		  ,[PA_EXPENDITURE_ORG_ID]
		  ,[SOURCE_TASK_ID]
		  ,[EXPENDITURE_TYPE]
		  ,[ERROR_CODE]
		  ,[ERROR_EXPLANATION]
		  ,[PRIOR_COSTED_QUANTITY]
		  ,[TRANSFER_PRIOR_COSTED_QUANTITY]
		  ,[FINAL_COMPLETION_FLAG]
		  ,[PM_COST_COLLECTED]
		  ,[PM_COST_COLLECTOR_GROUP_ID]
		  ,[SHIPMENT_COSTED]
		  ,[TRANSFER_PERCENTAGE]
		  ,[MATERIAL_ACCOUNT]
		  ,[MATERIAL_OVERHEAD_ACCOUNT]
		  ,[RESOURCE_ACCOUNT]
		  ,[OUTSIDE_PROCESSING_ACCOUNT]
		  ,[OVERHEAD_ACCOUNT]
		  ,[COST_GROUP_ID]
		  ,[TRANSFER_COST_GROUP_ID]
		  ,[FLOW_SCHEDULE]
		  ,[QA_COLLECTION_ID]
		  ,[OVERCOMPLETION_TRANSACTION_QTY]
		  ,[OVERCOMPLETION_PRIMARY_QTY]
		  ,[OVERCOMPLETION_TRANSACTION_ID]
		  ,[MVT_STAT_STATUS]
		  ,[COMMON_BOM_SEQ_ID]
		  ,[COMMON_ROUTING_SEQ_ID]
		  ,[ORG_COST_GROUP_ID]
		  ,[COST_TYPE_ID]
		  ,[PERIODIC_PRIMARY_QUANTITY]
		  ,[MOVE_ORDER_LINE_ID]
		  ,[TASK_GROUP_ID]
		  ,[PICK_SLIP_NUMBER]
		  ,[LPN_ID]
		  ,[TRANSFER_LPN_ID]
		  ,[PICK_STRATEGY_ID]
		  ,[PICK_RULE_ID]
		  ,[PUT_AWAY_STRATEGY_ID]
		  ,[PUT_AWAY_RULE_ID]
		  ,[CONTENT_LPN_ID]
		  ,[PICK_SLIP_DATE]
		  ,[COST_CATEGORY_ID]
		  ,[ORGANIZATION_TYPE]
		  ,[TRANSFER_ORGANIZATION_TYPE]
		  ,[OWNING_ORGANIZATION_ID]
		  ,[OWNING_TP_TYPE]
		  ,[XFR_OWNING_ORGANIZATION_ID]
		  ,[TRANSFER_OWNING_TP_TYPE]
		  ,[PLANNING_ORGANIZATION_ID]
		  ,[PLANNING_TP_TYPE]
		  ,[XFR_PLANNING_ORGANIZATION_ID]
		  ,[TRANSFER_PLANNING_TP_TYPE]
		  ,[SECONDARY_UOM_CODE]
		  ,[SECONDARY_TRANSACTION_QUANTITY]
		  ,[TRANSACTION_GROUP_SEQ]
		  ,[SHIP_TO_LOCATION_ID]
		  ,[RESERVATION_ID]
		  ,[TRANSACTION_MODE]
		  ,[TRANSACTION_BATCH_ID]
		  ,[TRANSACTION_BATCH_SEQ]
		  ,[INTRANSIT_ACCOUNT]
		  ,[FOB_POINT]
		  ,[PARENT_TRANSACTION_ID]
		  ,[LOGICAL_TRX_TYPE_CODE]
		  ,[TRX_FLOW_HEADER_ID]
		  ,[LOGICAL_TRANSACTIONS_CREATED]
		  ,[LOGICAL_TRANSACTION]
		  ,[INTERCOMPANY_COST]
		  ,[INTERCOMPANY_PRICING_OPTION]
		  ,[INTERCOMPANY_CURRENCY_CODE]
		  ,[ORIGINAL_TRANSACTION_TEMP_ID]
		  ,[TRANSFER_PRICE]
		  ,[EXPENSE_ACCOUNT_ID]
		  ,[COGS_RECOGNITION_PERCENT]
		  ,[SO_ISSUE_ACCOUNT_TYPE]
		  ,[OPM_COSTED_FLAG]
		  ,[MATERIAL_EXPENSE_ACCOUNT]
		  ,[TRANSACTION_EXTRACTED]
		  ,[XML_DOCUMENT_ID]
		  ,'XXX' AS [Fingerprint]
	FROM OPENQUERY(PROD,'
		SELECT * FROM INV.MTL_MATERIAL_TRANSACTIONS 
		--WHERE (LAST_UPDATE_DATE >= TO_DATE(''20210101'',''YYYYMMDD'') AND LAST_UPDATE_DATE < TO_DATE(''20210201'',''YYYYMMDD''))
		--	OR (CREATION_DATE >= TO_DATE(''20210101'',''YYYYMMDD'') AND CREATION_DATE < TO_DATE(''20210201'',''YYYYMMDD'')) 
		WHERE CREATION_DATE >= SYSDATE - 5 OR LAST_UPDATE_DATE >= SYSDATE - 5')



	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Fingerprint', GETDATE()

	/*
		DECLARE @columnList VARCHAR(MAX) = dbo.getHashField ('MTL_MATERIAL_TRANSACTIONS','Oracle') SELECT @columnList
	*/

	UPDATE #MaterialTrans
	SET Fingerprint = 
		SUBSTRING(LOWER(CONVERT(VARCHAR(32),HASHBYTES('MD5',
			--replace @columnList result here
				 CAST(ISNULL(TRANSACTION_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(LAST_UPDATE_DATE,'') AS VARCHAR(100)) +  CAST(ISNULL(LAST_UPDATED_BY,'0') AS VARCHAR(100)) +  CAST(ISNULL(CREATION_DATE,'') AS VARCHAR(100)) +  CAST(ISNULL(CREATED_BY,'0') AS VARCHAR(100)) +  CAST(ISNULL(LAST_UPDATE_LOGIN,'0') AS VARCHAR(100)) +  CAST(ISNULL(REQUEST_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(PROGRAM_APPLICATION_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(PROGRAM_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(PROGRAM_UPDATE_DATE,'') AS VARCHAR(100)) +  CAST(ISNULL(INVENTORY_ITEM_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(REVISION,'') AS VARCHAR(3)) +  CAST(ISNULL(ORGANIZATION_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(SUBINVENTORY_CODE,'') AS VARCHAR(10)) +  CAST(ISNULL(LOCATOR_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(TRANSACTION_TYPE_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(TRANSACTION_ACTION_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(TRANSACTION_SOURCE_TYPE_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(TRANSACTION_SOURCE_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(TRANSACTION_SOURCE_NAME,'') AS VARCHAR(80)) +  CAST(ISNULL(TRANSACTION_QUANTITY,'0') AS VARCHAR(100)) +  CAST(ISNULL(TRANSACTION_UOM,'') AS VARCHAR(3)) +  CAST(ISNULL(PRIMARY_QUANTITY,'0') AS VARCHAR(100)) +  CAST(ISNULL(TRANSACTION_DATE,'') AS VARCHAR(100)) +  CAST(ISNULL(VARIANCE_AMOUNT,'0') AS VARCHAR(100)) +  CAST(ISNULL(ACCT_PERIOD_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(TRANSACTION_REFERENCE,'') AS VARCHAR(240)) +  CAST(ISNULL(REASON_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(DISTRIBUTION_ACCOUNT_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(ENCUMBRANCE_ACCOUNT,'0') AS VARCHAR(100)) +  CAST(ISNULL(ENCUMBRANCE_AMOUNT,'0') AS VARCHAR(100)) +  CAST(ISNULL(COST_UPDATE_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(COSTED_FLAG,'') AS VARCHAR(1)) +  CAST(ISNULL(TRANSACTION_GROUP_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(INVOICED_FLAG,'') AS VARCHAR(1)) +  CAST(ISNULL(ACTUAL_COST,'0') AS VARCHAR(100)) +  CAST(ISNULL(TRANSACTION_COST,'0') AS VARCHAR(100)) +  CAST(ISNULL(PRIOR_COST,'0') AS VARCHAR(100)) +  CAST(ISNULL(NEW_COST,'0') AS VARCHAR(100)) +  CAST(ISNULL(CURRENCY_CODE,'') AS VARCHAR(10)) +  CAST(ISNULL(CURRENCY_CONVERSION_RATE,'0') AS VARCHAR(100)) +  CAST(ISNULL(CURRENCY_CONVERSION_TYPE,'') AS VARCHAR(30)) +  CAST(ISNULL(CURRENCY_CONVERSION_DATE,'') AS VARCHAR(100)) +  CAST(ISNULL(USSGL_TRANSACTION_CODE,'') AS VARCHAR(30)) +  CAST(ISNULL(QUANTITY_ADJUSTED,'0') AS VARCHAR(100)) +  CAST(ISNULL(EMPLOYEE_CODE,'') AS VARCHAR(10)) +  CAST(ISNULL(DEPARTMENT_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(OPERATION_SEQ_NUM,'0') AS VARCHAR(100)) +  CAST(ISNULL(MASTER_SCHEDULE_UPDATE_CODE,'') AS VARCHAR(10)) +  CAST(ISNULL(RECEIVING_DOCUMENT,'') AS VARCHAR(10)) +  CAST(ISNULL(PICKING_LINE_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(TRX_SOURCE_LINE_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(TRX_SOURCE_DELIVERY_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(REPETITIVE_LINE_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(PHYSICAL_ADJUSTMENT_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(CYCLE_COUNT_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(RMA_LINE_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(TRANSFER_TRANSACTION_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(TRANSACTION_SET_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(RCV_TRANSACTION_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(MOVE_TRANSACTION_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(COMPLETION_TRANSACTION_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(SHORTAGE_PROCESS_CODE,'0') AS VARCHAR(100)) +  CAST(ISNULL(SOURCE_CODE,'') AS VARCHAR(30)) +  CAST(ISNULL(SOURCE_LINE_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(VENDOR_LOT_NUMBER,'') AS VARCHAR(30)) +  CAST(ISNULL(TRANSFER_ORGANIZATION_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(TRANSFER_SUBINVENTORY,'') AS VARCHAR(10)) +  CAST(ISNULL(TRANSFER_LOCATOR_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(SHIPMENT_NUMBER,'') AS VARCHAR(30)) +  CAST(ISNULL(TRANSFER_COST,'0') AS VARCHAR(100)) +  CAST(ISNULL(TRANSPORTATION_DIST_ACCOUNT,'0') AS VARCHAR(100)) +  CAST(ISNULL(TRANSPORTATION_COST,'0') AS VARCHAR(100)) +  CAST(ISNULL(TRANSFER_COST_DIST_ACCOUNT,'0') AS VARCHAR(100)) +  CAST(ISNULL(WAYBILL_AIRBILL,'') AS VARCHAR(30)) +  CAST(ISNULL(FREIGHT_CODE,'') AS VARCHAR(30)) +  CAST(ISNULL(NUMBER_OF_CONTAINERS,'0') AS VARCHAR(100)) +  CAST(ISNULL(VALUE_CHANGE,'0') AS VARCHAR(100)) +  CAST(ISNULL(PERCENTAGE_CHANGE,'0') AS VARCHAR(100)) +  CAST(ISNULL(ATTRIBUTE_CATEGORY,'') AS VARCHAR(30)) +  CAST(ISNULL(ATTRIBUTE1,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE2,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE3,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE4,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE5,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE6,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE7,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE8,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE9,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE10,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE11,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE12,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE13,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE14,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE15,'') AS VARCHAR(150)) +  CAST(ISNULL(MOVEMENT_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(TASK_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(TO_TASK_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(PROJECT_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(TO_PROJECT_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(SOURCE_PROJECT_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(PA_EXPENDITURE_ORG_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(SOURCE_TASK_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(EXPENDITURE_TYPE,'') AS VARCHAR(30)) +  CAST(ISNULL(ERROR_CODE,'') AS VARCHAR(240)) +  CAST(ISNULL(ERROR_EXPLANATION,'') AS VARCHAR(240)) +  CAST(ISNULL(PRIOR_COSTED_QUANTITY,'0') AS VARCHAR(100)) +  CAST(ISNULL(TRANSFER_PRIOR_COSTED_QUANTITY,'0') AS VARCHAR(100)) +  CAST(ISNULL(FINAL_COMPLETION_FLAG,'') AS VARCHAR(1)) +  CAST(ISNULL(PM_COST_COLLECTED,'') AS VARCHAR(1)) +  CAST(ISNULL(PM_COST_COLLECTOR_GROUP_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(SHIPMENT_COSTED,'') AS VARCHAR(1)) +  CAST(ISNULL(TRANSFER_PERCENTAGE,'0') AS VARCHAR(100)) +  CAST(ISNULL(MATERIAL_ACCOUNT,'0') AS VARCHAR(100)) +  CAST(ISNULL(MATERIAL_OVERHEAD_ACCOUNT,'0') AS VARCHAR(100)) +  CAST(ISNULL(RESOURCE_ACCOUNT,'0') AS VARCHAR(100)) +  CAST(ISNULL(OUTSIDE_PROCESSING_ACCOUNT,'0') AS VARCHAR(100)) +  CAST(ISNULL(OVERHEAD_ACCOUNT,'0') AS VARCHAR(100)) +  CAST(ISNULL(COST_GROUP_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(TRANSFER_COST_GROUP_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(FLOW_SCHEDULE,'') AS VARCHAR(1)) +  CAST(ISNULL(QA_COLLECTION_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(OVERCOMPLETION_TRANSACTION_QTY,'0') AS VARCHAR(100)) +  CAST(ISNULL(OVERCOMPLETION_PRIMARY_QTY,'0') AS VARCHAR(100)) +  CAST(ISNULL(OVERCOMPLETION_TRANSACTION_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(MVT_STAT_STATUS,'') AS VARCHAR(240)) +  CAST(ISNULL(COMMON_BOM_SEQ_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(COMMON_ROUTING_SEQ_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(ORG_COST_GROUP_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(COST_TYPE_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(PERIODIC_PRIMARY_QUANTITY,'0') AS VARCHAR(100)) +  CAST(ISNULL(MOVE_ORDER_LINE_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(TASK_GROUP_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(PICK_SLIP_NUMBER,'0') AS VARCHAR(100)) +  CAST(ISNULL(LPN_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(TRANSFER_LPN_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(PICK_STRATEGY_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(PICK_RULE_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(PUT_AWAY_STRATEGY_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(PUT_AWAY_RULE_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(CONTENT_LPN_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(PICK_SLIP_DATE,'') AS VARCHAR(100)) +  CAST(ISNULL(COST_CATEGORY_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(ORGANIZATION_TYPE,'0') AS VARCHAR(100)) +  CAST(ISNULL(TRANSFER_ORGANIZATION_TYPE,'0') AS VARCHAR(100)) +  CAST(ISNULL(OWNING_ORGANIZATION_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(OWNING_TP_TYPE,'0') AS VARCHAR(100)) +  CAST(ISNULL(XFR_OWNING_ORGANIZATION_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(TRANSFER_OWNING_TP_TYPE,'0') AS VARCHAR(100)) +  CAST(ISNULL(PLANNING_ORGANIZATION_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(PLANNING_TP_TYPE,'0') AS VARCHAR(100)) +  CAST(ISNULL(XFR_PLANNING_ORGANIZATION_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(TRANSFER_PLANNING_TP_TYPE,'0') AS VARCHAR(100)) +  CAST(ISNULL(SECONDARY_UOM_CODE,'') AS VARCHAR(3)) +  CAST(ISNULL(SECONDARY_TRANSACTION_QUANTITY,'0') AS VARCHAR(100)) +  CAST(ISNULL(TRANSACTION_GROUP_SEQ,'0') AS VARCHAR(100)) +  CAST(ISNULL(SHIP_TO_LOCATION_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(RESERVATION_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(TRANSACTION_MODE,'0') AS VARCHAR(100)) +  CAST(ISNULL(TRANSACTION_BATCH_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(TRANSACTION_BATCH_SEQ,'0') AS VARCHAR(100)) +  CAST(ISNULL(INTRANSIT_ACCOUNT,'0') AS VARCHAR(100)) +  CAST(ISNULL(FOB_POINT,'0') AS VARCHAR(100)) +  CAST(ISNULL(PARENT_TRANSACTION_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(LOGICAL_TRX_TYPE_CODE,'0') AS VARCHAR(100)) +  CAST(ISNULL(TRX_FLOW_HEADER_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(LOGICAL_TRANSACTIONS_CREATED,'0') AS VARCHAR(100)) +  CAST(ISNULL(LOGICAL_TRANSACTION,'0') AS VARCHAR(100)) +  CAST(ISNULL(INTERCOMPANY_COST,'0') AS VARCHAR(100)) +  CAST(ISNULL(INTERCOMPANY_PRICING_OPTION,'0') AS VARCHAR(100)) +  CAST(ISNULL(INTERCOMPANY_CURRENCY_CODE,'') AS VARCHAR(15)) +  CAST(ISNULL(ORIGINAL_TRANSACTION_TEMP_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(TRANSFER_PRICE,'0') AS VARCHAR(100)) +  CAST(ISNULL(EXPENSE_ACCOUNT_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(COGS_RECOGNITION_PERCENT,'0') AS VARCHAR(100)) +  CAST(ISNULL(SO_ISSUE_ACCOUNT_TYPE,'0') AS VARCHAR(100)) +  CAST(ISNULL(OPM_COSTED_FLAG,'') AS VARCHAR(1)) +  CAST(ISNULL(MATERIAL_EXPENSE_ACCOUNT,'0') AS VARCHAR(100)) +  CAST(ISNULL(TRANSACTION_EXTRACTED,'') AS VARCHAR(1)) +  CAST(ISNULL(XML_DOCUMENT_ID,'0') AS VARCHAR(100)) 
		),1)),3,32);


	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Merge', GETDATE()

	INSERT INTO Oracle.INV_MTL_MATERIAL_TRANSACTIONS (
			  [TRANSACTION_ID]
			  ,[LAST_UPDATE_DATE]
			  ,[LAST_UPDATED_BY]
			  ,[CREATION_DATE]
			  ,[CREATED_BY]
			  ,[LAST_UPDATE_LOGIN]
			  ,[REQUEST_ID]
			  ,[PROGRAM_APPLICATION_ID]
			  ,[PROGRAM_ID]
			  ,[PROGRAM_UPDATE_DATE]
			  ,[INVENTORY_ITEM_ID]
			  ,[REVISION]
			  ,[ORGANIZATION_ID]
			  ,[SUBINVENTORY_CODE]
			  ,[LOCATOR_ID]
			  ,[TRANSACTION_TYPE_ID]
			  ,[TRANSACTION_ACTION_ID]
			  ,[TRANSACTION_SOURCE_TYPE_ID]
			  ,[TRANSACTION_SOURCE_ID]
			  ,[TRANSACTION_SOURCE_NAME]
			  ,[TRANSACTION_QUANTITY]
			  ,[TRANSACTION_UOM]
			  ,[PRIMARY_QUANTITY]
			  ,[TRANSACTION_DATE]
			  ,[VARIANCE_AMOUNT]
			  ,[ACCT_PERIOD_ID]
			  ,[TRANSACTION_REFERENCE]
			  ,[REASON_ID]
			  ,[DISTRIBUTION_ACCOUNT_ID]
			  ,[ENCUMBRANCE_ACCOUNT]
			  ,[ENCUMBRANCE_AMOUNT]
			  ,[COST_UPDATE_ID]
			  ,[COSTED_FLAG]
			  ,[TRANSACTION_GROUP_ID]
			  ,[INVOICED_FLAG]
			  ,[ACTUAL_COST]
			  ,[TRANSACTION_COST]
			  ,[PRIOR_COST]
			  ,[NEW_COST]
			  ,[CURRENCY_CODE]
			  ,[CURRENCY_CONVERSION_RATE]
			  ,[CURRENCY_CONVERSION_TYPE]
			  ,[CURRENCY_CONVERSION_DATE]
			  ,[USSGL_TRANSACTION_CODE]
			  ,[QUANTITY_ADJUSTED]
			  ,[EMPLOYEE_CODE]
			  ,[DEPARTMENT_ID]
			  ,[OPERATION_SEQ_NUM]
			  ,[MASTER_SCHEDULE_UPDATE_CODE]
			  ,[RECEIVING_DOCUMENT]
			  ,[PICKING_LINE_ID]
			  ,[TRX_SOURCE_LINE_ID]
			  ,[TRX_SOURCE_DELIVERY_ID]
			  ,[REPETITIVE_LINE_ID]
			  ,[PHYSICAL_ADJUSTMENT_ID]
			  ,[CYCLE_COUNT_ID]
			  ,[RMA_LINE_ID]
			  ,[TRANSFER_TRANSACTION_ID]
			  ,[TRANSACTION_SET_ID]
			  ,[RCV_TRANSACTION_ID]
			  ,[MOVE_TRANSACTION_ID]
			  ,[COMPLETION_TRANSACTION_ID]
			  ,[SHORTAGE_PROCESS_CODE]
			  ,[SOURCE_CODE]
			  ,[SOURCE_LINE_ID]
			  ,[VENDOR_LOT_NUMBER]
			  ,[TRANSFER_ORGANIZATION_ID]
			  ,[TRANSFER_SUBINVENTORY]
			  ,[TRANSFER_LOCATOR_ID]
			  ,[SHIPMENT_NUMBER]
			  ,[TRANSFER_COST]
			  ,[TRANSPORTATION_DIST_ACCOUNT]
			  ,[TRANSPORTATION_COST]
			  ,[TRANSFER_COST_DIST_ACCOUNT]
			  ,[WAYBILL_AIRBILL]
			  ,[FREIGHT_CODE]
			  ,[NUMBER_OF_CONTAINERS]
			  ,[VALUE_CHANGE]
			  ,[PERCENTAGE_CHANGE]
			  ,[ATTRIBUTE_CATEGORY]
			  ,[ATTRIBUTE1]
			  ,[ATTRIBUTE2]
			  ,[ATTRIBUTE3]
			  ,[ATTRIBUTE4]
			  ,[ATTRIBUTE5]
			  ,[ATTRIBUTE6]
			  ,[ATTRIBUTE7]
			  ,[ATTRIBUTE8]
			  ,[ATTRIBUTE9]
			  ,[ATTRIBUTE10]
			  ,[ATTRIBUTE11]
			  ,[ATTRIBUTE12]
			  ,[ATTRIBUTE13]
			  ,[ATTRIBUTE14]
			  ,[ATTRIBUTE15]
			  ,[MOVEMENT_ID]
			  ,[TASK_ID]
			  ,[TO_TASK_ID]
			  ,[PROJECT_ID]
			  ,[TO_PROJECT_ID]
			  ,[SOURCE_PROJECT_ID]
			  ,[PA_EXPENDITURE_ORG_ID]
			  ,[SOURCE_TASK_ID]
			  ,[EXPENDITURE_TYPE]
			  ,[ERROR_CODE]
			  ,[ERROR_EXPLANATION]
			  ,[PRIOR_COSTED_QUANTITY]
			  ,[TRANSFER_PRIOR_COSTED_QUANTITY]
			  ,[FINAL_COMPLETION_FLAG]
			  ,[PM_COST_COLLECTED]
			  ,[PM_COST_COLLECTOR_GROUP_ID]
			  ,[SHIPMENT_COSTED]
			  ,[TRANSFER_PERCENTAGE]
			  ,[MATERIAL_ACCOUNT]
			  ,[MATERIAL_OVERHEAD_ACCOUNT]
			  ,[RESOURCE_ACCOUNT]
			  ,[OUTSIDE_PROCESSING_ACCOUNT]
			  ,[OVERHEAD_ACCOUNT]
			  ,[COST_GROUP_ID]
			  ,[TRANSFER_COST_GROUP_ID]
			  ,[FLOW_SCHEDULE]
			  ,[QA_COLLECTION_ID]
			  ,[OVERCOMPLETION_TRANSACTION_QTY]
			  ,[OVERCOMPLETION_PRIMARY_QTY]
			  ,[OVERCOMPLETION_TRANSACTION_ID]
			  ,[MVT_STAT_STATUS]
			  ,[COMMON_BOM_SEQ_ID]
			  ,[COMMON_ROUTING_SEQ_ID]
			  ,[ORG_COST_GROUP_ID]
			  ,[COST_TYPE_ID]
			  ,[PERIODIC_PRIMARY_QUANTITY]
			  ,[MOVE_ORDER_LINE_ID]
			  ,[TASK_GROUP_ID]
			  ,[PICK_SLIP_NUMBER]
			  ,[LPN_ID]
			  ,[TRANSFER_LPN_ID]
			  ,[PICK_STRATEGY_ID]
			  ,[PICK_RULE_ID]
			  ,[PUT_AWAY_STRATEGY_ID]
			  ,[PUT_AWAY_RULE_ID]
			  ,[CONTENT_LPN_ID]
			  ,[PICK_SLIP_DATE]
			  ,[COST_CATEGORY_ID]
			  ,[ORGANIZATION_TYPE]
			  ,[TRANSFER_ORGANIZATION_TYPE]
			  ,[OWNING_ORGANIZATION_ID]
			  ,[OWNING_TP_TYPE]
			  ,[XFR_OWNING_ORGANIZATION_ID]
			  ,[TRANSFER_OWNING_TP_TYPE]
			  ,[PLANNING_ORGANIZATION_ID]
			  ,[PLANNING_TP_TYPE]
			  ,[XFR_PLANNING_ORGANIZATION_ID]
			  ,[TRANSFER_PLANNING_TP_TYPE]
			  ,[SECONDARY_UOM_CODE]
			  ,[SECONDARY_TRANSACTION_QUANTITY]
			  ,[TRANSACTION_GROUP_SEQ]
			  ,[SHIP_TO_LOCATION_ID]
			  ,[RESERVATION_ID]
			  ,[TRANSACTION_MODE]
			  ,[TRANSACTION_BATCH_ID]
			  ,[TRANSACTION_BATCH_SEQ]
			  ,[INTRANSIT_ACCOUNT]
			  ,[FOB_POINT]
			  ,[PARENT_TRANSACTION_ID]
			  ,[LOGICAL_TRX_TYPE_CODE]
			  ,[TRX_FLOW_HEADER_ID]
			  ,[LOGICAL_TRANSACTIONS_CREATED]
			  ,[LOGICAL_TRANSACTION]
			  ,[INTERCOMPANY_COST]
			  ,[INTERCOMPANY_PRICING_OPTION]
			  ,[INTERCOMPANY_CURRENCY_CODE]
			  ,[ORIGINAL_TRANSACTION_TEMP_ID]
			  ,[TRANSFER_PRICE]
			  ,[EXPENSE_ACCOUNT_ID]
			  ,[COGS_RECOGNITION_PERCENT]
			  ,[SO_ISSUE_ACCOUNT_TYPE]
			  ,[OPM_COSTED_FLAG]
			  ,[MATERIAL_EXPENSE_ACCOUNT]
			  ,[TRANSACTION_EXTRACTED]
			  ,[XML_DOCUMENT_ID]
			  ,[Fingerprint]
		)
			SELECT 
			  a.[TRANSACTION_ID]
			  ,a.[LAST_UPDATE_DATE]
			  ,a.[LAST_UPDATED_BY]
			  ,a.[CREATION_DATE]
			  ,a.[CREATED_BY]
			  ,a.[LAST_UPDATE_LOGIN]
			  ,a.[REQUEST_ID]
			  ,a.[PROGRAM_APPLICATION_ID]
			  ,a.[PROGRAM_ID]
			  ,a.[PROGRAM_UPDATE_DATE]
			  ,a.[INVENTORY_ITEM_ID]
			  ,a.[REVISION]
			  ,a.[ORGANIZATION_ID]
			  ,a.[SUBINVENTORY_CODE]
			  ,a.[LOCATOR_ID]
			  ,a.[TRANSACTION_TYPE_ID]
			  ,a.[TRANSACTION_ACTION_ID]
			  ,a.[TRANSACTION_SOURCE_TYPE_ID]
			  ,a.[TRANSACTION_SOURCE_ID]
			  ,a.[TRANSACTION_SOURCE_NAME]
			  ,a.[TRANSACTION_QUANTITY]
			  ,a.[TRANSACTION_UOM]
			  ,a.[PRIMARY_QUANTITY]
			  ,a.[TRANSACTION_DATE]
			  ,a.[VARIANCE_AMOUNT]
			  ,a.[ACCT_PERIOD_ID]
			  ,a.[TRANSACTION_REFERENCE]
			  ,a.[REASON_ID]
			  ,a.[DISTRIBUTION_ACCOUNT_ID]
			  ,a.[ENCUMBRANCE_ACCOUNT]
			  ,a.[ENCUMBRANCE_AMOUNT]
			  ,a.[COST_UPDATE_ID]
			  ,a.[COSTED_FLAG]
			  ,a.[TRANSACTION_GROUP_ID]
			  ,a.[INVOICED_FLAG]
			  ,a.[ACTUAL_COST]
			  ,a.[TRANSACTION_COST]
			  ,a.[PRIOR_COST]
			  ,a.[NEW_COST]
			  ,a.[CURRENCY_CODE]
			  ,a.[CURRENCY_CONVERSION_RATE]
			  ,a.[CURRENCY_CONVERSION_TYPE]
			  ,a.[CURRENCY_CONVERSION_DATE]
			  ,a.[USSGL_TRANSACTION_CODE]
			  ,a.[QUANTITY_ADJUSTED]
			  ,a.[EMPLOYEE_CODE]
			  ,a.[DEPARTMENT_ID]
			  ,a.[OPERATION_SEQ_NUM]
			  ,a.[MASTER_SCHEDULE_UPDATE_CODE]
			  ,a.[RECEIVING_DOCUMENT]
			  ,a.[PICKING_LINE_ID]
			  ,a.[TRX_SOURCE_LINE_ID]
			  ,a.[TRX_SOURCE_DELIVERY_ID]
			  ,a.[REPETITIVE_LINE_ID]
			  ,a.[PHYSICAL_ADJUSTMENT_ID]
			  ,a.[CYCLE_COUNT_ID]
			  ,a.[RMA_LINE_ID]
			  ,a.[TRANSFER_TRANSACTION_ID]
			  ,a.[TRANSACTION_SET_ID]
			  ,a.[RCV_TRANSACTION_ID]
			  ,a.[MOVE_TRANSACTION_ID]
			  ,a.[COMPLETION_TRANSACTION_ID]
			  ,a.[SHORTAGE_PROCESS_CODE]
			  ,a.[SOURCE_CODE]
			  ,a.[SOURCE_LINE_ID]
			  ,a.[VENDOR_LOT_NUMBER]
			  ,a.[TRANSFER_ORGANIZATION_ID]
			  ,a.[TRANSFER_SUBINVENTORY]
			  ,a.[TRANSFER_LOCATOR_ID]
			  ,a.[SHIPMENT_NUMBER]
			  ,a.[TRANSFER_COST]
			  ,a.[TRANSPORTATION_DIST_ACCOUNT]
			  ,a.[TRANSPORTATION_COST]
			  ,a.[TRANSFER_COST_DIST_ACCOUNT]
			  ,a.[WAYBILL_AIRBILL]
			  ,a.[FREIGHT_CODE]
			  ,a.[NUMBER_OF_CONTAINERS]
			  ,a.[VALUE_CHANGE]
			  ,a.[PERCENTAGE_CHANGE]
			  ,a.[ATTRIBUTE_CATEGORY]
			  ,a.[ATTRIBUTE1]
			  ,a.[ATTRIBUTE2]
			  ,a.[ATTRIBUTE3]
			  ,a.[ATTRIBUTE4]
			  ,a.[ATTRIBUTE5]
			  ,a.[ATTRIBUTE6]
			  ,a.[ATTRIBUTE7]
			  ,a.[ATTRIBUTE8]
			  ,a.[ATTRIBUTE9]
			  ,a.[ATTRIBUTE10]
			  ,a.[ATTRIBUTE11]
			  ,a.[ATTRIBUTE12]
			  ,a.[ATTRIBUTE13]
			  ,a.[ATTRIBUTE14]
			  ,a.[ATTRIBUTE15]
			  ,a.[MOVEMENT_ID]
			  ,a.[TASK_ID]
			  ,a.[TO_TASK_ID]
			  ,a.[PROJECT_ID]
			  ,a.[TO_PROJECT_ID]
			  ,a.[SOURCE_PROJECT_ID]
			  ,a.[PA_EXPENDITURE_ORG_ID]
			  ,a.[SOURCE_TASK_ID]
			  ,a.[EXPENDITURE_TYPE]
			  ,a.[ERROR_CODE]
			  ,a.[ERROR_EXPLANATION]
			  ,a.[PRIOR_COSTED_QUANTITY]
			  ,a.[TRANSFER_PRIOR_COSTED_QUANTITY]
			  ,a.[FINAL_COMPLETION_FLAG]
			  ,a.[PM_COST_COLLECTED]
			  ,a.[PM_COST_COLLECTOR_GROUP_ID]
			  ,a.[SHIPMENT_COSTED]
			  ,a.[TRANSFER_PERCENTAGE]
			  ,a.[MATERIAL_ACCOUNT]
			  ,a.[MATERIAL_OVERHEAD_ACCOUNT]
			  ,a.[RESOURCE_ACCOUNT]
			  ,a.[OUTSIDE_PROCESSING_ACCOUNT]
			  ,a.[OVERHEAD_ACCOUNT]
			  ,a.[COST_GROUP_ID]
			  ,a.[TRANSFER_COST_GROUP_ID]
			  ,a.[FLOW_SCHEDULE]
			  ,a.[QA_COLLECTION_ID]
			  ,a.[OVERCOMPLETION_TRANSACTION_QTY]
			  ,a.[OVERCOMPLETION_PRIMARY_QTY]
			  ,a.[OVERCOMPLETION_TRANSACTION_ID]
			  ,a.[MVT_STAT_STATUS]
			  ,a.[COMMON_BOM_SEQ_ID]
			  ,a.[COMMON_ROUTING_SEQ_ID]
			  ,a.[ORG_COST_GROUP_ID]
			  ,a.[COST_TYPE_ID]
			  ,a.[PERIODIC_PRIMARY_QUANTITY]
			  ,a.[MOVE_ORDER_LINE_ID]
			  ,a.[TASK_GROUP_ID]
			  ,a.[PICK_SLIP_NUMBER]
			  ,a.[LPN_ID]
			  ,a.[TRANSFER_LPN_ID]
			  ,a.[PICK_STRATEGY_ID]
			  ,a.[PICK_RULE_ID]
			  ,a.[PUT_AWAY_STRATEGY_ID]
			  ,a.[PUT_AWAY_RULE_ID]
			  ,a.[CONTENT_LPN_ID]
			  ,a.[PICK_SLIP_DATE]
			  ,a.[COST_CATEGORY_ID]
			  ,a.[ORGANIZATION_TYPE]
			  ,a.[TRANSFER_ORGANIZATION_TYPE]
			  ,a.[OWNING_ORGANIZATION_ID]
			  ,a.[OWNING_TP_TYPE]
			  ,a.[XFR_OWNING_ORGANIZATION_ID]
			  ,a.[TRANSFER_OWNING_TP_TYPE]
			  ,a.[PLANNING_ORGANIZATION_ID]
			  ,a.[PLANNING_TP_TYPE]
			  ,a.[XFR_PLANNING_ORGANIZATION_ID]
			  ,a.[TRANSFER_PLANNING_TP_TYPE]
			  ,a.[SECONDARY_UOM_CODE]
			  ,a.[SECONDARY_TRANSACTION_QUANTITY]
			  ,a.[TRANSACTION_GROUP_SEQ]
			  ,a.[SHIP_TO_LOCATION_ID]
			  ,a.[RESERVATION_ID]
			  ,a.[TRANSACTION_MODE]
			  ,a.[TRANSACTION_BATCH_ID]
			  ,a.[TRANSACTION_BATCH_SEQ]
			  ,a.[INTRANSIT_ACCOUNT]
			  ,a.[FOB_POINT]
			  ,a.[PARENT_TRANSACTION_ID]
			  ,a.[LOGICAL_TRX_TYPE_CODE]
			  ,a.[TRX_FLOW_HEADER_ID]
			  ,a.[LOGICAL_TRANSACTIONS_CREATED]
			  ,a.[LOGICAL_TRANSACTION]
			  ,a.[INTERCOMPANY_COST]
			  ,a.[INTERCOMPANY_PRICING_OPTION]
			  ,a.[INTERCOMPANY_CURRENCY_CODE]
			  ,a.[ORIGINAL_TRANSACTION_TEMP_ID]
			  ,a.[TRANSFER_PRICE]
			  ,a.[EXPENSE_ACCOUNT_ID]
			  ,a.[COGS_RECOGNITION_PERCENT]
			  ,a.[SO_ISSUE_ACCOUNT_TYPE]
			  ,a.[OPM_COSTED_FLAG]
			  ,a.[MATERIAL_EXPENSE_ACCOUNT]
			  ,a.[TRANSACTION_EXTRACTED]
			  ,a.[XML_DOCUMENT_ID]
			  ,a.[Fingerprint]
			FROM (
				MERGE Oracle.INV_MTL_MATERIAL_TRANSACTIONS b
				USING (SELECT * FROM #MaterialTrans) a
				ON a.Transaction_ID = b.Transaction_ID AND b.CurrentRecord = 1 --swap with business key of table
				WHEN NOT MATCHED --BY TARGET 
				THEN INSERT (
					   [TRANSACTION_ID]
					  ,[LAST_UPDATE_DATE]
					  ,[LAST_UPDATED_BY]
					  ,[CREATION_DATE]
					  ,[CREATED_BY]
					  ,[LAST_UPDATE_LOGIN]
					  ,[REQUEST_ID]
					  ,[PROGRAM_APPLICATION_ID]
					  ,[PROGRAM_ID]
					  ,[PROGRAM_UPDATE_DATE]
					  ,[INVENTORY_ITEM_ID]
					  ,[REVISION]
					  ,[ORGANIZATION_ID]
					  ,[SUBINVENTORY_CODE]
					  ,[LOCATOR_ID]
					  ,[TRANSACTION_TYPE_ID]
					  ,[TRANSACTION_ACTION_ID]
					  ,[TRANSACTION_SOURCE_TYPE_ID]
					  ,[TRANSACTION_SOURCE_ID]
					  ,[TRANSACTION_SOURCE_NAME]
					  ,[TRANSACTION_QUANTITY]
					  ,[TRANSACTION_UOM]
					  ,[PRIMARY_QUANTITY]
					  ,[TRANSACTION_DATE]
					  ,[VARIANCE_AMOUNT]
					  ,[ACCT_PERIOD_ID]
					  ,[TRANSACTION_REFERENCE]
					  ,[REASON_ID]
					  ,[DISTRIBUTION_ACCOUNT_ID]
					  ,[ENCUMBRANCE_ACCOUNT]
					  ,[ENCUMBRANCE_AMOUNT]
					  ,[COST_UPDATE_ID]
					  ,[COSTED_FLAG]
					  ,[TRANSACTION_GROUP_ID]
					  ,[INVOICED_FLAG]
					  ,[ACTUAL_COST]
					  ,[TRANSACTION_COST]
					  ,[PRIOR_COST]
					  ,[NEW_COST]
					  ,[CURRENCY_CODE]
					  ,[CURRENCY_CONVERSION_RATE]
					  ,[CURRENCY_CONVERSION_TYPE]
					  ,[CURRENCY_CONVERSION_DATE]
					  ,[USSGL_TRANSACTION_CODE]
					  ,[QUANTITY_ADJUSTED]
					  ,[EMPLOYEE_CODE]
					  ,[DEPARTMENT_ID]
					  ,[OPERATION_SEQ_NUM]
					  ,[MASTER_SCHEDULE_UPDATE_CODE]
					  ,[RECEIVING_DOCUMENT]
					  ,[PICKING_LINE_ID]
					  ,[TRX_SOURCE_LINE_ID]
					  ,[TRX_SOURCE_DELIVERY_ID]
					  ,[REPETITIVE_LINE_ID]
					  ,[PHYSICAL_ADJUSTMENT_ID]
					  ,[CYCLE_COUNT_ID]
					  ,[RMA_LINE_ID]
					  ,[TRANSFER_TRANSACTION_ID]
					  ,[TRANSACTION_SET_ID]
					  ,[RCV_TRANSACTION_ID]
					  ,[MOVE_TRANSACTION_ID]
					  ,[COMPLETION_TRANSACTION_ID]
					  ,[SHORTAGE_PROCESS_CODE]
					  ,[SOURCE_CODE]
					  ,[SOURCE_LINE_ID]
					  ,[VENDOR_LOT_NUMBER]
					  ,[TRANSFER_ORGANIZATION_ID]
					  ,[TRANSFER_SUBINVENTORY]
					  ,[TRANSFER_LOCATOR_ID]
					  ,[SHIPMENT_NUMBER]
					  ,[TRANSFER_COST]
					  ,[TRANSPORTATION_DIST_ACCOUNT]
					  ,[TRANSPORTATION_COST]
					  ,[TRANSFER_COST_DIST_ACCOUNT]
					  ,[WAYBILL_AIRBILL]
					  ,[FREIGHT_CODE]
					  ,[NUMBER_OF_CONTAINERS]
					  ,[VALUE_CHANGE]
					  ,[PERCENTAGE_CHANGE]
					  ,[ATTRIBUTE_CATEGORY]
					  ,[ATTRIBUTE1]
					  ,[ATTRIBUTE2]
					  ,[ATTRIBUTE3]
					  ,[ATTRIBUTE4]
					  ,[ATTRIBUTE5]
					  ,[ATTRIBUTE6]
					  ,[ATTRIBUTE7]
					  ,[ATTRIBUTE8]
					  ,[ATTRIBUTE9]
					  ,[ATTRIBUTE10]
					  ,[ATTRIBUTE11]
					  ,[ATTRIBUTE12]
					  ,[ATTRIBUTE13]
					  ,[ATTRIBUTE14]
					  ,[ATTRIBUTE15]
					  ,[MOVEMENT_ID]
					  ,[TASK_ID]
					  ,[TO_TASK_ID]
					  ,[PROJECT_ID]
					  ,[TO_PROJECT_ID]
					  ,[SOURCE_PROJECT_ID]
					  ,[PA_EXPENDITURE_ORG_ID]
					  ,[SOURCE_TASK_ID]
					  ,[EXPENDITURE_TYPE]
					  ,[ERROR_CODE]
					  ,[ERROR_EXPLANATION]
					  ,[PRIOR_COSTED_QUANTITY]
					  ,[TRANSFER_PRIOR_COSTED_QUANTITY]
					  ,[FINAL_COMPLETION_FLAG]
					  ,[PM_COST_COLLECTED]
					  ,[PM_COST_COLLECTOR_GROUP_ID]
					  ,[SHIPMENT_COSTED]
					  ,[TRANSFER_PERCENTAGE]
					  ,[MATERIAL_ACCOUNT]
					  ,[MATERIAL_OVERHEAD_ACCOUNT]
					  ,[RESOURCE_ACCOUNT]
					  ,[OUTSIDE_PROCESSING_ACCOUNT]
					  ,[OVERHEAD_ACCOUNT]
					  ,[COST_GROUP_ID]
					  ,[TRANSFER_COST_GROUP_ID]
					  ,[FLOW_SCHEDULE]
					  ,[QA_COLLECTION_ID]
					  ,[OVERCOMPLETION_TRANSACTION_QTY]
					  ,[OVERCOMPLETION_PRIMARY_QTY]
					  ,[OVERCOMPLETION_TRANSACTION_ID]
					  ,[MVT_STAT_STATUS]
					  ,[COMMON_BOM_SEQ_ID]
					  ,[COMMON_ROUTING_SEQ_ID]
					  ,[ORG_COST_GROUP_ID]
					  ,[COST_TYPE_ID]
					  ,[PERIODIC_PRIMARY_QUANTITY]
					  ,[MOVE_ORDER_LINE_ID]
					  ,[TASK_GROUP_ID]
					  ,[PICK_SLIP_NUMBER]
					  ,[LPN_ID]
					  ,[TRANSFER_LPN_ID]
					  ,[PICK_STRATEGY_ID]
					  ,[PICK_RULE_ID]
					  ,[PUT_AWAY_STRATEGY_ID]
					  ,[PUT_AWAY_RULE_ID]
					  ,[CONTENT_LPN_ID]
					  ,[PICK_SLIP_DATE]
					  ,[COST_CATEGORY_ID]
					  ,[ORGANIZATION_TYPE]
					  ,[TRANSFER_ORGANIZATION_TYPE]
					  ,[OWNING_ORGANIZATION_ID]
					  ,[OWNING_TP_TYPE]
					  ,[XFR_OWNING_ORGANIZATION_ID]
					  ,[TRANSFER_OWNING_TP_TYPE]
					  ,[PLANNING_ORGANIZATION_ID]
					  ,[PLANNING_TP_TYPE]
					  ,[XFR_PLANNING_ORGANIZATION_ID]
					  ,[TRANSFER_PLANNING_TP_TYPE]
					  ,[SECONDARY_UOM_CODE]
					  ,[SECONDARY_TRANSACTION_QUANTITY]
					  ,[TRANSACTION_GROUP_SEQ]
					  ,[SHIP_TO_LOCATION_ID]
					  ,[RESERVATION_ID]
					  ,[TRANSACTION_MODE]
					  ,[TRANSACTION_BATCH_ID]
					  ,[TRANSACTION_BATCH_SEQ]
					  ,[INTRANSIT_ACCOUNT]
					  ,[FOB_POINT]
					  ,[PARENT_TRANSACTION_ID]
					  ,[LOGICAL_TRX_TYPE_CODE]
					  ,[TRX_FLOW_HEADER_ID]
					  ,[LOGICAL_TRANSACTIONS_CREATED]
					  ,[LOGICAL_TRANSACTION]
					  ,[INTERCOMPANY_COST]
					  ,[INTERCOMPANY_PRICING_OPTION]
					  ,[INTERCOMPANY_CURRENCY_CODE]
					  ,[ORIGINAL_TRANSACTION_TEMP_ID]
					  ,[TRANSFER_PRICE]
					  ,[EXPENSE_ACCOUNT_ID]
					  ,[COGS_RECOGNITION_PERCENT]
					  ,[SO_ISSUE_ACCOUNT_TYPE]
					  ,[OPM_COSTED_FLAG]
					  ,[MATERIAL_EXPENSE_ACCOUNT]
					  ,[TRANSACTION_EXTRACTED]
					  ,[XML_DOCUMENT_ID]
					  ,[Fingerprint]
				)
				VALUES (
					   a.[TRANSACTION_ID]
					  ,a.[LAST_UPDATE_DATE]
					  ,a.[LAST_UPDATED_BY]
					  ,a.[CREATION_DATE]
					  ,a.[CREATED_BY]
					  ,a.[LAST_UPDATE_LOGIN]
					  ,a.[REQUEST_ID]
					  ,a.[PROGRAM_APPLICATION_ID]
					  ,a.[PROGRAM_ID]
					  ,a.[PROGRAM_UPDATE_DATE]
					  ,a.[INVENTORY_ITEM_ID]
					  ,a.[REVISION]
					  ,a.[ORGANIZATION_ID]
					  ,a.[SUBINVENTORY_CODE]
					  ,a.[LOCATOR_ID]
					  ,a.[TRANSACTION_TYPE_ID]
					  ,a.[TRANSACTION_ACTION_ID]
					  ,a.[TRANSACTION_SOURCE_TYPE_ID]
					  ,a.[TRANSACTION_SOURCE_ID]
					  ,a.[TRANSACTION_SOURCE_NAME]
					  ,a.[TRANSACTION_QUANTITY]
					  ,a.[TRANSACTION_UOM]
					  ,a.[PRIMARY_QUANTITY]
					  ,a.[TRANSACTION_DATE]
					  ,a.[VARIANCE_AMOUNT]
					  ,a.[ACCT_PERIOD_ID]
					  ,a.[TRANSACTION_REFERENCE]
					  ,a.[REASON_ID]
					  ,a.[DISTRIBUTION_ACCOUNT_ID]
					  ,a.[ENCUMBRANCE_ACCOUNT]
					  ,a.[ENCUMBRANCE_AMOUNT]
					  ,a.[COST_UPDATE_ID]
					  ,a.[COSTED_FLAG]
					  ,a.[TRANSACTION_GROUP_ID]
					  ,a.[INVOICED_FLAG]
					  ,a.[ACTUAL_COST]
					  ,a.[TRANSACTION_COST]
					  ,a.[PRIOR_COST]
					  ,a.[NEW_COST]
					  ,a.[CURRENCY_CODE]
					  ,a.[CURRENCY_CONVERSION_RATE]
					  ,a.[CURRENCY_CONVERSION_TYPE]
					  ,a.[CURRENCY_CONVERSION_DATE]
					  ,a.[USSGL_TRANSACTION_CODE]
					  ,a.[QUANTITY_ADJUSTED]
					  ,a.[EMPLOYEE_CODE]
					  ,a.[DEPARTMENT_ID]
					  ,a.[OPERATION_SEQ_NUM]
					  ,a.[MASTER_SCHEDULE_UPDATE_CODE]
					  ,a.[RECEIVING_DOCUMENT]
					  ,a.[PICKING_LINE_ID]
					  ,a.[TRX_SOURCE_LINE_ID]
					  ,a.[TRX_SOURCE_DELIVERY_ID]
					  ,a.[REPETITIVE_LINE_ID]
					  ,a.[PHYSICAL_ADJUSTMENT_ID]
					  ,a.[CYCLE_COUNT_ID]
					  ,a.[RMA_LINE_ID]
					  ,a.[TRANSFER_TRANSACTION_ID]
					  ,a.[TRANSACTION_SET_ID]
					  ,a.[RCV_TRANSACTION_ID]
					  ,a.[MOVE_TRANSACTION_ID]
					  ,a.[COMPLETION_TRANSACTION_ID]
					  ,a.[SHORTAGE_PROCESS_CODE]
					  ,a.[SOURCE_CODE]
					  ,a.[SOURCE_LINE_ID]
					  ,a.[VENDOR_LOT_NUMBER]
					  ,a.[TRANSFER_ORGANIZATION_ID]
					  ,a.[TRANSFER_SUBINVENTORY]
					  ,a.[TRANSFER_LOCATOR_ID]
					  ,a.[SHIPMENT_NUMBER]
					  ,a.[TRANSFER_COST]
					  ,a.[TRANSPORTATION_DIST_ACCOUNT]
					  ,a.[TRANSPORTATION_COST]
					  ,a.[TRANSFER_COST_DIST_ACCOUNT]
					  ,a.[WAYBILL_AIRBILL]
					  ,a.[FREIGHT_CODE]
					  ,a.[NUMBER_OF_CONTAINERS]
					  ,a.[VALUE_CHANGE]
					  ,a.[PERCENTAGE_CHANGE]
					  ,a.[ATTRIBUTE_CATEGORY]
					  ,a.[ATTRIBUTE1]
					  ,a.[ATTRIBUTE2]
					  ,a.[ATTRIBUTE3]
					  ,a.[ATTRIBUTE4]
					  ,a.[ATTRIBUTE5]
					  ,a.[ATTRIBUTE6]
					  ,a.[ATTRIBUTE7]
					  ,a.[ATTRIBUTE8]
					  ,a.[ATTRIBUTE9]
					  ,a.[ATTRIBUTE10]
					  ,a.[ATTRIBUTE11]
					  ,a.[ATTRIBUTE12]
					  ,a.[ATTRIBUTE13]
					  ,a.[ATTRIBUTE14]
					  ,a.[ATTRIBUTE15]
					  ,a.[MOVEMENT_ID]
					  ,a.[TASK_ID]
					  ,a.[TO_TASK_ID]
					  ,a.[PROJECT_ID]
					  ,a.[TO_PROJECT_ID]
					  ,a.[SOURCE_PROJECT_ID]
					  ,a.[PA_EXPENDITURE_ORG_ID]
					  ,a.[SOURCE_TASK_ID]
					  ,a.[EXPENDITURE_TYPE]
					  ,a.[ERROR_CODE]
					  ,a.[ERROR_EXPLANATION]
					  ,a.[PRIOR_COSTED_QUANTITY]
					  ,a.[TRANSFER_PRIOR_COSTED_QUANTITY]
					  ,a.[FINAL_COMPLETION_FLAG]
					  ,a.[PM_COST_COLLECTED]
					  ,a.[PM_COST_COLLECTOR_GROUP_ID]
					  ,a.[SHIPMENT_COSTED]
					  ,a.[TRANSFER_PERCENTAGE]
					  ,a.[MATERIAL_ACCOUNT]
					  ,a.[MATERIAL_OVERHEAD_ACCOUNT]
					  ,a.[RESOURCE_ACCOUNT]
					  ,a.[OUTSIDE_PROCESSING_ACCOUNT]
					  ,a.[OVERHEAD_ACCOUNT]
					  ,a.[COST_GROUP_ID]
					  ,a.[TRANSFER_COST_GROUP_ID]
					  ,a.[FLOW_SCHEDULE]
					  ,a.[QA_COLLECTION_ID]
					  ,a.[OVERCOMPLETION_TRANSACTION_QTY]
					  ,a.[OVERCOMPLETION_PRIMARY_QTY]
					  ,a.[OVERCOMPLETION_TRANSACTION_ID]
					  ,a.[MVT_STAT_STATUS]
					  ,a.[COMMON_BOM_SEQ_ID]
					  ,a.[COMMON_ROUTING_SEQ_ID]
					  ,a.[ORG_COST_GROUP_ID]
					  ,a.[COST_TYPE_ID]
					  ,a.[PERIODIC_PRIMARY_QUANTITY]
					  ,a.[MOVE_ORDER_LINE_ID]
					  ,a.[TASK_GROUP_ID]
					  ,a.[PICK_SLIP_NUMBER]
					  ,a.[LPN_ID]
					  ,a.[TRANSFER_LPN_ID]
					  ,a.[PICK_STRATEGY_ID]
					  ,a.[PICK_RULE_ID]
					  ,a.[PUT_AWAY_STRATEGY_ID]
					  ,a.[PUT_AWAY_RULE_ID]
					  ,a.[CONTENT_LPN_ID]
					  ,a.[PICK_SLIP_DATE]
					  ,a.[COST_CATEGORY_ID]
					  ,a.[ORGANIZATION_TYPE]
					  ,a.[TRANSFER_ORGANIZATION_TYPE]
					  ,a.[OWNING_ORGANIZATION_ID]
					  ,a.[OWNING_TP_TYPE]
					  ,a.[XFR_OWNING_ORGANIZATION_ID]
					  ,a.[TRANSFER_OWNING_TP_TYPE]
					  ,a.[PLANNING_ORGANIZATION_ID]
					  ,a.[PLANNING_TP_TYPE]
					  ,a.[XFR_PLANNING_ORGANIZATION_ID]
					  ,a.[TRANSFER_PLANNING_TP_TYPE]
					  ,a.[SECONDARY_UOM_CODE]
					  ,a.[SECONDARY_TRANSACTION_QUANTITY]
					  ,a.[TRANSACTION_GROUP_SEQ]
					  ,a.[SHIP_TO_LOCATION_ID]
					  ,a.[RESERVATION_ID]
					  ,a.[TRANSACTION_MODE]
					  ,a.[TRANSACTION_BATCH_ID]
					  ,a.[TRANSACTION_BATCH_SEQ]
					  ,a.[INTRANSIT_ACCOUNT]
					  ,a.[FOB_POINT]
					  ,a.[PARENT_TRANSACTION_ID]
					  ,a.[LOGICAL_TRX_TYPE_CODE]
					  ,a.[TRX_FLOW_HEADER_ID]
					  ,a.[LOGICAL_TRANSACTIONS_CREATED]
					  ,a.[LOGICAL_TRANSACTION]
					  ,a.[INTERCOMPANY_COST]
					  ,a.[INTERCOMPANY_PRICING_OPTION]
					  ,a.[INTERCOMPANY_CURRENCY_CODE]
					  ,a.[ORIGINAL_TRANSACTION_TEMP_ID]
					  ,a.[TRANSFER_PRICE]
					  ,a.[EXPENSE_ACCOUNT_ID]
					  ,a.[COGS_RECOGNITION_PERCENT]
					  ,a.[SO_ISSUE_ACCOUNT_TYPE]
					  ,a.[OPM_COSTED_FLAG]
					  ,a.[MATERIAL_EXPENSE_ACCOUNT]
					  ,a.[TRANSACTION_EXTRACTED]
					  ,a.[XML_DOCUMENT_ID]
					  ,a.[Fingerprint]
				)
				--Existing records that have changed are expired
				WHEN MATCHED AND a.Fingerprint<>b.Fingerprint
				THEN UPDATE SET b.EndDate=GETDATE()
					,b.CurrentRecord=0
				OUTPUT 
					   a.[TRANSACTION_ID]
					  ,a.[LAST_UPDATE_DATE]
					  ,a.[LAST_UPDATED_BY]
					  ,a.[CREATION_DATE]
					  ,a.[CREATED_BY]
					  ,a.[LAST_UPDATE_LOGIN]
					  ,a.[REQUEST_ID]
					  ,a.[PROGRAM_APPLICATION_ID]
					  ,a.[PROGRAM_ID]
					  ,a.[PROGRAM_UPDATE_DATE]
					  ,a.[INVENTORY_ITEM_ID]
					  ,a.[REVISION]
					  ,a.[ORGANIZATION_ID]
					  ,a.[SUBINVENTORY_CODE]
					  ,a.[LOCATOR_ID]
					  ,a.[TRANSACTION_TYPE_ID]
					  ,a.[TRANSACTION_ACTION_ID]
					  ,a.[TRANSACTION_SOURCE_TYPE_ID]
					  ,a.[TRANSACTION_SOURCE_ID]
					  ,a.[TRANSACTION_SOURCE_NAME]
					  ,a.[TRANSACTION_QUANTITY]
					  ,a.[TRANSACTION_UOM]
					  ,a.[PRIMARY_QUANTITY]
					  ,a.[TRANSACTION_DATE]
					  ,a.[VARIANCE_AMOUNT]
					  ,a.[ACCT_PERIOD_ID]
					  ,a.[TRANSACTION_REFERENCE]
					  ,a.[REASON_ID]
					  ,a.[DISTRIBUTION_ACCOUNT_ID]
					  ,a.[ENCUMBRANCE_ACCOUNT]
					  ,a.[ENCUMBRANCE_AMOUNT]
					  ,a.[COST_UPDATE_ID]
					  ,a.[COSTED_FLAG]
					  ,a.[TRANSACTION_GROUP_ID]
					  ,a.[INVOICED_FLAG]
					  ,a.[ACTUAL_COST]
					  ,a.[TRANSACTION_COST]
					  ,a.[PRIOR_COST]
					  ,a.[NEW_COST]
					  ,a.[CURRENCY_CODE]
					  ,a.[CURRENCY_CONVERSION_RATE]
					  ,a.[CURRENCY_CONVERSION_TYPE]
					  ,a.[CURRENCY_CONVERSION_DATE]
					  ,a.[USSGL_TRANSACTION_CODE]
					  ,a.[QUANTITY_ADJUSTED]
					  ,a.[EMPLOYEE_CODE]
					  ,a.[DEPARTMENT_ID]
					  ,a.[OPERATION_SEQ_NUM]
					  ,a.[MASTER_SCHEDULE_UPDATE_CODE]
					  ,a.[RECEIVING_DOCUMENT]
					  ,a.[PICKING_LINE_ID]
					  ,a.[TRX_SOURCE_LINE_ID]
					  ,a.[TRX_SOURCE_DELIVERY_ID]
					  ,a.[REPETITIVE_LINE_ID]
					  ,a.[PHYSICAL_ADJUSTMENT_ID]
					  ,a.[CYCLE_COUNT_ID]
					  ,a.[RMA_LINE_ID]
					  ,a.[TRANSFER_TRANSACTION_ID]
					  ,a.[TRANSACTION_SET_ID]
					  ,a.[RCV_TRANSACTION_ID]
					  ,a.[MOVE_TRANSACTION_ID]
					  ,a.[COMPLETION_TRANSACTION_ID]
					  ,a.[SHORTAGE_PROCESS_CODE]
					  ,a.[SOURCE_CODE]
					  ,a.[SOURCE_LINE_ID]
					  ,a.[VENDOR_LOT_NUMBER]
					  ,a.[TRANSFER_ORGANIZATION_ID]
					  ,a.[TRANSFER_SUBINVENTORY]
					  ,a.[TRANSFER_LOCATOR_ID]
					  ,a.[SHIPMENT_NUMBER]
					  ,a.[TRANSFER_COST]
					  ,a.[TRANSPORTATION_DIST_ACCOUNT]
					  ,a.[TRANSPORTATION_COST]
					  ,a.[TRANSFER_COST_DIST_ACCOUNT]
					  ,a.[WAYBILL_AIRBILL]
					  ,a.[FREIGHT_CODE]
					  ,a.[NUMBER_OF_CONTAINERS]
					  ,a.[VALUE_CHANGE]
					  ,a.[PERCENTAGE_CHANGE]
					  ,a.[ATTRIBUTE_CATEGORY]
					  ,a.[ATTRIBUTE1]
					  ,a.[ATTRIBUTE2]
					  ,a.[ATTRIBUTE3]
					  ,a.[ATTRIBUTE4]
					  ,a.[ATTRIBUTE5]
					  ,a.[ATTRIBUTE6]
					  ,a.[ATTRIBUTE7]
					  ,a.[ATTRIBUTE8]
					  ,a.[ATTRIBUTE9]
					  ,a.[ATTRIBUTE10]
					  ,a.[ATTRIBUTE11]
					  ,a.[ATTRIBUTE12]
					  ,a.[ATTRIBUTE13]
					  ,a.[ATTRIBUTE14]
					  ,a.[ATTRIBUTE15]
					  ,a.[MOVEMENT_ID]
					  ,a.[TASK_ID]
					  ,a.[TO_TASK_ID]
					  ,a.[PROJECT_ID]
					  ,a.[TO_PROJECT_ID]
					  ,a.[SOURCE_PROJECT_ID]
					  ,a.[PA_EXPENDITURE_ORG_ID]
					  ,a.[SOURCE_TASK_ID]
					  ,a.[EXPENDITURE_TYPE]
					  ,a.[ERROR_CODE]
					  ,a.[ERROR_EXPLANATION]
					  ,a.[PRIOR_COSTED_QUANTITY]
					  ,a.[TRANSFER_PRIOR_COSTED_QUANTITY]
					  ,a.[FINAL_COMPLETION_FLAG]
					  ,a.[PM_COST_COLLECTED]
					  ,a.[PM_COST_COLLECTOR_GROUP_ID]
					  ,a.[SHIPMENT_COSTED]
					  ,a.[TRANSFER_PERCENTAGE]
					  ,a.[MATERIAL_ACCOUNT]
					  ,a.[MATERIAL_OVERHEAD_ACCOUNT]
					  ,a.[RESOURCE_ACCOUNT]
					  ,a.[OUTSIDE_PROCESSING_ACCOUNT]
					  ,a.[OVERHEAD_ACCOUNT]
					  ,a.[COST_GROUP_ID]
					  ,a.[TRANSFER_COST_GROUP_ID]
					  ,a.[FLOW_SCHEDULE]
					  ,a.[QA_COLLECTION_ID]
					  ,a.[OVERCOMPLETION_TRANSACTION_QTY]
					  ,a.[OVERCOMPLETION_PRIMARY_QTY]
					  ,a.[OVERCOMPLETION_TRANSACTION_ID]
					  ,a.[MVT_STAT_STATUS]
					  ,a.[COMMON_BOM_SEQ_ID]
					  ,a.[COMMON_ROUTING_SEQ_ID]
					  ,a.[ORG_COST_GROUP_ID]
					  ,a.[COST_TYPE_ID]
					  ,a.[PERIODIC_PRIMARY_QUANTITY]
					  ,a.[MOVE_ORDER_LINE_ID]
					  ,a.[TASK_GROUP_ID]
					  ,a.[PICK_SLIP_NUMBER]
					  ,a.[LPN_ID]
					  ,a.[TRANSFER_LPN_ID]
					  ,a.[PICK_STRATEGY_ID]
					  ,a.[PICK_RULE_ID]
					  ,a.[PUT_AWAY_STRATEGY_ID]
					  ,a.[PUT_AWAY_RULE_ID]
					  ,a.[CONTENT_LPN_ID]
					  ,a.[PICK_SLIP_DATE]
					  ,a.[COST_CATEGORY_ID]
					  ,a.[ORGANIZATION_TYPE]
					  ,a.[TRANSFER_ORGANIZATION_TYPE]
					  ,a.[OWNING_ORGANIZATION_ID]
					  ,a.[OWNING_TP_TYPE]
					  ,a.[XFR_OWNING_ORGANIZATION_ID]
					  ,a.[TRANSFER_OWNING_TP_TYPE]
					  ,a.[PLANNING_ORGANIZATION_ID]
					  ,a.[PLANNING_TP_TYPE]
					  ,a.[XFR_PLANNING_ORGANIZATION_ID]
					  ,a.[TRANSFER_PLANNING_TP_TYPE]
					  ,a.[SECONDARY_UOM_CODE]
					  ,a.[SECONDARY_TRANSACTION_QUANTITY]
					  ,a.[TRANSACTION_GROUP_SEQ]
					  ,a.[SHIP_TO_LOCATION_ID]
					  ,a.[RESERVATION_ID]
					  ,a.[TRANSACTION_MODE]
					  ,a.[TRANSACTION_BATCH_ID]
					  ,a.[TRANSACTION_BATCH_SEQ]
					  ,a.[INTRANSIT_ACCOUNT]
					  ,a.[FOB_POINT]
					  ,a.[PARENT_TRANSACTION_ID]
					  ,a.[LOGICAL_TRX_TYPE_CODE]
					  ,a.[TRX_FLOW_HEADER_ID]
					  ,a.[LOGICAL_TRANSACTIONS_CREATED]
					  ,a.[LOGICAL_TRANSACTION]
					  ,a.[INTERCOMPANY_COST]
					  ,a.[INTERCOMPANY_PRICING_OPTION]
					  ,a.[INTERCOMPANY_CURRENCY_CODE]
					  ,a.[ORIGINAL_TRANSACTION_TEMP_ID]
					  ,a.[TRANSFER_PRICE]
					  ,a.[EXPENSE_ACCOUNT_ID]
					  ,a.[COGS_RECOGNITION_PERCENT]
					  ,a.[SO_ISSUE_ACCOUNT_TYPE]
					  ,a.[OPM_COSTED_FLAG]
					  ,a.[MATERIAL_EXPENSE_ACCOUNT]
					  ,a.[TRANSACTION_EXTRACTED]
					  ,a.[XML_DOCUMENT_ID]
					  ,a.[Fingerprint]
					  ,$Action AS Action
			) a
			WHERE Action = 'Update'
			;

	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Done', GETDATE()
	
	DROP TABLE #MaterialTrans

	--SELECT * FROM Oracle.INV_MTL_MATERIAL_TRANSACTIONS
END
GO
