USE [Operations]
GO
/****** Object:  StoredProcedure [Oracle].[Merge_INV_MTL_ONHAND_QUANTITIES_DETAIL]    Script Date: 7/10/2025 11:43:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Oracle].[Merge_INV_MTL_ONHAND_QUANTITIES_DETAIL] AS BEGIN

	CREATE TABLE #inventory(
		[INVENTORY_ITEM_ID] [float] NOT NULL,
		[ORGANIZATION_ID] [float] NOT NULL,
		[DATE_RECEIVED] [datetime2](7) NULL,
		[LAST_UPDATE_DATE] [datetime2](7) NOT NULL,
		[LAST_UPDATED_BY] [float] NOT NULL,
		[CREATION_DATE] [datetime2](7) NOT NULL,
		[CREATED_BY] [float] NOT NULL,
		[LAST_UPDATE_LOGIN] [float] NULL,
		[PRIMARY_TRANSACTION_QUANTITY] [float] NOT NULL,
		[SUBINVENTORY_CODE] [nvarchar](10) NOT NULL,
		[REVISION] [nvarchar](3) NULL,
		[LOCATOR_ID] [float] NULL,
		[CREATE_TRANSACTION_ID] [float] NULL,
		[UPDATE_TRANSACTION_ID] [float] NULL,
		[LOT_NUMBER] [nvarchar](80) NULL,
		[ORIG_DATE_RECEIVED] [datetime2](7) NULL,
		[COST_GROUP_ID] [float] NULL,
		[CONTAINERIZED_FLAG] [float] NULL,
		[PROJECT_ID] [float] NULL,
		[TASK_ID] [float] NULL,
		[ONHAND_QUANTITIES_ID] [float] NOT NULL,
		[ORGANIZATION_TYPE] [float] NOT NULL,
		[OWNING_ORGANIZATION_ID] [float] NOT NULL,
		[OWNING_TP_TYPE] [float] NOT NULL,
		[PLANNING_ORGANIZATION_ID] [float] NOT NULL,
		[PLANNING_TP_TYPE] [float] NOT NULL,
		[TRANSACTION_UOM_CODE] [nvarchar](3) NOT NULL,
		[TRANSACTION_QUANTITY] [float] NOT NULL,
		[SECONDARY_UOM_CODE] [nvarchar](3) NULL,
		[SECONDARY_TRANSACTION_QUANTITY] [float] NULL,
		[IS_CONSIGNED] [float] NOT NULL,
		[LPN_ID] [float] NULL,
		[STATUS_ID] [float] NULL,
		[Fingerprint] [varchar](32) NOT NULL
	)

	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Oracle Download', GETDATE()

	INSERT INTO #inventory (
		   [INVENTORY_ITEM_ID]
		  ,[ORGANIZATION_ID]
		  ,[DATE_RECEIVED]
		  ,[LAST_UPDATE_DATE]
		  ,[LAST_UPDATED_BY]
		  ,[CREATION_DATE]
		  ,[CREATED_BY]
		  ,[LAST_UPDATE_LOGIN]
		  ,[PRIMARY_TRANSACTION_QUANTITY]
		  ,[SUBINVENTORY_CODE]
		  ,[REVISION]
		  ,[LOCATOR_ID]
		  ,[CREATE_TRANSACTION_ID]
		  ,[UPDATE_TRANSACTION_ID]
		  ,[LOT_NUMBER]
		  ,[ORIG_DATE_RECEIVED]
		  ,[COST_GROUP_ID]
		  ,[CONTAINERIZED_FLAG]
		  ,[PROJECT_ID]
		  ,[TASK_ID]
		  ,[ONHAND_QUANTITIES_ID]
		  ,[ORGANIZATION_TYPE]
		  ,[OWNING_ORGANIZATION_ID]
		  ,[OWNING_TP_TYPE]
		  ,[PLANNING_ORGANIZATION_ID]
		  ,[PLANNING_TP_TYPE]
		  ,[TRANSACTION_UOM_CODE]
		  ,[TRANSACTION_QUANTITY]
		  ,[SECONDARY_UOM_CODE]
		  ,[SECONDARY_TRANSACTION_QUANTITY]
		  ,[IS_CONSIGNED]
		  ,[LPN_ID]
		  ,[STATUS_ID]
		  ,[FINGERPRINT]
	)
	SELECT [INVENTORY_ITEM_ID]
		  ,[ORGANIZATION_ID]
		  ,[DATE_RECEIVED]
		  ,[LAST_UPDATE_DATE]
		  ,[LAST_UPDATED_BY]
		  ,[CREATION_DATE]
		  ,[CREATED_BY]
		  ,[LAST_UPDATE_LOGIN]
		  ,[PRIMARY_TRANSACTION_QUANTITY]
		  ,[SUBINVENTORY_CODE]
		  ,[REVISION]
		  ,[LOCATOR_ID]
		  ,[CREATE_TRANSACTION_ID]
		  ,[UPDATE_TRANSACTION_ID]
		  ,[LOT_NUMBER]
		  ,[ORIG_DATE_RECEIVED]
		  ,[COST_GROUP_ID]
		  ,[CONTAINERIZED_FLAG]
		  ,[PROJECT_ID]
		  ,[TASK_ID]
		  ,[ONHAND_QUANTITIES_ID]
		  ,[ORGANIZATION_TYPE]
		  ,[OWNING_ORGANIZATION_ID]
		  ,[OWNING_TP_TYPE]
		  ,[PLANNING_ORGANIZATION_ID]
		  ,[PLANNING_TP_TYPE]
		  ,[TRANSACTION_UOM_CODE]
		  ,[TRANSACTION_QUANTITY]
		  ,[SECONDARY_UOM_CODE]
		  ,[SECONDARY_TRANSACTION_QUANTITY]
		  ,[IS_CONSIGNED]
		  ,[LPN_ID]
		  ,[STATUS_ID]
		  ,'XXX' AS [Fingerprint]
	FROM OPENQUERY(PROD,'SELECT * FROM	mtl_onhand_quantities_detail moqd')

	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Fingerprint', GETDATE()

	/*
		DECLARE @columnList VARCHAR(MAX) = dbo.getHashField ('INV_MTL_ONHAND_QUANTITIES_DETAIL','Oracle') SELECT @columnList
	*/
	UPDATE #inventory
	SET Fingerprint = 
		SUBSTRING(LOWER(CONVERT(VARCHAR(32),HASHBYTES('MD5',
			--replace @columnList result here
			CAST(ISNULL(INVENTORY_ITEM_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(ORGANIZATION_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(DATE_RECEIVED,'') AS VARCHAR(100)) +  CAST(ISNULL(LAST_UPDATE_DATE,'') AS VARCHAR(100)) +  CAST(ISNULL(LAST_UPDATED_BY,'0') AS VARCHAR(100)) +  CAST(ISNULL(CREATION_DATE,'') AS VARCHAR(100)) +  CAST(ISNULL(CREATED_BY,'0') AS VARCHAR(100)) +  CAST(ISNULL(LAST_UPDATE_LOGIN,'0') AS VARCHAR(100)) +  CAST(ISNULL(PRIMARY_TRANSACTION_QUANTITY,'0') AS VARCHAR(100)) +  CAST(ISNULL(SUBINVENTORY_CODE,'') AS VARCHAR(10)) +  CAST(ISNULL(REVISION,'') AS VARCHAR(3)) +  CAST(ISNULL(LOCATOR_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(CREATE_TRANSACTION_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(UPDATE_TRANSACTION_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(LOT_NUMBER,'') AS VARCHAR(80)) +  CAST(ISNULL(ORIG_DATE_RECEIVED,'') AS VARCHAR(100)) +  CAST(ISNULL(COST_GROUP_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(CONTAINERIZED_FLAG,'0') AS VARCHAR(100)) +  CAST(ISNULL(PROJECT_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(TASK_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(ONHAND_QUANTITIES_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(ORGANIZATION_TYPE,'0') AS VARCHAR(100)) +  CAST(ISNULL(OWNING_ORGANIZATION_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(OWNING_TP_TYPE,'0') AS VARCHAR(100)) +  CAST(ISNULL(PLANNING_ORGANIZATION_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(PLANNING_TP_TYPE,'0') AS VARCHAR(100)) +  CAST(ISNULL(TRANSACTION_UOM_CODE,'') AS VARCHAR(3)) +  CAST(ISNULL(TRANSACTION_QUANTITY,'0') AS VARCHAR(100)) +  CAST(ISNULL(SECONDARY_UOM_CODE,'') AS VARCHAR(3)) +  CAST(ISNULL(SECONDARY_TRANSACTION_QUANTITY,'0') AS VARCHAR(100)) +  CAST(ISNULL(IS_CONSIGNED,'0') AS VARCHAR(100)) +  CAST(ISNULL(LPN_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(STATUS_ID,'0') AS VARCHAR(100)) 
		),1)),3,32);

	/*
		SELECT msi.Segment1 AS SKU
			, o.ORGANIZATION_CODE AS Loc
			, pm.MakeBuy
			--, l.LocationID, pm.ProductID
			, SUM(i.TRANSACTION_QUANTITY) AS [Oracle (Live Inventory)]
			, SUM(d.TRANSACTION_QUANTITY) AS [Model (Inventory)]
			, oh.Qty AS [OBI (On Hand)]
			, ps.Qty AS [OBI (Sales)]
			, pp.Qty AS [OBI (Production)]
			, SUM(ISNULL(i.TRANSACTION_QUANTITY,0) - ISNULL(d.TRANSACTION_QUANTITY,0)) AS [OracleVsModel]
			, SUM(d.TRANSACTION_QUANTITY) - ISNULL(oh.Qty,0) AS ModelVsOBI
			, s.ItemCost AS UnitCOGS
			, SUM(ISNULL(d.TRANSACTION_QUANTITY,0))*s.ItemCost AS Inventory
			, SUM(ISNULL(i.TRANSACTION_QUANTITY,0) - ISNULL(d.TRANSACTION_QUANTITY,0))*s.ItemCost AS CostDifference
			, CASE WHEN (SUM(ISNULL(d.TRANSACTION_QUANTITY,0))*s.ItemCost) <> 0 THEN (SUM(ISNULL(i.TRANSACTION_QUANTITY,0) - ISNULL(d.TRANSACTION_QUANTITY,0))*s.ItemCost)/(SUM(ISNULL(d.TRANSACTION_QUANTITY,0))*s.ItemCost) END AS CostVar
		FROM Oracle.INV_MTL_ONHAND_QUANTITIES_DETAIL d
			LEFT JOIN #inventory i ON d.[ONHAND_QUANTITIES_ID] = i.[ONHAND_QUANTITIES_ID] 
			LEFT JOIN Oracle.Inv_mtl_system_items_b	msi	ON d.inventory_item_id = msi.inventory_item_id and d.organization_id = msi.organization_id AND msi.CurrentRecord = 1
			LEFT JOIN dbo.DimProductMaster pm ON msi.SEGMENT1 = pm.ProductKey
			LEFT JOIN Oracle.ORG_ORGANIZATION_DEFINITIONS o ON o.ORGANIZATION_ID = d.ORGANIZATION_ID
			LEFT JOIN dbo.DimLocation l ON l.LocationKey = o.ORGANIZATION_CODE
			LEFT JOIN (SELECT ProductID, PlantID AS LocationID, SUM(Quantity) AS Qty FROM dbo.FactProductionPlan WHERE InventoryTypeID = 1 GROUP BY ProductID, PlantID) oh ON pm.ProductID = oh.ProductID AND l.LocationID = oh.LocationID
			LEFT JOIN (SELECT ProductID, PlantID AS LocationID, SUM(Quantity) AS Qty FROM dbo.FactProductionPlan WHERE InventoryTypeID = 5 GROUP BY ProductID, PlantID) ps ON pm.ProductID = ps.ProductID AND l.LocationID = ps.LocationID
			LEFT JOIN (SELECT ProductID, PlantID AS LocationID, SUM(Quantity) AS Qty FROM dbo.FactProductionPlan WHERE InventoryTypeID = 6 GROUP BY ProductID, PlantID) pp ON pm.ProductID = pp.ProductID AND l.LocationID = pp.LocationID
			LEFT JOIN dbo.FactStandard s ON GETDATE() BETWEEN s.StartDate AND s.EndDate AND s.ProductID = pm.ProductID AND s.LocationID = 3 --l.LocationID
		WHERE d.CurrentRecord = 1  AND [Part TYpe] = 'FINISHED GOODS'
		GROUP BY msi.SEGMENT1, o.ORGANIZATION_CODE, pm.MakeBuy--, l.LocationID, pm.ProductID
			, s.ItemCost, oh.Qty, ps.Qty, pp.Qty
		HAVING  SUM(ISNULL(i.TRANSACTION_QUANTITY,0) - ISNULL(d.TRANSACTION_QUANTITY,0)) <> 0 OR SUM(ISNULL(d.TRANSACTION_QUANTITY,0)) <> MAX(ISNULL(oh.Qty,0))
		ORDER BY msi.SEGMENT1, ORGANIZATION_CODE
	*/

	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Merge', GETDATE()

	INSERT INTO Oracle.INV_MTL_ONHAND_QUANTITIES_DETAIL (
		   [INVENTORY_ITEM_ID]
		  ,[ORGANIZATION_ID]
		  ,[DATE_RECEIVED]
		  ,[LAST_UPDATE_DATE]
		  ,[LAST_UPDATED_BY]
		  ,[CREATION_DATE]
		  ,[CREATED_BY]
		  ,[LAST_UPDATE_LOGIN]
		  ,[PRIMARY_TRANSACTION_QUANTITY]
		  ,[SUBINVENTORY_CODE]
		  ,[REVISION]
		  ,[LOCATOR_ID]
		  ,[CREATE_TRANSACTION_ID]
		  ,[UPDATE_TRANSACTION_ID]
		  ,[LOT_NUMBER]
		  ,[ORIG_DATE_RECEIVED]
		  ,[COST_GROUP_ID]
		  ,[CONTAINERIZED_FLAG]
		  ,[PROJECT_ID]
		  ,[TASK_ID]
		  ,[ONHAND_QUANTITIES_ID]
		  ,[ORGANIZATION_TYPE]
		  ,[OWNING_ORGANIZATION_ID]
		  ,[OWNING_TP_TYPE]
		  ,[PLANNING_ORGANIZATION_ID]
		  ,[PLANNING_TP_TYPE]
		  ,[TRANSACTION_UOM_CODE]
		  ,[TRANSACTION_QUANTITY]
		  ,[SECONDARY_UOM_CODE]
		  ,[SECONDARY_TRANSACTION_QUANTITY]
		  ,[IS_CONSIGNED]
		  ,[LPN_ID]
		  ,[STATUS_ID]
		  ,[Fingerprint]
	)
	SELECT 
		   a.[INVENTORY_ITEM_ID]
		  ,a.[ORGANIZATION_ID]
		  ,a.[DATE_RECEIVED]
		  ,a.[LAST_UPDATE_DATE]
		  ,a.[LAST_UPDATED_BY]
		  ,a.[CREATION_DATE]
		  ,a.[CREATED_BY]
		  ,a.[LAST_UPDATE_LOGIN]
		  ,a.[PRIMARY_TRANSACTION_QUANTITY]
		  ,a.[SUBINVENTORY_CODE]
		  ,a.[REVISION]
		  ,a.[LOCATOR_ID]
		  ,a.[CREATE_TRANSACTION_ID]
		  ,a.[UPDATE_TRANSACTION_ID]
		  ,a.[LOT_NUMBER]
		  ,a.[ORIG_DATE_RECEIVED]
		  ,a.[COST_GROUP_ID]
		  ,a.[CONTAINERIZED_FLAG]
		  ,a.[PROJECT_ID]
		  ,a.[TASK_ID]
		  ,a.[ONHAND_QUANTITIES_ID]
		  ,a.[ORGANIZATION_TYPE]
		  ,a.[OWNING_ORGANIZATION_ID]
		  ,a.[OWNING_TP_TYPE]
		  ,a.[PLANNING_ORGANIZATION_ID]
		  ,a.[PLANNING_TP_TYPE]
		  ,a.[TRANSACTION_UOM_CODE]
		  ,a.[TRANSACTION_QUANTITY]
		  ,a.[SECONDARY_UOM_CODE]
		  ,a.[SECONDARY_TRANSACTION_QUANTITY]
		  ,a.[IS_CONSIGNED]
		  ,a.[LPN_ID]
		  ,a.[STATUS_ID]
		  ,a.[Fingerprint]
	FROM (
		MERGE Oracle.INV_MTL_ONHAND_QUANTITIES_DETAIL b
		USING (SELECT * FROM #Inventory) a
		ON  a.[ONHAND_QUANTITIES_ID] = b.[ONHAND_QUANTITIES_ID]
			--a.INVENTORY_ITEM_ID = b.INVENTORY_ITEM_ID 
			--AND a.ORGANIZATION_ID = b.ORGANIZATION_ID
			--AND a.OWNING_ORGANIZATION_ID = b.OWNING_ORGANIZATION_ID
			--AND a.PLANNING_ORGANIZATION_ID = b.PLANNING_ORGANIZATION_ID
			--AND a.DATE_RECEIVED	= b.DATE_RECEIVED		
			AND b.CurrentRecord = 1 --swap with business key of table
		WHEN NOT MATCHED --BY TARGET 
		THEN INSERT (
				[INVENTORY_ITEM_ID]
			  ,[ORGANIZATION_ID]
			  ,[DATE_RECEIVED]
			  ,[LAST_UPDATE_DATE]
			  ,[LAST_UPDATED_BY]
			  ,[CREATION_DATE]
			  ,[CREATED_BY]
			  ,[LAST_UPDATE_LOGIN]
			  ,[PRIMARY_TRANSACTION_QUANTITY]
			  ,[SUBINVENTORY_CODE]
			  ,[REVISION]
			  ,[LOCATOR_ID]
			  ,[CREATE_TRANSACTION_ID]
			  ,[UPDATE_TRANSACTION_ID]
			  ,[LOT_NUMBER]
			  ,[ORIG_DATE_RECEIVED]
			  ,[COST_GROUP_ID]
			  ,[CONTAINERIZED_FLAG]
			  ,[PROJECT_ID]
			  ,[TASK_ID]
			  ,[ONHAND_QUANTITIES_ID]
			  ,[ORGANIZATION_TYPE]
			  ,[OWNING_ORGANIZATION_ID]
			  ,[OWNING_TP_TYPE]
			  ,[PLANNING_ORGANIZATION_ID]
			  ,[PLANNING_TP_TYPE]
			  ,[TRANSACTION_UOM_CODE]
			  ,[TRANSACTION_QUANTITY]
			  ,[SECONDARY_UOM_CODE]
			  ,[SECONDARY_TRANSACTION_QUANTITY]
			  ,[IS_CONSIGNED]
			  ,[LPN_ID]
			  ,[STATUS_ID]
			  ,[Fingerprint]
		)
		VALUES (
			   a.[INVENTORY_ITEM_ID]
			  ,a.[ORGANIZATION_ID]
			  ,a.[DATE_RECEIVED]
			  ,a.[LAST_UPDATE_DATE]
			  ,a.[LAST_UPDATED_BY]
			  ,a.[CREATION_DATE]
			  ,a.[CREATED_BY]
			  ,a.[LAST_UPDATE_LOGIN]
			  ,a.[PRIMARY_TRANSACTION_QUANTITY]
			  ,a.[SUBINVENTORY_CODE]
			  ,a.[REVISION]
			  ,a.[LOCATOR_ID]
			  ,a.[CREATE_TRANSACTION_ID]
			  ,a.[UPDATE_TRANSACTION_ID]
			  ,a.[LOT_NUMBER]
			  ,a.[ORIG_DATE_RECEIVED]
			  ,a.[COST_GROUP_ID]
			  ,a.[CONTAINERIZED_FLAG]
			  ,a.[PROJECT_ID]
			  ,a.[TASK_ID]
			  ,a.[ONHAND_QUANTITIES_ID]
			  ,a.[ORGANIZATION_TYPE]
			  ,a.[OWNING_ORGANIZATION_ID]
			  ,a.[OWNING_TP_TYPE]
			  ,a.[PLANNING_ORGANIZATION_ID]
			  ,a.[PLANNING_TP_TYPE]
			  ,a.[TRANSACTION_UOM_CODE]
			  ,a.[TRANSACTION_QUANTITY]
			  ,a.[SECONDARY_UOM_CODE]
			  ,a.[SECONDARY_TRANSACTION_QUANTITY]
			  ,a.[IS_CONSIGNED]
			  ,a.[LPN_ID]
			  ,a.[STATUS_ID]
			  ,a.[Fingerprint]
		)
		--Existing records that have changed are expired
		WHEN MATCHED AND a.Fingerprint<>b.Fingerprint
		THEN UPDATE SET b.EndDate=GETDATE()
			,b.CurrentRecord=0
		--Existing records that are no longer in the data source (full compare only)
		WHEN NOT MATCHED BY SOURCE AND b.CurrentRecord = 1
		THEN UPDATE SET b.EndDate=GETDATE()
			,b.CurrentRecord=0
		OUTPUT 
			   a.[INVENTORY_ITEM_ID]
			  ,a.[ORGANIZATION_ID]
			  ,a.[DATE_RECEIVED]
			  ,a.[LAST_UPDATE_DATE]
			  ,a.[LAST_UPDATED_BY]
			  ,a.[CREATION_DATE]
			  ,a.[CREATED_BY]
			  ,a.[LAST_UPDATE_LOGIN]
			  ,a.[PRIMARY_TRANSACTION_QUANTITY]
			  ,a.[SUBINVENTORY_CODE]
			  ,a.[REVISION]
			  ,a.[LOCATOR_ID]
			  ,a.[CREATE_TRANSACTION_ID]
			  ,a.[UPDATE_TRANSACTION_ID]
			  ,a.[LOT_NUMBER]
			  ,a.[ORIG_DATE_RECEIVED]
			  ,a.[COST_GROUP_ID]
			  ,a.[CONTAINERIZED_FLAG]
			  ,a.[PROJECT_ID]
			  ,a.[TASK_ID]
			  ,a.[ONHAND_QUANTITIES_ID]
			  ,a.[ORGANIZATION_TYPE]
			  ,a.[OWNING_ORGANIZATION_ID]
			  ,a.[OWNING_TP_TYPE]
			  ,a.[PLANNING_ORGANIZATION_ID]
			  ,a.[PLANNING_TP_TYPE]
			  ,a.[TRANSACTION_UOM_CODE]
			  ,a.[TRANSACTION_QUANTITY]
			  ,a.[SECONDARY_UOM_CODE]
			  ,a.[SECONDARY_TRANSACTION_QUANTITY]
			  ,a.[IS_CONSIGNED]
			  ,a.[LPN_ID]
			  ,a.[STATUS_ID]
			  ,a.[Fingerprint]
			  ,$Action AS Action
	) a
	WHERE Action = 'Update' AND Fingerprint IS NOT NULL;

	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Done', GETDATE()

	DROP TABLE #inventory

END
GO
