USE [Operations]
GO
/****** Object:  StoredProcedure [Oracle].[Merge_QP_LIST_LINES_V]    Script Date: 7/10/2025 11:43:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Oracle].[Merge_QP_LIST_LINES_V]
AS BEGIN

	CREATE TABLE #QPListLines (
		[ROW_ID] [char](18) COLLATE SQL_Latin1_General_CP1_CS_AS NULL,
		[LIST_LINE_ID] [float] NOT NULL,
		[CREATION_DATE] [datetime2](7) NOT NULL,
		[CREATED_BY] [float] NOT NULL,
		[LAST_UPDATE_DATE] [datetime2](7) NOT NULL,
		[LAST_UPDATED_BY] [float] NOT NULL,
		[LAST_UPDATE_LOGIN] [float] NULL,
		[PROGRAM_APPLICATION_ID] [float] NULL,
		[PROGRAM_ID] [float] NULL,
		[PROGRAM_UPDATE_DATE] [datetime2](7) NULL,
		[REQUEST_ID] [float] NULL,
		[LIST_HEADER_ID] [float] NOT NULL,
		[PA_LIST_HEADER_ID] [float] NULL,
		[PRODUCT_ATTRIBUTE_CONTEXT] [nvarchar](30) NULL,
		[PRODUCT_ATTRIBUTE] [nvarchar](30) NULL,
		[PRODUCT_ATTR_VALUE] [nvarchar](240) NULL,
		[PRODUCT_UOM_CODE] [nvarchar](3) NULL,
		[LIST_PRICE] [float] NULL,
		[PERCENT_PRICE] [float] NULL,
		[PRICE_BY_FORMULA_ID] [float] NULL,
		[START_DATE_ACTIVE] [datetime2](7) NULL,
		[END_DATE_ACTIVE] [datetime2](7) NULL,
		[CONTEXT] [nvarchar](30) NULL,
		[ATTRIBUTE1] [nvarchar](240) NULL,
		[ATTRIBUTE2] [nvarchar](240) NULL,
		[ATTRIBUTE3] [nvarchar](240) NULL,
		[ATTRIBUTE4] [nvarchar](240) NULL,
		[ATTRIBUTE5] [nvarchar](240) NULL,
		[ATTRIBUTE6] [nvarchar](240) NULL,
		[ATTRIBUTE7] [nvarchar](240) NULL,
		[ATTRIBUTE8] [nvarchar](240) NULL,
		[ATTRIBUTE9] [nvarchar](240) NULL,
		[ATTRIBUTE10] [nvarchar](240) NULL,
		[ATTRIBUTE11] [nvarchar](240) NULL,
		[ATTRIBUTE12] [nvarchar](240) NULL,
		[ATTRIBUTE13] [nvarchar](240) NULL,
		[ATTRIBUTE14] [nvarchar](240) NULL,
		[ATTRIBUTE15] [nvarchar](240) NULL,
		[PRIMARY_UOM_FLAG] [nvarchar](1) NULL,
		[REVISION] [nvarchar](50) NULL,
		[REVISION_DATE] [datetime2](7) NULL,
		[REVISION_REASON_CODE] [nvarchar](30) NULL,
		[COMMENTS] [nvarchar](2000) NULL,
		[LIST_LINE_TYPE_CODE] [nvarchar](30) NOT NULL,
		[AUTOMATIC_FLAG] [nvarchar](1) NOT NULL,
		[MODIFIER_LEVEL_CODE] [nvarchar](30) NOT NULL,
		[LIST_PRICE_UOM_CODE] [nvarchar](3) NULL,
		[INVENTORY_ITEM_ID] [float] NULL,
		[ORGANIZATION_ID] [float] NULL,
		[RELATED_ITEM_ID] [float] NULL,
		[NUMBER_EFFECTIVE_PERIODS] [float] NULL,
		[EFFECTIVE_PERIOD_UOM] [nvarchar](3) NULL,
		[ARITHMETIC_OPERATOR] [nvarchar](30) NULL,
		[INCOMPATIBILITY_GRP_CODE] [nvarchar](30) NULL,
		[LIST_LINE_NO] [nvarchar](30) NULL,
		[PRICING_GROUP_SEQUENCE] [float] NULL,
		[RELATIONSHIP_TYPE_ID] [float] NULL,
		[SUBSTITUTION_CONTEXT] [nvarchar](30) NULL,
		[SUBSTITUTION_ATTRIBUTE] [nvarchar](30) NULL,
		[SUBSTITUTION_VALUE] [nvarchar](240) NULL,
		[PRICE_BREAK_TYPE_CODE] [nvarchar](30) NULL,
		[OPERAND] [float] NULL,
		[OVERRIDE_FLAG] [nvarchar](1) NULL,
		[PRINT_ON_INVOICE_FLAG] [nvarchar](1) NULL,
		[REBATE_TRANSACTION_TYPE_CODE] [nvarchar](30) NULL,
		[BASE_QTY] [float] NULL,
		[BASE_UOM_CODE] [nvarchar](3) NULL,
		[ACCRUAL_QTY] [float] NULL,
		[ACCRUAL_UOM_CODE] [nvarchar](3) NULL,
		[ESTIM_ACCRUAL_RATE] [float] NULL,
		[GENERATE_USING_FORMULA_ID] [float] NULL,
		[ACCRUAL_FLAG] [nvarchar](1) NULL,
		[REPRICE_FLAG] [nvarchar](1) NULL,
		[PRICING_PHASE_ID] [float] NULL,
		[PRODUCT_PRECEDENCE] [float] NULL,
		[CUSTOMER_ITEM_ID] [float] NULL,
		[PRICING_ATTRIBUTE_CONTEXT] [nvarchar](30) NULL,
		[PRICING_ATTRIBUTE] [nvarchar](30) NULL,
		[PRICING_ATTR_VALUE_FROM] [nvarchar](240) NULL,
		[PRICING_ATTR_VALUE_TO] [nvarchar](240) NULL,
		[PRODUCT_ATTR_VAL_DISP] [nvarchar](4000) NULL,
		[PRODUCT_ID] [nvarchar](240) NULL,
		[PRICING_ATTRIBUTE_ID] [float] NOT NULL,
		[PRODUCT_ATTRIBUTE_DATATYPE] [nvarchar](30) NULL,
		[PRICING_ATTRIBUTE_DATATYPE] [nvarchar](30) NULL,
		[COMPARISON_OPERATOR_CODE] [nvarchar](30) NULL,
		[ATTR_LIST_LINE_ID] [float] NOT NULL,
		[ATTR_CREATION_DATE] [datetime2](7) NOT NULL,
		[ATTR_CREATED_BY] [float] NOT NULL,
		[ATTR_LAST_UPDATE_DATE] [datetime2](7) NOT NULL,
		[ATTR_LAST_UPDATED_BY] [float] NOT NULL,
		[ATTR_LAST_UPDATE_LOGIN] [float] NULL,
		[ATTR_PROGRAM_APPLICATION_ID] [float] NULL,
		[ATTR_PROGRAM_ID] [float] NULL,
		[ATTR_PROGRAM_UPDATE_DATE] [datetime2](7) NULL,
		[ATTR_REQUEST_ID] [float] NULL,
		[ATTR_CONTEXT] [nvarchar](30) NULL,
		[ATTR_ATTRIBUTE1] [nvarchar](240) NULL,
		[ATTR_ATTRIBUTE2] [nvarchar](240) NULL,
		[ATTR_ATTRIBUTE3] [nvarchar](240) NULL,
		[ATTR_ATTRIBUTE4] [nvarchar](240) NULL,
		[ATTR_ATTRIBUTE5] [nvarchar](240) NULL,
		[ATTR_ATTRIBUTE6] [nvarchar](240) NULL,
		[ATTR_ATTRIBUTE7] [nvarchar](240) NULL,
		[ATTR_ATTRIBUTE8] [nvarchar](240) NULL,
		[ATTR_ATTRIBUTE9] [nvarchar](240) NULL,
		[ATTR_ATTRIBUTE10] [nvarchar](240) NULL,
		[ATTR_ATTRIBUTE11] [nvarchar](240) NULL,
		[ATTR_ATTRIBUTE12] [nvarchar](240) NULL,
		[ATTR_ATTRIBUTE13] [nvarchar](240) NULL,
		[ATTR_ATTRIBUTE14] [nvarchar](240) NULL,
		[ATTR_ATTRIBUTE15] [nvarchar](240) NULL,
		[BREAK_UOM_CODE] [nvarchar](3) NULL,
		[BREAK_UOM_CONTEXT] [nvarchar](30) NULL,
		[BREAK_UOM_ATTRIBUTE] [nvarchar](30) NULL,
		[CONTINUOUS_PRICE_BREAK_FLAG] [nvarchar](1) NULL,
		[Fingerprint] [varchar](32) NOT NULL
	)


	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Oracle Download', GETDATE()

	INSERT INTO #QPListLines
	SELECT [ROW_ID]
		  ,[LIST_LINE_ID]
		  ,[CREATION_DATE]
		  ,[CREATED_BY]
		  ,[LAST_UPDATE_DATE]
		  ,[LAST_UPDATED_BY]
		  ,[LAST_UPDATE_LOGIN]
		  ,[PROGRAM_APPLICATION_ID]
		  ,[PROGRAM_ID]
		  ,[PROGRAM_UPDATE_DATE]
		  ,[REQUEST_ID]
		  ,[LIST_HEADER_ID]
		  ,[PA_LIST_HEADER_ID]
		  ,[PRODUCT_ATTRIBUTE_CONTEXT]
		  ,[PRODUCT_ATTRIBUTE]
		  ,[PRODUCT_ATTR_VALUE]
		  ,[PRODUCT_UOM_CODE]
		  ,[LIST_PRICE]
		  ,[PERCENT_PRICE]
		  ,[PRICE_BY_FORMULA_ID]
		  ,[START_DATE_ACTIVE]
		  ,[END_DATE_ACTIVE]
		  ,[CONTEXT]
		  ,[ATTRIBUTE1]
		  ,[ATTRIBUTE2]
		  ,[ATTRIBUTE3]
		  ,[ATTRIBUTE4]
		  ,[ATTRIBUTE5]
		  ,[ATTRIBUTE6]
		  ,[ATTRIBUTE7]
		  ,[ATTRIBUTE8]
		  ,[ATTRIBUTE9]
		  ,[ATTRIBUTE10]
		  ,[ATTRIBUTE11]
		  ,[ATTRIBUTE12]
		  ,[ATTRIBUTE13]
		  ,[ATTRIBUTE14]
		  ,[ATTRIBUTE15]
		  ,[PRIMARY_UOM_FLAG]
		  ,[REVISION]
		  ,[REVISION_DATE]
		  ,[REVISION_REASON_CODE]
		  ,[COMMENTS]
		  ,[LIST_LINE_TYPE_CODE]
		  ,[AUTOMATIC_FLAG]
		  ,[MODIFIER_LEVEL_CODE]
		  ,[LIST_PRICE_UOM_CODE]
		  ,[INVENTORY_ITEM_ID]
		  ,[ORGANIZATION_ID]
		  ,[RELATED_ITEM_ID]
		  ,[NUMBER_EFFECTIVE_PERIODS]
		  ,[EFFECTIVE_PERIOD_UOM]
		  ,[ARITHMETIC_OPERATOR]
		  ,[INCOMPATIBILITY_GRP_CODE]
		  ,[LIST_LINE_NO]
		  ,[PRICING_GROUP_SEQUENCE]
		  ,[RELATIONSHIP_TYPE_ID]
		  ,[SUBSTITUTION_CONTEXT]
		  ,[SUBSTITUTION_ATTRIBUTE]
		  ,[SUBSTITUTION_VALUE]
		  ,[PRICE_BREAK_TYPE_CODE]
		  ,[OPERAND]
		  ,[OVERRIDE_FLAG]
		  ,[PRINT_ON_INVOICE_FLAG]
		  ,[REBATE_TRANSACTION_TYPE_CODE]
		  ,[BASE_QTY]
		  ,[BASE_UOM_CODE]
		  ,[ACCRUAL_QTY]
		  ,[ACCRUAL_UOM_CODE]
		  ,[ESTIM_ACCRUAL_RATE]
		  ,[GENERATE_USING_FORMULA_ID]
		  ,[ACCRUAL_FLAG]
		  ,[REPRICE_FLAG]
		  ,[PRICING_PHASE_ID]
		  ,[PRODUCT_PRECEDENCE]
		  ,[CUSTOMER_ITEM_ID]
		  ,[PRICING_ATTRIBUTE_CONTEXT]
		  ,[PRICING_ATTRIBUTE]
		  ,[PRICING_ATTR_VALUE_FROM]
		  ,[PRICING_ATTR_VALUE_TO]
		  ,[PRODUCT_ATTR_VAL_DISP]
		  ,[PRODUCT_ID]
		  ,[PRICING_ATTRIBUTE_ID]
		  ,[PRODUCT_ATTRIBUTE_DATATYPE]
		  ,[PRICING_ATTRIBUTE_DATATYPE]
		  ,[COMPARISON_OPERATOR_CODE]
		  ,[ATTR_LIST_LINE_ID]
		  ,[ATTR_CREATION_DATE]
		  ,[ATTR_CREATED_BY]
		  ,[ATTR_LAST_UPDATE_DATE]
		  ,[ATTR_LAST_UPDATED_BY]
		  ,[ATTR_LAST_UPDATE_LOGIN]
		  ,[ATTR_PROGRAM_APPLICATION_ID]
		  ,[ATTR_PROGRAM_ID]
		  ,[ATTR_PROGRAM_UPDATE_DATE]
		  ,[ATTR_REQUEST_ID]
		  ,[ATTR_CONTEXT]
		  ,[ATTR_ATTRIBUTE1]
		  ,[ATTR_ATTRIBUTE2]
		  ,[ATTR_ATTRIBUTE3]
		  ,[ATTR_ATTRIBUTE4]
		  ,[ATTR_ATTRIBUTE5]
		  ,[ATTR_ATTRIBUTE6]
		  ,[ATTR_ATTRIBUTE7]
		  ,[ATTR_ATTRIBUTE8]
		  ,[ATTR_ATTRIBUTE9]
		  ,[ATTR_ATTRIBUTE10]
		  ,[ATTR_ATTRIBUTE11]
		  ,[ATTR_ATTRIBUTE12]
		  ,[ATTR_ATTRIBUTE13]
		  ,[ATTR_ATTRIBUTE14]
		  ,[ATTR_ATTRIBUTE15]
		  ,[BREAK_UOM_CODE]
		  ,[BREAK_UOM_CONTEXT]
		  ,[BREAK_UOM_ATTRIBUTE]
		  ,[CONTINUOUS_PRICE_BREAK_FLAG]
		  ,'XXX' AS [Fingerprint]
	FROM OPENQUERY(PROD,'SELECT * FROM QP_LIST_LINES_V WHERE CREATION_DATE >= SYSDATE - 3 OR LAST_UPDATE_DATE >= SYSDATE - 3')

	/*
		DECLARE @columnList VARCHAR(MAX) = dbo.getHashField ('QP_LIST_LINES_V','Oracle') SELECT @columnList
	*/

	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Fingerprint', GETDATE()

	UPDATE #QPListLines
	SET Fingerprint = 
		SUBSTRING(LOWER(CONVERT(VARCHAR(32),HASHBYTES('MD5',
			--replace @columnList result here
				  CAST(ISNULL(ROW_ID,'') COLLATE SQL_Latin1_General_CP1_CS_AS AS VARCHAR(18)) +  CAST(ISNULL(LIST_LINE_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(CREATION_DATE,'') AS VARCHAR(100)) +  CAST(ISNULL(CREATED_BY,'0') AS VARCHAR(100)) +  CAST(ISNULL(LAST_UPDATE_DATE,'') AS VARCHAR(100)) +  CAST(ISNULL(LAST_UPDATED_BY,'0') AS VARCHAR(100)) +  CAST(ISNULL(LAST_UPDATE_LOGIN,'0') AS VARCHAR(100)) +  CAST(ISNULL(PROGRAM_APPLICATION_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(PROGRAM_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(PROGRAM_UPDATE_DATE,'') AS VARCHAR(100)) +  CAST(ISNULL(REQUEST_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(LIST_HEADER_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(PA_LIST_HEADER_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(PRODUCT_ATTRIBUTE_CONTEXT,'') AS VARCHAR(30)) +  CAST(ISNULL(PRODUCT_ATTRIBUTE,'') AS VARCHAR(30)) +  CAST(ISNULL(PRODUCT_ATTR_VALUE,'') AS VARCHAR(240)) +  CAST(ISNULL(PRODUCT_UOM_CODE,'') AS VARCHAR(3)) +  CAST(ISNULL(LIST_PRICE,'0') AS VARCHAR(100)) +  CAST(ISNULL(PERCENT_PRICE,'0') AS VARCHAR(100)) +  CAST(ISNULL(PRICE_BY_FORMULA_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(START_DATE_ACTIVE,'') AS VARCHAR(100)) +  CAST(ISNULL(END_DATE_ACTIVE,'') AS VARCHAR(100)) +  CAST(ISNULL(CONTEXT,'') AS VARCHAR(30)) +  CAST(ISNULL(ATTRIBUTE1,'') AS VARCHAR(240)) +  CAST(ISNULL(ATTRIBUTE2,'') AS VARCHAR(240)) +  CAST(ISNULL(ATTRIBUTE3,'') AS VARCHAR(240)) +  CAST(ISNULL(ATTRIBUTE4,'') AS VARCHAR(240)) +  CAST(ISNULL(ATTRIBUTE5,'') AS VARCHAR(240)) +  CAST(ISNULL(ATTRIBUTE6,'') AS VARCHAR(240)) +  CAST(ISNULL(ATTRIBUTE7,'') AS VARCHAR(240)) +  CAST(ISNULL(ATTRIBUTE8,'') AS VARCHAR(240)) +  CAST(ISNULL(ATTRIBUTE9,'') AS VARCHAR(240)) +  CAST(ISNULL(ATTRIBUTE10,'') AS VARCHAR(240)) +  CAST(ISNULL(ATTRIBUTE11,'') AS VARCHAR(240)) +  CAST(ISNULL(ATTRIBUTE12,'') AS VARCHAR(240)) +  CAST(ISNULL(ATTRIBUTE13,'') AS VARCHAR(240)) +  CAST(ISNULL(ATTRIBUTE14,'') AS VARCHAR(240)) +  CAST(ISNULL(ATTRIBUTE15,'') AS VARCHAR(240)) +  CAST(ISNULL(PRIMARY_UOM_FLAG,'') AS VARCHAR(1)) +  CAST(ISNULL(REVISION,'') AS VARCHAR(50)) +  CAST(ISNULL(REVISION_DATE,'') AS VARCHAR(100)) +  CAST(ISNULL(REVISION_REASON_CODE,'') AS VARCHAR(30)) +  CAST(ISNULL(COMMENTS,'') AS VARCHAR(2000)) +  CAST(ISNULL(LIST_LINE_TYPE_CODE,'') AS VARCHAR(30)) +  CAST(ISNULL(AUTOMATIC_FLAG,'') AS VARCHAR(1)) +  CAST(ISNULL(MODIFIER_LEVEL_CODE,'') AS VARCHAR(30)) +  CAST(ISNULL(LIST_PRICE_UOM_CODE,'') AS VARCHAR(3)) +  CAST(ISNULL(INVENTORY_ITEM_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(ORGANIZATION_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(RELATED_ITEM_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(NUMBER_EFFECTIVE_PERIODS,'0') AS VARCHAR(100)) +  CAST(ISNULL(EFFECTIVE_PERIOD_UOM,'') AS VARCHAR(3)) +  CAST(ISNULL(ARITHMETIC_OPERATOR,'') AS VARCHAR(30)) +  CAST(ISNULL(INCOMPATIBILITY_GRP_CODE,'') AS VARCHAR(30)) +  CAST(ISNULL(LIST_LINE_NO,'') AS VARCHAR(30)) +  CAST(ISNULL(PRICING_GROUP_SEQUENCE,'0') AS VARCHAR(100)) +  CAST(ISNULL(RELATIONSHIP_TYPE_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(SUBSTITUTION_CONTEXT,'') AS VARCHAR(30)) +  CAST(ISNULL(SUBSTITUTION_ATTRIBUTE,'') AS VARCHAR(30)) +  CAST(ISNULL(SUBSTITUTION_VALUE,'') AS VARCHAR(240)) +  CAST(ISNULL(PRICE_BREAK_TYPE_CODE,'') AS VARCHAR(30)) +  CAST(ISNULL(OPERAND,'0') AS VARCHAR(100)) +  CAST(ISNULL(OVERRIDE_FLAG,'') AS VARCHAR(1)) +  CAST(ISNULL(PRINT_ON_INVOICE_FLAG,'') AS VARCHAR(1)) +  CAST(ISNULL(REBATE_TRANSACTION_TYPE_CODE,'') AS VARCHAR(30)) +  CAST(ISNULL(BASE_QTY,'0') AS VARCHAR(100)) +  CAST(ISNULL(BASE_UOM_CODE,'') AS VARCHAR(3)) +  CAST(ISNULL(ACCRUAL_QTY,'0') AS VARCHAR(100)) +  CAST(ISNULL(ACCRUAL_UOM_CODE,'') AS VARCHAR(3)) +  CAST(ISNULL(ESTIM_ACCRUAL_RATE,'0') AS VARCHAR(100)) +  CAST(ISNULL(GENERATE_USING_FORMULA_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(ACCRUAL_FLAG,'') AS VARCHAR(1)) +  CAST(ISNULL(REPRICE_FLAG,'') AS VARCHAR(1)) +  CAST(ISNULL(PRICING_PHASE_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(PRODUCT_PRECEDENCE,'0') AS VARCHAR(100)) +  CAST(ISNULL(CUSTOMER_ITEM_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(PRICING_ATTRIBUTE_CONTEXT,'') AS VARCHAR(30)) +  CAST(ISNULL(PRICING_ATTRIBUTE,'') AS VARCHAR(30)) +  CAST(ISNULL(PRICING_ATTR_VALUE_FROM,'') AS VARCHAR(240)) +  CAST(ISNULL(PRICING_ATTR_VALUE_TO,'') AS VARCHAR(240)) +  CAST(ISNULL(PRODUCT_ATTR_VAL_DISP,'') AS VARCHAR(4000)) +  CAST(ISNULL(PRODUCT_ID,'') AS VARCHAR(240)) +  CAST(ISNULL(PRICING_ATTRIBUTE_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(PRODUCT_ATTRIBUTE_DATATYPE,'') AS VARCHAR(30)) +  CAST(ISNULL(PRICING_ATTRIBUTE_DATATYPE,'') AS VARCHAR(30)) +  CAST(ISNULL(COMPARISON_OPERATOR_CODE,'') AS VARCHAR(30)) +  CAST(ISNULL(ATTR_LIST_LINE_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(ATTR_CREATION_DATE,'') AS VARCHAR(100)) +  CAST(ISNULL(ATTR_CREATED_BY,'0') AS VARCHAR(100)) +  CAST(ISNULL(ATTR_LAST_UPDATE_DATE,'') AS VARCHAR(100)) +  CAST(ISNULL(ATTR_LAST_UPDATED_BY,'0') AS VARCHAR(100)) +  CAST(ISNULL(ATTR_LAST_UPDATE_LOGIN,'0') AS VARCHAR(100)) +  CAST(ISNULL(ATTR_PROGRAM_APPLICATION_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(ATTR_PROGRAM_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(ATTR_PROGRAM_UPDATE_DATE,'') AS VARCHAR(100)) +  CAST(ISNULL(ATTR_REQUEST_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(ATTR_CONTEXT,'') AS VARCHAR(30)) +  CAST(ISNULL(ATTR_ATTRIBUTE1,'') AS VARCHAR(240)) +  CAST(ISNULL(ATTR_ATTRIBUTE2,'') AS VARCHAR(240)) +  CAST(ISNULL(ATTR_ATTRIBUTE3,'') AS VARCHAR(240)) +  CAST(ISNULL(ATTR_ATTRIBUTE4,'') AS VARCHAR(240)) +  CAST(ISNULL(ATTR_ATTRIBUTE5,'') AS VARCHAR(240)) +  CAST(ISNULL(ATTR_ATTRIBUTE6,'') AS VARCHAR(240)) +  CAST(ISNULL(ATTR_ATTRIBUTE7,'') AS VARCHAR(240)) +  CAST(ISNULL(ATTR_ATTRIBUTE8,'') AS VARCHAR(240)) +  CAST(ISNULL(ATTR_ATTRIBUTE9,'') AS VARCHAR(240)) +  CAST(ISNULL(ATTR_ATTRIBUTE10,'') AS VARCHAR(240)) +  CAST(ISNULL(ATTR_ATTRIBUTE11,'') AS VARCHAR(240)) +  CAST(ISNULL(ATTR_ATTRIBUTE12,'') AS VARCHAR(240)) +  CAST(ISNULL(ATTR_ATTRIBUTE13,'') AS VARCHAR(240)) +  CAST(ISNULL(ATTR_ATTRIBUTE14,'') AS VARCHAR(240)) +  CAST(ISNULL(ATTR_ATTRIBUTE15,'') AS VARCHAR(240)) +  CAST(ISNULL(BREAK_UOM_CODE,'') AS VARCHAR(3)) +  CAST(ISNULL(BREAK_UOM_CONTEXT,'') AS VARCHAR(30)) +  CAST(ISNULL(BREAK_UOM_ATTRIBUTE,'') AS VARCHAR(30)) +  CAST(ISNULL(CONTINUOUS_PRICE_BREAK_FLAG,'') AS VARCHAR(1)) 
		),1)),3,32);

	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Merge', GETDATE()

	INSERT INTO Oracle.QP_LIST_LINES_V (
			  [ROW_ID]
			  ,[LIST_LINE_ID]
			  ,[CREATION_DATE]
			  ,[CREATED_BY]
			  ,[LAST_UPDATE_DATE]
			  ,[LAST_UPDATED_BY]
			  ,[LAST_UPDATE_LOGIN]
			  ,[PROGRAM_APPLICATION_ID]
			  ,[PROGRAM_ID]
			  ,[PROGRAM_UPDATE_DATE]
			  ,[REQUEST_ID]
			  ,[LIST_HEADER_ID]
			  ,[PA_LIST_HEADER_ID]
			  ,[PRODUCT_ATTRIBUTE_CONTEXT]
			  ,[PRODUCT_ATTRIBUTE]
			  ,[PRODUCT_ATTR_VALUE]
			  ,[PRODUCT_UOM_CODE]
			  ,[LIST_PRICE]
			  ,[PERCENT_PRICE]
			  ,[PRICE_BY_FORMULA_ID]
			  ,[START_DATE_ACTIVE]
			  ,[END_DATE_ACTIVE]
			  ,[CONTEXT]
			  ,[ATTRIBUTE1]
			  ,[ATTRIBUTE2]
			  ,[ATTRIBUTE3]
			  ,[ATTRIBUTE4]
			  ,[ATTRIBUTE5]
			  ,[ATTRIBUTE6]
			  ,[ATTRIBUTE7]
			  ,[ATTRIBUTE8]
			  ,[ATTRIBUTE9]
			  ,[ATTRIBUTE10]
			  ,[ATTRIBUTE11]
			  ,[ATTRIBUTE12]
			  ,[ATTRIBUTE13]
			  ,[ATTRIBUTE14]
			  ,[ATTRIBUTE15]
			  ,[PRIMARY_UOM_FLAG]
			  ,[REVISION]
			  ,[REVISION_DATE]
			  ,[REVISION_REASON_CODE]
			  ,[COMMENTS]
			  ,[LIST_LINE_TYPE_CODE]
			  ,[AUTOMATIC_FLAG]
			  ,[MODIFIER_LEVEL_CODE]
			  ,[LIST_PRICE_UOM_CODE]
			  ,[INVENTORY_ITEM_ID]
			  ,[ORGANIZATION_ID]
			  ,[RELATED_ITEM_ID]
			  ,[NUMBER_EFFECTIVE_PERIODS]
			  ,[EFFECTIVE_PERIOD_UOM]
			  ,[ARITHMETIC_OPERATOR]
			  ,[INCOMPATIBILITY_GRP_CODE]
			  ,[LIST_LINE_NO]
			  ,[PRICING_GROUP_SEQUENCE]
			  ,[RELATIONSHIP_TYPE_ID]
			  ,[SUBSTITUTION_CONTEXT]
			  ,[SUBSTITUTION_ATTRIBUTE]
			  ,[SUBSTITUTION_VALUE]
			  ,[PRICE_BREAK_TYPE_CODE]
			  ,[OPERAND]
			  ,[OVERRIDE_FLAG]
			  ,[PRINT_ON_INVOICE_FLAG]
			  ,[REBATE_TRANSACTION_TYPE_CODE]
			  ,[BASE_QTY]
			  ,[BASE_UOM_CODE]
			  ,[ACCRUAL_QTY]
			  ,[ACCRUAL_UOM_CODE]
			  ,[ESTIM_ACCRUAL_RATE]
			  ,[GENERATE_USING_FORMULA_ID]
			  ,[ACCRUAL_FLAG]
			  ,[REPRICE_FLAG]
			  ,[PRICING_PHASE_ID]
			  ,[PRODUCT_PRECEDENCE]
			  ,[CUSTOMER_ITEM_ID]
			  ,[PRICING_ATTRIBUTE_CONTEXT]
			  ,[PRICING_ATTRIBUTE]
			  ,[PRICING_ATTR_VALUE_FROM]
			  ,[PRICING_ATTR_VALUE_TO]
			  ,[PRODUCT_ATTR_VAL_DISP]
			  ,[PRODUCT_ID]
			  ,[PRICING_ATTRIBUTE_ID]
			  ,[PRODUCT_ATTRIBUTE_DATATYPE]
			  ,[PRICING_ATTRIBUTE_DATATYPE]
			  ,[COMPARISON_OPERATOR_CODE]
			  ,[ATTR_LIST_LINE_ID]
			  ,[ATTR_CREATION_DATE]
			  ,[ATTR_CREATED_BY]
			  ,[ATTR_LAST_UPDATE_DATE]
			  ,[ATTR_LAST_UPDATED_BY]
			  ,[ATTR_LAST_UPDATE_LOGIN]
			  ,[ATTR_PROGRAM_APPLICATION_ID]
			  ,[ATTR_PROGRAM_ID]
			  ,[ATTR_PROGRAM_UPDATE_DATE]
			  ,[ATTR_REQUEST_ID]
			  ,[ATTR_CONTEXT]
			  ,[ATTR_ATTRIBUTE1]
			  ,[ATTR_ATTRIBUTE2]
			  ,[ATTR_ATTRIBUTE3]
			  ,[ATTR_ATTRIBUTE4]
			  ,[ATTR_ATTRIBUTE5]
			  ,[ATTR_ATTRIBUTE6]
			  ,[ATTR_ATTRIBUTE7]
			  ,[ATTR_ATTRIBUTE8]
			  ,[ATTR_ATTRIBUTE9]
			  ,[ATTR_ATTRIBUTE10]
			  ,[ATTR_ATTRIBUTE11]
			  ,[ATTR_ATTRIBUTE12]
			  ,[ATTR_ATTRIBUTE13]
			  ,[ATTR_ATTRIBUTE14]
			  ,[ATTR_ATTRIBUTE15]
			  ,[BREAK_UOM_CODE]
			  ,[BREAK_UOM_CONTEXT]
			  ,[BREAK_UOM_ATTRIBUTE]
			  ,[CONTINUOUS_PRICE_BREAK_FLAG]
			  ,[Fingerprint]
		)
			SELECT 
			  a.[ROW_ID]
			  ,a.[LIST_LINE_ID]
			  ,a.[CREATION_DATE]
			  ,a.[CREATED_BY]
			  ,a.[LAST_UPDATE_DATE]
			  ,a.[LAST_UPDATED_BY]
			  ,a.[LAST_UPDATE_LOGIN]
			  ,a.[PROGRAM_APPLICATION_ID]
			  ,a.[PROGRAM_ID]
			  ,a.[PROGRAM_UPDATE_DATE]
			  ,a.[REQUEST_ID]
			  ,a.[LIST_HEADER_ID]
			  ,a.[PA_LIST_HEADER_ID]
			  ,a.[PRODUCT_ATTRIBUTE_CONTEXT]
			  ,a.[PRODUCT_ATTRIBUTE]
			  ,a.[PRODUCT_ATTR_VALUE]
			  ,a.[PRODUCT_UOM_CODE]
			  ,a.[LIST_PRICE]
			  ,a.[PERCENT_PRICE]
			  ,a.[PRICE_BY_FORMULA_ID]
			  ,a.[START_DATE_ACTIVE]
			  ,a.[END_DATE_ACTIVE]
			  ,a.[CONTEXT]
			  ,a.[ATTRIBUTE1]
			  ,a.[ATTRIBUTE2]
			  ,a.[ATTRIBUTE3]
			  ,a.[ATTRIBUTE4]
			  ,a.[ATTRIBUTE5]
			  ,a.[ATTRIBUTE6]
			  ,a.[ATTRIBUTE7]
			  ,a.[ATTRIBUTE8]
			  ,a.[ATTRIBUTE9]
			  ,a.[ATTRIBUTE10]
			  ,a.[ATTRIBUTE11]
			  ,a.[ATTRIBUTE12]
			  ,a.[ATTRIBUTE13]
			  ,a.[ATTRIBUTE14]
			  ,a.[ATTRIBUTE15]
			  ,a.[PRIMARY_UOM_FLAG]
			  ,a.[REVISION]
			  ,a.[REVISION_DATE]
			  ,a.[REVISION_REASON_CODE]
			  ,a.[COMMENTS]
			  ,a.[LIST_LINE_TYPE_CODE]
			  ,a.[AUTOMATIC_FLAG]
			  ,a.[MODIFIER_LEVEL_CODE]
			  ,a.[LIST_PRICE_UOM_CODE]
			  ,a.[INVENTORY_ITEM_ID]
			  ,a.[ORGANIZATION_ID]
			  ,a.[RELATED_ITEM_ID]
			  ,a.[NUMBER_EFFECTIVE_PERIODS]
			  ,a.[EFFECTIVE_PERIOD_UOM]
			  ,a.[ARITHMETIC_OPERATOR]
			  ,a.[INCOMPATIBILITY_GRP_CODE]
			  ,a.[LIST_LINE_NO]
			  ,a.[PRICING_GROUP_SEQUENCE]
			  ,a.[RELATIONSHIP_TYPE_ID]
			  ,a.[SUBSTITUTION_CONTEXT]
			  ,a.[SUBSTITUTION_ATTRIBUTE]
			  ,a.[SUBSTITUTION_VALUE]
			  ,a.[PRICE_BREAK_TYPE_CODE]
			  ,a.[OPERAND]
			  ,a.[OVERRIDE_FLAG]
			  ,a.[PRINT_ON_INVOICE_FLAG]
			  ,a.[REBATE_TRANSACTION_TYPE_CODE]
			  ,a.[BASE_QTY]
			  ,a.[BASE_UOM_CODE]
			  ,a.[ACCRUAL_QTY]
			  ,a.[ACCRUAL_UOM_CODE]
			  ,a.[ESTIM_ACCRUAL_RATE]
			  ,a.[GENERATE_USING_FORMULA_ID]
			  ,a.[ACCRUAL_FLAG]
			  ,a.[REPRICE_FLAG]
			  ,a.[PRICING_PHASE_ID]
			  ,a.[PRODUCT_PRECEDENCE]
			  ,a.[CUSTOMER_ITEM_ID]
			  ,a.[PRICING_ATTRIBUTE_CONTEXT]
			  ,a.[PRICING_ATTRIBUTE]
			  ,a.[PRICING_ATTR_VALUE_FROM]
			  ,a.[PRICING_ATTR_VALUE_TO]
			  ,a.[PRODUCT_ATTR_VAL_DISP]
			  ,a.[PRODUCT_ID]
			  ,a.[PRICING_ATTRIBUTE_ID]
			  ,a.[PRODUCT_ATTRIBUTE_DATATYPE]
			  ,a.[PRICING_ATTRIBUTE_DATATYPE]
			  ,a.[COMPARISON_OPERATOR_CODE]
			  ,a.[ATTR_LIST_LINE_ID]
			  ,a.[ATTR_CREATION_DATE]
			  ,a.[ATTR_CREATED_BY]
			  ,a.[ATTR_LAST_UPDATE_DATE]
			  ,a.[ATTR_LAST_UPDATED_BY]
			  ,a.[ATTR_LAST_UPDATE_LOGIN]
			  ,a.[ATTR_PROGRAM_APPLICATION_ID]
			  ,a.[ATTR_PROGRAM_ID]
			  ,a.[ATTR_PROGRAM_UPDATE_DATE]
			  ,a.[ATTR_REQUEST_ID]
			  ,a.[ATTR_CONTEXT]
			  ,a.[ATTR_ATTRIBUTE1]
			  ,a.[ATTR_ATTRIBUTE2]
			  ,a.[ATTR_ATTRIBUTE3]
			  ,a.[ATTR_ATTRIBUTE4]
			  ,a.[ATTR_ATTRIBUTE5]
			  ,a.[ATTR_ATTRIBUTE6]
			  ,a.[ATTR_ATTRIBUTE7]
			  ,a.[ATTR_ATTRIBUTE8]
			  ,a.[ATTR_ATTRIBUTE9]
			  ,a.[ATTR_ATTRIBUTE10]
			  ,a.[ATTR_ATTRIBUTE11]
			  ,a.[ATTR_ATTRIBUTE12]
			  ,a.[ATTR_ATTRIBUTE13]
			  ,a.[ATTR_ATTRIBUTE14]
			  ,a.[ATTR_ATTRIBUTE15]
			  ,a.[BREAK_UOM_CODE]
			  ,a.[BREAK_UOM_CONTEXT]
			  ,a.[BREAK_UOM_ATTRIBUTE]
			  ,a.[CONTINUOUS_PRICE_BREAK_FLAG]
			  ,a.[Fingerprint]
			FROM (
				MERGE Oracle.QP_LIST_LINES_V b
				USING (SELECT * FROM #QPListLines) a
				ON a.Row_ID = b.Row_ID AND a.List_Line_ID = b.List_Line_ID AND b.CurrentRecord = 1 --swap with business key of table
				WHEN NOT MATCHED --BY TARGET 
				THEN INSERT (
					   [ROW_ID]
					  ,[LIST_LINE_ID]
					  ,[CREATION_DATE]
					  ,[CREATED_BY]
					  ,[LAST_UPDATE_DATE]
					  ,[LAST_UPDATED_BY]
					  ,[LAST_UPDATE_LOGIN]
					  ,[PROGRAM_APPLICATION_ID]
					  ,[PROGRAM_ID]
					  ,[PROGRAM_UPDATE_DATE]
					  ,[REQUEST_ID]
					  ,[LIST_HEADER_ID]
					  ,[PA_LIST_HEADER_ID]
					  ,[PRODUCT_ATTRIBUTE_CONTEXT]
					  ,[PRODUCT_ATTRIBUTE]
					  ,[PRODUCT_ATTR_VALUE]
					  ,[PRODUCT_UOM_CODE]
					  ,[LIST_PRICE]
					  ,[PERCENT_PRICE]
					  ,[PRICE_BY_FORMULA_ID]
					  ,[START_DATE_ACTIVE]
					  ,[END_DATE_ACTIVE]
					  ,[CONTEXT]
					  ,[ATTRIBUTE1]
					  ,[ATTRIBUTE2]
					  ,[ATTRIBUTE3]
					  ,[ATTRIBUTE4]
					  ,[ATTRIBUTE5]
					  ,[ATTRIBUTE6]
					  ,[ATTRIBUTE7]
					  ,[ATTRIBUTE8]
					  ,[ATTRIBUTE9]
					  ,[ATTRIBUTE10]
					  ,[ATTRIBUTE11]
					  ,[ATTRIBUTE12]
					  ,[ATTRIBUTE13]
					  ,[ATTRIBUTE14]
					  ,[ATTRIBUTE15]
					  ,[PRIMARY_UOM_FLAG]
					  ,[REVISION]
					  ,[REVISION_DATE]
					  ,[REVISION_REASON_CODE]
					  ,[COMMENTS]
					  ,[LIST_LINE_TYPE_CODE]
					  ,[AUTOMATIC_FLAG]
					  ,[MODIFIER_LEVEL_CODE]
					  ,[LIST_PRICE_UOM_CODE]
					  ,[INVENTORY_ITEM_ID]
					  ,[ORGANIZATION_ID]
					  ,[RELATED_ITEM_ID]
					  ,[NUMBER_EFFECTIVE_PERIODS]
					  ,[EFFECTIVE_PERIOD_UOM]
					  ,[ARITHMETIC_OPERATOR]
					  ,[INCOMPATIBILITY_GRP_CODE]
					  ,[LIST_LINE_NO]
					  ,[PRICING_GROUP_SEQUENCE]
					  ,[RELATIONSHIP_TYPE_ID]
					  ,[SUBSTITUTION_CONTEXT]
					  ,[SUBSTITUTION_ATTRIBUTE]
					  ,[SUBSTITUTION_VALUE]
					  ,[PRICE_BREAK_TYPE_CODE]
					  ,[OPERAND]
					  ,[OVERRIDE_FLAG]
					  ,[PRINT_ON_INVOICE_FLAG]
					  ,[REBATE_TRANSACTION_TYPE_CODE]
					  ,[BASE_QTY]
					  ,[BASE_UOM_CODE]
					  ,[ACCRUAL_QTY]
					  ,[ACCRUAL_UOM_CODE]
					  ,[ESTIM_ACCRUAL_RATE]
					  ,[GENERATE_USING_FORMULA_ID]
					  ,[ACCRUAL_FLAG]
					  ,[REPRICE_FLAG]
					  ,[PRICING_PHASE_ID]
					  ,[PRODUCT_PRECEDENCE]
					  ,[CUSTOMER_ITEM_ID]
					  ,[PRICING_ATTRIBUTE_CONTEXT]
					  ,[PRICING_ATTRIBUTE]
					  ,[PRICING_ATTR_VALUE_FROM]
					  ,[PRICING_ATTR_VALUE_TO]
					  ,[PRODUCT_ATTR_VAL_DISP]
					  ,[PRODUCT_ID]
					  ,[PRICING_ATTRIBUTE_ID]
					  ,[PRODUCT_ATTRIBUTE_DATATYPE]
					  ,[PRICING_ATTRIBUTE_DATATYPE]
					  ,[COMPARISON_OPERATOR_CODE]
					  ,[ATTR_LIST_LINE_ID]
					  ,[ATTR_CREATION_DATE]
					  ,[ATTR_CREATED_BY]
					  ,[ATTR_LAST_UPDATE_DATE]
					  ,[ATTR_LAST_UPDATED_BY]
					  ,[ATTR_LAST_UPDATE_LOGIN]
					  ,[ATTR_PROGRAM_APPLICATION_ID]
					  ,[ATTR_PROGRAM_ID]
					  ,[ATTR_PROGRAM_UPDATE_DATE]
					  ,[ATTR_REQUEST_ID]
					  ,[ATTR_CONTEXT]
					  ,[ATTR_ATTRIBUTE1]
					  ,[ATTR_ATTRIBUTE2]
					  ,[ATTR_ATTRIBUTE3]
					  ,[ATTR_ATTRIBUTE4]
					  ,[ATTR_ATTRIBUTE5]
					  ,[ATTR_ATTRIBUTE6]
					  ,[ATTR_ATTRIBUTE7]
					  ,[ATTR_ATTRIBUTE8]
					  ,[ATTR_ATTRIBUTE9]
					  ,[ATTR_ATTRIBUTE10]
					  ,[ATTR_ATTRIBUTE11]
					  ,[ATTR_ATTRIBUTE12]
					  ,[ATTR_ATTRIBUTE13]
					  ,[ATTR_ATTRIBUTE14]
					  ,[ATTR_ATTRIBUTE15]
					  ,[BREAK_UOM_CODE]
					  ,[BREAK_UOM_CONTEXT]
					  ,[BREAK_UOM_ATTRIBUTE]
					  ,[CONTINUOUS_PRICE_BREAK_FLAG]
					  ,[Fingerprint]
				)
				VALUES (
					   a.[ROW_ID]
					  ,a.[LIST_LINE_ID]
					  ,a.[CREATION_DATE]
					  ,a.[CREATED_BY]
					  ,a.[LAST_UPDATE_DATE]
					  ,a.[LAST_UPDATED_BY]
					  ,a.[LAST_UPDATE_LOGIN]
					  ,a.[PROGRAM_APPLICATION_ID]
					  ,a.[PROGRAM_ID]
					  ,a.[PROGRAM_UPDATE_DATE]
					  ,a.[REQUEST_ID]
					  ,a.[LIST_HEADER_ID]
					  ,a.[PA_LIST_HEADER_ID]
					  ,a.[PRODUCT_ATTRIBUTE_CONTEXT]
					  ,a.[PRODUCT_ATTRIBUTE]
					  ,a.[PRODUCT_ATTR_VALUE]
					  ,a.[PRODUCT_UOM_CODE]
					  ,a.[LIST_PRICE]
					  ,a.[PERCENT_PRICE]
					  ,a.[PRICE_BY_FORMULA_ID]
					  ,a.[START_DATE_ACTIVE]
					  ,a.[END_DATE_ACTIVE]
					  ,a.[CONTEXT]
					  ,a.[ATTRIBUTE1]
					  ,a.[ATTRIBUTE2]
					  ,a.[ATTRIBUTE3]
					  ,a.[ATTRIBUTE4]
					  ,a.[ATTRIBUTE5]
					  ,a.[ATTRIBUTE6]
					  ,a.[ATTRIBUTE7]
					  ,a.[ATTRIBUTE8]
					  ,a.[ATTRIBUTE9]
					  ,a.[ATTRIBUTE10]
					  ,a.[ATTRIBUTE11]
					  ,a.[ATTRIBUTE12]
					  ,a.[ATTRIBUTE13]
					  ,a.[ATTRIBUTE14]
					  ,a.[ATTRIBUTE15]
					  ,a.[PRIMARY_UOM_FLAG]
					  ,a.[REVISION]
					  ,a.[REVISION_DATE]
					  ,a.[REVISION_REASON_CODE]
					  ,a.[COMMENTS]
					  ,a.[LIST_LINE_TYPE_CODE]
					  ,a.[AUTOMATIC_FLAG]
					  ,a.[MODIFIER_LEVEL_CODE]
					  ,a.[LIST_PRICE_UOM_CODE]
					  ,a.[INVENTORY_ITEM_ID]
					  ,a.[ORGANIZATION_ID]
					  ,a.[RELATED_ITEM_ID]
					  ,a.[NUMBER_EFFECTIVE_PERIODS]
					  ,a.[EFFECTIVE_PERIOD_UOM]
					  ,a.[ARITHMETIC_OPERATOR]
					  ,a.[INCOMPATIBILITY_GRP_CODE]
					  ,a.[LIST_LINE_NO]
					  ,a.[PRICING_GROUP_SEQUENCE]
					  ,a.[RELATIONSHIP_TYPE_ID]
					  ,a.[SUBSTITUTION_CONTEXT]
					  ,a.[SUBSTITUTION_ATTRIBUTE]
					  ,a.[SUBSTITUTION_VALUE]
					  ,a.[PRICE_BREAK_TYPE_CODE]
					  ,a.[OPERAND]
					  ,a.[OVERRIDE_FLAG]
					  ,a.[PRINT_ON_INVOICE_FLAG]
					  ,a.[REBATE_TRANSACTION_TYPE_CODE]
					  ,a.[BASE_QTY]
					  ,a.[BASE_UOM_CODE]
					  ,a.[ACCRUAL_QTY]
					  ,a.[ACCRUAL_UOM_CODE]
					  ,a.[ESTIM_ACCRUAL_RATE]
					  ,a.[GENERATE_USING_FORMULA_ID]
					  ,a.[ACCRUAL_FLAG]
					  ,a.[REPRICE_FLAG]
					  ,a.[PRICING_PHASE_ID]
					  ,a.[PRODUCT_PRECEDENCE]
					  ,a.[CUSTOMER_ITEM_ID]
					  ,a.[PRICING_ATTRIBUTE_CONTEXT]
					  ,a.[PRICING_ATTRIBUTE]
					  ,a.[PRICING_ATTR_VALUE_FROM]
					  ,a.[PRICING_ATTR_VALUE_TO]
					  ,a.[PRODUCT_ATTR_VAL_DISP]
					  ,a.[PRODUCT_ID]
					  ,a.[PRICING_ATTRIBUTE_ID]
					  ,a.[PRODUCT_ATTRIBUTE_DATATYPE]
					  ,a.[PRICING_ATTRIBUTE_DATATYPE]
					  ,a.[COMPARISON_OPERATOR_CODE]
					  ,a.[ATTR_LIST_LINE_ID]
					  ,a.[ATTR_CREATION_DATE]
					  ,a.[ATTR_CREATED_BY]
					  ,a.[ATTR_LAST_UPDATE_DATE]
					  ,a.[ATTR_LAST_UPDATED_BY]
					  ,a.[ATTR_LAST_UPDATE_LOGIN]
					  ,a.[ATTR_PROGRAM_APPLICATION_ID]
					  ,a.[ATTR_PROGRAM_ID]
					  ,a.[ATTR_PROGRAM_UPDATE_DATE]
					  ,a.[ATTR_REQUEST_ID]
					  ,a.[ATTR_CONTEXT]
					  ,a.[ATTR_ATTRIBUTE1]
					  ,a.[ATTR_ATTRIBUTE2]
					  ,a.[ATTR_ATTRIBUTE3]
					  ,a.[ATTR_ATTRIBUTE4]
					  ,a.[ATTR_ATTRIBUTE5]
					  ,a.[ATTR_ATTRIBUTE6]
					  ,a.[ATTR_ATTRIBUTE7]
					  ,a.[ATTR_ATTRIBUTE8]
					  ,a.[ATTR_ATTRIBUTE9]
					  ,a.[ATTR_ATTRIBUTE10]
					  ,a.[ATTR_ATTRIBUTE11]
					  ,a.[ATTR_ATTRIBUTE12]
					  ,a.[ATTR_ATTRIBUTE13]
					  ,a.[ATTR_ATTRIBUTE14]
					  ,a.[ATTR_ATTRIBUTE15]
					  ,a.[BREAK_UOM_CODE]
					  ,a.[BREAK_UOM_CONTEXT]
					  ,a.[BREAK_UOM_ATTRIBUTE]
					  ,a.[CONTINUOUS_PRICE_BREAK_FLAG]
					  ,a.[Fingerprint]
				)
				--Existing records that have changed are expired
				WHEN MATCHED AND a.Fingerprint<>b.Fingerprint
				THEN UPDATE SET b.EndDate=GETDATE()
					,b.CurrentRecord=0
				OUTPUT 
					   a.[ROW_ID]
					  ,a.[LIST_LINE_ID]
					  ,a.[CREATION_DATE]
					  ,a.[CREATED_BY]
					  ,a.[LAST_UPDATE_DATE]
					  ,a.[LAST_UPDATED_BY]
					  ,a.[LAST_UPDATE_LOGIN]
					  ,a.[PROGRAM_APPLICATION_ID]
					  ,a.[PROGRAM_ID]
					  ,a.[PROGRAM_UPDATE_DATE]
					  ,a.[REQUEST_ID]
					  ,a.[LIST_HEADER_ID]
					  ,a.[PA_LIST_HEADER_ID]
					  ,a.[PRODUCT_ATTRIBUTE_CONTEXT]
					  ,a.[PRODUCT_ATTRIBUTE]
					  ,a.[PRODUCT_ATTR_VALUE]
					  ,a.[PRODUCT_UOM_CODE]
					  ,a.[LIST_PRICE]
					  ,a.[PERCENT_PRICE]
					  ,a.[PRICE_BY_FORMULA_ID]
					  ,a.[START_DATE_ACTIVE]
					  ,a.[END_DATE_ACTIVE]
					  ,a.[CONTEXT]
					  ,a.[ATTRIBUTE1]
					  ,a.[ATTRIBUTE2]
					  ,a.[ATTRIBUTE3]
					  ,a.[ATTRIBUTE4]
					  ,a.[ATTRIBUTE5]
					  ,a.[ATTRIBUTE6]
					  ,a.[ATTRIBUTE7]
					  ,a.[ATTRIBUTE8]
					  ,a.[ATTRIBUTE9]
					  ,a.[ATTRIBUTE10]
					  ,a.[ATTRIBUTE11]
					  ,a.[ATTRIBUTE12]
					  ,a.[ATTRIBUTE13]
					  ,a.[ATTRIBUTE14]
					  ,a.[ATTRIBUTE15]
					  ,a.[PRIMARY_UOM_FLAG]
					  ,a.[REVISION]
					  ,a.[REVISION_DATE]
					  ,a.[REVISION_REASON_CODE]
					  ,a.[COMMENTS]
					  ,a.[LIST_LINE_TYPE_CODE]
					  ,a.[AUTOMATIC_FLAG]
					  ,a.[MODIFIER_LEVEL_CODE]
					  ,a.[LIST_PRICE_UOM_CODE]
					  ,a.[INVENTORY_ITEM_ID]
					  ,a.[ORGANIZATION_ID]
					  ,a.[RELATED_ITEM_ID]
					  ,a.[NUMBER_EFFECTIVE_PERIODS]
					  ,a.[EFFECTIVE_PERIOD_UOM]
					  ,a.[ARITHMETIC_OPERATOR]
					  ,a.[INCOMPATIBILITY_GRP_CODE]
					  ,a.[LIST_LINE_NO]
					  ,a.[PRICING_GROUP_SEQUENCE]
					  ,a.[RELATIONSHIP_TYPE_ID]
					  ,a.[SUBSTITUTION_CONTEXT]
					  ,a.[SUBSTITUTION_ATTRIBUTE]
					  ,a.[SUBSTITUTION_VALUE]
					  ,a.[PRICE_BREAK_TYPE_CODE]
					  ,a.[OPERAND]
					  ,a.[OVERRIDE_FLAG]
					  ,a.[PRINT_ON_INVOICE_FLAG]
					  ,a.[REBATE_TRANSACTION_TYPE_CODE]
					  ,a.[BASE_QTY]
					  ,a.[BASE_UOM_CODE]
					  ,a.[ACCRUAL_QTY]
					  ,a.[ACCRUAL_UOM_CODE]
					  ,a.[ESTIM_ACCRUAL_RATE]
					  ,a.[GENERATE_USING_FORMULA_ID]
					  ,a.[ACCRUAL_FLAG]
					  ,a.[REPRICE_FLAG]
					  ,a.[PRICING_PHASE_ID]
					  ,a.[PRODUCT_PRECEDENCE]
					  ,a.[CUSTOMER_ITEM_ID]
					  ,a.[PRICING_ATTRIBUTE_CONTEXT]
					  ,a.[PRICING_ATTRIBUTE]
					  ,a.[PRICING_ATTR_VALUE_FROM]
					  ,a.[PRICING_ATTR_VALUE_TO]
					  ,a.[PRODUCT_ATTR_VAL_DISP]
					  ,a.[PRODUCT_ID]
					  ,a.[PRICING_ATTRIBUTE_ID]
					  ,a.[PRODUCT_ATTRIBUTE_DATATYPE]
					  ,a.[PRICING_ATTRIBUTE_DATATYPE]
					  ,a.[COMPARISON_OPERATOR_CODE]
					  ,a.[ATTR_LIST_LINE_ID]
					  ,a.[ATTR_CREATION_DATE]
					  ,a.[ATTR_CREATED_BY]
					  ,a.[ATTR_LAST_UPDATE_DATE]
					  ,a.[ATTR_LAST_UPDATED_BY]
					  ,a.[ATTR_LAST_UPDATE_LOGIN]
					  ,a.[ATTR_PROGRAM_APPLICATION_ID]
					  ,a.[ATTR_PROGRAM_ID]
					  ,a.[ATTR_PROGRAM_UPDATE_DATE]
					  ,a.[ATTR_REQUEST_ID]
					  ,a.[ATTR_CONTEXT]
					  ,a.[ATTR_ATTRIBUTE1]
					  ,a.[ATTR_ATTRIBUTE2]
					  ,a.[ATTR_ATTRIBUTE3]
					  ,a.[ATTR_ATTRIBUTE4]
					  ,a.[ATTR_ATTRIBUTE5]
					  ,a.[ATTR_ATTRIBUTE6]
					  ,a.[ATTR_ATTRIBUTE7]
					  ,a.[ATTR_ATTRIBUTE8]
					  ,a.[ATTR_ATTRIBUTE9]
					  ,a.[ATTR_ATTRIBUTE10]
					  ,a.[ATTR_ATTRIBUTE11]
					  ,a.[ATTR_ATTRIBUTE12]
					  ,a.[ATTR_ATTRIBUTE13]
					  ,a.[ATTR_ATTRIBUTE14]
					  ,a.[ATTR_ATTRIBUTE15]
					  ,a.[BREAK_UOM_CODE]
					  ,a.[BREAK_UOM_CONTEXT]
					  ,a.[BREAK_UOM_ATTRIBUTE]
					  ,a.[CONTINUOUS_PRICE_BREAK_FLAG]
					  ,a.[Fingerprint]
					  ,$Action AS Action
			) a
			WHERE Action = 'Update'
			;
	
	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Done', GETDATE()

	DROP TABLE #QPListLines

END
GO
