USE [Operations]
GO
/****** Object:  StoredProcedure [Oracle].[Merge_PO_HEADERS_ALL]    Script Date: 7/10/2025 11:43:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Oracle].[Merge_PO_HEADERS_ALL] 
AS BEGIN

	CREATE TABLE #Headers (
		--<column-list>
	[PO_HEADER_ID] [float] NOT NULL,
	[AGENT_ID] [numeric](9, 0) NOT NULL,
	[TYPE_LOOKUP_CODE] [nvarchar](25) NOT NULL,
	[LAST_UPDATE_DATE] [datetime2](7) NOT NULL,
	[LAST_UPDATED_BY] [float] NOT NULL,
	[SEGMENT1] [nvarchar](20) NOT NULL,
	[SUMMARY_FLAG] [nvarchar](1) NOT NULL,
	[ENABLED_FLAG] [nvarchar](1) NOT NULL,
	[SEGMENT2] [nvarchar](20) NULL,
	[SEGMENT3] [nvarchar](20) NULL,
	[SEGMENT4] [nvarchar](20) NULL,
	[SEGMENT5] [nvarchar](20) NULL,
	[START_DATE_ACTIVE] [datetime2](7) NULL,
	[END_DATE_ACTIVE] [datetime2](7) NULL,
	[LAST_UPDATE_LOGIN] [float] NULL,
	[CREATION_DATE] [datetime2](7) NULL,
	[CREATED_BY] [float] NULL,
	[VENDOR_ID] [float] NULL,
	[VENDOR_SITE_ID] [float] NULL,
	[VENDOR_CONTACT_ID] [float] NULL,
	[SHIP_TO_LOCATION_ID] [float] NULL,
	[BILL_TO_LOCATION_ID] [float] NULL,
	[TERMS_ID] [float] NULL,
	[SHIP_VIA_LOOKUP_CODE] [nvarchar](25) NULL,
	[FOB_LOOKUP_CODE] [nvarchar](25) NULL,
	[FREIGHT_TERMS_LOOKUP_CODE] [nvarchar](25) NULL,
	[STATUS_LOOKUP_CODE] [nvarchar](25) NULL,
	[CURRENCY_CODE] [nvarchar](15) NULL,
	[RATE_TYPE] [nvarchar](30) NULL,
	[RATE_DATE] [datetime2](7) NULL,
	[RATE] [float] NULL,
	[FROM_HEADER_ID] [float] NULL,
	[FROM_TYPE_LOOKUP_CODE] [nvarchar](25) NULL,
	[START_DATE] [datetime2](7) NULL,
	[END_DATE] [datetime2](7) NULL,
	[BLANKET_TOTAL_AMOUNT] [float] NULL,
	[AUTHORIZATION_STATUS] [nvarchar](25) NULL,
	[REVISION_NUM] [float] NULL,
	[REVISED_DATE] [datetime2](7) NULL,
	[APPROVED_FLAG] [nvarchar](1) NULL,
	[APPROVED_DATE] [datetime2](7) NULL,
	[AMOUNT_LIMIT] [float] NULL,
	[MIN_RELEASE_AMOUNT] [float] NULL,
	[NOTE_TO_AUTHORIZER] [nvarchar](240) NULL,
	[NOTE_TO_VENDOR] [nvarchar](480) NULL,
	[NOTE_TO_RECEIVER] [nvarchar](480) NULL,
	[PRINT_COUNT] [float] NULL,
	[PRINTED_DATE] [datetime2](7) NULL,
	[VENDOR_ORDER_NUM] [nvarchar](25) NULL,
	[CONFIRMING_ORDER_FLAG] [nvarchar](1) NULL,
	[COMMENTS] [nvarchar](240) NULL,
	[REPLY_DATE] [datetime2](7) NULL,
	[REPLY_METHOD_LOOKUP_CODE] [nvarchar](25) NULL,
	[RFQ_CLOSE_DATE] [datetime2](7) NULL,
	[QUOTE_TYPE_LOOKUP_CODE] [nvarchar](25) NULL,
	[QUOTATION_CLASS_CODE] [nvarchar](25) NULL,
	[QUOTE_WARNING_DELAY_UNIT] [nvarchar](25) NULL,
	[QUOTE_WARNING_DELAY] [float] NULL,
	[QUOTE_VENDOR_QUOTE_NUMBER] [nvarchar](25) NULL,
	[ACCEPTANCE_REQUIRED_FLAG] [nvarchar](1) NULL,
	[ACCEPTANCE_DUE_DATE] [datetime2](7) NULL,
	[CLOSED_DATE] [datetime2](7) NULL,
	[USER_HOLD_FLAG] [nvarchar](1) NULL,
	[APPROVAL_REQUIRED_FLAG] [nvarchar](1) NULL,
	[CANCEL_FLAG] [nvarchar](1) NULL,
	[FIRM_STATUS_LOOKUP_CODE] [nvarchar](30) NULL,
	[FIRM_DATE] [datetime2](7) NULL,
	[FROZEN_FLAG] [nvarchar](1) NULL,
	[SUPPLY_AGREEMENT_FLAG] [nvarchar](1) NULL,
	[EDI_PROCESSED_FLAG] [nvarchar](1) NULL,
	[EDI_PROCESSED_STATUS] [nvarchar](10) NULL,
	[ATTRIBUTE_CATEGORY] [nvarchar](30) NULL,
	[ATTRIBUTE1] [nvarchar](150) NULL,
	[ATTRIBUTE2] [nvarchar](150) NULL,
	[ATTRIBUTE3] [nvarchar](150) NULL,
	[ATTRIBUTE4] [nvarchar](150) NULL,
	[ATTRIBUTE5] [nvarchar](150) NULL,
	[ATTRIBUTE6] [nvarchar](150) NULL,
	[ATTRIBUTE7] [nvarchar](150) NULL,
	[ATTRIBUTE8] [nvarchar](150) NULL,
	[ATTRIBUTE9] [nvarchar](150) NULL,
	[ATTRIBUTE10] [nvarchar](150) NULL,
	[ATTRIBUTE11] [nvarchar](150) NULL,
	[ATTRIBUTE12] [nvarchar](150) NULL,
	[ATTRIBUTE13] [nvarchar](150) NULL,
	[ATTRIBUTE14] [nvarchar](150) NULL,
	[ATTRIBUTE15] [nvarchar](150) NULL,
	[CLOSED_CODE] [nvarchar](25) NULL,
	[USSGL_TRANSACTION_CODE] [nvarchar](30) NULL,
	[GOVERNMENT_CONTEXT] [nvarchar](30) NULL,
	[REQUEST_ID] [float] NULL,
	[PROGRAM_APPLICATION_ID] [float] NULL,
	[PROGRAM_ID] [float] NULL,
	[PROGRAM_UPDATE_DATE] [datetime2](7) NULL,
	[ORG_ID] [float] NULL,
	[GLOBAL_ATTRIBUTE_CATEGORY] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE1] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE2] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE3] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE4] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE5] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE6] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE7] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE8] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE9] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE10] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE11] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE12] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE13] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE14] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE15] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE16] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE17] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE18] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE19] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE20] [nvarchar](150) NULL,
	[INTERFACE_SOURCE_CODE] [nvarchar](25) NULL,
	[REFERENCE_NUM] [nvarchar](25) NULL,
	[WF_ITEM_TYPE] [nvarchar](8) NULL,
	[WF_ITEM_KEY] [nvarchar](240) NULL,
	[MRC_RATE_TYPE] [nvarchar](2000) NULL,
	[MRC_RATE_DATE] [nvarchar](2000) NULL,
	[MRC_RATE] [nvarchar](2000) NULL,
	[PCARD_ID] [numeric](15, 0) NULL,
	[PRICE_UPDATE_TOLERANCE] [float] NULL,
	[PAY_ON_CODE] [nvarchar](25) NULL,
	[XML_FLAG] [nvarchar](3) NULL,
	[XML_SEND_DATE] [datetime2](7) NULL,
	[XML_CHANGE_SEND_DATE] [datetime2](7) NULL,
	[GLOBAL_AGREEMENT_FLAG] [nvarchar](1) NULL,
	[CONSIGNED_CONSUMPTION_FLAG] [nvarchar](1) NULL,
	[CBC_ACCOUNTING_DATE] [datetime2](7) NULL,
	[CONSUME_REQ_DEMAND_FLAG] [nvarchar](1) NULL,
	[CHANGE_REQUESTED_BY] [nvarchar](20) NULL,
	[SHIPPING_CONTROL] [nvarchar](30) NULL,
	[CONTERMS_EXIST_FLAG] [nvarchar](1) NULL,
	[CONTERMS_ARTICLES_UPD_DATE] [datetime2](7) NULL,
	[CONTERMS_DELIV_UPD_DATE] [datetime2](7) NULL,
	[ENCUMBRANCE_REQUIRED_FLAG] [nvarchar](1) NULL,
	[PENDING_SIGNATURE_FLAG] [nvarchar](1) NULL,
	[CHANGE_SUMMARY] [nvarchar](2000) NULL,
	[DOCUMENT_CREATION_METHOD] [nvarchar](30) NULL,
	[SUBMIT_DATE] [datetime2](7) NULL,
	[SUPPLIER_NOTIF_METHOD] [nvarchar](25) NULL,
	[FAX] [nvarchar](30) NULL,
	[EMAIL_ADDRESS] [nvarchar](2000) NULL,
	[RETRO_PRICE_COMM_UPDATES_FLAG] [nvarchar](1) NULL,
	[RETRO_PRICE_APPLY_UPDATES_FLAG] [nvarchar](1) NULL,
	[UPDATE_SOURCING_RULES_FLAG] [nvarchar](1) NULL,
	[AUTO_SOURCING_FLAG] [nvarchar](1) NULL,
	[CREATED_LANGUAGE] [nvarchar](4) NULL,
	[CPA_REFERENCE] [float] NULL,
	[LOCK_OWNER_ROLE] [nvarchar](10) NULL,
	[LOCK_OWNER_USER_ID] [float] NULL,
	[SUPPLIER_AUTH_ENABLED_FLAG] [nvarchar](1) NULL,
	[CAT_ADMIN_AUTH_ENABLED_FLAG] [nvarchar](1) NULL,
	[STYLE_ID] [float] NOT NULL,
	[TAX_ATTRIBUTE_UPDATE_CODE] [nvarchar](15) NULL,
	[LAST_UPDATED_PROGRAM] [nvarchar](255) NULL,
	[ENABLE_ALL_SITES] [nvarchar](1) NULL,
	[PAY_WHEN_PAID] [nvarchar](1) NULL,
	[COMM_REV_NUM] [float] NULL,
	[CLM_DOCUMENT_NUMBER] [nvarchar](50) NULL,
	[OTM_STATUS_CODE] [nvarchar](80) NULL,
	[OTM_RECOVERY_FLAG] [nvarchar](1) NULL,
	[AME_APPROVAL_ID] [float] NULL,
	[AME_TRANSACTION_TYPE] [nvarchar](50) NULL,
	[UDA_TEMPLATE_ID] [float] NULL,
	[UDA_TEMPLATE_DATE] [datetime2](7) NULL,
	[USER_DOCUMENT_STATUS] [nvarchar](30) NULL,
	[DRAFT_ID] [float] NULL,
	[CLM_EFFECTIVE_DATE] [datetime2](7) NULL,
	[CLM_VENDOR_OFFER_NUMBER] [nvarchar](400) NULL,
	[CLM_AWARD_ADMINISTRATOR] [nvarchar](400) NULL,
	[CLM_NO_SIGNED_COPIES_TO_RETURN] [float] NULL,
	[CLM_MIN_GUARANTEE_AWARD_AMT] [float] NULL,
	[CLM_MIN_GUAR_AWARD_AMT_PERCENT] [float] NULL,
	[CLM_MIN_ORDER_AMOUNT] [float] NULL,
	[CLM_MAX_ORDER_AMOUNT] [float] NULL,
	[CLM_AMT_SYNCED_TO_AGREEMENT] [nvarchar](1) NULL,
	[CLM_AMOUNT_RELEASED] [float] NULL,
	[CLM_EXTERNAL_IDV] [nvarchar](2000) NULL,
	[CLM_SUPPLIER_NAME] [nvarchar](400) NULL,
	[CLM_SUPPLIER_SITE_NAME] [nvarchar](400) NULL,
	[CLM_SOURCE_DOCUMENT_ID] [float] NULL,
	[CLM_ISSUING_OFFICE] [nvarchar](1000) NULL,
	[CLM_COTR_OFFICE] [nvarchar](2000) NULL,
	[CLM_COTR_CONTACT] [nvarchar](200) NULL,
	[CLM_PRIORITY_CODE] [nvarchar](200) NULL,
	[CLM_MOD_ISSUING_OFFICE] [nvarchar](1000) NULL,
	[CLM_STANDARD_FORM] [nvarchar](200) NULL,
	[CLM_DOCUMENT_FORMAT] [nvarchar](200) NULL,
	[CLM_AWARD_TYPE] [nvarchar](100) NULL,
	[CLM_CONTRACT_OFFICER] [float] NULL,
	[CLM_CLOSEOUT_STATUS] [nvarchar](25) NULL,
	[UMBRELLA_PROGRAM_ID] [float] NULL,
	[FON_REF_ID] [float] NULL,
	[CLM_DEFAULT_DIST_FLAG] [nvarchar](1) NULL,
	[CLM_EDAGEN_DATE] [datetime2](7) NULL,
	[CLM_CONTRACT_FINANCE_CODE] [nvarchar](30) NULL,
	[CLM_PAYMENT_INSTR_CODE] [nvarchar](30) NULL,
	[CLM_SPECIAL_CONTRACT_TYPE] [nvarchar](30) NULL,
	[IGT_DOCUMENT_NUMBER] [nvarchar](30) NULL,
	[IGT_GTNC_NUMBER] [nvarchar](30) NULL,
	[IGT_STATUS] [nvarchar](20) NULL,
	[AGREEMENT_TYPE] [nvarchar](10) NULL,
	[ASSISTED_ACQUISITION_IND] [nvarchar](1) NULL,
	[ADVANCE_PAYMENT_IND] [nvarchar](1) NULL,
	[ENFORCE_TOTAL_AMT_IND] [nvarchar](1) NULL,
	[TERMINATION_DAYS] [float] NULL,
	[TOTAL_REMAINING_AMT] [float] NULL,
	[IGT_BUSINESS_TXN_ID] [nvarchar](50) NULL,
	[Fingerprint] [varchar](32) NOT NULL
	) 

	--insert steps to log what is happening.  If the job fails, we can check the ETLLog and see where it failed.
	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Oracle Download', GETDATE()
	
	INSERT INTO #Headers (
		  --<column-list>
	   [PO_HEADER_ID]
      ,[AGENT_ID]
      ,[TYPE_LOOKUP_CODE]
      ,[LAST_UPDATE_DATE]
      ,[LAST_UPDATED_BY]
      ,[SEGMENT1]
      ,[SUMMARY_FLAG]
      ,[ENABLED_FLAG]
      ,[SEGMENT2]
      ,[SEGMENT3]
      ,[SEGMENT4]
      ,[SEGMENT5]
      ,[START_DATE_ACTIVE]
      ,[END_DATE_ACTIVE]
      ,[LAST_UPDATE_LOGIN]
      ,[CREATION_DATE]
      ,[CREATED_BY]
      ,[VENDOR_ID]
      ,[VENDOR_SITE_ID]
      ,[VENDOR_CONTACT_ID]
      ,[SHIP_TO_LOCATION_ID]
      ,[BILL_TO_LOCATION_ID]
      ,[TERMS_ID]
      ,[SHIP_VIA_LOOKUP_CODE]
      ,[FOB_LOOKUP_CODE]
      ,[FREIGHT_TERMS_LOOKUP_CODE]
      ,[STATUS_LOOKUP_CODE]
      ,[CURRENCY_CODE]
      ,[RATE_TYPE]
      ,[RATE_DATE]
      ,[RATE]
      ,[FROM_HEADER_ID]
      ,[FROM_TYPE_LOOKUP_CODE]
      ,[START_DATE]
      ,[END_DATE]
      ,[BLANKET_TOTAL_AMOUNT]
      ,[AUTHORIZATION_STATUS]
      ,[REVISION_NUM]
      ,[REVISED_DATE]
      ,[APPROVED_FLAG]
      ,[APPROVED_DATE]
      ,[AMOUNT_LIMIT]
      ,[MIN_RELEASE_AMOUNT]
      ,[NOTE_TO_AUTHORIZER]
      ,[NOTE_TO_VENDOR]
      ,[NOTE_TO_RECEIVER]
      ,[PRINT_COUNT]
      ,[PRINTED_DATE]
      ,[VENDOR_ORDER_NUM]
      ,[CONFIRMING_ORDER_FLAG]
      ,[COMMENTS]
      ,[REPLY_DATE]
      ,[REPLY_METHOD_LOOKUP_CODE]
      ,[RFQ_CLOSE_DATE]
      ,[QUOTE_TYPE_LOOKUP_CODE]
      ,[QUOTATION_CLASS_CODE]
      ,[QUOTE_WARNING_DELAY_UNIT]
      ,[QUOTE_WARNING_DELAY]
      ,[QUOTE_VENDOR_QUOTE_NUMBER]
      ,[ACCEPTANCE_REQUIRED_FLAG]
      ,[ACCEPTANCE_DUE_DATE]
      ,[CLOSED_DATE]
      ,[USER_HOLD_FLAG]
      ,[APPROVAL_REQUIRED_FLAG]
      ,[CANCEL_FLAG]
      ,[FIRM_STATUS_LOOKUP_CODE]
      ,[FIRM_DATE]
      ,[FROZEN_FLAG]
      ,[SUPPLY_AGREEMENT_FLAG]
      ,[EDI_PROCESSED_FLAG]
      ,[EDI_PROCESSED_STATUS]
      ,[ATTRIBUTE_CATEGORY]
      ,[ATTRIBUTE1]
      ,[ATTRIBUTE2]
      ,[ATTRIBUTE3]
      ,[ATTRIBUTE4]
      ,[ATTRIBUTE5]
      ,[ATTRIBUTE6]
      ,[ATTRIBUTE7]
      ,[ATTRIBUTE8]
      ,[ATTRIBUTE9]
      ,[ATTRIBUTE10]
      ,[ATTRIBUTE11]
      ,[ATTRIBUTE12]
      ,[ATTRIBUTE13]
      ,[ATTRIBUTE14]
      ,[ATTRIBUTE15]
      ,[CLOSED_CODE]
      ,[USSGL_TRANSACTION_CODE]
      ,[GOVERNMENT_CONTEXT]
      ,[REQUEST_ID]
      ,[PROGRAM_APPLICATION_ID]
      ,[PROGRAM_ID]
      ,[PROGRAM_UPDATE_DATE]
      ,[ORG_ID]
      ,[GLOBAL_ATTRIBUTE_CATEGORY]
      ,[GLOBAL_ATTRIBUTE1]
      ,[GLOBAL_ATTRIBUTE2]
      ,[GLOBAL_ATTRIBUTE3]
      ,[GLOBAL_ATTRIBUTE4]
      ,[GLOBAL_ATTRIBUTE5]
      ,[GLOBAL_ATTRIBUTE6]
      ,[GLOBAL_ATTRIBUTE7]
      ,[GLOBAL_ATTRIBUTE8]
      ,[GLOBAL_ATTRIBUTE9]
      ,[GLOBAL_ATTRIBUTE10]
      ,[GLOBAL_ATTRIBUTE11]
      ,[GLOBAL_ATTRIBUTE12]
      ,[GLOBAL_ATTRIBUTE13]
      ,[GLOBAL_ATTRIBUTE14]
      ,[GLOBAL_ATTRIBUTE15]
      ,[GLOBAL_ATTRIBUTE16]
      ,[GLOBAL_ATTRIBUTE17]
      ,[GLOBAL_ATTRIBUTE18]
      ,[GLOBAL_ATTRIBUTE19]
      ,[GLOBAL_ATTRIBUTE20]
      ,[INTERFACE_SOURCE_CODE]
      ,[REFERENCE_NUM]
      ,[WF_ITEM_TYPE]
      ,[WF_ITEM_KEY]
      ,[MRC_RATE_TYPE]
      ,[MRC_RATE_DATE]
      ,[MRC_RATE]
      ,[PCARD_ID]
      ,[PRICE_UPDATE_TOLERANCE]
      ,[PAY_ON_CODE]
      ,[XML_FLAG]
      ,[XML_SEND_DATE]
      ,[XML_CHANGE_SEND_DATE]
      ,[GLOBAL_AGREEMENT_FLAG]
      ,[CONSIGNED_CONSUMPTION_FLAG]
      ,[CBC_ACCOUNTING_DATE]
      ,[CONSUME_REQ_DEMAND_FLAG]
      ,[CHANGE_REQUESTED_BY]
      ,[SHIPPING_CONTROL]
      ,[CONTERMS_EXIST_FLAG]
      ,[CONTERMS_ARTICLES_UPD_DATE]
      ,[CONTERMS_DELIV_UPD_DATE]
      ,[ENCUMBRANCE_REQUIRED_FLAG]
      ,[PENDING_SIGNATURE_FLAG]
      ,[CHANGE_SUMMARY]
      ,[DOCUMENT_CREATION_METHOD]
      ,[SUBMIT_DATE]
      ,[SUPPLIER_NOTIF_METHOD]
      ,[FAX]
      ,[EMAIL_ADDRESS]
      ,[RETRO_PRICE_COMM_UPDATES_FLAG]
      ,[RETRO_PRICE_APPLY_UPDATES_FLAG]
      ,[UPDATE_SOURCING_RULES_FLAG]
      ,[AUTO_SOURCING_FLAG]
      ,[CREATED_LANGUAGE]
      ,[CPA_REFERENCE]
      ,[LOCK_OWNER_ROLE]
      ,[LOCK_OWNER_USER_ID]
      ,[SUPPLIER_AUTH_ENABLED_FLAG]
      ,[CAT_ADMIN_AUTH_ENABLED_FLAG]
      ,[STYLE_ID]
      ,[TAX_ATTRIBUTE_UPDATE_CODE]
      ,[LAST_UPDATED_PROGRAM]
      ,[ENABLE_ALL_SITES]
      ,[PAY_WHEN_PAID]
      ,[COMM_REV_NUM]
      ,[CLM_DOCUMENT_NUMBER]
      ,[OTM_STATUS_CODE]
      ,[OTM_RECOVERY_FLAG]
      ,[AME_APPROVAL_ID]
      ,[AME_TRANSACTION_TYPE]
      ,[UDA_TEMPLATE_ID]
      ,[UDA_TEMPLATE_DATE]
      ,[USER_DOCUMENT_STATUS]
      ,[DRAFT_ID]
      ,[CLM_EFFECTIVE_DATE]
      ,[CLM_VENDOR_OFFER_NUMBER]
      ,[CLM_AWARD_ADMINISTRATOR]
      ,[CLM_NO_SIGNED_COPIES_TO_RETURN]
      ,[CLM_MIN_GUARANTEE_AWARD_AMT]
      ,[CLM_MIN_GUAR_AWARD_AMT_PERCENT]
      ,[CLM_MIN_ORDER_AMOUNT]
      ,[CLM_MAX_ORDER_AMOUNT]
      ,[CLM_AMT_SYNCED_TO_AGREEMENT]
      ,[CLM_AMOUNT_RELEASED]
      ,[CLM_EXTERNAL_IDV]
      ,[CLM_SUPPLIER_NAME]
      ,[CLM_SUPPLIER_SITE_NAME]
      ,[CLM_SOURCE_DOCUMENT_ID]
      ,[CLM_ISSUING_OFFICE]
      ,[CLM_COTR_OFFICE]
      ,[CLM_COTR_CONTACT]
      ,[CLM_PRIORITY_CODE]
      ,[CLM_MOD_ISSUING_OFFICE]
      ,[CLM_STANDARD_FORM]
      ,[CLM_DOCUMENT_FORMAT]
      ,[CLM_AWARD_TYPE]
      ,[CLM_CONTRACT_OFFICER]
      ,[CLM_CLOSEOUT_STATUS]
      ,[UMBRELLA_PROGRAM_ID]
      ,[FON_REF_ID]
      ,[CLM_DEFAULT_DIST_FLAG]
      ,[CLM_EDAGEN_DATE]
      ,[CLM_CONTRACT_FINANCE_CODE]
      ,[CLM_PAYMENT_INSTR_CODE]
      ,[CLM_SPECIAL_CONTRACT_TYPE]
      ,[IGT_DOCUMENT_NUMBER]
      ,[IGT_GTNC_NUMBER]
      ,[IGT_STATUS]
      ,[AGREEMENT_TYPE]
      ,[ASSISTED_ACQUISITION_IND]
      ,[ADVANCE_PAYMENT_IND]
      ,[ENFORCE_TOTAL_AMT_IND]
      ,[TERMINATION_DAYS]
      ,[TOTAL_REMAINING_AMT]
      ,[IGT_BUSINESS_TXN_ID]
      ,[Fingerprint]
	  )
	SELECT 
		 --<column-list>
		   [PO_HEADER_ID]
		  ,[AGENT_ID]
		  ,[TYPE_LOOKUP_CODE]
		  ,[LAST_UPDATE_DATE]
		  ,[LAST_UPDATED_BY]
		  ,[SEGMENT1]
		  ,[SUMMARY_FLAG]
		  ,[ENABLED_FLAG]
		  ,[SEGMENT2]
		  ,[SEGMENT3]
		  ,[SEGMENT4]
		  ,[SEGMENT5]
		  ,[START_DATE_ACTIVE]
		  ,[END_DATE_ACTIVE]
		  ,[LAST_UPDATE_LOGIN]
		  ,[CREATION_DATE]
		  ,[CREATED_BY]
		  ,[VENDOR_ID]
		  ,[VENDOR_SITE_ID]
		  ,[VENDOR_CONTACT_ID]
		  ,[SHIP_TO_LOCATION_ID]
		  ,[BILL_TO_LOCATION_ID]
		  ,[TERMS_ID]
		  ,[SHIP_VIA_LOOKUP_CODE]
		  ,[FOB_LOOKUP_CODE]
		  ,[FREIGHT_TERMS_LOOKUP_CODE]
		  ,[STATUS_LOOKUP_CODE]
		  ,[CURRENCY_CODE]
		  ,[RATE_TYPE]
		  ,[RATE_DATE]
		  ,[RATE]
		  ,[FROM_HEADER_ID]
		  ,[FROM_TYPE_LOOKUP_CODE]
		  ,[START_DATE]
		  ,[END_DATE]
		  ,[BLANKET_TOTAL_AMOUNT]
		  ,[AUTHORIZATION_STATUS]
		  ,[REVISION_NUM]
		  ,[REVISED_DATE]
		  ,[APPROVED_FLAG]
		  ,[APPROVED_DATE]
		  ,[AMOUNT_LIMIT]
		  ,[MIN_RELEASE_AMOUNT]
		  ,[NOTE_TO_AUTHORIZER]
		  ,[NOTE_TO_VENDOR]
		  ,[NOTE_TO_RECEIVER]
		  ,[PRINT_COUNT]
		  ,[PRINTED_DATE]
		  ,[VENDOR_ORDER_NUM]
		  ,[CONFIRMING_ORDER_FLAG]
		  ,[COMMENTS]
		  ,[REPLY_DATE]
		  ,[REPLY_METHOD_LOOKUP_CODE]
		  ,[RFQ_CLOSE_DATE]
		  ,[QUOTE_TYPE_LOOKUP_CODE]
		  ,[QUOTATION_CLASS_CODE]
		  ,[QUOTE_WARNING_DELAY_UNIT]
		  ,[QUOTE_WARNING_DELAY]
		  ,[QUOTE_VENDOR_QUOTE_NUMBER]
		  ,[ACCEPTANCE_REQUIRED_FLAG]
		  ,[ACCEPTANCE_DUE_DATE]
		  ,[CLOSED_DATE]
		  ,[USER_HOLD_FLAG]
		  ,[APPROVAL_REQUIRED_FLAG]
		  ,[CANCEL_FLAG]
		  ,[FIRM_STATUS_LOOKUP_CODE]
		  ,[FIRM_DATE]
		  ,[FROZEN_FLAG]
		  ,[SUPPLY_AGREEMENT_FLAG]
		  ,[EDI_PROCESSED_FLAG]
		  ,[EDI_PROCESSED_STATUS]
		  ,[ATTRIBUTE_CATEGORY]
		  ,[ATTRIBUTE1]
		  ,[ATTRIBUTE2]
		  ,[ATTRIBUTE3]
		  ,[ATTRIBUTE4]
		  ,[ATTRIBUTE5]
		  ,[ATTRIBUTE6]
		  ,[ATTRIBUTE7]
		  ,[ATTRIBUTE8]
		  ,[ATTRIBUTE9]
		  ,[ATTRIBUTE10]
		  ,[ATTRIBUTE11]
		  ,[ATTRIBUTE12]
		  ,[ATTRIBUTE13]
		  ,[ATTRIBUTE14]
		  ,[ATTRIBUTE15]
		  ,[CLOSED_CODE]
		  ,[USSGL_TRANSACTION_CODE]
		  ,[GOVERNMENT_CONTEXT]
		  ,[REQUEST_ID]
		  ,[PROGRAM_APPLICATION_ID]
		  ,[PROGRAM_ID]
		  ,[PROGRAM_UPDATE_DATE]
		  ,[ORG_ID]
		  ,[GLOBAL_ATTRIBUTE_CATEGORY]
		  ,[GLOBAL_ATTRIBUTE1]
		  ,[GLOBAL_ATTRIBUTE2]
		  ,[GLOBAL_ATTRIBUTE3]
		  ,[GLOBAL_ATTRIBUTE4]
		  ,[GLOBAL_ATTRIBUTE5]
		  ,[GLOBAL_ATTRIBUTE6]
		  ,[GLOBAL_ATTRIBUTE7]
		  ,[GLOBAL_ATTRIBUTE8]
		  ,[GLOBAL_ATTRIBUTE9]
		  ,[GLOBAL_ATTRIBUTE10]
		  ,[GLOBAL_ATTRIBUTE11]
		  ,[GLOBAL_ATTRIBUTE12]
		  ,[GLOBAL_ATTRIBUTE13]
		  ,[GLOBAL_ATTRIBUTE14]
		  ,[GLOBAL_ATTRIBUTE15]
		  ,[GLOBAL_ATTRIBUTE16]
		  ,[GLOBAL_ATTRIBUTE17]
		  ,[GLOBAL_ATTRIBUTE18]
		  ,[GLOBAL_ATTRIBUTE19]
		  ,[GLOBAL_ATTRIBUTE20]
		  ,[INTERFACE_SOURCE_CODE]
		  ,[REFERENCE_NUM]
		  ,[WF_ITEM_TYPE]
		  ,[WF_ITEM_KEY]
		  ,[MRC_RATE_TYPE]
		  ,[MRC_RATE_DATE]
		  ,[MRC_RATE]
		  ,[PCARD_ID]
		  ,[PRICE_UPDATE_TOLERANCE]
		  ,[PAY_ON_CODE]
		  ,[XML_FLAG]
		  ,[XML_SEND_DATE]
		  ,[XML_CHANGE_SEND_DATE]
		  ,[GLOBAL_AGREEMENT_FLAG]
		  ,[CONSIGNED_CONSUMPTION_FLAG]
		  ,[CBC_ACCOUNTING_DATE]
		  ,[CONSUME_REQ_DEMAND_FLAG]
		  ,[CHANGE_REQUESTED_BY]
		  ,[SHIPPING_CONTROL]
		  ,[CONTERMS_EXIST_FLAG]
		  ,[CONTERMS_ARTICLES_UPD_DATE]
		  ,[CONTERMS_DELIV_UPD_DATE]
		  ,[ENCUMBRANCE_REQUIRED_FLAG]
		  ,[PENDING_SIGNATURE_FLAG]
		  ,[CHANGE_SUMMARY]
		  ,[DOCUMENT_CREATION_METHOD]
		  ,[SUBMIT_DATE]
		  ,[SUPPLIER_NOTIF_METHOD]
		  ,[FAX]
		  ,[EMAIL_ADDRESS]
		  ,[RETRO_PRICE_COMM_UPDATES_FLAG]
		  ,[RETRO_PRICE_APPLY_UPDATES_FLAG]
		  ,[UPDATE_SOURCING_RULES_FLAG]
		  ,[AUTO_SOURCING_FLAG]
		  ,[CREATED_LANGUAGE]
		  ,[CPA_REFERENCE]
		  ,[LOCK_OWNER_ROLE]
		  ,[LOCK_OWNER_USER_ID]
		  ,[SUPPLIER_AUTH_ENABLED_FLAG]
		  ,[CAT_ADMIN_AUTH_ENABLED_FLAG]
		  ,[STYLE_ID]
		  ,[TAX_ATTRIBUTE_UPDATE_CODE]
		  ,[LAST_UPDATED_PROGRAM]
		  ,[ENABLE_ALL_SITES]
		  ,[PAY_WHEN_PAID]
		  ,[COMM_REV_NUM]
		  ,[CLM_DOCUMENT_NUMBER]
		  ,[OTM_STATUS_CODE]
		  ,[OTM_RECOVERY_FLAG]
		  ,[AME_APPROVAL_ID]
		  ,[AME_TRANSACTION_TYPE]
		  ,[UDA_TEMPLATE_ID]
		  ,[UDA_TEMPLATE_DATE]
		  ,[USER_DOCUMENT_STATUS]
		  ,[DRAFT_ID]
		  ,[CLM_EFFECTIVE_DATE]
		  ,[CLM_VENDOR_OFFER_NUMBER]
		  ,[CLM_AWARD_ADMINISTRATOR]
		  ,[CLM_NO_SIGNED_COPIES_TO_RETURN]
		  ,[CLM_MIN_GUARANTEE_AWARD_AMT]
		  ,[CLM_MIN_GUAR_AWARD_AMT_PERCENT]
		  ,[CLM_MIN_ORDER_AMOUNT]
		  ,[CLM_MAX_ORDER_AMOUNT]
		  ,[CLM_AMT_SYNCED_TO_AGREEMENT]
		  ,[CLM_AMOUNT_RELEASED]
		  ,[CLM_EXTERNAL_IDV]
		  ,[CLM_SUPPLIER_NAME]
		  ,[CLM_SUPPLIER_SITE_NAME]
		  ,[CLM_SOURCE_DOCUMENT_ID]
		  ,[CLM_ISSUING_OFFICE]
		  ,[CLM_COTR_OFFICE]
		  ,[CLM_COTR_CONTACT]
		  ,[CLM_PRIORITY_CODE]
		  ,[CLM_MOD_ISSUING_OFFICE]
		  ,[CLM_STANDARD_FORM]
		  ,[CLM_DOCUMENT_FORMAT]
		  ,[CLM_AWARD_TYPE]
		  ,[CLM_CONTRACT_OFFICER]
		  ,[CLM_CLOSEOUT_STATUS]
		  ,[UMBRELLA_PROGRAM_ID]
		  ,[FON_REF_ID]
		  ,[CLM_DEFAULT_DIST_FLAG]
		  ,[CLM_EDAGEN_DATE]
		  ,[CLM_CONTRACT_FINANCE_CODE]
		  ,[CLM_PAYMENT_INSTR_CODE]
		  ,[CLM_SPECIAL_CONTRACT_TYPE]
		  ,[IGT_DOCUMENT_NUMBER]
		  ,[IGT_GTNC_NUMBER]
		  ,[IGT_STATUS]
		  ,[AGREEMENT_TYPE]
		  ,[ASSISTED_ACQUISITION_IND]
		  ,[ADVANCE_PAYMENT_IND]
		  ,[ENFORCE_TOTAL_AMT_IND]
		  ,[TERMINATION_DAYS]
		  ,[TOTAL_REMAINING_AMT]
		  ,[IGT_BUSINESS_TXN_ID]
		  ,'XXX' AS [Fingerprint]
	FROM OPENQUERY(QA, '
		SELECT * FROM PO_HEADERS_ALL
		WHERE (CREATION_DATE > sysdate - 90 OR LAST_UPDATE_DATE > sysdate - 90)
		AND (ATTRIBUTE1 IS NOT NULL
		OR ATTRIBUTE2 IS NOT NULL
		OR ATTRIBUTE3 IS NOT NULL
		OR ATTRIBUTE4 IS NOT NULL
		OR ATTRIBUTE5 IS NOT NULL
		OR ATTRIBUTE6 IS NOT NULL
		OR ATTRIBUTE7 IS NOT NULL)
	') --8000 character limit for openqueries

	/*	--run this and replace @columnList below
		DECLARE @columnList VARCHAR(MAX) = dbo.getHashField ('PO_HEADERS_ALL','Oracle') SELECT @columnList
	*/

	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Fingerprint', GETDATE()

	UPDATE #Headers
	SET Fingerprint = 
		SUBSTRING(LOWER(CONVERT(VARCHAR(32),HASHBYTES('MD5',
			--replace @columnList result here
	CAST(ISNULL([PO_HEADER_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([AGENT_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([TYPE_LOOKUP_CODE],'') AS VARCHAR(25)) +  CAST(ISNULL([LAST_UPDATE_DATE],'') AS VARCHAR(100)) +  CAST(ISNULL([LAST_UPDATED_BY],'0') AS VARCHAR(100)) +  CAST(ISNULL([SEGMENT1],'') AS VARCHAR(20)) +  CAST(ISNULL([SUMMARY_FLAG],'') AS VARCHAR(1)) +  CAST(ISNULL([ENABLED_FLAG],'') AS VARCHAR(1)) +  CAST(ISNULL([SEGMENT2],'') AS VARCHAR(20)) +  CAST(ISNULL([SEGMENT3],'') AS VARCHAR(20)) +  CAST(ISNULL([SEGMENT4],'') AS VARCHAR(20)) +  CAST(ISNULL([SEGMENT5],'') AS VARCHAR(20)) +  CAST(ISNULL([START_DATE_ACTIVE],'') AS VARCHAR(100)) +  CAST(ISNULL([END_DATE_ACTIVE],'') AS VARCHAR(100)) +  CAST(ISNULL([LAST_UPDATE_LOGIN],'0') AS VARCHAR(100)) +  CAST(ISNULL([CREATION_DATE],'') AS VARCHAR(100)) +  CAST(ISNULL([CREATED_BY],'0') AS VARCHAR(100)) +  CAST(ISNULL([VENDOR_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([VENDOR_SITE_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([VENDOR_CONTACT_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([SHIP_TO_LOCATION_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([BILL_TO_LOCATION_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([TERMS_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([SHIP_VIA_LOOKUP_CODE],'') AS VARCHAR(25)) +  CAST(ISNULL([FOB_LOOKUP_CODE],'') AS VARCHAR(25)) +  CAST(ISNULL([FREIGHT_TERMS_LOOKUP_CODE],'') AS VARCHAR(25)) +  CAST(ISNULL([STATUS_LOOKUP_CODE],'') AS VARCHAR(25)) +  CAST(ISNULL([CURRENCY_CODE],'') AS VARCHAR(15)) +  CAST(ISNULL([RATE_TYPE],'') AS VARCHAR(30)) +  CAST(ISNULL([RATE_DATE],'') AS VARCHAR(100)) +  CAST(ISNULL([RATE],'0') AS VARCHAR(100)) +  CAST(ISNULL([FROM_HEADER_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([FROM_TYPE_LOOKUP_CODE],'') AS VARCHAR(25)) +  CAST(ISNULL([START_DATE],'') AS VARCHAR(100)) +  CAST(ISNULL([END_DATE],'') AS VARCHAR(100)) +  CAST(ISNULL([BLANKET_TOTAL_AMOUNT],'0') AS VARCHAR(100)) +  CAST(ISNULL([AUTHORIZATION_STATUS],'') AS VARCHAR(25)) +  CAST(ISNULL([REVISION_NUM],'0') AS VARCHAR(100)) +  CAST(ISNULL([REVISED_DATE],'') AS VARCHAR(100)) +  CAST(ISNULL([APPROVED_FLAG],'') AS VARCHAR(1)) +  CAST(ISNULL([APPROVED_DATE],'') AS VARCHAR(100)) +  CAST(ISNULL([AMOUNT_LIMIT],'0') AS VARCHAR(100)) +  CAST(ISNULL([MIN_RELEASE_AMOUNT],'0') AS VARCHAR(100)) +  CAST(ISNULL([NOTE_TO_AUTHORIZER],'') AS VARCHAR(240)) +  CAST(ISNULL([NOTE_TO_VENDOR],'') AS VARCHAR(480)) +  CAST(ISNULL([NOTE_TO_RECEIVER],'') AS VARCHAR(480)) +  CAST(ISNULL([PRINT_COUNT],'0') AS VARCHAR(100)) +  CAST(ISNULL([PRINTED_DATE],'') AS VARCHAR(100)) +  CAST(ISNULL([VENDOR_ORDER_NUM],'') AS VARCHAR(25)) +  CAST(ISNULL([CONFIRMING_ORDER_FLAG],'') AS VARCHAR(1)) +  CAST(ISNULL([COMMENTS],'') AS VARCHAR(240)) +  CAST(ISNULL([REPLY_DATE],'') AS VARCHAR(100)) +  CAST(ISNULL([REPLY_METHOD_LOOKUP_CODE],'') AS VARCHAR(25)) +  CAST(ISNULL([RFQ_CLOSE_DATE],'') AS VARCHAR(100)) +  CAST(ISNULL([QUOTE_TYPE_LOOKUP_CODE],'') AS VARCHAR(25)) +  CAST(ISNULL([QUOTATION_CLASS_CODE],'') AS VARCHAR(25)) +  CAST(ISNULL([QUOTE_WARNING_DELAY_UNIT],'') AS VARCHAR(25)) +  CAST(ISNULL([QUOTE_WARNING_DELAY],'0') AS VARCHAR(100)) +  CAST(ISNULL([QUOTE_VENDOR_QUOTE_NUMBER],'') AS VARCHAR(25)) +  CAST(ISNULL([ACCEPTANCE_REQUIRED_FLAG],'') AS VARCHAR(1)) +  CAST(ISNULL([ACCEPTANCE_DUE_DATE],'') AS VARCHAR(100)) +  CAST(ISNULL([CLOSED_DATE],'') AS VARCHAR(100)) +  CAST(ISNULL([USER_HOLD_FLAG],'') AS VARCHAR(1)) +  CAST(ISNULL([APPROVAL_REQUIRED_FLAG],'') AS VARCHAR(1)) +  CAST(ISNULL([CANCEL_FLAG],'') AS VARCHAR(1)) +  CAST(ISNULL([FIRM_STATUS_LOOKUP_CODE],'') AS VARCHAR(30)) +  CAST(ISNULL([FIRM_DATE],'') AS VARCHAR(100)) +  CAST(ISNULL([FROZEN_FLAG],'') AS VARCHAR(1)) +  CAST(ISNULL([SUPPLY_AGREEMENT_FLAG],'') AS VARCHAR(1)) +  CAST(ISNULL([EDI_PROCESSED_FLAG],'') AS VARCHAR(1)) +  CAST(ISNULL([EDI_PROCESSED_STATUS],'') AS VARCHAR(10)) +  CAST(ISNULL([ATTRIBUTE_CATEGORY],'') AS VARCHAR(30)) +  CAST(ISNULL([ATTRIBUTE1],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE2],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE3],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE4],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE5],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE6],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE7],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE8],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE9],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE10],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE11],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE12],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE13],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE14],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE15],'') AS VARCHAR(150)) +  CAST(ISNULL([CLOSED_CODE],'') AS VARCHAR(25)) +  CAST(ISNULL([USSGL_TRANSACTION_CODE],'') AS VARCHAR(30)) +  CAST(ISNULL([GOVERNMENT_CONTEXT],'') AS VARCHAR(30)) +  CAST(ISNULL([REQUEST_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([PROGRAM_APPLICATION_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([PROGRAM_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([PROGRAM_UPDATE_DATE],'') AS VARCHAR(100)) +  CAST(ISNULL([ORG_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([GLOBAL_ATTRIBUTE_CATEGORY],'') AS VARCHAR(150)) +  CAST(ISNULL([GLOBAL_ATTRIBUTE1],'') AS VARCHAR(150)) +  CAST(ISNULL([GLOBAL_ATTRIBUTE2],'') AS VARCHAR(150)) +  CAST(ISNULL([GLOBAL_ATTRIBUTE3],'') AS VARCHAR(150)) +  CAST(ISNULL([GLOBAL_ATTRIBUTE4],'') AS VARCHAR(150)) +  CAST(ISNULL([GLOBAL_ATTRIBUTE5],'') AS VARCHAR(150)) +  CAST(ISNULL([GLOBAL_ATTRIBUTE6],'') AS VARCHAR(150)) +  CAST(ISNULL([GLOBAL_ATTRIBUTE7],'') AS VARCHAR(150)) +  CAST(ISNULL([GLOBAL_ATTRIBUTE8],'') AS VARCHAR(150)) +  CAST(ISNULL([GLOBAL_ATTRIBUTE9],'') AS VARCHAR(150)) +  CAST(ISNULL([GLOBAL_ATTRIBUTE10],'') AS VARCHAR(150)) +  CAST(ISNULL([GLOBAL_ATTRIBUTE11],'') AS VARCHAR(150)) +  CAST(ISNULL([GLOBAL_ATTRIBUTE12],'') AS VARCHAR(150)) +  CAST(ISNULL([GLOBAL_ATTRIBUTE13],'') AS VARCHAR(150)) +  CAST(ISNULL([GLOBAL_ATTRIBUTE14],'') AS VARCHAR(150)) +  CAST(ISNULL([GLOBAL_ATTRIBUTE15],'') AS VARCHAR(150)) +  CAST(ISNULL([GLOBAL_ATTRIBUTE16],'') AS VARCHAR(150)) +  CAST(ISNULL([GLOBAL_ATTRIBUTE17],'') AS VARCHAR(150)) +  CAST(ISNULL([GLOBAL_ATTRIBUTE18],'') AS VARCHAR(150)) +  CAST(ISNULL([GLOBAL_ATTRIBUTE19],'') AS VARCHAR(150)) +  CAST(ISNULL([GLOBAL_ATTRIBUTE20],'') AS VARCHAR(150)) +  CAST(ISNULL([INTERFACE_SOURCE_CODE],'') AS VARCHAR(25)) +  CAST(ISNULL([REFERENCE_NUM],'') AS VARCHAR(25)) +  CAST(ISNULL([WF_ITEM_TYPE],'') AS VARCHAR(8)) +  CAST(ISNULL([WF_ITEM_KEY],'') AS VARCHAR(240)) +  CAST(ISNULL([MRC_RATE_TYPE],'') AS VARCHAR(2000)) +  CAST(ISNULL([MRC_RATE_DATE],'') AS VARCHAR(2000)) +  CAST(ISNULL([MRC_RATE],'') AS VARCHAR(2000)) +  CAST(ISNULL([PCARD_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([PRICE_UPDATE_TOLERANCE],'0') AS VARCHAR(100)) +  CAST(ISNULL([PAY_ON_CODE],'') AS VARCHAR(25)) +  CAST(ISNULL([XML_FLAG],'') AS VARCHAR(3)) +  CAST(ISNULL([XML_SEND_DATE],'') AS VARCHAR(100)) +  CAST(ISNULL([XML_CHANGE_SEND_DATE],'') AS VARCHAR(100)) +  CAST(ISNULL([GLOBAL_AGREEMENT_FLAG],'') AS VARCHAR(1)) +  CAST(ISNULL([CONSIGNED_CONSUMPTION_FLAG],'') AS VARCHAR(1)) +  CAST(ISNULL([CBC_ACCOUNTING_DATE],'') AS VARCHAR(100)) +  CAST(ISNULL([CONSUME_REQ_DEMAND_FLAG],'') AS VARCHAR(1)) +  CAST(ISNULL([CHANGE_REQUESTED_BY],'') AS VARCHAR(20)) +  CAST(ISNULL([SHIPPING_CONTROL],'') AS VARCHAR(30)) +  CAST(ISNULL([CONTERMS_EXIST_FLAG],'') AS VARCHAR(1)) +  CAST(ISNULL([CONTERMS_ARTICLES_UPD_DATE],'') AS VARCHAR(100)) +  CAST(ISNULL([CONTERMS_DELIV_UPD_DATE],'') AS VARCHAR(100)) +  CAST(ISNULL([ENCUMBRANCE_REQUIRED_FLAG],'') AS VARCHAR(1)) +  CAST(ISNULL([PENDING_SIGNATURE_FLAG],'') AS VARCHAR(1)) +  CAST(ISNULL([CHANGE_SUMMARY],'') AS VARCHAR(2000)) +  CAST(ISNULL([DOCUMENT_CREATION_METHOD],'') AS VARCHAR(30)) +  CAST(ISNULL([SUBMIT_DATE],'') AS VARCHAR(100)) +  CAST(ISNULL([SUPPLIER_NOTIF_METHOD],'') AS VARCHAR(25)) +  CAST(ISNULL([FAX],'') AS VARCHAR(30)) +  CAST(ISNULL([EMAIL_ADDRESS],'') AS VARCHAR(2000)) +  CAST(ISNULL([RETRO_PRICE_COMM_UPDATES_FLAG],'') AS VARCHAR(1)) +  CAST(ISNULL([RETRO_PRICE_APPLY_UPDATES_FLAG],'') AS VARCHAR(1)) +  CAST(ISNULL([UPDATE_SOURCING_RULES_FLAG],'') AS VARCHAR(1)) +  CAST(ISNULL([AUTO_SOURCING_FLAG],'') AS VARCHAR(1)) +  CAST(ISNULL([CREATED_LANGUAGE],'') AS VARCHAR(4)) +  CAST(ISNULL([CPA_REFERENCE],'0') AS VARCHAR(100)) +  CAST(ISNULL([LOCK_OWNER_ROLE],'') AS VARCHAR(10)) +  CAST(ISNULL([LOCK_OWNER_USER_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([SUPPLIER_AUTH_ENABLED_FLAG],'') AS VARCHAR(1)) +  CAST(ISNULL([CAT_ADMIN_AUTH_ENABLED_FLAG],'') AS VARCHAR(1)) +  CAST(ISNULL([STYLE_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([TAX_ATTRIBUTE_UPDATE_CODE],'') AS VARCHAR(15)) +  CAST(ISNULL([LAST_UPDATED_PROGRAM],'') AS VARCHAR(255)) +  CAST(ISNULL([ENABLE_ALL_SITES],'') AS VARCHAR(1)) +  CAST(ISNULL([PAY_WHEN_PAID],'') AS VARCHAR(1)) +  CAST(ISNULL([COMM_REV_NUM],'0') AS VARCHAR(100)) +  CAST(ISNULL([CLM_DOCUMENT_NUMBER],'') AS VARCHAR(50)) +  CAST(ISNULL([OTM_STATUS_CODE],'') AS VARCHAR(80)) +  CAST(ISNULL([OTM_RECOVERY_FLAG],'') AS VARCHAR(1)) +  CAST(ISNULL([AME_APPROVAL_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([AME_TRANSACTION_TYPE],'') AS VARCHAR(50)) +  CAST(ISNULL([UDA_TEMPLATE_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([UDA_TEMPLATE_DATE],'') AS VARCHAR(100)) +  CAST(ISNULL([USER_DOCUMENT_STATUS],'') AS VARCHAR(30)) +  CAST(ISNULL([DRAFT_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([CLM_EFFECTIVE_DATE],'') AS VARCHAR(100)) +  CAST(ISNULL([CLM_VENDOR_OFFER_NUMBER],'') AS VARCHAR(400)) +  CAST(ISNULL([CLM_AWARD_ADMINISTRATOR],'') AS VARCHAR(400)) +  CAST(ISNULL([CLM_NO_SIGNED_COPIES_TO_RETURN],'0') AS VARCHAR(100)) +  CAST(ISNULL([CLM_MIN_GUARANTEE_AWARD_AMT],'0') AS VARCHAR(100)) +  CAST(ISNULL([CLM_MIN_GUAR_AWARD_AMT_PERCENT],'0') AS VARCHAR(100)) +  CAST(ISNULL([CLM_MIN_ORDER_AMOUNT],'0') AS VARCHAR(100)) +  CAST(ISNULL([CLM_MAX_ORDER_AMOUNT],'0') AS VARCHAR(100)) +  CAST(ISNULL([CLM_AMT_SYNCED_TO_AGREEMENT],'') AS VARCHAR(1)) +  CAST(ISNULL([CLM_AMOUNT_RELEASED],'0') AS VARCHAR(100)) +  CAST(ISNULL([CLM_EXTERNAL_IDV],'') AS VARCHAR(2000)) +  CAST(ISNULL([CLM_SUPPLIER_NAME],'') AS VARCHAR(400)) +  CAST(ISNULL([CLM_SUPPLIER_SITE_NAME],'') AS VARCHAR(400)) +  CAST(ISNULL([CLM_SOURCE_DOCUMENT_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([CLM_ISSUING_OFFICE],'') AS VARCHAR(1000)) +  CAST(ISNULL([CLM_COTR_OFFICE],'') AS VARCHAR(2000)) +  CAST(ISNULL([CLM_COTR_CONTACT],'') AS VARCHAR(200)) +  CAST(ISNULL([CLM_PRIORITY_CODE],'') AS VARCHAR(200)) +  CAST(ISNULL([CLM_MOD_ISSUING_OFFICE],'') AS VARCHAR(1000)) +  CAST(ISNULL([CLM_STANDARD_FORM],'') AS VARCHAR(200)) +  CAST(ISNULL([CLM_DOCUMENT_FORMAT],'') AS VARCHAR(200)) +  CAST(ISNULL([CLM_AWARD_TYPE],'') AS VARCHAR(100)) +  CAST(ISNULL([CLM_CONTRACT_OFFICER],'0') AS VARCHAR(100)) +  CAST(ISNULL([CLM_CLOSEOUT_STATUS],'') AS VARCHAR(25)) +  CAST(ISNULL([UMBRELLA_PROGRAM_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([FON_REF_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([CLM_DEFAULT_DIST_FLAG],'') AS VARCHAR(1)) +  CAST(ISNULL([CLM_EDAGEN_DATE],'') AS VARCHAR(100)) +  CAST(ISNULL([CLM_CONTRACT_FINANCE_CODE],'') AS VARCHAR(30)) +  CAST(ISNULL([CLM_PAYMENT_INSTR_CODE],'') AS VARCHAR(30)) +  CAST(ISNULL([CLM_SPECIAL_CONTRACT_TYPE],'') AS VARCHAR(30)) +  CAST(ISNULL([IGT_DOCUMENT_NUMBER],'') AS VARCHAR(30)) +  CAST(ISNULL([IGT_GTNC_NUMBER],'') AS VARCHAR(30)) +  CAST(ISNULL([IGT_STATUS],'') AS VARCHAR(20)) +  CAST(ISNULL([AGREEMENT_TYPE],'') AS VARCHAR(10)) +  CAST(ISNULL([ASSISTED_ACQUISITION_IND],'') AS VARCHAR(1)) +  CAST(ISNULL([ADVANCE_PAYMENT_IND],'') AS VARCHAR(1)) +  CAST(ISNULL([ENFORCE_TOTAL_AMT_IND],'') AS VARCHAR(1)) +  CAST(ISNULL([TERMINATION_DAYS],'0') AS VARCHAR(100)) +  CAST(ISNULL([TOTAL_REMAINING_AMT],'0') AS VARCHAR(100)) +  CAST(ISNULL([IGT_BUSINESS_TXN_ID],'') AS VARCHAR(50)) 
		),1)),3,32);


	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Merge', GETDATE()

	INSERT INTO #Headers (
		  --<column-list>
	   [PO_HEADER_ID]
      ,[AGENT_ID]
      ,[TYPE_LOOKUP_CODE]
      ,[LAST_UPDATE_DATE]
      ,[LAST_UPDATED_BY]
      ,[SEGMENT1]
      ,[SUMMARY_FLAG]
      ,[ENABLED_FLAG]
      ,[SEGMENT2]
      ,[SEGMENT3]
      ,[SEGMENT4]
      ,[SEGMENT5]
      ,[START_DATE_ACTIVE]
      ,[END_DATE_ACTIVE]
      ,[LAST_UPDATE_LOGIN]
      ,[CREATION_DATE]
      ,[CREATED_BY]
      ,[VENDOR_ID]
      ,[VENDOR_SITE_ID]
      ,[VENDOR_CONTACT_ID]
      ,[SHIP_TO_LOCATION_ID]
      ,[BILL_TO_LOCATION_ID]
      ,[TERMS_ID]
      ,[SHIP_VIA_LOOKUP_CODE]
      ,[FOB_LOOKUP_CODE]
      ,[FREIGHT_TERMS_LOOKUP_CODE]
      ,[STATUS_LOOKUP_CODE]
      ,[CURRENCY_CODE]
      ,[RATE_TYPE]
      ,[RATE_DATE]
      ,[RATE]
      ,[FROM_HEADER_ID]
      ,[FROM_TYPE_LOOKUP_CODE]
      ,[START_DATE]
      ,[END_DATE]
      ,[BLANKET_TOTAL_AMOUNT]
      ,[AUTHORIZATION_STATUS]
      ,[REVISION_NUM]
      ,[REVISED_DATE]
      ,[APPROVED_FLAG]
      ,[APPROVED_DATE]
      ,[AMOUNT_LIMIT]
      ,[MIN_RELEASE_AMOUNT]
      ,[NOTE_TO_AUTHORIZER]
      ,[NOTE_TO_VENDOR]
      ,[NOTE_TO_RECEIVER]
      ,[PRINT_COUNT]
      ,[PRINTED_DATE]
      ,[VENDOR_ORDER_NUM]
      ,[CONFIRMING_ORDER_FLAG]
      ,[COMMENTS]
      ,[REPLY_DATE]
      ,[REPLY_METHOD_LOOKUP_CODE]
      ,[RFQ_CLOSE_DATE]
      ,[QUOTE_TYPE_LOOKUP_CODE]
      ,[QUOTATION_CLASS_CODE]
      ,[QUOTE_WARNING_DELAY_UNIT]
      ,[QUOTE_WARNING_DELAY]
      ,[QUOTE_VENDOR_QUOTE_NUMBER]
      ,[ACCEPTANCE_REQUIRED_FLAG]
      ,[ACCEPTANCE_DUE_DATE]
      ,[CLOSED_DATE]
      ,[USER_HOLD_FLAG]
      ,[APPROVAL_REQUIRED_FLAG]
      ,[CANCEL_FLAG]
      ,[FIRM_STATUS_LOOKUP_CODE]
      ,[FIRM_DATE]
      ,[FROZEN_FLAG]
      ,[SUPPLY_AGREEMENT_FLAG]
      ,[EDI_PROCESSED_FLAG]
      ,[EDI_PROCESSED_STATUS]
      ,[ATTRIBUTE_CATEGORY]
      ,[ATTRIBUTE1]
      ,[ATTRIBUTE2]
      ,[ATTRIBUTE3]
      ,[ATTRIBUTE4]
      ,[ATTRIBUTE5]
      ,[ATTRIBUTE6]
      ,[ATTRIBUTE7]
      ,[ATTRIBUTE8]
      ,[ATTRIBUTE9]
      ,[ATTRIBUTE10]
      ,[ATTRIBUTE11]
      ,[ATTRIBUTE12]
      ,[ATTRIBUTE13]
      ,[ATTRIBUTE14]
      ,[ATTRIBUTE15]
      ,[CLOSED_CODE]
      ,[USSGL_TRANSACTION_CODE]
      ,[GOVERNMENT_CONTEXT]
      ,[REQUEST_ID]
      ,[PROGRAM_APPLICATION_ID]
      ,[PROGRAM_ID]
      ,[PROGRAM_UPDATE_DATE]
      ,[ORG_ID]
      ,[GLOBAL_ATTRIBUTE_CATEGORY]
      ,[GLOBAL_ATTRIBUTE1]
      ,[GLOBAL_ATTRIBUTE2]
      ,[GLOBAL_ATTRIBUTE3]
      ,[GLOBAL_ATTRIBUTE4]
      ,[GLOBAL_ATTRIBUTE5]
      ,[GLOBAL_ATTRIBUTE6]
      ,[GLOBAL_ATTRIBUTE7]
      ,[GLOBAL_ATTRIBUTE8]
      ,[GLOBAL_ATTRIBUTE9]
      ,[GLOBAL_ATTRIBUTE10]
      ,[GLOBAL_ATTRIBUTE11]
      ,[GLOBAL_ATTRIBUTE12]
      ,[GLOBAL_ATTRIBUTE13]
      ,[GLOBAL_ATTRIBUTE14]
      ,[GLOBAL_ATTRIBUTE15]
      ,[GLOBAL_ATTRIBUTE16]
      ,[GLOBAL_ATTRIBUTE17]
      ,[GLOBAL_ATTRIBUTE18]
      ,[GLOBAL_ATTRIBUTE19]
      ,[GLOBAL_ATTRIBUTE20]
      ,[INTERFACE_SOURCE_CODE]
      ,[REFERENCE_NUM]
      ,[WF_ITEM_TYPE]
      ,[WF_ITEM_KEY]
      ,[MRC_RATE_TYPE]
      ,[MRC_RATE_DATE]
      ,[MRC_RATE]
      ,[PCARD_ID]
      ,[PRICE_UPDATE_TOLERANCE]
      ,[PAY_ON_CODE]
      ,[XML_FLAG]
      ,[XML_SEND_DATE]
      ,[XML_CHANGE_SEND_DATE]
      ,[GLOBAL_AGREEMENT_FLAG]
      ,[CONSIGNED_CONSUMPTION_FLAG]
      ,[CBC_ACCOUNTING_DATE]
      ,[CONSUME_REQ_DEMAND_FLAG]
      ,[CHANGE_REQUESTED_BY]
      ,[SHIPPING_CONTROL]
      ,[CONTERMS_EXIST_FLAG]
      ,[CONTERMS_ARTICLES_UPD_DATE]
      ,[CONTERMS_DELIV_UPD_DATE]
      ,[ENCUMBRANCE_REQUIRED_FLAG]
      ,[PENDING_SIGNATURE_FLAG]
      ,[CHANGE_SUMMARY]
      ,[DOCUMENT_CREATION_METHOD]
      ,[SUBMIT_DATE]
      ,[SUPPLIER_NOTIF_METHOD]
      ,[FAX]
      ,[EMAIL_ADDRESS]
      ,[RETRO_PRICE_COMM_UPDATES_FLAG]
      ,[RETRO_PRICE_APPLY_UPDATES_FLAG]
      ,[UPDATE_SOURCING_RULES_FLAG]
      ,[AUTO_SOURCING_FLAG]
      ,[CREATED_LANGUAGE]
      ,[CPA_REFERENCE]
      ,[LOCK_OWNER_ROLE]
      ,[LOCK_OWNER_USER_ID]
      ,[SUPPLIER_AUTH_ENABLED_FLAG]
      ,[CAT_ADMIN_AUTH_ENABLED_FLAG]
      ,[STYLE_ID]
      ,[TAX_ATTRIBUTE_UPDATE_CODE]
      ,[LAST_UPDATED_PROGRAM]
      ,[ENABLE_ALL_SITES]
      ,[PAY_WHEN_PAID]
      ,[COMM_REV_NUM]
      ,[CLM_DOCUMENT_NUMBER]
      ,[OTM_STATUS_CODE]
      ,[OTM_RECOVERY_FLAG]
      ,[AME_APPROVAL_ID]
      ,[AME_TRANSACTION_TYPE]
      ,[UDA_TEMPLATE_ID]
      ,[UDA_TEMPLATE_DATE]
      ,[USER_DOCUMENT_STATUS]
      ,[DRAFT_ID]
      ,[CLM_EFFECTIVE_DATE]
      ,[CLM_VENDOR_OFFER_NUMBER]
      ,[CLM_AWARD_ADMINISTRATOR]
      ,[CLM_NO_SIGNED_COPIES_TO_RETURN]
      ,[CLM_MIN_GUARANTEE_AWARD_AMT]
      ,[CLM_MIN_GUAR_AWARD_AMT_PERCENT]
      ,[CLM_MIN_ORDER_AMOUNT]
      ,[CLM_MAX_ORDER_AMOUNT]
      ,[CLM_AMT_SYNCED_TO_AGREEMENT]
      ,[CLM_AMOUNT_RELEASED]
      ,[CLM_EXTERNAL_IDV]
      ,[CLM_SUPPLIER_NAME]
      ,[CLM_SUPPLIER_SITE_NAME]
      ,[CLM_SOURCE_DOCUMENT_ID]
      ,[CLM_ISSUING_OFFICE]
      ,[CLM_COTR_OFFICE]
      ,[CLM_COTR_CONTACT]
      ,[CLM_PRIORITY_CODE]
      ,[CLM_MOD_ISSUING_OFFICE]
      ,[CLM_STANDARD_FORM]
      ,[CLM_DOCUMENT_FORMAT]
      ,[CLM_AWARD_TYPE]
      ,[CLM_CONTRACT_OFFICER]
      ,[CLM_CLOSEOUT_STATUS]
      ,[UMBRELLA_PROGRAM_ID]
      ,[FON_REF_ID]
      ,[CLM_DEFAULT_DIST_FLAG]
      ,[CLM_EDAGEN_DATE]
      ,[CLM_CONTRACT_FINANCE_CODE]
      ,[CLM_PAYMENT_INSTR_CODE]
      ,[CLM_SPECIAL_CONTRACT_TYPE]
      ,[IGT_DOCUMENT_NUMBER]
      ,[IGT_GTNC_NUMBER]
      ,[IGT_STATUS]
      ,[AGREEMENT_TYPE]
      ,[ASSISTED_ACQUISITION_IND]
      ,[ADVANCE_PAYMENT_IND]
      ,[ENFORCE_TOTAL_AMT_IND]
      ,[TERMINATION_DAYS]
      ,[TOTAL_REMAINING_AMT]
      ,[IGT_BUSINESS_TXN_ID]
      ,[Fingerprint]
	)
		SELECT 
			  --a.<column-list>
		     a.[PO_HEADER_ID]
		    ,a.[AGENT_ID]
		    ,a.[TYPE_LOOKUP_CODE]
		    ,a.[LAST_UPDATE_DATE]
		    ,a.[LAST_UPDATED_BY]
		    ,a.[SEGMENT1]
		    ,a.[SUMMARY_FLAG]
		    ,a.[ENABLED_FLAG]
		    ,a.[SEGMENT2]
		    ,a.[SEGMENT3]
		    ,a.[SEGMENT4]
		    ,a.[SEGMENT5]
		    ,a.[START_DATE_ACTIVE]
		    ,a.[END_DATE_ACTIVE]
		    ,a.[LAST_UPDATE_LOGIN]
		    ,a.[CREATION_DATE]
		    ,a.[CREATED_BY]
		    ,a.[VENDOR_ID]
		    ,a.[VENDOR_SITE_ID]
		    ,a.[VENDOR_CONTACT_ID]
		    ,a.[SHIP_TO_LOCATION_ID]
		    ,a.[BILL_TO_LOCATION_ID]
		    ,a.[TERMS_ID]
		    ,a.[SHIP_VIA_LOOKUP_CODE]
		    ,a.[FOB_LOOKUP_CODE]
		    ,a.[FREIGHT_TERMS_LOOKUP_CODE]
		    ,a.[STATUS_LOOKUP_CODE]
		    ,a.[CURRENCY_CODE]
		    ,a.[RATE_TYPE]
		    ,a.[RATE_DATE]
		    ,a.[RATE]
		    ,a.[FROM_HEADER_ID]
		    ,a.[FROM_TYPE_LOOKUP_CODE]
		    ,a.[START_DATE]
		    ,a.[END_DATE]
		    ,a.[BLANKET_TOTAL_AMOUNT]
		    ,a.[AUTHORIZATION_STATUS]
		    ,a.[REVISION_NUM]
		    ,a.[REVISED_DATE]
		    ,a.[APPROVED_FLAG]
		    ,a.[APPROVED_DATE]
		    ,a.[AMOUNT_LIMIT]
		    ,a.[MIN_RELEASE_AMOUNT]
		    ,a.[NOTE_TO_AUTHORIZER]
		    ,a.[NOTE_TO_VENDOR]
		    ,a.[NOTE_TO_RECEIVER]
		    ,a.[PRINT_COUNT]
		    ,a.[PRINTED_DATE]
		    ,a.[VENDOR_ORDER_NUM]
		    ,a.[CONFIRMING_ORDER_FLAG]
		    ,a.[COMMENTS]
		    ,a.[REPLY_DATE]
		    ,a.[REPLY_METHOD_LOOKUP_CODE]
		    ,a.[RFQ_CLOSE_DATE]
		    ,a.[QUOTE_TYPE_LOOKUP_CODE]
		    ,a.[QUOTATION_CLASS_CODE]
		    ,a.[QUOTE_WARNING_DELAY_UNIT]
		    ,a.[QUOTE_WARNING_DELAY]
		    ,a.[QUOTE_VENDOR_QUOTE_NUMBER]
		    ,a.[ACCEPTANCE_REQUIRED_FLAG]
		    ,a.[ACCEPTANCE_DUE_DATE]
		    ,a.[CLOSED_DATE]
		    ,a.[USER_HOLD_FLAG]
		    ,a.[APPROVAL_REQUIRED_FLAG]
		    ,a.[CANCEL_FLAG]
		    ,a.[FIRM_STATUS_LOOKUP_CODE]
		    ,a.[FIRM_DATE]
		    ,a.[FROZEN_FLAG]
		    ,a.[SUPPLY_AGREEMENT_FLAG]
		    ,a.[EDI_PROCESSED_FLAG]
		    ,a.[EDI_PROCESSED_STATUS]
		    ,a.[ATTRIBUTE_CATEGORY]
		    ,a.[ATTRIBUTE1]
		    ,a.[ATTRIBUTE2]
		    ,a.[ATTRIBUTE3]
		    ,a.[ATTRIBUTE4]
		    ,a.[ATTRIBUTE5]
		    ,a.[ATTRIBUTE6]
		    ,a.[ATTRIBUTE7]
		    ,a.[ATTRIBUTE8]
		    ,a.[ATTRIBUTE9]
		    ,a.[ATTRIBUTE10]
		    ,a.[ATTRIBUTE11]
		    ,a.[ATTRIBUTE12]
		    ,a.[ATTRIBUTE13]
		    ,a.[ATTRIBUTE14]
		    ,a.[ATTRIBUTE15]
		    ,a.[CLOSED_CODE]
		    ,a.[USSGL_TRANSACTION_CODE]
		    ,a.[GOVERNMENT_CONTEXT]
		    ,a.[REQUEST_ID]
		    ,a.[PROGRAM_APPLICATION_ID]
		    ,a.[PROGRAM_ID]
		    ,a.[PROGRAM_UPDATE_DATE]
		    ,a.[ORG_ID]
		    ,a.[GLOBAL_ATTRIBUTE_CATEGORY]
		    ,a.[GLOBAL_ATTRIBUTE1]
		    ,a.[GLOBAL_ATTRIBUTE2]
		    ,a.[GLOBAL_ATTRIBUTE3]
		    ,a.[GLOBAL_ATTRIBUTE4]
		    ,a.[GLOBAL_ATTRIBUTE5]
		    ,a.[GLOBAL_ATTRIBUTE6]
		    ,a.[GLOBAL_ATTRIBUTE7]
		    ,a.[GLOBAL_ATTRIBUTE8]
		    ,a.[GLOBAL_ATTRIBUTE9]
		    ,a.[GLOBAL_ATTRIBUTE10]
		    ,a.[GLOBAL_ATTRIBUTE11]
		    ,a.[GLOBAL_ATTRIBUTE12]
		    ,a.[GLOBAL_ATTRIBUTE13]
		    ,a.[GLOBAL_ATTRIBUTE14]
		    ,a.[GLOBAL_ATTRIBUTE15]
		    ,a.[GLOBAL_ATTRIBUTE16]
		    ,a.[GLOBAL_ATTRIBUTE17]
		    ,a.[GLOBAL_ATTRIBUTE18]
		    ,a.[GLOBAL_ATTRIBUTE19]
		    ,a.[GLOBAL_ATTRIBUTE20]
		    ,a.[INTERFACE_SOURCE_CODE]
		    ,a.[REFERENCE_NUM]
		    ,a.[WF_ITEM_TYPE]
		    ,a.[WF_ITEM_KEY]
		    ,a.[MRC_RATE_TYPE]
		    ,a.[MRC_RATE_DATE]
		    ,a.[MRC_RATE]
		    ,a.[PCARD_ID]
		    ,a.[PRICE_UPDATE_TOLERANCE]
		    ,a.[PAY_ON_CODE]
		    ,a.[XML_FLAG]
		    ,a.[XML_SEND_DATE]
		    ,a.[XML_CHANGE_SEND_DATE]
		    ,a.[GLOBAL_AGREEMENT_FLAG]
		    ,a.[CONSIGNED_CONSUMPTION_FLAG]
		    ,a.[CBC_ACCOUNTING_DATE]
		    ,a.[CONSUME_REQ_DEMAND_FLAG]
		    ,a.[CHANGE_REQUESTED_BY]
		    ,a.[SHIPPING_CONTROL]
		    ,a.[CONTERMS_EXIST_FLAG]
		    ,a.[CONTERMS_ARTICLES_UPD_DATE]
		    ,a.[CONTERMS_DELIV_UPD_DATE]
		    ,a.[ENCUMBRANCE_REQUIRED_FLAG]
		    ,a.[PENDING_SIGNATURE_FLAG]
		    ,a.[CHANGE_SUMMARY]
		    ,a.[DOCUMENT_CREATION_METHOD]
		    ,a.[SUBMIT_DATE]
		    ,a.[SUPPLIER_NOTIF_METHOD]
		    ,a.[FAX]
		    ,a.[EMAIL_ADDRESS]
		    ,a.[RETRO_PRICE_COMM_UPDATES_FLAG]
		    ,a.[RETRO_PRICE_APPLY_UPDATES_FLAG]
		    ,a.[UPDATE_SOURCING_RULES_FLAG]
		    ,a.[AUTO_SOURCING_FLAG]
		    ,a.[CREATED_LANGUAGE]
		    ,a.[CPA_REFERENCE]
		    ,a.[LOCK_OWNER_ROLE]
		    ,a.[LOCK_OWNER_USER_ID]
		    ,a.[SUPPLIER_AUTH_ENABLED_FLAG]
		    ,a.[CAT_ADMIN_AUTH_ENABLED_FLAG]
		    ,a.[STYLE_ID]
		    ,a.[TAX_ATTRIBUTE_UPDATE_CODE]
		    ,a.[LAST_UPDATED_PROGRAM]
		    ,a.[ENABLE_ALL_SITES]
		    ,a.[PAY_WHEN_PAID]
		    ,a.[COMM_REV_NUM]
		    ,a.[CLM_DOCUMENT_NUMBER]
		    ,a.[OTM_STATUS_CODE]
		    ,a.[OTM_RECOVERY_FLAG]
		    ,a.[AME_APPROVAL_ID]
		    ,a.[AME_TRANSACTION_TYPE]
		    ,a.[UDA_TEMPLATE_ID]
		    ,a.[UDA_TEMPLATE_DATE]
		    ,a.[USER_DOCUMENT_STATUS]
		    ,a.[DRAFT_ID]
		    ,a.[CLM_EFFECTIVE_DATE]
		    ,a.[CLM_VENDOR_OFFER_NUMBER]
		    ,a.[CLM_AWARD_ADMINISTRATOR]
		    ,a.[CLM_NO_SIGNED_COPIES_TO_RETURN]
		    ,a.[CLM_MIN_GUARANTEE_AWARD_AMT]
		    ,a.[CLM_MIN_GUAR_AWARD_AMT_PERCENT]
		    ,a.[CLM_MIN_ORDER_AMOUNT]
		    ,a.[CLM_MAX_ORDER_AMOUNT]
		    ,a.[CLM_AMT_SYNCED_TO_AGREEMENT]
		    ,a.[CLM_AMOUNT_RELEASED]
		    ,a.[CLM_EXTERNAL_IDV]
		    ,a.[CLM_SUPPLIER_NAME]
		    ,a.[CLM_SUPPLIER_SITE_NAME]
		    ,a.[CLM_SOURCE_DOCUMENT_ID]
		    ,a.[CLM_ISSUING_OFFICE]
		    ,a.[CLM_COTR_OFFICE]
		    ,a.[CLM_COTR_CONTACT]
		    ,a.[CLM_PRIORITY_CODE]
		    ,a.[CLM_MOD_ISSUING_OFFICE]
		    ,a.[CLM_STANDARD_FORM]
		    ,a.[CLM_DOCUMENT_FORMAT]
		    ,a.[CLM_AWARD_TYPE]
		    ,a.[CLM_CONTRACT_OFFICER]
		    ,a.[CLM_CLOSEOUT_STATUS]
		    ,a.[UMBRELLA_PROGRAM_ID]
		    ,a.[FON_REF_ID]
		    ,a.[CLM_DEFAULT_DIST_FLAG]
		    ,a.[CLM_EDAGEN_DATE]
		    ,a.[CLM_CONTRACT_FINANCE_CODE]
		    ,a.[CLM_PAYMENT_INSTR_CODE]
		    ,a.[CLM_SPECIAL_CONTRACT_TYPE]
		    ,a.[IGT_DOCUMENT_NUMBER]
		    ,a.[IGT_GTNC_NUMBER]
		    ,a.[IGT_STATUS]
		    ,a.[AGREEMENT_TYPE]
		    ,a.[ASSISTED_ACQUISITION_IND]
		    ,a.[ADVANCE_PAYMENT_IND]
		    ,a.[ENFORCE_TOTAL_AMT_IND]
		    ,a.[TERMINATION_DAYS]
		    ,a.[TOTAL_REMAINING_AMT]
		    ,a.[IGT_BUSINESS_TXN_ID]
		    ,a.[Fingerprint]
		FROM (
			MERGE Oracle.PO_HEADERS_ALL b
			USING (SELECT * FROM #Headers) a
			ON a.[PO_HEADER_ID] = b.[PO_HEADER_ID] AND b.CurrentRecord = 1 --swap with business key of table
			WHEN NOT MATCHED --BY TARGET 
			THEN INSERT (
				  --<column-list>
	   [PO_HEADER_ID]
      ,[AGENT_ID]
      ,[TYPE_LOOKUP_CODE]
      ,[LAST_UPDATE_DATE]
      ,[LAST_UPDATED_BY]
      ,[SEGMENT1]
      ,[SUMMARY_FLAG]
      ,[ENABLED_FLAG]
      ,[SEGMENT2]
      ,[SEGMENT3]
      ,[SEGMENT4]
      ,[SEGMENT5]
      ,[START_DATE_ACTIVE]
      ,[END_DATE_ACTIVE]
      ,[LAST_UPDATE_LOGIN]
      ,[CREATION_DATE]
      ,[CREATED_BY]
      ,[VENDOR_ID]
      ,[VENDOR_SITE_ID]
      ,[VENDOR_CONTACT_ID]
      ,[SHIP_TO_LOCATION_ID]
      ,[BILL_TO_LOCATION_ID]
      ,[TERMS_ID]
      ,[SHIP_VIA_LOOKUP_CODE]
      ,[FOB_LOOKUP_CODE]
      ,[FREIGHT_TERMS_LOOKUP_CODE]
      ,[STATUS_LOOKUP_CODE]
      ,[CURRENCY_CODE]
      ,[RATE_TYPE]
      ,[RATE_DATE]
      ,[RATE]
      ,[FROM_HEADER_ID]
      ,[FROM_TYPE_LOOKUP_CODE]
      ,[START_DATE]
      ,[END_DATE]
      ,[BLANKET_TOTAL_AMOUNT]
      ,[AUTHORIZATION_STATUS]
      ,[REVISION_NUM]
      ,[REVISED_DATE]
      ,[APPROVED_FLAG]
      ,[APPROVED_DATE]
      ,[AMOUNT_LIMIT]
      ,[MIN_RELEASE_AMOUNT]
      ,[NOTE_TO_AUTHORIZER]
      ,[NOTE_TO_VENDOR]
      ,[NOTE_TO_RECEIVER]
      ,[PRINT_COUNT]
      ,[PRINTED_DATE]
      ,[VENDOR_ORDER_NUM]
      ,[CONFIRMING_ORDER_FLAG]
      ,[COMMENTS]
      ,[REPLY_DATE]
      ,[REPLY_METHOD_LOOKUP_CODE]
      ,[RFQ_CLOSE_DATE]
      ,[QUOTE_TYPE_LOOKUP_CODE]
      ,[QUOTATION_CLASS_CODE]
      ,[QUOTE_WARNING_DELAY_UNIT]
      ,[QUOTE_WARNING_DELAY]
      ,[QUOTE_VENDOR_QUOTE_NUMBER]
      ,[ACCEPTANCE_REQUIRED_FLAG]
      ,[ACCEPTANCE_DUE_DATE]
      ,[CLOSED_DATE]
      ,[USER_HOLD_FLAG]
      ,[APPROVAL_REQUIRED_FLAG]
      ,[CANCEL_FLAG]
      ,[FIRM_STATUS_LOOKUP_CODE]
      ,[FIRM_DATE]
      ,[FROZEN_FLAG]
      ,[SUPPLY_AGREEMENT_FLAG]
      ,[EDI_PROCESSED_FLAG]
      ,[EDI_PROCESSED_STATUS]
      ,[ATTRIBUTE_CATEGORY]
      ,[ATTRIBUTE1]
      ,[ATTRIBUTE2]
      ,[ATTRIBUTE3]
      ,[ATTRIBUTE4]
      ,[ATTRIBUTE5]
      ,[ATTRIBUTE6]
      ,[ATTRIBUTE7]
      ,[ATTRIBUTE8]
      ,[ATTRIBUTE9]
      ,[ATTRIBUTE10]
      ,[ATTRIBUTE11]
      ,[ATTRIBUTE12]
      ,[ATTRIBUTE13]
      ,[ATTRIBUTE14]
      ,[ATTRIBUTE15]
      ,[CLOSED_CODE]
      ,[USSGL_TRANSACTION_CODE]
      ,[GOVERNMENT_CONTEXT]
      ,[REQUEST_ID]
      ,[PROGRAM_APPLICATION_ID]
      ,[PROGRAM_ID]
      ,[PROGRAM_UPDATE_DATE]
      ,[ORG_ID]
      ,[GLOBAL_ATTRIBUTE_CATEGORY]
      ,[GLOBAL_ATTRIBUTE1]
      ,[GLOBAL_ATTRIBUTE2]
      ,[GLOBAL_ATTRIBUTE3]
      ,[GLOBAL_ATTRIBUTE4]
      ,[GLOBAL_ATTRIBUTE5]
      ,[GLOBAL_ATTRIBUTE6]
      ,[GLOBAL_ATTRIBUTE7]
      ,[GLOBAL_ATTRIBUTE8]
      ,[GLOBAL_ATTRIBUTE9]
      ,[GLOBAL_ATTRIBUTE10]
      ,[GLOBAL_ATTRIBUTE11]
      ,[GLOBAL_ATTRIBUTE12]
      ,[GLOBAL_ATTRIBUTE13]
      ,[GLOBAL_ATTRIBUTE14]
      ,[GLOBAL_ATTRIBUTE15]
      ,[GLOBAL_ATTRIBUTE16]
      ,[GLOBAL_ATTRIBUTE17]
      ,[GLOBAL_ATTRIBUTE18]
      ,[GLOBAL_ATTRIBUTE19]
      ,[GLOBAL_ATTRIBUTE20]
      ,[INTERFACE_SOURCE_CODE]
      ,[REFERENCE_NUM]
      ,[WF_ITEM_TYPE]
      ,[WF_ITEM_KEY]
      ,[MRC_RATE_TYPE]
      ,[MRC_RATE_DATE]
      ,[MRC_RATE]
      ,[PCARD_ID]
      ,[PRICE_UPDATE_TOLERANCE]
      ,[PAY_ON_CODE]
      ,[XML_FLAG]
      ,[XML_SEND_DATE]
      ,[XML_CHANGE_SEND_DATE]
      ,[GLOBAL_AGREEMENT_FLAG]
      ,[CONSIGNED_CONSUMPTION_FLAG]
      ,[CBC_ACCOUNTING_DATE]
      ,[CONSUME_REQ_DEMAND_FLAG]
      ,[CHANGE_REQUESTED_BY]
      ,[SHIPPING_CONTROL]
      ,[CONTERMS_EXIST_FLAG]
      ,[CONTERMS_ARTICLES_UPD_DATE]
      ,[CONTERMS_DELIV_UPD_DATE]
      ,[ENCUMBRANCE_REQUIRED_FLAG]
      ,[PENDING_SIGNATURE_FLAG]
      ,[CHANGE_SUMMARY]
      ,[DOCUMENT_CREATION_METHOD]
      ,[SUBMIT_DATE]
      ,[SUPPLIER_NOTIF_METHOD]
      ,[FAX]
      ,[EMAIL_ADDRESS]
      ,[RETRO_PRICE_COMM_UPDATES_FLAG]
      ,[RETRO_PRICE_APPLY_UPDATES_FLAG]
      ,[UPDATE_SOURCING_RULES_FLAG]
      ,[AUTO_SOURCING_FLAG]
      ,[CREATED_LANGUAGE]
      ,[CPA_REFERENCE]
      ,[LOCK_OWNER_ROLE]
      ,[LOCK_OWNER_USER_ID]
      ,[SUPPLIER_AUTH_ENABLED_FLAG]
      ,[CAT_ADMIN_AUTH_ENABLED_FLAG]
      ,[STYLE_ID]
      ,[TAX_ATTRIBUTE_UPDATE_CODE]
      ,[LAST_UPDATED_PROGRAM]
      ,[ENABLE_ALL_SITES]
      ,[PAY_WHEN_PAID]
      ,[COMM_REV_NUM]
      ,[CLM_DOCUMENT_NUMBER]
      ,[OTM_STATUS_CODE]
      ,[OTM_RECOVERY_FLAG]
      ,[AME_APPROVAL_ID]
      ,[AME_TRANSACTION_TYPE]
      ,[UDA_TEMPLATE_ID]
      ,[UDA_TEMPLATE_DATE]
      ,[USER_DOCUMENT_STATUS]
      ,[DRAFT_ID]
      ,[CLM_EFFECTIVE_DATE]
      ,[CLM_VENDOR_OFFER_NUMBER]
      ,[CLM_AWARD_ADMINISTRATOR]
      ,[CLM_NO_SIGNED_COPIES_TO_RETURN]
      ,[CLM_MIN_GUARANTEE_AWARD_AMT]
      ,[CLM_MIN_GUAR_AWARD_AMT_PERCENT]
      ,[CLM_MIN_ORDER_AMOUNT]
      ,[CLM_MAX_ORDER_AMOUNT]
      ,[CLM_AMT_SYNCED_TO_AGREEMENT]
      ,[CLM_AMOUNT_RELEASED]
      ,[CLM_EXTERNAL_IDV]
      ,[CLM_SUPPLIER_NAME]
      ,[CLM_SUPPLIER_SITE_NAME]
      ,[CLM_SOURCE_DOCUMENT_ID]
      ,[CLM_ISSUING_OFFICE]
      ,[CLM_COTR_OFFICE]
      ,[CLM_COTR_CONTACT]
      ,[CLM_PRIORITY_CODE]
      ,[CLM_MOD_ISSUING_OFFICE]
      ,[CLM_STANDARD_FORM]
      ,[CLM_DOCUMENT_FORMAT]
      ,[CLM_AWARD_TYPE]
      ,[CLM_CONTRACT_OFFICER]
      ,[CLM_CLOSEOUT_STATUS]
      ,[UMBRELLA_PROGRAM_ID]
      ,[FON_REF_ID]
      ,[CLM_DEFAULT_DIST_FLAG]
      ,[CLM_EDAGEN_DATE]
      ,[CLM_CONTRACT_FINANCE_CODE]
      ,[CLM_PAYMENT_INSTR_CODE]
      ,[CLM_SPECIAL_CONTRACT_TYPE]
      ,[IGT_DOCUMENT_NUMBER]
      ,[IGT_GTNC_NUMBER]
      ,[IGT_STATUS]
      ,[AGREEMENT_TYPE]
      ,[ASSISTED_ACQUISITION_IND]
      ,[ADVANCE_PAYMENT_IND]
      ,[ENFORCE_TOTAL_AMT_IND]
      ,[TERMINATION_DAYS]
      ,[TOTAL_REMAINING_AMT]
      ,[IGT_BUSINESS_TXN_ID]
      ,[Fingerprint]
			)
			VALUES (
				  --a.<column-list>
			       a.[PO_HEADER_ID]
			      ,a.[AGENT_ID]
			      ,a.[TYPE_LOOKUP_CODE]
			      ,a.[LAST_UPDATE_DATE]
			      ,a.[LAST_UPDATED_BY]
			      ,a.[SEGMENT1]
			      ,a.[SUMMARY_FLAG]
			      ,a.[ENABLED_FLAG]
			      ,a.[SEGMENT2]
			      ,a.[SEGMENT3]
			      ,a.[SEGMENT4]
			      ,a.[SEGMENT5]
			      ,a.[START_DATE_ACTIVE]
			      ,a.[END_DATE_ACTIVE]
			      ,a.[LAST_UPDATE_LOGIN]
			      ,a.[CREATION_DATE]
			      ,a.[CREATED_BY]
			      ,a.[VENDOR_ID]
			      ,a.[VENDOR_SITE_ID]
			      ,a.[VENDOR_CONTACT_ID]
			      ,a.[SHIP_TO_LOCATION_ID]
			      ,a.[BILL_TO_LOCATION_ID]
			      ,a.[TERMS_ID]
			      ,a.[SHIP_VIA_LOOKUP_CODE]
			      ,a.[FOB_LOOKUP_CODE]
			      ,a.[FREIGHT_TERMS_LOOKUP_CODE]
			      ,a.[STATUS_LOOKUP_CODE]
			      ,a.[CURRENCY_CODE]
			      ,a.[RATE_TYPE]
			      ,a.[RATE_DATE]
			      ,a.[RATE]
			      ,a.[FROM_HEADER_ID]
			      ,a.[FROM_TYPE_LOOKUP_CODE]
			      ,a.[START_DATE]
			      ,a.[END_DATE]
			      ,a.[BLANKET_TOTAL_AMOUNT]
			      ,a.[AUTHORIZATION_STATUS]
			      ,a.[REVISION_NUM]
			      ,a.[REVISED_DATE]
			      ,a.[APPROVED_FLAG]
			      ,a.[APPROVED_DATE]
			      ,a.[AMOUNT_LIMIT]
			      ,a.[MIN_RELEASE_AMOUNT]
			      ,a.[NOTE_TO_AUTHORIZER]
			      ,a.[NOTE_TO_VENDOR]
			      ,a.[NOTE_TO_RECEIVER]
			      ,a.[PRINT_COUNT]
			      ,a.[PRINTED_DATE]
			      ,a.[VENDOR_ORDER_NUM]
			      ,a.[CONFIRMING_ORDER_FLAG]
			      ,a.[COMMENTS]
			      ,a.[REPLY_DATE]
			      ,a.[REPLY_METHOD_LOOKUP_CODE]
			      ,a.[RFQ_CLOSE_DATE]
			      ,a.[QUOTE_TYPE_LOOKUP_CODE]
			      ,a.[QUOTATION_CLASS_CODE]
			      ,a.[QUOTE_WARNING_DELAY_UNIT]
			      ,a.[QUOTE_WARNING_DELAY]
			      ,a.[QUOTE_VENDOR_QUOTE_NUMBER]
			      ,a.[ACCEPTANCE_REQUIRED_FLAG]
			      ,a.[ACCEPTANCE_DUE_DATE]
			      ,a.[CLOSED_DATE]
			      ,a.[USER_HOLD_FLAG]
			      ,a.[APPROVAL_REQUIRED_FLAG]
			      ,a.[CANCEL_FLAG]
			      ,a.[FIRM_STATUS_LOOKUP_CODE]
			      ,a.[FIRM_DATE]
			      ,a.[FROZEN_FLAG]
			      ,a.[SUPPLY_AGREEMENT_FLAG]
			      ,a.[EDI_PROCESSED_FLAG]
			      ,a.[EDI_PROCESSED_STATUS]
			      ,a.[ATTRIBUTE_CATEGORY]
			      ,a.[ATTRIBUTE1]
			      ,a.[ATTRIBUTE2]
			      ,a.[ATTRIBUTE3]
			      ,a.[ATTRIBUTE4]
			      ,a.[ATTRIBUTE5]
			      ,a.[ATTRIBUTE6]
			      ,a.[ATTRIBUTE7]
			      ,a.[ATTRIBUTE8]
			      ,a.[ATTRIBUTE9]
			      ,a.[ATTRIBUTE10]
			      ,a.[ATTRIBUTE11]
			      ,a.[ATTRIBUTE12]
			      ,a.[ATTRIBUTE13]
			      ,a.[ATTRIBUTE14]
			      ,a.[ATTRIBUTE15]
			      ,a.[CLOSED_CODE]
			      ,a.[USSGL_TRANSACTION_CODE]
			      ,a.[GOVERNMENT_CONTEXT]
			      ,a.[REQUEST_ID]
			      ,a.[PROGRAM_APPLICATION_ID]
			      ,a.[PROGRAM_ID]
			      ,a.[PROGRAM_UPDATE_DATE]
			      ,a.[ORG_ID]
			      ,a.[GLOBAL_ATTRIBUTE_CATEGORY]
			      ,a.[GLOBAL_ATTRIBUTE1]
			      ,a.[GLOBAL_ATTRIBUTE2]
			      ,a.[GLOBAL_ATTRIBUTE3]
			      ,a.[GLOBAL_ATTRIBUTE4]
			      ,a.[GLOBAL_ATTRIBUTE5]
			      ,a.[GLOBAL_ATTRIBUTE6]
			      ,a.[GLOBAL_ATTRIBUTE7]
			      ,a.[GLOBAL_ATTRIBUTE8]
			      ,a.[GLOBAL_ATTRIBUTE9]
			      ,a.[GLOBAL_ATTRIBUTE10]
			      ,a.[GLOBAL_ATTRIBUTE11]
			      ,a.[GLOBAL_ATTRIBUTE12]
			      ,a.[GLOBAL_ATTRIBUTE13]
			      ,a.[GLOBAL_ATTRIBUTE14]
			      ,a.[GLOBAL_ATTRIBUTE15]
			      ,a.[GLOBAL_ATTRIBUTE16]
			      ,a.[GLOBAL_ATTRIBUTE17]
			      ,a.[GLOBAL_ATTRIBUTE18]
			      ,a.[GLOBAL_ATTRIBUTE19]
			      ,a.[GLOBAL_ATTRIBUTE20]
			      ,a.[INTERFACE_SOURCE_CODE]
			      ,a.[REFERENCE_NUM]
			      ,a.[WF_ITEM_TYPE]
			      ,a.[WF_ITEM_KEY]
			      ,a.[MRC_RATE_TYPE]
			      ,a.[MRC_RATE_DATE]
			      ,a.[MRC_RATE]
			      ,a.[PCARD_ID]
			      ,a.[PRICE_UPDATE_TOLERANCE]
			      ,a.[PAY_ON_CODE]
			      ,a.[XML_FLAG]
			      ,a.[XML_SEND_DATE]
			      ,a.[XML_CHANGE_SEND_DATE]
			      ,a.[GLOBAL_AGREEMENT_FLAG]
			      ,a.[CONSIGNED_CONSUMPTION_FLAG]
			      ,a.[CBC_ACCOUNTING_DATE]
			      ,a.[CONSUME_REQ_DEMAND_FLAG]
			      ,a.[CHANGE_REQUESTED_BY]
			      ,a.[SHIPPING_CONTROL]
			      ,a.[CONTERMS_EXIST_FLAG]
			      ,a.[CONTERMS_ARTICLES_UPD_DATE]
			      ,a.[CONTERMS_DELIV_UPD_DATE]
			      ,a.[ENCUMBRANCE_REQUIRED_FLAG]
			      ,a.[PENDING_SIGNATURE_FLAG]
			      ,a.[CHANGE_SUMMARY]
			      ,a.[DOCUMENT_CREATION_METHOD]
			      ,a.[SUBMIT_DATE]
			      ,a.[SUPPLIER_NOTIF_METHOD]
			      ,a.[FAX]
			      ,a.[EMAIL_ADDRESS]
			      ,a.[RETRO_PRICE_COMM_UPDATES_FLAG]
			      ,a.[RETRO_PRICE_APPLY_UPDATES_FLAG]
			      ,a.[UPDATE_SOURCING_RULES_FLAG]
			      ,a.[AUTO_SOURCING_FLAG]
			      ,a.[CREATED_LANGUAGE]
			      ,a.[CPA_REFERENCE]
			      ,a.[LOCK_OWNER_ROLE]
			      ,a.[LOCK_OWNER_USER_ID]
			      ,a.[SUPPLIER_AUTH_ENABLED_FLAG]
			      ,a.[CAT_ADMIN_AUTH_ENABLED_FLAG]
			      ,a.[STYLE_ID]
			      ,a.[TAX_ATTRIBUTE_UPDATE_CODE]
			      ,a.[LAST_UPDATED_PROGRAM]
			      ,a.[ENABLE_ALL_SITES]
			      ,a.[PAY_WHEN_PAID]
			      ,a.[COMM_REV_NUM]
			      ,a.[CLM_DOCUMENT_NUMBER]
			      ,a.[OTM_STATUS_CODE]
			      ,a.[OTM_RECOVERY_FLAG]
			      ,a.[AME_APPROVAL_ID]
			      ,a.[AME_TRANSACTION_TYPE]
			      ,a.[UDA_TEMPLATE_ID]
			      ,a.[UDA_TEMPLATE_DATE]
			      ,a.[USER_DOCUMENT_STATUS]
			      ,a.[DRAFT_ID]
			      ,a.[CLM_EFFECTIVE_DATE]
			      ,a.[CLM_VENDOR_OFFER_NUMBER]
			      ,a.[CLM_AWARD_ADMINISTRATOR]
			      ,a.[CLM_NO_SIGNED_COPIES_TO_RETURN]
			      ,a.[CLM_MIN_GUARANTEE_AWARD_AMT]
			      ,a.[CLM_MIN_GUAR_AWARD_AMT_PERCENT]
			      ,a.[CLM_MIN_ORDER_AMOUNT]
			      ,a.[CLM_MAX_ORDER_AMOUNT]
			      ,a.[CLM_AMT_SYNCED_TO_AGREEMENT]
			      ,a.[CLM_AMOUNT_RELEASED]
			      ,a.[CLM_EXTERNAL_IDV]
			      ,a.[CLM_SUPPLIER_NAME]
			      ,a.[CLM_SUPPLIER_SITE_NAME]
			      ,a.[CLM_SOURCE_DOCUMENT_ID]
			      ,a.[CLM_ISSUING_OFFICE]
			      ,a.[CLM_COTR_OFFICE]
			      ,a.[CLM_COTR_CONTACT]
			      ,a.[CLM_PRIORITY_CODE]
			      ,a.[CLM_MOD_ISSUING_OFFICE]
			      ,a.[CLM_STANDARD_FORM]
			      ,a.[CLM_DOCUMENT_FORMAT]
			      ,a.[CLM_AWARD_TYPE]
			      ,a.[CLM_CONTRACT_OFFICER]
			      ,a.[CLM_CLOSEOUT_STATUS]
			      ,a.[UMBRELLA_PROGRAM_ID]
			      ,a.[FON_REF_ID]
			      ,a.[CLM_DEFAULT_DIST_FLAG]
			      ,a.[CLM_EDAGEN_DATE]
			      ,a.[CLM_CONTRACT_FINANCE_CODE]
			      ,a.[CLM_PAYMENT_INSTR_CODE]
			      ,a.[CLM_SPECIAL_CONTRACT_TYPE]
			      ,a.[IGT_DOCUMENT_NUMBER]
			      ,a.[IGT_GTNC_NUMBER]
			      ,a.[IGT_STATUS]
			      ,a.[AGREEMENT_TYPE]
			      ,a.[ASSISTED_ACQUISITION_IND]
			      ,a.[ADVANCE_PAYMENT_IND]
			      ,a.[ENFORCE_TOTAL_AMT_IND]
			      ,a.[TERMINATION_DAYS]
			      ,a.[TOTAL_REMAINING_AMT]
			      ,a.[IGT_BUSINESS_TXN_ID]
			      ,a.[Fingerprint]
			)
			--Existing records that have changed are expired
			WHEN MATCHED AND a.Fingerprint<>b.Fingerprint
			THEN UPDATE SET b.EndDate=GETDATE()
				,b.CurrentRecord=0
			OUTPUT 
				  --a.<column-list>
				   a.[PO_HEADER_ID]
				  ,a.[AGENT_ID]
				  ,a.[TYPE_LOOKUP_CODE]
				  ,a.[LAST_UPDATE_DATE]
				  ,a.[LAST_UPDATED_BY]
				  ,a.[SEGMENT1]
				  ,a.[SUMMARY_FLAG]
				  ,a.[ENABLED_FLAG]
				  ,a.[SEGMENT2]
				  ,a.[SEGMENT3]
				  ,a.[SEGMENT4]
				  ,a.[SEGMENT5]
				  ,a.[START_DATE_ACTIVE]
				  ,a.[END_DATE_ACTIVE]
				  ,a.[LAST_UPDATE_LOGIN]
				  ,a.[CREATION_DATE]
				  ,a.[CREATED_BY]
				  ,a.[VENDOR_ID]
				  ,a.[VENDOR_SITE_ID]
				  ,a.[VENDOR_CONTACT_ID]
				  ,a.[SHIP_TO_LOCATION_ID]
				  ,a.[BILL_TO_LOCATION_ID]
				  ,a.[TERMS_ID]
				  ,a.[SHIP_VIA_LOOKUP_CODE]
				  ,a.[FOB_LOOKUP_CODE]
				  ,a.[FREIGHT_TERMS_LOOKUP_CODE]
				  ,a.[STATUS_LOOKUP_CODE]
				  ,a.[CURRENCY_CODE]
				  ,a.[RATE_TYPE]
				  ,a.[RATE_DATE]
				  ,a.[RATE]
				  ,a.[FROM_HEADER_ID]
				  ,a.[FROM_TYPE_LOOKUP_CODE]
				  ,a.[START_DATE]
				  ,a.[END_DATE]
				  ,a.[BLANKET_TOTAL_AMOUNT]
				  ,a.[AUTHORIZATION_STATUS]
				  ,a.[REVISION_NUM]
				  ,a.[REVISED_DATE]
				  ,a.[APPROVED_FLAG]
				  ,a.[APPROVED_DATE]
				  ,a.[AMOUNT_LIMIT]
				  ,a.[MIN_RELEASE_AMOUNT]
				  ,a.[NOTE_TO_AUTHORIZER]
				  ,a.[NOTE_TO_VENDOR]
				  ,a.[NOTE_TO_RECEIVER]
				  ,a.[PRINT_COUNT]
				  ,a.[PRINTED_DATE]
				  ,a.[VENDOR_ORDER_NUM]
				  ,a.[CONFIRMING_ORDER_FLAG]
				  ,a.[COMMENTS]
				  ,a.[REPLY_DATE]
				  ,a.[REPLY_METHOD_LOOKUP_CODE]
				  ,a.[RFQ_CLOSE_DATE]
				  ,a.[QUOTE_TYPE_LOOKUP_CODE]
				  ,a.[QUOTATION_CLASS_CODE]
				  ,a.[QUOTE_WARNING_DELAY_UNIT]
				  ,a.[QUOTE_WARNING_DELAY]
				  ,a.[QUOTE_VENDOR_QUOTE_NUMBER]
				  ,a.[ACCEPTANCE_REQUIRED_FLAG]
				  ,a.[ACCEPTANCE_DUE_DATE]
				  ,a.[CLOSED_DATE]
				  ,a.[USER_HOLD_FLAG]
				  ,a.[APPROVAL_REQUIRED_FLAG]
				  ,a.[CANCEL_FLAG]
				  ,a.[FIRM_STATUS_LOOKUP_CODE]
				  ,a.[FIRM_DATE]
				  ,a.[FROZEN_FLAG]
				  ,a.[SUPPLY_AGREEMENT_FLAG]
				  ,a.[EDI_PROCESSED_FLAG]
				  ,a.[EDI_PROCESSED_STATUS]
				  ,a.[ATTRIBUTE_CATEGORY]
				  ,a.[ATTRIBUTE1]
				  ,a.[ATTRIBUTE2]
				  ,a.[ATTRIBUTE3]
				  ,a.[ATTRIBUTE4]
				  ,a.[ATTRIBUTE5]
				  ,a.[ATTRIBUTE6]
				  ,a.[ATTRIBUTE7]
				  ,a.[ATTRIBUTE8]
				  ,a.[ATTRIBUTE9]
				  ,a.[ATTRIBUTE10]
				  ,a.[ATTRIBUTE11]
				  ,a.[ATTRIBUTE12]
				  ,a.[ATTRIBUTE13]
				  ,a.[ATTRIBUTE14]
				  ,a.[ATTRIBUTE15]
				  ,a.[CLOSED_CODE]
				  ,a.[USSGL_TRANSACTION_CODE]
				  ,a.[GOVERNMENT_CONTEXT]
				  ,a.[REQUEST_ID]
				  ,a.[PROGRAM_APPLICATION_ID]
				  ,a.[PROGRAM_ID]
				  ,a.[PROGRAM_UPDATE_DATE]
				  ,a.[ORG_ID]
				  ,a.[GLOBAL_ATTRIBUTE_CATEGORY]
				  ,a.[GLOBAL_ATTRIBUTE1]
				  ,a.[GLOBAL_ATTRIBUTE2]
				  ,a.[GLOBAL_ATTRIBUTE3]
				  ,a.[GLOBAL_ATTRIBUTE4]
				  ,a.[GLOBAL_ATTRIBUTE5]
				  ,a.[GLOBAL_ATTRIBUTE6]
				  ,a.[GLOBAL_ATTRIBUTE7]
				  ,a.[GLOBAL_ATTRIBUTE8]
				  ,a.[GLOBAL_ATTRIBUTE9]
				  ,a.[GLOBAL_ATTRIBUTE10]
				  ,a.[GLOBAL_ATTRIBUTE11]
				  ,a.[GLOBAL_ATTRIBUTE12]
				  ,a.[GLOBAL_ATTRIBUTE13]
				  ,a.[GLOBAL_ATTRIBUTE14]
				  ,a.[GLOBAL_ATTRIBUTE15]
				  ,a.[GLOBAL_ATTRIBUTE16]
				  ,a.[GLOBAL_ATTRIBUTE17]
				  ,a.[GLOBAL_ATTRIBUTE18]
				  ,a.[GLOBAL_ATTRIBUTE19]
				  ,a.[GLOBAL_ATTRIBUTE20]
				  ,a.[INTERFACE_SOURCE_CODE]
				  ,a.[REFERENCE_NUM]
				  ,a.[WF_ITEM_TYPE]
				  ,a.[WF_ITEM_KEY]
				  ,a.[MRC_RATE_TYPE]
				  ,a.[MRC_RATE_DATE]
				  ,a.[MRC_RATE]
				  ,a.[PCARD_ID]
				  ,a.[PRICE_UPDATE_TOLERANCE]
				  ,a.[PAY_ON_CODE]
				  ,a.[XML_FLAG]
				  ,a.[XML_SEND_DATE]
				  ,a.[XML_CHANGE_SEND_DATE]
				  ,a.[GLOBAL_AGREEMENT_FLAG]
				  ,a.[CONSIGNED_CONSUMPTION_FLAG]
				  ,a.[CBC_ACCOUNTING_DATE]
				  ,a.[CONSUME_REQ_DEMAND_FLAG]
				  ,a.[CHANGE_REQUESTED_BY]
				  ,a.[SHIPPING_CONTROL]
				  ,a.[CONTERMS_EXIST_FLAG]
				  ,a.[CONTERMS_ARTICLES_UPD_DATE]
				  ,a.[CONTERMS_DELIV_UPD_DATE]
				  ,a.[ENCUMBRANCE_REQUIRED_FLAG]
				  ,a.[PENDING_SIGNATURE_FLAG]
				  ,a.[CHANGE_SUMMARY]
				  ,a.[DOCUMENT_CREATION_METHOD]
				  ,a.[SUBMIT_DATE]
				  ,a.[SUPPLIER_NOTIF_METHOD]
				  ,a.[FAX]
				  ,a.[EMAIL_ADDRESS]
				  ,a.[RETRO_PRICE_COMM_UPDATES_FLAG]
				  ,a.[RETRO_PRICE_APPLY_UPDATES_FLAG]
				  ,a.[UPDATE_SOURCING_RULES_FLAG]
				  ,a.[AUTO_SOURCING_FLAG]
				  ,a.[CREATED_LANGUAGE]
				  ,a.[CPA_REFERENCE]
				  ,a.[LOCK_OWNER_ROLE]
				  ,a.[LOCK_OWNER_USER_ID]
				  ,a.[SUPPLIER_AUTH_ENABLED_FLAG]
				  ,a.[CAT_ADMIN_AUTH_ENABLED_FLAG]
				  ,a.[STYLE_ID]
				  ,a.[TAX_ATTRIBUTE_UPDATE_CODE]
				  ,a.[LAST_UPDATED_PROGRAM]
				  ,a.[ENABLE_ALL_SITES]
				  ,a.[PAY_WHEN_PAID]
				  ,a.[COMM_REV_NUM]
				  ,a.[CLM_DOCUMENT_NUMBER]
				  ,a.[OTM_STATUS_CODE]
				  ,a.[OTM_RECOVERY_FLAG]
				  ,a.[AME_APPROVAL_ID]
				  ,a.[AME_TRANSACTION_TYPE]
				  ,a.[UDA_TEMPLATE_ID]
				  ,a.[UDA_TEMPLATE_DATE]
				  ,a.[USER_DOCUMENT_STATUS]
				  ,a.[DRAFT_ID]
				  ,a.[CLM_EFFECTIVE_DATE]
				  ,a.[CLM_VENDOR_OFFER_NUMBER]
				  ,a.[CLM_AWARD_ADMINISTRATOR]
				  ,a.[CLM_NO_SIGNED_COPIES_TO_RETURN]
				  ,a.[CLM_MIN_GUARANTEE_AWARD_AMT]
				  ,a.[CLM_MIN_GUAR_AWARD_AMT_PERCENT]
				  ,a.[CLM_MIN_ORDER_AMOUNT]
				  ,a.[CLM_MAX_ORDER_AMOUNT]
				  ,a.[CLM_AMT_SYNCED_TO_AGREEMENT]
				  ,a.[CLM_AMOUNT_RELEASED]
				  ,a.[CLM_EXTERNAL_IDV]
				  ,a.[CLM_SUPPLIER_NAME]
				  ,a.[CLM_SUPPLIER_SITE_NAME]
				  ,a.[CLM_SOURCE_DOCUMENT_ID]
				  ,a.[CLM_ISSUING_OFFICE]
				  ,a.[CLM_COTR_OFFICE]
				  ,a.[CLM_COTR_CONTACT]
				  ,a.[CLM_PRIORITY_CODE]
				  ,a.[CLM_MOD_ISSUING_OFFICE]
				  ,a.[CLM_STANDARD_FORM]
				  ,a.[CLM_DOCUMENT_FORMAT]
				  ,a.[CLM_AWARD_TYPE]
				  ,a.[CLM_CONTRACT_OFFICER]
				  ,a.[CLM_CLOSEOUT_STATUS]
				  ,a.[UMBRELLA_PROGRAM_ID]
				  ,a.[FON_REF_ID]
				  ,a.[CLM_DEFAULT_DIST_FLAG]
				  ,a.[CLM_EDAGEN_DATE]
				  ,a.[CLM_CONTRACT_FINANCE_CODE]
				  ,a.[CLM_PAYMENT_INSTR_CODE]
				  ,a.[CLM_SPECIAL_CONTRACT_TYPE]
				  ,a.[IGT_DOCUMENT_NUMBER]
				  ,a.[IGT_GTNC_NUMBER]
				  ,a.[IGT_STATUS]
				  ,a.[AGREEMENT_TYPE]
				  ,a.[ASSISTED_ACQUISITION_IND]
				  ,a.[ADVANCE_PAYMENT_IND]
				  ,a.[ENFORCE_TOTAL_AMT_IND]
				  ,a.[TERMINATION_DAYS]
				  ,a.[TOTAL_REMAINING_AMT]
				  ,a.[IGT_BUSINESS_TXN_ID]
				  ,a.[Fingerprint]
				  ,$Action AS Action
		) a
		WHERE Action = 'Update'
		;

	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Done', GETDATE()

	DROP TABLE #Headers

END
GO
