USE [Operations]
GO
/****** Object:  StoredProcedure [Oracle].[Merge_BOM_CST_ITEM_COST_DETAILS]    Script Date: 7/10/2025 11:43:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Oracle].[Merge_BOM_CST_ITEM_COST_DETAILS] AS BEGIN

		CREATE TABLE #itemCost (
			[INVENTORY_ITEM_ID] [float] NOT NULL,
			[ORGANIZATION_ID] [float] NOT NULL,
			[COST_TYPE_ID] [float] NOT NULL,
			[LAST_UPDATE_DATE] [datetime2](7) NOT NULL,
			[LAST_UPDATED_BY] [float] NOT NULL,
			[CREATION_DATE] [datetime2](7) NOT NULL,
			[CREATED_BY] [float] NOT NULL,
			[LAST_UPDATE_LOGIN] [float] NULL,
			[OPERATION_SEQUENCE_ID] [float] NULL,
			[OPERATION_SEQ_NUM] [float] NULL,
			[DEPARTMENT_ID] [float] NULL,
			[LEVEL_TYPE] [float] NOT NULL,
			[ACTIVITY_ID] [float] NULL,
			[RESOURCE_SEQ_NUM] [float] NULL,
			[RESOURCE_ID] [float] NULL,
			[RESOURCE_RATE] [float] NULL,
			[ITEM_UNITS] [float] NULL,
			[ACTIVITY_UNITS] [float] NULL,
			[USAGE_RATE_OR_AMOUNT] [float] NOT NULL,
			[BASIS_TYPE] [float] NOT NULL,
			[BASIS_RESOURCE_ID] [float] NULL,
			[BASIS_FACTOR] [float] NOT NULL,
			[NET_YIELD_OR_SHRINKAGE_FACTOR] [float] NOT NULL,
			[ITEM_COST] [float] NOT NULL,
			[COST_ELEMENT_ID] [float] NULL,
			[ROLLUP_SOURCE_TYPE] [float] NOT NULL,
			[ACTIVITY_CONTEXT] [nvarchar](30) NULL,
			[REQUEST_ID] [float] NULL,
			[PROGRAM_APPLICATION_ID] [float] NULL,
			[PROGRAM_ID] [float] NULL,
			[PROGRAM_UPDATE_DATE] [datetime2](7) NULL,
			[ATTRIBUTE_CATEGORY] [nvarchar](30) NULL,
			[ATTRIBUTE1] [nvarchar](150) NULL,
			[ATTRIBUTE2] [nvarchar](150) NULL,
			[ATTRIBUTE3] [nvarchar](150) NULL,
			[ATTRIBUTE4] [nvarchar](150) NULL,
			[ATTRIBUTE5] [nvarchar](150) NULL,
			[ATTRIBUTE6] [nvarchar](150) NULL,
			[ATTRIBUTE7] [nvarchar](150) NULL,
			[ATTRIBUTE8] [nvarchar](150) NULL,
			[ATTRIBUTE9] [nvarchar](150) NULL,
			[ATTRIBUTE10] [nvarchar](150) NULL,
			[ATTRIBUTE11] [nvarchar](150) NULL,
			[ATTRIBUTE12] [nvarchar](150) NULL,
			[ATTRIBUTE13] [nvarchar](150) NULL,
			[ATTRIBUTE14] [nvarchar](150) NULL,
			[ATTRIBUTE15] [nvarchar](150) NULL,
			[YIELDED_COST] [float] NULL,
			[SOURCE_ORGANIZATION_ID] [numeric](15, 0) NULL,
			[VENDOR_ID] [numeric](15, 0) NULL,
			[ALLOCATION_PERCENT] [float] NULL,
			[VENDOR_SITE_ID] [numeric](15, 0) NULL,
			[SHIP_METHOD] [nvarchar](30) NULL,
			[Fingerprint] [varchar](32) NOT NULL	
		)

		INSERT INTO #itemCost 
		(
			   [INVENTORY_ITEM_ID]
			  ,[ORGANIZATION_ID]
			  ,[COST_TYPE_ID]
			  ,[LAST_UPDATE_DATE]
			  ,[LAST_UPDATED_BY]
			  ,[CREATION_DATE]
			  ,[CREATED_BY]
			  ,[LAST_UPDATE_LOGIN]
			  ,[OPERATION_SEQUENCE_ID]
			  ,[OPERATION_SEQ_NUM]
			  ,[DEPARTMENT_ID]
			  ,[LEVEL_TYPE]
			  ,[ACTIVITY_ID]
			  ,[RESOURCE_SEQ_NUM]
			  ,[RESOURCE_ID]
			  ,[RESOURCE_RATE]
			  ,[ITEM_UNITS]
			  ,[ACTIVITY_UNITS]
			  ,[USAGE_RATE_OR_AMOUNT]
			  ,[BASIS_TYPE]
			  ,[BASIS_RESOURCE_ID]
			  ,[BASIS_FACTOR]
			  ,[NET_YIELD_OR_SHRINKAGE_FACTOR]
			  ,[ITEM_COST]
			  ,[COST_ELEMENT_ID]
			  ,[ROLLUP_SOURCE_TYPE]
			  ,[ACTIVITY_CONTEXT]
			  ,[REQUEST_ID]
			  ,[PROGRAM_APPLICATION_ID]
			  ,[PROGRAM_ID]
			  ,[PROGRAM_UPDATE_DATE]
			  ,[ATTRIBUTE_CATEGORY]
			  ,[ATTRIBUTE1]
			  ,[ATTRIBUTE2]
			  ,[ATTRIBUTE3]
			  ,[ATTRIBUTE4]
			  ,[ATTRIBUTE5]
			  ,[ATTRIBUTE6]
			  ,[ATTRIBUTE7]
			  ,[ATTRIBUTE8]
			  ,[ATTRIBUTE9]
			  ,[ATTRIBUTE10]
			  ,[ATTRIBUTE11]
			  ,[ATTRIBUTE12]
			  ,[ATTRIBUTE13]
			  ,[ATTRIBUTE14]
			  ,[ATTRIBUTE15]
			  ,[YIELDED_COST]
			  ,[SOURCE_ORGANIZATION_ID]
			  ,[VENDOR_ID]
			  ,[ALLOCATION_PERCENT]
			  ,[VENDOR_SITE_ID]
			  ,[SHIP_METHOD]
			  ,[FINGERPRINT]
		)
		SELECT [INVENTORY_ITEM_ID]
			  ,[ORGANIZATION_ID]
			  ,[COST_TYPE_ID]
			  ,[LAST_UPDATE_DATE]
			  ,[LAST_UPDATED_BY]
			  ,[CREATION_DATE]
			  ,[CREATED_BY]
			  ,[LAST_UPDATE_LOGIN]
			  ,[OPERATION_SEQUENCE_ID]
			  ,[OPERATION_SEQ_NUM]
			  ,[DEPARTMENT_ID]
			  ,[LEVEL_TYPE]
			  ,[ACTIVITY_ID]
			  ,[RESOURCE_SEQ_NUM]
			  ,[RESOURCE_ID]
			  ,[RESOURCE_RATE]
			  ,[ITEM_UNITS]
			  ,[ACTIVITY_UNITS]
			  ,[USAGE_RATE_OR_AMOUNT]
			  ,[BASIS_TYPE]
			  ,[BASIS_RESOURCE_ID]
			  ,[BASIS_FACTOR]
			  ,[NET_YIELD_OR_SHRINKAGE_FACTOR]
			  ,[ITEM_COST]
			  ,[COST_ELEMENT_ID]
			  ,[ROLLUP_SOURCE_TYPE]
			  ,[ACTIVITY_CONTEXT]
			  ,[REQUEST_ID]
			  ,[PROGRAM_APPLICATION_ID]
			  ,[PROGRAM_ID]
			  ,[PROGRAM_UPDATE_DATE]
			  ,[ATTRIBUTE_CATEGORY]
			  ,[ATTRIBUTE1]
			  ,[ATTRIBUTE2]
			  ,[ATTRIBUTE3]
			  ,[ATTRIBUTE4]
			  ,[ATTRIBUTE5]
			  ,[ATTRIBUTE6]
			  ,[ATTRIBUTE7]
			  ,[ATTRIBUTE8]
			  ,[ATTRIBUTE9]
			  ,[ATTRIBUTE10]
			  ,[ATTRIBUTE11]
			  ,[ATTRIBUTE12]
			  ,[ATTRIBUTE13]
			  ,[ATTRIBUTE14]
			  ,[ATTRIBUTE15]
			  ,[YIELDED_COST]
			  ,[SOURCE_ORGANIZATION_ID]
			  ,[VENDOR_ID]
			  ,[ALLOCATION_PERCENT]
			  ,[VENDOR_SITE_ID]
			  ,[SHIP_METHOD]
			  ,'XXX' AS [FINGERPRINT]
		FROM OPENQUERY(PROD, '
			select *
			from   CST_ITEM_COST_DETAILS itcdv
			WHERE  CREATION_DATE >= SYSDATE - 5 AND 
				ORGANIZATION_ID IN (86, 87, 344)  --
		'
		)

		/*
			DECLARE @columnList VARCHAR(MAX) = dbo.getHashField ('BOM_CST_ITEM_COST_DETAILS','Oracle') SELECT @columnList
		*/
		UPDATE #itemCost
		SET Fingerprint = 
			SUBSTRING(LOWER(CONVERT(VARCHAR(32),HASHBYTES('MD5',
				--replace @columnList result here
					 CAST(ISNULL(INVENTORY_ITEM_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(ORGANIZATION_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(COST_TYPE_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(LAST_UPDATE_DATE,'') AS VARCHAR(100)) +  CAST(ISNULL(LAST_UPDATED_BY,'0') AS VARCHAR(100)) +  CAST(ISNULL(CREATION_DATE,'') AS VARCHAR(100)) +  CAST(ISNULL(CREATED_BY,'0') AS VARCHAR(100)) +  CAST(ISNULL(LAST_UPDATE_LOGIN,'0') AS VARCHAR(100)) +  CAST(ISNULL(OPERATION_SEQUENCE_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(OPERATION_SEQ_NUM,'0') AS VARCHAR(100)) +  CAST(ISNULL(DEPARTMENT_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(LEVEL_TYPE,'0') AS VARCHAR(100)) +  CAST(ISNULL(ACTIVITY_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(RESOURCE_SEQ_NUM,'0') AS VARCHAR(100)) +  CAST(ISNULL(RESOURCE_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(RESOURCE_RATE,'0') AS VARCHAR(100)) +  CAST(ISNULL(ITEM_UNITS,'0') AS VARCHAR(100)) +  CAST(ISNULL(ACTIVITY_UNITS,'0') AS VARCHAR(100)) +  CAST(ISNULL(USAGE_RATE_OR_AMOUNT,'0') AS VARCHAR(100)) +  CAST(ISNULL(BASIS_TYPE,'0') AS VARCHAR(100)) +  CAST(ISNULL(BASIS_RESOURCE_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(BASIS_FACTOR,'0') AS VARCHAR(100)) +  CAST(ISNULL(NET_YIELD_OR_SHRINKAGE_FACTOR,'0') AS VARCHAR(100)) +  CAST(ISNULL(ITEM_COST,'0') AS VARCHAR(100)) +  CAST(ISNULL(COST_ELEMENT_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(ROLLUP_SOURCE_TYPE,'0') AS VARCHAR(100)) +  CAST(ISNULL(ACTIVITY_CONTEXT,'') AS VARCHAR(30)) +  CAST(ISNULL(REQUEST_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(PROGRAM_APPLICATION_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(PROGRAM_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(PROGRAM_UPDATE_DATE,'') AS VARCHAR(100)) +  CAST(ISNULL(ATTRIBUTE_CATEGORY,'') AS VARCHAR(30)) +  CAST(ISNULL(ATTRIBUTE1,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE2,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE3,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE4,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE5,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE6,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE7,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE8,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE9,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE10,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE11,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE12,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE13,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE14,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE15,'') AS VARCHAR(150)) +  CAST(ISNULL(YIELDED_COST,'0') AS VARCHAR(100)) +  CAST(ISNULL(SOURCE_ORGANIZATION_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(VENDOR_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(ALLOCATION_PERCENT,'0') AS VARCHAR(100)) +  CAST(ISNULL(VENDOR_SITE_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(SHIP_METHOD,'') AS VARCHAR(30)) 
			),1)),3,32);


		--expire records outside the merge

		INSERT INTO Oracle.BOM_CST_ITEM_COST_DETAILS (
				   [INVENTORY_ITEM_ID]
				  ,[ORGANIZATION_ID]
				  ,[COST_TYPE_ID]
				  ,[LAST_UPDATE_DATE]
				  ,[LAST_UPDATED_BY]
				  ,[CREATION_DATE]
				  ,[CREATED_BY]
				  ,[LAST_UPDATE_LOGIN]
				  ,[OPERATION_SEQUENCE_ID]
				  ,[OPERATION_SEQ_NUM]
				  ,[DEPARTMENT_ID]
				  ,[LEVEL_TYPE]
				  ,[ACTIVITY_ID]
				  ,[RESOURCE_SEQ_NUM]
				  ,[RESOURCE_ID]
				  ,[RESOURCE_RATE]
				  ,[ITEM_UNITS]
				  ,[ACTIVITY_UNITS]
				  ,[USAGE_RATE_OR_AMOUNT]
				  ,[BASIS_TYPE]
				  ,[BASIS_RESOURCE_ID]
				  ,[BASIS_FACTOR]
				  ,[NET_YIELD_OR_SHRINKAGE_FACTOR]
				  ,[ITEM_COST]
				  ,[COST_ELEMENT_ID]
				  ,[ROLLUP_SOURCE_TYPE]
				  ,[ACTIVITY_CONTEXT]
				  ,[REQUEST_ID]
				  ,[PROGRAM_APPLICATION_ID]
				  ,[PROGRAM_ID]
				  ,[PROGRAM_UPDATE_DATE]
				  ,[ATTRIBUTE_CATEGORY]
				  ,[ATTRIBUTE1]
				  ,[ATTRIBUTE2]
				  ,[ATTRIBUTE3]
				  ,[ATTRIBUTE4]
				  ,[ATTRIBUTE5]
				  ,[ATTRIBUTE6]
				  ,[ATTRIBUTE7]
				  ,[ATTRIBUTE8]
				  ,[ATTRIBUTE9]
				  ,[ATTRIBUTE10]
				  ,[ATTRIBUTE11]
				  ,[ATTRIBUTE12]
				  ,[ATTRIBUTE13]
				  ,[ATTRIBUTE14]
				  ,[ATTRIBUTE15]
				  ,[YIELDED_COST]
				  ,[SOURCE_ORGANIZATION_ID]
				  ,[VENDOR_ID]
				  ,[ALLOCATION_PERCENT]
				  ,[VENDOR_SITE_ID]
				  ,[SHIP_METHOD]
				  ,[FINGERPRINT]
		)
			SELECT 
				   a.[INVENTORY_ITEM_ID]
				  ,a.[ORGANIZATION_ID]
				  ,a.[COST_TYPE_ID]
				  ,a.[LAST_UPDATE_DATE]
				  ,a.[LAST_UPDATED_BY]
				  ,a.[CREATION_DATE]
				  ,a.[CREATED_BY]
				  ,a.[LAST_UPDATE_LOGIN]
				  ,a.[OPERATION_SEQUENCE_ID]
				  ,a.[OPERATION_SEQ_NUM]
				  ,a.[DEPARTMENT_ID]
				  ,a.[LEVEL_TYPE]
				  ,a.[ACTIVITY_ID]
				  ,a.[RESOURCE_SEQ_NUM]
				  ,a.[RESOURCE_ID]
				  ,a.[RESOURCE_RATE]
				  ,a.[ITEM_UNITS]
				  ,a.[ACTIVITY_UNITS]
				  ,a.[USAGE_RATE_OR_AMOUNT]
				  ,a.[BASIS_TYPE]
				  ,a.[BASIS_RESOURCE_ID]
				  ,a.[BASIS_FACTOR]
				  ,a.[NET_YIELD_OR_SHRINKAGE_FACTOR]
				  ,a.[ITEM_COST]
				  ,a.[COST_ELEMENT_ID]
				  ,a.[ROLLUP_SOURCE_TYPE]
				  ,a.[ACTIVITY_CONTEXT]
				  ,a.[REQUEST_ID]
				  ,a.[PROGRAM_APPLICATION_ID]
				  ,a.[PROGRAM_ID]
				  ,a.[PROGRAM_UPDATE_DATE]
				  ,a.[ATTRIBUTE_CATEGORY]
				  ,a.[ATTRIBUTE1]
				  ,a.[ATTRIBUTE2]
				  ,a.[ATTRIBUTE3]
				  ,a.[ATTRIBUTE4]
				  ,a.[ATTRIBUTE5]
				  ,a.[ATTRIBUTE6]
				  ,a.[ATTRIBUTE7]
				  ,a.[ATTRIBUTE8]
				  ,a.[ATTRIBUTE9]
				  ,a.[ATTRIBUTE10]
				  ,a.[ATTRIBUTE11]
				  ,a.[ATTRIBUTE12]
				  ,a.[ATTRIBUTE13]
				  ,a.[ATTRIBUTE14]
				  ,a.[ATTRIBUTE15]
				  ,a.[YIELDED_COST]
				  ,a.[SOURCE_ORGANIZATION_ID]
				  ,a.[VENDOR_ID]
				  ,a.[ALLOCATION_PERCENT]
				  ,a.[VENDOR_SITE_ID]
				  ,a.[SHIP_METHOD]
				  ,a.[FINGERPRINT]
			FROM (
				MERGE Oracle.BOM_CST_ITEM_COST_DETAILS b
				USING (SELECT * FROM #itemCost) a
				ON a.Inventory_Item_ID = b.Inventory_Item_ID AND a.Organization_ID = b.Organization_ID AND a.Cost_Type_ID = b.Cost_Type_ID AND b.CurrentRecord = 1 --swap with business key of table
				WHEN NOT MATCHED --BY TARGET 
				THEN INSERT (
					   [INVENTORY_ITEM_ID]
					  ,[ORGANIZATION_ID]
					  ,[COST_TYPE_ID]
					  ,[LAST_UPDATE_DATE]
					  ,[LAST_UPDATED_BY]
					  ,[CREATION_DATE]
					  ,[CREATED_BY]
					  ,[LAST_UPDATE_LOGIN]
					  ,[OPERATION_SEQUENCE_ID]
					  ,[OPERATION_SEQ_NUM]
					  ,[DEPARTMENT_ID]
					  ,[LEVEL_TYPE]
					  ,[ACTIVITY_ID]
					  ,[RESOURCE_SEQ_NUM]
					  ,[RESOURCE_ID]
					  ,[RESOURCE_RATE]
					  ,[ITEM_UNITS]
					  ,[ACTIVITY_UNITS]
					  ,[USAGE_RATE_OR_AMOUNT]
					  ,[BASIS_TYPE]
					  ,[BASIS_RESOURCE_ID]
					  ,[BASIS_FACTOR]
					  ,[NET_YIELD_OR_SHRINKAGE_FACTOR]
					  ,[ITEM_COST]
					  ,[COST_ELEMENT_ID]
					  ,[ROLLUP_SOURCE_TYPE]
					  ,[ACTIVITY_CONTEXT]
					  ,[REQUEST_ID]
					  ,[PROGRAM_APPLICATION_ID]
					  ,[PROGRAM_ID]
					  ,[PROGRAM_UPDATE_DATE]
					  ,[ATTRIBUTE_CATEGORY]
					  ,[ATTRIBUTE1]
					  ,[ATTRIBUTE2]
					  ,[ATTRIBUTE3]
					  ,[ATTRIBUTE4]
					  ,[ATTRIBUTE5]
					  ,[ATTRIBUTE6]
					  ,[ATTRIBUTE7]
					  ,[ATTRIBUTE8]
					  ,[ATTRIBUTE9]
					  ,[ATTRIBUTE10]
					  ,[ATTRIBUTE11]
					  ,[ATTRIBUTE12]
					  ,[ATTRIBUTE13]
					  ,[ATTRIBUTE14]
					  ,[ATTRIBUTE15]
					  ,[YIELDED_COST]
					  ,[SOURCE_ORGANIZATION_ID]
					  ,[VENDOR_ID]
					  ,[ALLOCATION_PERCENT]
					  ,[VENDOR_SITE_ID]
					  ,[SHIP_METHOD]
					  ,[FINGERPRINT]
				)
				VALUES (
					   a.[INVENTORY_ITEM_ID]
					  ,a.[ORGANIZATION_ID]
					  ,a.[COST_TYPE_ID]
					  ,a.[LAST_UPDATE_DATE]
					  ,a.[LAST_UPDATED_BY]
					  ,a.[CREATION_DATE]
					  ,a.[CREATED_BY]
					  ,a.[LAST_UPDATE_LOGIN]
					  ,a.[OPERATION_SEQUENCE_ID]
					  ,a.[OPERATION_SEQ_NUM]
					  ,a.[DEPARTMENT_ID]
					  ,a.[LEVEL_TYPE]
					  ,a.[ACTIVITY_ID]
					  ,a.[RESOURCE_SEQ_NUM]
					  ,a.[RESOURCE_ID]
					  ,a.[RESOURCE_RATE]
					  ,a.[ITEM_UNITS]
					  ,a.[ACTIVITY_UNITS]
					  ,a.[USAGE_RATE_OR_AMOUNT]
					  ,a.[BASIS_TYPE]
					  ,a.[BASIS_RESOURCE_ID]
					  ,a.[BASIS_FACTOR]
					  ,a.[NET_YIELD_OR_SHRINKAGE_FACTOR]
					  ,a.[ITEM_COST]
					  ,a.[COST_ELEMENT_ID]
					  ,a.[ROLLUP_SOURCE_TYPE]
					  ,a.[ACTIVITY_CONTEXT]
					  ,a.[REQUEST_ID]
					  ,a.[PROGRAM_APPLICATION_ID]
					  ,a.[PROGRAM_ID]
					  ,a.[PROGRAM_UPDATE_DATE]
					  ,a.[ATTRIBUTE_CATEGORY]
					  ,a.[ATTRIBUTE1]
					  ,a.[ATTRIBUTE2]
					  ,a.[ATTRIBUTE3]
					  ,a.[ATTRIBUTE4]
					  ,a.[ATTRIBUTE5]
					  ,a.[ATTRIBUTE6]
					  ,a.[ATTRIBUTE7]
					  ,a.[ATTRIBUTE8]
					  ,a.[ATTRIBUTE9]
					  ,a.[ATTRIBUTE10]
					  ,a.[ATTRIBUTE11]
					  ,a.[ATTRIBUTE12]
					  ,a.[ATTRIBUTE13]
					  ,a.[ATTRIBUTE14]
					  ,a.[ATTRIBUTE15]
					  ,a.[YIELDED_COST]
					  ,a.[SOURCE_ORGANIZATION_ID]
					  ,a.[VENDOR_ID]
					  ,a.[ALLOCATION_PERCENT]
					  ,a.[VENDOR_SITE_ID]
					  ,a.[SHIP_METHOD]
					  ,a.[FINGERPRINT]
				)
				--Existing records that have changed are expired
				WHEN MATCHED AND a.Fingerprint<>b.Fingerprint
				THEN UPDATE SET b.EndDate=GETDATE()
					,b.CurrentRecord=0
				OUTPUT 
						   a.[INVENTORY_ITEM_ID]
						  ,a.[ORGANIZATION_ID]
						  ,a.[COST_TYPE_ID]
						  ,a.[LAST_UPDATE_DATE]
						  ,a.[LAST_UPDATED_BY]
						  ,a.[CREATION_DATE]
						  ,a.[CREATED_BY]
						  ,a.[LAST_UPDATE_LOGIN]
						  ,a.[OPERATION_SEQUENCE_ID]
						  ,a.[OPERATION_SEQ_NUM]
						  ,a.[DEPARTMENT_ID]
						  ,a.[LEVEL_TYPE]
						  ,a.[ACTIVITY_ID]
						  ,a.[RESOURCE_SEQ_NUM]
						  ,a.[RESOURCE_ID]
						  ,a.[RESOURCE_RATE]
						  ,a.[ITEM_UNITS]
						  ,a.[ACTIVITY_UNITS]
						  ,a.[USAGE_RATE_OR_AMOUNT]
						  ,a.[BASIS_TYPE]
						  ,a.[BASIS_RESOURCE_ID]
						  ,a.[BASIS_FACTOR]
						  ,a.[NET_YIELD_OR_SHRINKAGE_FACTOR]
						  ,a.[ITEM_COST]
						  ,a.[COST_ELEMENT_ID]
						  ,a.[ROLLUP_SOURCE_TYPE]
						  ,a.[ACTIVITY_CONTEXT]
						  ,a.[REQUEST_ID]
						  ,a.[PROGRAM_APPLICATION_ID]
						  ,a.[PROGRAM_ID]
						  ,a.[PROGRAM_UPDATE_DATE]
						  ,a.[ATTRIBUTE_CATEGORY]
						  ,a.[ATTRIBUTE1]
						  ,a.[ATTRIBUTE2]
						  ,a.[ATTRIBUTE3]
						  ,a.[ATTRIBUTE4]
						  ,a.[ATTRIBUTE5]
						  ,a.[ATTRIBUTE6]
						  ,a.[ATTRIBUTE7]
						  ,a.[ATTRIBUTE8]
						  ,a.[ATTRIBUTE9]
						  ,a.[ATTRIBUTE10]
						  ,a.[ATTRIBUTE11]
						  ,a.[ATTRIBUTE12]
						  ,a.[ATTRIBUTE13]
						  ,a.[ATTRIBUTE14]
						  ,a.[ATTRIBUTE15]
						  ,a.[YIELDED_COST]
						  ,a.[SOURCE_ORGANIZATION_ID]
						  ,a.[VENDOR_ID]
						  ,a.[ALLOCATION_PERCENT]
						  ,a.[VENDOR_SITE_ID]
						  ,a.[SHIP_METHOD]
						  ,a.[FINGERPRINT]
						  ,$Action AS Action
			) a
			WHERE Action = 'Update'
			;

		DROP TABLE #itemCost

END
GO
