USE [Operations]
GO
/****** Object:  StoredProcedure [Oracle].[Merge_OrderAdjustmentOpen]    Script Date: 7/10/2025 11:43:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Oracle].[Merge_OrderAdjustmentOpen] AS BEGIN
	BEGIN TRY 

		BEGIN TRAN

			TRUNCATE TABLE Oracle.OrderAdjustmentOpen

			INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Oracle Download', GETDATE()

			INSERT INTO Oracle.OrderAdjustmentOpen (
			 [ROW_ID]
			  ,[PRICE_ADJUSTMENT_ID]
			  ,[CREATION_DATE]
			  ,[CREATED_BY]
			  ,[LAST_UPDATE_DATE]
			  ,[LAST_UPDATED_BY]
			  ,[LAST_UPDATE_LOGIN]
			  ,[PROGRAM_APPLICATION_ID]
			  ,[PROGRAM_ID]
			  ,[PROGRAM_UPDATE_DATE]
			  ,[REQUEST_ID]
			  ,[HEADER_ID]
			  ,[DISCOUNT_ID]
			  ,[DISCOUNT_LINE_ID]
			  ,[AUTOMATIC_FLAG]
			  ,[PERCENT]
			  ,[LINE_ID]
			  ,[CONTEXT]
			  ,[ATTRIBUTE1]
			  ,[ATTRIBUTE2]
			  ,[ATTRIBUTE3]
			  ,[ATTRIBUTE4]
			  ,[ATTRIBUTE5]
			  ,[ATTRIBUTE6]
			  ,[ATTRIBUTE7]
			  ,[ATTRIBUTE8]
			  ,[ATTRIBUTE9]
			  ,[ATTRIBUTE10]
			  ,[ATTRIBUTE11]
			  ,[ATTRIBUTE12]
			  ,[ATTRIBUTE13]
			  ,[ATTRIBUTE14]
			  ,[ATTRIBUTE15]
			  ,[ORIG_SYS_DISCOUNT_REF]
			  ,[LIST_HEADER_ID]
			  ,[LIST_LINE_ID]
			  ,[LIST_LINE_TYPE_CODE]
			  ,[MODIFIER_MECHANISM_TYPE_CODE]
			  ,[MODIFIED_FROM]
			  ,[MODIFIED_TO]
			  ,[UPDATED_FLAG]
			  ,[UPDATE_ALLOWED]
			  ,[APPLIED_FLAG]
			  ,[CHANGE_REASON_CODE]
			  ,[CHANGE_REASON_TEXT]
			  ,[ADJUSTMENT_NAME]
			  ,[ADJUSTMENT_TYPE_CODE]
			  ,[OVERRIDE_ALLOWED_FLAG]
			  ,[ADJUSTMENT_TYPE_NAME]
			  ,[OPERAND]
			  ,[ARITHMETIC_OPERATOR]
			  ,[COST_ID]
			  ,[TAX_CODE]
			  ,[TAX_EXEMPT_FLAG]
			  ,[TAX_EXEMPT_NUMBER]
			  ,[TAX_EXEMPT_REASON_CODE]
			  ,[PARENT_ADJUSTMENT_ID]
			  ,[INVOICED_FLAG]
			  ,[ESTIMATED_FLAG]
			  ,[INC_IN_SALES_PERFORMANCE]
			  ,[SPLIT_ACTION_CODE]
			  ,[PRICING_PHASE_ID]
			  ,[ADJUSTED_AMOUNT]
			  ,[CHARGE_TYPE_CODE]
			  ,[CHARGE_SUBTYPE_CODE]
			  ,[LIST_LINE_NO]
			  ,[SOURCE_SYSTEM_CODE]
			  ,[BENEFIT_QTY]
			  ,[BENEFIT_UOM_CODE]
			  ,[PRINT_ON_INVOICE_FLAG]
			  ,[EXPIRATION_DATE]
			  ,[REBATE_TRANSACTION_TYPE_CODE]
			  ,[REBATE_TRANSACTION_REFERENCE]
			  ,[REBATE_PAYMENT_SYSTEM_CODE]
			  ,[REDEEMED_DATE]
			  ,[REDEEMED_FLAG]
			  ,[ACCRUAL_FLAG]
			  ,[RANGE_BREAK_QUANTITY]
			  ,[ACCRUAL_CONVERSION_RATE]
			  ,[PRICING_GROUP_SEQUENCE]
			  ,[MODIFIER_LEVEL_CODE]
			  ,[PRICE_BREAK_TYPE_CODE]
			  ,[SUBSTITUTION_ATTRIBUTE]
			  ,[PRORATION_TYPE_CODE]
			  ,[CREDIT_OR_CHARGE_FLAG]
			  ,[INCLUDE_ON_RETURNS_FLAG]
			  ,[ADJUSTMENT_DESCRIPTION]
			  ,[AC_CONTEXT]
			  ,[AC_ATTRIBUTE1]
			  ,[AC_ATTRIBUTE2]
			  ,[AC_ATTRIBUTE3]
			  ,[AC_ATTRIBUTE4]
			  ,[AC_ATTRIBUTE5]
			  ,[AC_ATTRIBUTE6]
			  ,[AC_ATTRIBUTE7]
			  ,[AC_ATTRIBUTE8]
			  ,[AC_ATTRIBUTE9]
			  ,[AC_ATTRIBUTE10]
			  ,[AC_ATTRIBUTE11]
			  ,[AC_ATTRIBUTE12]
			  ,[AC_ATTRIBUTE13]
			  ,[AC_ATTRIBUTE14]
			  ,[AC_ATTRIBUTE15]
			  ,[LOCK_CONTROL]
			  ,[OPERAND_PER_PQTY]
			  ,[ADJUSTED_AMOUNT_PER_PQTY]
			  ,[INVOICED_AMOUNT]
			  ,[RETROBILL_REQUEST_ID]
			  ,[TAX_RATE_ID]
			)
			SELECT
				   [ROW_ID]
			  ,[PRICE_ADJUSTMENT_ID]
			  ,[CREATION_DATE]
			  ,[CREATED_BY]
			  ,[LAST_UPDATE_DATE]
			  ,[LAST_UPDATED_BY]
			  ,[LAST_UPDATE_LOGIN]
			  ,[PROGRAM_APPLICATION_ID]
			  ,[PROGRAM_ID]
			  ,[PROGRAM_UPDATE_DATE]
			  ,[REQUEST_ID]
			  ,[HEADER_ID]
			  ,[DISCOUNT_ID]
			  ,[DISCOUNT_LINE_ID]
			  ,[AUTOMATIC_FLAG]
			  ,[PERCENT]
			  ,[LINE_ID]
			  ,[CONTEXT]
			  ,[ATTRIBUTE1]
			  ,[ATTRIBUTE2]
			  ,[ATTRIBUTE3]
			  ,[ATTRIBUTE4]
			  ,[ATTRIBUTE5]
			  ,[ATTRIBUTE6]
			  ,[ATTRIBUTE7]
			  ,[ATTRIBUTE8]
			  ,[ATTRIBUTE9]
			  ,[ATTRIBUTE10]
			  ,[ATTRIBUTE11]
			  ,[ATTRIBUTE12]
			  ,[ATTRIBUTE13]
			  ,[ATTRIBUTE14]
			  ,[ATTRIBUTE15]
			  ,[ORIG_SYS_DISCOUNT_REF]
			  ,[LIST_HEADER_ID]
			  ,[LIST_LINE_ID]
			  ,[LIST_LINE_TYPE_CODE]
			  ,[MODIFIER_MECHANISM_TYPE_CODE]
			  ,[MODIFIED_FROM]
			  ,[MODIFIED_TO]
			  ,[UPDATED_FLAG]
			  ,[UPDATE_ALLOWED]
			  ,[APPLIED_FLAG]
			  ,[CHANGE_REASON_CODE]
			  ,[CHANGE_REASON_TEXT]
			  ,[ADJUSTMENT_NAME]
			  ,[ADJUSTMENT_TYPE_CODE]
			  ,[OVERRIDE_ALLOWED_FLAG]
			  ,[ADJUSTMENT_TYPE_NAME]
			  ,[OPERAND]
			  ,[ARITHMETIC_OPERATOR]
			  ,[COST_ID]
			  ,[TAX_CODE]
			  ,[TAX_EXEMPT_FLAG]
			  ,[TAX_EXEMPT_NUMBER]
			  ,[TAX_EXEMPT_REASON_CODE]
			  ,[PARENT_ADJUSTMENT_ID]
			  ,[INVOICED_FLAG]
			  ,[ESTIMATED_FLAG]
			  ,[INC_IN_SALES_PERFORMANCE]
			  ,[SPLIT_ACTION_CODE]
			  ,[PRICING_PHASE_ID]
			  ,[ADJUSTED_AMOUNT]
			  ,[CHARGE_TYPE_CODE]
			  ,[CHARGE_SUBTYPE_CODE]
			  ,[LIST_LINE_NO]
			  ,[SOURCE_SYSTEM_CODE]
			  ,[BENEFIT_QTY]
			  ,[BENEFIT_UOM_CODE]
			  ,[PRINT_ON_INVOICE_FLAG]
			  ,[EXPIRATION_DATE]
			  ,[REBATE_TRANSACTION_TYPE_CODE]
			  ,[REBATE_TRANSACTION_REFERENCE]
			  ,[REBATE_PAYMENT_SYSTEM_CODE]
			  ,[REDEEMED_DATE]
			  ,[REDEEMED_FLAG]
			  ,[ACCRUAL_FLAG]
			  ,[RANGE_BREAK_QUANTITY]
			  ,[ACCRUAL_CONVERSION_RATE]
			  ,[PRICING_GROUP_SEQUENCE]
			  ,[MODIFIER_LEVEL_CODE]
			  ,[PRICE_BREAK_TYPE_CODE]
			  ,[SUBSTITUTION_ATTRIBUTE]
			  ,[PRORATION_TYPE_CODE]
			  ,[CREDIT_OR_CHARGE_FLAG]
			  ,[INCLUDE_ON_RETURNS_FLAG]
			  ,[ADJUSTMENT_DESCRIPTION]
			  ,[AC_CONTEXT]
			  ,[AC_ATTRIBUTE1]
			  ,[AC_ATTRIBUTE2]
			  ,[AC_ATTRIBUTE3]
			  ,[AC_ATTRIBUTE4]
			  ,[AC_ATTRIBUTE5]
			  ,[AC_ATTRIBUTE6]
			  ,[AC_ATTRIBUTE7]
			  ,[AC_ATTRIBUTE8]
			  ,[AC_ATTRIBUTE9]
			  ,[AC_ATTRIBUTE10]
			  ,[AC_ATTRIBUTE11]
			  ,[AC_ATTRIBUTE12]
			  ,[AC_ATTRIBUTE13]
			  ,[AC_ATTRIBUTE14]
			  ,[AC_ATTRIBUTE15]
			  ,[LOCK_CONTROL]
			  ,[OPERAND_PER_PQTY]
			  ,[ADJUSTED_AMOUNT_PER_PQTY]
			  ,[INVOICED_AMOUNT]
			  ,[RETROBILL_REQUEST_ID]
			  ,[TAX_RATE_ID]
			FROM OPENQUERY(PROD,
			'	SELECT pa.* FROM OE_PRICE_ADJUSTMENTS_V pa 
					INNER JOIN ont.oe_order_lines_all ool ON pa.LINE_ID = ool.line_id
				WHERE ool.link_to_line_id is NULL 
					AND nvl(ool.inventory_item_id,0) not in (select distinct msib.inventory_item_id from inv.mtl_system_items_b msib where msib.segment1 in (''ZFFF'',''ZFRT'',''ZHND'',''D2UINS'',''ZTAX'')) 
					AND ool.flow_status_code <> ''CLOSED''
					AND ool.FLOW_STATUS_CODE <> ''CANCELLED''		
			')

			INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Done', GETDATE()

		COMMIT TRAN
	END TRY

	BEGIN CATCH
	    DECLARE @ErrorMessage NVARCHAR(4000)
		DECLARE @ErrorSeverity INT
		DECLARE @ErrorState INT

		SELECT @ErrorMessage = ERROR_MESSAGE(), @ErrorSeverity = ERROR_SEVERITY(), @ErrorState = ERROR_STATE()

		--RAISEERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
		SELECT @ErrorMessage, @ErrorSeverity, @ErrorState
		
	END CATCH
END
GO
