USE [Operations]
GO
/****** Object:  StoredProcedure [Oracle].[Merge_INV_MTL_PARAMETERS]    Script Date: 7/10/2025 11:43:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Oracle].[Merge_INV_MTL_PARAMETERS] 
AS BEGIN

	CREATE TABLE #parameters (
		[ORGANIZATION_ID] [float] NOT NULL,
		[LAST_UPDATE_DATE] [datetime2](7) NOT NULL,
		[LAST_UPDATED_BY] [float] NOT NULL,
		[CREATION_DATE] [datetime2](7) NOT NULL,
		[CREATED_BY] [float] NOT NULL,
		[LAST_UPDATE_LOGIN] [float] NULL,
		[ORGANIZATION_CODE] [nvarchar](3) NULL,
		[MASTER_ORGANIZATION_ID] [float] NOT NULL,
		[PRIMARY_COST_METHOD] [float] NOT NULL,
		[COST_ORGANIZATION_ID] [float] NOT NULL,
		[DEFAULT_MATERIAL_COST_ID] [float] NULL,
		[CALENDAR_EXCEPTION_SET_ID] [float] NULL,
		[CALENDAR_CODE] [nvarchar](10) NULL,
		[GENERAL_LEDGER_UPDATE_CODE] [float] NOT NULL,
		[DEFAULT_ATP_RULE_ID] [float] NULL,
		[DEFAULT_PICKING_RULE_ID] [float] NULL,
		[DEFAULT_LOCATOR_ORDER_VALUE] [float] NULL,
		[DEFAULT_SUBINV_ORDER_VALUE] [float] NULL,
		[NEGATIVE_INV_RECEIPT_CODE] [float] NOT NULL,
		[STOCK_LOCATOR_CONTROL_CODE] [float] NOT NULL,
		[MATERIAL_ACCOUNT] [float] NULL,
		[MATERIAL_OVERHEAD_ACCOUNT] [float] NULL,
		[MATL_OVHD_ABSORPTION_ACCT] [float] NULL,
		[RESOURCE_ACCOUNT] [float] NULL,
		[PURCHASE_PRICE_VAR_ACCOUNT] [float] NULL,
		[AP_ACCRUAL_ACCOUNT] [float] NULL,
		[OVERHEAD_ACCOUNT] [float] NULL,
		[OUTSIDE_PROCESSING_ACCOUNT] [float] NULL,
		[INTRANSIT_INV_ACCOUNT] [float] NULL,
		[INTERORG_RECEIVABLES_ACCOUNT] [float] NULL,
		[INTERORG_PRICE_VAR_ACCOUNT] [float] NULL,
		[INTERORG_PAYABLES_ACCOUNT] [float] NULL,
		[COST_OF_SALES_ACCOUNT] [float] NULL,
		[ENCUMBRANCE_ACCOUNT] [float] NULL,
		[PROJECT_COST_ACCOUNT] [float] NULL,
		[INTERORG_TRANSFER_CR_ACCOUNT] [float] NULL,
		[MATL_INTERORG_TRANSFER_CODE] [float] NOT NULL,
		[INTERORG_TRNSFR_CHARGE_PERCENT] [float] NULL,
		[SOURCE_ORGANIZATION_ID] [float] NULL,
		[SOURCE_SUBINVENTORY] [nvarchar](10) NULL,
		[SOURCE_TYPE] [float] NULL,
		[ORG_MAX_WEIGHT] [float] NULL,
		[ORG_MAX_WEIGHT_UOM_CODE] [nvarchar](3) NULL,
		[ORG_MAX_VOLUME] [float] NULL,
		[ORG_MAX_VOLUME_UOM_CODE] [nvarchar](3) NULL,
		[SERIAL_NUMBER_TYPE] [float] NULL,
		[AUTO_SERIAL_ALPHA_PREFIX] [nvarchar](30) NULL,
		[START_AUTO_SERIAL_NUMBER] [nvarchar](30) NULL,
		[AUTO_LOT_ALPHA_PREFIX] [nvarchar](30) NULL,
		[LOT_NUMBER_UNIQUENESS] [float] NOT NULL,
		[LOT_NUMBER_GENERATION] [float] NOT NULL,
		[LOT_NUMBER_ZERO_PADDING] [float] NULL,
		[LOT_NUMBER_LENGTH] [float] NULL,
		[STARTING_REVISION] [nvarchar](3) NOT NULL,
		[ATTRIBUTE_CATEGORY] [nvarchar](30) NULL,
		[ATTRIBUTE1] [nvarchar](150) NULL,
		[ATTRIBUTE2] [nvarchar](150) NULL,
		[ATTRIBUTE3] [nvarchar](150) NULL,
		[ATTRIBUTE4] [nvarchar](150) NULL,
		[ATTRIBUTE5] [nvarchar](150) NULL,
		[ATTRIBUTE6] [nvarchar](150) NULL,
		[ATTRIBUTE7] [nvarchar](150) NULL,
		[ATTRIBUTE8] [nvarchar](150) NULL,
		[ATTRIBUTE9] [nvarchar](150) NULL,
		[ATTRIBUTE10] [nvarchar](150) NULL,
		[ATTRIBUTE11] [nvarchar](150) NULL,
		[ATTRIBUTE12] [nvarchar](150) NULL,
		[ATTRIBUTE13] [nvarchar](150) NULL,
		[ATTRIBUTE14] [nvarchar](150) NULL,
		[ATTRIBUTE15] [nvarchar](150) NULL,
		[DEFAULT_DEMAND_CLASS] [nvarchar](30) NULL,
		[ENCUMBRANCE_REVERSAL_FLAG] [float] NULL,
		[MAINTAIN_FIFO_QTY_STACK_TYPE] [float] NULL,
		[INVOICE_PRICE_VAR_ACCOUNT] [float] NULL,
		[AVERAGE_COST_VAR_ACCOUNT] [float] NULL,
		[SALES_ACCOUNT] [float] NULL,
		[EXPENSE_ACCOUNT] [float] NULL,
		[SERIAL_NUMBER_GENERATION] [float] NOT NULL,
		[REQUEST_ID] [float] NULL,
		[PROGRAM_APPLICATION_ID] [float] NULL,
		[PROGRAM_ID] [float] NULL,
		[PROGRAM_UPDATE_DATE] [datetime2](7) NULL,
		[GLOBAL_ATTRIBUTE_CATEGORY] [nvarchar](30) NULL,
		[GLOBAL_ATTRIBUTE1] [nvarchar](150) NULL,
		[GLOBAL_ATTRIBUTE2] [nvarchar](150) NULL,
		[GLOBAL_ATTRIBUTE3] [nvarchar](150) NULL,
		[GLOBAL_ATTRIBUTE4] [nvarchar](150) NULL,
		[GLOBAL_ATTRIBUTE5] [nvarchar](150) NULL,
		[GLOBAL_ATTRIBUTE6] [nvarchar](150) NULL,
		[GLOBAL_ATTRIBUTE7] [nvarchar](150) NULL,
		[GLOBAL_ATTRIBUTE8] [nvarchar](150) NULL,
		[GLOBAL_ATTRIBUTE9] [nvarchar](150) NULL,
		[GLOBAL_ATTRIBUTE10] [nvarchar](150) NULL,
		[GLOBAL_ATTRIBUTE11] [nvarchar](150) NULL,
		[GLOBAL_ATTRIBUTE12] [nvarchar](150) NULL,
		[GLOBAL_ATTRIBUTE13] [nvarchar](150) NULL,
		[GLOBAL_ATTRIBUTE14] [nvarchar](150) NULL,
		[GLOBAL_ATTRIBUTE15] [nvarchar](150) NULL,
		[GLOBAL_ATTRIBUTE16] [nvarchar](150) NULL,
		[GLOBAL_ATTRIBUTE17] [nvarchar](150) NULL,
		[GLOBAL_ATTRIBUTE18] [nvarchar](150) NULL,
		[GLOBAL_ATTRIBUTE19] [nvarchar](150) NULL,
		[GLOBAL_ATTRIBUTE20] [nvarchar](150) NULL,
		[MAT_OVHD_COST_TYPE_ID] [float] NULL,
		[PROJECT_REFERENCE_ENABLED] [float] NULL,
		[PM_COST_COLLECTION_ENABLED] [float] NULL,
		[PROJECT_CONTROL_LEVEL] [float] NULL,
		[AVG_RATES_COST_TYPE_ID] [float] NULL,
		[TXN_APPROVAL_TIMEOUT_PERIOD] [float] NULL,
		[MO_SOURCE_REQUIRED] [float] NULL,
		[MO_PICK_CONFIRM_REQUIRED] [float] NULL,
		[MO_APPROVAL_TIMEOUT_ACTION] [float] NULL,
		[BORRPAY_MATL_VAR_ACCOUNT] [float] NULL,
		[BORRPAY_MOH_VAR_ACCOUNT] [float] NULL,
		[BORRPAY_RES_VAR_ACCOUNT] [float] NULL,
		[BORRPAY_OSP_VAR_ACCOUNT] [float] NULL,
		[BORRPAY_OVH_VAR_ACCOUNT] [float] NULL,
		[PROCESS_ENABLED_FLAG] [nvarchar](1) NOT NULL,
		[PROCESS_ORGN_CODE] [nvarchar](4) NULL,
		[WSM_ENABLED_FLAG] [nvarchar](1) NOT NULL,
		[DEFAULT_COST_GROUP_ID] [float] NOT NULL,
		[LPN_PREFIX] [nvarchar](10) NULL,
		[LPN_SUFFIX] [nvarchar](10) NULL,
		[LPN_STARTING_NUMBER] [float] NULL,
		[WMS_ENABLED_FLAG] [nvarchar](1) NOT NULL,
		[PREGEN_PUTAWAY_TASKS_FLAG] [float] NULL,
		[REGENERATION_INTERVAL] [float] NULL,
		[TIMEZONE_ID] [float] NULL,
		[MAX_PICKS_BATCH] [float] NULL,
		[DEFAULT_WMS_PICKING_RULE_ID] [float] NULL,
		[DEFAULT_PUT_AWAY_RULE_ID] [float] NULL,
		[DEFAULT_TASK_ASSIGN_RULE_ID] [float] NULL,
		[DEFAULT_LABEL_COMP_RULE_ID] [float] NULL,
		[DEFAULT_CARTON_RULE_ID] [float] NULL,
		[DEFAULT_CYC_COUNT_HEADER_ID] [float] NULL,
		[CROSSDOCK_FLAG] [float] NULL,
		[CARTONIZATION_FLAG] [float] NULL,
		[COST_CUTOFF_DATE] [datetime2](7) NULL,
		[ENABLE_COSTING_BY_CATEGORY] [nvarchar](1) NULL,
		[COST_GROUP_ACCOUNTING] [float] NULL,
		[ALLOCATE_SERIAL_FLAG] [nvarchar](1) NULL,
		[DEFAULT_PICK_TASK_TYPE_ID] [float] NULL,
		[DEFAULT_CC_TASK_TYPE_ID] [float] NULL,
		[DEFAULT_PUTAWAY_TASK_TYPE_ID] [float] NULL,
		[DEFAULT_REPL_TASK_TYPE_ID] [float] NULL,
		[EAM_ENABLED_FLAG] [nvarchar](1) NULL,
		[MAINT_ORGANIZATION_ID] [float] NULL,
		[PRIORITIZE_WIP_JOBS] [float] NULL,
		[DEFAULT_CROSSDOCK_SUBINVENTORY] [nvarchar](10) NULL,
		[SKIP_TASK_WAITING_MINUTES] [float] NULL,
		[QA_SKIPPING_INSP_FLAG] [nvarchar](1) NOT NULL,
		[DEFAULT_CROSSDOCK_LOCATOR_ID] [float] NULL,
		[DEFAULT_MOXFER_TASK_TYPE_ID] [float] NULL,
		[DEFAULT_MOISSUE_TASK_TYPE_ID] [float] NULL,
		[DEFAULT_MATL_OVHD_COST_ID] [float] NULL,
		[DISTRIBUTED_ORGANIZATION_FLAG] [nvarchar](1) NULL,
		[CARRIER_MANIFESTING_FLAG] [nvarchar](1) NULL,
		[DISTRIBUTION_ACCOUNT_ID] [float] NULL,
		[DIRECT_SHIPPING_ALLOWED] [nvarchar](1) NULL,
		[DEFAULT_PICK_OP_PLAN_ID] [float] NULL,
		[MAX_CLUSTERS_ALLOWED] [float] NULL,
		[CONSIGNED_FLAG] [nvarchar](1) NULL,
		[CARTONIZE_SALES_ORDERS] [nvarchar](1) NULL,
		[CARTONIZE_MANUFACTURING] [nvarchar](1) NULL,
		[DEFER_LOGICAL_TRANSACTIONS] [float] NULL,
		[WIP_OVERPICK_ENABLED] [nvarchar](1) NULL,
		[OVPK_TRANSFER_ORDERS_ENABLED] [nvarchar](1) NULL,
		[TOTAL_LPN_LENGTH] [float] NULL,
		[UCC_128_SUFFIX_FLAG] [nvarchar](1) NULL,
		[WCS_ENABLED] [nvarchar](1) NULL,
		[ALLOW_DIFFERENT_STATUS] [float] NULL,
		[CHILD_LOT_ALPHA_PREFIX] [nvarchar](30) NULL,
		[CHILD_LOT_NUMBER_LENGTH] [float] NULL,
		[CHILD_LOT_VALIDATION_FLAG] [nvarchar](1) NULL,
		[CHILD_LOT_ZERO_PADDING_FLAG] [nvarchar](1) NULL,
		[COPY_LOT_ATTRIBUTE_FLAG] [nvarchar](1) NULL,
		[CREATE_LOT_UOM_CONVERSION] [float] NULL,
		[GENEALOGY_FORMULA_SECURITY] [nvarchar](1) NULL,
		[PARENT_CHILD_GENERATION_FLAG] [nvarchar](1) NULL,
		[RULES_OVERRIDE_LOT_RESERVATION] [nvarchar](1) NULL,
		[AUTO_DEL_ALLOC_FLAG] [nvarchar](1) NULL,
		[RFID_VERIF_PCNT_THRESHOLD] [float] NULL,
		[YARD_MANAGEMENT_ENABLED_FLAG] [nvarchar](1) NULL,
		[TRADING_PARTNER_ORG_FLAG] [nvarchar](1) NULL,
		[DEFERRED_COGS_ACCOUNT] [float] NULL,
		[DEFAULT_CROSSDOCK_CRITERIA_ID] [float] NULL,
		[ENFORCE_LOCATOR_ALIS_UNQ_FLAG] [nvarchar](1) NULL,
		[EPC_GENERATION_ENABLED_FLAG] [nvarchar](1) NULL,
		[COMPANY_PREFIX] [nvarchar](30) NULL,
		[COMPANY_PREFIX_INDEX] [nvarchar](30) NULL,
		[COMMERCIAL_GOVT_ENTITY_NUMBER] [nvarchar](30) NULL,
		[LABOR_MANAGEMENT_ENABLED_FLAG] [nvarchar](1) NULL,
		[DEFAULT_STATUS_ID] [float] NULL,
		[LCM_ENABLED_FLAG] [nvarchar](1) NULL,
		[LCM_VAR_ACCOUNT] [float] NULL,
		[OPSM_ENABLED_FLAG] [nvarchar](1) NULL,
		[ALLOCATE_LOT_FLAG] [nvarchar](1) NULL,
		[FINGERPRINT] [varchar](32) NOT NULL
	) 

	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Oracle Download', GETDATE()
	
	INSERT INTO #parameters (
		   [ORGANIZATION_ID]
		  ,[LAST_UPDATE_DATE]
		  ,[LAST_UPDATED_BY]
		  ,[CREATION_DATE]
		  ,[CREATED_BY]
		  ,[LAST_UPDATE_LOGIN]
		  ,[ORGANIZATION_CODE]
		  ,[MASTER_ORGANIZATION_ID]
		  ,[PRIMARY_COST_METHOD]
		  ,[COST_ORGANIZATION_ID]
		  ,[DEFAULT_MATERIAL_COST_ID]
		  ,[CALENDAR_EXCEPTION_SET_ID]
		  ,[CALENDAR_CODE]
		  ,[GENERAL_LEDGER_UPDATE_CODE]
		  ,[DEFAULT_ATP_RULE_ID]
		  ,[DEFAULT_PICKING_RULE_ID]
		  ,[DEFAULT_LOCATOR_ORDER_VALUE]
		  ,[DEFAULT_SUBINV_ORDER_VALUE]
		  ,[NEGATIVE_INV_RECEIPT_CODE]
		  ,[STOCK_LOCATOR_CONTROL_CODE]
		  ,[MATERIAL_ACCOUNT]
		  ,[MATERIAL_OVERHEAD_ACCOUNT]
		  ,[MATL_OVHD_ABSORPTION_ACCT]
		  ,[RESOURCE_ACCOUNT]
		  ,[PURCHASE_PRICE_VAR_ACCOUNT]
		  ,[AP_ACCRUAL_ACCOUNT]
		  ,[OVERHEAD_ACCOUNT]
		  ,[OUTSIDE_PROCESSING_ACCOUNT]
		  ,[INTRANSIT_INV_ACCOUNT]
		  ,[INTERORG_RECEIVABLES_ACCOUNT]
		  ,[INTERORG_PRICE_VAR_ACCOUNT]
		  ,[INTERORG_PAYABLES_ACCOUNT]
		  ,[COST_OF_SALES_ACCOUNT]
		  ,[ENCUMBRANCE_ACCOUNT]
		  ,[PROJECT_COST_ACCOUNT]
		  ,[INTERORG_TRANSFER_CR_ACCOUNT]
		  ,[MATL_INTERORG_TRANSFER_CODE]
		  ,[INTERORG_TRNSFR_CHARGE_PERCENT]
		  ,[SOURCE_ORGANIZATION_ID]
		  ,[SOURCE_SUBINVENTORY]
		  ,[SOURCE_TYPE]
		  ,[ORG_MAX_WEIGHT]
		  ,[ORG_MAX_WEIGHT_UOM_CODE]
		  ,[ORG_MAX_VOLUME]
		  ,[ORG_MAX_VOLUME_UOM_CODE]
		  ,[SERIAL_NUMBER_TYPE]
		  ,[AUTO_SERIAL_ALPHA_PREFIX]
		  ,[START_AUTO_SERIAL_NUMBER]
		  ,[AUTO_LOT_ALPHA_PREFIX]
		  ,[LOT_NUMBER_UNIQUENESS]
		  ,[LOT_NUMBER_GENERATION]
		  ,[LOT_NUMBER_ZERO_PADDING]
		  ,[LOT_NUMBER_LENGTH]
		  ,[STARTING_REVISION]
		  ,[ATTRIBUTE_CATEGORY]
		  ,[ATTRIBUTE1]
		  ,[ATTRIBUTE2]
		  ,[ATTRIBUTE3]
		  ,[ATTRIBUTE4]
		  ,[ATTRIBUTE5]
		  ,[ATTRIBUTE6]
		  ,[ATTRIBUTE7]
		  ,[ATTRIBUTE8]
		  ,[ATTRIBUTE9]
		  ,[ATTRIBUTE10]
		  ,[ATTRIBUTE11]
		  ,[ATTRIBUTE12]
		  ,[ATTRIBUTE13]
		  ,[ATTRIBUTE14]
		  ,[ATTRIBUTE15]
		  ,[DEFAULT_DEMAND_CLASS]
		  ,[ENCUMBRANCE_REVERSAL_FLAG]
		  ,[MAINTAIN_FIFO_QTY_STACK_TYPE]
		  ,[INVOICE_PRICE_VAR_ACCOUNT]
		  ,[AVERAGE_COST_VAR_ACCOUNT]
		  ,[SALES_ACCOUNT]
		  ,[EXPENSE_ACCOUNT]
		  ,[SERIAL_NUMBER_GENERATION]
		  ,[REQUEST_ID]
		  ,[PROGRAM_APPLICATION_ID]
		  ,[PROGRAM_ID]
		  ,[PROGRAM_UPDATE_DATE]
		  ,[GLOBAL_ATTRIBUTE_CATEGORY]
		  ,[GLOBAL_ATTRIBUTE1]
		  ,[GLOBAL_ATTRIBUTE2]
		  ,[GLOBAL_ATTRIBUTE3]
		  ,[GLOBAL_ATTRIBUTE4]
		  ,[GLOBAL_ATTRIBUTE5]
		  ,[GLOBAL_ATTRIBUTE6]
		  ,[GLOBAL_ATTRIBUTE7]
		  ,[GLOBAL_ATTRIBUTE8]
		  ,[GLOBAL_ATTRIBUTE9]
		  ,[GLOBAL_ATTRIBUTE10]
		  ,[GLOBAL_ATTRIBUTE11]
		  ,[GLOBAL_ATTRIBUTE12]
		  ,[GLOBAL_ATTRIBUTE13]
		  ,[GLOBAL_ATTRIBUTE14]
		  ,[GLOBAL_ATTRIBUTE15]
		  ,[GLOBAL_ATTRIBUTE16]
		  ,[GLOBAL_ATTRIBUTE17]
		  ,[GLOBAL_ATTRIBUTE18]
		  ,[GLOBAL_ATTRIBUTE19]
		  ,[GLOBAL_ATTRIBUTE20]
		  ,[MAT_OVHD_COST_TYPE_ID]
		  ,[PROJECT_REFERENCE_ENABLED]
		  ,[PM_COST_COLLECTION_ENABLED]
		  ,[PROJECT_CONTROL_LEVEL]
		  ,[AVG_RATES_COST_TYPE_ID]
		  ,[TXN_APPROVAL_TIMEOUT_PERIOD]
		  ,[MO_SOURCE_REQUIRED]
		  ,[MO_PICK_CONFIRM_REQUIRED]
		  ,[MO_APPROVAL_TIMEOUT_ACTION]
		  ,[BORRPAY_MATL_VAR_ACCOUNT]
		  ,[BORRPAY_MOH_VAR_ACCOUNT]
		  ,[BORRPAY_RES_VAR_ACCOUNT]
		  ,[BORRPAY_OSP_VAR_ACCOUNT]
		  ,[BORRPAY_OVH_VAR_ACCOUNT]
		  ,[PROCESS_ENABLED_FLAG]
		  ,[PROCESS_ORGN_CODE]
		  ,[WSM_ENABLED_FLAG]
		  ,[DEFAULT_COST_GROUP_ID]
		  ,[LPN_PREFIX]
		  ,[LPN_SUFFIX]
		  ,[LPN_STARTING_NUMBER]
		  ,[WMS_ENABLED_FLAG]
		  ,[PREGEN_PUTAWAY_TASKS_FLAG]
		  ,[REGENERATION_INTERVAL]
		  ,[TIMEZONE_ID]
		  ,[MAX_PICKS_BATCH]
		  ,[DEFAULT_WMS_PICKING_RULE_ID]
		  ,[DEFAULT_PUT_AWAY_RULE_ID]
		  ,[DEFAULT_TASK_ASSIGN_RULE_ID]
		  ,[DEFAULT_LABEL_COMP_RULE_ID]
		  ,[DEFAULT_CARTON_RULE_ID]
		  ,[DEFAULT_CYC_COUNT_HEADER_ID]
		  ,[CROSSDOCK_FLAG]
		  ,[CARTONIZATION_FLAG]
		  ,[COST_CUTOFF_DATE]
		  ,[ENABLE_COSTING_BY_CATEGORY]
		  ,[COST_GROUP_ACCOUNTING]
		  ,[ALLOCATE_SERIAL_FLAG]
		  ,[DEFAULT_PICK_TASK_TYPE_ID]
		  ,[DEFAULT_CC_TASK_TYPE_ID]
		  ,[DEFAULT_PUTAWAY_TASK_TYPE_ID]
		  ,[DEFAULT_REPL_TASK_TYPE_ID]
		  ,[EAM_ENABLED_FLAG]
		  ,[MAINT_ORGANIZATION_ID]
		  ,[PRIORITIZE_WIP_JOBS]
		  ,[DEFAULT_CROSSDOCK_SUBINVENTORY]
		  ,[SKIP_TASK_WAITING_MINUTES]
		  ,[QA_SKIPPING_INSP_FLAG]
		  ,[DEFAULT_CROSSDOCK_LOCATOR_ID]
		  ,[DEFAULT_MOXFER_TASK_TYPE_ID]
		  ,[DEFAULT_MOISSUE_TASK_TYPE_ID]
		  ,[DEFAULT_MATL_OVHD_COST_ID]
		  ,[DISTRIBUTED_ORGANIZATION_FLAG]
		  ,[CARRIER_MANIFESTING_FLAG]
		  ,[DISTRIBUTION_ACCOUNT_ID]
		  ,[DIRECT_SHIPPING_ALLOWED]
		  ,[DEFAULT_PICK_OP_PLAN_ID]
		  ,[MAX_CLUSTERS_ALLOWED]
		  ,[CONSIGNED_FLAG]
		  ,[CARTONIZE_SALES_ORDERS]
		  ,[CARTONIZE_MANUFACTURING]
		  ,[DEFER_LOGICAL_TRANSACTIONS]
		  ,[WIP_OVERPICK_ENABLED]
		  ,[OVPK_TRANSFER_ORDERS_ENABLED]
		  ,[TOTAL_LPN_LENGTH]
		  ,[UCC_128_SUFFIX_FLAG]
		  ,[WCS_ENABLED]
		  ,[ALLOW_DIFFERENT_STATUS]
		  ,[CHILD_LOT_ALPHA_PREFIX]
		  ,[CHILD_LOT_NUMBER_LENGTH]
		  ,[CHILD_LOT_VALIDATION_FLAG]
		  ,[CHILD_LOT_ZERO_PADDING_FLAG]
		  ,[COPY_LOT_ATTRIBUTE_FLAG]
		  ,[CREATE_LOT_UOM_CONVERSION]
		  ,[GENEALOGY_FORMULA_SECURITY]
		  ,[PARENT_CHILD_GENERATION_FLAG]
		  ,[RULES_OVERRIDE_LOT_RESERVATION]
		  ,[AUTO_DEL_ALLOC_FLAG]
		  ,[RFID_VERIF_PCNT_THRESHOLD]
		  ,[YARD_MANAGEMENT_ENABLED_FLAG]
		  ,[TRADING_PARTNER_ORG_FLAG]
		  ,[DEFERRED_COGS_ACCOUNT]
		  ,[DEFAULT_CROSSDOCK_CRITERIA_ID]
		  ,[ENFORCE_LOCATOR_ALIS_UNQ_FLAG]
		  ,[EPC_GENERATION_ENABLED_FLAG]
		  ,[COMPANY_PREFIX]
		  ,[COMPANY_PREFIX_INDEX]
		  ,[COMMERCIAL_GOVT_ENTITY_NUMBER]
		  ,[LABOR_MANAGEMENT_ENABLED_FLAG]
		  ,[DEFAULT_STATUS_ID]
		  ,[LCM_ENABLED_FLAG]
		  ,[LCM_VAR_ACCOUNT]
		  ,[OPSM_ENABLED_FLAG]
		  ,[ALLOCATE_LOT_FLAG]
		  ,[Fingerprint]
	  )
	SELECT 
		  [ORGANIZATION_ID]
		  ,[LAST_UPDATE_DATE]
		  ,[LAST_UPDATED_BY]
		  ,[CREATION_DATE]
		  ,[CREATED_BY]
		  ,[LAST_UPDATE_LOGIN]
		  ,[ORGANIZATION_CODE]
		  ,[MASTER_ORGANIZATION_ID]
		  ,[PRIMARY_COST_METHOD]
		  ,[COST_ORGANIZATION_ID]
		  ,[DEFAULT_MATERIAL_COST_ID]
		  ,[CALENDAR_EXCEPTION_SET_ID]
		  ,[CALENDAR_CODE]
		  ,[GENERAL_LEDGER_UPDATE_CODE]
		  ,[DEFAULT_ATP_RULE_ID]
		  ,[DEFAULT_PICKING_RULE_ID]
		  ,[DEFAULT_LOCATOR_ORDER_VALUE]
		  ,[DEFAULT_SUBINV_ORDER_VALUE]
		  ,[NEGATIVE_INV_RECEIPT_CODE]
		  ,[STOCK_LOCATOR_CONTROL_CODE]
		  ,[MATERIAL_ACCOUNT]
		  ,[MATERIAL_OVERHEAD_ACCOUNT]
		  ,[MATL_OVHD_ABSORPTION_ACCT]
		  ,[RESOURCE_ACCOUNT]
		  ,[PURCHASE_PRICE_VAR_ACCOUNT]
		  ,[AP_ACCRUAL_ACCOUNT]
		  ,[OVERHEAD_ACCOUNT]
		  ,[OUTSIDE_PROCESSING_ACCOUNT]
		  ,[INTRANSIT_INV_ACCOUNT]
		  ,[INTERORG_RECEIVABLES_ACCOUNT]
		  ,[INTERORG_PRICE_VAR_ACCOUNT]
		  ,[INTERORG_PAYABLES_ACCOUNT]
		  ,[COST_OF_SALES_ACCOUNT]
		  ,[ENCUMBRANCE_ACCOUNT]
		  ,[PROJECT_COST_ACCOUNT]
		  ,[INTERORG_TRANSFER_CR_ACCOUNT]
		  ,[MATL_INTERORG_TRANSFER_CODE]
		  ,[INTERORG_TRNSFR_CHARGE_PERCENT]
		  ,[SOURCE_ORGANIZATION_ID]
		  ,[SOURCE_SUBINVENTORY]
		  ,[SOURCE_TYPE]
		  ,[ORG_MAX_WEIGHT]
		  ,[ORG_MAX_WEIGHT_UOM_CODE]
		  ,[ORG_MAX_VOLUME]
		  ,[ORG_MAX_VOLUME_UOM_CODE]
		  ,[SERIAL_NUMBER_TYPE]
		  ,[AUTO_SERIAL_ALPHA_PREFIX]
		  ,[START_AUTO_SERIAL_NUMBER]
		  ,[AUTO_LOT_ALPHA_PREFIX]
		  ,[LOT_NUMBER_UNIQUENESS]
		  ,[LOT_NUMBER_GENERATION]
		  ,[LOT_NUMBER_ZERO_PADDING]
		  ,[LOT_NUMBER_LENGTH]
		  ,[STARTING_REVISION]
		  ,[ATTRIBUTE_CATEGORY]
		  ,[ATTRIBUTE1]
		  ,[ATTRIBUTE2]
		  ,[ATTRIBUTE3]
		  ,[ATTRIBUTE4]
		  ,[ATTRIBUTE5]
		  ,[ATTRIBUTE6]
		  ,[ATTRIBUTE7]
		  ,[ATTRIBUTE8]
		  ,[ATTRIBUTE9]
		  ,[ATTRIBUTE10]
		  ,[ATTRIBUTE11]
		  ,[ATTRIBUTE12]
		  ,[ATTRIBUTE13]
		  ,[ATTRIBUTE14]
		  ,[ATTRIBUTE15]
		  ,[DEFAULT_DEMAND_CLASS]
		  ,[ENCUMBRANCE_REVERSAL_FLAG]
		  ,[MAINTAIN_FIFO_QTY_STACK_TYPE]
		  ,[INVOICE_PRICE_VAR_ACCOUNT]
		  ,[AVERAGE_COST_VAR_ACCOUNT]
		  ,[SALES_ACCOUNT]
		  ,[EXPENSE_ACCOUNT]
		  ,[SERIAL_NUMBER_GENERATION]
		  ,[REQUEST_ID]
		  ,[PROGRAM_APPLICATION_ID]
		  ,[PROGRAM_ID]
		  ,[PROGRAM_UPDATE_DATE]
		  ,[GLOBAL_ATTRIBUTE_CATEGORY]
		  ,[GLOBAL_ATTRIBUTE1]
		  ,[GLOBAL_ATTRIBUTE2]
		  ,[GLOBAL_ATTRIBUTE3]
		  ,[GLOBAL_ATTRIBUTE4]
		  ,[GLOBAL_ATTRIBUTE5]
		  ,[GLOBAL_ATTRIBUTE6]
		  ,[GLOBAL_ATTRIBUTE7]
		  ,[GLOBAL_ATTRIBUTE8]
		  ,[GLOBAL_ATTRIBUTE9]
		  ,[GLOBAL_ATTRIBUTE10]
		  ,[GLOBAL_ATTRIBUTE11]
		  ,[GLOBAL_ATTRIBUTE12]
		  ,[GLOBAL_ATTRIBUTE13]
		  ,[GLOBAL_ATTRIBUTE14]
		  ,[GLOBAL_ATTRIBUTE15]
		  ,[GLOBAL_ATTRIBUTE16]
		  ,[GLOBAL_ATTRIBUTE17]
		  ,[GLOBAL_ATTRIBUTE18]
		  ,[GLOBAL_ATTRIBUTE19]
		  ,[GLOBAL_ATTRIBUTE20]
		  ,[MAT_OVHD_COST_TYPE_ID]
		  ,[PROJECT_REFERENCE_ENABLED]
		  ,[PM_COST_COLLECTION_ENABLED]
		  ,[PROJECT_CONTROL_LEVEL]
		  ,[AVG_RATES_COST_TYPE_ID]
		  ,[TXN_APPROVAL_TIMEOUT_PERIOD]
		  ,[MO_SOURCE_REQUIRED]
		  ,[MO_PICK_CONFIRM_REQUIRED]
		  ,[MO_APPROVAL_TIMEOUT_ACTION]
		  ,[BORRPAY_MATL_VAR_ACCOUNT]
		  ,[BORRPAY_MOH_VAR_ACCOUNT]
		  ,[BORRPAY_RES_VAR_ACCOUNT]
		  ,[BORRPAY_OSP_VAR_ACCOUNT]
		  ,[BORRPAY_OVH_VAR_ACCOUNT]
		  ,[PROCESS_ENABLED_FLAG]
		  ,[PROCESS_ORGN_CODE]
		  ,[WSM_ENABLED_FLAG]
		  ,[DEFAULT_COST_GROUP_ID]
		  ,[LPN_PREFIX]
		  ,[LPN_SUFFIX]
		  ,[LPN_STARTING_NUMBER]
		  ,[WMS_ENABLED_FLAG]
		  ,[PREGEN_PUTAWAY_TASKS_FLAG]
		  ,[REGENERATION_INTERVAL]
		  ,[TIMEZONE_ID]
		  ,[MAX_PICKS_BATCH]
		  ,[DEFAULT_WMS_PICKING_RULE_ID]
		  ,[DEFAULT_PUT_AWAY_RULE_ID]
		  ,[DEFAULT_TASK_ASSIGN_RULE_ID]
		  ,[DEFAULT_LABEL_COMP_RULE_ID]
		  ,[DEFAULT_CARTON_RULE_ID]
		  ,[DEFAULT_CYC_COUNT_HEADER_ID]
		  ,[CROSSDOCK_FLAG]
		  ,[CARTONIZATION_FLAG]
		  ,[COST_CUTOFF_DATE]
		  ,[ENABLE_COSTING_BY_CATEGORY]
		  ,[COST_GROUP_ACCOUNTING]
		  ,[ALLOCATE_SERIAL_FLAG]
		  ,[DEFAULT_PICK_TASK_TYPE_ID]
		  ,[DEFAULT_CC_TASK_TYPE_ID]
		  ,[DEFAULT_PUTAWAY_TASK_TYPE_ID]
		  ,[DEFAULT_REPL_TASK_TYPE_ID]
		  ,[EAM_ENABLED_FLAG]
		  ,[MAINT_ORGANIZATION_ID]
		  ,[PRIORITIZE_WIP_JOBS]
		  ,[DEFAULT_CROSSDOCK_SUBINVENTORY]
		  ,[SKIP_TASK_WAITING_MINUTES]
		  ,[QA_SKIPPING_INSP_FLAG]
		  ,[DEFAULT_CROSSDOCK_LOCATOR_ID]
		  ,[DEFAULT_MOXFER_TASK_TYPE_ID]
		  ,[DEFAULT_MOISSUE_TASK_TYPE_ID]
		  ,[DEFAULT_MATL_OVHD_COST_ID]
		  ,[DISTRIBUTED_ORGANIZATION_FLAG]
		  ,[CARRIER_MANIFESTING_FLAG]
		  ,[DISTRIBUTION_ACCOUNT_ID]
		  ,[DIRECT_SHIPPING_ALLOWED]
		  ,[DEFAULT_PICK_OP_PLAN_ID]
		  ,[MAX_CLUSTERS_ALLOWED]
		  ,[CONSIGNED_FLAG]
		  ,[CARTONIZE_SALES_ORDERS]
		  ,[CARTONIZE_MANUFACTURING]
		  ,[DEFER_LOGICAL_TRANSACTIONS]
		  ,[WIP_OVERPICK_ENABLED]
		  ,[OVPK_TRANSFER_ORDERS_ENABLED]
		  ,[TOTAL_LPN_LENGTH]
		  ,[UCC_128_SUFFIX_FLAG]
		  ,[WCS_ENABLED]
		  ,[ALLOW_DIFFERENT_STATUS]
		  ,[CHILD_LOT_ALPHA_PREFIX]
		  ,[CHILD_LOT_NUMBER_LENGTH]
		  ,[CHILD_LOT_VALIDATION_FLAG]
		  ,[CHILD_LOT_ZERO_PADDING_FLAG]
		  ,[COPY_LOT_ATTRIBUTE_FLAG]
		  ,[CREATE_LOT_UOM_CONVERSION]
		  ,[GENEALOGY_FORMULA_SECURITY]
		  ,[PARENT_CHILD_GENERATION_FLAG]
		  ,[RULES_OVERRIDE_LOT_RESERVATION]
		  ,[AUTO_DEL_ALLOC_FLAG]
		  ,[RFID_VERIF_PCNT_THRESHOLD]
		  ,[YARD_MANAGEMENT_ENABLED_FLAG]
		  ,[TRADING_PARTNER_ORG_FLAG]
		  ,[DEFERRED_COGS_ACCOUNT]
		  ,[DEFAULT_CROSSDOCK_CRITERIA_ID]
		  ,[ENFORCE_LOCATOR_ALIS_UNQ_FLAG]
		  ,[EPC_GENERATION_ENABLED_FLAG]
		  ,[COMPANY_PREFIX]
		  ,[COMPANY_PREFIX_INDEX]
		  ,[COMMERCIAL_GOVT_ENTITY_NUMBER]
		  ,[LABOR_MANAGEMENT_ENABLED_FLAG]
		  ,[DEFAULT_STATUS_ID]
		  ,[LCM_ENABLED_FLAG]
		  ,[LCM_VAR_ACCOUNT]
		  ,[OPSM_ENABLED_FLAG]
		  ,[ALLOCATE_LOT_FLAG]
		  ,'XXX' AS [Fingerprint]
	FROM OPENQUERY(PROD, 'SELECT * FROM mtl_parameters')


	/*
		DECLARE @columnList VARCHAR(MAX) = dbo.getHashField ('INV_MTL_PARAMETERS','Oracle') SELECT @columnList
	*/

	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Fingerprint', GETDATE()

	UPDATE #parameters
	SET Fingerprint = 
		SUBSTRING(LOWER(CONVERT(VARCHAR(32),HASHBYTES('MD5',
			--replace @columnList result here
				  CAST(ISNULL(ORGANIZATION_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(LAST_UPDATE_DATE,'') AS VARCHAR(100)) +  CAST(ISNULL(LAST_UPDATED_BY,'0') AS VARCHAR(100)) +  CAST(ISNULL(CREATION_DATE,'') AS VARCHAR(100)) +  CAST(ISNULL(CREATED_BY,'0') AS VARCHAR(100)) +  CAST(ISNULL(LAST_UPDATE_LOGIN,'0') AS VARCHAR(100)) +  CAST(ISNULL(ORGANIZATION_CODE,'') AS VARCHAR(3)) +  CAST(ISNULL(MASTER_ORGANIZATION_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(PRIMARY_COST_METHOD,'0') AS VARCHAR(100)) +  CAST(ISNULL(COST_ORGANIZATION_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(DEFAULT_MATERIAL_COST_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(CALENDAR_EXCEPTION_SET_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(CALENDAR_CODE,'') AS VARCHAR(10)) +  CAST(ISNULL(GENERAL_LEDGER_UPDATE_CODE,'0') AS VARCHAR(100)) +  CAST(ISNULL(DEFAULT_ATP_RULE_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(DEFAULT_PICKING_RULE_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(DEFAULT_LOCATOR_ORDER_VALUE,'0') AS VARCHAR(100)) +  CAST(ISNULL(DEFAULT_SUBINV_ORDER_VALUE,'0') AS VARCHAR(100)) +  CAST(ISNULL(NEGATIVE_INV_RECEIPT_CODE,'0') AS VARCHAR(100)) +  CAST(ISNULL(STOCK_LOCATOR_CONTROL_CODE,'0') AS VARCHAR(100)) +  CAST(ISNULL(MATERIAL_ACCOUNT,'0') AS VARCHAR(100)) +  CAST(ISNULL(MATERIAL_OVERHEAD_ACCOUNT,'0') AS VARCHAR(100)) +  CAST(ISNULL(MATL_OVHD_ABSORPTION_ACCT,'0') AS VARCHAR(100)) +  CAST(ISNULL(RESOURCE_ACCOUNT,'0') AS VARCHAR(100)) +  CAST(ISNULL(PURCHASE_PRICE_VAR_ACCOUNT,'0') AS VARCHAR(100)) +  CAST(ISNULL(AP_ACCRUAL_ACCOUNT,'0') AS VARCHAR(100)) +  CAST(ISNULL(OVERHEAD_ACCOUNT,'0') AS VARCHAR(100)) +  CAST(ISNULL(OUTSIDE_PROCESSING_ACCOUNT,'0') AS VARCHAR(100)) +  CAST(ISNULL(INTRANSIT_INV_ACCOUNT,'0') AS VARCHAR(100)) +  CAST(ISNULL(INTERORG_RECEIVABLES_ACCOUNT,'0') AS VARCHAR(100)) +  CAST(ISNULL(INTERORG_PRICE_VAR_ACCOUNT,'0') AS VARCHAR(100)) +  CAST(ISNULL(INTERORG_PAYABLES_ACCOUNT,'0') AS VARCHAR(100)) +  CAST(ISNULL(COST_OF_SALES_ACCOUNT,'0') AS VARCHAR(100)) +  CAST(ISNULL(ENCUMBRANCE_ACCOUNT,'0') AS VARCHAR(100)) +  CAST(ISNULL(PROJECT_COST_ACCOUNT,'0') AS VARCHAR(100)) +  CAST(ISNULL(INTERORG_TRANSFER_CR_ACCOUNT,'0') AS VARCHAR(100)) +  CAST(ISNULL(MATL_INTERORG_TRANSFER_CODE,'0') AS VARCHAR(100)) +  CAST(ISNULL(INTERORG_TRNSFR_CHARGE_PERCENT,'0') AS VARCHAR(100)) +  CAST(ISNULL(SOURCE_ORGANIZATION_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(SOURCE_SUBINVENTORY,'') AS VARCHAR(10)) +  CAST(ISNULL(SOURCE_TYPE,'0') AS VARCHAR(100)) +  CAST(ISNULL(ORG_MAX_WEIGHT,'0') AS VARCHAR(100)) +  CAST(ISNULL(ORG_MAX_WEIGHT_UOM_CODE,'') AS VARCHAR(3)) +  CAST(ISNULL(ORG_MAX_VOLUME,'0') AS VARCHAR(100)) +  CAST(ISNULL(ORG_MAX_VOLUME_UOM_CODE,'') AS VARCHAR(3)) +  CAST(ISNULL(SERIAL_NUMBER_TYPE,'0') AS VARCHAR(100)) +  CAST(ISNULL(AUTO_SERIAL_ALPHA_PREFIX,'') AS VARCHAR(30)) +  CAST(ISNULL(START_AUTO_SERIAL_NUMBER,'') AS VARCHAR(30)) +  CAST(ISNULL(AUTO_LOT_ALPHA_PREFIX,'') AS VARCHAR(30)) +  CAST(ISNULL(LOT_NUMBER_UNIQUENESS,'0') AS VARCHAR(100)) +  CAST(ISNULL(LOT_NUMBER_GENERATION,'0') AS VARCHAR(100)) +  CAST(ISNULL(LOT_NUMBER_ZERO_PADDING,'0') AS VARCHAR(100)) +  CAST(ISNULL(LOT_NUMBER_LENGTH,'0') AS VARCHAR(100)) +  CAST(ISNULL(STARTING_REVISION,'') AS VARCHAR(3)) +  CAST(ISNULL(ATTRIBUTE_CATEGORY,'') AS VARCHAR(30)) +  CAST(ISNULL(ATTRIBUTE1,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE2,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE3,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE4,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE5,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE6,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE7,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE8,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE9,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE10,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE11,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE12,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE13,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE14,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE15,'') AS VARCHAR(150)) +  CAST(ISNULL(DEFAULT_DEMAND_CLASS,'') AS VARCHAR(30)) +  CAST(ISNULL(ENCUMBRANCE_REVERSAL_FLAG,'0') AS VARCHAR(100)) +  CAST(ISNULL(MAINTAIN_FIFO_QTY_STACK_TYPE,'0') AS VARCHAR(100)) +  CAST(ISNULL(INVOICE_PRICE_VAR_ACCOUNT,'0') AS VARCHAR(100)) +  CAST(ISNULL(AVERAGE_COST_VAR_ACCOUNT,'0') AS VARCHAR(100)) +  CAST(ISNULL(SALES_ACCOUNT,'0') AS VARCHAR(100)) +  CAST(ISNULL(EXPENSE_ACCOUNT,'0') AS VARCHAR(100)) +  CAST(ISNULL(SERIAL_NUMBER_GENERATION,'0') AS VARCHAR(100)) +  CAST(ISNULL(REQUEST_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(PROGRAM_APPLICATION_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(PROGRAM_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(PROGRAM_UPDATE_DATE,'') AS VARCHAR(100)) +  CAST(ISNULL(GLOBAL_ATTRIBUTE_CATEGORY,'') AS VARCHAR(30)) +  CAST(ISNULL(GLOBAL_ATTRIBUTE1,'') AS VARCHAR(150)) +  CAST(ISNULL(GLOBAL_ATTRIBUTE2,'') AS VARCHAR(150)) +  CAST(ISNULL(GLOBAL_ATTRIBUTE3,'') AS VARCHAR(150)) +  CAST(ISNULL(GLOBAL_ATTRIBUTE4,'') AS VARCHAR(150)) +  CAST(ISNULL(GLOBAL_ATTRIBUTE5,'') AS VARCHAR(150)) +  CAST(ISNULL(GLOBAL_ATTRIBUTE6,'') AS VARCHAR(150)) +  CAST(ISNULL(GLOBAL_ATTRIBUTE7,'') AS VARCHAR(150)) +  CAST(ISNULL(GLOBAL_ATTRIBUTE8,'') AS VARCHAR(150)) +  CAST(ISNULL(GLOBAL_ATTRIBUTE9,'') AS VARCHAR(150)) +  CAST(ISNULL(GLOBAL_ATTRIBUTE10,'') AS VARCHAR(150)) +  CAST(ISNULL(GLOBAL_ATTRIBUTE11,'') AS VARCHAR(150)) +  CAST(ISNULL(GLOBAL_ATTRIBUTE12,'') AS VARCHAR(150)) +  CAST(ISNULL(GLOBAL_ATTRIBUTE13,'') AS VARCHAR(150)) +  CAST(ISNULL(GLOBAL_ATTRIBUTE14,'') AS VARCHAR(150)) +  CAST(ISNULL(GLOBAL_ATTRIBUTE15,'') AS VARCHAR(150)) +  CAST(ISNULL(GLOBAL_ATTRIBUTE16,'') AS VARCHAR(150)) +  CAST(ISNULL(GLOBAL_ATTRIBUTE17,'') AS VARCHAR(150)) +  CAST(ISNULL(GLOBAL_ATTRIBUTE18,'') AS VARCHAR(150)) +  CAST(ISNULL(GLOBAL_ATTRIBUTE19,'') AS VARCHAR(150)) +  CAST(ISNULL(GLOBAL_ATTRIBUTE20,'') AS VARCHAR(150)) +  CAST(ISNULL(MAT_OVHD_COST_TYPE_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(PROJECT_REFERENCE_ENABLED,'0') AS VARCHAR(100)) +  CAST(ISNULL(PM_COST_COLLECTION_ENABLED,'0') AS VARCHAR(100)) +  CAST(ISNULL(PROJECT_CONTROL_LEVEL,'0') AS VARCHAR(100)) +  CAST(ISNULL(AVG_RATES_COST_TYPE_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(TXN_APPROVAL_TIMEOUT_PERIOD,'0') AS VARCHAR(100)) +  CAST(ISNULL(MO_SOURCE_REQUIRED,'0') AS VARCHAR(100)) +  CAST(ISNULL(MO_PICK_CONFIRM_REQUIRED,'0') AS VARCHAR(100)) +  CAST(ISNULL(MO_APPROVAL_TIMEOUT_ACTION,'0') AS VARCHAR(100)) +  CAST(ISNULL(BORRPAY_MATL_VAR_ACCOUNT,'0') AS VARCHAR(100)) +  CAST(ISNULL(BORRPAY_MOH_VAR_ACCOUNT,'0') AS VARCHAR(100)) +  CAST(ISNULL(BORRPAY_RES_VAR_ACCOUNT,'0') AS VARCHAR(100)) +  CAST(ISNULL(BORRPAY_OSP_VAR_ACCOUNT,'0') AS VARCHAR(100)) +  CAST(ISNULL(BORRPAY_OVH_VAR_ACCOUNT,'0') AS VARCHAR(100)) +  CAST(ISNULL(PROCESS_ENABLED_FLAG,'') AS VARCHAR(1)) +  CAST(ISNULL(PROCESS_ORGN_CODE,'') AS VARCHAR(4)) +  CAST(ISNULL(WSM_ENABLED_FLAG,'') AS VARCHAR(1)) +  CAST(ISNULL(DEFAULT_COST_GROUP_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(LPN_PREFIX,'') AS VARCHAR(10)) +  CAST(ISNULL(LPN_SUFFIX,'') AS VARCHAR(10)) +  CAST(ISNULL(LPN_STARTING_NUMBER,'0') AS VARCHAR(100)) +  CAST(ISNULL(WMS_ENABLED_FLAG,'') AS VARCHAR(1)) +  CAST(ISNULL(PREGEN_PUTAWAY_TASKS_FLAG,'0') AS VARCHAR(100)) +  CAST(ISNULL(REGENERATION_INTERVAL,'0') AS VARCHAR(100)) +  CAST(ISNULL(TIMEZONE_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(MAX_PICKS_BATCH,'0') AS VARCHAR(100)) +  CAST(ISNULL(DEFAULT_WMS_PICKING_RULE_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(DEFAULT_PUT_AWAY_RULE_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(DEFAULT_TASK_ASSIGN_RULE_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(DEFAULT_LABEL_COMP_RULE_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(DEFAULT_CARTON_RULE_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(DEFAULT_CYC_COUNT_HEADER_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(CROSSDOCK_FLAG,'0') AS VARCHAR(100)) +  CAST(ISNULL(CARTONIZATION_FLAG,'0') AS VARCHAR(100)) +  CAST(ISNULL(COST_CUTOFF_DATE,'') AS VARCHAR(100)) +  CAST(ISNULL(ENABLE_COSTING_BY_CATEGORY,'') AS VARCHAR(1)) +  CAST(ISNULL(COST_GROUP_ACCOUNTING,'0') AS VARCHAR(100)) +  CAST(ISNULL(ALLOCATE_SERIAL_FLAG,'') AS VARCHAR(1)) +  CAST(ISNULL(DEFAULT_PICK_TASK_TYPE_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(DEFAULT_CC_TASK_TYPE_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(DEFAULT_PUTAWAY_TASK_TYPE_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(DEFAULT_REPL_TASK_TYPE_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(EAM_ENABLED_FLAG,'') AS VARCHAR(1)) +  CAST(ISNULL(MAINT_ORGANIZATION_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(PRIORITIZE_WIP_JOBS,'0') AS VARCHAR(100)) +  CAST(ISNULL(DEFAULT_CROSSDOCK_SUBINVENTORY,'') AS VARCHAR(10)) +  CAST(ISNULL(SKIP_TASK_WAITING_MINUTES,'0') AS VARCHAR(100)) +  CAST(ISNULL(QA_SKIPPING_INSP_FLAG,'') AS VARCHAR(1)) +  CAST(ISNULL(DEFAULT_CROSSDOCK_LOCATOR_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(DEFAULT_MOXFER_TASK_TYPE_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(DEFAULT_MOISSUE_TASK_TYPE_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(DEFAULT_MATL_OVHD_COST_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(DISTRIBUTED_ORGANIZATION_FLAG,'') AS VARCHAR(1)) +  CAST(ISNULL(CARRIER_MANIFESTING_FLAG,'') AS VARCHAR(1)) +  CAST(ISNULL(DISTRIBUTION_ACCOUNT_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(DIRECT_SHIPPING_ALLOWED,'') AS VARCHAR(1)) +  CAST(ISNULL(DEFAULT_PICK_OP_PLAN_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(MAX_CLUSTERS_ALLOWED,'0') AS VARCHAR(100)) +  CAST(ISNULL(CONSIGNED_FLAG,'') AS VARCHAR(1)) +  CAST(ISNULL(CARTONIZE_SALES_ORDERS,'') AS VARCHAR(1)) +  CAST(ISNULL(CARTONIZE_MANUFACTURING,'') AS VARCHAR(1)) +  CAST(ISNULL(DEFER_LOGICAL_TRANSACTIONS,'0') AS VARCHAR(100)) +  CAST(ISNULL(WIP_OVERPICK_ENABLED,'') AS VARCHAR(1)) +  CAST(ISNULL(OVPK_TRANSFER_ORDERS_ENABLED,'') AS VARCHAR(1)) +  CAST(ISNULL(TOTAL_LPN_LENGTH,'0') AS VARCHAR(100)) +  CAST(ISNULL(UCC_128_SUFFIX_FLAG,'') AS VARCHAR(1)) +  CAST(ISNULL(WCS_ENABLED,'') AS VARCHAR(1)) +  CAST(ISNULL(ALLOW_DIFFERENT_STATUS,'0') AS VARCHAR(100)) +  CAST(ISNULL(CHILD_LOT_ALPHA_PREFIX,'') AS VARCHAR(30)) +  CAST(ISNULL(CHILD_LOT_NUMBER_LENGTH,'0') AS VARCHAR(100)) +  CAST(ISNULL(CHILD_LOT_VALIDATION_FLAG,'') AS VARCHAR(1)) +  CAST(ISNULL(CHILD_LOT_ZERO_PADDING_FLAG,'') AS VARCHAR(1)) +  CAST(ISNULL(COPY_LOT_ATTRIBUTE_FLAG,'') AS VARCHAR(1)) +  CAST(ISNULL(CREATE_LOT_UOM_CONVERSION,'0') AS VARCHAR(100)) +  CAST(ISNULL(GENEALOGY_FORMULA_SECURITY,'') AS VARCHAR(1)) +  CAST(ISNULL(PARENT_CHILD_GENERATION_FLAG,'') AS VARCHAR(1)) +  CAST(ISNULL(RULES_OVERRIDE_LOT_RESERVATION,'') AS VARCHAR(1)) +  CAST(ISNULL(AUTO_DEL_ALLOC_FLAG,'') AS VARCHAR(1)) +  CAST(ISNULL(RFID_VERIF_PCNT_THRESHOLD,'0') AS VARCHAR(100)) +  CAST(ISNULL(YARD_MANAGEMENT_ENABLED_FLAG,'') AS VARCHAR(1)) +  CAST(ISNULL(TRADING_PARTNER_ORG_FLAG,'') AS VARCHAR(1)) +  CAST(ISNULL(DEFERRED_COGS_ACCOUNT,'0') AS VARCHAR(100)) +  CAST(ISNULL(DEFAULT_CROSSDOCK_CRITERIA_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(ENFORCE_LOCATOR_ALIS_UNQ_FLAG,'') AS VARCHAR(1)) +  CAST(ISNULL(EPC_GENERATION_ENABLED_FLAG,'') AS VARCHAR(1)) +  CAST(ISNULL(COMPANY_PREFIX,'') AS VARCHAR(30)) +  CAST(ISNULL(COMPANY_PREFIX_INDEX,'') AS VARCHAR(30)) +  CAST(ISNULL(COMMERCIAL_GOVT_ENTITY_NUMBER,'') AS VARCHAR(30)) +  CAST(ISNULL(LABOR_MANAGEMENT_ENABLED_FLAG,'') AS VARCHAR(1)) +  CAST(ISNULL(DEFAULT_STATUS_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(LCM_ENABLED_FLAG,'') AS VARCHAR(1)) +  CAST(ISNULL(LCM_VAR_ACCOUNT,'0') AS VARCHAR(100)) +  CAST(ISNULL(OPSM_ENABLED_FLAG,'') AS VARCHAR(1)) +  CAST(ISNULL(ALLOCATE_LOT_FLAG,'') AS VARCHAR(1)) 
		),1)),3,32);


	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Merge', GETDATE()

	INSERT INTO Oracle.INV_MTL_PARAMETERS (
		  [ORGANIZATION_ID]
		  ,[LAST_UPDATE_DATE]
		  ,[LAST_UPDATED_BY]
		  ,[CREATION_DATE]
		  ,[CREATED_BY]
		  ,[LAST_UPDATE_LOGIN]
		  ,[ORGANIZATION_CODE]
		  ,[MASTER_ORGANIZATION_ID]
		  ,[PRIMARY_COST_METHOD]
		  ,[COST_ORGANIZATION_ID]
		  ,[DEFAULT_MATERIAL_COST_ID]
		  ,[CALENDAR_EXCEPTION_SET_ID]
		  ,[CALENDAR_CODE]
		  ,[GENERAL_LEDGER_UPDATE_CODE]
		  ,[DEFAULT_ATP_RULE_ID]
		  ,[DEFAULT_PICKING_RULE_ID]
		  ,[DEFAULT_LOCATOR_ORDER_VALUE]
		  ,[DEFAULT_SUBINV_ORDER_VALUE]
		  ,[NEGATIVE_INV_RECEIPT_CODE]
		  ,[STOCK_LOCATOR_CONTROL_CODE]
		  ,[MATERIAL_ACCOUNT]
		  ,[MATERIAL_OVERHEAD_ACCOUNT]
		  ,[MATL_OVHD_ABSORPTION_ACCT]
		  ,[RESOURCE_ACCOUNT]
		  ,[PURCHASE_PRICE_VAR_ACCOUNT]
		  ,[AP_ACCRUAL_ACCOUNT]
		  ,[OVERHEAD_ACCOUNT]
		  ,[OUTSIDE_PROCESSING_ACCOUNT]
		  ,[INTRANSIT_INV_ACCOUNT]
		  ,[INTERORG_RECEIVABLES_ACCOUNT]
		  ,[INTERORG_PRICE_VAR_ACCOUNT]
		  ,[INTERORG_PAYABLES_ACCOUNT]
		  ,[COST_OF_SALES_ACCOUNT]
		  ,[ENCUMBRANCE_ACCOUNT]
		  ,[PROJECT_COST_ACCOUNT]
		  ,[INTERORG_TRANSFER_CR_ACCOUNT]
		  ,[MATL_INTERORG_TRANSFER_CODE]
		  ,[INTERORG_TRNSFR_CHARGE_PERCENT]
		  ,[SOURCE_ORGANIZATION_ID]
		  ,[SOURCE_SUBINVENTORY]
		  ,[SOURCE_TYPE]
		  ,[ORG_MAX_WEIGHT]
		  ,[ORG_MAX_WEIGHT_UOM_CODE]
		  ,[ORG_MAX_VOLUME]
		  ,[ORG_MAX_VOLUME_UOM_CODE]
		  ,[SERIAL_NUMBER_TYPE]
		  ,[AUTO_SERIAL_ALPHA_PREFIX]
		  ,[START_AUTO_SERIAL_NUMBER]
		  ,[AUTO_LOT_ALPHA_PREFIX]
		  ,[LOT_NUMBER_UNIQUENESS]
		  ,[LOT_NUMBER_GENERATION]
		  ,[LOT_NUMBER_ZERO_PADDING]
		  ,[LOT_NUMBER_LENGTH]
		  ,[STARTING_REVISION]
		  ,[ATTRIBUTE_CATEGORY]
		  ,[ATTRIBUTE1]
		  ,[ATTRIBUTE2]
		  ,[ATTRIBUTE3]
		  ,[ATTRIBUTE4]
		  ,[ATTRIBUTE5]
		  ,[ATTRIBUTE6]
		  ,[ATTRIBUTE7]
		  ,[ATTRIBUTE8]
		  ,[ATTRIBUTE9]
		  ,[ATTRIBUTE10]
		  ,[ATTRIBUTE11]
		  ,[ATTRIBUTE12]
		  ,[ATTRIBUTE13]
		  ,[ATTRIBUTE14]
		  ,[ATTRIBUTE15]
		  ,[DEFAULT_DEMAND_CLASS]
		  ,[ENCUMBRANCE_REVERSAL_FLAG]
		  ,[MAINTAIN_FIFO_QTY_STACK_TYPE]
		  ,[INVOICE_PRICE_VAR_ACCOUNT]
		  ,[AVERAGE_COST_VAR_ACCOUNT]
		  ,[SALES_ACCOUNT]
		  ,[EXPENSE_ACCOUNT]
		  ,[SERIAL_NUMBER_GENERATION]
		  ,[REQUEST_ID]
		  ,[PROGRAM_APPLICATION_ID]
		  ,[PROGRAM_ID]
		  ,[PROGRAM_UPDATE_DATE]
		  ,[GLOBAL_ATTRIBUTE_CATEGORY]
		  ,[GLOBAL_ATTRIBUTE1]
		  ,[GLOBAL_ATTRIBUTE2]
		  ,[GLOBAL_ATTRIBUTE3]
		  ,[GLOBAL_ATTRIBUTE4]
		  ,[GLOBAL_ATTRIBUTE5]
		  ,[GLOBAL_ATTRIBUTE6]
		  ,[GLOBAL_ATTRIBUTE7]
		  ,[GLOBAL_ATTRIBUTE8]
		  ,[GLOBAL_ATTRIBUTE9]
		  ,[GLOBAL_ATTRIBUTE10]
		  ,[GLOBAL_ATTRIBUTE11]
		  ,[GLOBAL_ATTRIBUTE12]
		  ,[GLOBAL_ATTRIBUTE13]
		  ,[GLOBAL_ATTRIBUTE14]
		  ,[GLOBAL_ATTRIBUTE15]
		  ,[GLOBAL_ATTRIBUTE16]
		  ,[GLOBAL_ATTRIBUTE17]
		  ,[GLOBAL_ATTRIBUTE18]
		  ,[GLOBAL_ATTRIBUTE19]
		  ,[GLOBAL_ATTRIBUTE20]
		  ,[MAT_OVHD_COST_TYPE_ID]
		  ,[PROJECT_REFERENCE_ENABLED]
		  ,[PM_COST_COLLECTION_ENABLED]
		  ,[PROJECT_CONTROL_LEVEL]
		  ,[AVG_RATES_COST_TYPE_ID]
		  ,[TXN_APPROVAL_TIMEOUT_PERIOD]
		  ,[MO_SOURCE_REQUIRED]
		  ,[MO_PICK_CONFIRM_REQUIRED]
		  ,[MO_APPROVAL_TIMEOUT_ACTION]
		  ,[BORRPAY_MATL_VAR_ACCOUNT]
		  ,[BORRPAY_MOH_VAR_ACCOUNT]
		  ,[BORRPAY_RES_VAR_ACCOUNT]
		  ,[BORRPAY_OSP_VAR_ACCOUNT]
		  ,[BORRPAY_OVH_VAR_ACCOUNT]
		  ,[PROCESS_ENABLED_FLAG]
		  ,[PROCESS_ORGN_CODE]
		  ,[WSM_ENABLED_FLAG]
		  ,[DEFAULT_COST_GROUP_ID]
		  ,[LPN_PREFIX]
		  ,[LPN_SUFFIX]
		  ,[LPN_STARTING_NUMBER]
		  ,[WMS_ENABLED_FLAG]
		  ,[PREGEN_PUTAWAY_TASKS_FLAG]
		  ,[REGENERATION_INTERVAL]
		  ,[TIMEZONE_ID]
		  ,[MAX_PICKS_BATCH]
		  ,[DEFAULT_WMS_PICKING_RULE_ID]
		  ,[DEFAULT_PUT_AWAY_RULE_ID]
		  ,[DEFAULT_TASK_ASSIGN_RULE_ID]
		  ,[DEFAULT_LABEL_COMP_RULE_ID]
		  ,[DEFAULT_CARTON_RULE_ID]
		  ,[DEFAULT_CYC_COUNT_HEADER_ID]
		  ,[CROSSDOCK_FLAG]
		  ,[CARTONIZATION_FLAG]
		  ,[COST_CUTOFF_DATE]
		  ,[ENABLE_COSTING_BY_CATEGORY]
		  ,[COST_GROUP_ACCOUNTING]
		  ,[ALLOCATE_SERIAL_FLAG]
		  ,[DEFAULT_PICK_TASK_TYPE_ID]
		  ,[DEFAULT_CC_TASK_TYPE_ID]
		  ,[DEFAULT_PUTAWAY_TASK_TYPE_ID]
		  ,[DEFAULT_REPL_TASK_TYPE_ID]
		  ,[EAM_ENABLED_FLAG]
		  ,[MAINT_ORGANIZATION_ID]
		  ,[PRIORITIZE_WIP_JOBS]
		  ,[DEFAULT_CROSSDOCK_SUBINVENTORY]
		  ,[SKIP_TASK_WAITING_MINUTES]
		  ,[QA_SKIPPING_INSP_FLAG]
		  ,[DEFAULT_CROSSDOCK_LOCATOR_ID]
		  ,[DEFAULT_MOXFER_TASK_TYPE_ID]
		  ,[DEFAULT_MOISSUE_TASK_TYPE_ID]
		  ,[DEFAULT_MATL_OVHD_COST_ID]
		  ,[DISTRIBUTED_ORGANIZATION_FLAG]
		  ,[CARRIER_MANIFESTING_FLAG]
		  ,[DISTRIBUTION_ACCOUNT_ID]
		  ,[DIRECT_SHIPPING_ALLOWED]
		  ,[DEFAULT_PICK_OP_PLAN_ID]
		  ,[MAX_CLUSTERS_ALLOWED]
		  ,[CONSIGNED_FLAG]
		  ,[CARTONIZE_SALES_ORDERS]
		  ,[CARTONIZE_MANUFACTURING]
		  ,[DEFER_LOGICAL_TRANSACTIONS]
		  ,[WIP_OVERPICK_ENABLED]
		  ,[OVPK_TRANSFER_ORDERS_ENABLED]
		  ,[TOTAL_LPN_LENGTH]
		  ,[UCC_128_SUFFIX_FLAG]
		  ,[WCS_ENABLED]
		  ,[ALLOW_DIFFERENT_STATUS]
		  ,[CHILD_LOT_ALPHA_PREFIX]
		  ,[CHILD_LOT_NUMBER_LENGTH]
		  ,[CHILD_LOT_VALIDATION_FLAG]
		  ,[CHILD_LOT_ZERO_PADDING_FLAG]
		  ,[COPY_LOT_ATTRIBUTE_FLAG]
		  ,[CREATE_LOT_UOM_CONVERSION]
		  ,[GENEALOGY_FORMULA_SECURITY]
		  ,[PARENT_CHILD_GENERATION_FLAG]
		  ,[RULES_OVERRIDE_LOT_RESERVATION]
		  ,[AUTO_DEL_ALLOC_FLAG]
		  ,[RFID_VERIF_PCNT_THRESHOLD]
		  ,[YARD_MANAGEMENT_ENABLED_FLAG]
		  ,[TRADING_PARTNER_ORG_FLAG]
		  ,[DEFERRED_COGS_ACCOUNT]
		  ,[DEFAULT_CROSSDOCK_CRITERIA_ID]
		  ,[ENFORCE_LOCATOR_ALIS_UNQ_FLAG]
		  ,[EPC_GENERATION_ENABLED_FLAG]
		  ,[COMPANY_PREFIX]
		  ,[COMPANY_PREFIX_INDEX]
		  ,[COMMERCIAL_GOVT_ENTITY_NUMBER]
		  ,[LABOR_MANAGEMENT_ENABLED_FLAG]
		  ,[DEFAULT_STATUS_ID]
		  ,[LCM_ENABLED_FLAG]
		  ,[LCM_VAR_ACCOUNT]
		  ,[OPSM_ENABLED_FLAG]
		  ,[ALLOCATE_LOT_FLAG]
		  ,[Fingerprint]
	)
		SELECT 
			  a.[ORGANIZATION_ID]
			  ,a.[LAST_UPDATE_DATE]
			  ,a.[LAST_UPDATED_BY]
			  ,a.[CREATION_DATE]
			  ,a.[CREATED_BY]
			  ,a.[LAST_UPDATE_LOGIN]
			  ,a.[ORGANIZATION_CODE]
			  ,a.[MASTER_ORGANIZATION_ID]
			  ,a.[PRIMARY_COST_METHOD]
			  ,a.[COST_ORGANIZATION_ID]
			  ,a.[DEFAULT_MATERIAL_COST_ID]
			  ,a.[CALENDAR_EXCEPTION_SET_ID]
			  ,a.[CALENDAR_CODE]
			  ,a.[GENERAL_LEDGER_UPDATE_CODE]
			  ,a.[DEFAULT_ATP_RULE_ID]
			  ,a.[DEFAULT_PICKING_RULE_ID]
			  ,a.[DEFAULT_LOCATOR_ORDER_VALUE]
			  ,a.[DEFAULT_SUBINV_ORDER_VALUE]
			  ,a.[NEGATIVE_INV_RECEIPT_CODE]
			  ,a.[STOCK_LOCATOR_CONTROL_CODE]
			  ,a.[MATERIAL_ACCOUNT]
			  ,a.[MATERIAL_OVERHEAD_ACCOUNT]
			  ,a.[MATL_OVHD_ABSORPTION_ACCT]
			  ,a.[RESOURCE_ACCOUNT]
			  ,a.[PURCHASE_PRICE_VAR_ACCOUNT]
			  ,a.[AP_ACCRUAL_ACCOUNT]
			  ,a.[OVERHEAD_ACCOUNT]
			  ,a.[OUTSIDE_PROCESSING_ACCOUNT]
			  ,a.[INTRANSIT_INV_ACCOUNT]
			  ,a.[INTERORG_RECEIVABLES_ACCOUNT]
			  ,a.[INTERORG_PRICE_VAR_ACCOUNT]
			  ,a.[INTERORG_PAYABLES_ACCOUNT]
			  ,a.[COST_OF_SALES_ACCOUNT]
			  ,a.[ENCUMBRANCE_ACCOUNT]
			  ,a.[PROJECT_COST_ACCOUNT]
			  ,a.[INTERORG_TRANSFER_CR_ACCOUNT]
			  ,a.[MATL_INTERORG_TRANSFER_CODE]
			  ,a.[INTERORG_TRNSFR_CHARGE_PERCENT]
			  ,a.[SOURCE_ORGANIZATION_ID]
			  ,a.[SOURCE_SUBINVENTORY]
			  ,a.[SOURCE_TYPE]
			  ,a.[ORG_MAX_WEIGHT]
			  ,a.[ORG_MAX_WEIGHT_UOM_CODE]
			  ,a.[ORG_MAX_VOLUME]
			  ,a.[ORG_MAX_VOLUME_UOM_CODE]
			  ,a.[SERIAL_NUMBER_TYPE]
			  ,a.[AUTO_SERIAL_ALPHA_PREFIX]
			  ,a.[START_AUTO_SERIAL_NUMBER]
			  ,a.[AUTO_LOT_ALPHA_PREFIX]
			  ,a.[LOT_NUMBER_UNIQUENESS]
			  ,a.[LOT_NUMBER_GENERATION]
			  ,a.[LOT_NUMBER_ZERO_PADDING]
			  ,a.[LOT_NUMBER_LENGTH]
			  ,a.[STARTING_REVISION]
			  ,a.[ATTRIBUTE_CATEGORY]
			  ,a.[ATTRIBUTE1]
			  ,a.[ATTRIBUTE2]
			  ,a.[ATTRIBUTE3]
			  ,a.[ATTRIBUTE4]
			  ,a.[ATTRIBUTE5]
			  ,a.[ATTRIBUTE6]
			  ,a.[ATTRIBUTE7]
			  ,a.[ATTRIBUTE8]
			  ,a.[ATTRIBUTE9]
			  ,a.[ATTRIBUTE10]
			  ,a.[ATTRIBUTE11]
			  ,a.[ATTRIBUTE12]
			  ,a.[ATTRIBUTE13]
			  ,a.[ATTRIBUTE14]
			  ,a.[ATTRIBUTE15]
			  ,a.[DEFAULT_DEMAND_CLASS]
			  ,a.[ENCUMBRANCE_REVERSAL_FLAG]
			  ,a.[MAINTAIN_FIFO_QTY_STACK_TYPE]
			  ,a.[INVOICE_PRICE_VAR_ACCOUNT]
			  ,a.[AVERAGE_COST_VAR_ACCOUNT]
			  ,a.[SALES_ACCOUNT]
			  ,a.[EXPENSE_ACCOUNT]
			  ,a.[SERIAL_NUMBER_GENERATION]
			  ,a.[REQUEST_ID]
			  ,a.[PROGRAM_APPLICATION_ID]
			  ,a.[PROGRAM_ID]
			  ,a.[PROGRAM_UPDATE_DATE]
			  ,a.[GLOBAL_ATTRIBUTE_CATEGORY]
			  ,a.[GLOBAL_ATTRIBUTE1]
			  ,a.[GLOBAL_ATTRIBUTE2]
			  ,a.[GLOBAL_ATTRIBUTE3]
			  ,a.[GLOBAL_ATTRIBUTE4]
			  ,a.[GLOBAL_ATTRIBUTE5]
			  ,a.[GLOBAL_ATTRIBUTE6]
			  ,a.[GLOBAL_ATTRIBUTE7]
			  ,a.[GLOBAL_ATTRIBUTE8]
			  ,a.[GLOBAL_ATTRIBUTE9]
			  ,a.[GLOBAL_ATTRIBUTE10]
			  ,a.[GLOBAL_ATTRIBUTE11]
			  ,a.[GLOBAL_ATTRIBUTE12]
			  ,a.[GLOBAL_ATTRIBUTE13]
			  ,a.[GLOBAL_ATTRIBUTE14]
			  ,a.[GLOBAL_ATTRIBUTE15]
			  ,a.[GLOBAL_ATTRIBUTE16]
			  ,a.[GLOBAL_ATTRIBUTE17]
			  ,a.[GLOBAL_ATTRIBUTE18]
			  ,a.[GLOBAL_ATTRIBUTE19]
			  ,a.[GLOBAL_ATTRIBUTE20]
			  ,a.[MAT_OVHD_COST_TYPE_ID]
			  ,a.[PROJECT_REFERENCE_ENABLED]
			  ,a.[PM_COST_COLLECTION_ENABLED]
			  ,a.[PROJECT_CONTROL_LEVEL]
			  ,a.[AVG_RATES_COST_TYPE_ID]
			  ,a.[TXN_APPROVAL_TIMEOUT_PERIOD]
			  ,a.[MO_SOURCE_REQUIRED]
			  ,a.[MO_PICK_CONFIRM_REQUIRED]
			  ,a.[MO_APPROVAL_TIMEOUT_ACTION]
			  ,a.[BORRPAY_MATL_VAR_ACCOUNT]
			  ,a.[BORRPAY_MOH_VAR_ACCOUNT]
			  ,a.[BORRPAY_RES_VAR_ACCOUNT]
			  ,a.[BORRPAY_OSP_VAR_ACCOUNT]
			  ,a.[BORRPAY_OVH_VAR_ACCOUNT]
			  ,a.[PROCESS_ENABLED_FLAG]
			  ,a.[PROCESS_ORGN_CODE]
			  ,a.[WSM_ENABLED_FLAG]
			  ,a.[DEFAULT_COST_GROUP_ID]
			  ,a.[LPN_PREFIX]
			  ,a.[LPN_SUFFIX]
			  ,a.[LPN_STARTING_NUMBER]
			  ,a.[WMS_ENABLED_FLAG]
			  ,a.[PREGEN_PUTAWAY_TASKS_FLAG]
			  ,a.[REGENERATION_INTERVAL]
			  ,a.[TIMEZONE_ID]
			  ,a.[MAX_PICKS_BATCH]
			  ,a.[DEFAULT_WMS_PICKING_RULE_ID]
			  ,a.[DEFAULT_PUT_AWAY_RULE_ID]
			  ,a.[DEFAULT_TASK_ASSIGN_RULE_ID]
			  ,a.[DEFAULT_LABEL_COMP_RULE_ID]
			  ,a.[DEFAULT_CARTON_RULE_ID]
			  ,a.[DEFAULT_CYC_COUNT_HEADER_ID]
			  ,a.[CROSSDOCK_FLAG]
			  ,a.[CARTONIZATION_FLAG]
			  ,a.[COST_CUTOFF_DATE]
			  ,a.[ENABLE_COSTING_BY_CATEGORY]
			  ,a.[COST_GROUP_ACCOUNTING]
			  ,a.[ALLOCATE_SERIAL_FLAG]
			  ,a.[DEFAULT_PICK_TASK_TYPE_ID]
			  ,a.[DEFAULT_CC_TASK_TYPE_ID]
			  ,a.[DEFAULT_PUTAWAY_TASK_TYPE_ID]
			  ,a.[DEFAULT_REPL_TASK_TYPE_ID]
			  ,a.[EAM_ENABLED_FLAG]
			  ,a.[MAINT_ORGANIZATION_ID]
			  ,a.[PRIORITIZE_WIP_JOBS]
			  ,a.[DEFAULT_CROSSDOCK_SUBINVENTORY]
			  ,a.[SKIP_TASK_WAITING_MINUTES]
			  ,a.[QA_SKIPPING_INSP_FLAG]
			  ,a.[DEFAULT_CROSSDOCK_LOCATOR_ID]
			  ,a.[DEFAULT_MOXFER_TASK_TYPE_ID]
			  ,a.[DEFAULT_MOISSUE_TASK_TYPE_ID]
			  ,a.[DEFAULT_MATL_OVHD_COST_ID]
			  ,a.[DISTRIBUTED_ORGANIZATION_FLAG]
			  ,a.[CARRIER_MANIFESTING_FLAG]
			  ,a.[DISTRIBUTION_ACCOUNT_ID]
			  ,a.[DIRECT_SHIPPING_ALLOWED]
			  ,a.[DEFAULT_PICK_OP_PLAN_ID]
			  ,a.[MAX_CLUSTERS_ALLOWED]
			  ,a.[CONSIGNED_FLAG]
			  ,a.[CARTONIZE_SALES_ORDERS]
			  ,a.[CARTONIZE_MANUFACTURING]
			  ,a.[DEFER_LOGICAL_TRANSACTIONS]
			  ,a.[WIP_OVERPICK_ENABLED]
			  ,a.[OVPK_TRANSFER_ORDERS_ENABLED]
			  ,a.[TOTAL_LPN_LENGTH]
			  ,a.[UCC_128_SUFFIX_FLAG]
			  ,a.[WCS_ENABLED]
			  ,a.[ALLOW_DIFFERENT_STATUS]
			  ,a.[CHILD_LOT_ALPHA_PREFIX]
			  ,a.[CHILD_LOT_NUMBER_LENGTH]
			  ,a.[CHILD_LOT_VALIDATION_FLAG]
			  ,a.[CHILD_LOT_ZERO_PADDING_FLAG]
			  ,a.[COPY_LOT_ATTRIBUTE_FLAG]
			  ,a.[CREATE_LOT_UOM_CONVERSION]
			  ,a.[GENEALOGY_FORMULA_SECURITY]
			  ,a.[PARENT_CHILD_GENERATION_FLAG]
			  ,a.[RULES_OVERRIDE_LOT_RESERVATION]
			  ,a.[AUTO_DEL_ALLOC_FLAG]
			  ,a.[RFID_VERIF_PCNT_THRESHOLD]
			  ,a.[YARD_MANAGEMENT_ENABLED_FLAG]
			  ,a.[TRADING_PARTNER_ORG_FLAG]
			  ,a.[DEFERRED_COGS_ACCOUNT]
			  ,a.[DEFAULT_CROSSDOCK_CRITERIA_ID]
			  ,a.[ENFORCE_LOCATOR_ALIS_UNQ_FLAG]
			  ,a.[EPC_GENERATION_ENABLED_FLAG]
			  ,a.[COMPANY_PREFIX]
			  ,a.[COMPANY_PREFIX_INDEX]
			  ,a.[COMMERCIAL_GOVT_ENTITY_NUMBER]
			  ,a.[LABOR_MANAGEMENT_ENABLED_FLAG]
			  ,a.[DEFAULT_STATUS_ID]
			  ,a.[LCM_ENABLED_FLAG]
			  ,a.[LCM_VAR_ACCOUNT]
			  ,a.[OPSM_ENABLED_FLAG]
			  ,a.[ALLOCATE_LOT_FLAG]
			  ,a.[Fingerprint]
		FROM (
			MERGE Oracle.INV_MTL_PARAMETERS b
			USING (SELECT * FROM #parameters) a
			ON a.Organization_ID = b.Organization_ID AND b.CurrentRecord = 1 --swap with business key of table
			WHEN NOT MATCHED --BY TARGET 
			THEN INSERT (
				  [ORGANIZATION_ID]
				  ,[LAST_UPDATE_DATE]
				  ,[LAST_UPDATED_BY]
				  ,[CREATION_DATE]
				  ,[CREATED_BY]
				  ,[LAST_UPDATE_LOGIN]
				  ,[ORGANIZATION_CODE]
				  ,[MASTER_ORGANIZATION_ID]
				  ,[PRIMARY_COST_METHOD]
				  ,[COST_ORGANIZATION_ID]
				  ,[DEFAULT_MATERIAL_COST_ID]
				  ,[CALENDAR_EXCEPTION_SET_ID]
				  ,[CALENDAR_CODE]
				  ,[GENERAL_LEDGER_UPDATE_CODE]
				  ,[DEFAULT_ATP_RULE_ID]
				  ,[DEFAULT_PICKING_RULE_ID]
				  ,[DEFAULT_LOCATOR_ORDER_VALUE]
				  ,[DEFAULT_SUBINV_ORDER_VALUE]
				  ,[NEGATIVE_INV_RECEIPT_CODE]
				  ,[STOCK_LOCATOR_CONTROL_CODE]
				  ,[MATERIAL_ACCOUNT]
				  ,[MATERIAL_OVERHEAD_ACCOUNT]
				  ,[MATL_OVHD_ABSORPTION_ACCT]
				  ,[RESOURCE_ACCOUNT]
				  ,[PURCHASE_PRICE_VAR_ACCOUNT]
				  ,[AP_ACCRUAL_ACCOUNT]
				  ,[OVERHEAD_ACCOUNT]
				  ,[OUTSIDE_PROCESSING_ACCOUNT]
				  ,[INTRANSIT_INV_ACCOUNT]
				  ,[INTERORG_RECEIVABLES_ACCOUNT]
				  ,[INTERORG_PRICE_VAR_ACCOUNT]
				  ,[INTERORG_PAYABLES_ACCOUNT]
				  ,[COST_OF_SALES_ACCOUNT]
				  ,[ENCUMBRANCE_ACCOUNT]
				  ,[PROJECT_COST_ACCOUNT]
				  ,[INTERORG_TRANSFER_CR_ACCOUNT]
				  ,[MATL_INTERORG_TRANSFER_CODE]
				  ,[INTERORG_TRNSFR_CHARGE_PERCENT]
				  ,[SOURCE_ORGANIZATION_ID]
				  ,[SOURCE_SUBINVENTORY]
				  ,[SOURCE_TYPE]
				  ,[ORG_MAX_WEIGHT]
				  ,[ORG_MAX_WEIGHT_UOM_CODE]
				  ,[ORG_MAX_VOLUME]
				  ,[ORG_MAX_VOLUME_UOM_CODE]
				  ,[SERIAL_NUMBER_TYPE]
				  ,[AUTO_SERIAL_ALPHA_PREFIX]
				  ,[START_AUTO_SERIAL_NUMBER]
				  ,[AUTO_LOT_ALPHA_PREFIX]
				  ,[LOT_NUMBER_UNIQUENESS]
				  ,[LOT_NUMBER_GENERATION]
				  ,[LOT_NUMBER_ZERO_PADDING]
				  ,[LOT_NUMBER_LENGTH]
				  ,[STARTING_REVISION]
				  ,[ATTRIBUTE_CATEGORY]
				  ,[ATTRIBUTE1]
				  ,[ATTRIBUTE2]
				  ,[ATTRIBUTE3]
				  ,[ATTRIBUTE4]
				  ,[ATTRIBUTE5]
				  ,[ATTRIBUTE6]
				  ,[ATTRIBUTE7]
				  ,[ATTRIBUTE8]
				  ,[ATTRIBUTE9]
				  ,[ATTRIBUTE10]
				  ,[ATTRIBUTE11]
				  ,[ATTRIBUTE12]
				  ,[ATTRIBUTE13]
				  ,[ATTRIBUTE14]
				  ,[ATTRIBUTE15]
				  ,[DEFAULT_DEMAND_CLASS]
				  ,[ENCUMBRANCE_REVERSAL_FLAG]
				  ,[MAINTAIN_FIFO_QTY_STACK_TYPE]
				  ,[INVOICE_PRICE_VAR_ACCOUNT]
				  ,[AVERAGE_COST_VAR_ACCOUNT]
				  ,[SALES_ACCOUNT]
				  ,[EXPENSE_ACCOUNT]
				  ,[SERIAL_NUMBER_GENERATION]
				  ,[REQUEST_ID]
				  ,[PROGRAM_APPLICATION_ID]
				  ,[PROGRAM_ID]
				  ,[PROGRAM_UPDATE_DATE]
				  ,[GLOBAL_ATTRIBUTE_CATEGORY]
				  ,[GLOBAL_ATTRIBUTE1]
				  ,[GLOBAL_ATTRIBUTE2]
				  ,[GLOBAL_ATTRIBUTE3]
				  ,[GLOBAL_ATTRIBUTE4]
				  ,[GLOBAL_ATTRIBUTE5]
				  ,[GLOBAL_ATTRIBUTE6]
				  ,[GLOBAL_ATTRIBUTE7]
				  ,[GLOBAL_ATTRIBUTE8]
				  ,[GLOBAL_ATTRIBUTE9]
				  ,[GLOBAL_ATTRIBUTE10]
				  ,[GLOBAL_ATTRIBUTE11]
				  ,[GLOBAL_ATTRIBUTE12]
				  ,[GLOBAL_ATTRIBUTE13]
				  ,[GLOBAL_ATTRIBUTE14]
				  ,[GLOBAL_ATTRIBUTE15]
				  ,[GLOBAL_ATTRIBUTE16]
				  ,[GLOBAL_ATTRIBUTE17]
				  ,[GLOBAL_ATTRIBUTE18]
				  ,[GLOBAL_ATTRIBUTE19]
				  ,[GLOBAL_ATTRIBUTE20]
				  ,[MAT_OVHD_COST_TYPE_ID]
				  ,[PROJECT_REFERENCE_ENABLED]
				  ,[PM_COST_COLLECTION_ENABLED]
				  ,[PROJECT_CONTROL_LEVEL]
				  ,[AVG_RATES_COST_TYPE_ID]
				  ,[TXN_APPROVAL_TIMEOUT_PERIOD]
				  ,[MO_SOURCE_REQUIRED]
				  ,[MO_PICK_CONFIRM_REQUIRED]
				  ,[MO_APPROVAL_TIMEOUT_ACTION]
				  ,[BORRPAY_MATL_VAR_ACCOUNT]
				  ,[BORRPAY_MOH_VAR_ACCOUNT]
				  ,[BORRPAY_RES_VAR_ACCOUNT]
				  ,[BORRPAY_OSP_VAR_ACCOUNT]
				  ,[BORRPAY_OVH_VAR_ACCOUNT]
				  ,[PROCESS_ENABLED_FLAG]
				  ,[PROCESS_ORGN_CODE]
				  ,[WSM_ENABLED_FLAG]
				  ,[DEFAULT_COST_GROUP_ID]
				  ,[LPN_PREFIX]
				  ,[LPN_SUFFIX]
				  ,[LPN_STARTING_NUMBER]
				  ,[WMS_ENABLED_FLAG]
				  ,[PREGEN_PUTAWAY_TASKS_FLAG]
				  ,[REGENERATION_INTERVAL]
				  ,[TIMEZONE_ID]
				  ,[MAX_PICKS_BATCH]
				  ,[DEFAULT_WMS_PICKING_RULE_ID]
				  ,[DEFAULT_PUT_AWAY_RULE_ID]
				  ,[DEFAULT_TASK_ASSIGN_RULE_ID]
				  ,[DEFAULT_LABEL_COMP_RULE_ID]
				  ,[DEFAULT_CARTON_RULE_ID]
				  ,[DEFAULT_CYC_COUNT_HEADER_ID]
				  ,[CROSSDOCK_FLAG]
				  ,[CARTONIZATION_FLAG]
				  ,[COST_CUTOFF_DATE]
				  ,[ENABLE_COSTING_BY_CATEGORY]
				  ,[COST_GROUP_ACCOUNTING]
				  ,[ALLOCATE_SERIAL_FLAG]
				  ,[DEFAULT_PICK_TASK_TYPE_ID]
				  ,[DEFAULT_CC_TASK_TYPE_ID]
				  ,[DEFAULT_PUTAWAY_TASK_TYPE_ID]
				  ,[DEFAULT_REPL_TASK_TYPE_ID]
				  ,[EAM_ENABLED_FLAG]
				  ,[MAINT_ORGANIZATION_ID]
				  ,[PRIORITIZE_WIP_JOBS]
				  ,[DEFAULT_CROSSDOCK_SUBINVENTORY]
				  ,[SKIP_TASK_WAITING_MINUTES]
				  ,[QA_SKIPPING_INSP_FLAG]
				  ,[DEFAULT_CROSSDOCK_LOCATOR_ID]
				  ,[DEFAULT_MOXFER_TASK_TYPE_ID]
				  ,[DEFAULT_MOISSUE_TASK_TYPE_ID]
				  ,[DEFAULT_MATL_OVHD_COST_ID]
				  ,[DISTRIBUTED_ORGANIZATION_FLAG]
				  ,[CARRIER_MANIFESTING_FLAG]
				  ,[DISTRIBUTION_ACCOUNT_ID]
				  ,[DIRECT_SHIPPING_ALLOWED]
				  ,[DEFAULT_PICK_OP_PLAN_ID]
				  ,[MAX_CLUSTERS_ALLOWED]
				  ,[CONSIGNED_FLAG]
				  ,[CARTONIZE_SALES_ORDERS]
				  ,[CARTONIZE_MANUFACTURING]
				  ,[DEFER_LOGICAL_TRANSACTIONS]
				  ,[WIP_OVERPICK_ENABLED]
				  ,[OVPK_TRANSFER_ORDERS_ENABLED]
				  ,[TOTAL_LPN_LENGTH]
				  ,[UCC_128_SUFFIX_FLAG]
				  ,[WCS_ENABLED]
				  ,[ALLOW_DIFFERENT_STATUS]
				  ,[CHILD_LOT_ALPHA_PREFIX]
				  ,[CHILD_LOT_NUMBER_LENGTH]
				  ,[CHILD_LOT_VALIDATION_FLAG]
				  ,[CHILD_LOT_ZERO_PADDING_FLAG]
				  ,[COPY_LOT_ATTRIBUTE_FLAG]
				  ,[CREATE_LOT_UOM_CONVERSION]
				  ,[GENEALOGY_FORMULA_SECURITY]
				  ,[PARENT_CHILD_GENERATION_FLAG]
				  ,[RULES_OVERRIDE_LOT_RESERVATION]
				  ,[AUTO_DEL_ALLOC_FLAG]
				  ,[RFID_VERIF_PCNT_THRESHOLD]
				  ,[YARD_MANAGEMENT_ENABLED_FLAG]
				  ,[TRADING_PARTNER_ORG_FLAG]
				  ,[DEFERRED_COGS_ACCOUNT]
				  ,[DEFAULT_CROSSDOCK_CRITERIA_ID]
				  ,[ENFORCE_LOCATOR_ALIS_UNQ_FLAG]
				  ,[EPC_GENERATION_ENABLED_FLAG]
				  ,[COMPANY_PREFIX]
				  ,[COMPANY_PREFIX_INDEX]
				  ,[COMMERCIAL_GOVT_ENTITY_NUMBER]
				  ,[LABOR_MANAGEMENT_ENABLED_FLAG]
				  ,[DEFAULT_STATUS_ID]
				  ,[LCM_ENABLED_FLAG]
				  ,[LCM_VAR_ACCOUNT]
				  ,[OPSM_ENABLED_FLAG]
				  ,[ALLOCATE_LOT_FLAG]
				  ,[Fingerprint]
			)
			VALUES (
				  a.[ORGANIZATION_ID]
				  ,a.[LAST_UPDATE_DATE]
				  ,a.[LAST_UPDATED_BY]
				  ,a.[CREATION_DATE]
				  ,a.[CREATED_BY]
				  ,a.[LAST_UPDATE_LOGIN]
				  ,a.[ORGANIZATION_CODE]
				  ,a.[MASTER_ORGANIZATION_ID]
				  ,a.[PRIMARY_COST_METHOD]
				  ,a.[COST_ORGANIZATION_ID]
				  ,a.[DEFAULT_MATERIAL_COST_ID]
				  ,a.[CALENDAR_EXCEPTION_SET_ID]
				  ,a.[CALENDAR_CODE]
				  ,a.[GENERAL_LEDGER_UPDATE_CODE]
				  ,a.[DEFAULT_ATP_RULE_ID]
				  ,a.[DEFAULT_PICKING_RULE_ID]
				  ,a.[DEFAULT_LOCATOR_ORDER_VALUE]
				  ,a.[DEFAULT_SUBINV_ORDER_VALUE]
				  ,a.[NEGATIVE_INV_RECEIPT_CODE]
				  ,a.[STOCK_LOCATOR_CONTROL_CODE]
				  ,a.[MATERIAL_ACCOUNT]
				  ,a.[MATERIAL_OVERHEAD_ACCOUNT]
				  ,a.[MATL_OVHD_ABSORPTION_ACCT]
				  ,a.[RESOURCE_ACCOUNT]
				  ,a.[PURCHASE_PRICE_VAR_ACCOUNT]
				  ,a.[AP_ACCRUAL_ACCOUNT]
				  ,a.[OVERHEAD_ACCOUNT]
				  ,a.[OUTSIDE_PROCESSING_ACCOUNT]
				  ,a.[INTRANSIT_INV_ACCOUNT]
				  ,a.[INTERORG_RECEIVABLES_ACCOUNT]
				  ,a.[INTERORG_PRICE_VAR_ACCOUNT]
				  ,a.[INTERORG_PAYABLES_ACCOUNT]
				  ,a.[COST_OF_SALES_ACCOUNT]
				  ,a.[ENCUMBRANCE_ACCOUNT]
				  ,a.[PROJECT_COST_ACCOUNT]
				  ,a.[INTERORG_TRANSFER_CR_ACCOUNT]
				  ,a.[MATL_INTERORG_TRANSFER_CODE]
				  ,a.[INTERORG_TRNSFR_CHARGE_PERCENT]
				  ,a.[SOURCE_ORGANIZATION_ID]
				  ,a.[SOURCE_SUBINVENTORY]
				  ,a.[SOURCE_TYPE]
				  ,a.[ORG_MAX_WEIGHT]
				  ,a.[ORG_MAX_WEIGHT_UOM_CODE]
				  ,a.[ORG_MAX_VOLUME]
				  ,a.[ORG_MAX_VOLUME_UOM_CODE]
				  ,a.[SERIAL_NUMBER_TYPE]
				  ,a.[AUTO_SERIAL_ALPHA_PREFIX]
				  ,a.[START_AUTO_SERIAL_NUMBER]
				  ,a.[AUTO_LOT_ALPHA_PREFIX]
				  ,a.[LOT_NUMBER_UNIQUENESS]
				  ,a.[LOT_NUMBER_GENERATION]
				  ,a.[LOT_NUMBER_ZERO_PADDING]
				  ,a.[LOT_NUMBER_LENGTH]
				  ,a.[STARTING_REVISION]
				  ,a.[ATTRIBUTE_CATEGORY]
				  ,a.[ATTRIBUTE1]
				  ,a.[ATTRIBUTE2]
				  ,a.[ATTRIBUTE3]
				  ,a.[ATTRIBUTE4]
				  ,a.[ATTRIBUTE5]
				  ,a.[ATTRIBUTE6]
				  ,a.[ATTRIBUTE7]
				  ,a.[ATTRIBUTE8]
				  ,a.[ATTRIBUTE9]
				  ,a.[ATTRIBUTE10]
				  ,a.[ATTRIBUTE11]
				  ,a.[ATTRIBUTE12]
				  ,a.[ATTRIBUTE13]
				  ,a.[ATTRIBUTE14]
				  ,a.[ATTRIBUTE15]
				  ,a.[DEFAULT_DEMAND_CLASS]
				  ,a.[ENCUMBRANCE_REVERSAL_FLAG]
				  ,a.[MAINTAIN_FIFO_QTY_STACK_TYPE]
				  ,a.[INVOICE_PRICE_VAR_ACCOUNT]
				  ,a.[AVERAGE_COST_VAR_ACCOUNT]
				  ,a.[SALES_ACCOUNT]
				  ,a.[EXPENSE_ACCOUNT]
				  ,a.[SERIAL_NUMBER_GENERATION]
				  ,a.[REQUEST_ID]
				  ,a.[PROGRAM_APPLICATION_ID]
				  ,a.[PROGRAM_ID]
				  ,a.[PROGRAM_UPDATE_DATE]
				  ,a.[GLOBAL_ATTRIBUTE_CATEGORY]
				  ,a.[GLOBAL_ATTRIBUTE1]
				  ,a.[GLOBAL_ATTRIBUTE2]
				  ,a.[GLOBAL_ATTRIBUTE3]
				  ,a.[GLOBAL_ATTRIBUTE4]
				  ,a.[GLOBAL_ATTRIBUTE5]
				  ,a.[GLOBAL_ATTRIBUTE6]
				  ,a.[GLOBAL_ATTRIBUTE7]
				  ,a.[GLOBAL_ATTRIBUTE8]
				  ,a.[GLOBAL_ATTRIBUTE9]
				  ,a.[GLOBAL_ATTRIBUTE10]
				  ,a.[GLOBAL_ATTRIBUTE11]
				  ,a.[GLOBAL_ATTRIBUTE12]
				  ,a.[GLOBAL_ATTRIBUTE13]
				  ,a.[GLOBAL_ATTRIBUTE14]
				  ,a.[GLOBAL_ATTRIBUTE15]
				  ,a.[GLOBAL_ATTRIBUTE16]
				  ,a.[GLOBAL_ATTRIBUTE17]
				  ,a.[GLOBAL_ATTRIBUTE18]
				  ,a.[GLOBAL_ATTRIBUTE19]
				  ,a.[GLOBAL_ATTRIBUTE20]
				  ,a.[MAT_OVHD_COST_TYPE_ID]
				  ,a.[PROJECT_REFERENCE_ENABLED]
				  ,a.[PM_COST_COLLECTION_ENABLED]
				  ,a.[PROJECT_CONTROL_LEVEL]
				  ,a.[AVG_RATES_COST_TYPE_ID]
				  ,a.[TXN_APPROVAL_TIMEOUT_PERIOD]
				  ,a.[MO_SOURCE_REQUIRED]
				  ,a.[MO_PICK_CONFIRM_REQUIRED]
				  ,a.[MO_APPROVAL_TIMEOUT_ACTION]
				  ,a.[BORRPAY_MATL_VAR_ACCOUNT]
				  ,a.[BORRPAY_MOH_VAR_ACCOUNT]
				  ,a.[BORRPAY_RES_VAR_ACCOUNT]
				  ,a.[BORRPAY_OSP_VAR_ACCOUNT]
				  ,a.[BORRPAY_OVH_VAR_ACCOUNT]
				  ,a.[PROCESS_ENABLED_FLAG]
				  ,a.[PROCESS_ORGN_CODE]
				  ,a.[WSM_ENABLED_FLAG]
				  ,a.[DEFAULT_COST_GROUP_ID]
				  ,a.[LPN_PREFIX]
				  ,a.[LPN_SUFFIX]
				  ,a.[LPN_STARTING_NUMBER]
				  ,a.[WMS_ENABLED_FLAG]
				  ,a.[PREGEN_PUTAWAY_TASKS_FLAG]
				  ,a.[REGENERATION_INTERVAL]
				  ,a.[TIMEZONE_ID]
				  ,a.[MAX_PICKS_BATCH]
				  ,a.[DEFAULT_WMS_PICKING_RULE_ID]
				  ,a.[DEFAULT_PUT_AWAY_RULE_ID]
				  ,a.[DEFAULT_TASK_ASSIGN_RULE_ID]
				  ,a.[DEFAULT_LABEL_COMP_RULE_ID]
				  ,a.[DEFAULT_CARTON_RULE_ID]
				  ,a.[DEFAULT_CYC_COUNT_HEADER_ID]
				  ,a.[CROSSDOCK_FLAG]
				  ,a.[CARTONIZATION_FLAG]
				  ,a.[COST_CUTOFF_DATE]
				  ,a.[ENABLE_COSTING_BY_CATEGORY]
				  ,a.[COST_GROUP_ACCOUNTING]
				  ,a.[ALLOCATE_SERIAL_FLAG]
				  ,a.[DEFAULT_PICK_TASK_TYPE_ID]
				  ,a.[DEFAULT_CC_TASK_TYPE_ID]
				  ,a.[DEFAULT_PUTAWAY_TASK_TYPE_ID]
				  ,a.[DEFAULT_REPL_TASK_TYPE_ID]
				  ,a.[EAM_ENABLED_FLAG]
				  ,a.[MAINT_ORGANIZATION_ID]
				  ,a.[PRIORITIZE_WIP_JOBS]
				  ,a.[DEFAULT_CROSSDOCK_SUBINVENTORY]
				  ,a.[SKIP_TASK_WAITING_MINUTES]
				  ,a.[QA_SKIPPING_INSP_FLAG]
				  ,a.[DEFAULT_CROSSDOCK_LOCATOR_ID]
				  ,a.[DEFAULT_MOXFER_TASK_TYPE_ID]
				  ,a.[DEFAULT_MOISSUE_TASK_TYPE_ID]
				  ,a.[DEFAULT_MATL_OVHD_COST_ID]
				  ,a.[DISTRIBUTED_ORGANIZATION_FLAG]
				  ,a.[CARRIER_MANIFESTING_FLAG]
				  ,a.[DISTRIBUTION_ACCOUNT_ID]
				  ,a.[DIRECT_SHIPPING_ALLOWED]
				  ,a.[DEFAULT_PICK_OP_PLAN_ID]
				  ,a.[MAX_CLUSTERS_ALLOWED]
				  ,a.[CONSIGNED_FLAG]
				  ,a.[CARTONIZE_SALES_ORDERS]
				  ,a.[CARTONIZE_MANUFACTURING]
				  ,a.[DEFER_LOGICAL_TRANSACTIONS]
				  ,a.[WIP_OVERPICK_ENABLED]
				  ,a.[OVPK_TRANSFER_ORDERS_ENABLED]
				  ,a.[TOTAL_LPN_LENGTH]
				  ,a.[UCC_128_SUFFIX_FLAG]
				  ,a.[WCS_ENABLED]
				  ,a.[ALLOW_DIFFERENT_STATUS]
				  ,a.[CHILD_LOT_ALPHA_PREFIX]
				  ,a.[CHILD_LOT_NUMBER_LENGTH]
				  ,a.[CHILD_LOT_VALIDATION_FLAG]
				  ,a.[CHILD_LOT_ZERO_PADDING_FLAG]
				  ,a.[COPY_LOT_ATTRIBUTE_FLAG]
				  ,a.[CREATE_LOT_UOM_CONVERSION]
				  ,a.[GENEALOGY_FORMULA_SECURITY]
				  ,a.[PARENT_CHILD_GENERATION_FLAG]
				  ,a.[RULES_OVERRIDE_LOT_RESERVATION]
				  ,a.[AUTO_DEL_ALLOC_FLAG]
				  ,a.[RFID_VERIF_PCNT_THRESHOLD]
				  ,a.[YARD_MANAGEMENT_ENABLED_FLAG]
				  ,a.[TRADING_PARTNER_ORG_FLAG]
				  ,a.[DEFERRED_COGS_ACCOUNT]
				  ,a.[DEFAULT_CROSSDOCK_CRITERIA_ID]
				  ,a.[ENFORCE_LOCATOR_ALIS_UNQ_FLAG]
				  ,a.[EPC_GENERATION_ENABLED_FLAG]
				  ,a.[COMPANY_PREFIX]
				  ,a.[COMPANY_PREFIX_INDEX]
				  ,a.[COMMERCIAL_GOVT_ENTITY_NUMBER]
				  ,a.[LABOR_MANAGEMENT_ENABLED_FLAG]
				  ,a.[DEFAULT_STATUS_ID]
				  ,a.[LCM_ENABLED_FLAG]
				  ,a.[LCM_VAR_ACCOUNT]
				  ,a.[OPSM_ENABLED_FLAG]
				  ,a.[ALLOCATE_LOT_FLAG]
				  ,a.[Fingerprint]
			)
			--Existing records that have changed are expired
			WHEN MATCHED AND a.Fingerprint<>b.Fingerprint
			THEN UPDATE SET b.EndDate=GETDATE()
				,b.CurrentRecord=0
			OUTPUT 
				  a.[ORGANIZATION_ID]
				  ,a.[LAST_UPDATE_DATE]
				  ,a.[LAST_UPDATED_BY]
				  ,a.[CREATION_DATE]
				  ,a.[CREATED_BY]
				  ,a.[LAST_UPDATE_LOGIN]
				  ,a.[ORGANIZATION_CODE]
				  ,a.[MASTER_ORGANIZATION_ID]
				  ,a.[PRIMARY_COST_METHOD]
				  ,a.[COST_ORGANIZATION_ID]
				  ,a.[DEFAULT_MATERIAL_COST_ID]
				  ,a.[CALENDAR_EXCEPTION_SET_ID]
				  ,a.[CALENDAR_CODE]
				  ,a.[GENERAL_LEDGER_UPDATE_CODE]
				  ,a.[DEFAULT_ATP_RULE_ID]
				  ,a.[DEFAULT_PICKING_RULE_ID]
				  ,a.[DEFAULT_LOCATOR_ORDER_VALUE]
				  ,a.[DEFAULT_SUBINV_ORDER_VALUE]
				  ,a.[NEGATIVE_INV_RECEIPT_CODE]
				  ,a.[STOCK_LOCATOR_CONTROL_CODE]
				  ,a.[MATERIAL_ACCOUNT]
				  ,a.[MATERIAL_OVERHEAD_ACCOUNT]
				  ,a.[MATL_OVHD_ABSORPTION_ACCT]
				  ,a.[RESOURCE_ACCOUNT]
				  ,a.[PURCHASE_PRICE_VAR_ACCOUNT]
				  ,a.[AP_ACCRUAL_ACCOUNT]
				  ,a.[OVERHEAD_ACCOUNT]
				  ,a.[OUTSIDE_PROCESSING_ACCOUNT]
				  ,a.[INTRANSIT_INV_ACCOUNT]
				  ,a.[INTERORG_RECEIVABLES_ACCOUNT]
				  ,a.[INTERORG_PRICE_VAR_ACCOUNT]
				  ,a.[INTERORG_PAYABLES_ACCOUNT]
				  ,a.[COST_OF_SALES_ACCOUNT]
				  ,a.[ENCUMBRANCE_ACCOUNT]
				  ,a.[PROJECT_COST_ACCOUNT]
				  ,a.[INTERORG_TRANSFER_CR_ACCOUNT]
				  ,a.[MATL_INTERORG_TRANSFER_CODE]
				  ,a.[INTERORG_TRNSFR_CHARGE_PERCENT]
				  ,a.[SOURCE_ORGANIZATION_ID]
				  ,a.[SOURCE_SUBINVENTORY]
				  ,a.[SOURCE_TYPE]
				  ,a.[ORG_MAX_WEIGHT]
				  ,a.[ORG_MAX_WEIGHT_UOM_CODE]
				  ,a.[ORG_MAX_VOLUME]
				  ,a.[ORG_MAX_VOLUME_UOM_CODE]
				  ,a.[SERIAL_NUMBER_TYPE]
				  ,a.[AUTO_SERIAL_ALPHA_PREFIX]
				  ,a.[START_AUTO_SERIAL_NUMBER]
				  ,a.[AUTO_LOT_ALPHA_PREFIX]
				  ,a.[LOT_NUMBER_UNIQUENESS]
				  ,a.[LOT_NUMBER_GENERATION]
				  ,a.[LOT_NUMBER_ZERO_PADDING]
				  ,a.[LOT_NUMBER_LENGTH]
				  ,a.[STARTING_REVISION]
				  ,a.[ATTRIBUTE_CATEGORY]
				  ,a.[ATTRIBUTE1]
				  ,a.[ATTRIBUTE2]
				  ,a.[ATTRIBUTE3]
				  ,a.[ATTRIBUTE4]
				  ,a.[ATTRIBUTE5]
				  ,a.[ATTRIBUTE6]
				  ,a.[ATTRIBUTE7]
				  ,a.[ATTRIBUTE8]
				  ,a.[ATTRIBUTE9]
				  ,a.[ATTRIBUTE10]
				  ,a.[ATTRIBUTE11]
				  ,a.[ATTRIBUTE12]
				  ,a.[ATTRIBUTE13]
				  ,a.[ATTRIBUTE14]
				  ,a.[ATTRIBUTE15]
				  ,a.[DEFAULT_DEMAND_CLASS]
				  ,a.[ENCUMBRANCE_REVERSAL_FLAG]
				  ,a.[MAINTAIN_FIFO_QTY_STACK_TYPE]
				  ,a.[INVOICE_PRICE_VAR_ACCOUNT]
				  ,a.[AVERAGE_COST_VAR_ACCOUNT]
				  ,a.[SALES_ACCOUNT]
				  ,a.[EXPENSE_ACCOUNT]
				  ,a.[SERIAL_NUMBER_GENERATION]
				  ,a.[REQUEST_ID]
				  ,a.[PROGRAM_APPLICATION_ID]
				  ,a.[PROGRAM_ID]
				  ,a.[PROGRAM_UPDATE_DATE]
				  ,a.[GLOBAL_ATTRIBUTE_CATEGORY]
				  ,a.[GLOBAL_ATTRIBUTE1]
				  ,a.[GLOBAL_ATTRIBUTE2]
				  ,a.[GLOBAL_ATTRIBUTE3]
				  ,a.[GLOBAL_ATTRIBUTE4]
				  ,a.[GLOBAL_ATTRIBUTE5]
				  ,a.[GLOBAL_ATTRIBUTE6]
				  ,a.[GLOBAL_ATTRIBUTE7]
				  ,a.[GLOBAL_ATTRIBUTE8]
				  ,a.[GLOBAL_ATTRIBUTE9]
				  ,a.[GLOBAL_ATTRIBUTE10]
				  ,a.[GLOBAL_ATTRIBUTE11]
				  ,a.[GLOBAL_ATTRIBUTE12]
				  ,a.[GLOBAL_ATTRIBUTE13]
				  ,a.[GLOBAL_ATTRIBUTE14]
				  ,a.[GLOBAL_ATTRIBUTE15]
				  ,a.[GLOBAL_ATTRIBUTE16]
				  ,a.[GLOBAL_ATTRIBUTE17]
				  ,a.[GLOBAL_ATTRIBUTE18]
				  ,a.[GLOBAL_ATTRIBUTE19]
				  ,a.[GLOBAL_ATTRIBUTE20]
				  ,a.[MAT_OVHD_COST_TYPE_ID]
				  ,a.[PROJECT_REFERENCE_ENABLED]
				  ,a.[PM_COST_COLLECTION_ENABLED]
				  ,a.[PROJECT_CONTROL_LEVEL]
				  ,a.[AVG_RATES_COST_TYPE_ID]
				  ,a.[TXN_APPROVAL_TIMEOUT_PERIOD]
				  ,a.[MO_SOURCE_REQUIRED]
				  ,a.[MO_PICK_CONFIRM_REQUIRED]
				  ,a.[MO_APPROVAL_TIMEOUT_ACTION]
				  ,a.[BORRPAY_MATL_VAR_ACCOUNT]
				  ,a.[BORRPAY_MOH_VAR_ACCOUNT]
				  ,a.[BORRPAY_RES_VAR_ACCOUNT]
				  ,a.[BORRPAY_OSP_VAR_ACCOUNT]
				  ,a.[BORRPAY_OVH_VAR_ACCOUNT]
				  ,a.[PROCESS_ENABLED_FLAG]
				  ,a.[PROCESS_ORGN_CODE]
				  ,a.[WSM_ENABLED_FLAG]
				  ,a.[DEFAULT_COST_GROUP_ID]
				  ,a.[LPN_PREFIX]
				  ,a.[LPN_SUFFIX]
				  ,a.[LPN_STARTING_NUMBER]
				  ,a.[WMS_ENABLED_FLAG]
				  ,a.[PREGEN_PUTAWAY_TASKS_FLAG]
				  ,a.[REGENERATION_INTERVAL]
				  ,a.[TIMEZONE_ID]
				  ,a.[MAX_PICKS_BATCH]
				  ,a.[DEFAULT_WMS_PICKING_RULE_ID]
				  ,a.[DEFAULT_PUT_AWAY_RULE_ID]
				  ,a.[DEFAULT_TASK_ASSIGN_RULE_ID]
				  ,a.[DEFAULT_LABEL_COMP_RULE_ID]
				  ,a.[DEFAULT_CARTON_RULE_ID]
				  ,a.[DEFAULT_CYC_COUNT_HEADER_ID]
				  ,a.[CROSSDOCK_FLAG]
				  ,a.[CARTONIZATION_FLAG]
				  ,a.[COST_CUTOFF_DATE]
				  ,a.[ENABLE_COSTING_BY_CATEGORY]
				  ,a.[COST_GROUP_ACCOUNTING]
				  ,a.[ALLOCATE_SERIAL_FLAG]
				  ,a.[DEFAULT_PICK_TASK_TYPE_ID]
				  ,a.[DEFAULT_CC_TASK_TYPE_ID]
				  ,a.[DEFAULT_PUTAWAY_TASK_TYPE_ID]
				  ,a.[DEFAULT_REPL_TASK_TYPE_ID]
				  ,a.[EAM_ENABLED_FLAG]
				  ,a.[MAINT_ORGANIZATION_ID]
				  ,a.[PRIORITIZE_WIP_JOBS]
				  ,a.[DEFAULT_CROSSDOCK_SUBINVENTORY]
				  ,a.[SKIP_TASK_WAITING_MINUTES]
				  ,a.[QA_SKIPPING_INSP_FLAG]
				  ,a.[DEFAULT_CROSSDOCK_LOCATOR_ID]
				  ,a.[DEFAULT_MOXFER_TASK_TYPE_ID]
				  ,a.[DEFAULT_MOISSUE_TASK_TYPE_ID]
				  ,a.[DEFAULT_MATL_OVHD_COST_ID]
				  ,a.[DISTRIBUTED_ORGANIZATION_FLAG]
				  ,a.[CARRIER_MANIFESTING_FLAG]
				  ,a.[DISTRIBUTION_ACCOUNT_ID]
				  ,a.[DIRECT_SHIPPING_ALLOWED]
				  ,a.[DEFAULT_PICK_OP_PLAN_ID]
				  ,a.[MAX_CLUSTERS_ALLOWED]
				  ,a.[CONSIGNED_FLAG]
				  ,a.[CARTONIZE_SALES_ORDERS]
				  ,a.[CARTONIZE_MANUFACTURING]
				  ,a.[DEFER_LOGICAL_TRANSACTIONS]
				  ,a.[WIP_OVERPICK_ENABLED]
				  ,a.[OVPK_TRANSFER_ORDERS_ENABLED]
				  ,a.[TOTAL_LPN_LENGTH]
				  ,a.[UCC_128_SUFFIX_FLAG]
				  ,a.[WCS_ENABLED]
				  ,a.[ALLOW_DIFFERENT_STATUS]
				  ,a.[CHILD_LOT_ALPHA_PREFIX]
				  ,a.[CHILD_LOT_NUMBER_LENGTH]
				  ,a.[CHILD_LOT_VALIDATION_FLAG]
				  ,a.[CHILD_LOT_ZERO_PADDING_FLAG]
				  ,a.[COPY_LOT_ATTRIBUTE_FLAG]
				  ,a.[CREATE_LOT_UOM_CONVERSION]
				  ,a.[GENEALOGY_FORMULA_SECURITY]
				  ,a.[PARENT_CHILD_GENERATION_FLAG]
				  ,a.[RULES_OVERRIDE_LOT_RESERVATION]
				  ,a.[AUTO_DEL_ALLOC_FLAG]
				  ,a.[RFID_VERIF_PCNT_THRESHOLD]
				  ,a.[YARD_MANAGEMENT_ENABLED_FLAG]
				  ,a.[TRADING_PARTNER_ORG_FLAG]
				  ,a.[DEFERRED_COGS_ACCOUNT]
				  ,a.[DEFAULT_CROSSDOCK_CRITERIA_ID]
				  ,a.[ENFORCE_LOCATOR_ALIS_UNQ_FLAG]
				  ,a.[EPC_GENERATION_ENABLED_FLAG]
				  ,a.[COMPANY_PREFIX]
				  ,a.[COMPANY_PREFIX_INDEX]
				  ,a.[COMMERCIAL_GOVT_ENTITY_NUMBER]
				  ,a.[LABOR_MANAGEMENT_ENABLED_FLAG]
				  ,a.[DEFAULT_STATUS_ID]
				  ,a.[LCM_ENABLED_FLAG]
				  ,a.[LCM_VAR_ACCOUNT]
				  ,a.[OPSM_ENABLED_FLAG]
				  ,a.[ALLOCATE_LOT_FLAG]
				  ,a.[Fingerprint]
				  ,$Action AS Action
		) a
		WHERE Action = 'Update'
		;

	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Done', GETDATE()

	DROP TABLE #parameters

END
GO
