USE [Operations]
GO
/****** Object:  StoredProcedure [Oracle].[Merge_APPS_MTL_CROSS_REFERENCES]    Script Date: 7/10/2025 11:43:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Oracle].[Merge_APPS_MTL_CROSS_REFERENCES] AS BEGIN

	CREATE TABLE #crossReference (
		[ID] INT IDENTITY(1,1) NOT NULL,
		[ROW_ID] [char](18) COLLATE SQL_Latin1_General_CP1_CS_AS NULL,
		[CROSS_REFERENCE_ID] [float] NOT NULL,
		[INVENTORY_ITEM_ID] [float] NOT NULL,
		[ORGANIZATION_ID] [float] NULL,
		[CROSS_REFERENCE_TYPE] [nvarchar](25) NOT NULL,
		[CROSS_REFERENCE] [nvarchar](255) NOT NULL,
		[DESCRIPTION] [nvarchar](240) NULL,
		[LAST_UPDATE_DATE] [datetime2](7) NOT NULL,
		[LAST_UPDATED_BY] [float] NOT NULL,
		[CREATION_DATE] [datetime2](7) NOT NULL,
		[CREATED_BY] [float] NOT NULL,
		[LAST_UPDATE_LOGIN] [float] NULL,
		[REQUEST_ID] [float] NULL,
		[PROGRAM_APPLICATION_ID] [float] NULL,
		[PROGRAM_ID] [float] NULL,
		[PROGRAM_UPDATE_DATE] [datetime2](7) NULL,
		[ATTRIBUTE_CATEGORY] [nvarchar](150) NULL,
		[ATTRIBUTE1] [nvarchar](150) NULL,
		[ATTRIBUTE2] [nvarchar](150) NULL,
		[ATTRIBUTE3] [nvarchar](150) NULL,
		[ATTRIBUTE4] [nvarchar](150) NULL,
		[ATTRIBUTE5] [nvarchar](150) NULL,
		[ATTRIBUTE6] [nvarchar](150) NULL,
		[ATTRIBUTE7] [nvarchar](150) NULL,
		[ATTRIBUTE8] [nvarchar](150) NULL,
		[ATTRIBUTE9] [nvarchar](150) NULL,
		[ATTRIBUTE10] [nvarchar](150) NULL,
		[ATTRIBUTE11] [nvarchar](150) NULL,
		[ATTRIBUTE12] [nvarchar](150) NULL,
		[ATTRIBUTE13] [nvarchar](150) NULL,
		[ATTRIBUTE14] [nvarchar](150) NULL,
		[ATTRIBUTE15] [nvarchar](150) NULL,
		[ORG_INDEPENDENT_FLAG] [nvarchar](1) NOT NULL,
		[UOM_CODE] [nvarchar](3) NULL,
		[REVISION_ID] [float] NULL,
		[EPC_GTIN_SERIAL] [float] NULL,
		[SOURCE_SYSTEM_ID] [float] NULL,
		[START_DATE_ACTIVE] [datetime2](7) NULL,
		[END_DATE_ACTIVE] [datetime2](7) NULL,
		[OBJECT_VERSION_NUMBER] [float] NULL,
		[Fingerprint] [varchar](32) NOT NULL
	)

	INSERT INTO #crossReference (
			 [ROW_ID]
			,[CROSS_REFERENCE_ID]
			,[INVENTORY_ITEM_ID]
			,[ORGANIZATION_ID]
			,[CROSS_REFERENCE_TYPE]
			,[CROSS_REFERENCE]
			,[DESCRIPTION]
			,[LAST_UPDATE_DATE]
			,[LAST_UPDATED_BY]
			,[CREATION_DATE]
			,[CREATED_BY]
			,[LAST_UPDATE_LOGIN]
			,[REQUEST_ID]
			,[PROGRAM_APPLICATION_ID]
			,[PROGRAM_ID]
			,[PROGRAM_UPDATE_DATE]
			,[ATTRIBUTE_CATEGORY]
			,[ATTRIBUTE1]
			,[ATTRIBUTE2]
			,[ATTRIBUTE3]
			,[ATTRIBUTE4]
			,[ATTRIBUTE5]
			,[ATTRIBUTE6]
			,[ATTRIBUTE7]
			,[ATTRIBUTE8]
			,[ATTRIBUTE9]
			,[ATTRIBUTE10]
			,[ATTRIBUTE11]
			,[ATTRIBUTE12]
			,[ATTRIBUTE13]
			,[ATTRIBUTE14]
			,[ATTRIBUTE15]
			,[ORG_INDEPENDENT_FLAG]
			,[UOM_CODE]
			,[REVISION_ID]
			,[EPC_GTIN_SERIAL]
			,[SOURCE_SYSTEM_ID]
			,[START_DATE_ACTIVE]
			,[END_DATE_ACTIVE]
			,[OBJECT_VERSION_NUMBER]
			,[Fingerprint]
	)
	SELECT 
		   [ROW_ID]
		  ,[CROSS_REFERENCE_ID]
		  ,[INVENTORY_ITEM_ID]
		  ,[ORGANIZATION_ID]
		  ,[CROSS_REFERENCE_TYPE]
		  ,[CROSS_REFERENCE]
		  ,[DESCRIPTION]
		  ,[LAST_UPDATE_DATE]
		  ,[LAST_UPDATED_BY]
		  ,[CREATION_DATE]
		  ,[CREATED_BY]
		  ,[LAST_UPDATE_LOGIN]
		  ,[REQUEST_ID]
		  ,[PROGRAM_APPLICATION_ID]
		  ,[PROGRAM_ID]
		  ,[PROGRAM_UPDATE_DATE]
		  ,[ATTRIBUTE_CATEGORY]
		  ,[ATTRIBUTE1]
		  ,[ATTRIBUTE2]
		  ,[ATTRIBUTE3]
		  ,[ATTRIBUTE4]
		  ,[ATTRIBUTE5]
		  ,[ATTRIBUTE6]
		  ,[ATTRIBUTE7]
		  ,[ATTRIBUTE8]
		  ,[ATTRIBUTE9]
		  ,[ATTRIBUTE10]
		  ,[ATTRIBUTE11]
		  ,[ATTRIBUTE12]
		  ,[ATTRIBUTE13]
		  ,[ATTRIBUTE14]
		  ,[ATTRIBUTE15]
		  ,[ORG_INDEPENDENT_FLAG]
		  ,[UOM_CODE]
		  ,[REVISION_ID]
		  ,[EPC_GTIN_SERIAL]
		  ,[SOURCE_SYSTEM_ID]
		  ,[START_DATE_ACTIVE]
		  ,[END_DATE_ACTIVE]
		  ,[OBJECT_VERSION_NUMBER]
		  ,'XXX' AS [Fingerprint]
	FROM OPENQUERY(PROD,'SELECT * FROM MTL_CROSS_REFERENCES')

	/*
		DECLARE @columnList VARCHAR(MAX) = dbo.getHashField ('APPS_MTL_CROSS_REFERENCES','Oracle') SELECT @columnList
	*/
	UPDATE #crossReference
	SET Fingerprint = 
		SUBSTRING(LOWER(CONVERT(VARCHAR(32),HASHBYTES('MD5',
			--replace @columnList result here
				   CAST(ISNULL(ROW_ID COLLATE SQL_Latin1_General_CP1_CS_AS,'') AS VARCHAR(50)) +  CAST(ISNULL(CROSS_REFERENCE_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(INVENTORY_ITEM_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(ORGANIZATION_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(CROSS_REFERENCE_TYPE,'') AS VARCHAR(25)) +  CAST(ISNULL(CROSS_REFERENCE,'') AS VARCHAR(255)) +  CAST(ISNULL(DESCRIPTION,'') AS VARCHAR(240)) +  CAST(ISNULL(LAST_UPDATE_DATE,'') AS VARCHAR(100)) +  CAST(ISNULL(LAST_UPDATED_BY,'0') AS VARCHAR(100)) +  CAST(ISNULL(CREATION_DATE,'') AS VARCHAR(100)) +  CAST(ISNULL(CREATED_BY,'0') AS VARCHAR(100)) +  CAST(ISNULL(LAST_UPDATE_LOGIN,'0') AS VARCHAR(100)) +  CAST(ISNULL(REQUEST_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(PROGRAM_APPLICATION_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(PROGRAM_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(PROGRAM_UPDATE_DATE,'') AS VARCHAR(100)) +  CAST(ISNULL(ATTRIBUTE_CATEGORY,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE1,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE2,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE3,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE4,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE5,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE6,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE7,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE8,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE9,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE10,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE11,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE12,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE13,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE14,'') AS VARCHAR(150)) +  CAST(ISNULL(ATTRIBUTE15,'') AS VARCHAR(150)) +  CAST(ISNULL(ORG_INDEPENDENT_FLAG,'') AS VARCHAR(1)) +  CAST(ISNULL(UOM_CODE,'') AS VARCHAR(3)) +  CAST(ISNULL(REVISION_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(EPC_GTIN_SERIAL,'0') AS VARCHAR(100)) +  CAST(ISNULL(SOURCE_SYSTEM_ID,'0') AS VARCHAR(100)) +  CAST(ISNULL(START_DATE_ACTIVE,'') AS VARCHAR(100)) +  CAST(ISNULL(END_DATE_ACTIVE,'') AS VARCHAR(100)) +  CAST(ISNULL(OBJECT_VERSION_NUMBER,'0') AS VARCHAR(100)) 
		),1)),3,32);


	--expire records outside the merge
	INSERT INTO Oracle.APPS_MTL_CROSS_REFERENCES (
			 [ROW_ID]
			,[CROSS_REFERENCE_ID]
			,[INVENTORY_ITEM_ID]
			,[ORGANIZATION_ID]
			,[CROSS_REFERENCE_TYPE]
			,[CROSS_REFERENCE]
			,[DESCRIPTION]
			,[LAST_UPDATE_DATE]
			,[LAST_UPDATED_BY]
			,[CREATION_DATE]
			,[CREATED_BY]
			,[LAST_UPDATE_LOGIN]
			,[REQUEST_ID]
			,[PROGRAM_APPLICATION_ID]
			,[PROGRAM_ID]
			,[PROGRAM_UPDATE_DATE]
			,[ATTRIBUTE_CATEGORY]
			,[ATTRIBUTE1]
			,[ATTRIBUTE2]
			,[ATTRIBUTE3]
			,[ATTRIBUTE4]
			,[ATTRIBUTE5]
			,[ATTRIBUTE6]
			,[ATTRIBUTE7]
			,[ATTRIBUTE8]
			,[ATTRIBUTE9]
			,[ATTRIBUTE10]
			,[ATTRIBUTE11]
			,[ATTRIBUTE12]
			,[ATTRIBUTE13]
			,[ATTRIBUTE14]
			,[ATTRIBUTE15]
			,[ORG_INDEPENDENT_FLAG]
			,[UOM_CODE]
			,[REVISION_ID]
			,[EPC_GTIN_SERIAL]
			,[SOURCE_SYSTEM_ID]
			,[START_DATE_ACTIVE]
			,[END_DATE_ACTIVE]
			,[OBJECT_VERSION_NUMBER]
			,[Fingerprint]
	)
		SELECT 
				 a.[ROW_ID]
				,a.[CROSS_REFERENCE_ID]
				,a.[INVENTORY_ITEM_ID]
				,a.[ORGANIZATION_ID]
				,a.[CROSS_REFERENCE_TYPE]
				,a.[CROSS_REFERENCE]
				,a.[DESCRIPTION]
				,a.[LAST_UPDATE_DATE]
				,a.[LAST_UPDATED_BY]
				,a.[CREATION_DATE]
				,a.[CREATED_BY]
				,a.[LAST_UPDATE_LOGIN]
				,a.[REQUEST_ID]
				,a.[PROGRAM_APPLICATION_ID]
				,a.[PROGRAM_ID]
				,a.[PROGRAM_UPDATE_DATE]
				,a.[ATTRIBUTE_CATEGORY]
				,a.[ATTRIBUTE1]
				,a.[ATTRIBUTE2]
				,a.[ATTRIBUTE3]
				,a.[ATTRIBUTE4]
				,a.[ATTRIBUTE5]
				,a.[ATTRIBUTE6]
				,a.[ATTRIBUTE7]
				,a.[ATTRIBUTE8]
				,a.[ATTRIBUTE9]
				,a.[ATTRIBUTE10]
				,a.[ATTRIBUTE11]
				,a.[ATTRIBUTE12]
				,a.[ATTRIBUTE13]
				,a.[ATTRIBUTE14]
				,a.[ATTRIBUTE15]
				,a.[ORG_INDEPENDENT_FLAG]
				,a.[UOM_CODE]
				,a.[REVISION_ID]
				,a.[EPC_GTIN_SERIAL]
				,a.[SOURCE_SYSTEM_ID]
				,a.[START_DATE_ACTIVE]
				,a.[END_DATE_ACTIVE]
				,a.[OBJECT_VERSION_NUMBER]
				,a.[Fingerprint]
			FROM (
				MERGE Oracle.APPS_MTL_CROSS_REFERENCES b
				USING (SELECT * FROM #crossreference) a
				ON a.Row_ID = b.Row_ID AND b.CurrentRecord = 1 --swap with business key of table
				WHEN NOT MATCHED --BY TARGET 
				THEN INSERT (
					 [ROW_ID]
					,[CROSS_REFERENCE_ID]
					,[INVENTORY_ITEM_ID]
					,[ORGANIZATION_ID]
					,[CROSS_REFERENCE_TYPE]
					,[CROSS_REFERENCE]
					,[DESCRIPTION]
					,[LAST_UPDATE_DATE]
					,[LAST_UPDATED_BY]
					,[CREATION_DATE]
					,[CREATED_BY]
					,[LAST_UPDATE_LOGIN]
					,[REQUEST_ID]
					,[PROGRAM_APPLICATION_ID]
					,[PROGRAM_ID]
					,[PROGRAM_UPDATE_DATE]
					,[ATTRIBUTE_CATEGORY]
					,[ATTRIBUTE1]
					,[ATTRIBUTE2]
					,[ATTRIBUTE3]
					,[ATTRIBUTE4]
					,[ATTRIBUTE5]
					,[ATTRIBUTE6]
					,[ATTRIBUTE7]
					,[ATTRIBUTE8]
					,[ATTRIBUTE9]
					,[ATTRIBUTE10]
					,[ATTRIBUTE11]
					,[ATTRIBUTE12]
					,[ATTRIBUTE13]
					,[ATTRIBUTE14]
					,[ATTRIBUTE15]
					,[ORG_INDEPENDENT_FLAG]
					,[UOM_CODE]
					,[REVISION_ID]
					,[EPC_GTIN_SERIAL]
					,[SOURCE_SYSTEM_ID]
					,[START_DATE_ACTIVE]
					,[END_DATE_ACTIVE]
					,[OBJECT_VERSION_NUMBER]
					,[Fingerprint]			
			)
			VALUES (
					 a.[ROW_ID]
					,a.[CROSS_REFERENCE_ID]
					,a.[INVENTORY_ITEM_ID]
					,a.[ORGANIZATION_ID]
					,a.[CROSS_REFERENCE_TYPE]
					,a.[CROSS_REFERENCE]
					,a.[DESCRIPTION]
					,a.[LAST_UPDATE_DATE]
					,a.[LAST_UPDATED_BY]
					,a.[CREATION_DATE]
					,a.[CREATED_BY]
					,a.[LAST_UPDATE_LOGIN]
					,a.[REQUEST_ID]
					,a.[PROGRAM_APPLICATION_ID]
					,a.[PROGRAM_ID]
					,a.[PROGRAM_UPDATE_DATE]
					,a.[ATTRIBUTE_CATEGORY]
					,a.[ATTRIBUTE1]
					,a.[ATTRIBUTE2]
					,a.[ATTRIBUTE3]
					,a.[ATTRIBUTE4]
					,a.[ATTRIBUTE5]
					,a.[ATTRIBUTE6]
					,a.[ATTRIBUTE7]
					,a.[ATTRIBUTE8]
					,a.[ATTRIBUTE9]
					,a.[ATTRIBUTE10]
					,a.[ATTRIBUTE11]
					,a.[ATTRIBUTE12]
					,a.[ATTRIBUTE13]
					,a.[ATTRIBUTE14]
					,a.[ATTRIBUTE15]
					,a.[ORG_INDEPENDENT_FLAG]
					,a.[UOM_CODE]
					,a.[REVISION_ID]
					,a.[EPC_GTIN_SERIAL]
					,a.[SOURCE_SYSTEM_ID]
					,a.[START_DATE_ACTIVE]
					,a.[END_DATE_ACTIVE]
					,a.[OBJECT_VERSION_NUMBER]
					,a.[Fingerprint]			
			)
			--Existing records that have changed are expired
			WHEN MATCHED AND a.Fingerprint<>b.Fingerprint
			THEN UPDATE SET b.EndDate=GETDATE()
				,b.CurrentRecord=0
			OUTPUT 
					 a.[ROW_ID]
					,a.[CROSS_REFERENCE_ID]
					,a.[INVENTORY_ITEM_ID]
					,a.[ORGANIZATION_ID]
					,a.[CROSS_REFERENCE_TYPE]
					,a.[CROSS_REFERENCE]
					,a.[DESCRIPTION]
					,a.[LAST_UPDATE_DATE]
					,a.[LAST_UPDATED_BY]
					,a.[CREATION_DATE]
					,a.[CREATED_BY]
					,a.[LAST_UPDATE_LOGIN]
					,a.[REQUEST_ID]
					,a.[PROGRAM_APPLICATION_ID]
					,a.[PROGRAM_ID]
					,a.[PROGRAM_UPDATE_DATE]
					,a.[ATTRIBUTE_CATEGORY]
					,a.[ATTRIBUTE1]
					,a.[ATTRIBUTE2]
					,a.[ATTRIBUTE3]
					,a.[ATTRIBUTE4]
					,a.[ATTRIBUTE5]
					,a.[ATTRIBUTE6]
					,a.[ATTRIBUTE7]
					,a.[ATTRIBUTE8]
					,a.[ATTRIBUTE9]
					,a.[ATTRIBUTE10]
					,a.[ATTRIBUTE11]
					,a.[ATTRIBUTE12]
					,a.[ATTRIBUTE13]
					,a.[ATTRIBUTE14]
					,a.[ATTRIBUTE15]
					,a.[ORG_INDEPENDENT_FLAG]
					,a.[UOM_CODE]
					,a.[REVISION_ID]
					,a.[EPC_GTIN_SERIAL]
					,a.[SOURCE_SYSTEM_ID]
					,a.[START_DATE_ACTIVE]
					,a.[END_DATE_ACTIVE]
					,a.[OBJECT_VERSION_NUMBER]
					,a.[Fingerprint]			
				  ,$Action AS Action
		) a
		WHERE Action = 'Update'
		;

	DROP TABLE #crossReference

END

--TRUNCATE TABLE Oracle.APPS_MTL_CROSS_REFERENCES
GO
