USE [Operations]
GO
/****** Object:  StoredProcedure [Oracle].[Merge_GL_GL_CODE_COMBINATIONS]    Script Date: 7/10/2025 11:43:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [Oracle].[Merge_GL_GL_CODE_COMBINATIONS] AS BEGIN

	CREATE TABLE #Account (
		[CODE_COMBINATION_ID] [numeric](15, 0) NOT NULL,
		[LAST_UPDATE_DATE] [datetime2](7) NOT NULL,
		[LAST_UPDATED_BY] [float] NOT NULL,
		[CHART_OF_ACCOUNTS_ID] [numeric](15, 0) NOT NULL,
		[DETAIL_POSTING_ALLOWED_FLAG] [nvarchar](1) NOT NULL,
		[DETAIL_BUDGETING_ALLOWED_FLAG] [nvarchar](1) NOT NULL,
		[ACCOUNT_TYPE] [nvarchar](1) NOT NULL,
		[ENABLED_FLAG] [nvarchar](1) NOT NULL,
		[SUMMARY_FLAG] [nvarchar](1) NOT NULL,
		[SEGMENT1] [nvarchar](25) NULL,
		[SEGMENT2] [nvarchar](25) NULL,
		[SEGMENT3] [nvarchar](25) NULL,
		[SEGMENT4] [nvarchar](25) NULL,
		[SEGMENT5] [nvarchar](25) NULL,
		[SEGMENT6] [nvarchar](25) NULL,
		[SEGMENT7] [nvarchar](25) NULL,
		[SEGMENT8] [nvarchar](25) NULL,
		[SEGMENT9] [nvarchar](25) NULL,
		[SEGMENT10] [nvarchar](25) NULL,
		[SEGMENT11] [nvarchar](25) NULL,
		[SEGMENT12] [nvarchar](25) NULL,
		[SEGMENT13] [nvarchar](25) NULL,
		[SEGMENT14] [nvarchar](25) NULL,
		[SEGMENT15] [nvarchar](25) NULL,
		[SEGMENT16] [nvarchar](25) NULL,
		[SEGMENT17] [nvarchar](25) NULL,
		[SEGMENT18] [nvarchar](25) NULL,
		[SEGMENT19] [nvarchar](25) NULL,
		[SEGMENT20] [nvarchar](25) NULL,
		[SEGMENT21] [nvarchar](25) NULL,
		[SEGMENT22] [nvarchar](25) NULL,
		[SEGMENT23] [nvarchar](25) NULL,
		[SEGMENT24] [nvarchar](25) NULL,
		[SEGMENT25] [nvarchar](25) NULL,
		[SEGMENT26] [nvarchar](25) NULL,
		[SEGMENT27] [nvarchar](25) NULL,
		[SEGMENT28] [nvarchar](25) NULL,
		[SEGMENT29] [nvarchar](25) NULL,
		[SEGMENT30] [nvarchar](25) NULL,
		[DESCRIPTION] [nvarchar](240) NULL,
		[TEMPLATE_ID] [numeric](15, 0) NULL,
		[ALLOCATION_CREATE_FLAG] [nvarchar](1) NULL,
		[START_DATE_ACTIVE] [datetime2](7) NULL,
		[END_DATE_ACTIVE] [datetime2](7) NULL,
		[ATTRIBUTE1] [nvarchar](150) NULL,
		[ATTRIBUTE2] [nvarchar](150) NULL,
		[ATTRIBUTE3] [nvarchar](150) NULL,
		[ATTRIBUTE4] [nvarchar](150) NULL,
		[ATTRIBUTE5] [nvarchar](150) NULL,
		[ATTRIBUTE6] [nvarchar](150) NULL,
		[ATTRIBUTE7] [nvarchar](150) NULL,
		[ATTRIBUTE8] [nvarchar](150) NULL,
		[ATTRIBUTE9] [nvarchar](150) NULL,
		[ATTRIBUTE10] [nvarchar](150) NULL,
		[CONTEXT] [nvarchar](150) NULL,
		[SEGMENT_ATTRIBUTE1] [nvarchar](60) NULL,
		[SEGMENT_ATTRIBUTE2] [nvarchar](60) NULL,
		[SEGMENT_ATTRIBUTE3] [nvarchar](60) NULL,
		[SEGMENT_ATTRIBUTE4] [nvarchar](60) NULL,
		[SEGMENT_ATTRIBUTE5] [nvarchar](60) NULL,
		[SEGMENT_ATTRIBUTE6] [nvarchar](60) NULL,
		[SEGMENT_ATTRIBUTE7] [nvarchar](60) NULL,
		[SEGMENT_ATTRIBUTE8] [nvarchar](60) NULL,
		[SEGMENT_ATTRIBUTE9] [nvarchar](60) NULL,
		[SEGMENT_ATTRIBUTE10] [nvarchar](60) NULL,
		[SEGMENT_ATTRIBUTE11] [nvarchar](60) NULL,
		[SEGMENT_ATTRIBUTE12] [nvarchar](60) NULL,
		[SEGMENT_ATTRIBUTE13] [nvarchar](60) NULL,
		[SEGMENT_ATTRIBUTE14] [nvarchar](60) NULL,
		[SEGMENT_ATTRIBUTE15] [nvarchar](60) NULL,
		[SEGMENT_ATTRIBUTE16] [nvarchar](60) NULL,
		[SEGMENT_ATTRIBUTE17] [nvarchar](60) NULL,
		[SEGMENT_ATTRIBUTE18] [nvarchar](60) NULL,
		[SEGMENT_ATTRIBUTE19] [nvarchar](60) NULL,
		[SEGMENT_ATTRIBUTE20] [nvarchar](60) NULL,
		[SEGMENT_ATTRIBUTE21] [nvarchar](60) NULL,
		[SEGMENT_ATTRIBUTE22] [nvarchar](60) NULL,
		[SEGMENT_ATTRIBUTE23] [nvarchar](60) NULL,
		[SEGMENT_ATTRIBUTE24] [nvarchar](60) NULL,
		[SEGMENT_ATTRIBUTE25] [nvarchar](60) NULL,
		[SEGMENT_ATTRIBUTE26] [nvarchar](60) NULL,
		[SEGMENT_ATTRIBUTE27] [nvarchar](60) NULL,
		[SEGMENT_ATTRIBUTE28] [nvarchar](60) NULL,
		[SEGMENT_ATTRIBUTE29] [nvarchar](60) NULL,
		[SEGMENT_ATTRIBUTE30] [nvarchar](60) NULL,
		[SEGMENT_ATTRIBUTE31] [nvarchar](60) NULL,
		[SEGMENT_ATTRIBUTE32] [nvarchar](60) NULL,
		[SEGMENT_ATTRIBUTE33] [nvarchar](60) NULL,
		[SEGMENT_ATTRIBUTE34] [nvarchar](60) NULL,
		[SEGMENT_ATTRIBUTE35] [nvarchar](60) NULL,
		[SEGMENT_ATTRIBUTE36] [nvarchar](60) NULL,
		[SEGMENT_ATTRIBUTE37] [nvarchar](60) NULL,
		[SEGMENT_ATTRIBUTE38] [nvarchar](60) NULL,
		[SEGMENT_ATTRIBUTE39] [nvarchar](60) NULL,
		[SEGMENT_ATTRIBUTE40] [nvarchar](60) NULL,
		[SEGMENT_ATTRIBUTE41] [nvarchar](60) NULL,
		[SEGMENT_ATTRIBUTE42] [nvarchar](60) NULL,
		[REFERENCE1] [nvarchar](1) NULL,
		[REFERENCE2] [nvarchar](1) NULL,
		[REFERENCE3] [nvarchar](25) NULL,
		[REFERENCE4] [nvarchar](1) NULL,
		[REFERENCE5] [nvarchar](1) NULL,
		[JGZZ_RECON_FLAG] [nvarchar](1) NULL,
		[JGZZ_RECON_CONTEXT] [nvarchar](30) NULL,
		[PRESERVE_FLAG] [nvarchar](1) NULL,
		[REFRESH_FLAG] [nvarchar](1) NULL,
		[IGI_BALANCED_BUDGET_FLAG] [nvarchar](1) NULL,
		[COMPANY_COST_CENTER_ORG_ID] [numeric](15, 0) NULL,
		[REVALUATION_ID] [numeric](15, 0) NULL,
		[LEDGER_SEGMENT] [nvarchar](20) NULL,
		[LEDGER_TYPE_CODE] [nvarchar](1) NULL,
		[ALTERNATE_CODE_COMBINATION_ID] [numeric](15, 0) NULL,
		[Fingerprint] [VARCHAR](32) NOT NULL
	) ON [PRIMARY]

	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Oracle Download', GETDATE()
	
	INSERT INTO #Account (
		   [CODE_COMBINATION_ID]
		  ,[LAST_UPDATE_DATE]
		  ,[LAST_UPDATED_BY]
		  ,[CHART_OF_ACCOUNTS_ID]
		  ,[DETAIL_POSTING_ALLOWED_FLAG]
		  ,[DETAIL_BUDGETING_ALLOWED_FLAG]
		  ,[ACCOUNT_TYPE]
		  ,[ENABLED_FLAG]
		  ,[SUMMARY_FLAG]
		  ,[SEGMENT1]
		  ,[SEGMENT2]
		  ,[SEGMENT3]
		  ,[SEGMENT4]
		  ,[SEGMENT5]
		  ,[SEGMENT6]
		  ,[SEGMENT7]
		  ,[SEGMENT8]
		  ,[SEGMENT9]
		  ,[SEGMENT10]
		  ,[SEGMENT11]
		  ,[SEGMENT12]
		  ,[SEGMENT13]
		  ,[SEGMENT14]
		  ,[SEGMENT15]
		  ,[SEGMENT16]
		  ,[SEGMENT17]
		  ,[SEGMENT18]
		  ,[SEGMENT19]
		  ,[SEGMENT20]
		  ,[SEGMENT21]
		  ,[SEGMENT22]
		  ,[SEGMENT23]
		  ,[SEGMENT24]
		  ,[SEGMENT25]
		  ,[SEGMENT26]
		  ,[SEGMENT27]
		  ,[SEGMENT28]
		  ,[SEGMENT29]
		  ,[SEGMENT30]
		  ,[DESCRIPTION]
		  ,[TEMPLATE_ID]
		  ,[ALLOCATION_CREATE_FLAG]
		  ,[START_DATE_ACTIVE]
		  ,[END_DATE_ACTIVE]
		  ,[ATTRIBUTE1]
		  ,[ATTRIBUTE2]
		  ,[ATTRIBUTE3]
		  ,[ATTRIBUTE4]
		  ,[ATTRIBUTE5]
		  ,[ATTRIBUTE6]
		  ,[ATTRIBUTE7]
		  ,[ATTRIBUTE8]
		  ,[ATTRIBUTE9]
		  ,[ATTRIBUTE10]
		  ,[CONTEXT]
		  ,[SEGMENT_ATTRIBUTE1]
		  ,[SEGMENT_ATTRIBUTE2]
		  ,[SEGMENT_ATTRIBUTE3]
		  ,[SEGMENT_ATTRIBUTE4]
		  ,[SEGMENT_ATTRIBUTE5]
		  ,[SEGMENT_ATTRIBUTE6]
		  ,[SEGMENT_ATTRIBUTE7]
		  ,[SEGMENT_ATTRIBUTE8]
		  ,[SEGMENT_ATTRIBUTE9]
		  ,[SEGMENT_ATTRIBUTE10]
		  ,[SEGMENT_ATTRIBUTE11]
		  ,[SEGMENT_ATTRIBUTE12]
		  ,[SEGMENT_ATTRIBUTE13]
		  ,[SEGMENT_ATTRIBUTE14]
		  ,[SEGMENT_ATTRIBUTE15]
		  ,[SEGMENT_ATTRIBUTE16]
		  ,[SEGMENT_ATTRIBUTE17]
		  ,[SEGMENT_ATTRIBUTE18]
		  ,[SEGMENT_ATTRIBUTE19]
		  ,[SEGMENT_ATTRIBUTE20]
		  ,[SEGMENT_ATTRIBUTE21]
		  ,[SEGMENT_ATTRIBUTE22]
		  ,[SEGMENT_ATTRIBUTE23]
		  ,[SEGMENT_ATTRIBUTE24]
		  ,[SEGMENT_ATTRIBUTE25]
		  ,[SEGMENT_ATTRIBUTE26]
		  ,[SEGMENT_ATTRIBUTE27]
		  ,[SEGMENT_ATTRIBUTE28]
		  ,[SEGMENT_ATTRIBUTE29]
		  ,[SEGMENT_ATTRIBUTE30]
		  ,[SEGMENT_ATTRIBUTE31]
		  ,[SEGMENT_ATTRIBUTE32]
		  ,[SEGMENT_ATTRIBUTE33]
		  ,[SEGMENT_ATTRIBUTE34]
		  ,[SEGMENT_ATTRIBUTE35]
		  ,[SEGMENT_ATTRIBUTE36]
		  ,[SEGMENT_ATTRIBUTE37]
		  ,[SEGMENT_ATTRIBUTE38]
		  ,[SEGMENT_ATTRIBUTE39]
		  ,[SEGMENT_ATTRIBUTE40]
		  ,[SEGMENT_ATTRIBUTE41]
		  ,[SEGMENT_ATTRIBUTE42]
		  ,[REFERENCE1]
		  ,[REFERENCE2]
		  ,[REFERENCE3]
		  ,[REFERENCE4]
		  ,[REFERENCE5]
		  ,[JGZZ_RECON_FLAG]
		  ,[JGZZ_RECON_CONTEXT]
		  ,[PRESERVE_FLAG]
		  ,[REFRESH_FLAG]
		  ,[IGI_BALANCED_BUDGET_FLAG]
		  ,[COMPANY_COST_CENTER_ORG_ID]
		  ,[REVALUATION_ID]
		  ,[LEDGER_SEGMENT]
		  ,[LEDGER_TYPE_CODE]
		  ,[ALTERNATE_CODE_COMBINATION_ID]
		  ,[Fingerprint]
	)
	SELECT *, 'XXXXXXXXXXX' 
	FROM OPENQUERY(PROD, 
	'SELECT DISTINCT 
		   glcc.CODE_COMBINATION_ID
		  ,glcc.LAST_UPDATE_DATE
		  ,glcc.LAST_UPDATED_BY
		  ,glcc.CHART_OF_ACCOUNTS_ID
		  ,glcc.DETAIL_POSTING_ALLOWED_FLAG
		  ,glcc.DETAIL_BUDGETING_ALLOWED_FLAG
		  ,glcc.ACCOUNT_TYPE
		  ,glcc.ENABLED_FLAG
		  ,glcc.SUMMARY_FLAG
		  ,glcc.SEGMENT1
		  ,glcc.SEGMENT2
		  ,glcc.SEGMENT3
		  ,glcc.SEGMENT4
		  ,glcc.SEGMENT5
		  ,glcc.SEGMENT6
		  ,glcc.SEGMENT7
		  ,glcc.SEGMENT8
		  ,glcc.SEGMENT9
		  ,glcc.SEGMENT10
		  ,glcc.SEGMENT11
		  ,glcc.SEGMENT12
		  ,glcc.SEGMENT13
		  ,glcc.SEGMENT14
		  ,glcc.SEGMENT15
		  ,glcc.SEGMENT16
		  ,glcc.SEGMENT17
		  ,glcc.SEGMENT18
		  ,glcc.SEGMENT19
		  ,glcc.SEGMENT20
		  ,glcc.SEGMENT21
		  ,glcc.SEGMENT22
		  ,glcc.SEGMENT23
		  ,glcc.SEGMENT24
		  ,glcc.SEGMENT25
		  ,glcc.SEGMENT26
		  ,glcc.SEGMENT27
		  ,glcc.SEGMENT28
		  ,glcc.SEGMENT29
		  ,glcc.SEGMENT30
		  ,MAX(A4.DESCRIPTION) AS DESCRIPTION
		  ,glcc.TEMPLATE_ID
		  ,glcc.ALLOCATION_CREATE_FLAG
		  ,glcc.START_DATE_ACTIVE
		  ,glcc.END_DATE_ACTIVE
		  ,glcc.ATTRIBUTE1
		  ,glcc.ATTRIBUTE2
		  ,glcc.ATTRIBUTE3
		  ,glcc.ATTRIBUTE4
		  ,glcc.ATTRIBUTE5
		  ,glcc.ATTRIBUTE6
		  ,glcc.ATTRIBUTE7
		  ,glcc.ATTRIBUTE8
		  ,glcc.ATTRIBUTE9
		  ,glcc.ATTRIBUTE10
		  ,glcc.CONTEXT
		  ,glcc.SEGMENT_ATTRIBUTE1
		  ,glcc.SEGMENT_ATTRIBUTE2
		  ,glcc.SEGMENT_ATTRIBUTE3
		  ,glcc.SEGMENT_ATTRIBUTE4
		  ,glcc.SEGMENT_ATTRIBUTE5
		  ,glcc.SEGMENT_ATTRIBUTE6
		  ,glcc.SEGMENT_ATTRIBUTE7
		  ,glcc.SEGMENT_ATTRIBUTE8
		  ,glcc.SEGMENT_ATTRIBUTE9
		  ,glcc.SEGMENT_ATTRIBUTE10
		  ,glcc.SEGMENT_ATTRIBUTE11
		  ,glcc.SEGMENT_ATTRIBUTE12
		  ,glcc.SEGMENT_ATTRIBUTE13
		  ,glcc.SEGMENT_ATTRIBUTE14
		  ,glcc.SEGMENT_ATTRIBUTE15
		  ,glcc.SEGMENT_ATTRIBUTE16
		  ,glcc.SEGMENT_ATTRIBUTE17
		  ,glcc.SEGMENT_ATTRIBUTE18
		  ,glcc.SEGMENT_ATTRIBUTE19
		  ,glcc.SEGMENT_ATTRIBUTE20
		  ,glcc.SEGMENT_ATTRIBUTE21
		  ,glcc.SEGMENT_ATTRIBUTE22
		  ,glcc.SEGMENT_ATTRIBUTE23
		  ,glcc.SEGMENT_ATTRIBUTE24
		  ,glcc.SEGMENT_ATTRIBUTE25
		  ,glcc.SEGMENT_ATTRIBUTE26
		  ,glcc.SEGMENT_ATTRIBUTE27
		  ,glcc.SEGMENT_ATTRIBUTE28
		  ,glcc.SEGMENT_ATTRIBUTE29
		  ,glcc.SEGMENT_ATTRIBUTE30
		  ,glcc.SEGMENT_ATTRIBUTE31
		  ,glcc.SEGMENT_ATTRIBUTE32
		  ,glcc.SEGMENT_ATTRIBUTE33
		  ,glcc.SEGMENT_ATTRIBUTE34
		  ,glcc.SEGMENT_ATTRIBUTE35
		  ,glcc.SEGMENT_ATTRIBUTE36
		  ,glcc.SEGMENT_ATTRIBUTE37
		  ,glcc.SEGMENT_ATTRIBUTE38
		  ,glcc.SEGMENT_ATTRIBUTE39
		  ,glcc.SEGMENT_ATTRIBUTE40
		  ,glcc.SEGMENT_ATTRIBUTE41
		  ,glcc.SEGMENT_ATTRIBUTE42
		  ,glcc.REFERENCE1
		  ,glcc.REFERENCE2
		  ,glcc.REFERENCE3
		  ,glcc.REFERENCE4
		  ,glcc.REFERENCE5
		  ,glcc.JGZZ_RECON_FLAG
		  ,glcc.JGZZ_RECON_CONTEXT
		  ,glcc.PRESERVE_FLAG
		  ,glcc.REFRESH_FLAG
		  ,glcc.IGI_BALANCED_BUDGET_FLAG
		  ,glcc.COMPANY_COST_CENTER_ORG_ID
		  ,glcc.REVALUATION_ID
		  ,glcc.LEDGER_SEGMENT
		  ,glcc.LEDGER_TYPE_CODE
		  ,glcc.ALTERNATE_CODE_COMBINATION_ID
	FROM gl.gl_code_combinations glcc,
		 fnd_flex_values_vl A1,
         fnd_flex_values_vl A2,
         fnd_flex_values_vl A3,
         fnd_flex_values_vl A4,
         fnd_flex_values_vl A5,
         fnd_flex_values_vl A6,
		 fnd_flex_values_vl A7
	WHERE    a1.flex_value = glcc.segment1
         AND a2.flex_value = glcc.segment2
         AND a3.flex_value = glcc.segment3
         AND a4.flex_value = glcc.segment4
         AND a5.flex_value = glcc.segment5
         AND a6.flex_value = glcc.segment6
		 AND a7.flex_value = glcc.segment7
		 AND a4.flex_value_set_id = 1014870
	GROUP BY 		   glcc.CODE_COMBINATION_ID
		  ,glcc.LAST_UPDATE_DATE
		  ,glcc.LAST_UPDATED_BY
		  ,glcc.CHART_OF_ACCOUNTS_ID
		  ,glcc.DETAIL_POSTING_ALLOWED_FLAG
		  ,glcc.DETAIL_BUDGETING_ALLOWED_FLAG
		  ,glcc.ACCOUNT_TYPE
		  ,glcc.ENABLED_FLAG
		  ,glcc.SUMMARY_FLAG
		  ,glcc.SEGMENT1
		  ,glcc.SEGMENT2
		  ,glcc.SEGMENT3
		  ,glcc.SEGMENT4
		  ,glcc.SEGMENT5
		  ,glcc.SEGMENT6
		  ,glcc.SEGMENT7
		  ,glcc.SEGMENT8
		  ,glcc.SEGMENT9
		  ,glcc.SEGMENT10
		  ,glcc.SEGMENT11
		  ,glcc.SEGMENT12
		  ,glcc.SEGMENT13
		  ,glcc.SEGMENT14
		  ,glcc.SEGMENT15
		  ,glcc.SEGMENT16
		  ,glcc.SEGMENT17
		  ,glcc.SEGMENT18
		  ,glcc.SEGMENT19
		  ,glcc.SEGMENT20
		  ,glcc.SEGMENT21
		  ,glcc.SEGMENT22
		  ,glcc.SEGMENT23
		  ,glcc.SEGMENT24
		  ,glcc.SEGMENT25
		  ,glcc.SEGMENT26
		  ,glcc.SEGMENT27
		  ,glcc.SEGMENT28
		  ,glcc.SEGMENT29
		  ,glcc.SEGMENT30
		  ,glcc.TEMPLATE_ID
		  ,glcc.ALLOCATION_CREATE_FLAG
		  ,glcc.START_DATE_ACTIVE
		  ,glcc.END_DATE_ACTIVE
		  ,glcc.ATTRIBUTE1
		  ,glcc.ATTRIBUTE2
		  ,glcc.ATTRIBUTE3
		  ,glcc.ATTRIBUTE4
		  ,glcc.ATTRIBUTE5
		  ,glcc.ATTRIBUTE6
		  ,glcc.ATTRIBUTE7
		  ,glcc.ATTRIBUTE8
		  ,glcc.ATTRIBUTE9
		  ,glcc.ATTRIBUTE10
		  ,glcc.CONTEXT
		  ,glcc.SEGMENT_ATTRIBUTE1
		  ,glcc.SEGMENT_ATTRIBUTE2
		  ,glcc.SEGMENT_ATTRIBUTE3
		  ,glcc.SEGMENT_ATTRIBUTE4
		  ,glcc.SEGMENT_ATTRIBUTE5
		  ,glcc.SEGMENT_ATTRIBUTE6
		  ,glcc.SEGMENT_ATTRIBUTE7
		  ,glcc.SEGMENT_ATTRIBUTE8
		  ,glcc.SEGMENT_ATTRIBUTE9
		  ,glcc.SEGMENT_ATTRIBUTE10
		  ,glcc.SEGMENT_ATTRIBUTE11
		  ,glcc.SEGMENT_ATTRIBUTE12
		  ,glcc.SEGMENT_ATTRIBUTE13
		  ,glcc.SEGMENT_ATTRIBUTE14
		  ,glcc.SEGMENT_ATTRIBUTE15
		  ,glcc.SEGMENT_ATTRIBUTE16
		  ,glcc.SEGMENT_ATTRIBUTE17
		  ,glcc.SEGMENT_ATTRIBUTE18
		  ,glcc.SEGMENT_ATTRIBUTE19
		  ,glcc.SEGMENT_ATTRIBUTE20
		  ,glcc.SEGMENT_ATTRIBUTE21
		  ,glcc.SEGMENT_ATTRIBUTE22
		  ,glcc.SEGMENT_ATTRIBUTE23
		  ,glcc.SEGMENT_ATTRIBUTE24
		  ,glcc.SEGMENT_ATTRIBUTE25
		  ,glcc.SEGMENT_ATTRIBUTE26
		  ,glcc.SEGMENT_ATTRIBUTE27
		  ,glcc.SEGMENT_ATTRIBUTE28
		  ,glcc.SEGMENT_ATTRIBUTE29
		  ,glcc.SEGMENT_ATTRIBUTE30
		  ,glcc.SEGMENT_ATTRIBUTE31
		  ,glcc.SEGMENT_ATTRIBUTE32
		  ,glcc.SEGMENT_ATTRIBUTE33
		  ,glcc.SEGMENT_ATTRIBUTE34
		  ,glcc.SEGMENT_ATTRIBUTE35
		  ,glcc.SEGMENT_ATTRIBUTE36
		  ,glcc.SEGMENT_ATTRIBUTE37
		  ,glcc.SEGMENT_ATTRIBUTE38
		  ,glcc.SEGMENT_ATTRIBUTE39
		  ,glcc.SEGMENT_ATTRIBUTE40
		  ,glcc.SEGMENT_ATTRIBUTE41
		  ,glcc.SEGMENT_ATTRIBUTE42
		  ,glcc.REFERENCE1
		  ,glcc.REFERENCE2
		  ,glcc.REFERENCE3
		  ,glcc.REFERENCE4
		  ,glcc.REFERENCE5
		  ,glcc.JGZZ_RECON_FLAG
		  ,glcc.JGZZ_RECON_CONTEXT
		  ,glcc.PRESERVE_FLAG
		  ,glcc.REFRESH_FLAG
		  ,glcc.IGI_BALANCED_BUDGET_FLAG
		  ,glcc.COMPANY_COST_CENTER_ORG_ID
		  ,glcc.REVALUATION_ID
		  ,glcc.LEDGER_SEGMENT
		  ,glcc.LEDGER_TYPE_CODE
		  ,glcc.ALTERNATE_CODE_COMBINATION_ID
	')


	/*
		DECLARE @columnList VARCHAR(MAX) = dbo.getHashField ('GL_GL_CODE_COMBINATIONS','Oracle') SELECT @columnList
	*/

	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Fingerprint', GETDATE()
	
	UPDATE #Account
	SET Fingerprint = 
		SUBSTRING(LOWER(CONVERT(VARCHAR(32),HASHBYTES('MD5',
			--replace @columnList result here
			  CAST(ISNULL([CODE_COMBINATION_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([LAST_UPDATE_DATE],'') AS VARCHAR(100)) +  CAST(ISNULL([LAST_UPDATED_BY],'0') AS VARCHAR(100)) +  CAST(ISNULL([CHART_OF_ACCOUNTS_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([DETAIL_POSTING_ALLOWED_FLAG],'') AS VARCHAR(1)) +  CAST(ISNULL([DETAIL_BUDGETING_ALLOWED_FLAG],'') AS VARCHAR(1)) +  CAST(ISNULL([ACCOUNT_TYPE],'') AS VARCHAR(1)) +  CAST(ISNULL([ENABLED_FLAG],'') AS VARCHAR(1)) +  CAST(ISNULL([SUMMARY_FLAG],'') AS VARCHAR(1)) +  CAST(ISNULL([SEGMENT1],'') AS VARCHAR(25)) +  CAST(ISNULL([SEGMENT2],'') AS VARCHAR(25)) +  CAST(ISNULL([SEGMENT3],'') AS VARCHAR(25)) +  CAST(ISNULL([SEGMENT4],'') AS VARCHAR(25)) +  CAST(ISNULL([SEGMENT5],'') AS VARCHAR(25)) +  CAST(ISNULL([SEGMENT6],'') AS VARCHAR(25)) +  CAST(ISNULL([SEGMENT7],'') AS VARCHAR(25)) +  CAST(ISNULL([SEGMENT8],'') AS VARCHAR(25)) +  CAST(ISNULL([SEGMENT9],'') AS VARCHAR(25)) +  CAST(ISNULL([SEGMENT10],'') AS VARCHAR(25)) +  CAST(ISNULL([SEGMENT11],'') AS VARCHAR(25)) +  CAST(ISNULL([SEGMENT12],'') AS VARCHAR(25)) +  CAST(ISNULL([SEGMENT13],'') AS VARCHAR(25)) +  CAST(ISNULL([SEGMENT14],'') AS VARCHAR(25)) +  CAST(ISNULL([SEGMENT15],'') AS VARCHAR(25)) +  CAST(ISNULL([SEGMENT16],'') AS VARCHAR(25)) +  CAST(ISNULL([SEGMENT17],'') AS VARCHAR(25)) +  CAST(ISNULL([SEGMENT18],'') AS VARCHAR(25)) +  CAST(ISNULL([SEGMENT19],'') AS VARCHAR(25)) +  CAST(ISNULL([SEGMENT20],'') AS VARCHAR(25)) +  CAST(ISNULL([SEGMENT21],'') AS VARCHAR(25)) +  CAST(ISNULL([SEGMENT22],'') AS VARCHAR(25)) +  CAST(ISNULL([SEGMENT23],'') AS VARCHAR(25)) +  CAST(ISNULL([SEGMENT24],'') AS VARCHAR(25)) +  CAST(ISNULL([SEGMENT25],'') AS VARCHAR(25)) +  CAST(ISNULL([SEGMENT26],'') AS VARCHAR(25)) +  CAST(ISNULL([SEGMENT27],'') AS VARCHAR(25)) +  CAST(ISNULL([SEGMENT28],'') AS VARCHAR(25)) +  CAST(ISNULL([SEGMENT29],'') AS VARCHAR(25)) +  CAST(ISNULL([SEGMENT30],'') AS VARCHAR(25)) +  CAST(ISNULL([DESCRIPTION],'') AS VARCHAR(240)) +  CAST(ISNULL([TEMPLATE_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([ALLOCATION_CREATE_FLAG],'') AS VARCHAR(1)) +  CAST(ISNULL([START_DATE_ACTIVE],'') AS VARCHAR(100)) +  CAST(ISNULL([END_DATE_ACTIVE],'') AS VARCHAR(100)) +  CAST(ISNULL([ATTRIBUTE1],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE2],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE3],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE4],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE5],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE6],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE7],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE8],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE9],'') AS VARCHAR(150)) +  CAST(ISNULL([ATTRIBUTE10],'') AS VARCHAR(150)) +  CAST(ISNULL([CONTEXT],'') AS VARCHAR(150)) +  CAST(ISNULL([SEGMENT_ATTRIBUTE1],'') AS VARCHAR(60)) +  CAST(ISNULL([SEGMENT_ATTRIBUTE2],'') AS VARCHAR(60)) +  CAST(ISNULL([SEGMENT_ATTRIBUTE3],'') AS VARCHAR(60)) +  CAST(ISNULL([SEGMENT_ATTRIBUTE4],'') AS VARCHAR(60)) +  CAST(ISNULL([SEGMENT_ATTRIBUTE5],'') AS VARCHAR(60)) +  CAST(ISNULL([SEGMENT_ATTRIBUTE6],'') AS VARCHAR(60)) +  CAST(ISNULL([SEGMENT_ATTRIBUTE7],'') AS VARCHAR(60)) +  CAST(ISNULL([SEGMENT_ATTRIBUTE8],'') AS VARCHAR(60)) +  CAST(ISNULL([SEGMENT_ATTRIBUTE9],'') AS VARCHAR(60)) +  CAST(ISNULL([SEGMENT_ATTRIBUTE10],'') AS VARCHAR(60)) +  CAST(ISNULL([SEGMENT_ATTRIBUTE11],'') AS VARCHAR(60)) +  CAST(ISNULL([SEGMENT_ATTRIBUTE12],'') AS VARCHAR(60)) +  CAST(ISNULL([SEGMENT_ATTRIBUTE13],'') AS VARCHAR(60)) +  CAST(ISNULL([SEGMENT_ATTRIBUTE14],'') AS VARCHAR(60)) +  CAST(ISNULL([SEGMENT_ATTRIBUTE15],'') AS VARCHAR(60)) +  CAST(ISNULL([SEGMENT_ATTRIBUTE16],'') AS VARCHAR(60)) +  CAST(ISNULL([SEGMENT_ATTRIBUTE17],'') AS VARCHAR(60)) +  CAST(ISNULL([SEGMENT_ATTRIBUTE18],'') AS VARCHAR(60)) +  CAST(ISNULL([SEGMENT_ATTRIBUTE19],'') AS VARCHAR(60)) +  CAST(ISNULL([SEGMENT_ATTRIBUTE20],'') AS VARCHAR(60)) +  CAST(ISNULL([SEGMENT_ATTRIBUTE21],'') AS VARCHAR(60)) +  CAST(ISNULL([SEGMENT_ATTRIBUTE22],'') AS VARCHAR(60)) +  CAST(ISNULL([SEGMENT_ATTRIBUTE23],'') AS VARCHAR(60)) +  CAST(ISNULL([SEGMENT_ATTRIBUTE24],'') AS VARCHAR(60)) +  CAST(ISNULL([SEGMENT_ATTRIBUTE25],'') AS VARCHAR(60)) +  CAST(ISNULL([SEGMENT_ATTRIBUTE26],'') AS VARCHAR(60)) +  CAST(ISNULL([SEGMENT_ATTRIBUTE27],'') AS VARCHAR(60)) +  CAST(ISNULL([SEGMENT_ATTRIBUTE28],'') AS VARCHAR(60)) +  CAST(ISNULL([SEGMENT_ATTRIBUTE29],'') AS VARCHAR(60)) +  CAST(ISNULL([SEGMENT_ATTRIBUTE30],'') AS VARCHAR(60)) +  CAST(ISNULL([SEGMENT_ATTRIBUTE31],'') AS VARCHAR(60)) +  CAST(ISNULL([SEGMENT_ATTRIBUTE32],'') AS VARCHAR(60)) +  CAST(ISNULL([SEGMENT_ATTRIBUTE33],'') AS VARCHAR(60)) +  CAST(ISNULL([SEGMENT_ATTRIBUTE34],'') AS VARCHAR(60)) +  CAST(ISNULL([SEGMENT_ATTRIBUTE35],'') AS VARCHAR(60)) +  CAST(ISNULL([SEGMENT_ATTRIBUTE36],'') AS VARCHAR(60)) +  CAST(ISNULL([SEGMENT_ATTRIBUTE37],'') AS VARCHAR(60)) +  CAST(ISNULL([SEGMENT_ATTRIBUTE38],'') AS VARCHAR(60)) +  CAST(ISNULL([SEGMENT_ATTRIBUTE39],'') AS VARCHAR(60)) +  CAST(ISNULL([SEGMENT_ATTRIBUTE40],'') AS VARCHAR(60)) +  CAST(ISNULL([SEGMENT_ATTRIBUTE41],'') AS VARCHAR(60)) +  CAST(ISNULL([SEGMENT_ATTRIBUTE42],'') AS VARCHAR(60)) +  CAST(ISNULL([REFERENCE1],'') AS VARCHAR(1)) +  CAST(ISNULL([REFERENCE2],'') AS VARCHAR(1)) +  CAST(ISNULL([REFERENCE3],'') AS VARCHAR(25)) +  CAST(ISNULL([REFERENCE4],'') AS VARCHAR(1)) +  CAST(ISNULL([REFERENCE5],'') AS VARCHAR(1)) +  CAST(ISNULL([JGZZ_RECON_FLAG],'') AS VARCHAR(1)) +  CAST(ISNULL([JGZZ_RECON_CONTEXT],'') AS VARCHAR(30)) +  CAST(ISNULL([PRESERVE_FLAG],'') AS VARCHAR(1)) +  CAST(ISNULL([REFRESH_FLAG],'') AS VARCHAR(1)) +  CAST(ISNULL([IGI_BALANCED_BUDGET_FLAG],'') AS VARCHAR(1)) +  CAST(ISNULL([COMPANY_COST_CENTER_ORG_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([REVALUATION_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([LEDGER_SEGMENT],'') AS VARCHAR(20)) +  CAST(ISNULL([LEDGER_TYPE_CODE],'') AS VARCHAR(1)) +  CAST(ISNULL([ALTERNATE_CODE_COMBINATION_ID],'0') AS VARCHAR(100)) 
		),1)),3,32);

	
	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Merge', GETDATE()
		
	INSERT INTO Oracle.GL_GL_CODE_COMBINATIONS (
		   [CODE_COMBINATION_ID]
		  ,[LAST_UPDATE_DATE]
		  ,[LAST_UPDATED_BY]
		  ,[CHART_OF_ACCOUNTS_ID]
		  ,[DETAIL_POSTING_ALLOWED_FLAG]
		  ,[DETAIL_BUDGETING_ALLOWED_FLAG]
		  ,[ACCOUNT_TYPE]
		  ,[ENABLED_FLAG]
		  ,[SUMMARY_FLAG]
		  ,[SEGMENT1]
		  ,[SEGMENT2]
		  ,[SEGMENT3]
		  ,[SEGMENT4]
		  ,[SEGMENT5]
		  ,[SEGMENT6]
		  ,[SEGMENT7]
		  ,[SEGMENT8]
		  ,[SEGMENT9]
		  ,[SEGMENT10]
		  ,[SEGMENT11]
		  ,[SEGMENT12]
		  ,[SEGMENT13]
		  ,[SEGMENT14]
		  ,[SEGMENT15]
		  ,[SEGMENT16]
		  ,[SEGMENT17]
		  ,[SEGMENT18]
		  ,[SEGMENT19]
		  ,[SEGMENT20]
		  ,[SEGMENT21]
		  ,[SEGMENT22]
		  ,[SEGMENT23]
		  ,[SEGMENT24]
		  ,[SEGMENT25]
		  ,[SEGMENT26]
		  ,[SEGMENT27]
		  ,[SEGMENT28]
		  ,[SEGMENT29]
		  ,[SEGMENT30]
		  ,[DESCRIPTION]
		  ,[TEMPLATE_ID]
		  ,[ALLOCATION_CREATE_FLAG]
		  ,[START_DATE_ACTIVE]
		  ,[END_DATE_ACTIVE]
		  ,[ATTRIBUTE1]
		  ,[ATTRIBUTE2]
		  ,[ATTRIBUTE3]
		  ,[ATTRIBUTE4]
		  ,[ATTRIBUTE5]
		  ,[ATTRIBUTE6]
		  ,[ATTRIBUTE7]
		  ,[ATTRIBUTE8]
		  ,[ATTRIBUTE9]
		  ,[ATTRIBUTE10]
		  ,[CONTEXT]
		  ,[SEGMENT_ATTRIBUTE1]
		  ,[SEGMENT_ATTRIBUTE2]
		  ,[SEGMENT_ATTRIBUTE3]
		  ,[SEGMENT_ATTRIBUTE4]
		  ,[SEGMENT_ATTRIBUTE5]
		  ,[SEGMENT_ATTRIBUTE6]
		  ,[SEGMENT_ATTRIBUTE7]
		  ,[SEGMENT_ATTRIBUTE8]
		  ,[SEGMENT_ATTRIBUTE9]
		  ,[SEGMENT_ATTRIBUTE10]
		  ,[SEGMENT_ATTRIBUTE11]
		  ,[SEGMENT_ATTRIBUTE12]
		  ,[SEGMENT_ATTRIBUTE13]
		  ,[SEGMENT_ATTRIBUTE14]
		  ,[SEGMENT_ATTRIBUTE15]
		  ,[SEGMENT_ATTRIBUTE16]
		  ,[SEGMENT_ATTRIBUTE17]
		  ,[SEGMENT_ATTRIBUTE18]
		  ,[SEGMENT_ATTRIBUTE19]
		  ,[SEGMENT_ATTRIBUTE20]
		  ,[SEGMENT_ATTRIBUTE21]
		  ,[SEGMENT_ATTRIBUTE22]
		  ,[SEGMENT_ATTRIBUTE23]
		  ,[SEGMENT_ATTRIBUTE24]
		  ,[SEGMENT_ATTRIBUTE25]
		  ,[SEGMENT_ATTRIBUTE26]
		  ,[SEGMENT_ATTRIBUTE27]
		  ,[SEGMENT_ATTRIBUTE28]
		  ,[SEGMENT_ATTRIBUTE29]
		  ,[SEGMENT_ATTRIBUTE30]
		  ,[SEGMENT_ATTRIBUTE31]
		  ,[SEGMENT_ATTRIBUTE32]
		  ,[SEGMENT_ATTRIBUTE33]
		  ,[SEGMENT_ATTRIBUTE34]
		  ,[SEGMENT_ATTRIBUTE35]
		  ,[SEGMENT_ATTRIBUTE36]
		  ,[SEGMENT_ATTRIBUTE37]
		  ,[SEGMENT_ATTRIBUTE38]
		  ,[SEGMENT_ATTRIBUTE39]
		  ,[SEGMENT_ATTRIBUTE40]
		  ,[SEGMENT_ATTRIBUTE41]
		  ,[SEGMENT_ATTRIBUTE42]
		  ,[REFERENCE1]
		  ,[REFERENCE2]
		  ,[REFERENCE3]
		  ,[REFERENCE4]
		  ,[REFERENCE5]
		  ,[JGZZ_RECON_FLAG]
		  ,[JGZZ_RECON_CONTEXT]
		  ,[PRESERVE_FLAG]
		  ,[REFRESH_FLAG]
		  ,[IGI_BALANCED_BUDGET_FLAG]
		  ,[COMPANY_COST_CENTER_ORG_ID]
		  ,[REVALUATION_ID]
		  ,[LEDGER_SEGMENT]
		  ,[LEDGER_TYPE_CODE]
		  ,[ALTERNATE_CODE_COMBINATION_ID]
		  ,[Fingerprint]
	 )
		SELECT 
			   a.[CODE_COMBINATION_ID]
			  ,a.[LAST_UPDATE_DATE]
			  ,a.[LAST_UPDATED_BY]
			  ,a.[CHART_OF_ACCOUNTS_ID]
			  ,a.[DETAIL_POSTING_ALLOWED_FLAG]
			  ,a.[DETAIL_BUDGETING_ALLOWED_FLAG]
			  ,a.[ACCOUNT_TYPE]
			  ,a.[ENABLED_FLAG]
			  ,a.[SUMMARY_FLAG]
			  ,a.[SEGMENT1]
			  ,a.[SEGMENT2]
			  ,a.[SEGMENT3]
			  ,a.[SEGMENT4]
			  ,a.[SEGMENT5]
			  ,a.[SEGMENT6]
			  ,a.[SEGMENT7]
			  ,a.[SEGMENT8]
			  ,a.[SEGMENT9]
			  ,a.[SEGMENT10]
			  ,a.[SEGMENT11]
			  ,a.[SEGMENT12]
			  ,a.[SEGMENT13]
			  ,a.[SEGMENT14]
			  ,a.[SEGMENT15]
			  ,a.[SEGMENT16]
			  ,a.[SEGMENT17]
			  ,a.[SEGMENT18]
			  ,a.[SEGMENT19]
			  ,a.[SEGMENT20]
			  ,a.[SEGMENT21]
			  ,a.[SEGMENT22]
			  ,a.[SEGMENT23]
			  ,a.[SEGMENT24]
			  ,a.[SEGMENT25]
			  ,a.[SEGMENT26]
			  ,a.[SEGMENT27]
			  ,a.[SEGMENT28]
			  ,a.[SEGMENT29]
			  ,a.[SEGMENT30]
			  ,a.[DESCRIPTION]
			  ,a.[TEMPLATE_ID]
			  ,a.[ALLOCATION_CREATE_FLAG]
			  ,a.[START_DATE_ACTIVE]
			  ,a.[END_DATE_ACTIVE]
			  ,a.[ATTRIBUTE1]
			  ,a.[ATTRIBUTE2]
			  ,a.[ATTRIBUTE3]
			  ,a.[ATTRIBUTE4]
			  ,a.[ATTRIBUTE5]
			  ,a.[ATTRIBUTE6]
			  ,a.[ATTRIBUTE7]
			  ,a.[ATTRIBUTE8]
			  ,a.[ATTRIBUTE9]
			  ,a.[ATTRIBUTE10]
			  ,a.[CONTEXT]
			  ,a.[SEGMENT_ATTRIBUTE1]
			  ,a.[SEGMENT_ATTRIBUTE2]
			  ,a.[SEGMENT_ATTRIBUTE3]
			  ,a.[SEGMENT_ATTRIBUTE4]
			  ,a.[SEGMENT_ATTRIBUTE5]
			  ,a.[SEGMENT_ATTRIBUTE6]
			  ,a.[SEGMENT_ATTRIBUTE7]
			  ,a.[SEGMENT_ATTRIBUTE8]
			  ,a.[SEGMENT_ATTRIBUTE9]
			  ,a.[SEGMENT_ATTRIBUTE10]
			  ,a.[SEGMENT_ATTRIBUTE11]
			  ,a.[SEGMENT_ATTRIBUTE12]
			  ,a.[SEGMENT_ATTRIBUTE13]
			  ,a.[SEGMENT_ATTRIBUTE14]
			  ,a.[SEGMENT_ATTRIBUTE15]
			  ,a.[SEGMENT_ATTRIBUTE16]
			  ,a.[SEGMENT_ATTRIBUTE17]
			  ,a.[SEGMENT_ATTRIBUTE18]
			  ,a.[SEGMENT_ATTRIBUTE19]
			  ,a.[SEGMENT_ATTRIBUTE20]
			  ,a.[SEGMENT_ATTRIBUTE21]
			  ,a.[SEGMENT_ATTRIBUTE22]
			  ,a.[SEGMENT_ATTRIBUTE23]
			  ,a.[SEGMENT_ATTRIBUTE24]
			  ,a.[SEGMENT_ATTRIBUTE25]
			  ,a.[SEGMENT_ATTRIBUTE26]
			  ,a.[SEGMENT_ATTRIBUTE27]
			  ,a.[SEGMENT_ATTRIBUTE28]
			  ,a.[SEGMENT_ATTRIBUTE29]
			  ,a.[SEGMENT_ATTRIBUTE30]
			  ,a.[SEGMENT_ATTRIBUTE31]
			  ,a.[SEGMENT_ATTRIBUTE32]
			  ,a.[SEGMENT_ATTRIBUTE33]
			  ,a.[SEGMENT_ATTRIBUTE34]
			  ,a.[SEGMENT_ATTRIBUTE35]
			  ,a.[SEGMENT_ATTRIBUTE36]
			  ,a.[SEGMENT_ATTRIBUTE37]
			  ,a.[SEGMENT_ATTRIBUTE38]
			  ,a.[SEGMENT_ATTRIBUTE39]
			  ,a.[SEGMENT_ATTRIBUTE40]
			  ,a.[SEGMENT_ATTRIBUTE41]
			  ,a.[SEGMENT_ATTRIBUTE42]
			  ,a.[REFERENCE1]
			  ,a.[REFERENCE2]
			  ,a.[REFERENCE3]
			  ,a.[REFERENCE4]
			  ,a.[REFERENCE5]
			  ,a.[JGZZ_RECON_FLAG]
			  ,a.[JGZZ_RECON_CONTEXT]
			  ,a.[PRESERVE_FLAG]
			  ,a.[REFRESH_FLAG]
			  ,a.[IGI_BALANCED_BUDGET_FLAG]
			  ,a.[COMPANY_COST_CENTER_ORG_ID]
			  ,a.[REVALUATION_ID]
			  ,a.[LEDGER_SEGMENT]
			  ,a.[LEDGER_TYPE_CODE]
			  ,a.[ALTERNATE_CODE_COMBINATION_ID]
			  ,a.[Fingerprint]
			FROM (
				MERGE Oracle.GL_GL_CODE_COMBINATIONS b
				USING (SELECT * FROM #Account) a
				ON a.[CODE_COMBINATION_ID] = b.[CODE_COMBINATION_ID] AND b.CurrentRecord = 1 --swap with business key of table
				WHEN NOT MATCHED --BY TARGET 
				THEN INSERT (
				   [CODE_COMBINATION_ID]
				  ,[LAST_UPDATE_DATE]
				  ,[LAST_UPDATED_BY]
				  ,[CHART_OF_ACCOUNTS_ID]
				  ,[DETAIL_POSTING_ALLOWED_FLAG]
				  ,[DETAIL_BUDGETING_ALLOWED_FLAG]
				  ,[ACCOUNT_TYPE]
				  ,[ENABLED_FLAG]
				  ,[SUMMARY_FLAG]
				  ,[SEGMENT1]
				  ,[SEGMENT2]
				  ,[SEGMENT3]
				  ,[SEGMENT4]
				  ,[SEGMENT5]
				  ,[SEGMENT6]
				  ,[SEGMENT7]
				  ,[SEGMENT8]
				  ,[SEGMENT9]
				  ,[SEGMENT10]
				  ,[SEGMENT11]
				  ,[SEGMENT12]
				  ,[SEGMENT13]
				  ,[SEGMENT14]
				  ,[SEGMENT15]
				  ,[SEGMENT16]
				  ,[SEGMENT17]
				  ,[SEGMENT18]
				  ,[SEGMENT19]
				  ,[SEGMENT20]
				  ,[SEGMENT21]
				  ,[SEGMENT22]
				  ,[SEGMENT23]
				  ,[SEGMENT24]
				  ,[SEGMENT25]
				  ,[SEGMENT26]
				  ,[SEGMENT27]
				  ,[SEGMENT28]
				  ,[SEGMENT29]
				  ,[SEGMENT30]
				  ,[DESCRIPTION]
				  ,[TEMPLATE_ID]
				  ,[ALLOCATION_CREATE_FLAG]
				  ,[START_DATE_ACTIVE]
				  ,[END_DATE_ACTIVE]
				  ,[ATTRIBUTE1]
				  ,[ATTRIBUTE2]
				  ,[ATTRIBUTE3]
				  ,[ATTRIBUTE4]
				  ,[ATTRIBUTE5]
				  ,[ATTRIBUTE6]
				  ,[ATTRIBUTE7]
				  ,[ATTRIBUTE8]
				  ,[ATTRIBUTE9]
				  ,[ATTRIBUTE10]
				  ,[CONTEXT]
				  ,[SEGMENT_ATTRIBUTE1]
				  ,[SEGMENT_ATTRIBUTE2]
				  ,[SEGMENT_ATTRIBUTE3]
				  ,[SEGMENT_ATTRIBUTE4]
				  ,[SEGMENT_ATTRIBUTE5]
				  ,[SEGMENT_ATTRIBUTE6]
				  ,[SEGMENT_ATTRIBUTE7]
				  ,[SEGMENT_ATTRIBUTE8]
				  ,[SEGMENT_ATTRIBUTE9]
				  ,[SEGMENT_ATTRIBUTE10]
				  ,[SEGMENT_ATTRIBUTE11]
				  ,[SEGMENT_ATTRIBUTE12]
				  ,[SEGMENT_ATTRIBUTE13]
				  ,[SEGMENT_ATTRIBUTE14]
				  ,[SEGMENT_ATTRIBUTE15]
				  ,[SEGMENT_ATTRIBUTE16]
				  ,[SEGMENT_ATTRIBUTE17]
				  ,[SEGMENT_ATTRIBUTE18]
				  ,[SEGMENT_ATTRIBUTE19]
				  ,[SEGMENT_ATTRIBUTE20]
				  ,[SEGMENT_ATTRIBUTE21]
				  ,[SEGMENT_ATTRIBUTE22]
				  ,[SEGMENT_ATTRIBUTE23]
				  ,[SEGMENT_ATTRIBUTE24]
				  ,[SEGMENT_ATTRIBUTE25]
				  ,[SEGMENT_ATTRIBUTE26]
				  ,[SEGMENT_ATTRIBUTE27]
				  ,[SEGMENT_ATTRIBUTE28]
				  ,[SEGMENT_ATTRIBUTE29]
				  ,[SEGMENT_ATTRIBUTE30]
				  ,[SEGMENT_ATTRIBUTE31]
				  ,[SEGMENT_ATTRIBUTE32]
				  ,[SEGMENT_ATTRIBUTE33]
				  ,[SEGMENT_ATTRIBUTE34]
				  ,[SEGMENT_ATTRIBUTE35]
				  ,[SEGMENT_ATTRIBUTE36]
				  ,[SEGMENT_ATTRIBUTE37]
				  ,[SEGMENT_ATTRIBUTE38]
				  ,[SEGMENT_ATTRIBUTE39]
				  ,[SEGMENT_ATTRIBUTE40]
				  ,[SEGMENT_ATTRIBUTE41]
				  ,[SEGMENT_ATTRIBUTE42]
				  ,[REFERENCE1]
				  ,[REFERENCE2]
				  ,[REFERENCE3]
				  ,[REFERENCE4]
				  ,[REFERENCE5]
				  ,[JGZZ_RECON_FLAG]
				  ,[JGZZ_RECON_CONTEXT]
				  ,[PRESERVE_FLAG]
				  ,[REFRESH_FLAG]
				  ,[IGI_BALANCED_BUDGET_FLAG]
				  ,[COMPANY_COST_CENTER_ORG_ID]
				  ,[REVALUATION_ID]
				  ,[LEDGER_SEGMENT]
				  ,[LEDGER_TYPE_CODE]
				  ,[ALTERNATE_CODE_COMBINATION_ID]
				  ,[Fingerprint]
			)
			VALUES (
				   a.[CODE_COMBINATION_ID]
				  ,a.[LAST_UPDATE_DATE]
				  ,a.[LAST_UPDATED_BY]
				  ,a.[CHART_OF_ACCOUNTS_ID]
				  ,a.[DETAIL_POSTING_ALLOWED_FLAG]
				  ,a.[DETAIL_BUDGETING_ALLOWED_FLAG]
				  ,a.[ACCOUNT_TYPE]
				  ,a.[ENABLED_FLAG]
				  ,a.[SUMMARY_FLAG]
				  ,a.[SEGMENT1]
				  ,a.[SEGMENT2]
				  ,a.[SEGMENT3]
				  ,a.[SEGMENT4]
				  ,a.[SEGMENT5]
				  ,a.[SEGMENT6]
				  ,a.[SEGMENT7]
				  ,a.[SEGMENT8]
				  ,a.[SEGMENT9]
				  ,a.[SEGMENT10]
				  ,a.[SEGMENT11]
				  ,a.[SEGMENT12]
				  ,a.[SEGMENT13]
				  ,a.[SEGMENT14]
				  ,a.[SEGMENT15]
				  ,a.[SEGMENT16]
				  ,a.[SEGMENT17]
				  ,a.[SEGMENT18]
				  ,a.[SEGMENT19]
				  ,a.[SEGMENT20]
				  ,a.[SEGMENT21]
				  ,a.[SEGMENT22]
				  ,a.[SEGMENT23]
				  ,a.[SEGMENT24]
				  ,a.[SEGMENT25]
				  ,a.[SEGMENT26]
				  ,a.[SEGMENT27]
				  ,a.[SEGMENT28]
				  ,a.[SEGMENT29]
				  ,a.[SEGMENT30]
				  ,a.[DESCRIPTION]
				  ,a.[TEMPLATE_ID]
				  ,a.[ALLOCATION_CREATE_FLAG]
				  ,a.[START_DATE_ACTIVE]
				  ,a.[END_DATE_ACTIVE]
				  ,a.[ATTRIBUTE1]
				  ,a.[ATTRIBUTE2]
				  ,a.[ATTRIBUTE3]
				  ,a.[ATTRIBUTE4]
				  ,a.[ATTRIBUTE5]
				  ,a.[ATTRIBUTE6]
				  ,a.[ATTRIBUTE7]
				  ,a.[ATTRIBUTE8]
				  ,a.[ATTRIBUTE9]
				  ,a.[ATTRIBUTE10]
				  ,a.[CONTEXT]
				  ,a.[SEGMENT_ATTRIBUTE1]
				  ,a.[SEGMENT_ATTRIBUTE2]
				  ,a.[SEGMENT_ATTRIBUTE3]
				  ,a.[SEGMENT_ATTRIBUTE4]
				  ,a.[SEGMENT_ATTRIBUTE5]
				  ,a.[SEGMENT_ATTRIBUTE6]
				  ,a.[SEGMENT_ATTRIBUTE7]
				  ,a.[SEGMENT_ATTRIBUTE8]
				  ,a.[SEGMENT_ATTRIBUTE9]
				  ,a.[SEGMENT_ATTRIBUTE10]
				  ,a.[SEGMENT_ATTRIBUTE11]
				  ,a.[SEGMENT_ATTRIBUTE12]
				  ,a.[SEGMENT_ATTRIBUTE13]
				  ,a.[SEGMENT_ATTRIBUTE14]
				  ,a.[SEGMENT_ATTRIBUTE15]
				  ,a.[SEGMENT_ATTRIBUTE16]
				  ,a.[SEGMENT_ATTRIBUTE17]
				  ,a.[SEGMENT_ATTRIBUTE18]
				  ,a.[SEGMENT_ATTRIBUTE19]
				  ,a.[SEGMENT_ATTRIBUTE20]
				  ,a.[SEGMENT_ATTRIBUTE21]
				  ,a.[SEGMENT_ATTRIBUTE22]
				  ,a.[SEGMENT_ATTRIBUTE23]
				  ,a.[SEGMENT_ATTRIBUTE24]
				  ,a.[SEGMENT_ATTRIBUTE25]
				  ,a.[SEGMENT_ATTRIBUTE26]
				  ,a.[SEGMENT_ATTRIBUTE27]
				  ,a.[SEGMENT_ATTRIBUTE28]
				  ,a.[SEGMENT_ATTRIBUTE29]
				  ,a.[SEGMENT_ATTRIBUTE30]
				  ,a.[SEGMENT_ATTRIBUTE31]
				  ,a.[SEGMENT_ATTRIBUTE32]
				  ,a.[SEGMENT_ATTRIBUTE33]
				  ,a.[SEGMENT_ATTRIBUTE34]
				  ,a.[SEGMENT_ATTRIBUTE35]
				  ,a.[SEGMENT_ATTRIBUTE36]
				  ,a.[SEGMENT_ATTRIBUTE37]
				  ,a.[SEGMENT_ATTRIBUTE38]
				  ,a.[SEGMENT_ATTRIBUTE39]
				  ,a.[SEGMENT_ATTRIBUTE40]
				  ,a.[SEGMENT_ATTRIBUTE41]
				  ,a.[SEGMENT_ATTRIBUTE42]
				  ,a.[REFERENCE1]
				  ,a.[REFERENCE2]
				  ,a.[REFERENCE3]
				  ,a.[REFERENCE4]
				  ,a.[REFERENCE5]
				  ,a.[JGZZ_RECON_FLAG]
				  ,a.[JGZZ_RECON_CONTEXT]
				  ,a.[PRESERVE_FLAG]
				  ,a.[REFRESH_FLAG]
				  ,a.[IGI_BALANCED_BUDGET_FLAG]
				  ,a.[COMPANY_COST_CENTER_ORG_ID]
				  ,a.[REVALUATION_ID]
				  ,a.[LEDGER_SEGMENT]
				  ,a.[LEDGER_TYPE_CODE]
				  ,a.[ALTERNATE_CODE_COMBINATION_ID]
				  ,a.[Fingerprint]
			)
			--Existing records that have changed are expired
			WHEN MATCHED AND a.Fingerprint<>b.Fingerprint
			THEN UPDATE SET b.EndDate=GETDATE()
				,b.CurrentRecord=0
			OUTPUT 
				   a.[CODE_COMBINATION_ID]
				  ,a.[LAST_UPDATE_DATE]
				  ,a.[LAST_UPDATED_BY]
				  ,a.[CHART_OF_ACCOUNTS_ID]
				  ,a.[DETAIL_POSTING_ALLOWED_FLAG]
				  ,a.[DETAIL_BUDGETING_ALLOWED_FLAG]
				  ,a.[ACCOUNT_TYPE]
				  ,a.[ENABLED_FLAG]
				  ,a.[SUMMARY_FLAG]
				  ,a.[SEGMENT1]
				  ,a.[SEGMENT2]
				  ,a.[SEGMENT3]
				  ,a.[SEGMENT4]
				  ,a.[SEGMENT5]
				  ,a.[SEGMENT6]
				  ,a.[SEGMENT7]
				  ,a.[SEGMENT8]
				  ,a.[SEGMENT9]
				  ,a.[SEGMENT10]
				  ,a.[SEGMENT11]
				  ,a.[SEGMENT12]
				  ,a.[SEGMENT13]
				  ,a.[SEGMENT14]
				  ,a.[SEGMENT15]
				  ,a.[SEGMENT16]
				  ,a.[SEGMENT17]
				  ,a.[SEGMENT18]
				  ,a.[SEGMENT19]
				  ,a.[SEGMENT20]
				  ,a.[SEGMENT21]
				  ,a.[SEGMENT22]
				  ,a.[SEGMENT23]
				  ,a.[SEGMENT24]
				  ,a.[SEGMENT25]
				  ,a.[SEGMENT26]
				  ,a.[SEGMENT27]
				  ,a.[SEGMENT28]
				  ,a.[SEGMENT29]
				  ,a.[SEGMENT30]
				  ,a.[DESCRIPTION]
				  ,a.[TEMPLATE_ID]
				  ,a.[ALLOCATION_CREATE_FLAG]
				  ,a.[START_DATE_ACTIVE]
				  ,a.[END_DATE_ACTIVE]
				  ,a.[ATTRIBUTE1]
				  ,a.[ATTRIBUTE2]
				  ,a.[ATTRIBUTE3]
				  ,a.[ATTRIBUTE4]
				  ,a.[ATTRIBUTE5]
				  ,a.[ATTRIBUTE6]
				  ,a.[ATTRIBUTE7]
				  ,a.[ATTRIBUTE8]
				  ,a.[ATTRIBUTE9]
				  ,a.[ATTRIBUTE10]
				  ,a.[CONTEXT]
				  ,a.[SEGMENT_ATTRIBUTE1]
				  ,a.[SEGMENT_ATTRIBUTE2]
				  ,a.[SEGMENT_ATTRIBUTE3]
				  ,a.[SEGMENT_ATTRIBUTE4]
				  ,a.[SEGMENT_ATTRIBUTE5]
				  ,a.[SEGMENT_ATTRIBUTE6]
				  ,a.[SEGMENT_ATTRIBUTE7]
				  ,a.[SEGMENT_ATTRIBUTE8]
				  ,a.[SEGMENT_ATTRIBUTE9]
				  ,a.[SEGMENT_ATTRIBUTE10]
				  ,a.[SEGMENT_ATTRIBUTE11]
				  ,a.[SEGMENT_ATTRIBUTE12]
				  ,a.[SEGMENT_ATTRIBUTE13]
				  ,a.[SEGMENT_ATTRIBUTE14]
				  ,a.[SEGMENT_ATTRIBUTE15]
				  ,a.[SEGMENT_ATTRIBUTE16]
				  ,a.[SEGMENT_ATTRIBUTE17]
				  ,a.[SEGMENT_ATTRIBUTE18]
				  ,a.[SEGMENT_ATTRIBUTE19]
				  ,a.[SEGMENT_ATTRIBUTE20]
				  ,a.[SEGMENT_ATTRIBUTE21]
				  ,a.[SEGMENT_ATTRIBUTE22]
				  ,a.[SEGMENT_ATTRIBUTE23]
				  ,a.[SEGMENT_ATTRIBUTE24]
				  ,a.[SEGMENT_ATTRIBUTE25]
				  ,a.[SEGMENT_ATTRIBUTE26]
				  ,a.[SEGMENT_ATTRIBUTE27]
				  ,a.[SEGMENT_ATTRIBUTE28]
				  ,a.[SEGMENT_ATTRIBUTE29]
				  ,a.[SEGMENT_ATTRIBUTE30]
				  ,a.[SEGMENT_ATTRIBUTE31]
				  ,a.[SEGMENT_ATTRIBUTE32]
				  ,a.[SEGMENT_ATTRIBUTE33]
				  ,a.[SEGMENT_ATTRIBUTE34]
				  ,a.[SEGMENT_ATTRIBUTE35]
				  ,a.[SEGMENT_ATTRIBUTE36]
				  ,a.[SEGMENT_ATTRIBUTE37]
				  ,a.[SEGMENT_ATTRIBUTE38]
				  ,a.[SEGMENT_ATTRIBUTE39]
				  ,a.[SEGMENT_ATTRIBUTE40]
				  ,a.[SEGMENT_ATTRIBUTE41]
				  ,a.[SEGMENT_ATTRIBUTE42]
				  ,a.[REFERENCE1]
				  ,a.[REFERENCE2]
				  ,a.[REFERENCE3]
				  ,a.[REFERENCE4]
				  ,a.[REFERENCE5]
				  ,a.[JGZZ_RECON_FLAG]
				  ,a.[JGZZ_RECON_CONTEXT]
				  ,a.[PRESERVE_FLAG]
				  ,a.[REFRESH_FLAG]
				  ,a.[IGI_BALANCED_BUDGET_FLAG]
				  ,a.[COMPANY_COST_CENTER_ORG_ID]
				  ,a.[REVALUATION_ID]
				  ,a.[LEDGER_SEGMENT]
				  ,a.[LEDGER_TYPE_CODE]
				  ,a.[ALTERNATE_CODE_COMBINATION_ID]
				  ,a.[Fingerprint]
				  ,$Action AS Action
		) a
		WHERE Action = 'Update'
		;

	INSERT INTO dbo.ETLLog SELECT OBJECT_NAME(@@PROCID), 'Done', GETDATE()
		
	DROP TABLE #Account

END
GO
