USE [Operations]
GO
/****** Object:  StoredProcedure [OUTPUT].[PIMProduct]    Script Date: 7/10/2025 11:43:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/****** Script for SelectTopNRows command from SSMS  ******/
CREATE PROCEDURE [OUTPUT].[PIMProduct] AS BEGIN

DROP TABLE IF EXISTS #product
DROP TABLE IF EXISTS dbo.PIMProductMaster

CREATE TABLE #product (ProductKey VARCHAR(50))

INSERT INTO #product SELECT '500599'
INSERT INTO #product SELECT '5005BL'
INSERT INTO #product SELECT '500899'
INSERT INTO #product SELECT '501302'
INSERT INTO #product SELECT '501399'
INSERT INTO #product SELECT '501402'
INSERT INTO #product SELECT '501499'
INSERT INTO #product SELECT '502599'
INSERT INTO #product SELECT '517699'
INSERT INTO #product SELECT '5176IN'
INSERT INTO #product SELECT '518199'
INSERT INTO #product SELECT '518599'
INSERT INTO #product SELECT '518602'
INSERT INTO #product SELECT '518699'
INSERT INTO #product SELECT '518899'
INSERT INTO #product SELECT '520999'
INSERT INTO #product SELECT '522502'
INSERT INTO #product SELECT '522599'
INSERT INTO #product SELECT '522699'
INSERT INTO #product SELECT '522899'
INSERT INTO #product SELECT '522999'
INSERT INTO #product SELECT '523299'
INSERT INTO #product SELECT '523399'
INSERT INTO #product SELECT '523402'
INSERT INTO #product SELECT '523499'
INSERT INTO #product SELECT '523502'
INSERT INTO #product SELECT '523599'
INSERT INTO #product SELECT '523602'
INSERT INTO #product SELECT '523699'
INSERT INTO #product SELECT '523702'
INSERT INTO #product SELECT '523799'
INSERT INTO #product SELECT '523802'
INSERT INTO #product SELECT '523899'
INSERT INTO #product SELECT '534299'
INSERT INTO #product SELECT '535199'
INSERT INTO #product SELECT '535202'
INSERT INTO #product SELECT '535299'
INSERT INTO #product SELECT '535399'
INSERT INTO #product SELECT '535499'
INSERT INTO #product SELECT '535599'
INSERT INTO #product SELECT '535899'
INSERT INTO #product SELECT '535999'
INSERT INTO #product SELECT '536099'
INSERT INTO #product SELECT '536102'
INSERT INTO #product SELECT '536199'
INSERT INTO #product SELECT '536202'
INSERT INTO #product SELECT '536299'
INSERT INTO #product SELECT '536302'
INSERT INTO #product SELECT '536399'
INSERT INTO #product SELECT '536402'
INSERT INTO #product SELECT '536499'
INSERT INTO #product SELECT '536502'
INSERT INTO #product SELECT '536599'
INSERT INTO #product SELECT '536602'
INSERT INTO #product SELECT '536699'
INSERT INTO #product SELECT '536702'
INSERT INTO #product SELECT '536799'
INSERT INTO #product SELECT '536802'
INSERT INTO #product SELECT '536899'
INSERT INTO #product SELECT '536999'
INSERT INTO #product SELECT '537002'
INSERT INTO #product SELECT '537099'
INSERT INTO #product SELECT '537199'
INSERT INTO #product SELECT '537202'
INSERT INTO #product SELECT '537299'
INSERT INTO #product SELECT '537300'
INSERT INTO #product SELECT '537499'
INSERT INTO #product SELECT '537699'
INSERT INTO #product SELECT '537799'
INSERT INTO #product SELECT '537899'
INSERT INTO #product SELECT '537999'
INSERT INTO #product SELECT '538099'
INSERT INTO #product SELECT '538102'
INSERT INTO #product SELECT '538299'
INSERT INTO #product SELECT '538399'
INSERT INTO #product SELECT '538499'
INSERT INTO #product SELECT '5401IN'
INSERT INTO #product SELECT '541299'
INSERT INTO #product SELECT '544699'
INSERT INTO #product SELECT '545200'
INSERT INTO #product SELECT '562800'
INSERT INTO #product SELECT '562900'
INSERT INTO #product SELECT '566000'
INSERT INTO #product SELECT '566900'
INSERT INTO #product SELECT '567000'
INSERT INTO #product SELECT '578499'
INSERT INTO #product SELECT '578700'
INSERT INTO #product SELECT '583099'
INSERT INTO #product SELECT '583199'
INSERT INTO #product SELECT '583299'
INSERT INTO #product SELECT '5832IN'
INSERT INTO #product SELECT '583300'
INSERT INTO #product SELECT '587900'
INSERT INTO #product SELECT '592399'
INSERT INTO #product SELECT '595599'
INSERT INTO #product SELECT '595899'
INSERT INTO #product SELECT '595999'
INSERT INTO #product SELECT '596599'
INSERT INTO #product SELECT '596699'
INSERT INTO #product SELECT '597599'
INSERT INTO #product SELECT '597799'
INSERT INTO #product SELECT '400599'
INSERT INTO #product SELECT '4008C1'
INSERT INTO #product SELECT '4020SM'
INSERT INTO #product SELECT '402499'
INSERT INTO #product SELECT '403000'
INSERT INTO #product SELECT '404000'
INSERT INTO #product SELECT '405199'
INSERT INTO #product SELECT '405899'
INSERT INTO #product SELECT '412999'
INSERT INTO #product SELECT '413200'
INSERT INTO #product SELECT '413700'
INSERT INTO #product SELECT '4138KL'
INSERT INTO #product SELECT '414002'
INSERT INTO #product SELECT '414099'
INSERT INTO #product SELECT '414199'
INSERT INTO #product SELECT '414599'
INSERT INTO #product SELECT '415400'
INSERT INTO #product SELECT '420500'
INSERT INTO #product SELECT '420600'
INSERT INTO #product SELECT '420700'
INSERT INTO #product SELECT '420900'
INSERT INTO #product SELECT '420999'
INSERT INTO #product SELECT '421400'
INSERT INTO #product SELECT '421500'
INSERT INTO #product SELECT '421600'
INSERT INTO #product SELECT '4216C1'
INSERT INTO #product SELECT '421800'
INSERT INTO #product SELECT '4218WM'
INSERT INTO #product SELECT '4219SC'
INSERT INTO #product SELECT '4219SC'
INSERT INTO #product SELECT '422300'
INSERT INTO #product SELECT '4225KL'
INSERT INTO #product SELECT '4233KL'
INSERT INTO #product SELECT '423699'
INSERT INTO #product SELECT '424199'
INSERT INTO #product SELECT '424299'
INSERT INTO #product SELECT '424300'
INSERT INTO #product SELECT '424399'
INSERT INTO #product SELECT '4300C1'
INSERT INTO #product SELECT '430399'
INSERT INTO #product SELECT '430499'
INSERT INTO #product SELECT '430599'
INSERT INTO #product SELECT '430699'
INSERT INTO #product SELECT '430799'
INSERT INTO #product SELECT '431599'
INSERT INTO #product SELECT '431600'
INSERT INTO #product SELECT '431699'
INSERT INTO #product SELECT '4317AL'
INSERT INTO #product SELECT '431800'
INSERT INTO #product SELECT '432099'
INSERT INTO #product SELECT '432199'
INSERT INTO #product SELECT '432299'
INSERT INTO #product SELECT '4325C1'
INSERT INTO #product SELECT '432600'
INSERT INTO #product SELECT '432700'
INSERT INTO #product SELECT '432900'
INSERT INTO #product SELECT '440000'
INSERT INTO #product SELECT '4401AL'
INSERT INTO #product SELECT '440299'
INSERT INTO #product SELECT '440499'
INSERT INTO #product SELECT '480300'
INSERT INTO #product SELECT '480399'
INSERT INTO #product SELECT '4803C9'
INSERT INTO #product SELECT '481799'
INSERT INTO #product SELECT '481899'
INSERT INTO #product SELECT '482000'
INSERT INTO #product SELECT '483399'
INSERT INTO #product SELECT '485100'
INSERT INTO #product SELECT '485799'
INSERT INTO #product SELECT '487200'
INSERT INTO #product SELECT '487299'
INSERT INTO #product SELECT '4872KL'
INSERT INTO #product SELECT '4872V1'
INSERT INTO #product SELECT '4872V9'
INSERT INTO #product SELECT '488300'
INSERT INTO #product SELECT '488399'
INSERT INTO #product SELECT '4883V9'
INSERT INTO #product SELECT '488599'
INSERT INTO #product SELECT '4885V9'
INSERT INTO #product SELECT '488999'
INSERT INTO #product SELECT '489099'
INSERT INTO #product SELECT '489199'
INSERT INTO #product SELECT '489499'
INSERT INTO #product SELECT '489799'
INSERT INTO #product SELECT '489899'
INSERT INTO #product SELECT '489900'
INSERT INTO #product SELECT '490399'
INSERT INTO #product SELECT '490899'
INSERT INTO #product SELECT '490999'
INSERT INTO #product SELECT '4918AM'
INSERT INTO #product SELECT '493100'
INSERT INTO #product SELECT '493199'
INSERT INTO #product SELECT '4931SM'
INSERT INTO #product SELECT '4931V1'
INSERT INTO #product SELECT '4931V9'
INSERT INTO #product SELECT '493799'
INSERT INTO #product SELECT '4937V1'
INSERT INTO #product SELECT '4937V9'
INSERT INTO #product SELECT '494299'
INSERT INTO #product SELECT '494499'
INSERT INTO #product SELECT '494799'
INSERT INTO #product SELECT '4963KL'
INSERT INTO #product SELECT '496700'
INSERT INTO #product SELECT '4979KL'
INSERT INTO #product SELECT '700500'
INSERT INTO #product SELECT '700599'
INSERT INTO #product SELECT '702500'
INSERT INTO #product SELECT '702599'
INSERT INTO #product SELECT '706000'
INSERT INTO #product SELECT '708399'
INSERT INTO #product SELECT '709799'
INSERT INTO #product SELECT '711499'
INSERT INTO #product SELECT '7114V1'
INSERT INTO #product SELECT '7114V9'
INSERT INTO #product SELECT '716099'
INSERT INTO #product SELECT '717000'
INSERT INTO #product SELECT '717099'
INSERT INTO #product SELECT '7170WM'
INSERT INTO #product SELECT '727799'
INSERT INTO #product SELECT '729499'
INSERT INTO #product SELECT '7294WM'
INSERT INTO #product SELECT '729599'
INSERT INTO #product SELECT '740500'
INSERT INTO #product SELECT '740504'
INSERT INTO #product SELECT '7405V1'
INSERT INTO #product SELECT '7405V9'
INSERT INTO #product SELECT '754799'
INSERT INTO #product SELECT '759499'
INSERT INTO #product SELECT '775600'
INSERT INTO #product SELECT '775699'
INSERT INTO #product SELECT '776999'
INSERT INTO #product SELECT '779799'
INSERT INTO #product SELECT '782299'
INSERT INTO #product SELECT '782799'
INSERT INTO #product SELECT '784299'
INSERT INTO #product SELECT '787799'
INSERT INTO #product SELECT '788799'
INSERT INTO #product SELECT '7887WM'
INSERT INTO #product SELECT '811800'
INSERT INTO #product SELECT '811899'
INSERT INTO #product SELECT '8118WM'
INSERT INTO #product SELECT '815800'
INSERT INTO #product SELECT '815999'
INSERT INTO #product SELECT '822799'
INSERT INTO #product SELECT '823000'
INSERT INTO #product SELECT '823099'
INSERT INTO #product SELECT '824200'
INSERT INTO #product SELECT '824299'
INSERT INTO #product SELECT '825100'
INSERT INTO #product SELECT '8251WM'
INSERT INTO #product SELECT '826800'
INSERT INTO #product SELECT '826899'
INSERT INTO #product SELECT '830200'
INSERT INTO #product SELECT '830299'
INSERT INTO #product SELECT '834699'
INSERT INTO #product SELECT '8346WM'
INSERT INTO #product SELECT '836599'
INSERT INTO #product SELECT '838699'
INSERT INTO #product SELECT '8386WM'
INSERT INTO #product SELECT '838900'
INSERT INTO #product SELECT '840099'
INSERT INTO #product SELECT '8400C1'
INSERT INTO #product SELECT '840199'
INSERT INTO #product SELECT '840237'
INSERT INTO #product SELECT '840999'
INSERT INTO #product SELECT '841099'
INSERT INTO #product SELECT '841699'
INSERT INTO #product SELECT '8416WM'
INSERT INTO #product SELECT '841999'
INSERT INTO #product SELECT '842799'
INSERT INTO #product SELECT '843899'
INSERT INTO #product SELECT '845599'
INSERT INTO #product SELECT '847100'
INSERT INTO #product SELECT '847199'
INSERT INTO #product SELECT '848899'
INSERT INTO #product SELECT '850099'
INSERT INTO #product SELECT '850300'
INSERT INTO #product SELECT '850399'
INSERT INTO #product SELECT '850799'
INSERT INTO #product SELECT '850900'
INSERT INTO #product SELECT '850999'
INSERT INTO #product SELECT '851900'
INSERT INTO #product SELECT '851999'
INSERT INTO #product SELECT '852100'
INSERT INTO #product SELECT '8527SM'
INSERT INTO #product SELECT '853000'
INSERT INTO #product SELECT '853999'
INSERT INTO #product SELECT '854499'
INSERT INTO #product SELECT '854800'
INSERT INTO #product SELECT '854899'
INSERT INTO #product SELECT '8548V9'
INSERT INTO #product SELECT '856999'
INSERT INTO #product SELECT '857600'
INSERT INTO #product SELECT '862199'
INSERT INTO #product SELECT '8621SD'
INSERT INTO #product SELECT '862999'
INSERT INTO #product SELECT '863300'
INSERT INTO #product SELECT '863399'
INSERT INTO #product SELECT '8633V1'
INSERT INTO #product SELECT '8633V9'
INSERT INTO #product SELECT '864599'
INSERT INTO #product SELECT '864804'
INSERT INTO #product SELECT '864899'
INSERT INTO #product SELECT '8649KL'
INSERT INTO #product SELECT '866100'
INSERT INTO #product SELECT '866199'
INSERT INTO #product SELECT '866600'
INSERT INTO #product SELECT '866699'
INSERT INTO #product SELECT '8666V1'
INSERT INTO #product SELECT '8666V9'
INSERT INTO #product SELECT '866900'
INSERT INTO #product SELECT '8669V1'
INSERT INTO #product SELECT '8669V9'
INSERT INTO #product SELECT '867400'
INSERT INTO #product SELECT '868099'
INSERT INTO #product SELECT '868300'
INSERT INTO #product SELECT '868599'
INSERT INTO #product SELECT '8696KL'
INSERT INTO #product SELECT '869899'
INSERT INTO #product SELECT '873200'
INSERT INTO #product SELECT '874199'
INSERT INTO #product SELECT '8741KL'
INSERT INTO #product SELECT '874400'
INSERT INTO #product SELECT '874499'
INSERT INTO #product SELECT '8744AL'
INSERT INTO #product SELECT '874599'
INSERT INTO #product SELECT '874600'
INSERT INTO #product SELECT '874699'
INSERT INTO #product SELECT '8746V1'
INSERT INTO #product SELECT '8746V9'
INSERT INTO #product SELECT '877199'
INSERT INTO #product SELECT '877500'
INSERT INTO #product SELECT '8775V1'
INSERT INTO #product SELECT '879799'
INSERT INTO #product SELECT '879800'
INSERT INTO #product SELECT '879899'
INSERT INTO #product SELECT '879999'
INSERT INTO #product SELECT '890999'
INSERT INTO #product SELECT '891000'
INSERT INTO #product SELECT '894799'
INSERT INTO #product SELECT '894899'
INSERT INTO #product SELECT '896699'
INSERT INTO #product SELECT '897400'
INSERT INTO #product SELECT '897499'
INSERT INTO #product SELECT '8974SM'
INSERT INTO #product SELECT '4130KR'
INSERT INTO #product SELECT '4133KR'
INSERT INTO #product SELECT '4133MC'
INSERT INTO #product SELECT '4136KR'
INSERT INTO #product SELECT '4136MC'
INSERT INTO #product SELECT '4137PT'
INSERT INTO #product SELECT '4146KL'
INSERT INTO #product SELECT '4205KR'
INSERT INTO #product SELECT '4208KR'
INSERT INTO #product SELECT '4208MC'
INSERT INTO #product SELECT '4227KR'
INSERT INTO #product SELECT '4238KR'
INSERT INTO #product SELECT '4238MC'
INSERT INTO #product SELECT '4301KR'
INSERT INTO #product SELECT '4302KR'
INSERT INTO #product SELECT '4309KL'
INSERT INTO #product SELECT '4313KR'
INSERT INTO #product SELECT '4313MC'
INSERT INTO #product SELECT '4323KR'
INSERT INTO #product SELECT '4830KR'
INSERT INTO #product SELECT '4902KR'
INSERT INTO #product SELECT '4906KR'
INSERT INTO #product SELECT '491404'
INSERT INTO #product SELECT '7220B4'
INSERT INTO #product SELECT '7220KR'
INSERT INTO #product SELECT '754300'
INSERT INTO #product SELECT '7948KR'
INSERT INTO #product SELECT '795900'
INSERT INTO #product SELECT '800099'
INSERT INTO #product SELECT '800100'
INSERT INTO #product SELECT '801200'
INSERT INTO #product SELECT '801300'
INSERT INTO #product SELECT '801400'
INSERT INTO #product SELECT '802300'
INSERT INTO #product SELECT '8214KR'
INSERT INTO #product SELECT '8218KR'
INSERT INTO #product SELECT '8516KR'
INSERT INTO #product SELECT '8521KR'
INSERT INTO #product SELECT '8675KR'
INSERT INTO #product SELECT '140358'
INSERT INTO #product SELECT '140697'
INSERT INTO #product SELECT '140812'
INSERT INTO #product SELECT '140839'
INSERT INTO #product SELECT '140887'
INSERT INTO #product SELECT '140998'
INSERT INTO #product SELECT '141003'
INSERT INTO #product SELECT '141090'
INSERT INTO #product SELECT '141139'
INSERT INTO #product SELECT '141179'
INSERT INTO #product SELECT '141188'
INSERT INTO #product SELECT '141193'
INSERT INTO #product SELECT '141286'
INSERT INTO #product SELECT '141393'
INSERT INTO #product SELECT '141401'
INSERT INTO #product SELECT '141414'
INSERT INTO #product SELECT '141417'
INSERT INTO #product SELECT '141421'
INSERT INTO #product SELECT '141546'
INSERT INTO #product SELECT '141647'
INSERT INTO #product SELECT '141678'
INSERT INTO #product SELECT '141783'
INSERT INTO #product SELECT '141825'
INSERT INTO #product SELECT '141861'
INSERT INTO #product SELECT '141870'
INSERT INTO #product SELECT '141871'
INSERT INTO #product SELECT '141873'
INSERT INTO #product SELECT '141905'
INSERT INTO #product SELECT '141906'
INSERT INTO #product SELECT '141907'
INSERT INTO #product SELECT '141922'
INSERT INTO #product SELECT '141967'
INSERT INTO #product SELECT '141972'
INSERT INTO #product SELECT '142001'
INSERT INTO #product SELECT '142024'
INSERT INTO #product SELECT '142029'
INSERT INTO #product SELECT '142040'
INSERT INTO #product SELECT '142061'
INSERT INTO #product SELECT '142067'
INSERT INTO #product SELECT '142082'
INSERT INTO #product SELECT '142091'
INSERT INTO #product SELECT '142092'
INSERT INTO #product SELECT '142093'
INSERT INTO #product SELECT '142094'
INSERT INTO #product SELECT '142836'
INSERT INTO #product SELECT '142133'
INSERT INTO #product SELECT '142144'
INSERT INTO #product SELECT '142150'
INSERT INTO #product SELECT '142151'
INSERT INTO #product SELECT '142153'
INSERT INTO #product SELECT '142175'
INSERT INTO #product SELECT '142207'
INSERT INTO #product SELECT '142248'
INSERT INTO #product SELECT '142250'
INSERT INTO #product SELECT '142251'
INSERT INTO #product SELECT '142257'
INSERT INTO #product SELECT '142258'
INSERT INTO #product SELECT '142259'
INSERT INTO #product SELECT '142262'
INSERT INTO #product SELECT '142266'
INSERT INTO #product SELECT '142294'
INSERT INTO #product SELECT '142295'
INSERT INTO #product SELECT '142957'
INSERT INTO #product SELECT '142397'
INSERT INTO #product SELECT '142410'
INSERT INTO #product SELECT '142421'
INSERT INTO #product SELECT '142432'
INSERT INTO #product SELECT '142440'
INSERT INTO #product SELECT '142486'
INSERT INTO #product SELECT '142488'
INSERT INTO #product SELECT '142491'
INSERT INTO #product SELECT '142501'
INSERT INTO #product SELECT '142562'
INSERT INTO #product SELECT '142565'
INSERT INTO #product SELECT '142566'
INSERT INTO #product SELECT '142608'
INSERT INTO #product SELECT '142610'
INSERT INTO #product SELECT '142628'
INSERT INTO #product SELECT '142646'
INSERT INTO #product SELECT '142650'
INSERT INTO #product SELECT '142664'
INSERT INTO #product SELECT '142669'
INSERT INTO #product SELECT '142676'
INSERT INTO #product SELECT '142680'
INSERT INTO #product SELECT '142712'
INSERT INTO #product SELECT '142723'
INSERT INTO #product SELECT '142730'
INSERT INTO #product SELECT '142733'
INSERT INTO #product SELECT '142734'
INSERT INTO #product SELECT '142742'
INSERT INTO #product SELECT '142744'
INSERT INTO #product SELECT '142751'
INSERT INTO #product SELECT '142752'
INSERT INTO #product SELECT '142764'
INSERT INTO #product SELECT '142769'
INSERT INTO #product SELECT '142798'
INSERT INTO #product SELECT '142810'
INSERT INTO #product SELECT '142814'
INSERT INTO #product SELECT '142822'
INSERT INTO #product SELECT '142824'
INSERT INTO #product SELECT '142825'
INSERT INTO #product SELECT '142835'
INSERT INTO #product SELECT '142886'
INSERT INTO #product SELECT '142897'
INSERT INTO #product SELECT '142898'
INSERT INTO #product SELECT '142902'
INSERT INTO #product SELECT '142917'
INSERT INTO #product SELECT '142920'
INSERT INTO #product SELECT '142923'
INSERT INTO #product SELECT '143174'
INSERT INTO #product SELECT '143033'
INSERT INTO #product SELECT '143034'
INSERT INTO #product SELECT '143052'
INSERT INTO #product SELECT '143062'
INSERT INTO #product SELECT '143070'
INSERT INTO #product SELECT '140205'
INSERT INTO #product SELECT '140816'
INSERT INTO #product SELECT '141071'
INSERT INTO #product SELECT '141560'
INSERT INTO #product SELECT '141767'
INSERT INTO #product SELECT '141803'
INSERT INTO #product SELECT '141895'
INSERT INTO #product SELECT '142100'
INSERT INTO #product SELECT '142101'
INSERT INTO #product SELECT '142156'
INSERT INTO #product SELECT '142394'
INSERT INTO #product SELECT '142535'
INSERT INTO #product SELECT '142701'
INSERT INTO #product SELECT '160066A01B'
INSERT INTO #product SELECT '160088A01B'
INSERT INTO #product SELECT '160147B01B'
INSERT INTO #product SELECT '160155A01B'
INSERT INTO #product SELECT '160157A01B'
INSERT INTO #product SELECT '160169A01B'
INSERT INTO #product SELECT '160177'
INSERT INTO #product SELECT '160272A01B'
INSERT INTO #product SELECT '160813A01B'
INSERT INTO #product SELECT '160829'
INSERT INTO #product SELECT '160878A01B'
INSERT INTO #product SELECT '160879A01B'
INSERT INTO #product SELECT '160885A01B'
INSERT INTO #product SELECT '164260A01B'
INSERT INTO #product SELECT '161269A01B'
INSERT INTO #product SELECT '161434A01B'
INSERT INTO #product SELECT '161475A03B'
INSERT INTO #product SELECT '161489'
INSERT INTO #product SELECT '161493'
INSERT INTO #product SELECT '163958A01B'
INSERT INTO #product SELECT '161595A01B'
INSERT INTO #product SELECT '161604B01B'
INSERT INTO #product SELECT '161604B02B'
INSERT INTO #product SELECT '161965A01B'
INSERT INTO #product SELECT '162001A01B'
INSERT INTO #product SELECT '162002A01B'
INSERT INTO #product SELECT '162011A01B'
INSERT INTO #product SELECT '162013A01B'
INSERT INTO #product SELECT '164050A01B'
INSERT INTO #product SELECT '162145A01B'
INSERT INTO #product SELECT '162146F01B'
INSERT INTO #product SELECT '162161F01B'
INSERT INTO #product SELECT '162498D01B'
INSERT INTO #product SELECT '162541A01B'
INSERT INTO #product SELECT '162638B01B'
INSERT INTO #product SELECT '162638B02B'
INSERT INTO #product SELECT '162642B01B'
INSERT INTO #product SELECT '163055'
INSERT INTO #product SELECT '163084D01B'
INSERT INTO #product SELECT '163129C01B'
INSERT INTO #product SELECT '163200A08B'
INSERT INTO #product SELECT '163216A01B'
INSERT INTO #product SELECT '163281'
INSERT INTO #product SELECT '163299B01B'
INSERT INTO #product SELECT '163326'
INSERT INTO #product SELECT '163331'
INSERT INTO #product SELECT '163349A06B'
INSERT INTO #product SELECT '163360F01B'
INSERT INTO #product SELECT '163407A02B'
INSERT INTO #product SELECT '163444A02B'
INSERT INTO #product SELECT '163444A03B'
INSERT INTO #product SELECT '163444A04B'
INSERT INTO #product SELECT '163445D03B'
INSERT INTO #product SELECT '163445D04B'
INSERT INTO #product SELECT '163446A01B'
INSERT INTO #product SELECT '163446A04B'
INSERT INTO #product SELECT '163452C01B'
INSERT INTO #product SELECT '163480A02B'
INSERT INTO #product SELECT '163484A02B'
INSERT INTO #product SELECT '163485B01B'
INSERT INTO #product SELECT '163521A03B'
INSERT INTO #product SELECT '163525A02B'
INSERT INTO #product SELECT '163525A06B'
INSERT INTO #product SELECT '163550C01B'
INSERT INTO #product SELECT '163550C03B'
INSERT INTO #product SELECT '163550C04B'
INSERT INTO #product SELECT '163574A01B'
INSERT INTO #product SELECT '163577A02B'
INSERT INTO #product SELECT '163588A01B'
INSERT INTO #product SELECT '163588A02B'
INSERT INTO #product SELECT '163599A01C'
INSERT INTO #product SELECT '163610B01B'
INSERT INTO #product SELECT '163625A01B'
INSERT INTO #product SELECT '163628A01B'
INSERT INTO #product SELECT '163628A03B'
INSERT INTO #product SELECT '163628A04B'
INSERT INTO #product SELECT '163636A01B'
INSERT INTO #product SELECT '163654A02B'
INSERT INTO #product SELECT '163654A04B'
INSERT INTO #product SELECT '163654A05B'
INSERT INTO #product SELECT '163657A02B'
INSERT INTO #product SELECT '163657A07B'
INSERT INTO #product SELECT '163657A13B'
INSERT INTO #product SELECT '163657A15B'
INSERT INTO #product SELECT '163679A03B'
INSERT INTO #product SELECT '163697A01B'
INSERT INTO #product SELECT '163698A01B'
INSERT INTO #product SELECT '163698A03B'
INSERT INTO #product SELECT '163698A04B'
INSERT INTO #product SELECT '163698A06B'
INSERT INTO #product SELECT '163716B01B'
INSERT INTO #product SELECT '163762A01C'
INSERT INTO #product SELECT '163769A01B'
INSERT INTO #product SELECT '163823A01B'
INSERT INTO #product SELECT '163837A02B'
INSERT INTO #product SELECT '163837A03B'
INSERT INTO #product SELECT '163837A06B'
INSERT INTO #product SELECT '163837A08B'
INSERT INTO #product SELECT '163837A11B'
INSERT INTO #product SELECT '163837A12B'
INSERT INTO #product SELECT '163837A14B'
INSERT INTO #product SELECT '163837A16B'
INSERT INTO #product SELECT '163837A19B'
INSERT INTO #product SELECT '163916A01B'
INSERT INTO #product SELECT '163917A01B'
INSERT INTO #product SELECT '163918A01B'
INSERT INTO #product SELECT '163929A01B'
INSERT INTO #product SELECT '163934A01B'
INSERT INTO #product SELECT '163943A02B'
INSERT INTO #product SELECT '163945A01B'
INSERT INTO #product SELECT '163975A01B'
INSERT INTO #product SELECT '163975A02B'
INSERT INTO #product SELECT '164139A01C'
INSERT INTO #product SELECT '170020'
INSERT INTO #product SELECT '170370'
INSERT INTO #product SELECT '170374'
INSERT INTO #product SELECT '170428'
INSERT INTO #product SELECT '170429'
INSERT INTO #product SELECT '170444A01B'
INSERT INTO #product SELECT '170445A01B'
INSERT INTO #product SELECT '170446A01B'
INSERT INTO #product SELECT '180001'
INSERT INTO #product SELECT '180083'
INSERT INTO #product SELECT '180084'
INSERT INTO #product SELECT '180141'
INSERT INTO #product SELECT '180149'
INSERT INTO #product SELECT '180185'
INSERT INTO #product SELECT '180214'
INSERT INTO #product SELECT '180301'
INSERT INTO #product SELECT '180450'
INSERT INTO #product SELECT '180510'
INSERT INTO #product SELECT '180596'
INSERT INTO #product SELECT '180627'
INSERT INTO #product SELECT '180632'
INSERT INTO #product SELECT '180633'
INSERT INTO #product SELECT '180636'
INSERT INTO #product SELECT '180782'
INSERT INTO #product SELECT '180798'
INSERT INTO #product SELECT '180811'
INSERT INTO #product SELECT '180820'
INSERT INTO #product SELECT '180875'
INSERT INTO #product SELECT '180975'
INSERT INTO #product SELECT '180996'
INSERT INTO #product SELECT '181007'
INSERT INTO #product SELECT '181036'
INSERT INTO #product SELECT '181037'
INSERT INTO #product SELECT '181064'
INSERT INTO #product SELECT '181231'
INSERT INTO #product SELECT '181236'
INSERT INTO #product SELECT '181346'
INSERT INTO #product SELECT '181392'
INSERT INTO #product SELECT '181462'
INSERT INTO #product SELECT '181500'
INSERT INTO #product SELECT '181679'
INSERT INTO #product SELECT '181808'
INSERT INTO #product SELECT '182986'
INSERT INTO #product SELECT '181925'
INSERT INTO #product SELECT '181938'
INSERT INTO #product SELECT '181943'
INSERT INTO #product SELECT '181946'
INSERT INTO #product SELECT '181952'
INSERT INTO #product SELECT '181953'
INSERT INTO #product SELECT '181962'
INSERT INTO #product SELECT '181971'
INSERT INTO #product SELECT '182265'
INSERT INTO #product SELECT '182315'
INSERT INTO #product SELECT '182563'
INSERT INTO #product SELECT '182645'
INSERT INTO #product SELECT '182673'
INSERT INTO #product SELECT '190886'
INSERT INTO #product SELECT '191101'
INSERT INTO #product SELECT '191103'
INSERT INTO #product SELECT '191196'
INSERT INTO #product SELECT '191197'
INSERT INTO #product SELECT '191198'
INSERT INTO #product SELECT '191199'
INSERT INTO #product SELECT '191200'
INSERT INTO #product SELECT '191317'
INSERT INTO #product SELECT '191339'
INSERT INTO #product SELECT '191349'
INSERT INTO #product SELECT '191453'
INSERT INTO #product SELECT '191454'
INSERT INTO #product SELECT '191465'
INSERT INTO #product SELECT '191466'
INSERT INTO #product SELECT '191499'
INSERT INTO #product SELECT '191536'
INSERT INTO #product SELECT '191537'
INSERT INTO #product SELECT '191576'
INSERT INTO #product SELECT '191602'
INSERT INTO #product SELECT '191826'
INSERT INTO #product SELECT '191886'
INSERT INTO #product SELECT '192027'
INSERT INTO #product SELECT '192028'
INSERT INTO #product SELECT '192042'
INSERT INTO #product SELECT '192043'
INSERT INTO #product SELECT '192059'
INSERT INTO #product SELECT '192112'
INSERT INTO #product SELECT '192216'
INSERT INTO #product SELECT '192252'
INSERT INTO #product SELECT '192305'
INSERT INTO #product SELECT '192306'
INSERT INTO #product SELECT '192339'
INSERT INTO #product SELECT '192351'
INSERT INTO #product SELECT '192481'
INSERT INTO #product SELECT '192505'
INSERT INTO #product SELECT '192506'
INSERT INTO #product SELECT '192559'
INSERT INTO #product SELECT '192560'
INSERT INTO #product SELECT '192570'
INSERT INTO #product SELECT '192825'
INSERT INTO #product SELECT '192826'
INSERT INTO #product SELECT '193023'
INSERT INTO #product SELECT '193051'
INSERT INTO #product SELECT '193052'
INSERT INTO #product SELECT '193056'
INSERT INTO #product SELECT '193068'
INSERT INTO #product SELECT '193128'
INSERT INTO #product SELECT '193201'
INSERT INTO #product SELECT '193231'
INSERT INTO #product SELECT '193273A01B'
INSERT INTO #product SELECT '193398'
INSERT INTO #product SELECT '193405'
INSERT INTO #product SELECT '193479'
INSERT INTO #product SELECT '193480'
INSERT INTO #product SELECT '193494'
INSERT INTO #product SELECT '193495'
INSERT INTO #product SELECT '193607'
INSERT INTO #product SELECT '193633'
INSERT INTO #product SELECT '193634'
INSERT INTO #product SELECT '193637'
INSERT INTO #product SELECT '193643'
INSERT INTO #product SELECT '193644'
INSERT INTO #product SELECT '193645'
INSERT INTO #product SELECT '193674'
INSERT INTO #product SELECT '193675'
INSERT INTO #product SELECT '193718'
INSERT INTO #product SELECT '193719'
INSERT INTO #product SELECT '193727'
INSERT INTO #product SELECT '193730'
INSERT INTO #product SELECT '193770'
INSERT INTO #product SELECT '193771'
INSERT INTO #product SELECT '193780'
INSERT INTO #product SELECT '193814'
INSERT INTO #product SELECT '193821'
INSERT INTO #product SELECT '193841'
INSERT INTO #product SELECT '193848'
INSERT INTO #product SELECT '193873'
INSERT INTO #product SELECT '193881'
INSERT INTO #product SELECT '193882'
INSERT INTO #product SELECT '193884'
INSERT INTO #product SELECT '193914'
INSERT INTO #product SELECT '193918'
INSERT INTO #product SELECT '193923'
INSERT INTO #product SELECT '193924'
INSERT INTO #product SELECT '193930'
INSERT INTO #product SELECT '193931'
INSERT INTO #product SELECT '193941'
INSERT INTO #product SELECT '193942'
INSERT INTO #product SELECT '193965A01B'
INSERT INTO #product SELECT '193972'
INSERT INTO #product SELECT '193977A01B'
INSERT INTO #product SELECT '193985A01B'
INSERT INTO #product SELECT '193996A01B'
INSERT INTO #product SELECT '194007A01B'
INSERT INTO #product SELECT '194012A01B'
INSERT INTO #product SELECT '194028A01B'
INSERT INTO #product SELECT '194032A01B'
INSERT INTO #product SELECT '194046A01B'
INSERT INTO #product SELECT '194049A01B'
INSERT INTO #product SELECT '194050A01B'
INSERT INTO #product SELECT '194061A01B'
INSERT INTO #product SELECT '194066A01B'
INSERT INTO #product SELECT '194067A01B'
INSERT INTO #product SELECT '194110A01B'
INSERT INTO #product SELECT '194177A01B'
INSERT INTO #product SELECT '194227A01B'
INSERT INTO #product SELECT '194228A01B'
INSERT INTO #product SELECT '194229A01B'
INSERT INTO #product SELECT '194232A01B'
INSERT INTO #product SELECT '194242A01B'
INSERT INTO #product SELECT '194305A01B'
INSERT INTO #product SELECT '194316A01B'
INSERT INTO #product SELECT '194352A01B'
INSERT INTO #product SELECT '194363A01B'
INSERT INTO #product SELECT '194367A01B'
INSERT INTO #product SELECT '194383A01B'
INSERT INTO #product SELECT '194384A01B'
INSERT INTO #product SELECT '194421A01B'
INSERT INTO #product SELECT '194422A01B'
INSERT INTO #product SELECT '194454A01B'
INSERT INTO #product SELECT '194478A01B'
INSERT INTO #product SELECT '194552A01B'
INSERT INTO #product SELECT '194556A01B'
INSERT INTO #product SELECT '143144'
INSERT INTO #product SELECT '143145'
INSERT INTO #product SELECT '143283'
INSERT INTO #product SELECT '143072'
INSERT INTO #product SELECT '140583'
INSERT INTO #product SELECT '142172'
INSERT INTO #product SELECT '194581A01B'
INSERT INTO #product SELECT '143018'
INSERT INTO #product SELECT '143069'
INSERT INTO #product SELECT '143068'
INSERT INTO #product SELECT '140796'
INSERT INTO #product SELECT '142361'
INSERT INTO #product SELECT '182734'
INSERT INTO #product SELECT '194589A01B'
INSERT INTO #product SELECT '143006'
INSERT INTO #product SELECT '142794'
INSERT INTO #product SELECT '141435'
INSERT INTO #product SELECT '143105'
INSERT INTO #product SELECT '142763'
INSERT INTO #product SELECT '182690'
INSERT INTO #product SELECT '142765'
INSERT INTO #product SELECT '143205'
INSERT INTO #product SELECT '163652A02C'
INSERT INTO #product SELECT '143088'
INSERT INTO #product SELECT '143089'
INSERT INTO #product SELECT '143100'
INSERT INTO #product SELECT '194378B01B'
INSERT INTO #product SELECT '163987A01B'
INSERT INTO #product SELECT '143186'
INSERT INTO #product SELECT '143154'
INSERT INTO #product SELECT '143150'
INSERT INTO #product SELECT '143160'
INSERT INTO #product SELECT '182681'
INSERT INTO #product SELECT '143169'
INSERT INTO #product SELECT '164314A01C'
INSERT INTO #product SELECT '163955A01B'
INSERT INTO #product SELECT '163975A03B'
INSERT INTO #product SELECT '143244'
INSERT INTO #product SELECT '143418'
INSERT INTO #product SELECT '163410H01B'
INSERT INTO #product SELECT '194721A01B'
INSERT INTO #product SELECT '162160H01B'
INSERT INTO #product SELECT '143217'
INSERT INTO #product SELECT '164307A01C'
INSERT INTO #product SELECT '182806'
INSERT INTO #product SELECT '194903A01B'
INSERT INTO #product SELECT '143345'
INSERT INTO #product SELECT '143339'
INSERT INTO #product SELECT '194860A01B'
INSERT INTO #product SELECT '164354A01B'


	SELECT
		  pm.[Part Type]
		, msib.segment1 AS [SKU]
		, msib.description AS [Oracle Name]
		, msib.attribute9 AS [SIOP Family]
		, msib.attribute1 AS [Category]
		, msib.attribute2 AS [Sub-Category]
		, mcr.Cross_reference AS UPC
		, CASE WHEN mcr.CROSS_REFERENCE IS NOT NULL THEN RIGHT('00000000000'+mcr.CROSS_REFERENCE,14) END AS  [GTIN]
		, msib.Attribute5 AS [H.S. Code]
		, pm.[MakeBuy] AS [Make/Buy]
		, msib.inventory_item_status_code AS [Product Lifecycle Stage]

		,NULL [Standard Cost]
		,AmazonPrice AS [Amazon DS Invoice Price]	  --S2C 2006 AMAZON.COM TOYS USD + S2C DSF AMAZON.COM
		,WayfairPrice AS [Wayfair Invoice Price]	  --S2C 2013 WAYFAIR + S2C DSF WAYFAIR	
		,HomeDepotPrice AS [HD.com Invoice Price]	  --S2C 2008 HOME DEPOT.COM USD + S2C DSF HOME DEPOT.COM
		,KohlsPrice AS [Kohls.com Invoice Price]   --S2C 2018 KOHLS.COM USD + S2C DSF KOHLS.COM
		,TargetPrice AS [Target.com Invoice Price]  --S2C 2010 TARGET.COM USD + 'S2C DSF TARGET.COM
		,SmythsPrice AS [Smyths Invoice Price]	  --S2C 2014 SMYTHS PRICE CODE USD
		,LowesPrice AS [Lowes B&M Invoice Price]	  --S2C 2011 LOWES RDC USD

		,HomeDepotSKU	AS [Home Depot OMSID]	
		,WayfairSKU		AS [Wayfair SKU]	
		,KohlsSKU		AS [Kohls.com SKU]	
		,TargetSKU		AS [Target.com SKU]	
		,AldiSKU		AS [Aldi SKU]	
		,LowesSKU		AS [Lowe's B&M SKU]	
		,SmythsSKU		AS [Smyths ID]

		, msib.attribute7 AS [Country of Origin]
		, NULL AS [Multipack Quantity]
		, NULL AS [Count]		
		, msib.item_type AS [Item Type]

		, DIMENSION_UOM_CODE
		, msib.UNIT_LENGTH AS [Master Carton: Packaged Length (in)]
		, msib.UNIT_WIDTH AS [Master Carton: Packaged Width (in)]
		, msib.UNIT_HEIGHT AS [Master Carton: Packaged Height (in)]

		, WEIGHT_UOM_CODE
		, msib.UNIT_WEIGHT AS [Master Carton: Packaged Weight (lbs)]

		, VOLUME_UOM_CODE
		, msib.unit_volume AS [Master Carton: Cube (sq ft)]		
		
		-- other stuff
		--, REPLACE(REPLACE([Long_Description], CHAR(13), ' '), CHAR(10), ' ') AS [Long Description]
		--, msib.attribute3 AS [Brand]
		--, msib.attribute4 AS [Part Class]
	
	INTO dbo.PIMProductMaster
	FROM Oracle.inv_mtl_system_items_b msib
		LEFT JOIN Oracle.inv_mtl_system_items_tl msit ON msib.ORGANIZATION_ID = msit.ORGANIZATION_ID AND msib.INVENTORY_ITEM_ID = msit.INVENTORY_ITEM_ID AND msit.CurrentRecord = 1
		LEFT JOIN Fact.ProductPricing pp ON msib.Segment1 = pp.ProductKey
		LEFT JOIN Oracle.APPS_MTL_CROSS_REFERENCES mcr on msib.INVENTORY_ITEM_ID = mcr.INVENTORY_ITEM_ID and mcr.cross_reference_type = 'UPC' AND mcr.CurrentRecord = 1
		LEFT JOIN dbo.DimProductMaster pm ON pm.ProductKey = msib.Segment1
		LEFT JOIN Output.PIMCustomerPartNumber pn ON pm.ProductKey = pn.SKU
		LEFT JOIN Output.[PIMCustomerPrice] cp ON pm.ProductKey = cp.SKU
		--INNER JOIN #product s ON msib.SEGMENT1 = s.ProductKey
	WHERE msib.organization_id = 85 AND msib.CurrentRecord = 1 
		AND pm.[Part Type] IN ('Components','Finished Goods')
	ORDER BY SKU


END


GO
