USE [Operations]
GO
/****** Object:  Table [dbo].[FactPurchase]    Script Date: 7/10/2025 11:43:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactPurchase](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[POID] [int] NULL,
	[VendorID] [int] NOT NULL,
	[DateID] [int] NULL,
	[ProductID] [int] NULL,
	[LINE_AGE] [int] NULL,
	[AgeID] [int] NULL,
	[PO_LINE_CANCEL_FLAG] [int] NOT NULL,
	[PO_LINE_OPEN_FLAG] [int] NOT NULL,
	[UNIT_PRICE] [float] NULL,
	[ORDER_QUANTITY] [float] NULL,
	[QUANTITY_RECEIVED] [float] NULL,
	[QUANTITY_CANCELLED] [float] NULL,
	[REMAINING_QUANTITY] [float] NULL,
	[ORDER_TOTAL] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
