USE [Operations]
GO
/****** Object:  Table [dbo].[DimM2MTimeSeries]    Script Date: 7/10/2025 11:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimM2MTimeSeries](
	[TimeSeriesID] [int] NOT NULL,
	[DateID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TimeSeriesID] ASC,
	[DateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
