USE [Operations]
GO
/****** Object:  Table [dbo].[DimPOType]    Script Date: 7/10/2025 11:43:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimPOType](
	[POTypeID] [int] IDENTITY(1,1) NOT NULL,
	[PO_TYPE] [nvarchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[POTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
