USE [Operations]
GO
/****** Object:  Table [dbo].[DimAPInvoice]    Script Date: 7/10/2025 11:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimAPInvoice](
	[APINVOICEID] [int] IDENTITY(1,1) NOT NULL,
	[INVOICE_ID] [numeric](15, 0) NOT NULL,
	[INVOICE_NUM] [nvarchar](50) NOT NULL,
	[LINE_NUMBER] [float] NULL,
	[INVOicE_DATE] [datetime2](7) NULL,
	[INVOICE_AMOUNT] [float] NULL,
	[AMOUNT_PAID] [float] NULL,
	[APPROVED_AMOUNT] [float] NULL,
	[LINE_TYPE_LOOKUP_CODE] [nvarchar](25) NULL,
	[LINE_SOURcE] [nvarchar](30) NULL,
	[MATCH_TYPE] [nvarchar](25) NULL,
	[QUANTITY_INVOICED] [float] NULL,
	[UNIT_PRICE] [float] NULL,
	[ITEM] [nvarchar](40) NULL,
	[POID] [int] NULL,
 CONSTRAINT [PK_DimAPInvoice] PRIMARY KEY CLUSTERED 
(
	[APINVOICEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
