USE [Operations]
GO
/****** Object:  Table [dbo].[FactSupplyChainPlanASOf]    Script Date: 7/10/2025 11:43:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactSupplyChainPlanASOf](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PlantID] [int] NULL,
	[ProductID] [int] NULL,
	[DemandClassID] [bigint] NULL,
	[InventoryCodeID] [int] NOT NULL,
	[DateID] [int] NULL,
	[InventoryTypeID] [int] NULL,
	[ORDER_TYPE_TEXT] [nvarchar](4000) NULL,
	[Quantity] [float] NULL,
	[Cost] [float] NULL,
	[MachineHours] [float] NULL,
	[MachineID] [int] NULL,
	[PlanMachineID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
