USE [Operations]
GO
/****** Object:  Table [dbo].[BOMExtendedQty]    Script Date: 7/10/2025 11:43:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOMExtendedQty](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CHILD_PATH] [varchar](1000) NULL,
	[PARENT_PATH] [varchar](1000) NULL,
	[LEVEL] [int] NULL,
	[ITEM_NUM] [float] NULL,
	[COMPONENT_QUANTITY] [float] NULL,
	[PARENT_QUANTITY] [float] NULL,
	[EXTENDED_QUANTITY] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
