USE [Operations]
GO
/****** Object:  Table [dbo].[M2MTimeSeries]    Script Date: 7/10/2025 11:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M2MTimeSeries](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TimeSeriesID] [int] NOT NULL,
	[DateID] [int] NOT NULL,
 CONSTRAINT [PK_M2MTimeSeries] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
