USE [Operations]
GO
/****** Object:  Table [dbo].[FirstPurchaseDate]    Script Date: 7/10/2025 11:43:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FirstPurchaseDate](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ORG_CODE] [nvarchar](3) NULL,
	[ORG_NAME] [nvarchar](240) NOT NULL,
	[PART_NUMBER] [nvarchar](40) NULL,
	[PART_DESCRIPTION] [nvarchar](240) NULL,
	[TRANS_DATE_TIME] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
