USE [Operations]
GO
/****** Object:  Table [dbo].[DimPOCode]    Script Date: 7/10/2025 11:43:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimPOCode](
	[POCodeID] [bigint] IDENTITY(1,1) NOT NULL,
	[PO_CODE] [nvarchar](30) NULL,
 CONSTRAINT [PK_DimPOCode] PRIMARY KEY CLUSTERED 
(
	[POCodeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
