USE [Operations]
GO
/****** Object:  Table [dbo].[ETLLog]    Script Date: 7/10/2025 11:43:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ETLLog](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[StoredProcedure] [varchar](50) NULL,
	[Step] [varchar](100) NULL,
	[StartDate] [datetime] NULL,
 CONSTRAINT [PK_ETLLog] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
