USE [Operations]
GO
/****** Object:  Table [DOR].[History]    Script Date: 7/10/2025 11:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DOR].[History](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[INDEX_ID] [int] NOT NULL,
	[DATE] [date] NULL,
	[ORG_CODE] [varchar](3) NULL,
	[ORG_NAME] [varchar](25) NULL,
	[SHIFT] [varchar](1) NULL,
	[ADDED_OVERTIME_HRS] [float] NULL,
	[ADDED_OVERTIME_HEADS] [float] NULL,
	[ADDED_OVERTIME_SHIFT_PERC] [float] NULL,
	[ASSEMBLY_OT_HRS] [float] NULL,
	[ASSEMBLY_OT_HEADS] [float] NULL,
	[ASSEMBLY_OT_SHIFT_PERC] [float] NULL,
	[ROTO_OT_HRS] [float] NULL,
	[ROTO_OT_HEADS] [float] NULL,
	[ROTO_OT_SHIFT_PERC] [float] NULL,
	[TOTAL_TRAINING_HRS] [float] NULL,
	[TOTAL_TRAINING_HEADS] [float] NULL,
	[TOTAL_TRAINING_SHIFT_PERC] [float] NULL,
	[ASSEMBLY_TRAINING_HRS] [float] NULL,
	[ASSEMBLY_TRAINING_HEADS] [float] NULL,
	[ASSEMBLY_TRAINING_SHIFT_PERC] [float] NULL,
	[ROTO_TRAINING_HRS] [float] NULL,
	[ROTO_TRAINING_HEADS] [float] NULL,
	[ROTO_TRAINING_SHIFT_PERC] [float] NULL,
	[ASSEMBLY_TOTAL_HRS] [float] NULL,
	[ASSEMBLY_TOTAL_HEADS] [float] NULL,
	[ASSEMBLY_TOTAL_SHIFT_PERC] [float] NULL,
	[ASSEMBLY_LINE_HRS] [float] NULL,
	[ASSEMBLY_LINE_HEADS] [float] NULL,
	[ASSEMBLY_LINE_SHIFT_PERC] [float] NULL,
	[CELL_LEAD_HRS] [float] NULL,
	[CELL_LEAD_HEADS] [float] NULL,
	[CELL_LEAD_SHIFT_PERC] [float] NULL,
	[JANITOR_HRS] [float] NULL,
	[JANITOR_HEADS] [float] NULL,
	[JANITOR_SHIFT_PERC] [float] NULL,
	[ASSEMBLY_TRAINEE_HRS] [float] NULL,
	[ASSEMBLY_TRAINEE_HEADS] [float] NULL,
	[ASSEMBLY_TRAINEE_SHIFT_PERC] [float] NULL,
	[ASSEMBLY_TRAINER_HRS] [float] NULL,
	[ASSEMBLY_TRAINER_HEADS] [float] NULL,
	[ASSEMBLY_TRAINER_SHIFT_PERC] [float] NULL,
	[OTHER_DIRECT_HRS] [float] NULL,
	[OTHER_DIRECT_HEADS] [float] NULL,
	[OTHER_DIRECT_SHIFT_PERC] [float] NULL,
	[ASSEMBLY_LT_DUTY_HRS] [float] NULL,
	[ASSEMBLY_LT_DUTY_HEADS] [float] NULL,
	[ASSEMBLY_LT_DUTY_SHIFT_PERC] [float] NULL,
	[ROTO_TOTAL_HRS] [float] NULL,
	[ROTO_TOTAL_HEADS] [float] NULL,
	[ROTO_TOTAL_SHIFT_PERC] [float] NULL,
	[ROTO_MACHINE_HRS] [float] NULL,
	[ROTO_MACHINE_HEADS] [float] NULL,
	[ROTO_MACHINE_SHIFT_PERC] [float] NULL,
	[ROTO_FLOAT_HRS] [float] NULL,
	[ROTO_FLOAT_HEADS] [float] NULL,
	[ROTO_FLOAT_SHIFT_PERC] [float] NULL,
	[ROTO_TRAINEE_HRS] [float] NULL,
	[ROTO_TRAINEE_HEADS] [float] NULL,
	[ROTO_TRAINEE_SHIFT_PERC] [float] NULL,
	[ROTO_TRAINER_HRS] [float] NULL,
	[ROTO_TRAINER_HEADS] [float] NULL,
	[ROTO_TRAINER_SHIFT_PERC] [float] NULL,
	[POWDER_ROOM_HRS] [float] NULL,
	[POWDER_ROOM_HEADS] [float] NULL,
	[POWDER_ROOM_SHIFT_PERC] [float] NULL,
	[MOLDED_CHANGES_ACTUAL_HRS] [float] NULL,
	[SPIDERS_REMOVED_ACTUAL_HRS] [float] NULL,
	[SPIDERS_ADDED_ACTUAL_HRS] [float] NULL,
	[VERSION_CHANGES_ACTUAL_HRS] [float] NULL,
	[NUM_OF_SKU_RAN_ACTUAL_HRS] [float] NULL,
	[TOTAL_EMPTY_SPACES_ACTUAL_HRS] [float] NULL,
	[EMPTY_SPACES_190_ACTUAL_HRS] [float] NULL,
	[EMPTY_SPACES_220_ACTUAL_HRS] [float] NULL,
	[EMPTY_SPACES_280_ACTUAL_HRS] [float] NULL,
	[EMPTY_SPACES_110_ACTUAL_HRS] [float] NULL,
	[SPIDERS_RAN_190_ACTUAL_HRS] [float] NULL,
	[SPIDERS_RAN_220_ACTUAL_HRS] [float] NULL,
	[SPIDERS_RAN_280_ACTUAL_HRS] [float] NULL,
	[SPIDERS_RAN_110_ACTUAL_HRS] [float] NULL,
	[ASSEMBLY_CALL_OFF_ACTUAL_HRS] [float] NULL,
	[ROTO_CALL_OFF_ACTUAL_HRS] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
