USE [Operations]
GO
/****** Object:  Table [Oracle].[OE_PRICE_ADJUSTMENTS_V]    Script Date: 7/10/2025 11:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Oracle].[OE_PRICE_ADJUSTMENTS_V](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ROW_ID] [char](18) NULL,
	[PRICE_ADJUSTMENT_ID] [float] NOT NULL,
	[CREATION_DATE] [datetime2](7) NOT NULL,
	[CREATED_BY] [float] NOT NULL,
	[LAST_UPDATE_DATE] [datetime2](7) NOT NULL,
	[LAST_UPDATED_BY] [float] NOT NULL,
	[LAST_UPDATE_LOGIN] [float] NULL,
	[PROGRAM_APPLICATION_ID] [float] NULL,
	[PROGRAM_ID] [float] NULL,
	[PROGRAM_UPDATE_DATE] [datetime2](7) NULL,
	[REQUEST_ID] [float] NULL,
	[HEADER_ID] [float] NOT NULL,
	[DISCOUNT_ID] [float] NULL,
	[DISCOUNT_LINE_ID] [float] NULL,
	[AUTOMATIC_FLAG] [nvarchar](1) NOT NULL,
	[PERCENT] [float] NULL,
	[LINE_ID] [float] NULL,
	[CONTEXT] [nvarchar](30) NULL,
	[ATTRIBUTE1] [nvarchar](240) NULL,
	[ATTRIBUTE2] [nvarchar](240) NULL,
	[ATTRIBUTE3] [nvarchar](240) NULL,
	[ATTRIBUTE4] [nvarchar](240) NULL,
	[ATTRIBUTE5] [nvarchar](240) NULL,
	[ATTRIBUTE6] [nvarchar](240) NULL,
	[ATTRIBUTE7] [nvarchar](240) NULL,
	[ATTRIBUTE8] [nvarchar](240) NULL,
	[ATTRIBUTE9] [nvarchar](240) NULL,
	[ATTRIBUTE10] [nvarchar](240) NULL,
	[ATTRIBUTE11] [nvarchar](240) NULL,
	[ATTRIBUTE12] [nvarchar](240) NULL,
	[ATTRIBUTE13] [nvarchar](240) NULL,
	[ATTRIBUTE14] [nvarchar](240) NULL,
	[ATTRIBUTE15] [nvarchar](240) NULL,
	[ORIG_SYS_DISCOUNT_REF] [nvarchar](50) NULL,
	[LIST_HEADER_ID] [float] NULL,
	[LIST_LINE_ID] [float] NULL,
	[LIST_LINE_TYPE_CODE] [nvarchar](30) NULL,
	[MODIFIER_MECHANISM_TYPE_CODE] [nvarchar](30) NULL,
	[MODIFIED_FROM] [nvarchar](240) NULL,
	[MODIFIED_TO] [nvarchar](240) NULL,
	[UPDATED_FLAG] [nvarchar](1) NULL,
	[UPDATE_ALLOWED] [nvarchar](1) NULL,
	[APPLIED_FLAG] [nvarchar](1) NULL,
	[CHANGE_REASON_CODE] [nvarchar](30) NULL,
	[CHANGE_REASON_TEXT] [nvarchar](2000) NULL,
	[ADJUSTMENT_NAME] [nvarchar](240) NULL,
	[ADJUSTMENT_TYPE_CODE] [nvarchar](30) NULL,
	[OVERRIDE_ALLOWED_FLAG] [nvarchar](1) NULL,
	[ADJUSTMENT_TYPE_NAME] [nvarchar](2) NULL,
	[OPERAND] [float] NULL,
	[ARITHMETIC_OPERATOR] [nvarchar](30) NULL,
	[COST_ID] [float] NULL,
	[TAX_CODE] [nvarchar](50) NULL,
	[TAX_EXEMPT_FLAG] [nvarchar](1) NULL,
	[TAX_EXEMPT_NUMBER] [nvarchar](80) NULL,
	[TAX_EXEMPT_REASON_CODE] [nvarchar](30) NULL,
	[PARENT_ADJUSTMENT_ID] [float] NULL,
	[INVOICED_FLAG] [nvarchar](1) NULL,
	[ESTIMATED_FLAG] [nvarchar](1) NULL,
	[INC_IN_SALES_PERFORMANCE] [nvarchar](1) NULL,
	[SPLIT_ACTION_CODE] [nvarchar](30) NULL,
	[PRICING_PHASE_ID] [float] NULL,
	[ADJUSTED_AMOUNT] [float] NULL,
	[CHARGE_TYPE_CODE] [nvarchar](30) NULL,
	[CHARGE_SUBTYPE_CODE] [nvarchar](30) NULL,
	[LIST_LINE_NO] [nvarchar](240) NULL,
	[SOURCE_SYSTEM_CODE] [nvarchar](30) NULL,
	[BENEFIT_QTY] [float] NULL,
	[BENEFIT_UOM_CODE] [nvarchar](3) NULL,
	[PRINT_ON_INVOICE_FLAG] [nvarchar](1) NULL,
	[EXPIRATION_DATE] [datetime2](7) NULL,
	[REBATE_TRANSACTION_TYPE_CODE] [nvarchar](30) NULL,
	[REBATE_TRANSACTION_REFERENCE] [nvarchar](80) NULL,
	[REBATE_PAYMENT_SYSTEM_CODE] [nvarchar](30) NULL,
	[REDEEMED_DATE] [datetime2](7) NULL,
	[REDEEMED_FLAG] [nvarchar](1) NULL,
	[ACCRUAL_FLAG] [nvarchar](1) NULL,
	[RANGE_BREAK_QUANTITY] [float] NULL,
	[ACCRUAL_CONVERSION_RATE] [float] NULL,
	[PRICING_GROUP_SEQUENCE] [float] NULL,
	[MODIFIER_LEVEL_CODE] [nvarchar](30) NULL,
	[PRICE_BREAK_TYPE_CODE] [nvarchar](30) NULL,
	[SUBSTITUTION_ATTRIBUTE] [nvarchar](30) NULL,
	[PRORATION_TYPE_CODE] [nvarchar](30) NULL,
	[CREDIT_OR_CHARGE_FLAG] [nvarchar](1) NULL,
	[INCLUDE_ON_RETURNS_FLAG] [nvarchar](1) NULL,
	[ADJUSTMENT_DESCRIPTION] [nvarchar](2000) NULL,
	[AC_CONTEXT] [nvarchar](150) NULL,
	[AC_ATTRIBUTE1] [nvarchar](240) NULL,
	[AC_ATTRIBUTE2] [nvarchar](240) NULL,
	[AC_ATTRIBUTE3] [nvarchar](240) NULL,
	[AC_ATTRIBUTE4] [nvarchar](240) NULL,
	[AC_ATTRIBUTE5] [nvarchar](240) NULL,
	[AC_ATTRIBUTE6] [nvarchar](240) NULL,
	[AC_ATTRIBUTE7] [nvarchar](240) NULL,
	[AC_ATTRIBUTE8] [nvarchar](240) NULL,
	[AC_ATTRIBUTE9] [nvarchar](240) NULL,
	[AC_ATTRIBUTE10] [nvarchar](240) NULL,
	[AC_ATTRIBUTE11] [nvarchar](240) NULL,
	[AC_ATTRIBUTE12] [nvarchar](240) NULL,
	[AC_ATTRIBUTE13] [nvarchar](240) NULL,
	[AC_ATTRIBUTE14] [nvarchar](240) NULL,
	[AC_ATTRIBUTE15] [nvarchar](240) NULL,
	[LOCK_CONTROL] [float] NULL,
	[OPERAND_PER_PQTY] [float] NULL,
	[ADJUSTED_AMOUNT_PER_PQTY] [float] NULL,
	[INVOICED_AMOUNT] [float] NULL,
	[RETROBILL_REQUEST_ID] [float] NULL,
	[TAX_RATE_ID] [numeric](15, 0) NULL,
	[Fingerprint] [varchar](32) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NULL,
	[CurrentRecord] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Oracle].[OE_PRICE_ADJUSTMENTS_V] ADD  DEFAULT (getdate()) FOR [StartDate]
GO
ALTER TABLE [Oracle].[OE_PRICE_ADJUSTMENTS_V] ADD  DEFAULT ((1)) FOR [CurrentRecord]
GO
