USE [Operations]
GO
/****** Object:  Table [Oracle].[OrderLineHistory]    Script Date: 7/10/2025 11:43:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Oracle].[OrderLineHistory](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LINE_ID] [float] NULL,
	[SELLING_PRICE] [float] NULL,
	[LIST_PRICE] [float] NULL,
	[PRICING_QUANTITY] [float] NULL,
	[HIST_TYPE_CODE] [nvarchar](30) NOT NULL,
	[HIST_CREATION_DATE] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
