USE [Operations]
GO
/****** Object:  Table [Oracle].[INV_MTL_ITEM_LOCATIONS]    Script Date: 7/10/2025 11:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Oracle].[INV_MTL_ITEM_LOCATIONS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[INVENTORY_LOCATION_ID] [float] NOT NULL,
	[ORGANIZATION_ID] [float] NOT NULL,
	[LAST_UPDATE_DATE] [datetime2](7) NOT NULL,
	[LAST_UPDATED_BY] [float] NOT NULL,
	[CREATION_DATE] [datetime2](7) NULL,
	[CREATED_BY] [float] NULL,
	[LAST_UPDATE_LOGIN] [float] NULL,
	[DESCRIPTION] [nvarchar](50) NULL,
	[DESCRIPTIVE_TEXT] [nvarchar](240) NULL,
	[DISABLE_DATE] [datetime2](7) NULL,
	[INVENTORY_LOCATION_TYPE] [float] NULL,
	[PICKING_ORDER] [float] NULL,
	[PHYSICAL_LOCATION_CODE] [nvarchar](10) NULL,
	[LOCATION_MAXIMUM_UNITS] [float] NULL,
	[SUBINVENTORY_CODE] [nvarchar](10) NULL,
	[LOCATION_WEIGHT_UOM_CODE] [nvarchar](3) NULL,
	[MAX_WEIGHT] [float] NULL,
	[VOLUME_UOM_CODE] [nvarchar](3) NULL,
	[MAX_CUBIC_AREA] [float] NULL,
	[X_COORDINATE] [float] NULL,
	[Y_COORDINATE] [float] NULL,
	[Z_COORDINATE] [float] NULL,
	[INVENTORY_ACCOUNT_ID] [float] NULL,
	[SEGMENT1] [nvarchar](40) NULL,
	[SEGMENT2] [nvarchar](40) NULL,
	[SEGMENT3] [nvarchar](40) NULL,
	[SEGMENT4] [nvarchar](40) NULL,
	[SEGMENT5] [nvarchar](40) NULL,
	[SEGMENT6] [nvarchar](40) NULL,
	[SEGMENT7] [nvarchar](40) NULL,
	[SEGMENT8] [nvarchar](40) NULL,
	[SEGMENT9] [nvarchar](40) NULL,
	[SEGMENT10] [nvarchar](40) NULL,
	[SEGMENT11] [nvarchar](40) NULL,
	[SEGMENT12] [nvarchar](40) NULL,
	[SEGMENT13] [nvarchar](40) NULL,
	[SEGMENT14] [nvarchar](40) NULL,
	[SEGMENT15] [nvarchar](40) NULL,
	[SEGMENT16] [nvarchar](40) NULL,
	[SEGMENT17] [nvarchar](40) NULL,
	[SEGMENT18] [nvarchar](40) NULL,
	[SEGMENT19] [nvarchar](40) NULL,
	[SEGMENT20] [nvarchar](40) NULL,
	[SUMMARY_FLAG] [nvarchar](1) NOT NULL,
	[ENABLED_FLAG] [nvarchar](1) NOT NULL,
	[START_DATE_ACTIVE] [datetime2](7) NULL,
	[END_DATE_ACTIVE] [datetime2](7) NULL,
	[ATTRIBUTE_CATEGORY] [nvarchar](30) NULL,
	[ATTRIBUTE1] [nvarchar](150) NULL,
	[ATTRIBUTE2] [nvarchar](150) NULL,
	[ATTRIBUTE3] [nvarchar](150) NULL,
	[ATTRIBUTE4] [nvarchar](150) NULL,
	[ATTRIBUTE5] [nvarchar](150) NULL,
	[ATTRIBUTE6] [nvarchar](150) NULL,
	[ATTRIBUTE7] [nvarchar](150) NULL,
	[ATTRIBUTE8] [nvarchar](150) NULL,
	[ATTRIBUTE9] [nvarchar](150) NULL,
	[ATTRIBUTE10] [nvarchar](150) NULL,
	[ATTRIBUTE11] [nvarchar](150) NULL,
	[ATTRIBUTE12] [nvarchar](150) NULL,
	[ATTRIBUTE13] [nvarchar](150) NULL,
	[ATTRIBUTE14] [nvarchar](150) NULL,
	[ATTRIBUTE15] [nvarchar](150) NULL,
	[REQUEST_ID] [float] NULL,
	[PROGRAM_APPLICATION_ID] [float] NULL,
	[PROGRAM_ID] [float] NULL,
	[PROGRAM_UPDATE_DATE] [datetime2](7) NULL,
	[PROJECT_ID] [numeric](15, 0) NULL,
	[TASK_ID] [numeric](15, 0) NULL,
	[PHYSICAL_LOCATION_ID] [numeric](15, 0) NULL,
	[PICK_UOM_CODE] [nvarchar](3) NULL,
	[DIMENSION_UOM_CODE] [nvarchar](3) NULL,
	[LENGTH] [float] NULL,
	[WIDTH] [float] NULL,
	[HEIGHT] [float] NULL,
	[LOCATOR_STATUS] [float] NULL,
	[STATUS_ID] [float] NULL,
	[CURRENT_CUBIC_AREA] [float] NULL,
	[AVAILABLE_CUBIC_AREA] [float] NULL,
	[CURRENT_WEIGHT] [float] NULL,
	[AVAILABLE_WEIGHT] [float] NULL,
	[LOCATION_CURRENT_UNITS] [float] NULL,
	[LOCATION_AVAILABLE_UNITS] [float] NULL,
	[INVENTORY_ITEM_ID] [float] NULL,
	[SUGGESTED_CUBIC_AREA] [float] NULL,
	[SUGGESTED_WEIGHT] [float] NULL,
	[LOCATION_SUGGESTED_UNITS] [float] NULL,
	[EMPTY_FLAG] [nvarchar](1) NULL,
	[MIXED_ITEMS_FLAG] [nvarchar](1) NULL,
	[DROPPING_ORDER] [float] NULL,
	[AVAILABILITY_TYPE] [float] NULL,
	[INVENTORY_ATP_CODE] [float] NULL,
	[RESERVABLE_TYPE] [float] NULL,
	[ALIAS] [nvarchar](30) NULL,
	[INV_DOCK_DOOR_ID] [float] NULL,
	[INV_ORG_ID] [float] NULL,
	[AREA_ROW_ID] [float] NULL,
	[Fingerprint] [varchar](32) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NULL,
	[CurrentRecord] [bit] NOT NULL,
 CONSTRAINT [PK_INV_MTL_ITEM_LOCATIONS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Oracle].[INV_MTL_ITEM_LOCATIONS] ADD  DEFAULT (getdate()) FOR [StartDate]
GO
ALTER TABLE [Oracle].[INV_MTL_ITEM_LOCATIONS] ADD  DEFAULT ((1)) FOR [CurrentRecord]
GO
