USE [Operations]
GO
/****** Object:  Table [Oracle].[GL_DAILY_RATES]    Script Date: 7/10/2025 11:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Oracle].[GL_DAILY_RATES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FROM_CURRENCY] [nvarchar](15) NOT NULL,
	[TO_CURRENCY] [nvarchar](15) NOT NULL,
	[CONVERSION_DATE] [datetime2](7) NOT NULL,
	[CONVERSION_RATE] [float] NOT NULL,
	[INVERSE_CONVERSION_RATE] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
