USE [Operations]
GO
/****** Object:  Table [Oracle].[XLA_CST_WRITE_OFFS]    Script Date: 7/10/2025 11:43:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Oracle].[XLA_CST_WRITE_OFFS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[JE_BATCH_ID] [numeric](15, 0) NOT NULL,
	[JE_HEADER_ID] [numeric](15, 0) NOT NULL,
	[JE_LINE_NUM] [numeric](15, 0) NOT NULL,
	[AE_LINE_DESCRIPTION] [nvarchar](1996) NULL,
	[ACCOUNTING_CLASS_CODE] [nvarchar](30) NOT NULL,
	[ACCOUNTED_DR] [float] NULL,
	[ACCOUNTED_CR] [float] NULL,
	[DEBIT] [float] NULL,
	[CREDIT] [float] NULL,
	[ACCOUNTING_DATE] [datetime2](7) NOT NULL,
	[JE_CATEGORY_NAME] [nvarchar](30) NOT NULL,
	[PRODUCT_RULE_CODE] [nvarchar](30) NULL,
	[AE_HEADER_DESCRIPTION] [nvarchar](1996) NULL,
	[ENTITY_CODE] [nvarchar](30) NOT NULL,
	[TRANSACTION_NUMBER] [nvarchar](240) NULL,
	[SOURCE_DISTRIBUTION_TYPE] [nvarchar](30) NOT NULL,
	[SOURCE_DISTRIBUTION_ID_NUM_1] [numeric](38, 0) NULL,
	[ACCOUNTING_LINE_CODE] [nvarchar](30) NULL,
	[LINE_DEFINITION_CODE] [nvarchar](30) NULL,
	[EVENT_TYPE_CODE] [nvarchar](30) NULL,
	[APPLIED_TO_ENTITY_CODE] [nvarchar](30) NULL,
	[APPLIED_TO_DISTRIBUTION_TYPE] [nvarchar](30) NULL,
	[SEGMENT1] [nvarchar](25) NULL,
	[SEGMENT2] [nvarchar](25) NULL,
	[SEGMENT3] [nvarchar](25) NULL,
	[SEGMENT4] [nvarchar](25) NULL,
	[JE_LINE_DESCRIPTION] [nvarchar](240) NULL,
	[JE_HEADER_NAME] [nvarchar](100) NOT NULL,
	[JE_HEADER_DESCRIPTION] [nvarchar](240) NULL,
	[AE_HEADER_ID] [numeric](15, 0) NOT NULL,
	[AE_LINE_NUM] [numeric](38, 0) NOT NULL,
	[ACCOUNT_ID] [numeric](15, 0) NULL,
	[ACCOUNT_NAME] [nvarchar](240) NULL,
	[SKU] [nvarchar](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
