USE [Operations]
GO
/****** Object:  Table [Oracle].[TMAccrualOrders]    Script Date: 7/10/2025 11:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Oracle].[TMAccrualOrders](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PERIOD_YEAR] [numeric](15, 0) NOT NULL,
	[PERIOD_NUM] [numeric](15, 0) NOT NULL,
	[UTILIZATION_TYPE] [nvarchar](30) NULL,
	[AR_ACCOUNT] [nvarchar](103) NULL,
	[CUSTOMER_NUM] [nvarchar](30) NOT NULL,
	[CUSTOMER_NAME] [nvarchar](240) NULL,
	[ORDER_LINE_ID] [float] NULL,
	[ACCT_AMT] [float] NULL,
	[FUND_NAME] [nvarchar](240) NULL,
	[FUND_DESC] [nvarchar](4000) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
