USE [Operations]
GO
/****** Object:  Table [Oracle].[XLA_AP_DIST]    Script Date: 7/10/2025 11:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Oracle].[XLA_AP_DIST](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[JE_BATCH_ID] [numeric](15, 0) NOT NULL,
	[JE_HEADER_ID] [numeric](15, 0) NOT NULL,
	[JE_LINE_NUM] [numeric](15, 0) NOT NULL,
	[AE_LINE_DESCRIPTION] [nvarchar](1996) NULL,
	[ACCOUNTING_CLASS_CODE] [nvarchar](30) NOT NULL,
	[ACCOUNTED_DR] [float] NULL,
	[ACCOUNTED_CR] [float] NULL,
	[DEBIT] [float] NULL,
	[CREDIT] [float] NULL,
	[ACCOUNTING_DATE] [datetime2](7) NOT NULL,
	[JE_CATEGORY_NAME] [nvarchar](30) NOT NULL,
	[PRODUCT_RULE_CODE] [nvarchar](30) NULL,
	[AE_HEADER_DESCRIPTION] [nvarchar](1996) NULL,
	[ENTITY_CODE] [nvarchar](30) NOT NULL,
	[TRANSACTION_NUMBER] [nvarchar](240) NULL,
	[SOURCE_DISTRIBUTION_TYPE] [nvarchar](30) NOT NULL,
	[SOURCE_DISTRIBUTION_ID_NUM_1] [numeric](38, 0) NULL,
	[ACCOUNTING_LINE_CODE] [nvarchar](30) NULL,
	[LINE_DEFINITION_CODE] [nvarchar](30) NULL,
	[EVENT_TYPE_CODE] [nvarchar](30) NULL,
	[APPLIED_TO_ENTITY_CODE] [nvarchar](30) NULL,
	[APPLIED_TO_DISTRIBUTION_TYPE] [nvarchar](30) NULL,
	[SEGMENT1] [nvarchar](25) NULL,
	[SEGMENT2] [nvarchar](25) NULL,
	[SEGMENT3] [nvarchar](25) NULL,
	[SEGMENT4] [nvarchar](25) NULL,
	[JE_LINE_DESCRIPTION] [nvarchar](240) NULL,
	[JE_HEADER_NAME] [nvarchar](100) NOT NULL,
	[JE_HEADER_DESCRIPTION] [nvarchar](240) NULL,
	[AE_HEADER_ID] [numeric](15, 0) NOT NULL,
	[AE_LINE_NUM] [numeric](38, 0) NOT NULL,
	[INVOICE_ID] [numeric](15, 0) NULL,
	[INVOICE_DISTRIBUTION_DESCRIPTION] [nvarchar](240) NULL,
	[INVOICE_LINE_DESCRIPTION] [nvarchar](240) NULL,
	[INVOICE_NUM] [nvarchar](50) NULL,
	[LINE_SOURCE] [nvarchar](30) NULL,
	[WFAPPROVAL_STATUS] [nvarchar](30) NULL,
	[VENDOR_ID] [numeric](15, 0) NULL,
	[INVOICE_AMOUNT] [float] NULL,
	[AMOUNT_PAID] [float] NULL,
	[DISCOUNT_AMOUNT_TAKEN] [float] NULL,
	[APPROVED_AMOUNT] [float] NULL,
	[GL_DATE] [datetime2](7) NULL,
	[PAYMENT_METHOD_CODE] [nvarchar](30) NULL,
	[PARTY_ID] [numeric](15, 0) NULL,
	[PARTY_SITE_ID] [numeric](15, 0) NULL,
	[CHECK_ID] [numeric](15, 0) NULL,
	[INVOICE_PAYMENT_ID] [numeric](15, 0) NULL,
	[POSTED_FLAG] [nvarchar](1) NULL,
	[REMIT_TO_SUPPLIER_NAME] [nvarchar](240) NULL,
	[REMIT_TO_SUPPLIER_ID] [numeric](15, 0) NULL,
	[REMIT_TO_SUPPLIER_SITE] [nvarchar](240) NULL,
	[PAY_DIST_LOOKUP_CODE] [nvarchar](30) NULL,
	[APS_VENDOR_NAME] [float] NULL,
	[VENDOR_NAME] [nvarchar](240) NULL,
	[VENDOR_NAME_ALT] [nvarchar](320) NULL,
	[SUPPLIER_SEGMENT1] [nvarchar](30) NULL,
	[VENDOR_TYPE_LOOKUP_CODE] [nvarchar](30) NULL,
	[NUM_1099] [nvarchar](30) NULL,
	[ORGANIZATION_TYPE_LOOKUP_CODE] [nvarchar](25) NULL,
	[APS_ATTRIBUTE1] [nvarchar](150) NULL,
	[TAX_REPORTING_NAME] [nvarchar](80) NULL,
	[TCA_SYNC_NUM_1099] [nvarchar](30) NULL,
	[TCA_SYNC_VENDOR_NAME] [nvarchar](360) NULL,
	[INDIVIDUAL_1099] [nvarchar](30) NULL,
	[PO_HEADER_ID] [float] NULL,
	[PO_LINE_ID] [float] NULL,
	[LINE_LOCATION_ID] [float] NULL,
	[QUANTITY_ORDERED] [float] NULL,
	[QUANTITY_DELIVERED] [float] NULL,
	[QUANTITY_BILLED] [float] NULL,
	[QUANTITY_CANCELLED] [float] NULL,
	[ACCRUAL_ACCOUNT_ID] [float] NULL,
	[VARIANCE_ACCOUNT_ID] [float] NULL,
	[BOM_RESOURCE_ID] [float] NULL,
	[REQ_DISTRIBUTION_ID] [float] NULL,
	[PO_DIST_CREATED_BY] [float] NULL,
	[ITEM] [nvarchar](40) NULL,
	[ITEM_DESCRIPTION] [nvarchar](240) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
