USE [Operations]
GO
/****** Object:  Table [Oracle].[WIPCompletion]    Script Date: 7/10/2025 11:43:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Oracle].[WIPCompletion](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ORG_CODE] [nvarchar](3) NULL,
	[ORG_NAME] [nvarchar](240) NOT NULL,
	[TRANS_SRC_TYP_NAME] [nvarchar](30) NOT NULL,
	[TRANSACTION_TYPE] [nvarchar](80) NOT NULL,
	[TRANSACTION_DESCRIPTION] [nvarchar](240) NULL,
	[TRANSACTION_DATE] [datetime2](7) NOT NULL,
	[FROM_SUBINVENTORY] [nvarchar](10) NULL,
	[FROM_LOCATOR] [nvarchar](122) NULL,
	[TO_SUBINVENTORY] [nvarchar](10) NULL,
	[TO_LOCATOR] [nvarchar](122) NULL,
	[ITEM] [nvarchar](40) NULL,
	[PRIMARY_QTY] [float] NULL,
	[EXT_VAL] [float] NULL,
	[TRANSACTION_USER] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_WIPCompletion] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
