USE [Operations]
GO
/****** Object:  Table [Oracle].[INV_MTL_MATERIAL_STATUSES_VL]    Script Date: 7/10/2025 11:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Oracle].[INV_MTL_MATERIAL_STATUSES_VL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ROW_ID] [char](18) NULL,
	[ATTRIBUTE15] [nvarchar](150) NULL,
	[ATTRIBUTE2] [nvarchar](150) NULL,
	[ATTRIBUTE3] [nvarchar](150) NULL,
	[ATTRIBUTE4] [nvarchar](150) NULL,
	[ATTRIBUTE5] [nvarchar](150) NULL,
	[ATTRIBUTE6] [nvarchar](150) NULL,
	[ATTRIBUTE7] [nvarchar](150) NULL,
	[ATTRIBUTE8] [nvarchar](150) NULL,
	[ATTRIBUTE9] [nvarchar](150) NULL,
	[ATTRIBUTE10] [nvarchar](150) NULL,
	[ATTRIBUTE11] [nvarchar](150) NULL,
	[ATTRIBUTE12] [nvarchar](150) NULL,
	[ATTRIBUTE13] [nvarchar](150) NULL,
	[LOCATOR_CONTROL] [float] NOT NULL,
	[LOT_CONTROL] [float] NOT NULL,
	[SERIAL_CONTROL] [float] NOT NULL,
	[ONHAND_CONTROL] [float] NOT NULL,
	[STATUS_ID] [float] NOT NULL,
	[ZONE_CONTROL] [float] NOT NULL,
	[ATTRIBUTE1] [nvarchar](150) NULL,
	[ATTRIBUTE14] [nvarchar](150) NULL,
	[CREATED_BY] [float] NOT NULL,
	[LAST_UPDATE_LOGIN] [float] NULL,
	[REQUEST_ID] [float] NULL,
	[PROGRAM_APPLICATION_ID] [float] NULL,
	[PROGRAM_ID] [float] NULL,
	[PROGRAM_UPDATE_DATE] [datetime2](7) NULL,
	[ATTRIBUTE_CATEGORY] [nvarchar](30) NULL,
	[ENABLED_FLAG] [float] NOT NULL,
	[LAST_UPDATE_DATE] [datetime2](7) NOT NULL,
	[LAST_UPDATED_BY] [float] NOT NULL,
	[CREATION_DATE] [datetime2](7) NOT NULL,
	[STATUS_CODE] [nvarchar](80) NOT NULL,
	[DESCRIPTION] [nvarchar](240) NULL,
	[LPN_CONTROL] [float] NOT NULL,
	[INVENTORY_ATP_CODE] [float] NULL,
	[AVAILABILITY_TYPE] [float] NULL,
	[RESERVABLE_TYPE] [float] NULL,
	[Fingerprint] [varchar](32) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NULL,
	[CurrentRecord] [bit] NOT NULL,
 CONSTRAINT [PK_INV_MTL_MATERIAL_STATUSES_VL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Oracle].[INV_MTL_MATERIAL_STATUSES_VL] ADD  DEFAULT (getdate()) FOR [StartDate]
GO
ALTER TABLE [Oracle].[INV_MTL_MATERIAL_STATUSES_VL] ADD  DEFAULT ((1)) FOR [CurrentRecord]
GO
