USE [Operations]
GO
/****** Object:  Table [Oracle].[PER_ALL_PEOPLE_F]    Script Date: 7/10/2025 11:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Oracle].[PER_ALL_PEOPLE_F](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PERSON_ID] [numeric](10, 0) NOT NULL,
	[EFFECTIVE_START_DATE] [datetime2](7) NOT NULL,
	[EFFECTIVE_END_DATE] [datetime2](7) NOT NULL,
	[BUSINESS_GROUP_ID] [numeric](15, 0) NOT NULL,
	[PERSON_TYPE_ID] [numeric](15, 0) NOT NULL,
	[LAST_NAME] [nvarchar](150) NOT NULL,
	[START_DATE] [datetime2](7) NOT NULL,
	[APPLICANT_NUMBER] [nvarchar](30) NULL,
	[BACKGROUND_CHECK_STATUS] [nvarchar](30) NULL,
	[BACKGROUND_DATE_CHECK] [datetime2](7) NULL,
	[BLOOD_TYPE] [nvarchar](30) NULL,
	[COMMENT_ID] [numeric](15, 0) NULL,
	[CORRESPONDENCE_LANGUAGE] [nvarchar](30) NULL,
	[CURRENT_APPLICANT_FLAG] [nvarchar](30) NULL,
	[CURRENT_EMP_OR_APL_FLAG] [nvarchar](30) NULL,
	[CURRENT_EMPLOYEE_FLAG] [nvarchar](30) NULL,
	[DATE_EMPLOYEE_DATA_VERIFIED] [datetime2](7) NULL,
	[DATE_OF_BIRTH] [datetime2](7) NULL,
	[EMAIL_ADDRESS] [nvarchar](240) NULL,
	[EMPLOYEE_NUMBER] [nvarchar](30) NULL,
	[EXPENSE_CHECK_SEND_TO_ADDRESS] [nvarchar](30) NULL,
	[FAST_PATH_EMPLOYEE] [nvarchar](30) NULL,
	[FIRST_NAME] [nvarchar](150) NULL,
	[FTE_CAPACITY] [numeric](5, 2) NULL,
	[FULL_NAME] [nvarchar](240) NULL,
	[HOLD_APPLICANT_DATE_UNTIL] [datetime2](7) NULL,
	[HONORS] [nvarchar](45) NULL,
	[INTERNAL_LOCATION] [nvarchar](45) NULL,
	[KNOWN_AS] [nvarchar](80) NULL,
	[LAST_MEDICAL_TEST_BY] [nvarchar](60) NULL,
	[LAST_MEDICAL_TEST_DATE] [datetime2](7) NULL,
	[MAILSTOP] [nvarchar](45) NULL,
	[MARITAL_STATUS] [nvarchar](30) NULL,
	[MIDDLE_NAMES] [nvarchar](60) NULL,
	[NATIONALITY] [nvarchar](30) NULL,
	[NATIONAL_IDENTIFIER] [nvarchar](30) NULL,
	[OFFICE_NUMBER] [nvarchar](45) NULL,
	[ON_MILITARY_SERVICE] [nvarchar](30) NULL,
	[ORDER_NAME] [nvarchar](240) NULL,
	[PRE_NAME_ADJUNCT] [nvarchar](30) NULL,
	[PREVIOUS_LAST_NAME] [nvarchar](150) NULL,
	[PROJECTED_START_DATE] [datetime2](7) NULL,
	[REHIRE_AUTHORIZOR] [nvarchar](60) NULL,
	[REHIRE_REASON] [nvarchar](60) NULL,
	[REHIRE_RECOMMENDATION] [nvarchar](30) NULL,
	[RESUME_EXISTS] [nvarchar](30) NULL,
	[RESUME_LAST_UPDATED] [datetime2](7) NULL,
	[REGISTERED_DISABLED_FLAG] [nvarchar](30) NULL,
	[SECOND_PASSPORT_EXISTS] [nvarchar](30) NULL,
	[SEX] [nvarchar](30) NULL,
	[STUDENT_STATUS] [nvarchar](30) NULL,
	[SUFFIX] [nvarchar](30) NULL,
	[TITLE] [nvarchar](30) NULL,
	[VENDOR_ID] [numeric](15, 0) NULL,
	[WORK_SCHEDULE] [nvarchar](30) NULL,
	[WORK_TELEPHONE] [nvarchar](60) NULL,
	[COORD_BEN_MED_PLN_NO] [nvarchar](30) NULL,
	[COORD_BEN_NO_CVG_FLAG] [nvarchar](30) NULL,
	[DPDNT_ADOPTION_DATE] [datetime2](7) NULL,
	[DPDNT_VLNTRY_SVCE_FLAG] [nvarchar](30) NULL,
	[RECEIPT_OF_DEATH_CERT_DATE] [datetime2](7) NULL,
	[USES_TOBACCO_FLAG] [nvarchar](30) NULL,
	[BENEFIT_GROUP_ID] [numeric](15, 0) NULL,
	[REQUEST_ID] [numeric](15, 0) NULL,
	[PROGRAM_APPLICATION_ID] [numeric](15, 0) NULL,
	[PROGRAM_ID] [numeric](15, 0) NULL,
	[PROGRAM_UPDATE_DATE] [datetime2](7) NULL,
	[ATTRIBUTE_CATEGORY] [nvarchar](30) NULL,
	[ATTRIBUTE1] [nvarchar](150) NULL,
	[ATTRIBUTE2] [nvarchar](150) NULL,
	[ATTRIBUTE3] [nvarchar](150) NULL,
	[ATTRIBUTE4] [nvarchar](150) NULL,
	[ATTRIBUTE5] [nvarchar](150) NULL,
	[ATTRIBUTE6] [nvarchar](150) NULL,
	[ATTRIBUTE7] [nvarchar](150) NULL,
	[ATTRIBUTE8] [nvarchar](150) NULL,
	[ATTRIBUTE9] [nvarchar](150) NULL,
	[ATTRIBUTE10] [nvarchar](150) NULL,
	[ATTRIBUTE11] [nvarchar](150) NULL,
	[ATTRIBUTE12] [nvarchar](150) NULL,
	[ATTRIBUTE13] [nvarchar](150) NULL,
	[ATTRIBUTE14] [nvarchar](150) NULL,
	[ATTRIBUTE15] [nvarchar](150) NULL,
	[ATTRIBUTE16] [nvarchar](150) NULL,
	[ATTRIBUTE17] [nvarchar](150) NULL,
	[ATTRIBUTE18] [nvarchar](150) NULL,
	[ATTRIBUTE19] [nvarchar](150) NULL,
	[ATTRIBUTE20] [nvarchar](150) NULL,
	[ATTRIBUTE21] [nvarchar](150) NULL,
	[ATTRIBUTE22] [nvarchar](150) NULL,
	[ATTRIBUTE23] [nvarchar](150) NULL,
	[ATTRIBUTE24] [nvarchar](150) NULL,
	[ATTRIBUTE25] [nvarchar](150) NULL,
	[ATTRIBUTE26] [nvarchar](150) NULL,
	[ATTRIBUTE27] [nvarchar](150) NULL,
	[ATTRIBUTE28] [nvarchar](150) NULL,
	[ATTRIBUTE29] [nvarchar](150) NULL,
	[ATTRIBUTE30] [nvarchar](150) NULL,
	[LAST_UPDATE_DATE] [datetime2](7) NULL,
	[LAST_UPDATED_BY] [numeric](15, 0) NULL,
	[LAST_UPDATE_LOGIN] [numeric](15, 0) NULL,
	[CREATED_BY] [numeric](15, 0) NULL,
	[CREATION_DATE] [datetime2](7) NULL,
	[PER_INFORMATION_CATEGORY] [nvarchar](30) NULL,
	[PER_INFORMATION1] [nvarchar](150) NULL,
	[PER_INFORMATION2] [nvarchar](150) NULL,
	[PER_INFORMATION3] [nvarchar](150) NULL,
	[PER_INFORMATION4] [nvarchar](150) NULL,
	[PER_INFORMATION5] [nvarchar](150) NULL,
	[PER_INFORMATION6] [nvarchar](150) NULL,
	[PER_INFORMATION7] [nvarchar](150) NULL,
	[PER_INFORMATION8] [nvarchar](150) NULL,
	[PER_INFORMATION9] [nvarchar](150) NULL,
	[PER_INFORMATION10] [nvarchar](150) NULL,
	[PER_INFORMATION11] [nvarchar](150) NULL,
	[PER_INFORMATION12] [nvarchar](150) NULL,
	[PER_INFORMATION13] [nvarchar](150) NULL,
	[PER_INFORMATION14] [nvarchar](150) NULL,
	[PER_INFORMATION15] [nvarchar](150) NULL,
	[PER_INFORMATION16] [nvarchar](150) NULL,
	[PER_INFORMATION17] [nvarchar](150) NULL,
	[PER_INFORMATION18] [nvarchar](150) NULL,
	[PER_INFORMATION19] [nvarchar](150) NULL,
	[PER_INFORMATION20] [nvarchar](150) NULL,
	[PER_INFORMATION21] [nvarchar](150) NULL,
	[PER_INFORMATION22] [nvarchar](150) NULL,
	[PER_INFORMATION23] [nvarchar](150) NULL,
	[PER_INFORMATION24] [nvarchar](150) NULL,
	[PER_INFORMATION25] [nvarchar](150) NULL,
	[PER_INFORMATION26] [nvarchar](150) NULL,
	[PER_INFORMATION27] [nvarchar](150) NULL,
	[PER_INFORMATION28] [nvarchar](150) NULL,
	[PER_INFORMATION29] [nvarchar](150) NULL,
	[PER_INFORMATION30] [nvarchar](150) NULL,
	[OBJECT_VERSION_NUMBER] [numeric](9, 0) NULL,
	[DATE_OF_DEATH] [datetime2](7) NULL,
	[ORIGINAL_DATE_OF_HIRE] [datetime2](7) NULL,
	[TOWN_OF_BIRTH] [nvarchar](90) NULL,
	[REGION_OF_BIRTH] [nvarchar](90) NULL,
	[COUNTRY_OF_BIRTH] [nvarchar](90) NULL,
	[GLOBAL_PERSON_ID] [nvarchar](30) NULL,
	[COORD_BEN_MED_PL_NAME] [nvarchar](80) NULL,
	[COORD_BEN_MED_INSR_CRR_NAME] [nvarchar](80) NULL,
	[COORD_BEN_MED_INSR_CRR_IDENT] [nvarchar](80) NULL,
	[COORD_BEN_MED_EXT_ER] [nvarchar](80) NULL,
	[COORD_BEN_MED_CVG_STRT_DT] [datetime2](7) NULL,
	[COORD_BEN_MED_CVG_END_DT] [datetime2](7) NULL,
	[PARTY_ID] [numeric](15, 0) NULL,
	[NPW_NUMBER] [nvarchar](30) NULL,
	[CURRENT_NPW_FLAG] [nvarchar](30) NULL,
	[GLOBAL_NAME] [nvarchar](240) NULL,
	[LOCAL_NAME] [nvarchar](240) NULL,
	[Fingerprint] [varchar](32) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NULL,
	[CurrentRecord] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Oracle].[PER_ALL_PEOPLE_F] ADD  DEFAULT (getdate()) FOR [StartDate]
GO
ALTER TABLE [Oracle].[PER_ALL_PEOPLE_F] ADD  DEFAULT ((1)) FOR [CurrentRecord]
GO
