USE [Operations]
GO
/****** Object:  Table [Oracle].[BOM_RESOURCES]    Script Date: 7/10/2025 11:43:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Oracle].[BOM_RESOURCES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RESOURCE_ID] [float] NOT NULL,
	[RESOURCE_CODE] [nvarchar](10) NOT NULL,
	[ORGANIZATION_ID] [float] NOT NULL,
	[LAST_UPDATE_DATE] [datetime2](7) NOT NULL,
	[LAST_UPDATED_BY] [float] NOT NULL,
	[CREATION_DATE] [datetime2](7) NOT NULL,
	[CREATED_BY] [float] NOT NULL,
	[LAST_UPDATE_LOGIN] [float] NULL,
	[DESCRIPTION] [nvarchar](240) NULL,
	[DISABLE_DATE] [datetime2](7) NULL,
	[COST_ELEMENT_ID] [float] NOT NULL,
	[PURCHASE_ITEM_ID] [float] NULL,
	[COST_CODE_TYPE] [float] NOT NULL,
	[FUNCTIONAL_CURRENCY_FLAG] [float] NOT NULL,
	[UNIT_OF_MEASURE] [nvarchar](3) NULL,
	[DEFAULT_ACTIVITY_ID] [float] NULL,
	[RESOURCE_TYPE] [float] NULL,
	[AUTOCHARGE_TYPE] [float] NULL,
	[STANDARD_RATE_FLAG] [float] NULL,
	[DEFAULT_BASIS_TYPE] [float] NULL,
	[ABSORPTION_ACCOUNT] [float] NULL,
	[ALLOW_COSTS_FLAG] [float] NOT NULL,
	[RATE_VARIANCE_ACCOUNT] [float] NULL,
	[EXPENDITURE_TYPE] [nvarchar](30) NULL,
	[ATTRIBUTE_CATEGORY] [nvarchar](30) NULL,
	[ATTRIBUTE1] [nvarchar](150) NULL,
	[ATTRIBUTE2] [nvarchar](150) NULL,
	[ATTRIBUTE3] [nvarchar](150) NULL,
	[ATTRIBUTE4] [nvarchar](150) NULL,
	[ATTRIBUTE5] [nvarchar](150) NULL,
	[ATTRIBUTE6] [nvarchar](150) NULL,
	[ATTRIBUTE7] [nvarchar](150) NULL,
	[ATTRIBUTE8] [nvarchar](150) NULL,
	[ATTRIBUTE9] [nvarchar](150) NULL,
	[ATTRIBUTE10] [nvarchar](150) NULL,
	[ATTRIBUTE11] [nvarchar](150) NULL,
	[ATTRIBUTE12] [nvarchar](150) NULL,
	[ATTRIBUTE13] [nvarchar](150) NULL,
	[ATTRIBUTE14] [nvarchar](150) NULL,
	[ATTRIBUTE15] [nvarchar](150) NULL,
	[REQUEST_ID] [float] NULL,
	[PROGRAM_APPLICATION_ID] [float] NULL,
	[PROGRAM_ID] [float] NULL,
	[PROGRAM_UPDATE_DATE] [datetime2](7) NULL,
	[BATCHABLE] [float] NULL,
	[MAX_BATCH_CAPACITY] [float] NULL,
	[MIN_BATCH_CAPACITY] [float] NULL,
	[BATCH_CAPACITY_UOM] [nvarchar](3) NULL,
	[BATCH_WINDOW] [float] NULL,
	[BATCH_WINDOW_UOM] [nvarchar](3) NULL,
	[COMPETENCE_ID] [numeric](15, 0) NULL,
	[RATING_LEVEL_ID] [numeric](15, 0) NULL,
	[QUALIFICATION_TYPE_ID] [numeric](9, 0) NULL,
	[BILLABLE_ITEM_ID] [float] NULL,
	[SUPPLY_SUBINVENTORY] [nvarchar](10) NULL,
	[SUPPLY_LOCATOR_ID] [float] NULL,
	[BATCHING_PENALTY] [float] NULL,
	[Fingerprint] [varchar](32) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NULL,
	[CurrentRecord] [bit] NOT NULL,
 CONSTRAINT [PK_BOM_RESOURCES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Oracle].[BOM_RESOURCES] ADD  DEFAULT (getdate()) FOR [StartDate]
GO
ALTER TABLE [Oracle].[BOM_RESOURCES] ADD  DEFAULT ((1)) FOR [CurrentRecord]
GO
