USE [Operations]
GO
/****** Object:  Table [Oracle].[BOMTesting]    Script Date: 7/10/2025 11:43:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Oracle].[BOMTesting](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FINSHEDGOOD] [nvarchar](40) NULL,
	[FINSHEDGOOD_ID] [float] NULL,
	[DESCRIPTION] [nvarchar](240) NULL,
	[ASSEMBLY_ITEM] [nvarchar](4000) NULL,
	[ROTO_ASSM_ID] [nvarchar](4000) NULL,
	[ASSEMBLY_DESCRIPTION] [nvarchar](240) NULL,
	[COMPONENT_ITEM] [nvarchar](40) NULL,
	[COMPONENT_ID] [float] NULL,
	[COMPONENT_ITEM_DESCRIPTION] [nvarchar](240) NULL,
	[COMPONENT_ITEM_STATUS] [nvarchar](10) NOT NULL,
	[COMPONENT_QUANTITY] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
