USE [Operations]
GO
/****** Object:  Table [Oracle].[ORG_ORGANIZATION_DEFINITIONS]    Script Date: 7/10/2025 11:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Oracle].[ORG_ORGANIZATION_DEFINITIONS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ORGANIZATION_ID] [numeric](15, 0) NOT NULL,
	[BUSINESS_GROUP_ID] [numeric](15, 0) NOT NULL,
	[USER_DEFINITION_ENABLE_DATE] [datetime2](7) NOT NULL,
	[DISABLE_DATE] [datetime2](7) NULL,
	[ORGANIZATION_CODE] [nvarchar](3) NULL,
	[ORGANIZATION_NAME] [nvarchar](240) NOT NULL,
	[SET_OF_BOOKS_ID] [numeric](15, 0) NOT NULL,
	[CHART_OF_ACCOUNTS_ID] [numeric](15, 0) NOT NULL,
	[INVENTORY_ENABLED_FLAG] [nvarchar](150) NULL,
	[OPERATING_UNIT] [float] NULL,
	[LEGAL_ENTITY] [float] NULL,
	[Fingerprint] [varchar](32) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NULL,
	[CurrentRecord] [bit] NOT NULL,
 CONSTRAINT [PK_Organization] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Oracle].[ORG_ORGANIZATION_DEFINITIONS] ADD  DEFAULT (getdate()) FOR [StartDate]
GO
ALTER TABLE [Oracle].[ORG_ORGANIZATION_DEFINITIONS] ADD  DEFAULT ((1)) FOR [CurrentRecord]
GO
