USE [Operations]
GO
/****** Object:  Table [Oracle].[AP_SUPPLIERS]    Script Date: 7/10/2025 11:43:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Oracle].[AP_SUPPLIERS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[VENDOR_ID] [float] NOT NULL,
	[VENDOR_NAME] [nvarchar](240) NULL,
	[VENDOR_TYPE_LOOKUP_CODE] [nvarchar](30) NULL,
	[Fingerprint] [varchar](32) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NULL,
	[CurrentRecord] [bit] NOT NULL,
 CONSTRAINT [PK_AP_SUPPLIERS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Oracle].[AP_SUPPLIERS] ADD  DEFAULT (getdate()) FOR [StartDate]
GO
ALTER TABLE [Oracle].[AP_SUPPLIERS] ADD  DEFAULT ((1)) FOR [CurrentRecord]
GO
