USE [Operations]
GO
/****** Object:  Table [Oracle].[PO_VENDORS]    Script Date: 7/10/2025 11:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Oracle].[PO_VENDORS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[VENDOR_ID] [float] NOT NULL,
	[LAST_UPDATE_DATE] [datetime2](7) NOT NULL,
	[LAST_UPDATED_BY] [float] NOT NULL,
	[VENDOR_NAME] [nvarchar](240) NULL,
	[VENDOR_NAME_ALT] [nvarchar](320) NULL,
	[SEGMENT1] [nvarchar](30) NOT NULL,
	[SUMMARY_FLAG] [nvarchar](1) NOT NULL,
	[ENABLED_FLAG] [nvarchar](1) NOT NULL,
	[SEGMENT2] [nvarchar](30) NULL,
	[SEGMENT3] [nvarchar](30) NULL,
	[SEGMENT4] [nvarchar](30) NULL,
	[SEGMENT5] [nvarchar](30) NULL,
	[LAST_UPDATE_LOGIN] [float] NULL,
	[CREATION_DATE] [datetime2](7) NOT NULL,
	[CREATED_BY] [float] NOT NULL,
	[EMPLOYEE_ID] [float] NULL,
	[VENDOR_TYPE_LOOKUP_CODE] [nvarchar](30) NULL,
	[CUSTOMER_NUM] [nvarchar](25) NULL,
	[ONE_TIME_FLAG] [nvarchar](1) NULL,
	[PARENT_VENDOR_ID] [float] NULL,
	[MIN_ORDER_AMOUNT] [float] NULL,
	[TERMS_ID] [float] NULL,
	[SET_OF_BOOKS_ID] [float] NULL,
	[ALWAYS_TAKE_DISC_FLAG] [nvarchar](1) NULL,
	[PAY_DATE_BASIS_LOOKUP_CODE] [nvarchar](25) NULL,
	[PAY_GROUP_LOOKUP_CODE] [nvarchar](25) NULL,
	[PAYMENT_PRIORITY] [float] NULL,
	[INVOICE_CURRENCY_CODE] [nvarchar](15) NULL,
	[PAYMENT_CURRENCY_CODE] [nvarchar](15) NULL,
	[INVOICE_AMOUNT_LIMIT] [float] NULL,
	[HOLD_ALL_PAYMENTS_FLAG] [nvarchar](1) NULL,
	[HOLD_FUTURE_PAYMENTS_FLAG] [nvarchar](1) NULL,
	[HOLD_REASON] [nvarchar](240) NULL,
	[NUM_1099] [nvarchar](20) NULL,
	[INDIVIDUAL_1099] [nvarchar](30) NULL,
	[TYPE_1099] [nvarchar](10) NULL,
	[WITHHOLDING_STATUS_LOOKUP_CODE] [nvarchar](25) NULL,
	[WITHHOLDING_START_DATE] [datetime2](7) NULL,
	[ORGANIZATION_TYPE_LOOKUP_CODE] [nvarchar](25) NULL,
	[START_DATE_ACTIVE] [datetime2](7) NULL,
	[END_DATE_ACTIVE] [datetime2](7) NULL,
	[MINORITY_GROUP_LOOKUP_CODE] [nvarchar](30) NULL,
	[WOMEN_OWNED_FLAG] [nvarchar](1) NULL,
	[SMALL_BUSINESS_FLAG] [nvarchar](1) NULL,
	[STANDARD_INDUSTRY_CLASS] [nvarchar](25) NULL,
	[HOLD_FLAG] [nvarchar](1) NULL,
	[PURCHASING_HOLD_REASON] [nvarchar](240) NULL,
	[HOLD_BY] [numeric](9, 0) NULL,
	[HOLD_DATE] [datetime2](7) NULL,
	[TERMS_DATE_BASIS] [nvarchar](25) NULL,
	[INSPECTION_REQUIRED_FLAG] [nvarchar](1) NULL,
	[RECEIPT_REQUIRED_FLAG] [nvarchar](1) NULL,
	[QTY_RCV_TOLERANCE] [float] NULL,
	[QTY_RCV_EXCEPTION_CODE] [nvarchar](25) NULL,
	[ENFORCE_SHIP_TO_LOCATION_CODE] [nvarchar](25) NULL,
	[DAYS_EARLY_RECEIPT_ALLOWED] [float] NULL,
	[DAYS_LATE_RECEIPT_ALLOWED] [float] NULL,
	[RECEIPT_DAYS_EXCEPTION_CODE] [nvarchar](25) NULL,
	[RECEIVING_ROUTING_ID] [float] NULL,
	[ALLOW_SUBSTITUTE_RECEIPTS_FLAG] [nvarchar](1) NULL,
	[ALLOW_UNORDERED_RECEIPTS_FLAG] [nvarchar](1) NULL,
	[HOLD_UNMATCHED_INVOICES_FLAG] [nvarchar](1) NULL,
	[TAX_VERIFICATION_DATE] [datetime2](7) NULL,
	[NAME_CONTROL] [nvarchar](4) NULL,
	[STATE_REPORTABLE_FLAG] [nvarchar](1) NULL,
	[FEDERAL_REPORTABLE_FLAG] [nvarchar](1) NULL,
	[ATTRIBUTE_CATEGORY] [nvarchar](30) NULL,
	[ATTRIBUTE1] [nvarchar](150) NULL,
	[ATTRIBUTE2] [nvarchar](150) NULL,
	[ATTRIBUTE3] [nvarchar](150) NULL,
	[ATTRIBUTE4] [nvarchar](150) NULL,
	[ATTRIBUTE5] [nvarchar](150) NULL,
	[ATTRIBUTE6] [nvarchar](150) NULL,
	[ATTRIBUTE7] [nvarchar](150) NULL,
	[ATTRIBUTE8] [nvarchar](150) NULL,
	[ATTRIBUTE9] [nvarchar](150) NULL,
	[ATTRIBUTE10] [nvarchar](150) NULL,
	[ATTRIBUTE11] [nvarchar](150) NULL,
	[ATTRIBUTE12] [nvarchar](150) NULL,
	[ATTRIBUTE13] [nvarchar](150) NULL,
	[ATTRIBUTE14] [nvarchar](150) NULL,
	[ATTRIBUTE15] [nvarchar](150) NULL,
	[REQUEST_ID] [float] NULL,
	[PROGRAM_APPLICATION_ID] [float] NULL,
	[PROGRAM_ID] [float] NULL,
	[PROGRAM_UPDATE_DATE] [datetime2](7) NULL,
	[VAT_REGISTRATION_NUM] [nvarchar](20) NULL,
	[AUTO_CALCULATE_INTEREST_FLAG] [nvarchar](1) NULL,
	[VALIDATION_NUMBER] [float] NULL,
	[EXCLUDE_FREIGHT_FROM_DISCOUNT] [nvarchar](1) NULL,
	[TAX_REPORTING_NAME] [nvarchar](80) NULL,
	[CHECK_DIGITS] [nvarchar](30) NULL,
	[ALLOW_AWT_FLAG] [nvarchar](1) NULL,
	[AWT_GROUP_ID] [numeric](15, 0) NULL,
	[GLOBAL_ATTRIBUTE1] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE2] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE3] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE4] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE5] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE6] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE7] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE8] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE9] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE10] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE11] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE12] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE13] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE14] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE15] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE16] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE17] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE18] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE19] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE20] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE_CATEGORY] [nvarchar](30) NULL,
	[BANK_CHARGE_BEARER] [nvarchar](1) NULL,
	[MATCH_OPTION] [nvarchar](25) NULL,
	[CREATE_DEBIT_MEMO_FLAG] [nvarchar](25) NULL,
	[PARTY_ID] [float] NULL,
	[PARENT_PARTY_ID] [float] NULL,
	[NI_NUMBER] [nvarchar](30) NULL,
	[PARTY_NUMBER] [nvarchar](30) NOT NULL,
	[PAY_AWT_GROUP_ID] [numeric](15, 0) NULL,
	[Fingerprint] [varchar](32) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NULL,
	[CurrentRecord] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Oracle].[PO_VENDORS] ADD  DEFAULT (getdate()) FOR [StartDate]
GO
ALTER TABLE [Oracle].[PO_VENDORS] ADD  DEFAULT ((1)) FOR [CurrentRecord]
GO
