USE [Operations]
GO
/****** Object:  Table [Oracle].[MTL_LOT_NUMBERS]    Script Date: 7/10/2025 11:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Oracle].[MTL_LOT_NUMBERS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[INVENTORY_ITEM_ID] [float] NOT NULL,
	[ORGANIZATION_ID] [float] NOT NULL,
	[LOT_NUMBER] [nvarchar](80) NOT NULL,
	[LAST_UPDATE_DATE] [datetime2](7) NOT NULL,
	[LAST_UPDATED_BY] [float] NOT NULL,
	[CREATION_DATE] [datetime2](7) NOT NULL,
	[CREATED_BY] [float] NOT NULL,
	[LAST_UPDATE_LOGIN] [float] NULL,
	[EXPIRATION_DATE] [datetime2](7) NULL,
	[DISABLE_FLAG] [float] NULL,
	[ATTRIBUTE_CATEGORY] [nvarchar](30) NULL,
	[ATTRIBUTE1] [nvarchar](150) NULL,
	[ATTRIBUTE2] [nvarchar](150) NULL,
	[ATTRIBUTE3] [nvarchar](150) NULL,
	[ATTRIBUTE4] [nvarchar](150) NULL,
	[ATTRIBUTE5] [nvarchar](150) NULL,
	[ATTRIBUTE6] [nvarchar](150) NULL,
	[ATTRIBUTE7] [nvarchar](150) NULL,
	[ATTRIBUTE8] [nvarchar](150) NULL,
	[ATTRIBUTE9] [nvarchar](150) NULL,
	[ATTRIBUTE10] [nvarchar](150) NULL,
	[ATTRIBUTE11] [nvarchar](150) NULL,
	[ATTRIBUTE12] [nvarchar](150) NULL,
	[ATTRIBUTE13] [nvarchar](150) NULL,
	[ATTRIBUTE14] [nvarchar](150) NULL,
	[ATTRIBUTE15] [nvarchar](150) NULL,
	[REQUEST_ID] [float] NULL,
	[PROGRAM_APPLICATION_ID] [float] NULL,
	[PROGRAM_ID] [float] NULL,
	[PROGRAM_UPDATE_DATE] [datetime2](7) NULL,
	[GEN_OBJECT_ID] [float] NULL,
	[DESCRIPTION] [nvarchar](256) NULL,
	[VENDOR_NAME] [nvarchar](240) NULL,
	[SUPPLIER_LOT_NUMBER] [nvarchar](150) NULL,
	[COUNTRY_OF_ORIGIN] [nvarchar](30) NULL,
	[GRADE_CODE] [nvarchar](150) NULL,
	[ORIGINATION_DATE] [datetime2](7) NULL,
	[DATE_CODE] [nvarchar](150) NULL,
	[STATUS_ID] [float] NULL,
	[CHANGE_DATE] [datetime2](7) NULL,
	[AGE] [float] NULL,
	[RETEST_DATE] [datetime2](7) NULL,
	[MATURITY_DATE] [datetime2](7) NULL,
	[LOT_ATTRIBUTE_CATEGORY] [nvarchar](30) NULL,
	[ITEM_SIZE] [float] NULL,
	[COLOR] [nvarchar](150) NULL,
	[VOLUME] [float] NULL,
	[VOLUME_UOM] [nvarchar](3) NULL,
	[PLACE_OF_ORIGIN] [nvarchar](150) NULL,
	[KILL_DATE] [datetime2](7) NULL,
	[BEST_BY_DATE] [datetime2](7) NULL,
	[LENGTH] [float] NULL,
	[LENGTH_UOM] [nvarchar](3) NULL,
	[RECYCLED_CONTENT] [float] NULL,
	[THICKNESS] [float] NULL,
	[THICKNESS_UOM] [nvarchar](3) NULL,
	[WIDTH] [float] NULL,
	[WIDTH_UOM] [nvarchar](3) NULL,
	[CURL_WRINKLE_FOLD] [nvarchar](150) NULL,
	[C_ATTRIBUTE1] [nvarchar](150) NULL,
	[C_ATTRIBUTE2] [nvarchar](150) NULL,
	[C_ATTRIBUTE3] [nvarchar](150) NULL,
	[C_ATTRIBUTE4] [nvarchar](150) NULL,
	[C_ATTRIBUTE5] [nvarchar](150) NULL,
	[C_ATTRIBUTE6] [nvarchar](150) NULL,
	[C_ATTRIBUTE7] [nvarchar](150) NULL,
	[C_ATTRIBUTE8] [nvarchar](150) NULL,
	[C_ATTRIBUTE9] [nvarchar](150) NULL,
	[C_ATTRIBUTE10] [nvarchar](150) NULL,
	[C_ATTRIBUTE11] [nvarchar](150) NULL,
	[C_ATTRIBUTE12] [nvarchar](150) NULL,
	[C_ATTRIBUTE13] [nvarchar](150) NULL,
	[C_ATTRIBUTE14] [nvarchar](150) NULL,
	[C_ATTRIBUTE15] [nvarchar](150) NULL,
	[C_ATTRIBUTE16] [nvarchar](150) NULL,
	[C_ATTRIBUTE17] [nvarchar](150) NULL,
	[C_ATTRIBUTE18] [nvarchar](150) NULL,
	[C_ATTRIBUTE19] [nvarchar](150) NULL,
	[C_ATTRIBUTE20] [nvarchar](150) NULL,
	[C_ATTRIBUTE21] [nvarchar](150) NULL,
	[C_ATTRIBUTE22] [nvarchar](150) NULL,
	[C_ATTRIBUTE23] [nvarchar](150) NULL,
	[C_ATTRIBUTE24] [nvarchar](150) NULL,
	[C_ATTRIBUTE25] [nvarchar](150) NULL,
	[C_ATTRIBUTE26] [nvarchar](150) NULL,
	[C_ATTRIBUTE27] [nvarchar](150) NULL,
	[C_ATTRIBUTE28] [nvarchar](150) NULL,
	[C_ATTRIBUTE29] [nvarchar](150) NULL,
	[C_ATTRIBUTE30] [nvarchar](150) NULL,
	[D_ATTRIBUTE1] [datetime2](7) NULL,
	[D_ATTRIBUTE2] [datetime2](7) NULL,
	[D_ATTRIBUTE3] [datetime2](7) NULL,
	[D_ATTRIBUTE4] [datetime2](7) NULL,
	[D_ATTRIBUTE5] [datetime2](7) NULL,
	[D_ATTRIBUTE6] [datetime2](7) NULL,
	[D_ATTRIBUTE7] [datetime2](7) NULL,
	[D_ATTRIBUTE8] [datetime2](7) NULL,
	[D_ATTRIBUTE9] [datetime2](7) NULL,
	[D_ATTRIBUTE10] [datetime2](7) NULL,
	[D_ATTRIBUTE11] [datetime2](7) NULL,
	[D_ATTRIBUTE12] [datetime2](7) NULL,
	[D_ATTRIBUTE13] [datetime2](7) NULL,
	[D_ATTRIBUTE14] [datetime2](7) NULL,
	[D_ATTRIBUTE15] [datetime2](7) NULL,
	[D_ATTRIBUTE16] [datetime2](7) NULL,
	[D_ATTRIBUTE17] [datetime2](7) NULL,
	[D_ATTRIBUTE18] [datetime2](7) NULL,
	[D_ATTRIBUTE19] [datetime2](7) NULL,
	[D_ATTRIBUTE20] [datetime2](7) NULL,
	[N_ATTRIBUTE1] [float] NULL,
	[N_ATTRIBUTE2] [float] NULL,
	[N_ATTRIBUTE3] [float] NULL,
	[N_ATTRIBUTE4] [float] NULL,
	[N_ATTRIBUTE5] [float] NULL,
	[N_ATTRIBUTE6] [float] NULL,
	[N_ATTRIBUTE7] [float] NULL,
	[N_ATTRIBUTE8] [float] NULL,
	[N_ATTRIBUTE9] [float] NULL,
	[N_ATTRIBUTE10] [float] NULL,
	[N_ATTRIBUTE11] [float] NULL,
	[N_ATTRIBUTE12] [float] NULL,
	[N_ATTRIBUTE13] [float] NULL,
	[N_ATTRIBUTE14] [float] NULL,
	[N_ATTRIBUTE15] [float] NULL,
	[N_ATTRIBUTE16] [float] NULL,
	[N_ATTRIBUTE17] [float] NULL,
	[N_ATTRIBUTE18] [float] NULL,
	[N_ATTRIBUTE19] [float] NULL,
	[N_ATTRIBUTE20] [float] NULL,
	[N_ATTRIBUTE21] [float] NULL,
	[N_ATTRIBUTE22] [float] NULL,
	[N_ATTRIBUTE23] [float] NULL,
	[N_ATTRIBUTE24] [float] NULL,
	[N_ATTRIBUTE25] [float] NULL,
	[N_ATTRIBUTE26] [float] NULL,
	[N_ATTRIBUTE27] [float] NULL,
	[N_ATTRIBUTE28] [float] NULL,
	[N_ATTRIBUTE29] [float] NULL,
	[N_ATTRIBUTE30] [float] NULL,
	[VENDOR_ID] [float] NULL,
	[TERRITORY_CODE] [nvarchar](30) NULL,
	[PARENT_LOT_NUMBER] [nvarchar](80) NULL,
	[ORIGINATION_TYPE] [numeric](2, 0) NULL,
	[AVAILABILITY_TYPE] [float] NULL,
	[EXPIRATION_ACTION_CODE] [nvarchar](32) NULL,
	[EXPIRATION_ACTION_DATE] [datetime2](7) NULL,
	[HOLD_DATE] [datetime2](7) NULL,
	[INVENTORY_ATP_CODE] [float] NULL,
	[RESERVABLE_TYPE] [float] NULL,
	[SAMPLING_EVENT_ID] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
