USE [Operations]
GO
/****** Object:  Table [Oracle].[INV_MTL_SECONDARY_INVENTORIES]    Script Date: 7/10/2025 11:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Oracle].[INV_MTL_SECONDARY_INVENTORIES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SECONDARY_INVENTORY_NAME] [nvarchar](10) NOT NULL,
	[ORGANIZATION_ID] [float] NOT NULL,
	[LAST_UPDATE_DATE] [datetime2](7) NOT NULL,
	[LAST_UPDATED_BY] [float] NOT NULL,
	[CREATION_DATE] [datetime2](7) NOT NULL,
	[CREATED_BY] [float] NOT NULL,
	[LAST_UPDATE_LOGIN] [float] NULL,
	[DESCRIPTION] [nvarchar](50) NULL,
	[DISABLE_DATE] [datetime2](7) NULL,
	[INVENTORY_ATP_CODE] [float] NOT NULL,
	[AVAILABILITY_TYPE] [float] NOT NULL,
	[RESERVABLE_TYPE] [float] NOT NULL,
	[LOCATOR_TYPE] [float] NULL,
	[PICKING_ORDER] [float] NULL,
	[MATERIAL_ACCOUNT] [float] NULL,
	[MATERIAL_OVERHEAD_ACCOUNT] [float] NULL,
	[RESOURCE_ACCOUNT] [float] NULL,
	[OVERHEAD_ACCOUNT] [float] NULL,
	[OUTSIDE_PROCESSING_ACCOUNT] [float] NULL,
	[QUANTITY_TRACKED] [float] NOT NULL,
	[ASSET_INVENTORY] [float] NOT NULL,
	[SOURCE_TYPE] [float] NULL,
	[SOURCE_SUBINVENTORY] [nvarchar](10) NULL,
	[SOURCE_ORGANIZATION_ID] [float] NULL,
	[REQUISITION_APPROVAL_TYPE] [float] NULL,
	[EXPENSE_ACCOUNT] [float] NULL,
	[ENCUMBRANCE_ACCOUNT] [float] NULL,
	[ATTRIBUTE_CATEGORY] [nvarchar](30) NULL,
	[ATTRIBUTE1] [nvarchar](150) NULL,
	[ATTRIBUTE2] [nvarchar](150) NULL,
	[ATTRIBUTE3] [nvarchar](150) NULL,
	[ATTRIBUTE4] [nvarchar](150) NULL,
	[ATTRIBUTE5] [nvarchar](150) NULL,
	[ATTRIBUTE6] [nvarchar](150) NULL,
	[ATTRIBUTE7] [nvarchar](150) NULL,
	[ATTRIBUTE8] [nvarchar](150) NULL,
	[ATTRIBUTE9] [nvarchar](150) NULL,
	[ATTRIBUTE10] [nvarchar](150) NULL,
	[ATTRIBUTE11] [nvarchar](150) NULL,
	[ATTRIBUTE12] [nvarchar](150) NULL,
	[ATTRIBUTE13] [nvarchar](150) NULL,
	[ATTRIBUTE14] [nvarchar](150) NULL,
	[ATTRIBUTE15] [nvarchar](150) NULL,
	[REQUEST_ID] [float] NULL,
	[PROGRAM_APPLICATION_ID] [float] NULL,
	[PROGRAM_ID] [float] NULL,
	[PROGRAM_UPDATE_DATE] [datetime2](7) NULL,
	[PREPROCESSING_LEAD_TIME] [float] NULL,
	[PROCESSING_LEAD_TIME] [float] NULL,
	[POSTPROCESSING_LEAD_TIME] [float] NULL,
	[DEMAND_CLASS] [nvarchar](30) NULL,
	[PROJECT_ID] [numeric](15, 0) NULL,
	[TASK_ID] [numeric](15, 0) NULL,
	[SUBINVENTORY_USAGE] [float] NULL,
	[NOTIFY_LIST_ID] [float] NULL,
	[PICK_UOM_CODE] [nvarchar](3) NULL,
	[DEPRECIABLE_FLAG] [float] NULL,
	[LOCATION_ID] [numeric](15, 0) NULL,
	[DEFAULT_COST_GROUP_ID] [float] NULL,
	[STATUS_ID] [float] NULL,
	[DEFAULT_LOC_STATUS_ID] [float] NULL,
	[LPN_CONTROLLED_FLAG] [float] NULL,
	[PICK_METHODOLOGY] [float] NULL,
	[CARTONIZATION_FLAG] [numeric](30, 0) NULL,
	[DROPPING_ORDER] [float] NULL,
	[SUBINVENTORY_TYPE] [float] NULL,
	[PLANNING_LEVEL] [numeric](22, 0) NULL,
	[DEFAULT_COUNT_TYPE_CODE] [numeric](22, 0) NULL,
	[ENABLE_BULK_PICK] [nvarchar](1) NULL,
	[ENABLE_LOCATOR_ALIAS] [nvarchar](1) NULL,
	[ENFORCE_ALIAS_UNIQUENESS] [nvarchar](1) NULL,
	[ENABLE_OPP_CYC_COUNT] [nvarchar](1) NULL,
	[OPP_CYC_COUNT_DAYS] [numeric](5, 0) NULL,
	[OPP_CYC_COUNT_HEADER_ID] [float] NULL,
	[OPP_CYC_COUNT_QUANTITY] [float] NULL,
	[Fingerprint] [varchar](32) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NULL,
	[CurrentRecord] [bit] NOT NULL,
 CONSTRAINT [PK_INV_MTL_SECONDARY_INVENTORIES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Oracle].[INV_MTL_SECONDARY_INVENTORIES] ADD  DEFAULT (getdate()) FOR [StartDate]
GO
ALTER TABLE [Oracle].[INV_MTL_SECONDARY_INVENTORIES] ADD  DEFAULT ((1)) FOR [CurrentRecord]
GO
