USE [Operations]
GO
/****** Object:  Table [Oracle].[INV_MTL_TRANSACTION_TYPES]    Script Date: 7/10/2025 11:43:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Oracle].[INV_MTL_TRANSACTION_TYPES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TRANSACTION_TYPE_ID] [float] NOT NULL,
	[LAST_UPDATE_DATE] [datetime2](7) NOT NULL,
	[LAST_UPDATED_BY] [float] NOT NULL,
	[CREATION_DATE] [datetime2](7) NOT NULL,
	[CREATED_BY] [float] NOT NULL,
	[TRANSACTION_TYPE_NAME] [nvarchar](80) NOT NULL,
	[DESCRIPTION] [nvarchar](240) NULL,
	[TRANSACTION_ACTION_ID] [float] NOT NULL,
	[TRANSACTION_SOURCE_TYPE_ID] [float] NOT NULL,
	[SHORTAGE_MSG_BACKGROUND_FLAG] [nvarchar](1) NULL,
	[SHORTAGE_MSG_ONLINE_FLAG] [nvarchar](1) NULL,
	[DISABLE_DATE] [datetime2](7) NULL,
	[USER_DEFINED_FLAG] [nvarchar](1) NOT NULL,
	[ATTRIBUTE1] [nvarchar](150) NULL,
	[ATTRIBUTE2] [nvarchar](150) NULL,
	[ATTRIBUTE3] [nvarchar](150) NULL,
	[ATTRIBUTE4] [nvarchar](150) NULL,
	[ATTRIBUTE5] [nvarchar](150) NULL,
	[ATTRIBUTE6] [nvarchar](150) NULL,
	[ATTRIBUTE7] [nvarchar](150) NULL,
	[ATTRIBUTE8] [nvarchar](150) NULL,
	[ATTRIBUTE9] [nvarchar](150) NULL,
	[ATTRIBUTE10] [nvarchar](150) NULL,
	[ATTRIBUTE11] [nvarchar](150) NULL,
	[ATTRIBUTE12] [nvarchar](150) NULL,
	[ATTRIBUTE13] [nvarchar](150) NULL,
	[ATTRIBUTE14] [nvarchar](150) NULL,
	[ATTRIBUTE15] [nvarchar](150) NULL,
	[ATTRIBUTE_CATEGORY] [nvarchar](30) NULL,
	[TYPE_CLASS] [float] NULL,
	[STATUS_CONTROL_FLAG] [float] NULL,
	[LOCATION_REQUIRED_FLAG] [nvarchar](1) NULL,
	[Fingerprint] [varchar](32) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NULL,
	[CurrentRecord] [bit] NOT NULL,
 CONSTRAINT [PK_MTL_TRANSACTION_TYPES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Oracle].[INV_MTL_TRANSACTION_TYPES] ADD  DEFAULT (getdate()) FOR [StartDate]
GO
ALTER TABLE [Oracle].[INV_MTL_TRANSACTION_TYPES] ADD  DEFAULT ((1)) FOR [CurrentRecord]
GO
