USE [Operations]
GO
/****** Object:  Table [Oracle].[Terms]    Script Date: 7/10/2025 11:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Oracle].[Terms](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TERM_ID] [numeric](15, 0) NOT NULL,
	[NAME] [nvarchar](15) NOT NULL,
	[DESCRIPTION] [nvarchar](240) NULL,
	[StartDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Terms] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Oracle].[Terms] ADD  DEFAULT (getdate()) FOR [StartDate]
GO
