USE [Operations]
GO
/****** Object:  Table [Oracle].[QP_LIST_LINES_V]    Script Date: 7/10/2025 11:43:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Oracle].[QP_LIST_LINES_V](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ROW_ID] [varchar](50) NULL,
	[LIST_LINE_ID] [float] NOT NULL,
	[CREATION_DATE] [datetime2](7) NOT NULL,
	[CREATED_BY] [float] NOT NULL,
	[LAST_UPDATE_DATE] [datetime2](7) NOT NULL,
	[LAST_UPDATED_BY] [float] NOT NULL,
	[LAST_UPDATE_LOGIN] [float] NULL,
	[PROGRAM_APPLICATION_ID] [float] NULL,
	[PROGRAM_ID] [float] NULL,
	[PROGRAM_UPDATE_DATE] [datetime2](7) NULL,
	[REQUEST_ID] [float] NULL,
	[LIST_HEADER_ID] [float] NOT NULL,
	[PA_LIST_HEADER_ID] [float] NULL,
	[PRODUCT_ATTRIBUTE_CONTEXT] [nvarchar](30) NULL,
	[PRODUCT_ATTRIBUTE] [nvarchar](30) NULL,
	[PRODUCT_ATTR_VALUE] [nvarchar](240) NULL,
	[PRODUCT_UOM_CODE] [nvarchar](3) NULL,
	[LIST_PRICE] [float] NULL,
	[PERCENT_PRICE] [float] NULL,
	[PRICE_BY_FORMULA_ID] [float] NULL,
	[START_DATE_ACTIVE] [datetime2](7) NULL,
	[END_DATE_ACTIVE] [datetime2](7) NULL,
	[CONTEXT] [nvarchar](30) NULL,
	[ATTRIBUTE1] [nvarchar](240) NULL,
	[ATTRIBUTE2] [nvarchar](240) NULL,
	[ATTRIBUTE3] [nvarchar](240) NULL,
	[ATTRIBUTE4] [nvarchar](240) NULL,
	[ATTRIBUTE5] [nvarchar](240) NULL,
	[ATTRIBUTE6] [nvarchar](240) NULL,
	[ATTRIBUTE7] [nvarchar](240) NULL,
	[ATTRIBUTE8] [nvarchar](240) NULL,
	[ATTRIBUTE9] [nvarchar](240) NULL,
	[ATTRIBUTE10] [nvarchar](240) NULL,
	[ATTRIBUTE11] [nvarchar](240) NULL,
	[ATTRIBUTE12] [nvarchar](240) NULL,
	[ATTRIBUTE13] [nvarchar](240) NULL,
	[ATTRIBUTE14] [nvarchar](240) NULL,
	[ATTRIBUTE15] [nvarchar](240) NULL,
	[PRIMARY_UOM_FLAG] [nvarchar](1) NULL,
	[REVISION] [nvarchar](50) NULL,
	[REVISION_DATE] [datetime2](7) NULL,
	[REVISION_REASON_CODE] [nvarchar](30) NULL,
	[COMMENTS] [nvarchar](2000) NULL,
	[LIST_LINE_TYPE_CODE] [nvarchar](30) NOT NULL,
	[AUTOMATIC_FLAG] [nvarchar](1) NOT NULL,
	[MODIFIER_LEVEL_CODE] [nvarchar](30) NOT NULL,
	[LIST_PRICE_UOM_CODE] [nvarchar](3) NULL,
	[INVENTORY_ITEM_ID] [float] NULL,
	[ORGANIZATION_ID] [float] NULL,
	[RELATED_ITEM_ID] [float] NULL,
	[NUMBER_EFFECTIVE_PERIODS] [float] NULL,
	[EFFECTIVE_PERIOD_UOM] [nvarchar](3) NULL,
	[ARITHMETIC_OPERATOR] [nvarchar](30) NULL,
	[INCOMPATIBILITY_GRP_CODE] [nvarchar](30) NULL,
	[LIST_LINE_NO] [nvarchar](30) NULL,
	[PRICING_GROUP_SEQUENCE] [float] NULL,
	[RELATIONSHIP_TYPE_ID] [float] NULL,
	[SUBSTITUTION_CONTEXT] [nvarchar](30) NULL,
	[SUBSTITUTION_ATTRIBUTE] [nvarchar](30) NULL,
	[SUBSTITUTION_VALUE] [nvarchar](240) NULL,
	[PRICE_BREAK_TYPE_CODE] [nvarchar](30) NULL,
	[OPERAND] [float] NULL,
	[OVERRIDE_FLAG] [nvarchar](1) NULL,
	[PRINT_ON_INVOICE_FLAG] [nvarchar](1) NULL,
	[REBATE_TRANSACTION_TYPE_CODE] [nvarchar](30) NULL,
	[BASE_QTY] [float] NULL,
	[BASE_UOM_CODE] [nvarchar](3) NULL,
	[ACCRUAL_QTY] [float] NULL,
	[ACCRUAL_UOM_CODE] [nvarchar](3) NULL,
	[ESTIM_ACCRUAL_RATE] [float] NULL,
	[GENERATE_USING_FORMULA_ID] [float] NULL,
	[ACCRUAL_FLAG] [nvarchar](1) NULL,
	[REPRICE_FLAG] [nvarchar](1) NULL,
	[PRICING_PHASE_ID] [float] NULL,
	[PRODUCT_PRECEDENCE] [float] NULL,
	[CUSTOMER_ITEM_ID] [float] NULL,
	[PRICING_ATTRIBUTE_CONTEXT] [nvarchar](30) NULL,
	[PRICING_ATTRIBUTE] [nvarchar](30) NULL,
	[PRICING_ATTR_VALUE_FROM] [nvarchar](240) NULL,
	[PRICING_ATTR_VALUE_TO] [nvarchar](240) NULL,
	[PRODUCT_ATTR_VAL_DISP] [nvarchar](4000) NULL,
	[PRODUCT_ID] [nvarchar](240) NULL,
	[PRICING_ATTRIBUTE_ID] [float] NOT NULL,
	[PRODUCT_ATTRIBUTE_DATATYPE] [nvarchar](30) NULL,
	[PRICING_ATTRIBUTE_DATATYPE] [nvarchar](30) NULL,
	[COMPARISON_OPERATOR_CODE] [nvarchar](30) NULL,
	[ATTR_LIST_LINE_ID] [float] NOT NULL,
	[ATTR_CREATION_DATE] [datetime2](7) NOT NULL,
	[ATTR_CREATED_BY] [float] NOT NULL,
	[ATTR_LAST_UPDATE_DATE] [datetime2](7) NOT NULL,
	[ATTR_LAST_UPDATED_BY] [float] NOT NULL,
	[ATTR_LAST_UPDATE_LOGIN] [float] NULL,
	[ATTR_PROGRAM_APPLICATION_ID] [float] NULL,
	[ATTR_PROGRAM_ID] [float] NULL,
	[ATTR_PROGRAM_UPDATE_DATE] [datetime2](7) NULL,
	[ATTR_REQUEST_ID] [float] NULL,
	[ATTR_CONTEXT] [nvarchar](30) NULL,
	[ATTR_ATTRIBUTE1] [nvarchar](240) NULL,
	[ATTR_ATTRIBUTE2] [nvarchar](240) NULL,
	[ATTR_ATTRIBUTE3] [nvarchar](240) NULL,
	[ATTR_ATTRIBUTE4] [nvarchar](240) NULL,
	[ATTR_ATTRIBUTE5] [nvarchar](240) NULL,
	[ATTR_ATTRIBUTE6] [nvarchar](240) NULL,
	[ATTR_ATTRIBUTE7] [nvarchar](240) NULL,
	[ATTR_ATTRIBUTE8] [nvarchar](240) NULL,
	[ATTR_ATTRIBUTE9] [nvarchar](240) NULL,
	[ATTR_ATTRIBUTE10] [nvarchar](240) NULL,
	[ATTR_ATTRIBUTE11] [nvarchar](240) NULL,
	[ATTR_ATTRIBUTE12] [nvarchar](240) NULL,
	[ATTR_ATTRIBUTE13] [nvarchar](240) NULL,
	[ATTR_ATTRIBUTE14] [nvarchar](240) NULL,
	[ATTR_ATTRIBUTE15] [nvarchar](240) NULL,
	[BREAK_UOM_CODE] [nvarchar](3) NULL,
	[BREAK_UOM_CONTEXT] [nvarchar](30) NULL,
	[BREAK_UOM_ATTRIBUTE] [nvarchar](30) NULL,
	[CONTINUOUS_PRICE_BREAK_FLAG] [nvarchar](1) NULL,
	[Fingerprint] [varchar](32) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NULL,
	[CurrentRecord] [bit] NOT NULL,
 CONSTRAINT [PK_QP_LIST_LINES_V] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Oracle].[QP_LIST_LINES_V] ADD  DEFAULT (getdate()) FOR [StartDate]
GO
ALTER TABLE [Oracle].[QP_LIST_LINES_V] ADD  DEFAULT ((1)) FOR [CurrentRecord]
GO
