USE [Operations]
GO
/****** Object:  Table [Oracle].[COGSActual]    Script Date: 7/10/2025 11:43:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Oracle].[COGSActual](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ORGANIZATION_ID] [float] NOT NULL,
	[SKU] [nvarchar](40) NULL,
	[DESCRIPTION] [nvarchar](240) NULL,
	[SHIPMENT_NUMBER] [nvarchar](30) NULL,
	[COST_ELEMENT_ID] [float] NULL,
	[TRANSACTION_ID] [float] NOT NULL,
	[TRANSACTION_DATE] [datetime2](7) NULL,
	[TRANSACTION_TYPE_NAME] [nvarchar](80) NOT NULL,
	[GL_ACCOUNT] [nvarchar](129) NULL,
	[MATERIAL] [float] NULL,
	[MATERIAL_OH] [float] NULL,
	[RESOURCE_COST] [float] NULL,
	[OUTSIDE_PROCESSING] [float] NULL,
	[OVERHEAD] [float] NULL,
	[MATERIALQTY] [float] NULL,
	[MATERIALOHQTY] [float] NULL,
	[RESOURCECOSTQTY] [float] NULL,
	[OUTSIDEPROCESSINGQTY] [float] NULL,
	[OVERHEADQTY] [float] NULL,
	[Fingerprint] [varchar](32) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NULL,
	[CurrentRecord] [bit] NOT NULL,
 CONSTRAINT [PK_COGSActual] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Transaction] UNIQUE NONCLUSTERED 
(
	[TRANSACTION_ID] ASC,
	[COST_ELEMENT_ID] ASC,
	[GL_ACCOUNT] ASC,
	[EndDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Oracle].[COGSActual] ADD  DEFAULT (getdate()) FOR [StartDate]
GO
ALTER TABLE [Oracle].[COGSActual] ADD  DEFAULT ((1)) FOR [CurrentRecord]
GO
