USE [Operations]
GO
/****** Object:  Table [Oracle].[CST_ITEM_COST_TYPE_V]    Script Date: 7/10/2025 11:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Oracle].[CST_ITEM_COST_TYPE_V](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ROW_ID] [varchar](50) NULL,
	[INVENTORY_ITEM_ID] [float] NOT NULL,
	[ITEM_NUMBER] [nvarchar](40) NULL,
	[PADDED_ITEM_NUMBER] [nvarchar](90) NULL,
	[DESCRIPTION] [nvarchar](240) NULL,
	[PRIMARY_UOM_CODE] [nvarchar](3) NULL,
	[ORGANIZATION_ID] [float] NOT NULL,
	[COST_TYPE_ID] [float] NOT NULL,
	[COST_TYPE] [nvarchar](10) NOT NULL,
	[COST_TYPE_DESCRIPTION] [nvarchar](240) NULL,
	[ALLOW_UPDATES_FLAG] [float] NULL,
	[FROZEN_STANDARD_FLAG] [float] NULL,
	[DEFAULT_COST_TYPE_ID] [float] NOT NULL,
	[DEFAULT_COST_TYPE] [nvarchar](10) NOT NULL,
	[LAST_UPDATE_DATE] [datetime2](7) NOT NULL,
	[LAST_UPDATED_BY] [float] NOT NULL,
	[CREATION_DATE] [datetime2](7) NOT NULL,
	[CREATED_BY] [float] NOT NULL,
	[LAST_UPDATE_LOGIN] [float] NULL,
	[INVENTORY_ASSET] [float] NOT NULL,
	[LOT_SIZE] [float] NULL,
	[BASED_ON_ROLLUP] [float] NULL,
	[SHRINKAGE_RATE] [float] NULL,
	[DEFAULTED_FLAG] [float] NOT NULL,
	[ITEM_COST] [float] NULL,
	[MATERIAL_COST] [float] NULL,
	[MATERIAL_OVERHEAD_COST] [float] NULL,
	[RESOURCE_COST] [float] NULL,
	[OUTSIDE_PROCESSING_COST] [float] NULL,
	[OVERHEAD_COST] [float] NULL,
	[PLANNING_MAKE_BUY_CODE] [nvarchar](80) NULL,
	[DEFAULT_INCLUDE_IN_ROLLUP_FLAG] [nvarchar](1) NULL,
	[COST_OF_SALES_ACCOUNT] [float] NULL,
	[SALES_ACCOUNT] [float] NULL,
	[CATEGORY_ID] [float] NULL,
	[ATTRIBUTE_CATEGORY] [nvarchar](30) NULL,
	[ATTRIBUTE1] [nvarchar](150) NULL,
	[ATTRIBUTE2] [nvarchar](150) NULL,
	[ATTRIBUTE3] [nvarchar](150) NULL,
	[ATTRIBUTE4] [nvarchar](150) NULL,
	[ATTRIBUTE5] [nvarchar](150) NULL,
	[ATTRIBUTE6] [nvarchar](150) NULL,
	[ATTRIBUTE7] [nvarchar](150) NULL,
	[ATTRIBUTE8] [nvarchar](150) NULL,
	[ATTRIBUTE9] [nvarchar](150) NULL,
	[ATTRIBUTE10] [nvarchar](150) NULL,
	[ATTRIBUTE11] [nvarchar](150) NULL,
	[ATTRIBUTE12] [nvarchar](150) NULL,
	[ATTRIBUTE13] [nvarchar](150) NULL,
	[ATTRIBUTE14] [nvarchar](150) NULL,
	[ATTRIBUTE15] [nvarchar](150) NULL,
	[REQUEST_ID] [float] NULL,
	[PROGRAM_APPLICATION_ID] [float] NULL,
	[PROGRAM_ID] [float] NULL,
	[PROGRAM_UPDATE_DATE] [datetime2](7) NULL,
	[Fingerprint] [varchar](32) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NULL,
	[CurrentRecord] [bit] NOT NULL,
 CONSTRAINT [PK_CST_ITEM_COST_TYPE_V] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CST_ITEM_COST_TYPE_V_COST_TYPE]    Script Date: 7/10/2025 11:43:42 AM ******/
CREATE NONCLUSTERED INDEX [IX_CST_ITEM_COST_TYPE_V_COST_TYPE] ON [Oracle].[CST_ITEM_COST_TYPE_V]
(
	[ORGANIZATION_ID] ASC,
	[COST_TYPE] ASC
)
INCLUDE([INVENTORY_ITEM_ID],[ITEM_COST],[StartDate],[EndDate]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [Oracle].[CST_ITEM_COST_TYPE_V] ADD  DEFAULT (getdate()) FOR [StartDate]
GO
ALTER TABLE [Oracle].[CST_ITEM_COST_TYPE_V] ADD  DEFAULT ((1)) FOR [CurrentRecord]
GO
