USE [Operations]
GO
/****** Object:  Table [Oracle].[INV_MTL_MATERIAL_TRANSACTIONS]    Script Date: 7/10/2025 11:43:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Oracle].[INV_MTL_MATERIAL_TRANSACTIONS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TRANSACTION_ID] [float] NOT NULL,
	[LAST_UPDATE_DATE] [datetime2](7) NOT NULL,
	[LAST_UPDATED_BY] [float] NOT NULL,
	[CREATION_DATE] [datetime2](7) NOT NULL,
	[CREATED_BY] [float] NOT NULL,
	[LAST_UPDATE_LOGIN] [float] NULL,
	[REQUEST_ID] [float] NULL,
	[PROGRAM_APPLICATION_ID] [float] NULL,
	[PROGRAM_ID] [float] NULL,
	[PROGRAM_UPDATE_DATE] [datetime2](7) NULL,
	[INVENTORY_ITEM_ID] [float] NOT NULL,
	[REVISION] [nvarchar](3) NULL,
	[ORGANIZATION_ID] [float] NOT NULL,
	[SUBINVENTORY_CODE] [nvarchar](10) NULL,
	[LOCATOR_ID] [float] NULL,
	[TRANSACTION_TYPE_ID] [float] NOT NULL,
	[TRANSACTION_ACTION_ID] [float] NOT NULL,
	[TRANSACTION_SOURCE_TYPE_ID] [float] NOT NULL,
	[TRANSACTION_SOURCE_ID] [float] NULL,
	[TRANSACTION_SOURCE_NAME] [nvarchar](80) NULL,
	[TRANSACTION_QUANTITY] [float] NOT NULL,
	[TRANSACTION_UOM] [nvarchar](3) NOT NULL,
	[PRIMARY_QUANTITY] [float] NOT NULL,
	[TRANSACTION_DATE] [datetime2](7) NOT NULL,
	[VARIANCE_AMOUNT] [float] NULL,
	[ACCT_PERIOD_ID] [float] NULL,
	[TRANSACTION_REFERENCE] [nvarchar](240) NULL,
	[REASON_ID] [float] NULL,
	[DISTRIBUTION_ACCOUNT_ID] [float] NULL,
	[ENCUMBRANCE_ACCOUNT] [float] NULL,
	[ENCUMBRANCE_AMOUNT] [float] NULL,
	[COST_UPDATE_ID] [float] NULL,
	[COSTED_FLAG] [nvarchar](1) NULL,
	[TRANSACTION_GROUP_ID] [float] NULL,
	[INVOICED_FLAG] [nvarchar](1) NULL,
	[ACTUAL_COST] [float] NULL,
	[TRANSACTION_COST] [float] NULL,
	[PRIOR_COST] [float] NULL,
	[NEW_COST] [float] NULL,
	[CURRENCY_CODE] [nvarchar](10) NULL,
	[CURRENCY_CONVERSION_RATE] [float] NULL,
	[CURRENCY_CONVERSION_TYPE] [nvarchar](30) NULL,
	[CURRENCY_CONVERSION_DATE] [datetime2](7) NULL,
	[USSGL_TRANSACTION_CODE] [nvarchar](30) NULL,
	[QUANTITY_ADJUSTED] [float] NULL,
	[EMPLOYEE_CODE] [nvarchar](10) NULL,
	[DEPARTMENT_ID] [float] NULL,
	[OPERATION_SEQ_NUM] [float] NULL,
	[MASTER_SCHEDULE_UPDATE_CODE] [nvarchar](10) NULL,
	[RECEIVING_DOCUMENT] [nvarchar](10) NULL,
	[PICKING_LINE_ID] [float] NULL,
	[TRX_SOURCE_LINE_ID] [float] NULL,
	[TRX_SOURCE_DELIVERY_ID] [float] NULL,
	[REPETITIVE_LINE_ID] [float] NULL,
	[PHYSICAL_ADJUSTMENT_ID] [float] NULL,
	[CYCLE_COUNT_ID] [float] NULL,
	[RMA_LINE_ID] [float] NULL,
	[TRANSFER_TRANSACTION_ID] [float] NULL,
	[TRANSACTION_SET_ID] [float] NULL,
	[RCV_TRANSACTION_ID] [float] NULL,
	[MOVE_TRANSACTION_ID] [float] NULL,
	[COMPLETION_TRANSACTION_ID] [float] NULL,
	[SHORTAGE_PROCESS_CODE] [float] NULL,
	[SOURCE_CODE] [nvarchar](30) NULL,
	[SOURCE_LINE_ID] [float] NULL,
	[VENDOR_LOT_NUMBER] [nvarchar](30) NULL,
	[TRANSFER_ORGANIZATION_ID] [float] NULL,
	[TRANSFER_SUBINVENTORY] [nvarchar](10) NULL,
	[TRANSFER_LOCATOR_ID] [float] NULL,
	[SHIPMENT_NUMBER] [nvarchar](30) NULL,
	[TRANSFER_COST] [float] NULL,
	[TRANSPORTATION_DIST_ACCOUNT] [float] NULL,
	[TRANSPORTATION_COST] [float] NULL,
	[TRANSFER_COST_DIST_ACCOUNT] [float] NULL,
	[WAYBILL_AIRBILL] [nvarchar](30) NULL,
	[FREIGHT_CODE] [nvarchar](30) NULL,
	[NUMBER_OF_CONTAINERS] [float] NULL,
	[VALUE_CHANGE] [float] NULL,
	[PERCENTAGE_CHANGE] [float] NULL,
	[ATTRIBUTE_CATEGORY] [nvarchar](30) NULL,
	[ATTRIBUTE1] [nvarchar](150) NULL,
	[ATTRIBUTE2] [nvarchar](150) NULL,
	[ATTRIBUTE3] [nvarchar](150) NULL,
	[ATTRIBUTE4] [nvarchar](150) NULL,
	[ATTRIBUTE5] [nvarchar](150) NULL,
	[ATTRIBUTE6] [nvarchar](150) NULL,
	[ATTRIBUTE7] [nvarchar](150) NULL,
	[ATTRIBUTE8] [nvarchar](150) NULL,
	[ATTRIBUTE9] [nvarchar](150) NULL,
	[ATTRIBUTE10] [nvarchar](150) NULL,
	[ATTRIBUTE11] [nvarchar](150) NULL,
	[ATTRIBUTE12] [nvarchar](150) NULL,
	[ATTRIBUTE13] [nvarchar](150) NULL,
	[ATTRIBUTE14] [nvarchar](150) NULL,
	[ATTRIBUTE15] [nvarchar](150) NULL,
	[MOVEMENT_ID] [float] NULL,
	[TASK_ID] [numeric](15, 0) NULL,
	[TO_TASK_ID] [numeric](15, 0) NULL,
	[PROJECT_ID] [numeric](15, 0) NULL,
	[TO_PROJECT_ID] [numeric](15, 0) NULL,
	[SOURCE_PROJECT_ID] [float] NULL,
	[PA_EXPENDITURE_ORG_ID] [float] NULL,
	[SOURCE_TASK_ID] [float] NULL,
	[EXPENDITURE_TYPE] [nvarchar](30) NULL,
	[ERROR_CODE] [nvarchar](240) NULL,
	[ERROR_EXPLANATION] [nvarchar](240) NULL,
	[PRIOR_COSTED_QUANTITY] [float] NULL,
	[TRANSFER_PRIOR_COSTED_QUANTITY] [float] NULL,
	[FINAL_COMPLETION_FLAG] [nvarchar](1) NULL,
	[PM_COST_COLLECTED] [nvarchar](1) NULL,
	[PM_COST_COLLECTOR_GROUP_ID] [float] NULL,
	[SHIPMENT_COSTED] [nvarchar](1) NULL,
	[TRANSFER_PERCENTAGE] [float] NULL,
	[MATERIAL_ACCOUNT] [float] NULL,
	[MATERIAL_OVERHEAD_ACCOUNT] [float] NULL,
	[RESOURCE_ACCOUNT] [float] NULL,
	[OUTSIDE_PROCESSING_ACCOUNT] [float] NULL,
	[OVERHEAD_ACCOUNT] [float] NULL,
	[COST_GROUP_ID] [float] NULL,
	[TRANSFER_COST_GROUP_ID] [float] NULL,
	[FLOW_SCHEDULE] [nvarchar](1) NULL,
	[QA_COLLECTION_ID] [float] NULL,
	[OVERCOMPLETION_TRANSACTION_QTY] [float] NULL,
	[OVERCOMPLETION_PRIMARY_QTY] [float] NULL,
	[OVERCOMPLETION_TRANSACTION_ID] [float] NULL,
	[MVT_STAT_STATUS] [nvarchar](240) NULL,
	[COMMON_BOM_SEQ_ID] [float] NULL,
	[COMMON_ROUTING_SEQ_ID] [float] NULL,
	[ORG_COST_GROUP_ID] [float] NULL,
	[COST_TYPE_ID] [float] NULL,
	[PERIODIC_PRIMARY_QUANTITY] [float] NULL,
	[MOVE_ORDER_LINE_ID] [float] NULL,
	[TASK_GROUP_ID] [float] NULL,
	[PICK_SLIP_NUMBER] [float] NULL,
	[LPN_ID] [float] NULL,
	[TRANSFER_LPN_ID] [float] NULL,
	[PICK_STRATEGY_ID] [float] NULL,
	[PICK_RULE_ID] [float] NULL,
	[PUT_AWAY_STRATEGY_ID] [float] NULL,
	[PUT_AWAY_RULE_ID] [float] NULL,
	[CONTENT_LPN_ID] [float] NULL,
	[PICK_SLIP_DATE] [datetime2](7) NULL,
	[COST_CATEGORY_ID] [float] NULL,
	[ORGANIZATION_TYPE] [float] NULL,
	[TRANSFER_ORGANIZATION_TYPE] [float] NULL,
	[OWNING_ORGANIZATION_ID] [float] NULL,
	[OWNING_TP_TYPE] [float] NULL,
	[XFR_OWNING_ORGANIZATION_ID] [float] NULL,
	[TRANSFER_OWNING_TP_TYPE] [float] NULL,
	[PLANNING_ORGANIZATION_ID] [float] NULL,
	[PLANNING_TP_TYPE] [float] NULL,
	[XFR_PLANNING_ORGANIZATION_ID] [float] NULL,
	[TRANSFER_PLANNING_TP_TYPE] [float] NULL,
	[SECONDARY_UOM_CODE] [nvarchar](3) NULL,
	[SECONDARY_TRANSACTION_QUANTITY] [float] NULL,
	[TRANSACTION_GROUP_SEQ] [float] NULL,
	[SHIP_TO_LOCATION_ID] [float] NULL,
	[RESERVATION_ID] [float] NULL,
	[TRANSACTION_MODE] [float] NULL,
	[TRANSACTION_BATCH_ID] [float] NULL,
	[TRANSACTION_BATCH_SEQ] [float] NULL,
	[INTRANSIT_ACCOUNT] [float] NULL,
	[FOB_POINT] [float] NULL,
	[PARENT_TRANSACTION_ID] [float] NULL,
	[LOGICAL_TRX_TYPE_CODE] [float] NULL,
	[TRX_FLOW_HEADER_ID] [float] NULL,
	[LOGICAL_TRANSACTIONS_CREATED] [float] NULL,
	[LOGICAL_TRANSACTION] [float] NULL,
	[INTERCOMPANY_COST] [float] NULL,
	[INTERCOMPANY_PRICING_OPTION] [float] NULL,
	[INTERCOMPANY_CURRENCY_CODE] [nvarchar](15) NULL,
	[ORIGINAL_TRANSACTION_TEMP_ID] [float] NULL,
	[TRANSFER_PRICE] [float] NULL,
	[EXPENSE_ACCOUNT_ID] [float] NULL,
	[COGS_RECOGNITION_PERCENT] [float] NULL,
	[SO_ISSUE_ACCOUNT_TYPE] [float] NULL,
	[OPM_COSTED_FLAG] [nvarchar](1) NULL,
	[MATERIAL_EXPENSE_ACCOUNT] [float] NULL,
	[TRANSACTION_EXTRACTED] [nvarchar](1) NULL,
	[XML_DOCUMENT_ID] [float] NULL,
	[Fingerprint] [varchar](32) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NULL,
	[CurrentRecord] [bit] NOT NULL,
 CONSTRAINT [PK_OMTL_MATERIAL_TRANSACTIONS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_MTL_TRANSACTION_SOURCE_ID]    Script Date: 7/10/2025 11:43:42 AM ******/
CREATE NONCLUSTERED INDEX [IDX_MTL_TRANSACTION_SOURCE_ID] ON [Oracle].[INV_MTL_MATERIAL_TRANSACTIONS]
(
	[CurrentRecord] ASC
)
INCLUDE([TRANSACTION_SOURCE_ID],[TRANSACTION_QUANTITY]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_MTL_TRANSACTIONID]    Script Date: 7/10/2025 11:43:42 AM ******/
CREATE NONCLUSTERED INDEX [IDX_MTL_TRANSACTIONID] ON [Oracle].[INV_MTL_MATERIAL_TRANSACTIONS]
(
	[CurrentRecord] ASC
)
INCLUDE([TRANSACTION_ID],[TRANSACTION_QUANTITY]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [Oracle].[INV_MTL_MATERIAL_TRANSACTIONS] ADD  DEFAULT (getdate()) FOR [StartDate]
GO
ALTER TABLE [Oracle].[INV_MTL_MATERIAL_TRANSACTIONS] ADD  DEFAULT ((1)) FOR [CurrentRecord]
GO
