USE [Operations]
GO
/****** Object:  Table [Oracle].[XLA_WIP]    Script Date: 7/10/2025 11:43:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Oracle].[XLA_WIP](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[JE_BATCH_ID] [numeric](15, 0) NOT NULL,
	[JE_HEADER_ID] [numeric](15, 0) NOT NULL,
	[JE_LINE_NUM] [numeric](15, 0) NOT NULL,
	[JE_CATEGORY_NAME] [nvarchar](30) NOT NULL,
	[JE_HEADER_DESCRIPTION] [nvarchar](240) NULL,
	[JE_LINE_DESCRIPTION] [nvarchar](240) NULL,
	[AE_HEADER_DESCRIPTION] [nvarchar](1996) NULL,
	[ACCOUNTING_CLASS_CODE] [nvarchar](30) NOT NULL,
	[SEGMENT1] [nvarchar](25) NULL,
	[SEGMENT2] [nvarchar](25) NULL,
	[SEGMENT3] [nvarchar](25) NULL,
	[SEGMENT4] [nvarchar](25) NULL,
	[ACCOUNTING_DATE] [datetime2](7) NOT NULL,
	[ACCOUNT_ID] [numeric](15, 0) NULL,
	[ACCOUNT_NAME] [nvarchar](240) NULL,
	[SKU] [nvarchar](40) NULL,
	[DEBIT] [float] NULL,
	[CREDIT] [float] NULL,
	[TRANSACTION_ID] [float] NULL,
	[TRANSACTION_QUANTITY] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_XLAWIP_ACCOUNTINGDATE]    Script Date: 7/10/2025 11:43:42 AM ******/
CREATE NONCLUSTERED INDEX [IDX_XLAWIP_ACCOUNTINGDATE] ON [Oracle].[XLA_WIP]
(
	[ACCOUNTING_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_XLAWIP_SKU]    Script Date: 7/10/2025 11:43:42 AM ******/
CREATE NONCLUSTERED INDEX [IDX_XLAWIP_SKU] ON [Oracle].[XLA_WIP]
(
	[SKU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
