USE [Operations]
GO
/****** Object:  Table [Oracle].[MSC_ORDERS_V]    Script Date: 7/10/2025 11:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Oracle].[MSC_ORDERS_V](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SOURCE_TABLE] [nvarchar](100) NULL,
	[ITEM_SEGMENTS] [nvarchar](250) NULL,
	[DESCRIPTION] [nvarchar](240) NULL,
	[DEMAND_CLASS] [nvarchar](34) NULL,
	[NEW_ORDER_DATE] [datetime2](7) NULL,
	[FIRM_PLANNED_TYPE] [float] NULL,
	[FIRM_DATE] [datetime2](7) NULL,
	[QUANTITY] [float] NULL,
	[ORDER_TYPE_TEXT] [nvarchar](4000) NULL,
	[ORDER_TYPE] [float] NULL,
	[NEW_DUE_DATE] [datetime2](7) NULL,
	[PLANNER_CODE] [nvarchar](10) NULL,
	[ORGANIZATION_CODE] [nvarchar](7) NULL,
	[PLAN_ID] [float] NULL,
	[START_OF_WEEK] [datetime2](7) NULL,
	[ROW_ID] [varchar](50) NULL,
	[Fingerprint] [varchar](32) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NULL,
	[CurrentRecord] [bit] NOT NULL,
	[SOURCE_ORGANIZATION_CODE] [nvarchar](7) NULL,
 CONSTRAINT [PK_MSC_ORDERS_V] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_MSCORDERSV_PLANIDCOVERED]    Script Date: 7/10/2025 11:43:42 AM ******/
CREATE NONCLUSTERED INDEX [IX_MSCORDERSV_PLANIDCOVERED] ON [Oracle].[MSC_ORDERS_V]
(
	[PLAN_ID] ASC,
	[CurrentRecord] ASC,
	[QUANTITY] ASC,
	[ORDER_TYPE] ASC
)
INCLUDE([ITEM_SEGMENTS],[ORGANIZATION_CODE],[START_OF_WEEK],[StartDate]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MSCORDERSV_RowID]    Script Date: 7/10/2025 11:43:42 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_MSCORDERSV_RowID] ON [Oracle].[MSC_ORDERS_V]
(
	[ROW_ID] ASC,
	[StartDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [Oracle].[MSC_ORDERS_V] ADD  DEFAULT (getdate()) FOR [StartDate]
GO
ALTER TABLE [Oracle].[MSC_ORDERS_V] ADD  DEFAULT ((1)) FOR [CurrentRecord]
GO
