USE [Operations]
GO
/****** Object:  Table [Oracle].[RA_CUST_TRX_LINE_SALESREPS_ALL]    Script Date: 7/10/2025 11:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Oracle].[RA_CUST_TRX_LINE_SALESREPS_ALL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CUST_TRX_LINE_SALESREP_ID] [numeric](15, 0) NOT NULL,
	[LAST_UPDATE_DATE] [datetime2](7) NOT NULL,
	[LAST_UPDATED_BY] [numeric](15, 0) NOT NULL,
	[CREATION_DATE] [datetime2](7) NOT NULL,
	[CREATED_BY] [numeric](15, 0) NOT NULL,
	[LAST_UPDATE_LOGIN] [numeric](15, 0) NULL,
	[CUSTOMER_TRX_ID] [numeric](15, 0) NOT NULL,
	[SALESREP_ID] [numeric](15, 0) NOT NULL,
	[CUSTOMER_TRX_LINE_ID] [numeric](15, 0) NULL,
	[REVENUE_AMOUNT_SPLIT] [float] NULL,
	[NON_REVENUE_AMOUNT_SPLIT] [float] NULL,
	[ATTRIBUTE_CATEGORY] [nvarchar](30) NULL,
	[ATTRIBUTE1] [nvarchar](150) NULL,
	[ATTRIBUTE2] [nvarchar](150) NULL,
	[ATTRIBUTE3] [nvarchar](150) NULL,
	[ATTRIBUTE4] [nvarchar](150) NULL,
	[ATTRIBUTE5] [nvarchar](150) NULL,
	[ATTRIBUTE6] [nvarchar](150) NULL,
	[ATTRIBUTE7] [nvarchar](150) NULL,
	[ATTRIBUTE8] [nvarchar](150) NULL,
	[ATTRIBUTE9] [nvarchar](150) NULL,
	[ATTRIBUTE10] [nvarchar](150) NULL,
	[REQUEST_ID] [numeric](15, 0) NULL,
	[PROGRAM_APPLICATION_ID] [numeric](15, 0) NULL,
	[PROGRAM_ID] [numeric](15, 0) NULL,
	[PROGRAM_UPDATE_DATE] [datetime2](7) NULL,
	[NON_REVENUE_PERCENT_SPLIT] [float] NULL,
	[REVENUE_PERCENT_SPLIT] [float] NULL,
	[ORIGINAL_LINE_SALESREP_ID] [numeric](15, 0) NULL,
	[PREV_CUST_TRX_LINE_SALESREP_ID] [numeric](15, 0) NULL,
	[ATTRIBUTE11] [nvarchar](150) NULL,
	[ATTRIBUTE12] [nvarchar](150) NULL,
	[ATTRIBUTE13] [nvarchar](150) NULL,
	[ATTRIBUTE14] [nvarchar](150) NULL,
	[ATTRIBUTE15] [nvarchar](150) NULL,
	[ORG_ID] [numeric](15, 0) NULL,
	[WH_UPDATE_DATE] [datetime2](7) NULL,
	[REVENUE_ADJUSTMENT_ID] [numeric](15, 0) NULL,
	[REVENUE_SALESGROUP_ID] [float] NULL,
	[NON_REVENUE_SALESGROUP_ID] [float] NULL,
	[Fingerprint] [varchar](32) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NULL,
	[CurrentRecord] [bit] NOT NULL,
 CONSTRAINT [PK_RA_CUST_TRX_LINE_SALESREPS_ALL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Oracle].[RA_CUST_TRX_LINE_SALESREPS_ALL] ADD  DEFAULT (getdate()) FOR [StartDate]
GO
ALTER TABLE [Oracle].[RA_CUST_TRX_LINE_SALESREPS_ALL] ADD  DEFAULT ((1)) FOR [CurrentRecord]
GO
