USE [Operations]
GO
/****** Object:  Table [Oracle].[INV_MTL_SYSTEM_ITEMS_FVL]    Script Date: 7/10/2025 11:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Oracle].[INV_MTL_SYSTEM_ITEMS_FVL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ROW_ID] [char](18) NULL,
	[INVENTORY_ITEM_ID] [float] NOT NULL,
	[ORGANIZATION_ID] [float] NOT NULL,
	[PRIMARY_UOM_CODE] [nvarchar](3) NULL,
	[PRIMARY_UNIT_OF_MEASURE] [nvarchar](25) NULL,
	[ITEM_TYPE] [nvarchar](30) NULL,
	[INVENTORY_ITEM_STATUS_CODE] [nvarchar](10) NOT NULL,
	[ALLOWED_UNITS_LOOKUP_CODE] [float] NULL,
	[ITEM_CATALOG_GROUP_ID] [float] NULL,
	[CATALOG_STATUS_FLAG] [nvarchar](1) NULL,
	[INVENTORY_ITEM_FLAG] [nvarchar](1) NOT NULL,
	[STOCK_ENABLED_FLAG] [nvarchar](1) NOT NULL,
	[MTL_TRANSACTIONS_ENABLED_FLAG] [nvarchar](1) NOT NULL,
	[CHECK_SHORTAGES_FLAG] [nvarchar](1) NULL,
	[REVISION_QTY_CONTROL_CODE] [float] NULL,
	[RESERVABLE_TYPE] [float] NULL,
	[SHELF_LIFE_CODE] [float] NULL,
	[SHELF_LIFE_DAYS] [float] NULL,
	[CYCLE_COUNT_ENABLED_FLAG] [nvarchar](1) NOT NULL,
	[NEGATIVE_MEASUREMENT_ERROR] [float] NULL,
	[POSITIVE_MEASUREMENT_ERROR] [float] NULL,
	[LOT_CONTROL_CODE] [float] NULL,
	[AUTO_LOT_ALPHA_PREFIX] [nvarchar](30) NULL,
	[START_AUTO_LOT_NUMBER] [nvarchar](30) NULL,
	[SERIAL_NUMBER_CONTROL_CODE] [float] NULL,
	[AUTO_SERIAL_ALPHA_PREFIX] [nvarchar](30) NULL,
	[START_AUTO_SERIAL_NUMBER] [nvarchar](30) NULL,
	[LOCATION_CONTROL_CODE] [float] NULL,
	[RESTRICT_SUBINVENTORIES_CODE] [float] NULL,
	[RESTRICT_LOCATORS_CODE] [float] NULL,
	[BOM_ENABLED_FLAG] [nvarchar](1) NOT NULL,
	[BOM_ITEM_TYPE] [float] NOT NULL,
	[BASE_ITEM_ID] [float] NULL,
	[EFFECTIVITY_CONTROL] [float] NULL,
	[ENG_ITEM_FLAG] [nvarchar](1) NOT NULL,
	[ENGINEERING_ECN_CODE] [nvarchar](50) NULL,
	[ENGINEERING_ITEM_ID] [float] NULL,
	[ENGINEERING_DATE] [datetime2](7) NULL,
	[PRODUCT_FAMILY_ITEM_ID] [float] NULL,
	[AUTO_CREATED_CONFIG_FLAG] [nvarchar](1) NOT NULL,
	[MODEL_CONFIG_CLAUSE_NAME] [nvarchar](10) NULL,
	[NEW_REVISION_CODE] [nvarchar](30) NULL,
	[COSTING_ENABLED_FLAG] [nvarchar](1) NOT NULL,
	[INVENTORY_ASSET_FLAG] [nvarchar](1) NOT NULL,
	[DEFAULT_INCLUDE_IN_ROLLUP_FLAG] [nvarchar](1) NULL,
	[COST_OF_SALES_ACCOUNT] [float] NULL,
	[STD_LOT_SIZE] [float] NULL,
	[PURCHASING_ITEM_FLAG] [nvarchar](1) NOT NULL,
	[PURCHASING_ENABLED_FLAG] [nvarchar](1) NOT NULL,
	[MUST_USE_APPROVED_VENDOR_FLAG] [nvarchar](1) NOT NULL,
	[ALLOW_ITEM_DESC_UPDATE_FLAG] [nvarchar](1) NULL,
	[RFQ_REQUIRED_FLAG] [nvarchar](1) NULL,
	[OUTSIDE_OPERATION_FLAG] [nvarchar](1) NOT NULL,
	[OUTSIDE_OPERATION_UOM_TYPE] [nvarchar](25) NULL,
	[TAXABLE_FLAG] [nvarchar](1) NULL,
	[PURCHASING_TAX_CODE] [nvarchar](50) NULL,
	[RECEIPT_REQUIRED_FLAG] [nvarchar](1) NULL,
	[INSPECTION_REQUIRED_FLAG] [nvarchar](1) NULL,
	[BUYER_ID] [numeric](9, 0) NULL,
	[UNIT_OF_ISSUE] [nvarchar](25) NULL,
	[RECEIVE_CLOSE_TOLERANCE] [float] NULL,
	[INVOICE_CLOSE_TOLERANCE] [float] NULL,
	[UN_NUMBER_ID] [float] NULL,
	[HAZARD_CLASS_ID] [float] NULL,
	[LIST_PRICE_PER_UNIT] [float] NULL,
	[MARKET_PRICE] [float] NULL,
	[PRICE_TOLERANCE_PERCENT] [float] NULL,
	[ROUNDING_FACTOR] [float] NULL,
	[ENCUMBRANCE_ACCOUNT] [float] NULL,
	[EXPENSE_ACCOUNT] [float] NULL,
	[ASSET_CATEGORY_ID] [float] NULL,
	[RECEIPT_DAYS_EXCEPTION_CODE] [nvarchar](25) NULL,
	[DAYS_EARLY_RECEIPT_ALLOWED] [float] NULL,
	[DAYS_LATE_RECEIPT_ALLOWED] [float] NULL,
	[ALLOW_SUBSTITUTE_RECEIPTS_FLAG] [nvarchar](1) NULL,
	[ALLOW_UNORDERED_RECEIPTS_FLAG] [nvarchar](1) NULL,
	[ALLOW_EXPRESS_DELIVERY_FLAG] [nvarchar](1) NULL,
	[QTY_RCV_EXCEPTION_CODE] [nvarchar](25) NULL,
	[QTY_RCV_TOLERANCE] [float] NULL,
	[RECEIVING_ROUTING_ID] [float] NULL,
	[ENFORCE_SHIP_TO_LOCATION_CODE] [nvarchar](25) NULL,
	[WEIGHT_UOM_CODE] [nvarchar](3) NULL,
	[UNIT_WEIGHT] [float] NULL,
	[VOLUME_UOM_CODE] [nvarchar](3) NULL,
	[UNIT_VOLUME] [float] NULL,
	[CONTAINER_ITEM_FLAG] [nvarchar](1) NULL,
	[VEHICLE_ITEM_FLAG] [nvarchar](1) NULL,
	[CONTAINER_TYPE_CODE] [nvarchar](30) NULL,
	[INTERNAL_VOLUME] [float] NULL,
	[MAXIMUM_LOAD_WEIGHT] [float] NULL,
	[MINIMUM_FILL_PERCENT] [float] NULL,
	[INVENTORY_PLANNING_CODE] [float] NULL,
	[PLANNER_CODE] [nvarchar](10) NULL,
	[PLANNING_MAKE_BUY_CODE] [float] NULL,
	[MIN_MINMAX_QUANTITY] [float] NULL,
	[MAX_MINMAX_QUANTITY] [float] NULL,
	[MINIMUM_ORDER_QUANTITY] [float] NULL,
	[MAXIMUM_ORDER_QUANTITY] [float] NULL,
	[ORDER_COST] [float] NULL,
	[CARRYING_COST] [float] NULL,
	[SOURCE_TYPE] [float] NULL,
	[SOURCE_ORGANIZATION_ID] [float] NULL,
	[SOURCE_SUBINVENTORY] [nvarchar](10) NULL,
	[MRP_SAFETY_STOCK_CODE] [float] NULL,
	[SAFETY_STOCK_BUCKET_DAYS] [float] NULL,
	[MRP_SAFETY_STOCK_PERCENT] [float] NULL,
	[FIXED_ORDER_QUANTITY] [float] NULL,
	[FIXED_DAYS_SUPPLY] [float] NULL,
	[FIXED_LOT_MULTIPLIER] [float] NULL,
	[MRP_PLANNING_CODE] [float] NULL,
	[ATO_FORECAST_CONTROL] [float] NULL,
	[PLANNING_EXCEPTION_SET] [nvarchar](10) NULL,
	[END_ASSEMBLY_PEGGING_FLAG] [nvarchar](1) NULL,
	[SHRINKAGE_RATE] [float] NULL,
	[ROUNDING_CONTROL_TYPE] [float] NULL,
	[ACCEPTABLE_EARLY_DAYS] [float] NULL,
	[REPETITIVE_PLANNING_FLAG] [nvarchar](1) NULL,
	[OVERRUN_PERCENTAGE] [float] NULL,
	[ACCEPTABLE_RATE_INCREASE] [float] NULL,
	[ACCEPTABLE_RATE_DECREASE] [float] NULL,
	[MRP_CALCULATE_ATP_FLAG] [nvarchar](1) NULL,
	[AUTO_REDUCE_MPS] [numeric](22, 0) NULL,
	[PLANNING_TIME_FENCE_CODE] [float] NULL,
	[PLANNING_TIME_FENCE_DAYS] [float] NULL,
	[DEMAND_TIME_FENCE_CODE] [float] NULL,
	[DEMAND_TIME_FENCE_DAYS] [float] NULL,
	[RELEASE_TIME_FENCE_CODE] [float] NULL,
	[RELEASE_TIME_FENCE_DAYS] [float] NULL,
	[PREPROCESSING_LEAD_TIME] [float] NULL,
	[FULL_LEAD_TIME] [float] NULL,
	[POSTPROCESSING_LEAD_TIME] [float] NULL,
	[FIXED_LEAD_TIME] [float] NULL,
	[VARIABLE_LEAD_TIME] [float] NULL,
	[CUM_MANUFACTURING_LEAD_TIME] [float] NULL,
	[CUMULATIVE_TOTAL_LEAD_TIME] [float] NULL,
	[LEAD_TIME_LOT_SIZE] [float] NULL,
	[BUILD_IN_WIP_FLAG] [nvarchar](1) NOT NULL,
	[WIP_SUPPLY_TYPE] [float] NULL,
	[WIP_SUPPLY_SUBINVENTORY] [nvarchar](10) NULL,
	[WIP_SUPPLY_LOCATOR_ID] [float] NULL,
	[OVERCOMPLETION_TOLERANCE_TYPE] [float] NULL,
	[OVERCOMPLETION_TOLERANCE_VALUE] [float] NULL,
	[CUSTOMER_ORDER_FLAG] [nvarchar](1) NOT NULL,
	[CUSTOMER_ORDER_ENABLED_FLAG] [nvarchar](1) NOT NULL,
	[SHIPPABLE_ITEM_FLAG] [nvarchar](1) NOT NULL,
	[INTERNAL_ORDER_FLAG] [nvarchar](1) NOT NULL,
	[INTERNAL_ORDER_ENABLED_FLAG] [nvarchar](1) NOT NULL,
	[SO_TRANSACTIONS_FLAG] [nvarchar](1) NOT NULL,
	[PICK_COMPONENTS_FLAG] [nvarchar](1) NOT NULL,
	[ATP_FLAG] [nvarchar](1) NOT NULL,
	[REPLENISH_TO_ORDER_FLAG] [nvarchar](1) NOT NULL,
	[ATP_RULE_ID] [float] NULL,
	[ATP_COMPONENTS_FLAG] [nvarchar](1) NOT NULL,
	[SHIP_MODEL_COMPLETE_FLAG] [nvarchar](1) NULL,
	[PICKING_RULE_ID] [float] NULL,
	[COLLATERAL_FLAG] [nvarchar](1) NULL,
	[DEFAULT_SHIPPING_ORG] [float] NULL,
	[RETURNABLE_FLAG] [nvarchar](1) NULL,
	[RETURN_INSPECTION_REQUIREMENT] [float] NULL,
	[OVER_SHIPMENT_TOLERANCE] [float] NULL,
	[UNDER_SHIPMENT_TOLERANCE] [float] NULL,
	[OVER_RETURN_TOLERANCE] [float] NULL,
	[UNDER_RETURN_TOLERANCE] [float] NULL,
	[INVOICEABLE_ITEM_FLAG] [nvarchar](1) NOT NULL,
	[INVOICE_ENABLED_FLAG] [nvarchar](1) NOT NULL,
	[ACCOUNTING_RULE_ID] [float] NULL,
	[INVOICING_RULE_ID] [float] NULL,
	[TAX_CODE] [nvarchar](50) NULL,
	[SALES_ACCOUNT] [float] NULL,
	[PAYMENT_TERMS_ID] [float] NULL,
	[SERVICE_ITEM_FLAG] [nvarchar](1) NOT NULL,
	[VENDOR_WARRANTY_FLAG] [nvarchar](1) NOT NULL,
	[COVERAGE_SCHEDULE_ID] [float] NULL,
	[SERVICE_DURATION] [float] NULL,
	[SERVICE_DURATION_PERIOD_CODE] [nvarchar](10) NULL,
	[SERVICEABLE_PRODUCT_FLAG] [nvarchar](1) NOT NULL,
	[SERVICE_STARTING_DELAY] [float] NULL,
	[MATERIAL_BILLABLE_FLAG] [nvarchar](30) NULL,
	[TIME_BILLABLE_FLAG] [nvarchar](1) NULL,
	[EXPENSE_BILLABLE_FLAG] [nvarchar](1) NULL,
	[SERVICEABLE_COMPONENT_FLAG] [nvarchar](1) NULL,
	[PREVENTIVE_MAINTENANCE_FLAG] [nvarchar](1) NULL,
	[PRORATE_SERVICE_FLAG] [nvarchar](1) NULL,
	[SERVICEABLE_ITEM_CLASS_ID] [float] NULL,
	[BASE_WARRANTY_SERVICE_ID] [float] NULL,
	[WARRANTY_VENDOR_ID] [float] NULL,
	[MAX_WARRANTY_AMOUNT] [float] NULL,
	[RESPONSE_TIME_PERIOD_CODE] [nvarchar](30) NULL,
	[RESPONSE_TIME_VALUE] [float] NULL,
	[PRIMARY_SPECIALIST_ID] [float] NULL,
	[SECONDARY_SPECIALIST_ID] [float] NULL,
	[WH_UPDATE_DATE] [datetime2](7) NULL,
	[SEGMENT1] [nvarchar](40) NULL,
	[SEGMENT2] [nvarchar](40) NULL,
	[SEGMENT3] [nvarchar](40) NULL,
	[SEGMENT4] [nvarchar](40) NULL,
	[SEGMENT5] [nvarchar](40) NULL,
	[SEGMENT6] [nvarchar](40) NULL,
	[SEGMENT7] [nvarchar](40) NULL,
	[SEGMENT8] [nvarchar](40) NULL,
	[SEGMENT9] [nvarchar](40) NULL,
	[SEGMENT10] [nvarchar](40) NULL,
	[SEGMENT11] [nvarchar](40) NULL,
	[SEGMENT12] [nvarchar](40) NULL,
	[SEGMENT13] [nvarchar](40) NULL,
	[SEGMENT14] [nvarchar](40) NULL,
	[SEGMENT15] [nvarchar](40) NULL,
	[SEGMENT16] [nvarchar](40) NULL,
	[SEGMENT17] [nvarchar](40) NULL,
	[SEGMENT18] [nvarchar](40) NULL,
	[SEGMENT19] [nvarchar](40) NULL,
	[SEGMENT20] [nvarchar](40) NULL,
	[SUMMARY_FLAG] [nvarchar](1) NOT NULL,
	[ENABLED_FLAG] [nvarchar](1) NOT NULL,
	[START_DATE_ACTIVE] [datetime2](7) NULL,
	[END_DATE_ACTIVE] [datetime2](7) NULL,
	[ATTRIBUTE_CATEGORY] [nvarchar](30) NULL,
	[ATTRIBUTE1] [nvarchar](240) NULL,
	[ATTRIBUTE2] [nvarchar](240) NULL,
	[ATTRIBUTE3] [nvarchar](240) NULL,
	[ATTRIBUTE4] [nvarchar](240) NULL,
	[ATTRIBUTE5] [nvarchar](240) NULL,
	[ATTRIBUTE6] [nvarchar](240) NULL,
	[ATTRIBUTE7] [nvarchar](240) NULL,
	[ATTRIBUTE8] [nvarchar](240) NULL,
	[ATTRIBUTE9] [nvarchar](240) NULL,
	[ATTRIBUTE10] [nvarchar](240) NULL,
	[ATTRIBUTE11] [nvarchar](240) NULL,
	[ATTRIBUTE12] [nvarchar](240) NULL,
	[ATTRIBUTE13] [nvarchar](240) NULL,
	[ATTRIBUTE14] [nvarchar](240) NULL,
	[ATTRIBUTE15] [nvarchar](240) NULL,
	[ATTRIBUTE16] [nvarchar](240) NULL,
	[ATTRIBUTE17] [nvarchar](240) NULL,
	[ATTRIBUTE18] [nvarchar](240) NULL,
	[ATTRIBUTE19] [nvarchar](240) NULL,
	[ATTRIBUTE20] [nvarchar](240) NULL,
	[ATTRIBUTE21] [nvarchar](240) NULL,
	[ATTRIBUTE22] [nvarchar](240) NULL,
	[ATTRIBUTE23] [nvarchar](240) NULL,
	[ATTRIBUTE24] [nvarchar](240) NULL,
	[ATTRIBUTE25] [nvarchar](240) NULL,
	[ATTRIBUTE26] [nvarchar](240) NULL,
	[ATTRIBUTE27] [nvarchar](240) NULL,
	[ATTRIBUTE28] [nvarchar](240) NULL,
	[ATTRIBUTE29] [nvarchar](240) NULL,
	[ATTRIBUTE30] [nvarchar](240) NULL,
	[GLOBAL_ATTRIBUTE_CATEGORY] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE1] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE2] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE3] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE4] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE5] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE6] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE7] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE8] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE9] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE10] [nvarchar](150) NULL,
	[EQUIPMENT_TYPE] [float] NULL,
	[RECOVERED_PART_DISP_CODE] [nvarchar](30) NULL,
	[DEFECT_TRACKING_ON_FLAG] [nvarchar](1) NULL,
	[USAGE_ITEM_FLAG] [nvarchar](1) NULL,
	[EVENT_FLAG] [nvarchar](1) NULL,
	[ELECTRONIC_FLAG] [nvarchar](1) NULL,
	[DOWNLOADABLE_FLAG] [nvarchar](1) NULL,
	[VOL_DISCOUNT_EXEMPT_FLAG] [nvarchar](1) NULL,
	[COUPON_EXEMPT_FLAG] [nvarchar](1) NULL,
	[COMMS_NL_TRACKABLE_FLAG] [nvarchar](1) NULL,
	[ASSET_CREATION_CODE] [nvarchar](30) NULL,
	[COMMS_ACTIVATION_REQD_FLAG] [nvarchar](1) NULL,
	[ORDERABLE_ON_WEB_FLAG] [nvarchar](1) NULL,
	[BACK_ORDERABLE_FLAG] [nvarchar](1) NULL,
	[WEB_STATUS] [nvarchar](30) NULL,
	[INDIVISIBLE_FLAG] [nvarchar](1) NULL,
	[DIMENSION_UOM_CODE] [nvarchar](3) NULL,
	[UNIT_LENGTH] [float] NULL,
	[UNIT_WIDTH] [float] NULL,
	[UNIT_HEIGHT] [float] NULL,
	[BULK_PICKED_FLAG] [nvarchar](1) NULL,
	[LOT_STATUS_ENABLED] [nvarchar](1) NULL,
	[DEFAULT_LOT_STATUS_ID] [float] NULL,
	[SERIAL_STATUS_ENABLED] [nvarchar](1) NULL,
	[DEFAULT_SERIAL_STATUS_ID] [float] NULL,
	[LOT_SPLIT_ENABLED] [nvarchar](1) NULL,
	[LOT_MERGE_ENABLED] [nvarchar](1) NULL,
	[INVENTORY_CARRY_PENALTY] [float] NULL,
	[OPERATION_SLACK_PENALTY] [float] NULL,
	[FINANCING_ALLOWED_FLAG] [nvarchar](1) NULL,
	[EAM_ITEM_TYPE] [float] NULL,
	[EAM_ACTIVITY_TYPE_CODE] [nvarchar](30) NULL,
	[EAM_ACTIVITY_CAUSE_CODE] [nvarchar](30) NULL,
	[EAM_ACT_NOTIFICATION_FLAG] [nvarchar](1) NULL,
	[EAM_ACT_SHUTDOWN_STATUS] [nvarchar](30) NULL,
	[DUAL_UOM_CONTROL] [float] NULL,
	[SECONDARY_UOM_CODE] [nvarchar](3) NULL,
	[DUAL_UOM_DEVIATION_HIGH] [float] NULL,
	[DUAL_UOM_DEVIATION_LOW] [float] NULL,
	[CONTRACT_ITEM_TYPE_CODE] [nvarchar](30) NULL,
	[SUBSCRIPTION_DEPEND_FLAG] [nvarchar](1) NULL,
	[SERV_REQ_ENABLED_CODE] [nvarchar](30) NULL,
	[SERV_BILLING_ENABLED_FLAG] [nvarchar](1) NULL,
	[SERV_IMPORTANCE_LEVEL] [float] NULL,
	[PLANNED_INV_POINT_FLAG] [nvarchar](1) NULL,
	[LOT_TRANSLATE_ENABLED] [nvarchar](1) NULL,
	[DEFAULT_SO_SOURCE_TYPE] [nvarchar](30) NULL,
	[CREATE_SUPPLY_FLAG] [nvarchar](1) NULL,
	[SUBSTITUTION_WINDOW_CODE] [float] NULL,
	[SUBSTITUTION_WINDOW_DAYS] [float] NULL,
	[IB_ITEM_INSTANCE_CLASS] [nvarchar](30) NULL,
	[CONFIG_MODEL_TYPE] [nvarchar](30) NULL,
	[LOT_SUBSTITUTION_ENABLED] [nvarchar](1) NULL,
	[MINIMUM_LICENSE_QUANTITY] [float] NULL,
	[EAM_ACTIVITY_SOURCE_CODE] [nvarchar](30) NULL,
	[LIFECYCLE_ID] [float] NULL,
	[CURRENT_PHASE_ID] [float] NULL,
	[OBJECT_VERSION_NUMBER] [numeric](9, 0) NULL,
	[TRACKING_QUANTITY_IND] [nvarchar](30) NULL,
	[ONT_PRICING_QTY_SOURCE] [nvarchar](30) NULL,
	[SECONDARY_DEFAULT_IND] [nvarchar](30) NULL,
	[OPTION_SPECIFIC_SOURCED] [float] NULL,
	[APPROVAL_STATUS] [nvarchar](30) NULL,
	[VMI_MINIMUM_UNITS] [float] NULL,
	[VMI_MINIMUM_DAYS] [float] NULL,
	[VMI_MAXIMUM_UNITS] [float] NULL,
	[VMI_MAXIMUM_DAYS] [float] NULL,
	[VMI_FIXED_ORDER_QUANTITY] [float] NULL,
	[SO_AUTHORIZATION_FLAG] [float] NULL,
	[CONSIGNED_FLAG] [float] NULL,
	[ASN_AUTOEXPIRE_FLAG] [float] NULL,
	[VMI_FORECAST_TYPE] [float] NULL,
	[FORECAST_HORIZON] [float] NULL,
	[EXCLUDE_FROM_BUDGET_FLAG] [float] NULL,
	[DAYS_TGT_INV_SUPPLY] [float] NULL,
	[DAYS_TGT_INV_WINDOW] [float] NULL,
	[DAYS_MAX_INV_SUPPLY] [float] NULL,
	[DAYS_MAX_INV_WINDOW] [float] NULL,
	[DRP_PLANNED_FLAG] [float] NULL,
	[CRITICAL_COMPONENT_FLAG] [float] NULL,
	[CONTINOUS_TRANSFER] [float] NULL,
	[CONVERGENCE] [float] NULL,
	[DIVERGENCE] [float] NULL,
	[CONFIG_ORGS] [nvarchar](30) NULL,
	[CONFIG_MATCH] [nvarchar](30) NULL,
	[CREATION_DATE] [datetime2](7) NOT NULL,
	[CREATED_BY] [float] NOT NULL,
	[LAST_UPDATE_DATE] [datetime2](7) NOT NULL,
	[LAST_UPDATED_BY] [float] NOT NULL,
	[LAST_UPDATE_LOGIN] [float] NULL,
	[REQUEST_ID] [float] NULL,
	[PROGRAM_APPLICATION_ID] [float] NULL,
	[PROGRAM_ID] [float] NULL,
	[PROGRAM_UPDATE_DATE] [datetime2](7) NULL,
	[LOT_DIVISIBLE_FLAG] [nvarchar](1) NULL,
	[GRADE_CONTROL_FLAG] [nvarchar](1) NULL,
	[DEFAULT_GRADE] [nvarchar](150) NULL,
	[CHILD_LOT_FLAG] [nvarchar](1) NULL,
	[PARENT_CHILD_GENERATION_FLAG] [nvarchar](1) NULL,
	[CHILD_LOT_PREFIX] [nvarchar](30) NULL,
	[CHILD_LOT_STARTING_NUMBER] [float] NULL,
	[CHILD_LOT_VALIDATION_FLAG] [nvarchar](1) NULL,
	[COPY_LOT_ATTRIBUTE_FLAG] [nvarchar](1) NULL,
	[RECIPE_ENABLED_FLAG] [nvarchar](1) NULL,
	[PROCESS_COSTING_ENABLED_FLAG] [nvarchar](1) NULL,
	[RETEST_INTERVAL] [float] NULL,
	[EXPIRATION_ACTION_INTERVAL] [float] NULL,
	[EXPIRATION_ACTION_CODE] [nvarchar](32) NULL,
	[MATURITY_DAYS] [float] NULL,
	[HOLD_DAYS] [float] NULL,
	[PROCESS_QUALITY_ENABLED_FLAG] [nvarchar](1) NULL,
	[PROCESS_EXECUTION_ENABLED_FLAG] [nvarchar](1) NULL,
	[PROCESS_SUPPLY_SUBINVENTORY] [nvarchar](10) NULL,
	[PROCESS_SUPPLY_LOCATOR_ID] [float] NULL,
	[PROCESS_YIELD_SUBINVENTORY] [nvarchar](10) NULL,
	[PROCESS_YIELD_LOCATOR_ID] [float] NULL,
	[HAZARDOUS_MATERIAL_FLAG] [nvarchar](1) NULL,
	[CAS_NUMBER] [nvarchar](30) NULL,
	[CHARGE_PERIODICITY_CODE] [nvarchar](3) NULL,
	[REPAIR_LEADTIME] [float] NULL,
	[REPAIR_YIELD] [float] NULL,
	[PREPOSITION_POINT] [nvarchar](1) NULL,
	[REPAIR_PROGRAM] [float] NULL,
	[SUBCONTRACTING_COMPONENT] [float] NULL,
	[OUTSOURCED_ASSEMBLY] [float] NULL,
	[DESCRIPTION] [nvarchar](240) NULL,
	[LONG_DESCRIPTION] [nvarchar](4000) NULL,
	[GDSN_OUTBOUND_ENABLED_FLAG] [nvarchar](1) NULL,
	[TRADE_ITEM_DESCRIPTOR] [nvarchar](35) NULL,
	[STYLE_ITEM_ID] [float] NULL,
	[STYLE_ITEM_FLAG] [nvarchar](1) NULL,
	[DEFAULT_MATERIAL_STATUS_ID] [float] NULL,
	[GLOBAL_ATTRIBUTE11] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE12] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE13] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE14] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE15] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE16] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE17] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE18] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE19] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE20] [nvarchar](150) NULL,
	[SERIAL_TAGGING_FLAG] [nvarchar](1) NULL,
	[IB_ITEM_TRACKING_LEVEL] [nvarchar](30) NOT NULL,
	[MCC_CLASSIFICATION_TYPE] [nvarchar](30) NULL,
	[MCC_CONTROL_CODE] [float] NULL,
	[MCC_TRACKING_CODE] [nvarchar](30) NULL,
	[GLOBAL_ATTRIBUTE21] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE22] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE23] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE24] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE25] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE26] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE27] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE28] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE29] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE30] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE31] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE32] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE33] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE34] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE35] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE36] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE37] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE38] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE39] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE40] [nvarchar](150) NULL,
	[Fingerprint] [varchar](32) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NULL,
	[CurrentRecord] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Oracle].[INV_MTL_SYSTEM_ITEMS_FVL] ADD  DEFAULT (getdate()) FOR [StartDate]
GO
ALTER TABLE [Oracle].[INV_MTL_SYSTEM_ITEMS_FVL] ADD  DEFAULT ((1)) FOR [CurrentRecord]
GO
