USE [Operations]
GO
/****** Object:  Table [Oracle].[JTF_RS_RESOURCE_EXTNS_VL]    Script Date: 7/10/2025 11:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Oracle].[JTF_RS_RESOURCE_EXTNS_VL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ROW_ID] [char](18) NULL,
	[RESOURCE_ID] [float] NOT NULL,
	[CREATED_BY] [float] NOT NULL,
	[CREATION_DATE] [datetime2](7) NOT NULL,
	[LAST_UPDATED_BY] [float] NOT NULL,
	[LAST_UPDATE_DATE] [datetime2](7) NOT NULL,
	[LAST_UPDATE_LOGIN] [float] NULL,
	[CATEGORY] [nvarchar](30) NOT NULL,
	[RESOURCE_NUMBER] [nvarchar](30) NOT NULL,
	[SOURCE_ID] [float] NULL,
	[ADDRESS_ID] [float] NULL,
	[CONTACT_ID] [float] NULL,
	[MANAGING_EMPLOYEE_ID] [float] NULL,
	[START_DATE_ACTIVE] [datetime2](7) NOT NULL,
	[END_DATE_ACTIVE] [datetime2](7) NULL,
	[TIME_ZONE] [float] NULL,
	[COST_PER_HR] [float] NULL,
	[PRIMARY_LANGUAGE] [nvarchar](30) NULL,
	[SECONDARY_LANGUAGE] [nvarchar](30) NULL,
	[IES_AGENT_LOGIN] [nvarchar](240) NULL,
	[SERVER_GROUP_ID] [float] NULL,
	[ASSIGNED_TO_GROUP_ID] [float] NULL,
	[COST_CENTER] [nvarchar](30) NULL,
	[CHARGE_TO_COST_CENTER] [nvarchar](30) NULL,
	[COMPENSATION_CURRENCY_CODE] [nvarchar](15) NULL,
	[COMMISSIONABLE_FLAG] [nvarchar](1) NULL,
	[HOLD_REASON_CODE] [nvarchar](30) NULL,
	[HOLD_PAYMENT] [nvarchar](1) NULL,
	[COMP_SERVICE_TEAM_ID] [float] NULL,
	[TRANSACTION_NUMBER] [float] NULL,
	[OBJECT_VERSION_NUMBER] [float] NOT NULL,
	[ATTRIBUTE1] [nvarchar](150) NULL,
	[ATTRIBUTE2] [nvarchar](150) NULL,
	[ATTRIBUTE3] [nvarchar](150) NULL,
	[ATTRIBUTE4] [nvarchar](150) NULL,
	[ATTRIBUTE5] [nvarchar](150) NULL,
	[ATTRIBUTE6] [nvarchar](150) NULL,
	[ATTRIBUTE7] [nvarchar](150) NULL,
	[ATTRIBUTE8] [nvarchar](150) NULL,
	[ATTRIBUTE9] [nvarchar](150) NULL,
	[ATTRIBUTE10] [nvarchar](150) NULL,
	[ATTRIBUTE11] [nvarchar](150) NULL,
	[ATTRIBUTE12] [nvarchar](150) NULL,
	[ATTRIBUTE13] [nvarchar](150) NULL,
	[ATTRIBUTE14] [nvarchar](150) NULL,
	[ATTRIBUTE15] [nvarchar](150) NULL,
	[ATTRIBUTE_CATEGORY] [nvarchar](30) NULL,
	[USER_ID] [float] NULL,
	[SUPPORT_SITE_ID] [float] NULL,
	[RESOURCE_NAME] [nvarchar](360) NULL,
	[SOURCE_NAME] [nvarchar](360) NULL,
	[SOURCE_NUMBER] [nvarchar](30) NULL,
	[SOURCE_JOB_TITLE] [nvarchar](240) NULL,
	[SOURCE_EMAIL] [nvarchar](2000) NULL,
	[SOURCE_PHONE] [nvarchar](2000) NULL,
	[SOURCE_ORG_ID] [float] NULL,
	[SOURCE_ORG_NAME] [nvarchar](360) NULL,
	[SOURCE_ADDRESS1] [nvarchar](240) NULL,
	[SOURCE_ADDRESS2] [nvarchar](240) NULL,
	[SOURCE_ADDRESS3] [nvarchar](240) NULL,
	[SOURCE_ADDRESS4] [nvarchar](240) NULL,
	[SOURCE_CITY] [nvarchar](60) NULL,
	[SOURCE_POSTAL_CODE] [nvarchar](60) NULL,
	[SOURCE_STATE] [nvarchar](150) NULL,
	[SOURCE_PROVINCE] [nvarchar](150) NULL,
	[SOURCE_COUNTY] [nvarchar](150) NULL,
	[SOURCE_COUNTRY] [nvarchar](60) NULL,
	[SOURCE_MGR_ID] [float] NULL,
	[SOURCE_MGR_NAME] [nvarchar](360) NULL,
	[SOURCE_BUSINESS_GRP_ID] [float] NULL,
	[SOURCE_BUSINESS_GRP_NAME] [nvarchar](360) NULL,
	[SOURCE_FIRST_NAME] [nvarchar](360) NULL,
	[SOURCE_MIDDLE_NAME] [nvarchar](360) NULL,
	[SOURCE_LAST_NAME] [nvarchar](360) NULL,
	[SOURCE_CATEGORY] [nvarchar](360) NULL,
	[SOURCE_STATUS] [nvarchar](360) NULL,
	[USER_NAME] [nvarchar](100) NULL,
	[SOURCE_OFFICE] [nvarchar](45) NULL,
	[SOURCE_LOCATION] [nvarchar](45) NULL,
	[SOURCE_MAILSTOP] [nvarchar](45) NULL,
	[SOURCE_MOBILE_PHONE] [nvarchar](60) NULL,
	[SOURCE_PAGER] [nvarchar](60) NULL,
	[SOURCE_JOB_ID] [float] NULL,
	[PERSON_PARTY_ID] [float] NULL,
	[FS_SETUP_COMPLETE] [nvarchar](1) NULL,
	[Fingerprint] [varchar](32) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NULL,
	[CurrentRecord] [bit] NOT NULL,
 CONSTRAINT [PK_JTF_RS_RESOURCE_EXTNS_VL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Oracle].[JTF_RS_RESOURCE_EXTNS_VL] ADD  DEFAULT (getdate()) FOR [StartDate]
GO
ALTER TABLE [Oracle].[JTF_RS_RESOURCE_EXTNS_VL] ADD  DEFAULT ((1)) FOR [CurrentRecord]
GO
