USE [Operations]
GO
/****** Object:  Table [Oracle].[GL_GL_CODE_COMBINATIONS]    Script Date: 7/10/2025 11:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Oracle].[GL_GL_CODE_COMBINATIONS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CODE_COMBINATION_ID] [numeric](15, 0) NOT NULL,
	[LAST_UPDATE_DATE] [datetime2](7) NOT NULL,
	[LAST_UPDATED_BY] [float] NOT NULL,
	[CHART_OF_ACCOUNTS_ID] [numeric](15, 0) NOT NULL,
	[DETAIL_POSTING_ALLOWED_FLAG] [nvarchar](1) NOT NULL,
	[DETAIL_BUDGETING_ALLOWED_FLAG] [nvarchar](1) NOT NULL,
	[ACCOUNT_TYPE] [nvarchar](1) NOT NULL,
	[ENABLED_FLAG] [nvarchar](1) NOT NULL,
	[SUMMARY_FLAG] [nvarchar](1) NOT NULL,
	[SEGMENT1] [nvarchar](25) NULL,
	[SEGMENT2] [nvarchar](25) NULL,
	[SEGMENT3] [nvarchar](25) NULL,
	[SEGMENT4] [nvarchar](25) NULL,
	[SEGMENT5] [nvarchar](25) NULL,
	[SEGMENT6] [nvarchar](25) NULL,
	[SEGMENT7] [nvarchar](25) NULL,
	[SEGMENT8] [nvarchar](25) NULL,
	[SEGMENT9] [nvarchar](25) NULL,
	[SEGMENT10] [nvarchar](25) NULL,
	[SEGMENT11] [nvarchar](25) NULL,
	[SEGMENT12] [nvarchar](25) NULL,
	[SEGMENT13] [nvarchar](25) NULL,
	[SEGMENT14] [nvarchar](25) NULL,
	[SEGMENT15] [nvarchar](25) NULL,
	[SEGMENT16] [nvarchar](25) NULL,
	[SEGMENT17] [nvarchar](25) NULL,
	[SEGMENT18] [nvarchar](25) NULL,
	[SEGMENT19] [nvarchar](25) NULL,
	[SEGMENT20] [nvarchar](25) NULL,
	[SEGMENT21] [nvarchar](25) NULL,
	[SEGMENT22] [nvarchar](25) NULL,
	[SEGMENT23] [nvarchar](25) NULL,
	[SEGMENT24] [nvarchar](25) NULL,
	[SEGMENT25] [nvarchar](25) NULL,
	[SEGMENT26] [nvarchar](25) NULL,
	[SEGMENT27] [nvarchar](25) NULL,
	[SEGMENT28] [nvarchar](25) NULL,
	[SEGMENT29] [nvarchar](25) NULL,
	[SEGMENT30] [nvarchar](25) NULL,
	[DESCRIPTION] [nvarchar](240) NULL,
	[TEMPLATE_ID] [numeric](15, 0) NULL,
	[ALLOCATION_CREATE_FLAG] [nvarchar](1) NULL,
	[START_DATE_ACTIVE] [datetime2](7) NULL,
	[END_DATE_ACTIVE] [datetime2](7) NULL,
	[ATTRIBUTE1] [nvarchar](150) NULL,
	[ATTRIBUTE2] [nvarchar](150) NULL,
	[ATTRIBUTE3] [nvarchar](150) NULL,
	[ATTRIBUTE4] [nvarchar](150) NULL,
	[ATTRIBUTE5] [nvarchar](150) NULL,
	[ATTRIBUTE6] [nvarchar](150) NULL,
	[ATTRIBUTE7] [nvarchar](150) NULL,
	[ATTRIBUTE8] [nvarchar](150) NULL,
	[ATTRIBUTE9] [nvarchar](150) NULL,
	[ATTRIBUTE10] [nvarchar](150) NULL,
	[CONTEXT] [nvarchar](150) NULL,
	[SEGMENT_ATTRIBUTE1] [nvarchar](60) NULL,
	[SEGMENT_ATTRIBUTE2] [nvarchar](60) NULL,
	[SEGMENT_ATTRIBUTE3] [nvarchar](60) NULL,
	[SEGMENT_ATTRIBUTE4] [nvarchar](60) NULL,
	[SEGMENT_ATTRIBUTE5] [nvarchar](60) NULL,
	[SEGMENT_ATTRIBUTE6] [nvarchar](60) NULL,
	[SEGMENT_ATTRIBUTE7] [nvarchar](60) NULL,
	[SEGMENT_ATTRIBUTE8] [nvarchar](60) NULL,
	[SEGMENT_ATTRIBUTE9] [nvarchar](60) NULL,
	[SEGMENT_ATTRIBUTE10] [nvarchar](60) NULL,
	[SEGMENT_ATTRIBUTE11] [nvarchar](60) NULL,
	[SEGMENT_ATTRIBUTE12] [nvarchar](60) NULL,
	[SEGMENT_ATTRIBUTE13] [nvarchar](60) NULL,
	[SEGMENT_ATTRIBUTE14] [nvarchar](60) NULL,
	[SEGMENT_ATTRIBUTE15] [nvarchar](60) NULL,
	[SEGMENT_ATTRIBUTE16] [nvarchar](60) NULL,
	[SEGMENT_ATTRIBUTE17] [nvarchar](60) NULL,
	[SEGMENT_ATTRIBUTE18] [nvarchar](60) NULL,
	[SEGMENT_ATTRIBUTE19] [nvarchar](60) NULL,
	[SEGMENT_ATTRIBUTE20] [nvarchar](60) NULL,
	[SEGMENT_ATTRIBUTE21] [nvarchar](60) NULL,
	[SEGMENT_ATTRIBUTE22] [nvarchar](60) NULL,
	[SEGMENT_ATTRIBUTE23] [nvarchar](60) NULL,
	[SEGMENT_ATTRIBUTE24] [nvarchar](60) NULL,
	[SEGMENT_ATTRIBUTE25] [nvarchar](60) NULL,
	[SEGMENT_ATTRIBUTE26] [nvarchar](60) NULL,
	[SEGMENT_ATTRIBUTE27] [nvarchar](60) NULL,
	[SEGMENT_ATTRIBUTE28] [nvarchar](60) NULL,
	[SEGMENT_ATTRIBUTE29] [nvarchar](60) NULL,
	[SEGMENT_ATTRIBUTE30] [nvarchar](60) NULL,
	[SEGMENT_ATTRIBUTE31] [nvarchar](60) NULL,
	[SEGMENT_ATTRIBUTE32] [nvarchar](60) NULL,
	[SEGMENT_ATTRIBUTE33] [nvarchar](60) NULL,
	[SEGMENT_ATTRIBUTE34] [nvarchar](60) NULL,
	[SEGMENT_ATTRIBUTE35] [nvarchar](60) NULL,
	[SEGMENT_ATTRIBUTE36] [nvarchar](60) NULL,
	[SEGMENT_ATTRIBUTE37] [nvarchar](60) NULL,
	[SEGMENT_ATTRIBUTE38] [nvarchar](60) NULL,
	[SEGMENT_ATTRIBUTE39] [nvarchar](60) NULL,
	[SEGMENT_ATTRIBUTE40] [nvarchar](60) NULL,
	[SEGMENT_ATTRIBUTE41] [nvarchar](60) NULL,
	[SEGMENT_ATTRIBUTE42] [nvarchar](60) NULL,
	[REFERENCE1] [nvarchar](1) NULL,
	[REFERENCE2] [nvarchar](1) NULL,
	[REFERENCE3] [nvarchar](25) NULL,
	[REFERENCE4] [nvarchar](1) NULL,
	[REFERENCE5] [nvarchar](1) NULL,
	[JGZZ_RECON_FLAG] [nvarchar](1) NULL,
	[JGZZ_RECON_CONTEXT] [nvarchar](30) NULL,
	[PRESERVE_FLAG] [nvarchar](1) NULL,
	[REFRESH_FLAG] [nvarchar](1) NULL,
	[IGI_BALANCED_BUDGET_FLAG] [nvarchar](1) NULL,
	[COMPANY_COST_CENTER_ORG_ID] [numeric](15, 0) NULL,
	[REVALUATION_ID] [numeric](15, 0) NULL,
	[LEDGER_SEGMENT] [nvarchar](20) NULL,
	[LEDGER_TYPE_CODE] [nvarchar](1) NULL,
	[ALTERNATE_CODE_COMBINATION_ID] [numeric](15, 0) NULL,
	[Fingerprint] [varchar](32) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NULL,
	[CurrentRecord] [bit] NOT NULL,
 CONSTRAINT [PK_GL_GL_CODE_COMBINATIONS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Oracle].[GL_GL_CODE_COMBINATIONS] ADD  DEFAULT (getdate()) FOR [StartDate]
GO
ALTER TABLE [Oracle].[GL_GL_CODE_COMBINATIONS] ADD  DEFAULT ((1)) FOR [CurrentRecord]
GO
