USE [Operations]
GO
/****** Object:  Table [Oracle].[InventoryFeed]    Script Date: 7/10/2025 11:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Oracle].[InventoryFeed](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SKU] [nvarchar](255) NULL,
	[FeedDate] [datetime] NULL,
	[DemandClassID] [nvarchar](255) NULL,
	[Feed] [float] NULL,
	[AccountNumber] [varchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
