USE [Operations]
GO
/****** Object:  Table [Oracle].[XLA_Summary]    Script Date: 7/10/2025 11:43:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Oracle].[XLA_Summary](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PERIOD_NAME] [nvarchar](15) NULL,
	[LEDGER] [nvarchar](30) NOT NULL,
	[APPLICATION_SHORT_NAME] [nvarchar](50) NULL,
	[APPLICATION_NAME] [nvarchar](240) NULL,
	[SEGMENT1] [nvarchar](25) NULL,
	[SEGMENT2] [nvarchar](25) NULL,
	[SEGMENT3] [nvarchar](25) NULL,
	[SEGMENT4] [nvarchar](25) NULL,
	[COUNT] [float] NULL,
	[ENTITY_CODE] [nvarchar](30) NULL,
	[SOURCE_DISTRIBUTION_TYPE] [nvarchar](30) NOT NULL,
	[SOURCE_TABLE] [nvarchar](30) NULL,
	[SOURCE_COLUMNS] [nvarchar](71) NULL,
	[ACCOUNTING_CLASS_CODE] [nvarchar](30) NOT NULL,
	[EVENT_CLASS_CODE] [nvarchar](30) NULL,
	[EVENT_TYPE_CODE] [nvarchar](30) NULL,
	[ACCOUNTING_LINE_CODE] [nvarchar](30) NULL,
	[ACCOUNTING_LINE_TYPE_CODE] [nvarchar](1) NULL,
	[TAX_LINE_REF_ID] [nvarchar](8) NULL,
	[TAX_REC_NREC_DIST_REF_ID] [nvarchar](8) NULL,
	[TAX_SUMMARY_LINE_REF_ID] [nvarchar](8) NULL,
	[APPLIED_TO_ENTITY_CODE] [nvarchar](30) NULL,
	[APPLIED_TO_ENTITY_ID] [nvarchar](8) NULL,
	[APPLIED_TO_DISTRIBUTION_TYPE] [nvarchar](30) NULL,
	[APPLIED_TO_DIST_ID_CHAR_1] [nvarchar](8) NULL,
	[APPLIED_TO_DIST_ID_NUM_1] [nvarchar](8) NULL,
	[APPLIED_TO_SOURCE_ID_CHAR_1] [nvarchar](8) NULL,
	[APPLIED_TO_SOURCE_ID_NUM_1] [nvarchar](8) NULL,
	[SOURCE_DISTRIBUTION_ID_CHAR_1] [nvarchar](8) NULL,
	[SOURCE_DISTRIBUTION_ID_CHAR_2] [nvarchar](8) NULL,
	[SOURCE_DISTRIBUTION_ID_CHAR_3] [nvarchar](8) NULL,
	[SOURCE_DISTRIBUTION_ID_CHAR_4] [nvarchar](8) NULL,
	[SOURCE_DISTRIBUTION_ID_CHAR_5] [nvarchar](8) NULL,
	[SOURCE_DISTRIBUTION_ID_NUM_1] [nvarchar](8) NULL,
	[SOURCE_DISTRIBUTION_ID_NUM_2] [nvarchar](8) NULL,
	[SOURCE_DISTRIBUTION_ID_NUM_3] [nvarchar](8) NULL,
	[SOURCE_DISTRIBUTION_ID_NUM_4] [nvarchar](8) NULL,
	[SOURCE_DISTRIBUTION_ID_NUM_5] [nvarchar](8) NULL,
	[MERGE_DUPLICATE_CODE] [nvarchar](1) NOT NULL,
	[LINE_DEFINITION_OWNER_CODE] [nvarchar](30) NULL,
	[LINE_DEFINITION_CODE] [nvarchar](30) NULL,
	[UNROUNDED_ENTERED_CR] [float] NULL,
	[UNROUNDED_ACCOUNTED_CR] [float] NULL,
	[UPG_BATCH_ID] [nvarchar](8) NULL,
	[APPLICATION_ID] [numeric](15, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
