USE [Operations]
GO
/****** Object:  Table [Oracle].[CRP_RESOURCE_HOURS]    Script Date: 7/10/2025 11:43:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Oracle].[CRP_RESOURCE_HOURS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TRANSACTION_ID] [float] NOT NULL,
	[LAST_UPDATE_DATE] [datetime2](7) NOT NULL,
	[LAST_UPDATED_BY] [float] NOT NULL,
	[CREATION_DATE] [datetime2](7) NOT NULL,
	[CREATED_BY] [float] NOT NULL,
	[LAST_UPDATE_LOGIN] [float] NULL,
	[BILL_OF_RESOURCES] [nvarchar](10) NOT NULL,
	[ASSEMBLY_ITEM_ID] [float] NOT NULL,
	[SOURCE_ITEM_ID] [float] NOT NULL,
	[ORGANIZATION_ID] [float] NOT NULL,
	[RESOURCE_ID] [float] NULL,
	[DEPARTMENT_ID] [float] NULL,
	[LINE_ID] [float] NULL,
	[RESOURCE_DEPARTMENT_HOURS] [float] NULL,
	[OPERATION_SEQ_NUM] [float] NULL,
	[OPERATION_SEQUENCE_ID] [float] NULL,
	[RESOURCE_SEQ_NUM] [float] NULL,
	[SETBACK_DAYS] [float] NULL,
	[ASSEMBLY_USAGE] [float] NULL,
	[ORIGINATION_TYPE] [float] NOT NULL,
	[RESOURCE_UNITS] [float] NULL,
	[BASIS] [float] NULL,
	[REQUEST_ID] [float] NULL,
	[PROGRAM_APPLICATION_ID] [float] NULL,
	[PROGRAM_ID] [float] NULL,
	[PROGRAM_UPDATE_DATE] [datetime2](7) NULL,
	[DDF_CONTEXT] [nvarchar](30) NULL,
	[ATTRIBUTE_CATEGORY] [nvarchar](30) NULL,
	[ATTRIBUTE1] [nvarchar](150) NULL,
	[ATTRIBUTE2] [nvarchar](150) NULL,
	[ATTRIBUTE3] [nvarchar](150) NULL,
	[ATTRIBUTE4] [nvarchar](150) NULL,
	[ATTRIBUTE5] [nvarchar](150) NULL,
	[ATTRIBUTE6] [nvarchar](150) NULL,
	[ATTRIBUTE7] [nvarchar](150) NULL,
	[ATTRIBUTE8] [nvarchar](150) NULL,
	[ATTRIBUTE9] [nvarchar](150) NULL,
	[ATTRIBUTE10] [nvarchar](150) NULL,
	[ATTRIBUTE11] [nvarchar](150) NULL,
	[ATTRIBUTE12] [nvarchar](150) NULL,
	[ATTRIBUTE13] [nvarchar](150) NULL,
	[ATTRIBUTE14] [nvarchar](150) NULL,
	[ATTRIBUTE15] [nvarchar](150) NULL,
	[Fingerprint] [varchar](32) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NULL,
	[CurrentRecord] [bit] NOT NULL,
 CONSTRAINT [PK_CRP_RESOURCE_HOURS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Oracle].[CRP_RESOURCE_HOURS] ADD  DEFAULT (getdate()) FOR [StartDate]
GO
ALTER TABLE [Oracle].[CRP_RESOURCE_HOURS] ADD  DEFAULT ((1)) FOR [CurrentRecord]
GO
