USE [Operations]
GO
/****** Object:  Table [Oracle].[INV_MTL_UOM_CLASS_CONVERSIONS]    Script Date: 7/10/2025 11:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Oracle].[INV_MTL_UOM_CLASS_CONVERSIONS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[INVENTORY_ITEM_ID] [float] NOT NULL,
	[FROM_UNIT_OF_MEASURE] [nvarchar](25) NOT NULL,
	[FROM_UOM_CODE] [nvarchar](3) NOT NULL,
	[FROM_UOM_CLASS] [nvarchar](10) NOT NULL,
	[TO_UNIT_OF_MEASURE] [nvarchar](25) NOT NULL,
	[TO_UOM_CODE] [nvarchar](3) NOT NULL,
	[TO_UOM_CLASS] [nvarchar](10) NOT NULL,
	[LAST_UPDATE_DATE] [datetime2](7) NOT NULL,
	[LAST_UPDATED_BY] [float] NOT NULL,
	[CREATION_DATE] [datetime2](7) NOT NULL,
	[CREATED_BY] [float] NOT NULL,
	[LAST_UPDATE_LOGIN] [float] NULL,
	[CONVERSION_RATE] [float] NOT NULL,
	[DISABLE_DATE] [datetime2](7) NULL,
	[REQUEST_ID] [float] NULL,
	[PROGRAM_APPLICATION_ID] [float] NULL,
	[PROGRAM_ID] [float] NULL,
	[PROGRAM_UPDATE_DATE] [datetime2](7) NULL,
	[Fingerprint] [varchar](32) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NULL,
	[CurrentRecord] [bit] NOT NULL,
 CONSTRAINT [PK_INV_MTL_UOM_CLASS_CONVERSIONS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Oracle].[INV_MTL_UOM_CLASS_CONVERSIONS] ADD  DEFAULT (getdate()) FOR [StartDate]
GO
ALTER TABLE [Oracle].[INV_MTL_UOM_CLASS_CONVERSIONS] ADD  DEFAULT ((1)) FOR [CurrentRecord]
GO
