USE [Operations]
GO
/****** Object:  Table [Oracle].[TMClaims]    Script Date: 7/10/2025 11:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Oracle].[TMClaims](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PERIOD_YEAR] [numeric](15, 0) NOT NULL,
	[PERIOD_NUM] [numeric](15, 0) NOT NULL,
	[CUSTOMER_NUM] [nvarchar](30) NOT NULL,
	[CUSTOMER_NAME] [nvarchar](240) NULL,
	[OFFER_TYPE] [nvarchar](30) NULL,
	[CLAIM_ID] [float] NOT NULL,
	[CLAIM_DATE] [datetime2](7) NOT NULL,
	[AMOUNT] [float] NULL,
	[FUND_DESC] [nvarchar](4000) NULL,
	[CLAIM_AMOUNT] [float] NULL,
	[ACCTD_DETAIL_AMOUNT] [float] NULL,
	[AMOUNT_DIF] [float] NULL,
	[AR_ACCOUNT] [nvarchar](103) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
