USE [Operations]
GO
/****** Object:  Table [Oracle].[MSC_SR_ASSIGNMENTS_V]    Script Date: 7/10/2025 11:43:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Oracle].[MSC_SR_ASSIGNMENTS_V](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ROW_ID] [char](18) NULL,
	[ASSIGNMENT_ID] [float] NULL,
	[ASSIGNMENT_SET_ID] [float] NULL,
	[ASSIGNMENT_TYPE] [float] NULL,
	[SR_INSTANCE_ID] [float] NULL,
	[SR_ASSIGNMENT_ID] [float] NULL,
	[SR_ASSIGNMENT_INSTANCE_ID] [float] NULL,
	[ORGANIZATION_ID] [float] NULL,
	[ORGANIZATION_CODE] [nvarchar](4000) NULL,
	[CUSTOMER_ID] [float] NULL,
	[CUSTOMER_NAME] [nvarchar](4000) NULL,
	[SHIP_TO_SITE_ID] [float] NULL,
	[SHIP_TO_ADDRESS] [nvarchar](1600) NULL,
	[ENTITY_NAME] [nvarchar](4000) NULL,
	[DESCRIPTION] [nvarchar](4000) NULL,
	[SOURCING_RULE_TYPE] [float] NULL,
	[SOURCING_RULE_TYPE_TEXT] [nvarchar](80) NULL,
	[SOURCING_RULE_ID] [float] NULL,
	[SOURCING_RULE_NAME] [nvarchar](80) NULL,
	[CATEGORY_NAME] [nvarchar](163) NULL,
	[CATEGORY_SET_ID] [float] NULL,
	[INVENTORY_ITEM_ID] [float] NULL,
	[LAST_UPDATE_DATE] [datetime2](7) NULL,
	[LAST_UPDATED_BY] [float] NULL,
	[CREATION_DATE] [datetime2](7) NULL,
	[CREATED_BY] [float] NULL,
	[LAST_UPDATE_LOGIN] [float] NULL,
	[REQUEST_ID] [float] NULL,
	[PROGRAM_APPLICATION_ID] [float] NULL,
	[PROGRAM_ID] [float] NULL,
	[PROGRAM_UPDATE_DATE] [datetime2](7) NULL,
	[ATTRIBUTE_CATEGORY] [nvarchar](30) NULL,
	[ATTRIBUTE1] [nvarchar](150) NULL,
	[ATTRIBUTE2] [nvarchar](150) NULL,
	[ATTRIBUTE3] [nvarchar](150) NULL,
	[ATTRIBUTE4] [nvarchar](150) NULL,
	[ATTRIBUTE5] [nvarchar](150) NULL,
	[ATTRIBUTE6] [nvarchar](150) NULL,
	[ATTRIBUTE7] [nvarchar](150) NULL,
	[ATTRIBUTE8] [nvarchar](150) NULL,
	[ATTRIBUTE9] [nvarchar](150) NULL,
	[ATTRIBUTE10] [nvarchar](150) NULL,
	[ATTRIBUTE11] [nvarchar](150) NULL,
	[ATTRIBUTE12] [nvarchar](150) NULL,
	[ATTRIBUTE13] [nvarchar](150) NULL,
	[ATTRIBUTE14] [nvarchar](150) NULL,
	[ATTRIBUTE15] [nvarchar](150) NULL,
	[REGION_ID] [float] NULL,
	[REGION_CODE] [nvarchar](304) NULL,
	[COLLECTED_FLAG] [float] NULL,
	[ALLOCATION_RULE_ID] [float] NULL,
	[ALLOCATION_RULE_NAME] [nvarchar](30) NULL,
	[ITEM_TYPE_ID] [float] NULL,
	[ITEM_TYPE_VALUE] [float] NULL,
	[ITEM_TYPE_VALUE_TEXT] [nvarchar](4000) NULL,
	[Fingerprint] [varchar](32) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NULL,
	[CurrentRecord] [bit] NOT NULL,
 CONSTRAINT [PK_MSC_SR_ASSIGNMENTS_V] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Oracle].[MSC_SR_ASSIGNMENTS_V] ADD  DEFAULT (getdate()) FOR [StartDate]
GO
ALTER TABLE [Oracle].[MSC_SR_ASSIGNMENTS_V] ADD  DEFAULT ((1)) FOR [CurrentRecord]
GO
