USE [Operations]
GO
/****** Object:  Table [Oracle].[INV_MTL_PARAMETERS]    Script Date: 7/10/2025 11:43:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Oracle].[INV_MTL_PARAMETERS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ORGANIZATION_ID] [float] NOT NULL,
	[LAST_UPDATE_DATE] [datetime2](7) NOT NULL,
	[LAST_UPDATED_BY] [float] NOT NULL,
	[CREATION_DATE] [datetime2](7) NOT NULL,
	[CREATED_BY] [float] NOT NULL,
	[LAST_UPDATE_LOGIN] [float] NULL,
	[ORGANIZATION_CODE] [nvarchar](3) NULL,
	[MASTER_ORGANIZATION_ID] [float] NOT NULL,
	[PRIMARY_COST_METHOD] [float] NOT NULL,
	[COST_ORGANIZATION_ID] [float] NOT NULL,
	[DEFAULT_MATERIAL_COST_ID] [float] NULL,
	[CALENDAR_EXCEPTION_SET_ID] [float] NULL,
	[CALENDAR_CODE] [nvarchar](10) NULL,
	[GENERAL_LEDGER_UPDATE_CODE] [float] NOT NULL,
	[DEFAULT_ATP_RULE_ID] [float] NULL,
	[DEFAULT_PICKING_RULE_ID] [float] NULL,
	[DEFAULT_LOCATOR_ORDER_VALUE] [float] NULL,
	[DEFAULT_SUBINV_ORDER_VALUE] [float] NULL,
	[NEGATIVE_INV_RECEIPT_CODE] [float] NOT NULL,
	[STOCK_LOCATOR_CONTROL_CODE] [float] NOT NULL,
	[MATERIAL_ACCOUNT] [float] NULL,
	[MATERIAL_OVERHEAD_ACCOUNT] [float] NULL,
	[MATL_OVHD_ABSORPTION_ACCT] [float] NULL,
	[RESOURCE_ACCOUNT] [float] NULL,
	[PURCHASE_PRICE_VAR_ACCOUNT] [float] NULL,
	[AP_ACCRUAL_ACCOUNT] [float] NULL,
	[OVERHEAD_ACCOUNT] [float] NULL,
	[OUTSIDE_PROCESSING_ACCOUNT] [float] NULL,
	[INTRANSIT_INV_ACCOUNT] [float] NULL,
	[INTERORG_RECEIVABLES_ACCOUNT] [float] NULL,
	[INTERORG_PRICE_VAR_ACCOUNT] [float] NULL,
	[INTERORG_PAYABLES_ACCOUNT] [float] NULL,
	[COST_OF_SALES_ACCOUNT] [float] NULL,
	[ENCUMBRANCE_ACCOUNT] [float] NULL,
	[PROJECT_COST_ACCOUNT] [float] NULL,
	[INTERORG_TRANSFER_CR_ACCOUNT] [float] NULL,
	[MATL_INTERORG_TRANSFER_CODE] [float] NOT NULL,
	[INTERORG_TRNSFR_CHARGE_PERCENT] [float] NULL,
	[SOURCE_ORGANIZATION_ID] [float] NULL,
	[SOURCE_SUBINVENTORY] [nvarchar](10) NULL,
	[SOURCE_TYPE] [float] NULL,
	[ORG_MAX_WEIGHT] [float] NULL,
	[ORG_MAX_WEIGHT_UOM_CODE] [nvarchar](3) NULL,
	[ORG_MAX_VOLUME] [float] NULL,
	[ORG_MAX_VOLUME_UOM_CODE] [nvarchar](3) NULL,
	[SERIAL_NUMBER_TYPE] [float] NULL,
	[AUTO_SERIAL_ALPHA_PREFIX] [nvarchar](30) NULL,
	[START_AUTO_SERIAL_NUMBER] [nvarchar](30) NULL,
	[AUTO_LOT_ALPHA_PREFIX] [nvarchar](30) NULL,
	[LOT_NUMBER_UNIQUENESS] [float] NOT NULL,
	[LOT_NUMBER_GENERATION] [float] NOT NULL,
	[LOT_NUMBER_ZERO_PADDING] [float] NULL,
	[LOT_NUMBER_LENGTH] [float] NULL,
	[STARTING_REVISION] [nvarchar](3) NOT NULL,
	[ATTRIBUTE_CATEGORY] [nvarchar](30) NULL,
	[ATTRIBUTE1] [nvarchar](150) NULL,
	[ATTRIBUTE2] [nvarchar](150) NULL,
	[ATTRIBUTE3] [nvarchar](150) NULL,
	[ATTRIBUTE4] [nvarchar](150) NULL,
	[ATTRIBUTE5] [nvarchar](150) NULL,
	[ATTRIBUTE6] [nvarchar](150) NULL,
	[ATTRIBUTE7] [nvarchar](150) NULL,
	[ATTRIBUTE8] [nvarchar](150) NULL,
	[ATTRIBUTE9] [nvarchar](150) NULL,
	[ATTRIBUTE10] [nvarchar](150) NULL,
	[ATTRIBUTE11] [nvarchar](150) NULL,
	[ATTRIBUTE12] [nvarchar](150) NULL,
	[ATTRIBUTE13] [nvarchar](150) NULL,
	[ATTRIBUTE14] [nvarchar](150) NULL,
	[ATTRIBUTE15] [nvarchar](150) NULL,
	[DEFAULT_DEMAND_CLASS] [nvarchar](30) NULL,
	[ENCUMBRANCE_REVERSAL_FLAG] [float] NULL,
	[MAINTAIN_FIFO_QTY_STACK_TYPE] [float] NULL,
	[INVOICE_PRICE_VAR_ACCOUNT] [float] NULL,
	[AVERAGE_COST_VAR_ACCOUNT] [float] NULL,
	[SALES_ACCOUNT] [float] NULL,
	[EXPENSE_ACCOUNT] [float] NULL,
	[SERIAL_NUMBER_GENERATION] [float] NOT NULL,
	[REQUEST_ID] [float] NULL,
	[PROGRAM_APPLICATION_ID] [float] NULL,
	[PROGRAM_ID] [float] NULL,
	[PROGRAM_UPDATE_DATE] [datetime2](7) NULL,
	[GLOBAL_ATTRIBUTE_CATEGORY] [nvarchar](30) NULL,
	[GLOBAL_ATTRIBUTE1] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE2] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE3] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE4] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE5] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE6] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE7] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE8] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE9] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE10] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE11] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE12] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE13] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE14] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE15] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE16] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE17] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE18] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE19] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE20] [nvarchar](150) NULL,
	[MAT_OVHD_COST_TYPE_ID] [float] NULL,
	[PROJECT_REFERENCE_ENABLED] [float] NULL,
	[PM_COST_COLLECTION_ENABLED] [float] NULL,
	[PROJECT_CONTROL_LEVEL] [float] NULL,
	[AVG_RATES_COST_TYPE_ID] [float] NULL,
	[TXN_APPROVAL_TIMEOUT_PERIOD] [float] NULL,
	[MO_SOURCE_REQUIRED] [float] NULL,
	[MO_PICK_CONFIRM_REQUIRED] [float] NULL,
	[MO_APPROVAL_TIMEOUT_ACTION] [float] NULL,
	[BORRPAY_MATL_VAR_ACCOUNT] [float] NULL,
	[BORRPAY_MOH_VAR_ACCOUNT] [float] NULL,
	[BORRPAY_RES_VAR_ACCOUNT] [float] NULL,
	[BORRPAY_OSP_VAR_ACCOUNT] [float] NULL,
	[BORRPAY_OVH_VAR_ACCOUNT] [float] NULL,
	[PROCESS_ENABLED_FLAG] [nvarchar](1) NOT NULL,
	[PROCESS_ORGN_CODE] [nvarchar](4) NULL,
	[WSM_ENABLED_FLAG] [nvarchar](1) NOT NULL,
	[DEFAULT_COST_GROUP_ID] [float] NOT NULL,
	[LPN_PREFIX] [nvarchar](10) NULL,
	[LPN_SUFFIX] [nvarchar](10) NULL,
	[LPN_STARTING_NUMBER] [float] NULL,
	[WMS_ENABLED_FLAG] [nvarchar](1) NOT NULL,
	[PREGEN_PUTAWAY_TASKS_FLAG] [float] NULL,
	[REGENERATION_INTERVAL] [float] NULL,
	[TIMEZONE_ID] [float] NULL,
	[MAX_PICKS_BATCH] [float] NULL,
	[DEFAULT_WMS_PICKING_RULE_ID] [float] NULL,
	[DEFAULT_PUT_AWAY_RULE_ID] [float] NULL,
	[DEFAULT_TASK_ASSIGN_RULE_ID] [float] NULL,
	[DEFAULT_LABEL_COMP_RULE_ID] [float] NULL,
	[DEFAULT_CARTON_RULE_ID] [float] NULL,
	[DEFAULT_CYC_COUNT_HEADER_ID] [float] NULL,
	[CROSSDOCK_FLAG] [float] NULL,
	[CARTONIZATION_FLAG] [float] NULL,
	[COST_CUTOFF_DATE] [datetime2](7) NULL,
	[ENABLE_COSTING_BY_CATEGORY] [nvarchar](1) NULL,
	[COST_GROUP_ACCOUNTING] [float] NULL,
	[ALLOCATE_SERIAL_FLAG] [nvarchar](1) NULL,
	[DEFAULT_PICK_TASK_TYPE_ID] [float] NULL,
	[DEFAULT_CC_TASK_TYPE_ID] [float] NULL,
	[DEFAULT_PUTAWAY_TASK_TYPE_ID] [float] NULL,
	[DEFAULT_REPL_TASK_TYPE_ID] [float] NULL,
	[EAM_ENABLED_FLAG] [nvarchar](1) NULL,
	[MAINT_ORGANIZATION_ID] [float] NULL,
	[PRIORITIZE_WIP_JOBS] [float] NULL,
	[DEFAULT_CROSSDOCK_SUBINVENTORY] [nvarchar](10) NULL,
	[SKIP_TASK_WAITING_MINUTES] [float] NULL,
	[QA_SKIPPING_INSP_FLAG] [nvarchar](1) NOT NULL,
	[DEFAULT_CROSSDOCK_LOCATOR_ID] [float] NULL,
	[DEFAULT_MOXFER_TASK_TYPE_ID] [float] NULL,
	[DEFAULT_MOISSUE_TASK_TYPE_ID] [float] NULL,
	[DEFAULT_MATL_OVHD_COST_ID] [float] NULL,
	[DISTRIBUTED_ORGANIZATION_FLAG] [nvarchar](1) NULL,
	[CARRIER_MANIFESTING_FLAG] [nvarchar](1) NULL,
	[DISTRIBUTION_ACCOUNT_ID] [float] NULL,
	[DIRECT_SHIPPING_ALLOWED] [nvarchar](1) NULL,
	[DEFAULT_PICK_OP_PLAN_ID] [float] NULL,
	[MAX_CLUSTERS_ALLOWED] [float] NULL,
	[CONSIGNED_FLAG] [nvarchar](1) NULL,
	[CARTONIZE_SALES_ORDERS] [nvarchar](1) NULL,
	[CARTONIZE_MANUFACTURING] [nvarchar](1) NULL,
	[DEFER_LOGICAL_TRANSACTIONS] [float] NULL,
	[WIP_OVERPICK_ENABLED] [nvarchar](1) NULL,
	[OVPK_TRANSFER_ORDERS_ENABLED] [nvarchar](1) NULL,
	[TOTAL_LPN_LENGTH] [float] NULL,
	[UCC_128_SUFFIX_FLAG] [nvarchar](1) NULL,
	[WCS_ENABLED] [nvarchar](1) NULL,
	[ALLOW_DIFFERENT_STATUS] [float] NULL,
	[CHILD_LOT_ALPHA_PREFIX] [nvarchar](30) NULL,
	[CHILD_LOT_NUMBER_LENGTH] [float] NULL,
	[CHILD_LOT_VALIDATION_FLAG] [nvarchar](1) NULL,
	[CHILD_LOT_ZERO_PADDING_FLAG] [nvarchar](1) NULL,
	[COPY_LOT_ATTRIBUTE_FLAG] [nvarchar](1) NULL,
	[CREATE_LOT_UOM_CONVERSION] [float] NULL,
	[GENEALOGY_FORMULA_SECURITY] [nvarchar](1) NULL,
	[PARENT_CHILD_GENERATION_FLAG] [nvarchar](1) NULL,
	[RULES_OVERRIDE_LOT_RESERVATION] [nvarchar](1) NULL,
	[AUTO_DEL_ALLOC_FLAG] [nvarchar](1) NULL,
	[RFID_VERIF_PCNT_THRESHOLD] [float] NULL,
	[YARD_MANAGEMENT_ENABLED_FLAG] [nvarchar](1) NULL,
	[TRADING_PARTNER_ORG_FLAG] [nvarchar](1) NULL,
	[DEFERRED_COGS_ACCOUNT] [float] NULL,
	[DEFAULT_CROSSDOCK_CRITERIA_ID] [float] NULL,
	[ENFORCE_LOCATOR_ALIS_UNQ_FLAG] [nvarchar](1) NULL,
	[EPC_GENERATION_ENABLED_FLAG] [nvarchar](1) NULL,
	[COMPANY_PREFIX] [nvarchar](30) NULL,
	[COMPANY_PREFIX_INDEX] [nvarchar](30) NULL,
	[COMMERCIAL_GOVT_ENTITY_NUMBER] [nvarchar](30) NULL,
	[LABOR_MANAGEMENT_ENABLED_FLAG] [nvarchar](1) NULL,
	[DEFAULT_STATUS_ID] [float] NULL,
	[LCM_ENABLED_FLAG] [nvarchar](1) NULL,
	[LCM_VAR_ACCOUNT] [float] NULL,
	[OPSM_ENABLED_FLAG] [nvarchar](1) NULL,
	[ALLOCATE_LOT_FLAG] [nvarchar](1) NULL,
	[Fingerprint] [varchar](32) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NULL,
	[CurrentRecord] [bit] NOT NULL,
 CONSTRAINT [PK_INV_MTL_PARAMETERS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Oracle].[INV_MTL_PARAMETERS] ADD  DEFAULT (getdate()) FOR [StartDate]
GO
ALTER TABLE [Oracle].[INV_MTL_PARAMETERS] ADD  DEFAULT ((1)) FOR [CurrentRecord]
GO
