USE [Operations]
GO
/****** Object:  Table [Oracle].[PO_HEADERS_ALL]    Script Date: 7/10/2025 11:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Oracle].[PO_HEADERS_ALL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PO_HEADER_ID] [float] NOT NULL,
	[AGENT_ID] [numeric](9, 0) NOT NULL,
	[TYPE_LOOKUP_CODE] [nvarchar](25) NOT NULL,
	[LAST_UPDATE_DATE] [datetime2](7) NOT NULL,
	[LAST_UPDATED_BY] [float] NOT NULL,
	[SEGMENT1] [nvarchar](20) NOT NULL,
	[SUMMARY_FLAG] [nvarchar](1) NOT NULL,
	[ENABLED_FLAG] [nvarchar](1) NOT NULL,
	[SEGMENT2] [nvarchar](20) NULL,
	[SEGMENT3] [nvarchar](20) NULL,
	[SEGMENT4] [nvarchar](20) NULL,
	[SEGMENT5] [nvarchar](20) NULL,
	[START_DATE_ACTIVE] [datetime2](7) NULL,
	[END_DATE_ACTIVE] [datetime2](7) NULL,
	[LAST_UPDATE_LOGIN] [float] NULL,
	[CREATION_DATE] [datetime2](7) NULL,
	[CREATED_BY] [float] NULL,
	[VENDOR_ID] [float] NULL,
	[VENDOR_SITE_ID] [float] NULL,
	[VENDOR_CONTACT_ID] [float] NULL,
	[SHIP_TO_LOCATION_ID] [float] NULL,
	[BILL_TO_LOCATION_ID] [float] NULL,
	[TERMS_ID] [float] NULL,
	[SHIP_VIA_LOOKUP_CODE] [nvarchar](25) NULL,
	[FOB_LOOKUP_CODE] [nvarchar](25) NULL,
	[FREIGHT_TERMS_LOOKUP_CODE] [nvarchar](25) NULL,
	[STATUS_LOOKUP_CODE] [nvarchar](25) NULL,
	[CURRENCY_CODE] [nvarchar](15) NULL,
	[RATE_TYPE] [nvarchar](30) NULL,
	[RATE_DATE] [datetime2](7) NULL,
	[RATE] [float] NULL,
	[FROM_HEADER_ID] [float] NULL,
	[FROM_TYPE_LOOKUP_CODE] [nvarchar](25) NULL,
	[START_DATE] [datetime2](7) NULL,
	[END_DATE] [datetime2](7) NULL,
	[BLANKET_TOTAL_AMOUNT] [float] NULL,
	[AUTHORIZATION_STATUS] [nvarchar](25) NULL,
	[REVISION_NUM] [float] NULL,
	[REVISED_DATE] [datetime2](7) NULL,
	[APPROVED_FLAG] [nvarchar](1) NULL,
	[APPROVED_DATE] [datetime2](7) NULL,
	[AMOUNT_LIMIT] [float] NULL,
	[MIN_RELEASE_AMOUNT] [float] NULL,
	[NOTE_TO_AUTHORIZER] [nvarchar](240) NULL,
	[NOTE_TO_VENDOR] [nvarchar](480) NULL,
	[NOTE_TO_RECEIVER] [nvarchar](480) NULL,
	[PRINT_COUNT] [float] NULL,
	[PRINTED_DATE] [datetime2](7) NULL,
	[VENDOR_ORDER_NUM] [nvarchar](25) NULL,
	[CONFIRMING_ORDER_FLAG] [nvarchar](1) NULL,
	[COMMENTS] [nvarchar](240) NULL,
	[REPLY_DATE] [datetime2](7) NULL,
	[REPLY_METHOD_LOOKUP_CODE] [nvarchar](25) NULL,
	[RFQ_CLOSE_DATE] [datetime2](7) NULL,
	[QUOTE_TYPE_LOOKUP_CODE] [nvarchar](25) NULL,
	[QUOTATION_CLASS_CODE] [nvarchar](25) NULL,
	[QUOTE_WARNING_DELAY_UNIT] [nvarchar](25) NULL,
	[QUOTE_WARNING_DELAY] [float] NULL,
	[QUOTE_VENDOR_QUOTE_NUMBER] [nvarchar](25) NULL,
	[ACCEPTANCE_REQUIRED_FLAG] [nvarchar](1) NULL,
	[ACCEPTANCE_DUE_DATE] [datetime2](7) NULL,
	[CLOSED_DATE] [datetime2](7) NULL,
	[USER_HOLD_FLAG] [nvarchar](1) NULL,
	[APPROVAL_REQUIRED_FLAG] [nvarchar](1) NULL,
	[CANCEL_FLAG] [nvarchar](1) NULL,
	[FIRM_STATUS_LOOKUP_CODE] [nvarchar](30) NULL,
	[FIRM_DATE] [datetime2](7) NULL,
	[FROZEN_FLAG] [nvarchar](1) NULL,
	[SUPPLY_AGREEMENT_FLAG] [nvarchar](1) NULL,
	[EDI_PROCESSED_FLAG] [nvarchar](1) NULL,
	[EDI_PROCESSED_STATUS] [nvarchar](10) NULL,
	[ATTRIBUTE_CATEGORY] [nvarchar](30) NULL,
	[ATTRIBUTE1] [nvarchar](150) NULL,
	[ATTRIBUTE2] [nvarchar](150) NULL,
	[ATTRIBUTE3] [nvarchar](150) NULL,
	[ATTRIBUTE4] [nvarchar](150) NULL,
	[ATTRIBUTE5] [nvarchar](150) NULL,
	[ATTRIBUTE6] [nvarchar](150) NULL,
	[ATTRIBUTE7] [nvarchar](150) NULL,
	[ATTRIBUTE8] [nvarchar](150) NULL,
	[ATTRIBUTE9] [nvarchar](150) NULL,
	[ATTRIBUTE10] [nvarchar](150) NULL,
	[ATTRIBUTE11] [nvarchar](150) NULL,
	[ATTRIBUTE12] [nvarchar](150) NULL,
	[ATTRIBUTE13] [nvarchar](150) NULL,
	[ATTRIBUTE14] [nvarchar](150) NULL,
	[ATTRIBUTE15] [nvarchar](150) NULL,
	[CLOSED_CODE] [nvarchar](25) NULL,
	[USSGL_TRANSACTION_CODE] [nvarchar](30) NULL,
	[GOVERNMENT_CONTEXT] [nvarchar](30) NULL,
	[REQUEST_ID] [float] NULL,
	[PROGRAM_APPLICATION_ID] [float] NULL,
	[PROGRAM_ID] [float] NULL,
	[PROGRAM_UPDATE_DATE] [datetime2](7) NULL,
	[ORG_ID] [float] NULL,
	[GLOBAL_ATTRIBUTE_CATEGORY] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE1] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE2] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE3] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE4] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE5] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE6] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE7] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE8] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE9] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE10] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE11] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE12] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE13] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE14] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE15] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE16] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE17] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE18] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE19] [nvarchar](150) NULL,
	[GLOBAL_ATTRIBUTE20] [nvarchar](150) NULL,
	[INTERFACE_SOURCE_CODE] [nvarchar](25) NULL,
	[REFERENCE_NUM] [nvarchar](25) NULL,
	[WF_ITEM_TYPE] [nvarchar](8) NULL,
	[WF_ITEM_KEY] [nvarchar](240) NULL,
	[MRC_RATE_TYPE] [nvarchar](2000) NULL,
	[MRC_RATE_DATE] [nvarchar](2000) NULL,
	[MRC_RATE] [nvarchar](2000) NULL,
	[PCARD_ID] [numeric](15, 0) NULL,
	[PRICE_UPDATE_TOLERANCE] [float] NULL,
	[PAY_ON_CODE] [nvarchar](25) NULL,
	[XML_FLAG] [nvarchar](3) NULL,
	[XML_SEND_DATE] [datetime2](7) NULL,
	[XML_CHANGE_SEND_DATE] [datetime2](7) NULL,
	[GLOBAL_AGREEMENT_FLAG] [nvarchar](1) NULL,
	[CONSIGNED_CONSUMPTION_FLAG] [nvarchar](1) NULL,
	[CBC_ACCOUNTING_DATE] [datetime2](7) NULL,
	[CONSUME_REQ_DEMAND_FLAG] [nvarchar](1) NULL,
	[CHANGE_REQUESTED_BY] [nvarchar](20) NULL,
	[SHIPPING_CONTROL] [nvarchar](30) NULL,
	[CONTERMS_EXIST_FLAG] [nvarchar](1) NULL,
	[CONTERMS_ARTICLES_UPD_DATE] [datetime2](7) NULL,
	[CONTERMS_DELIV_UPD_DATE] [datetime2](7) NULL,
	[ENCUMBRANCE_REQUIRED_FLAG] [nvarchar](1) NULL,
	[PENDING_SIGNATURE_FLAG] [nvarchar](1) NULL,
	[CHANGE_SUMMARY] [nvarchar](2000) NULL,
	[DOCUMENT_CREATION_METHOD] [nvarchar](30) NULL,
	[SUBMIT_DATE] [datetime2](7) NULL,
	[SUPPLIER_NOTIF_METHOD] [nvarchar](25) NULL,
	[FAX] [nvarchar](30) NULL,
	[EMAIL_ADDRESS] [nvarchar](2000) NULL,
	[RETRO_PRICE_COMM_UPDATES_FLAG] [nvarchar](1) NULL,
	[RETRO_PRICE_APPLY_UPDATES_FLAG] [nvarchar](1) NULL,
	[UPDATE_SOURCING_RULES_FLAG] [nvarchar](1) NULL,
	[AUTO_SOURCING_FLAG] [nvarchar](1) NULL,
	[CREATED_LANGUAGE] [nvarchar](4) NULL,
	[CPA_REFERENCE] [float] NULL,
	[LOCK_OWNER_ROLE] [nvarchar](10) NULL,
	[LOCK_OWNER_USER_ID] [float] NULL,
	[SUPPLIER_AUTH_ENABLED_FLAG] [nvarchar](1) NULL,
	[CAT_ADMIN_AUTH_ENABLED_FLAG] [nvarchar](1) NULL,
	[STYLE_ID] [float] NOT NULL,
	[TAX_ATTRIBUTE_UPDATE_CODE] [nvarchar](15) NULL,
	[LAST_UPDATED_PROGRAM] [nvarchar](255) NULL,
	[ENABLE_ALL_SITES] [nvarchar](1) NULL,
	[PAY_WHEN_PAID] [nvarchar](1) NULL,
	[COMM_REV_NUM] [float] NULL,
	[CLM_DOCUMENT_NUMBER] [nvarchar](50) NULL,
	[OTM_STATUS_CODE] [nvarchar](80) NULL,
	[OTM_RECOVERY_FLAG] [nvarchar](1) NULL,
	[AME_APPROVAL_ID] [float] NULL,
	[AME_TRANSACTION_TYPE] [nvarchar](50) NULL,
	[UDA_TEMPLATE_ID] [float] NULL,
	[UDA_TEMPLATE_DATE] [datetime2](7) NULL,
	[USER_DOCUMENT_STATUS] [nvarchar](30) NULL,
	[DRAFT_ID] [float] NULL,
	[CLM_EFFECTIVE_DATE] [datetime2](7) NULL,
	[CLM_VENDOR_OFFER_NUMBER] [nvarchar](400) NULL,
	[CLM_AWARD_ADMINISTRATOR] [nvarchar](400) NULL,
	[CLM_NO_SIGNED_COPIES_TO_RETURN] [float] NULL,
	[CLM_MIN_GUARANTEE_AWARD_AMT] [float] NULL,
	[CLM_MIN_GUAR_AWARD_AMT_PERCENT] [float] NULL,
	[CLM_MIN_ORDER_AMOUNT] [float] NULL,
	[CLM_MAX_ORDER_AMOUNT] [float] NULL,
	[CLM_AMT_SYNCED_TO_AGREEMENT] [nvarchar](1) NULL,
	[CLM_AMOUNT_RELEASED] [float] NULL,
	[CLM_EXTERNAL_IDV] [nvarchar](2000) NULL,
	[CLM_SUPPLIER_NAME] [nvarchar](400) NULL,
	[CLM_SUPPLIER_SITE_NAME] [nvarchar](400) NULL,
	[CLM_SOURCE_DOCUMENT_ID] [float] NULL,
	[CLM_ISSUING_OFFICE] [nvarchar](1000) NULL,
	[CLM_COTR_OFFICE] [nvarchar](2000) NULL,
	[CLM_COTR_CONTACT] [nvarchar](200) NULL,
	[CLM_PRIORITY_CODE] [nvarchar](200) NULL,
	[CLM_MOD_ISSUING_OFFICE] [nvarchar](1000) NULL,
	[CLM_STANDARD_FORM] [nvarchar](200) NULL,
	[CLM_DOCUMENT_FORMAT] [nvarchar](200) NULL,
	[CLM_AWARD_TYPE] [nvarchar](100) NULL,
	[CLM_CONTRACT_OFFICER] [float] NULL,
	[CLM_CLOSEOUT_STATUS] [nvarchar](25) NULL,
	[UMBRELLA_PROGRAM_ID] [float] NULL,
	[FON_REF_ID] [float] NULL,
	[CLM_DEFAULT_DIST_FLAG] [nvarchar](1) NULL,
	[CLM_EDAGEN_DATE] [datetime2](7) NULL,
	[CLM_CONTRACT_FINANCE_CODE] [nvarchar](30) NULL,
	[CLM_PAYMENT_INSTR_CODE] [nvarchar](30) NULL,
	[CLM_SPECIAL_CONTRACT_TYPE] [nvarchar](30) NULL,
	[IGT_DOCUMENT_NUMBER] [nvarchar](30) NULL,
	[IGT_GTNC_NUMBER] [nvarchar](30) NULL,
	[IGT_STATUS] [nvarchar](20) NULL,
	[AGREEMENT_TYPE] [nvarchar](10) NULL,
	[ASSISTED_ACQUISITION_IND] [nvarchar](1) NULL,
	[ADVANCE_PAYMENT_IND] [nvarchar](1) NULL,
	[ENFORCE_TOTAL_AMT_IND] [nvarchar](1) NULL,
	[TERMINATION_DAYS] [float] NULL,
	[TOTAL_REMAINING_AMT] [float] NULL,
	[IGT_BUSINESS_TXN_ID] [nvarchar](50) NULL,
	[Fingerprint] [varchar](32) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NULL,
	[CurrentRecord] [bit] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [Oracle].[PO_HEADERS_ALL] ADD  DEFAULT (getdate()) FOR [StartDate]
GO
ALTER TABLE [Oracle].[PO_HEADERS_ALL] ADD  DEFAULT ((1)) FOR [CurrentRecord]
GO
