USE [Operations]
GO
/****** Object:  Table [Oracle].[WIP_FLOW_SCHEDULES]    Script Date: 7/10/2025 11:43:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Oracle].[WIP_FLOW_SCHEDULES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SCHEDULED_FLAG] [float] NOT NULL,
	[WIP_ENTITY_ID] [float] NOT NULL,
	[ORGANIZATION_ID] [float] NOT NULL,
	[LAST_UPDATE_DATE] [datetime2](7) NOT NULL,
	[LAST_UPDATED_BY] [float] NOT NULL,
	[CREATION_DATE] [datetime2](7) NOT NULL,
	[CREATED_BY] [float] NOT NULL,
	[LAST_UPDATE_LOGIN] [float] NULL,
	[REQUEST_ID] [float] NULL,
	[PROGRAM_APPLICATION_ID] [float] NULL,
	[PROGRAM_ID] [float] NULL,
	[PROGRAM_UPDATE_DATE] [datetime2](7) NULL,
	[PRIMARY_ITEM_ID] [float] NULL,
	[CLASS_CODE] [nvarchar](10) NOT NULL,
	[SCHEDULED_START_DATE] [datetime2](7) NOT NULL,
	[DATE_CLOSED] [datetime2](7) NULL,
	[PLANNED_QUANTITY] [float] NOT NULL,
	[QUANTITY_COMPLETED] [float] NOT NULL,
	[MPS_SCHEDULED_COMPLETION_DATE] [datetime2](7) NULL,
	[MPS_NET_QUANTITY] [float] NULL,
	[BOM_REVISION] [nvarchar](3) NULL,
	[ROUTING_REVISION] [nvarchar](3) NULL,
	[BOM_REVISION_DATE] [datetime2](7) NULL,
	[ROUTING_REVISION_DATE] [datetime2](7) NULL,
	[ALTERNATE_BOM_DESIGNATOR] [nvarchar](10) NULL,
	[ALTERNATE_ROUTING_DESIGNATOR] [nvarchar](10) NULL,
	[COMPLETION_SUBINVENTORY] [nvarchar](10) NULL,
	[COMPLETION_LOCATOR_ID] [float] NULL,
	[MATERIAL_ACCOUNT] [float] NULL,
	[MATERIAL_OVERHEAD_ACCOUNT] [float] NULL,
	[RESOURCE_ACCOUNT] [float] NULL,
	[OUTSIDE_PROCESSING_ACCOUNT] [float] NULL,
	[MATERIAL_VARIANCE_ACCOUNT] [float] NULL,
	[RESOURCE_VARIANCE_ACCOUNT] [float] NULL,
	[OUTSIDE_PROC_VARIANCE_ACCOUNT] [float] NULL,
	[STD_COST_ADJUSTMENT_ACCOUNT] [float] NULL,
	[OVERHEAD_ACCOUNT] [float] NULL,
	[OVERHEAD_VARIANCE_ACCOUNT] [float] NULL,
	[DEMAND_CLASS] [nvarchar](30) NULL,
	[SCHEDULED_COMPLETION_DATE] [datetime2](7) NOT NULL,
	[SCHEDULE_GROUP_ID] [float] NULL,
	[BUILD_SEQUENCE] [float] NULL,
	[LINE_ID] [float] NULL,
	[PROJECT_ID] [float] NULL,
	[TASK_ID] [float] NULL,
	[STATUS] [float] NOT NULL,
	[SCHEDULE_NUMBER] [nvarchar](30) NOT NULL,
	[ATTRIBUTE_CATEGORY] [nvarchar](30) NULL,
	[ATTRIBUTE1] [nvarchar](150) NULL,
	[ATTRIBUTE2] [nvarchar](150) NULL,
	[ATTRIBUTE3] [nvarchar](150) NULL,
	[ATTRIBUTE4] [nvarchar](150) NULL,
	[ATTRIBUTE5] [nvarchar](150) NULL,
	[ATTRIBUTE6] [nvarchar](150) NULL,
	[ATTRIBUTE7] [nvarchar](150) NULL,
	[ATTRIBUTE8] [nvarchar](150) NULL,
	[ATTRIBUTE9] [nvarchar](150) NULL,
	[ATTRIBUTE10] [nvarchar](150) NULL,
	[ATTRIBUTE11] [nvarchar](150) NULL,
	[ATTRIBUTE12] [nvarchar](150) NULL,
	[ATTRIBUTE13] [nvarchar](150) NULL,
	[ATTRIBUTE14] [nvarchar](150) NULL,
	[ATTRIBUTE15] [nvarchar](150) NULL,
	[DEMAND_SOURCE_HEADER_ID] [float] NULL,
	[DEMAND_SOURCE_LINE] [nvarchar](30) NULL,
	[DEMAND_SOURCE_DELIVERY] [nvarchar](30) NULL,
	[DEMAND_SOURCE_TYPE] [float] NULL,
	[KANBAN_CARD_ID] [float] NULL,
	[END_ITEM_UNIT_NUMBER] [nvarchar](30) NULL,
	[QUANTITY_SCRAPPED] [float] NOT NULL,
	[CURRENT_LINE_OPERATION] [float] NULL,
	[SYNCH_SCHEDULE_NUM] [nvarchar](30) NULL,
	[SYNCH_OPERATION_SEQ_NUM] [float] NULL,
	[ROLL_FORWARDED_FLAG] [float] NULL,
	[ALLOCATED_FLAG] [nvarchar](1) NULL,
	[AUTO_REPLENISH] [nvarchar](1) NULL,
	[TRANSACTED_FLAG] [nvarchar](1) NULL,
	[SO_CONSUMED_PLAN_ID] [nvarchar](30) NULL,
	[Fingerprint] [varchar](32) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NULL,
	[CurrentRecord] [bit] NOT NULL,
 CONSTRAINT [PK_WIP_FLOW_SCHEDULES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Oracle].[WIP_FLOW_SCHEDULES] ADD  DEFAULT (getdate()) FOR [StartDate]
GO
ALTER TABLE [Oracle].[WIP_FLOW_SCHEDULES] ADD  DEFAULT ((1)) FOR [CurrentRecord]
GO
