USE [Operations]
GO
/****** Object:  Table [Oracle].[FND_CONC_REQ_SUMMARY_V]    Script Date: 7/10/2025 11:43:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Oracle].[FND_CONC_REQ_SUMMARY_V](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[REQUEST_ID] [int] NOT NULL,
	[PROGRAM] [nvarchar](483) NULL,
	[DESCRIPTION] [nvarchar](240) NULL,
	[REQUESTED_BY] [numeric](15, 0) NOT NULL,
	[REQUEST_DATE] [datetime2](7) NOT NULL,
	[ACTUAL_START_DATE] [datetime2](7) NULL,
	[ACTUAL_COMPLETION_DATE] [datetime2](7) NULL,
	[RUN_TIME_MIN] [float] NULL,
	[COMPLETION_TEXT] [nvarchar](240) NULL,
	[PHASE_CODE] [nvarchar](1) NOT NULL,
	[REQUESTED_START_DATE] [nvarchar](1) NOT NULL,
	[Meridiem] [varchar](2) NOT NULL,
	[StartDate] [datetime] NOT NULL,
 CONSTRAINT [PK_FND_CONC_REQ_SUMMARY_V] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Oracle].[FND_CONC_REQ_SUMMARY_V] ADD  DEFAULT (getdate()) FOR [StartDate]
GO
