USE [Operations]
GO
/****** Object:  Table [OUTPUT].[WFARAudit]    Script Date: 7/10/2025 11:43:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [OUTPUT].[WFARAudit](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PERIOD_NAME] [nvarchar](15) NOT NULL,
	[AE_HEADER_DESCRIPTION] [nvarchar](1996) NULL,
	[AE_LINE_DESCRIPTION] [nvarchar](1996) NULL,
	[ENTITY_CODE] [nvarchar](30) NOT NULL,
	[SOURCE_DISTRIBUTION_TYPE] [nvarchar](30) NOT NULL,
	[LINE_DEFINITION_CODE] [nvarchar](30) NULL,
	[EVENT_TYPE_CODE] [nvarchar](30) NULL,
	[TRANSACTION_NUMBER] [nvarchar](240) NULL,
	[GLAccount] [nvarchar](103) NULL,
	[ACCOUNTING_DATE] [datetime2](7) NOT NULL,
	[JE_CATEGORY_NAME] [nvarchar](30) NOT NULL,
	[JE_HEADER_NAME] [nvarchar](100) NOT NULL,
	[JE_HEADER_DESCRIPTION] [nvarchar](240) NULL,
	[ACCOUNT_NUMBER] [nvarchar](30) NULL,
	[ACCOUNT_NAME] [nvarchar](240) NULL,
	[Debit] [float] NULL,
	[Credit] [float] NULL,
	[Activity] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
