USE [Operations]
GO
/****** Object:  Table [QA].[QUALITY_HOLD_TAG_HEADER]    Script Date: 7/10/2025 11:43:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [QA].[QUALITY_HOLD_TAG_HEADER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[INDEX_ID] [int] NOT NULL,
	[HOLD_TAG_NUMBER] [int] NULL,
	[DATE] [datetime] NULL,
	[INSPECTOR_NAME] [varchar](50) NULL,
	[SHIFT] [varchar](1) NULL,
	[PRODUCT_NUMBER] [varchar](15) NULL,
	[PRODUCT_DESCRIPTION] [varchar](250) NULL,
	[LOCATION_CODE] [varchar](3) NULL,
	[LOCATION_NAME] [varchar](20) NULL,
	[CELL_ZONE_LEAD] [varchar](50) NULL,
	[QUANTITY_ON_HOLD] [int] NULL,
	[MACHINE_NUMBER] [varchar](3) NULL,
	[MACHINE_LOCATION] [varchar](25) NULL,
	[FIRST_PERSON_RESPONSIBLE] [varchar](50) NULL,
	[SECOND_PERSON_RESPONSIBLE] [varchar](50) NULL,
	[NON_CONFORMANCE_NOTES] [varchar](750) NULL,
	[IN_TRAINING] [varchar](1) NULL,
	[INVESTIGATION_COMMENTS] [varchar](750) NULL,
	[CORRECTIVE_ACTION_TAKEN_COMMENTS] [varchar](750) NULL,
	[RE_WORK_COMPLETED_BY_DATE] [datetime] NULL,
	[RE_WORK_INSPECTED_DATE] [datetime] NULL,
	[RE_WORK_COMPLETED_BY] [varchar](300) NULL,
	[RE_WORK_INSPECTED_BY] [varchar](50) NULL,
	[USE_AS_IS_QTY] [int] NULL,
	[SCRAP_PARTS_QTY] [int] NULL,
	[REPAIRED_PARTS_QTY] [int] NULL,
	[OTHER_QTY_PLEASE_EXPLAIN_QTY] [int] NULL,
	[TOTAL_UNITS_INSPECTED_QTY] [int] NULL,
	[USE_AS_IS_COMMENTS] [varchar](750) NULL,
	[SCRAP_PARTS_COMMENTS] [varchar](750) NULL,
	[REPAIRED_PARTS_COMMENTS] [varchar](750) NULL,
	[OTHER_PLEASE_EXPLAIN_COMMENTS] [varchar](750) NULL,
	[TOTAL_UNITS_INSPECTED_COMMENTS] [varchar](750) NULL,
	[TOTAL_QTY_INSPECTED] [int] NULL,
	[Fingerprint] [varchar](32) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NULL,
	[CurrentRecord] [bit] NOT NULL,
 CONSTRAINT [PK_QUALITY_HOLD_TAG_HEADER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [QA].[QUALITY_HOLD_TAG_HEADER] ADD  DEFAULT (getdate()) FOR [StartDate]
GO
ALTER TABLE [QA].[QUALITY_HOLD_TAG_HEADER] ADD  DEFAULT ((1)) FOR [CurrentRecord]
GO
