USE [Operations]
GO
/****** Object:  Table [QA].[QUALITY_CHECKLIST_HEADER]    Script Date: 7/10/2025 11:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [QA].[QUALITY_CHECKLIST_HEADER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TEST_NUMBER] [int] NOT NULL,
	[PRODUCT_NUMBER] [varchar](20) NOT NULL,
	[DAILY_COMMENTS] [varchar](max) NULL,
	[CREATE_DATE] [datetime] NOT NULL,
	[LOCATION] [varchar](3) NULL,
	[INSPECTOR] [varchar](50) NULL,
	[SHIFT] [varchar](1) NULL,
	[PRODUCT_DESCRIPTION] [varchar](125) NULL,
	[MACHINE_NUM] [varchar](3) NOT NULL,
	[MACHINE_SIZE] [varchar](3) NOT NULL,
	[Fingerprint] [varchar](32) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NULL,
	[CurrentRecord] [bit] NOT NULL,
 CONSTRAINT [PK_QUALITY_CHECKLIST_HEADER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [QA].[QUALITY_CHECKLIST_HEADER] ADD  DEFAULT (getdate()) FOR [StartDate]
GO
ALTER TABLE [QA].[QUALITY_CHECKLIST_HEADER] ADD  DEFAULT ((1)) FOR [CurrentRecord]
GO
