USE [Operations]
GO
/****** Object:  Table [QA].[QUALITY_HOLD_TAG_ISSUE_DETAILS]    Script Date: 7/10/2025 11:43:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [QA].[QUALITY_HOLD_TAG_ISSUE_DETAILS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[INDEX_ID] [int] NOT NULL,
	[HOLD_TAG_NUMBER] [int] NOT NULL,
	[QUALITY_HOLD_TAG_ISSUE_NUMBER_ID] [int] NULL,
	[IS_CHECKED] [varchar](1) NULL,
	[ISSUE_NUMBER] [int] NULL,
	[Fingerprint] [varchar](32) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NULL,
	[CurrentRecord] [bit] NOT NULL,
 CONSTRAINT [PK_QUALITY_HOLD_TAG_ISSUE_DETAILS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [QA].[QUALITY_HOLD_TAG_ISSUE_DETAILS] ADD  DEFAULT (getdate()) FOR [StartDate]
GO
ALTER TABLE [QA].[QUALITY_HOLD_TAG_ISSUE_DETAILS] ADD  DEFAULT ((1)) FOR [CurrentRecord]
GO
