USE [Operations]
GO
/****** Object:  Table [QA].[QUALITY_CHECKLIST_RESULTS]    Script Date: 7/10/2025 11:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [QA].[QUALITY_CHECKLIST_RESULTS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[QCR_ID] [int] NOT NULL,
	[TEST_NUMBER] [int] NOT NULL,
	[PRODUCT_NUMBER] [varchar](20) NOT NULL,
	[CHECK_NUMBER] [int] NOT NULL,
	[TEST] [varchar](max) NOT NULL,
	[CHECK_VALUE] [varchar](20) NULL,
	[DATE_SAVED] [datetime] NULL,
	[RESULTS_COMMENTS] [varchar](max) NULL,
	[Fingerprint] [varchar](32) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NULL,
	[CurrentRecord] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [TEST_NUMBER_CurrentRecord_Includes]    Script Date: 7/10/2025 11:43:42 AM ******/
CREATE NONCLUSTERED INDEX [TEST_NUMBER_CurrentRecord_Includes] ON [QA].[QUALITY_CHECKLIST_RESULTS]
(
	[TEST_NUMBER] ASC,
	[CurrentRecord] ASC
)
INCLUDE([CHECK_NUMBER],[TEST],[CHECK_VALUE],[DATE_SAVED],[RESULTS_COMMENTS]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [QA].[QUALITY_CHECKLIST_RESULTS] ADD  DEFAULT (getdate()) FOR [StartDate]
GO
ALTER TABLE [QA].[QUALITY_CHECKLIST_RESULTS] ADD  DEFAULT ((1)) FOR [CurrentRecord]
GO
