USE [Operations]
GO
/****** Object:  Table [QA].[QUALITY_ROTO_RESIN_WEIGHTS]    Script Date: 7/10/2025 11:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [QA].[QUALITY_ROTO_RESIN_WEIGHTS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[INDEX_ID] [int] NOT NULL,
	[DATE] [datetime] NULL,
	[USER_NAME] [varchar](80) NULL,
	[LOCATION_CODE] [varchar](3) NULL,
	[LOCATION_NAME] [varchar](50) NULL,
	[SHIFT] [varchar](1) NULL,
	[MACHINE] [varchar](50) NULL,
	[ASSEMBLY_ITEM] [varchar](50) NULL,
	[ASSEMBLY_DESCRIPTION] [varchar](80) NULL,
	[COMPONENT_QUANTITY] [numeric](18, 2) NULL,
	[ACTUAL_COMPONENT_QUANTITY] [numeric](18, 2) NULL,
	[PRODUCT_NUMBER] [varchar](50) NULL,
	[COMMENTS] [varchar](200) NULL,
	[Fingerprint] [varchar](32) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NULL,
	[CurrentRecord] [bit] NOT NULL,
 CONSTRAINT [PK_QUALITY_ROTO_RESIN_WEIGHTS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [QA].[QUALITY_ROTO_RESIN_WEIGHTS] ADD  DEFAULT (getdate()) FOR [StartDate]
GO
ALTER TABLE [QA].[QUALITY_ROTO_RESIN_WEIGHTS] ADD  DEFAULT ((1)) FOR [CurrentRecord]
GO
