USE [Operations]
GO
/****** Object:  Table [xref].[Step2DirectReasonLookup]    Script Date: 7/10/2025 11:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [xref].[Step2DirectReasonLookup](
	[ReasonKey] [varchar](25) NULL,
	[ReasonCategory] [varchar](50) NULL
) ON [PRIMARY]
GO
