USE [Operations]
GO
/****** Object:  Table [xref].[FreightCategory]    Script Date: 7/10/2025 11:43:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [xref].[FreightCategory](
	[Category] [varchar](25) NULL,
	[PercentOfRev] [float] NULL
) ON [PRIMARY]
GO
