USE [Operations]
GO
/****** Object:  Table [xref].[Department]    Script Date: 7/10/2025 11:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [xref].[Department](
	[DepartmentKey] [varchar](3) NULL,
	[DepartmentName] [varchar](50) NULL
) ON [PRIMARY]
GO
