USE [Operations]
GO
/****** Object:  Table [xref].[ShiftDecoderRing]    Script Date: 7/10/2025 11:43:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [xref].[ShiftDecoderRing](
	[ShiftName] [varchar](50) NULL,
	[Shift] [varchar](5) NULL
) ON [PRIMARY]
GO
