USE [Operations]
GO
/****** Object:  Table [xref].[Shift]    Script Date: 7/10/2025 11:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [xref].[Shift](
	[ShiftLookup] [varchar](50) NULL,
	[ShiftName] [varchar](50) NULL
) ON [PRIMARY]
GO
