USE [Operations]
GO
/****** Object:  Table [xref].[WarehouseSpace]    Script Date: 7/10/2025 11:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [xref].[WarehouseSpace](
	[Plant] [varchar](10) NULL,
	[Storage] [int] NULL
) ON [PRIMARY]
GO
