USE [Operations]
GO
/****** Object:  Table [xref].[MakeBuy]    Script Date: 7/10/2025 11:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [xref].[MakeBuy](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Item] [varchar](25) NULL,
	[MakeBuy] [varchar](5) NULL,
	[BaseSKU] [varchar](25) NULL,
 CONSTRAINT [PK_MakeBuy] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
