USE [Operations]
GO
/****** Object:  Table [xref].[NewProductDevelopment]    Script Date: 7/10/2025 11:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [xref].[NewProductDevelopment](
	[4 Digit] [varchar](4) NULL,
	[FirstSale] [date] NULL
) ON [PRIMARY]
GO
