USE [Operations]
GO
/****** Object:  View [dbo].[FirstProductionDate]    Script Date: 7/10/2025 11:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE VIEW [dbo].[FirstProductionDate] AS 
  SELECT ORG_CODE, ORG_NAME, PART_NUMBER, PART_DESCRIPTION, MIN(TRANS_DATE_TIME) AS TRANS_DATE_TIME 
  FROM Manufacturing.Production
  WHERE CurrentRecord = 1
  GROUP BY ORG_CODE, ORG_NAME, PART_NUMBER, PART_DESCRIPTION
  UNION
  SELECT ORG_CODE, ORG_NAME, PART_NUMBER, PART_DESCRIPTION, MAX(TRANS_DATE_TIME) AS TRANS_DATE_TIME 
  FROM Manufacturing.Production
  WHERE CurrentRecord = 1
  GROUP BY ORG_CODE, ORG_NAME, PART_NUMBER, PART_DESCRIPTION
GO
