USE [Operations]
GO
/****** Object:  View [Dim].[LotNumber]    Script Date: 7/10/2025 11:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Dim].[LotNumber] AS 
SELECT LOT_NUMBER, INVENTORY_ITEM_ID, MIN(ORIGINATION_DATE) AS ORIGINATION_DATE
	--, MAX(ORIGINATION_DATE), DATEDIFF(DAY,MIN(ORIGINATION_DATE),MAX(ORIGINATION_DATE)), MIN(CREATION_DATE), MAX(CREATION_DATE), COUNT(*) 
FROM Oracle.MTL_LOT_NUMBERS 
GROUP BY LOT_NUMBER, INVENTORY_ITEM_ID 
--HAVING MIN(ORIGINATION_DATE) <> MAX(ORIGINATION_DATE) 
--ORDER BY DATEDIFF(DAY,MIN(ORIGINATION_DATE),MAX(ORIGINATION_DATE)) DESC
GO
