USE [Operations]
GO
/****** Object:  View [Dim].[MRPBOM]    Script Date: 7/10/2025 11:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [Dim].[MRPBOM] AS 
SELECT LTRIM(RTRIM([ORDER_LEVEL])) AS ORDER_LEVEL
	,[ASSEMBLY_ITEM]
	,[ASSEMBLY_DESCRIPTION]
	,[ASSEMBLY_ITEM_STATUS]
	,[PATH]
	,[NEW_PATH]
	,[COMPONENT_ITEM]
	,[COMPONENT_ITEM_DESCRIPTION]
	,[COMPONENT_ITEM_STATUS]
	,[ITEM_NUM]
	,[OPERATION_SEQ_NUM]
	,[COMPONENT_QUANTITY]
FROM Oracle.BillOfMaterialTesting
WHERE EndDate IS NULL

GO
