USE [Operations]
GO
/****** Object:  View [Dim].[Locator]    Script Date: 7/10/2025 11:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [Dim].[Locator] AS 
SELECT [INVENTORY_LOCATION_ID] AS LocatorKey, [ORGANIZATION_ID] AS LocationKey, DESCRIPTION AS LocatorDesc, [INVENTORY_LOCATION_TYPE] AS LocationType, [PICKING_ORDER] AS PickingOrder, [SUBINVENTORY_CODE] AS SubInventoryCode, [SEGMENT1], [SEGMENT2],[SEGMENT3] 
FROM Oracle.INV_MTL_ITEM_LOCATIONS WHERE CurrentRecord = 1 --AND DESCRIPTION = 'REPLACEMENTS DEPT.' -- INVENTORY_LOCATION_ID = 4163
--ORDER BY [ORGANIZATION_ID], [DESCRIPTION], SEGMENT1, SEGMENT2, SEGMENT3
GO
