USE [Operations]
GO
/****** Object:  View [Dim].[RevenueType]    Script Date: 7/10/2025 11:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Dim].[RevenueType] AS
  --data source revenue types
  SELECT 
    REVENUE_TYPE AS RevenueKey
	,CASE WHEN REVENUE_TYPE = 'AAA-SALES' THEN 'LIST'
		WHEN REVENUE_TYPE = 'S2C_ADJ_OTHER' THEN 'ADJUSTMENT'
		WHEN REVENUE_TYPE = 'SHIPHANDLING' THEN 'SHIPPING'
		WHEN LEFT(REVENUE_TYPE,4) = 'ZTAX' THEN 'TAX'
		WHEN REVENUE_TYPE IN ('ALLOWANCE', 'OTHER','FRTMBS') THEN REVENUE_TYPE
		WHEN REVENUE_TYPE = 'TPI' THEN 'LIST'
	END AS RevenueName
	,CASE WHEN REVENUE_TYPE = 'AAA-SALES' THEN '00000'
		WHEN REVENUE_TYPE = 'S2C_ADJ_OTHER' THEN '00100'
		WHEN REVENUE_TYPE = 'SHIPHANDLING' THEN '00200'
		WHEN LEFT(REVENUE_TYPE,4) = 'ZTAX' THEN '00300'
		WHEN REVENUE_TYPE IN ('ALLOWANCE', 'OTHER','FRTMBS') THEN '00400'
		WHEN REVENUE_TYPE = 'TPI' THEN '00250'
	END AS RevenueSort
  FROM Oracle.Invoice WITH (NOLOCK)
  WHERE CurrentRecord = 1 
  GROUP BY REVENUE_TYPE
  UNION
  --fabricated revenue types for reporting
  SELECT 'RECLASS' AS RevenueKey, 'RECLASS' AS RevenueName, '00260' AS RevenueSort UNION
  SELECT 'RECLASS-MUTE' AS RevenueKey, 'RECLASS' AS RevenueName, '00265' AS RevenueSort UNION
  SELECT 'GL-RECONCILE' AS RevenueKey, 'RECONCILE' AS RevenueName, '00050' AS RevenueSort UNION
  SELECT 'GL-1212' AS RevenueKey, 'CLEARING' AS RevenueName, '00050' AS RevenueSort UNION
  SELECT 'GL-1240' AS RevenueKey, 'DIF/RET' AS RevenueName, '00050' AS RevenueSort UNION
  SELECT 'GL-1270' AS RevenueKey, 'DISCOUNTS' AS RevenueName, '00050' AS RevenueSort UNION
  SELECT 'GL-23XX' AS RevenueKey, 'CO-OP' AS RevenueName, '00050' AS RevenueSort UNION
  SELECT 'GL-1260' AS RevenueKey, 'ALLOWANCES' AS RevenueName, '00050' AS RevenueSort UNION
  SELECT 'DONATIONS' AS RevenueKey, 'DONATIONS' AS RevenueName, '00100' AS RevenueSort UNION
  SELECT  'GL-RECONCILE-FREIGHT' AS RevenueKey, 'RECONCILE' AS RevenueName, '00270' AS RevenueSort
GO
