USE [Operations]
GO
/****** Object:  View [Dim].[MRPApprovedSupplierList]    Script Date: 7/10/2025 11:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Dim].[MRPApprovedSupplierList] AS
SELECT DISTINCT SUBSTRING(ITEM_NUMBER,4,1000) AS ITEM_NUMBER
	,ITEM_DESCRIPTION
	,VENDOR_NUMBER
	,VENDOR_NAME
FROM Oracle.ApprovedSupplierList
WHERE CurrentRecord = 1
	AND ITEM_NUMBER LIKE '%OSP%'
	AND ISNULL(DISABLE_FLAG,'') <> 'Y'
UNION ALL
SELECT DISTINCT ITEM_NUMBER
	,ITEM_DESCRIPTION
	,VENDOR_NUMBER
	,VENDOR_NAME
FROM Oracle.ApprovedSupplierList
WHERE CurrentRecord = 1
	AND ISNULL(DISABLE_FLAG,'') <> 'Y'
GO
