USE [Operations]
GO
/****** Object:  View [Dim].[APInvoice]    Script Date: 7/10/2025 11:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Dim].[APInvoice] AS 
SELECT ap.INVOICE_ID, ap.INVOICE_NUM, ap.LINE_NUMBER, ap.INVOicE_DATE, ap.INVOICE_AMOUNT, ap.AMOUNT_PAID, ap.APPROVED_AMOUNT, ap.LINE_TYPE_LOOKUP_CODE, ap.LINE_SOURcE, ap.MATCH_TYPE, ap.QUANTITY_INVOICED, ap.UNIT_PRICE, ap.ITEM, po.POID
FROM Oracle.APInvoice ap
	LEFT JOIN dbo.DimPurchaseOrder po ON ap.PO_LINE_ID = po.PO_LINE_ID AND ap.PO_HEADER_ID = po.PO_HEADER_ID AND ap.PO_LINE_LOCATION_ID = po.LINE_LOCATION_ID

GO
