USE [Operations]
GO
/****** Object:  View [Dim].[Repair]    Script Date: 7/10/2025 11:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [Dim].[Repair] AS
SELECT DISTINCT 
	DENSE_RANK() OVER (ORDER BY [REPAIR_SCRAP_TYPE]) AS RepairID
	,[REPAIR_SCRAP_TYPE] AS RepairKey 
	,[REPAIR_SCRAP_TYPE] AS RepairName
	,[REPAIR_SCRAP_TYPE] AS RepairDesc 
	,[REPAIR_SCRAP_TYPE] AS RepairSort 
	,CASE WHEN [REPAIR_SCRAP_TYPE] = 'ROTO_SCRAP' THEN 1 ELSE 0 END AS Scrap
	,CASE WHEN [REPAIR_SCRAP_TYPE] = 'REPAIR' THEN 1 ELSE 0 END AS Repair
FROM [Oracle].[Scrap] 
WHERE CurrentRecord = 1 
GO
