USE [Operations]
GO
/****** Object:  View [Dim].[POCode]    Script Date: 7/10/2025 11:43:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Dim].[POCode] AS 
WITH DATA AS (
	SELECT HEADER_CLOSED_CODE AS PO_CODE FROM Oracle.PurchaseOrder po WHERE CurrentRecord = 1 GROUP BY HEADER_CLOSED_CODE UNION
	SELECT LINE_CLOSED_CODE FROM Oracle.PurchaseOrder po WHERE CurrentRecord = 1 GROUP BY LINE_CLOSED_CODE UNION
	SELECT CLOSED_CODE FROM Oracle.PurchaseOrder po WHERE CurrentRecord = 1GROUP BY CLOSED_CODE
)
SELECT ROW_NUMBER() OVER(ORDER BY PO_CODE) AS POCodeID, PO_CODE FROM Data GROUP BY PO_CODE
GO
