USE [Operations]
GO
/****** Object:  View [Error].[OrderLineMissing]    Script Date: 7/10/2025 11:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Error].[OrderLineMissing] AS
	SELECT ORD_LINE_ID, ORD_HEADER_ID, YEAR(CAST(ORDER_DATE AS DATE)) AS Year, CAST(ORDER_DATE AS DATE) AS OrderDate, COUNT(*) AS RecordCount
	FROM Oracle.Orders WHERE ORDER_LINE_NUM IS NULL AND CurrentRecord = 1 AND EndDate IS NULL
	GROUP BY ORD_LINE_ID, ORD_HEADER_ID, CAST(ORDER_DATE AS DATE), YEAR(CAST(ORDER_DATE AS DATE))

/*
	UPDATE o 
	SET o.ORDER_LINE_NUM = oln.ORDER_LINE_NUM
	--SELECT *
	FROM operations.xref.OrderLine oln 
		INNER JOIN Operations.Oracle.Orders o ON oln.ORDER_NUM = o.ORDER_NUM AND oln.ORD_LINE_ID = o.ORD_LINE_ID AND o.CurrentRecord = 1
	WHERE o.ORDER_LINE_NUM IS NULL


	UPDATE OPerations.oracle.orders
	SET Fingerprint = 
		SUBSTRING(LOWER(CONVERT(VARCHAR(32),HASHBYTES('MD5',
			--replace @columnList result here
					  CAST(ISNULL([ORD_LINE_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([ORD_HEADER_ID],'0') AS VARCHAR(100)) +  CAST(ISNULL([CUSTOMER_NAME],'') AS VARCHAR(240)) +  CAST(ISNULL([CUSTOMER_NUM],'') AS VARCHAR(30)) +  CAST(ISNULL([SALES_CHANNEL_CODE],'') AS VARCHAR(30)) +  CAST(ISNULL([DEMAND_CLASS],'') AS VARCHAR(30)) +  CAST(ISNULL([ORDER_DATE],'') AS VARCHAR(19)) +  CAST(ISNULL([ORDER_NUM],'0') AS VARCHAR(100)) +  CAST(ISNULL([PART],'') AS VARCHAR(40)) +  CAST(ISNULL([ORDERED_ITEM],'') AS VARCHAR(2000)) +  CAST(ISNULL([PART_DESC],'') AS VARCHAR(240)) +  CAST(ISNULL([FLOW_STATUS_CODE],'') AS VARCHAR(30)) +  CAST(ISNULL([QTY],'0') AS VARCHAR(100)) +  CAST(ISNULL([SELL_DOLLARS],'0') AS VARCHAR(100)) +  CAST(ISNULL([LIST_DOLLARS],'0') AS VARCHAR(100)) +  CAST(ISNULL([DATE_REQUESTED],'') AS VARCHAR(10)) +  CAST(ISNULL([SCH_SHIP_DATE],'') AS VARCHAR(10)) +  CAST(ISNULL([CANCEL_DATE],'') AS VARCHAR(10)) +  CAST(ISNULL([PLANT],'') AS VARCHAR(3)) +  CAST(ISNULL([CREATE_DATE],'') AS VARCHAR(10)) +  CAST(ISNULL([ORD_LINE_CREATE_DATE],'') AS VARCHAR(10)) +  CAST(ISNULL([ORD_LINE_LST_UPDATE_DATE],'') AS VARCHAR(10)) +  CAST(ISNULL([SHIP_TO_ADDRESS1],'') AS VARCHAR(240)) +  CAST(ISNULL([SHIP_TO_ADDRESS2],'') AS VARCHAR(240)) +  CAST(ISNULL([SHIP_TO_ADDRESS3],'') AS VARCHAR(240)) +  CAST(ISNULL([SHIP_TO_ADDRESS4],'') AS VARCHAR(240)) +  CAST(ISNULL([SHIP_TO_CITY],'') AS VARCHAR(60)) +  CAST(ISNULL([SHIP_TO_STATE],'') AS VARCHAR(60)) +  CAST(ISNULL([SHIP_TO_POSTAL_CODE],'') AS VARCHAR(60)) +  CAST(ISNULL([SHIP_TO_COUNTRY],'') AS VARCHAR(60)) +  CAST(ISNULL([SHIP_TO_PROVINCE],'') AS VARCHAR(60)) +  CAST(ISNULL([ACTUAL_SHIPMENT_DATE],'') AS VARCHAR(10)) 
		),1)),3,32)
	WHERE CurrentRecord = 1;
*/


GO
