USE [Operations]
GO
/****** Object:  View [ETL].[GeographyInvoice]    Script Date: 7/10/2025 11:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [ETL].[GeographyInvoice] AS 

  --create views for persisted derived tables and isolate to ETL schema
  SELECT 
	 -- --[SHIP_TO_POSTAL_CODE] --removed for data compression
	 -- ROW_NUMBER() OVER (PARTITION BY 
		--UPPER(ISNULL(CASE WHEN [SHIP_TO_POSTAL_CODE] LIKE '%-%' OR LEN([SHIP_TO_POSTAL_CODE]) >= 9 THEN LEFT([SHIP_TO_POSTAL_CODE],5) ELSE [SHIP_TO_POSTAL_CODE] END,'MISSING'))
		--,UPPER(ISNULL([SHIP_TO_COUNTRY],'MISSING'))
		--ORDER BY LEN(ISNULL(ISNULL([SHIP_TO_STATE],[SHIP_TO_PROVINCE]),'MISSING')) ASC
	 -- ) AS RowID
	   LTRIM(RTRIM(UPPER(ISNULL(CASE WHEN [SHIP_TO_POSTAL_CODE] LIKE '%-%' OR LEN([SHIP_TO_POSTAL_CODE]) >= 9 THEN LEFT([SHIP_TO_POSTAL_CODE],5) ELSE [SHIP_TO_POSTAL_CODE] END,'MISSING')))) AS PostalCode
      ,LTRIM(RTRIM(UPPER(ISNULL(ISNULL([SHIP_TO_STATE],[SHIP_TO_PROVINCE]),'MISSING')))) AS State
      ,LTRIM(RTRIM(UPPER(ISNULL([SHIP_TO_COUNTRY],'MISSING')))) AS Country
	  ,COUNT(*) AS RecordCount
  FROM Oracle.Invoice WITH (NOLOCK)
  WHERE CurrentRecord = 1 
	--AND StartDate >= DATEADD(DAY,-1,CAST(GETDATE() AS DATE)) --1 day look back similar to raw Oracle queries
  GROUP BY LTRIM(RTRIM(UPPER(ISNULL(CASE WHEN [SHIP_TO_POSTAL_CODE] LIKE '%-%' OR LEN([SHIP_TO_POSTAL_CODE]) >= 9 THEN LEFT([SHIP_TO_POSTAL_CODE],5) ELSE [SHIP_TO_POSTAL_CODE] END,'MISSING'))))
      ,LTRIM(RTRIM(UPPER(ISNULL(ISNULL([SHIP_TO_STATE],[SHIP_TO_PROVINCE]),'MISSING')))) 
      ,LTRIM(RTRIM(UPPER(ISNULL([SHIP_TO_COUNTRY],'MISSING')))) 
GO
