USE [Operations]
GO
/****** Object:  View [Fact].[UnitPrice]    Script Date: 7/10/2025 11:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


	CREATE VIEW [Fact].[UnitPrice] AS
	SELECT 
		ORDER_NUM, SO_LINE_NUM
		,ROUND(SUM(ACCTD_USD)/SUM(QTY_INVOICED),2) AS UnitPrice
		,MAX(GL_DATE) AS LastGLDate
		,COUNT(*) AS RecordCount
	FROM Oracle.Invoice
	WHERE 
		REVENUE_TYPE NOT LIKE 'ZTAX%'
		AND INV_DESCRIPTION NOT LIKE '%DSF%'
		AND SKU <> 'ZFRT'
		AND REVENUE_TYPE <> 'SHIPHANDLING'
		AND CurrentRecord = 1
		AND RIGHT(GL_PERIOD,2) >= 19
	GROUP BY ORDER_NUM, SO_LINE_NUM
	HAVING SUM(QTY_INVOICED) <> 0 
GO
