USE [Operations]
GO
/****** Object:  View [Fact].[TrialBalance]    Script Date: 7/10/2025 11:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [Fact].[TrialBalance] AS
SELECT SUBSTRING(CODE_COMBINATION,1,LEN(CODE_COMBINATION)-1) AS Code_Combination
	,LEFT(CODE_COMBINATION,2) AS Company
	,SUBSTRING(CODE_COMBINATION,4,2) AS Location
	,SUBSTRING(CODE_COMBINATION,7,3) AS Department
	,SUBSTRING(CODE_COMBINATION,11,4) AS Account
	,VENDOR_NUM AS Vendor
	,CASE WHEN (JE_HDR_CREATED_BY = 'Fernando, Roy' OR JE_HDR_CREATED_BY = 'Lucas, Cara' OR JE_HDR_CREATED_BY = 'Nicholson, Elaine' OR JE_HDR_CREATED_BY = 'Venti, Rachel' OR CATEGORY = 'Sales Invoices' OR JE_HDR_ID IN ('3822758','4413860','4413861','4415860','4415861','4513942','4513959','4315861','8746160','8842151','9029127','9029128','6895972','9855368','9855358','9855372','9855357')) AND JE_HDR_ID NOT IN ('4854969','4663860','4663861','4725860','4781860','4811860','4811861','3963825','9243126','1763452','2328456','1621444','1621445','1615446','2129553','1702446','2361483','2270456','2328456','2361483','2587735','2611735','2612735','2753740') THEN 0 ELSE 1 END AS JournalEntry
	,CASE WHEN PERIOD LIKE '%Adj%' THEN 1 ELSE 0 END AS Adjustment
	,JE_HDR_ID AS HeaderID
	,JE_HDR_NAME AS HeaderName
	,Category AS HeaderCategory
	,Source AS HeaderSource
	,JE_BATCH_ID AS BatchID
	,JE_BATCH_NAME AS Batch
	,CASE WHEN JE_HDR_CREATED_BY <> 'Fernando, Roy' AND JE_HDR_CREATED_BY <> 'Lucas, Cara' AND JE_HDR_CREATED_BY <> 'Nicholson, Elaine' AND JE_HDR_CREATED_BY = 'Venti, Rachel' AND CATEGORY <> 'Sales Invoices' THEN JE_HDR_CREATED_BY ELSE 'Oracle' END AS Creator
	,Period AS GLPeriod
	,LINE_DESCRIPTION
	--,CASE WHEN ACCOUNT IN ('4110','4111','4112','4113','4125','4130','4135','4140''4810','4811','4812') AND c1.Month = c2.Month THEN CAST(tb.JE_HDR_POSTED_DATE AS DATE) ELSE CAST(JE_HDR_EFF_DATE AS DATE) END AS TransDate
	,CASE WHEN CAST(JE_HDR_EFF_DATE AS DATE) < CAST(tb.JE_HDR_POSTED_DATE AS DATE)  THEN CAST(JE_HDR_EFF_DATE AS DATE) ELSE CAST(tb.JE_HDR_POSTED_DATE AS DATE) END AS TransDate
	,DateID
	,ISNULL(LocationID,1) AS LocationID
	,ISNULL(ACCT_DEBIT,0) AS Debit
	,ISNULL(ACCT_CREDIT,0) AS Credit
	,ISNULL(ACCT_DEBIT,0) - ISNULL(ACCT_CREDIT,0) AS Actual
	,ISNULL(Ending_Balance,0) AS EndingBalance
FROM Oracle.TrialBalance tb
	LEFT JOIN Dim.CalendarFiscal c1 ON CASE WHEN CAST(JE_HDR_EFF_DATE AS DATE) < CAST(tb.JE_HDR_POSTED_DATE AS DATE)  THEN CAST(JE_HDR_EFF_DATE AS DATE) ELSE CAST(tb.JE_HDR_POSTED_DATE AS DATE) END = c1.DateKey
	LEFT JOIN dbo.DimLocation l ON CAST(SUBSTRING(CODE_COMBINATION,4,2) AS INT) = l.GLLocationID
WHERE CurrentRecord = 1 AND LEFT(CODE_COMBINATION,2) = '10' --Step2
	AND CASE WHEN CAST(JE_HDR_EFF_DATE AS DATE) < CAST(tb.JE_HDR_POSTED_DATE AS DATE)  THEN CAST(JE_HDR_EFF_DATE AS DATE) ELSE CAST(tb.JE_HDR_POSTED_DATE AS DATE) END >= '2016-01-01'
--UNION ALL--addbacks
--SELECT SUBSTRING(CODE_COMBINATION,1,LEN(CODE_COMBINATION)-1)+'.AB' AS Code_Combination
--	,LEFT(CODE_COMBINATION,2) AS Company
--	,SUBSTRING(CODE_COMBINATION,4,2) AS Location
--	,SUBSTRING(CODE_COMBINATION,7,3) AS Department
--	,SUBSTRING(CODE_COMBINATION,11,4) AS Account
--	,CASE WHEN (JE_HDR_CREATED_BY = 'Fernando, Roy' OR JE_HDR_CREATED_BY = 'Lucas, Cara' OR JE_HDR_CREATED_BY = 'Nicholson, Elaine' OR CATEGORY = 'Sales Invoices' OR JE_HDR_CREATED_BY = 'Venti, Rachel' OR JE_HDR_ID IN ('3822758','4413860','4413861','4415860','4415861','4513942','4513959','4315861','8746160','8842151','9029127','9029128','6895972','9855368','9855358','9855372','9855357')) AND JE_HDR_ID NOT IN ('4854969','4663860','4663861','4725860','4781860','4811860','4811861','3963825','9243126','1763452','2328456','1621444','1621445','1615446','2129553','1702446','2361483','2270456','2328456','2361483','2587735','2611735','2612735','2753740') THEN 0 ELSE 1 END AS JournalEntry
--	,CASE WHEN PERIOD LIKE '%Adj%' THEN 1 ELSE 0 END AS Adjustment
--	,JE_HDR_ID AS HeaderID
--	,JE_HDR_NAME AS HeaderName
--	,Category AS HeaderCategory
--	,Source AS HeaderSource
--	,JE_BATCH_ID AS BatchID
--	,JE_BATCH_NAME AS Batch
--	,CASE WHEN JE_HDR_CREATED_BY <> 'Fernando, Roy' AND JE_HDR_CREATED_BY <> 'Lucas, Cara' AND JE_HDR_CREATED_BY <> 'Nicholson, Elaine' AND JE_HDR_CREATED_BY <> 'Venti, Rachel' AND CATEGORY <> 'Sales Invoices' THEN JE_HDR_CREATED_BY ELSE 'Oracle' END AS Creator
--	,Period AS GLPeriod
--	,LINE_DESCRIPTION
--	--,CAST(JE_HDR_EFF_DATE AS DATE) AS TransDate
--	,CASE WHEN CAST(JE_HDR_EFF_DATE AS DATE) < CAST(tb.JE_HDR_POSTED_DATE AS DATE)  THEN CAST(JE_HDR_EFF_DATE AS DATE) ELSE CAST(tb.JE_HDR_POSTED_DATE AS DATE) END AS TransDate
--	,DateID
--	,ISNULL(LocationID,1) AS LocationID
--	,ISNULL(ACCT_DEBIT,0) AS Debit
--	,ISNULL(ACCT_CREDIT,0) AS Credit
--	,ISNULL(ACCT_DEBIT,0) - ISNULL(ACCT_CREDIT,0) AS Actual
--	,ISNULL(Ending_Balance,0) AS EndingBalance
--FROM Oracle.TrialBalance tb
--	INNER JOIN Dim.Account a ON SUBSTRING(tb.CODE_COMBINATION,1,LEN(tb.CODE_COMBINATION)-1)+'.AB' = a.AccountCombo
--	LEFT JOIN Dim.CalendarFiscal c1 ON CASE WHEN CAST(JE_HDR_EFF_DATE AS DATE) < CAST(tb.JE_HDR_POSTED_DATE AS DATE)  THEN CAST(JE_HDR_EFF_DATE AS DATE) ELSE CAST(tb.JE_HDR_POSTED_DATE AS DATE) END = c1.DateKey
--	LEFT JOIN dbo.DimLocation l ON CAST(SUBSTRING(CODE_COMBINATION,4,2) AS INT) = l.GLLocationID
--WHERE CurrentRecord = 1 AND LEFT(CODE_COMBINATION,2) = '10' --Step2
--	AND CASE WHEN CAST(JE_HDR_EFF_DATE AS DATE) < CAST(tb.JE_HDR_POSTED_DATE AS DATE)  THEN CAST(JE_HDR_EFF_DATE AS DATE) ELSE CAST(tb.JE_HDR_POSTED_DATE AS DATE) END >= '2016-01-01'
--GO


GO
