USE [Operations]
GO
/****** Object:  View [Fact].[MRPSupply]    Script Date: 7/10/2025 11:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Fact].[MRPSupply] AS 
SELECT 
	item_segments
	,description
	,demand_class
	,NEW_ORDER_DATE
	,FIRM_PLANNED_TYPE
	,FIRM_DATE        
	,QUANTITY
	,ORDER_TYPE_TEXT
	,ORDER_TYPE
	,NEW_DUE_DATE
	,PLANNER_CODE
	,plan_id
	,START_OF_WEEK
	,ORGANIZATION_CODE
FROM Oracle.MSC_ORDERS_V 
WHERE EndDate IS NULL
	AND QUANTITY <> 0
	AND ((Plan_ID = 4 AND ORDER_TYPE IN (1,3) AND SOURCE_TABLE = 'MSC_SUPPLIES') 
	OR (Plan_ID = 4 AND ORDER_TYPE = 18 AND ITEM_SEGMENTS < '400000')
	)
GO
