USE [Operations]
GO
/****** Object:  View [Fact].[VersionChanges]    Script Date: 7/10/2025 11:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Fact].[VersionChanges] AS 
SELECT LINE_CODE, SHIFT, CAST(TRANS_DATE_TIME AS DATE) AS TransDte, LEFT(PART_NUMBER,4) AS [4Dig], COUNT(DISTINCT ISNULL([PARENT_SKU],[PART_NUMBER])) AS VERSIONS
FROM Manufacturing.Production p
	LEFT JOIN Oracle.RotoParts r ON p.PART_NUMBER = r.CHILD_SKU
WHERE SHift = 'A' AND ORG_CODE = '111' AND TRANS_DATE_TIME >= '2022-02-01' AND EndDate IS NULL
GROUP BY LINE_CODE, SHIFT, CAST(TRANS_DATE_TIME AS DATE), LEFT(PART_NUMBER,4)
HAVING COUNT(DISTINCT ISNULL([PARENT_SKU],[PART_NUMBER])) > 1
GO
