USE [Operations]
GO
/****** Object:  View [Fact].[SalesReclass]    Script Date: 7/10/2025 11:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [Fact].[SalesReclass] AS

SELECT CASE WHEN GL_DATE > DATEADD(DAY,-30,GETDATE()) THEN [ORDER_NUM] ELSE 0 END AS ORDER_NUM
	  ,CASE WHEN GL_DATE > DATEADD(DAY,-30,GETDATE()) THEN [SO_LINE_NUM] ELSE 0 END AS ORDER_LINE
      ,0 AS SaleTypeID
	  ,ISNULL(r.RevenueID,0) AS RevenueID
	  ,SUBSTRING(GL_REVENUE_DISTRIBUTION,11,4) AS AccountID
	  ,ISNULL(c.CustomerID,0) AS CustomerID
	  ,0  AS GeographyID --ISNULL(g.GeographyID,0)
	  ,ISNULL(p.ProductID,0) AS ProductID
	  ,ISNULL(l.LocationID,0) AS LocationID
	  ,ISNULL(dc.DemandClassID,0) AS DemandClassID
	  ,ISNULL(cf.DateID,0) AS DateID
	  ,0  AS HourID --DATEPART(HOUR,i.StartDate)
	  ,SUM([ACCTD_USD]) AS ACCTD_USD
	  ,SUM([ENTERED_AMOUNT]) AS ENTERED_AMOUNT
	  ,SUM([ITEM_FROZEN_COST]) AS ITEM_FROZEN_COST
	  --SUM([ITEM_FROZEN_COST]*[QTY_INVOICED]),  v1 = SUM(ISNULL([COGS_AMOUNT],0)) v1
	  --,SUM([GLUnitCOGS]*[QTY_INVOICED]) AS COGS_AMOUNT --v2

	  ,SUM(CASE WHEN ISNULL([GLUnitCOGS],0) <> 0 THEN [GLUnitCOGS] ELSE LookupUnitCOGS END*[QTY_INVOICED]) AS COGS_AMOUNT
	  --,SUM(CASE WHEN [GLUnitCOGS] <> 0 THEN [GLUnitCOGS] ELSE [LookupUnitCOGS] END*[QTY_INVOICED]) AS COGS_AMOUNT --test
	  ,SUM([QTY_INVOICED]) AS QTY
	  ,SUM(ISNULL([COOP],0)) AS [COOP]
	  ,SUM(ISNULL([DIF RETURNS],0)) AS [DIF RETURNS]
	  ,SUM(ISNULL([Invoiced Freight],0)) AS [Invoiced Freight]
	  ,SUM(ISNULL([Freight Allowance],0)) AS [Frieght Allowance]
	  ,SUM(ISNULL([Cash Discounts],0)) AS [Cash Discounts]
	  ,SUM(ISNULL([Markdown],0)) AS [Markdown]
	  ,SUM(ISNULL([Other],0)) AS [Other]
	  ,SUM(ISNULL([FREIGHT OUT],0)) AS [FREIGHT OUT]
	  ,SUM(ISNULL([ROYALTY],0)) AS [ROYALTY]
	  ,SUM(ISNULL([SURCHARGE],0)) AS [SURCHARGE]
	  ,SUM(ISNULL([COMMISSION],0)) AS [COMMISSION]
	  ,SUM(ISNULL([MAPP],0)*[QTY_INVOICED]) AS MAPP	  
FROM Oracle.Invoice i
	--LEFT JOIN Dim.RevenueType r ON i.REVENUE_TYPE = r.RevenueKey
	LEFT JOIN dbo.DimCustomerMaster c ON i.ACCT_NUM = c.CustomerKey 
	LEFT JOIN dbo.DimProductMaster p ON i.SKU = p.ProductKey
	LEFT JOIN dbo.DimLocation l ON i.WH_CODE = l.LocationKey
	LEFT JOIN dbo.DimCalendarFiscal cf ON i.GL_DATE = cf.DateKey
	--LEFT JOIN Dim.[Geography] g ON UPPER(ISNULL(CASE WHEN i.[SHIP_TO_POSTAL_CODE] LIKE '%-%' OR LEN(i.[SHIP_TO_POSTAL_CODE]) >= 9 THEN LEFT(i.[SHIP_TO_POSTAL_CODE],5) ELSE i.[SHIP_TO_POSTAL_CODE] END,'MISSING')) = g.PostalCode AND UPPER(ISNULL(i.[SHIP_TO_COUNTRY],'MISSING')) = g.COuntry
	LEFT JOIN dbo.DimDemandClass dc ON ISNULL(i.DEM_CLASS,c.DEMAND_CLASS_CODE) = dc.DemandClassKey
	LEFT JOIN xref.StandardMargin cm ON i.ID = cm.ID
	LEFT JOIN dbo.FactMAPP map ON p.ProductKey = map.SKU AND dc.DemandClassKey = map.DemandClass AND cf.DateKey BETWEEN map.StartDate AND ISNULL(map.EndDate,'9999-12-31')
	LEFT JOIN xref.COGSLookup cogs ON cogs.TRX_NUMBER = i.TRX_NUMBER AND cogs.SKU = i.SKU
	LEFT JOIN xref.RevenueTypeOverride rt ON i.GL_REVENUE_DISTRIBUTION = rt.AccountCombo
	LEFT JOIN dbo.DimRevenueType r ON CASE WHEN rt.RevenueKey IS NULL THEN i.REVENUE_TYPE ELSE rt.RevenueKey END = r.RevenueKey
WHERE i.CurrentRecord = 1 AND cf.DateID >= (43100 + 366) --AND INV_DESCRIPTION NOT LIKE '% PPD %'
	AND CASE  WHEN r.RevenueKey LIKE 'ZTAX%' THEN 'ZTAX' 
			WHEN INV_DESCRIPTION LIKE '%FRT%MBS%' THEN 'FRTMBS' 
			WHEN INV_DESCRIPTION LIKE 'S2C DSF%' THEN 'DSF' 
			WHEN i.SKU = 'ZFRT' AND GL_REVENUE_DISTRIBUTION NOT LIKE '%3300%' THEN 'ZFRT' 
			WHEN GL_REVENUE_DISTRIBUTION LIKE '%3300%' THEN 'INVFRT' 
			WHEN INV_DESCRIPTION LIKE 'S2C PPD%' AND REVENUE_TYPE ='S2C_ADJ_OTHER' THEN 'PPDFRT'
			ELSE r.RevenueKey 
	END IN ('ZTAX', 'DSF', 'ZFRT','INVFRT', 'PPDFRT')
	AND (i.GL_REVENUE_DISTRIBUTION LIKE '%3000%' OR i.GL_REVENUE_DISTRIBUTION LIKE '%3200%' OR i.GL_REVENUE_DISTRIBUTION LIKE '%3250%') --  OR i.GL_REVENUE_DISTRIBUTION LIKE '%3300%')

GROUP BY 
	   CASE WHEN GL_DATE > DATEADD(DAY,-30,GETDATE()) THEN [ORDER_NUM] ELSE 0 END
	  ,CASE WHEN GL_DATE > DATEADD(DAY,-30,GETDATE()) THEN [SO_LINE_NUM] ELSE 0 END
      ,ISNULL(r.RevenueID,0)
	  ,SUBSTRING(GL_REVENUE_DISTRIBUTION,11,4)
	  ,ISNULL(c.CustomerID,0)
	  ,ISNULL(p.ProductID,0)
	  ,ISNULL(l.LocationID,0)
	  ,ISNULL(dc.DemandClassID,0)
	  ,ISNULL(cf.DateID,0)

GO
