USE [Operations]
GO
/****** Object:  View [FPA].[CustomerDistBySKU]    Script Date: 7/10/2025 11:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE VIEW [FPA].[CustomerDistBySKU] AS
WITH CTE AS (
	SELECT DemandClassKey AS DEM_CLASS, CustomerKey AS ACCT_NUM, ProductKey AS SKU, SUM(SALES) AS ACCTD_USD
	FROM dbo.FactPBISales i
		INNER JOIN dbo.DimProductMaster pm ON i.ProductID = pm.ProductID
		LEFT JOIN dbo.DimCustomerMaster cm ON i.CustomerID = cm.CustomerID
		LEFT JOIN dbo.DimDemandClass dc ON i.DemandClassID = dc.DemandClassID 
		LEFT JOIN dbo.DimRevenueType rt ON i.RevenueID = rt.RevenueID
	WHERE QTY > 0 AND RevenueName <> 'SHIPPING' 
		AND i.DateKey >=  DATEADD(MONTH,-12,GETDATE())
		AND DemandClassKey <> 'MISC'
	GROUP BY DemandClassKey, CustomerKey, ProductKey
	HAVING SUM(Sales) <> 0

	/*
	SELECT DEM_CLASS, ACCT_NUM, SUM(ACCTD_USD) AS ACCTD_USD
	FROM Oracle.Invoice i
	WHERE GL_DATE BETWEEN '2020-12-29' AND '2022-11-26' 
		AND CASE  WHEN REVENUE_TYPE LIKE 'ZTAX%' THEN 'ZTAX' 
			WHEN INV_DESCRIPTION LIKE '%FRT%MBS%' THEN 'FRTMBS' 
			WHEN INV_DESCRIPTION LIKE 'S2C DSF%' THEN 'DSF' 
			WHEN i.SKU = 'ZFRT' AND GL_REVENUE_DISTRIBUTION NOT LIKE '%3300%' THEN 'ZFRT' 
			WHEN GL_REVENUE_DISTRIBUTION LIKE '%3300%' THEN 'INVFRT' 
			WHEN ACCT_NAME = 'S2C: KOHLS.COM (PREPAID)' AND REVENUE_TYPE ='S2C_ADJ_OTHER' THEN 'PPDFRT'
			ELSE REVENUE_TYPE
		END NOT IN ('ZTAX', 'DSF', 'ZFRT','INVFRT')
		AND CurrentRecord = 1 
		AND (i.GL_REVENUE_DISTRIBUTION LIKE '%3000%' OR i.GL_REVENUE_DISTRIBUTION LIKE '%3200%' OR i.GL_REVENUE_DISTRIBUTION LIKE '%3250%')
		AND DEM_CLASS <> 'MISC' --do not spread by customer for MISC demand class
	GROUP BY DEM_CLASS, ACCT_NUM 
	*/
)
SELECT SKU, DEM_CLASS, ACCT_NUM, CAST(ACCTD_USD AS FLOAT)/SUM(CAST(ACCTD_USD AS FLOAT)) OVER (PARTITION BY SKU, DEM_CLASS) AS CustomerDist
FROM CTE

--ORDER BY DEM_CLASS, ACCT_NUM

GO
