USE [Operations]
GO
/****** Object:  View [Oracle].[GLSalesReconcile]    Script Date: 7/10/2025 11:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Oracle].[GLSalesReconcile] AS 

SELECT GL_PERIOD, CASE WHEN REVENUE_TYPE LIKE 'ZTAX%' THEN 'ZTAX' ELSE REVENUE_TYPE END AS ENTRY, SUBSTRING(GL_REVENUE_DISTRIBUTION,11,4) AS ACCOUNT, REVENUE_TYPE, GL_REVENUE_DISTRIBUTION, SUM(ACCTD_USD) AS Amount
FROM Oracle.Invoice WITH (NOLOCK)
WHERE CurrentRecord = 1 AND GL_PERIOD LIKE '%-22' AND --Jul-22 Accounting Period
	(GL_REVENUE_DISTRIBUTION LIKE '%3000%' OR GL_REVENUE_DISTRIBUTION LIKE '%3200%' OR GL_REVENUE_DISTRIBUTION LIKE '%3300%') --reconciling system generated activity for 3000, 3200, 3300
GROUP BY GL_PERIOD, CASE WHEN REVENUE_TYPE LIKE 'ZTAX%' THEN 'ZTAX' ELSE REVENUE_TYPE END ,REVENUE_TYPE, GL_REVENUE_DISTRIBUTION, SUBSTRING(GL_REVENUE_DISTRIBUTION,11,4)

--add additional data together
UNION 
SELECT PERIOD, SOURCE, SOURCE,  CODE_COMBINATION, ACCOUNT, -SUM(ISNULL([ACCT_DEBIT],0)-ISNULL([ACCT_CREDIT],0)) AS Amount --flip signs on Sales and Asset account
FROM Oracle.TrialBalance
WHERE ACCOUNT IN ('3000','3200','3300')
	AND CurrentRecord = 1 
	AND PERIOD LIKE '%-22'
	AND JE_HDR_CREATED_BY = 'Fernando, Roy'
	AND SOURCE = 'Marketing'
GROUP BY PERIOD, SOURCE,  CODE_COMBINATION, ACCOUNT

--add additional data together
UNION 
SELECT PERIOD, 'Journal Entry', ACCOUNT, LINE_DESCRIPTION, CODE_COMBINATION, -SUM(ISNULL([ACCT_DEBIT],0)-ISNULL([ACCT_CREDIT],0)) AS Amount --flip signs on Sales and Asset account
FROM Oracle.TrialBalance
WHERE ACCOUNT IN ('3000','3200','3300')
	AND CurrentRecord = 1 
	AND PERIOD LIKE '%-22'
	AND JE_HDR_CREATED_BY <> 'Fernando, Roy'
GROUP BY PERIOD, LINE_DESCRIPTION,  CODE_COMBINATION, ACCOUNT
GO
