USE [Operations]
GO
/****** Object:  View [OUTPUT].[TransactionTracer]    Script Date: 7/10/2025 11:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [OUTPUT].[TransactionTracer] AS
WITH CTE AS (SELECT DISTINCT CUSTOMER_TRX_LINE_ID FROM Oracle.Invoice WHERE GL_PERIOD = 'Nov-23' AND StartDate >= '2023-11-27') --65655
SELECT i.* FROM Oracle.Invoice i 
	INNER JOIN CTE ON i.CUSTOMER_TRX_LINE_ID = cte.CUSTOMER_TRX_LINE_ID 
--ORDER BY i.CUSTOMER_TRX_LINE_ID, StartDate
GO
