USE [Operations]
GO
/****** Object:  View [OUTPUT].[VenaVendor]    Script Date: 7/10/2025 11:43:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [OUTPUT].[VenaVendor] AS
  SELECT DISTINCT 
	   pov.VENDOR_ID
      ,pov.[SEGMENT1] AS VENDOR_NUMBER
	  --,[LAST_UPDATE_DATE]
	  --,[LAST_UPDATED_BY]
      ,pov.[VENDOR_NAME]
      --,[VENDOR_NAME_ALT]
      ,pov.[VENDOR_TYPE_LOOKUP_CODE] AS VENDOR_TYPE
  FROM [Operations].[Oracle].[PO_VENDORS] pov
	INNER JOIN Oracle.XLA_AP_Dist ap ON ap.VENDOR_ID = pov.VENDOR_ID AND ACCOUNTING_DATE >= DATEADD(YEAR,-1,GETDATE())
  WHERE pov.CurrentRecord = 1
  UNION ALL
  SELECT DISTINCT 
	   pov.VENDOR_ID
      ,pov.[SEGMENT1] AS VENDOR_NUMBER
	  --,[LAST_UPDATE_DATE]
	  --,[LAST_UPDATED_BY]
      ,pov.[VENDOR_NAME]
      --,[VENDOR_NAME_ALT]
      ,pov.[VENDOR_TYPE_LOOKUP_CODE] AS VENDOR_TYPE
  FROM [Operations].[Oracle].[PO_VENDORS] pov
	INNER JOIN Oracle.XLA_RCV rcv ON rcv.VENDOR_NUM = pov.SEGMENT1 AND ACCOUNTING_DATE >= DATEADD(YEAR,-1,GETDATE())
  UNION ALL
  SELECT DISTINCT 
	   pov.VENDOR_ID
      ,pov.[SEGMENT1] AS VENDOR_NUMBER
	  --,[LAST_UPDATE_DATE]
	  --,[LAST_UPDATED_BY]
      ,pov.[VENDOR_NAME]
      --,[VENDOR_NAME_ALT]
      ,pov.[VENDOR_TYPE_LOOKUP_CODE] AS VENDOR_TYPE
  FROM [Operations].[Oracle].[PO_VENDORS] pov
  WHERE LAST_UPDATE_DATE >= DATEADD(YEAR,-1,GETDATE())
GO
