USE [Operations]
GO
/****** Object:  View [OUTPUT].[SKUAbsorptionVariance]    Script Date: 7/10/2025 11:43:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [OUTPUT].[SKUAbsorptionVariance] AS
SELECT tb.JE_HDR_ID, tb.LINE_NUMBER, tb.ACCOUNT, SUM(ISNULL(a.Activity,0)) AS Absorp, MAX(ending_Balance) AS TB
	, CAST(SUM(ISNULL(a.Activity,0)) - MAX(ending_Balance) AS MONEY) AS Difference, 
	CASE WHEN CAST(JE_HDR_EFF_DATE AS DATE) < CAST(tb.JE_HDR_POSTED_DATE AS DATE)  THEN CAST(JE_HDR_EFF_DATE AS DATE) ELSE CAST(tb.JE_HDR_POSTED_DATE AS DATE) END AS TRANS_DATE
	,tb.StartDate
FROM Oracle.TrialBalance tb
	LEFT JOIN OUTPUT.SKUAbsorption a ON a.JE_HEADER_ID = tb.JE_HDR_ID AND a.JE_LINE_NUM = tb.LINE_NUMBER AND a.Account = tb.ACCOUNT
WHERE --a.JE_HEADER_ID = 9577178 AND a.JE_LINE_NUM BETWEEN 18 AND 21 
	tb.ACCOUNT IN ('4110','4111','4112','4113','4125','4130','4135','4140','4810','4811','4812') 
	AND CASE WHEN CAST(JE_HDR_EFF_DATE AS DATE) < CAST(tb.JE_HDR_POSTED_DATE AS DATE)  THEN CAST(JE_HDR_EFF_DATE AS DATE) ELSE CAST(tb.JE_HDR_POSTED_DATE AS DATE) END >= '2022-01-01'
	AND tb.CurrentRecord = 1
	--AND JE_HEADER_ID = '9577178'
GROUP BY tb.JE_HDR_ID, tb.LINE_NUMBER, tb.ACCOUNT, CASE WHEN CAST(JE_HDR_EFF_DATE AS DATE) < CAST(tb.JE_HDR_POSTED_DATE AS DATE)  THEN CAST(JE_HDR_EFF_DATE AS DATE) ELSE CAST(tb.JE_HDR_POSTED_DATE AS DATE) END,tb.StartDate
HAVING CAST(SUM(ISNULL(Activity,0)) - MAX(ending_Balance) AS MONEY) <> 0.00
--ORDER BY tb.StartDate
GO
