USE [Operations]
GO
/****** Object:  View [OUTPUT].[ProductSummary]    Script Date: 7/10/2025 11:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [OUTPUT].[ProductSummary] AS 

WITH PO_QTY AS (
	SELECT ITEM
		,SUM(REMAINING_QUANTITY) AS OPEN_PO_QTY
	FROM Oracle.PurchaseOrder 
	WHERE CurrentRecord = 1
		AND CLOSED_CODE = 'OPEN'
		AND REMAINING_QUANTITY > 0
	GROUP BY ITEM
)
, PO_DATES AS (
	SELECT ROW_NUMBER() OVER (PARTITION BY ITEM ORDER BY PO_LINE_CREATE_DATE ASC) AS RECORD
		,ITEM
		,PO_LINE_CREATE_DATE AS OLDEST_PO_DATE
		,NEED_BY_DATE
		,PROMISED_DATE
	FROM Oracle.PurchaseOrder 
	WHERE CurrentRecord = 1
		AND CLOSED_CODE = 'OPEN'
		AND REMAINING_QUANTITY > 0
)
, LAST_RECEIPT AS (
	SELECT ROW_NUMBER() OVER (PARTITION BY ORGANIZATION_ID, ITEM ORDER BY CAST(TRANSACTION_DATE AS DATE) DESC) AS RECORD
		, ORGANIZATION_ID
		, ITEM
		, CAST(TRANSACTION_DATE AS DATE) AS RECEIPT_DATE
	FROM Oracle.QualityReceiving
	WHERE CurrentRecord = 1
		AND TRANSACTION_TYPE = 'Receive'
		--AND ITEM = '110002'
)
, UNIT_PRICE AS (
	SELECT ROW_NUMBER() OVER (PARTITION BY ITEM ORDER BY PO_LINE_CREATE_DATE DESC) AS RECORD
		,ITEM
		,PO_LINE_CREATE_DATE AS PO_LINE_DATE
		,UNIT_PRICE
	FROM Oracle.PurchaseOrder 
	WHERE CurrentRecord = 1
		AND QUANTITY_RECEIVED > 0
)
, R12Inventory AS (
	SELECT ORGANIZATION_ID, ProductKey AS ITEM, SUM(Quantity) AS QTY 
	FROM dbo.FactInventory fi
		LEFT JOIN dbo.DimProductMaster pm ON fi.ProductID = pm.ProductID
		LEFT JOIN dbo.DimCalendarFiscal cf ON fi.DateID = cf.DateID
		LEFT JOIN dbo.DimLocation l ON fi.PlantID = l.LocationID
		LEFT JOIN Oracle.ORG_ORGANIZATION_DEFINITIONS org ON l.LocationKey = org.ORGANIZATION_CODE AND org.CurrentRecord = 1
	WHERE EOMONTH(DATEADD(MONTH,-13,GETDATE())) = cf.DateKey
	GROUP BY ORGANIZATION_ID, ProductKey
	UNION
	SELECT ORGANIZATION_ID, ProductKey AS ITEM, -SUM(Quantity) AS QTY
	FROM dbo.FactInventory fi
		LEFT JOIN dbo.DimProductMaster pm ON fi.ProductID = pm.ProductID
		LEFT JOIN dbo.DimCalendarFiscal cf ON fi.DateID = cf.DateID
		LEFT JOIN dbo.DimLocation l ON fi.PlantID = l.LocationID
		LEFT JOIN Oracle.ORG_ORGANIZATION_DEFINITIONS org ON l.LocationKey = org.ORGANIZATION_CODE AND org.CurrentRecord = 1
	WHERE EOMONTH(DATEADD(MONTH,-1,GETDATE())) = cf.DateKey
	GROUP BY ORGANIZATION_ID, ProductKey
	UNION
	SELECT ORGANIZATION_ID, ITEM, SUM(QUANTITY) AS QTY
	FROM Oracle.QualityReceiving
	WHERE CurrentRecord = 1
		AND TRANSACTION_TYPE = 'Receive'
		AND CAST(TRANSACTION_DATE AS DATE) BETWEEN EOMONTH(DATEADD(MONTH,-13,GETDATE())) AND EOMONTH(DATEADD(MONTH,-1,GETDATE()))
	GROUP BY ORGANIZATION_ID, ITEM
)
, R12Usage AS (
	SELECT ORGANIZATION_ID, ITEM, SUM(QTY) AS QTY 
	FROM R12Inventory GROUP BY ORGANIZATION_ID, ITEM
)
, R6Inventory AS (
	SELECT ORGANIZATION_ID, ProductKey AS ITEM, SUM(Quantity) AS QTY 
	FROM dbo.FactInventory fi
		LEFT JOIN dbo.DimProductMaster pm ON fi.ProductID = pm.ProductID
		LEFT JOIN dbo.DimCalendarFiscal cf ON fi.DateID = cf.DateID
		LEFT JOIN dbo.DimLocation l ON fi.PlantID = l.LocationID
		LEFT JOIN Oracle.ORG_ORGANIZATION_DEFINITIONS org ON l.LocationKey = org.ORGANIZATION_CODE AND org.CurrentRecord = 1
	WHERE EOMONTH(DATEADD(MONTH,-7,GETDATE())) = cf.DateKey
	GROUP BY ORGANIZATION_ID, ProductKey
	UNION
	SELECT ORGANIZATION_ID, ProductKey AS ITEM, -SUM(Quantity) AS QTY
	FROM dbo.FactInventory fi
		LEFT JOIN dbo.DimProductMaster pm ON fi.ProductID = pm.ProductID
		LEFT JOIN dbo.DimCalendarFiscal cf ON fi.DateID = cf.DateID
		LEFT JOIN dbo.DimLocation l ON fi.PlantID = l.LocationID
		LEFT JOIN Oracle.ORG_ORGANIZATION_DEFINITIONS org ON l.LocationKey = org.ORGANIZATION_CODE AND org.CurrentRecord = 1
	WHERE EOMONTH(DATEADD(MONTH,-1,GETDATE())) = cf.DateKey
	GROUP BY ORGANIZATION_ID, ProductKey
	UNION
	SELECT ORGANIZATION_ID, ITEM, SUM(QUANTITY) AS QTY
	FROM Oracle.QualityReceiving
	WHERE CurrentRecord = 1
		AND TRANSACTION_TYPE = 'Receive'
		AND CAST(TRANSACTION_DATE AS DATE) BETWEEN EOMONTH(DATEADD(MONTH,-7,GETDATE())) AND EOMONTH(DATEADD(MONTH,-1,GETDATE()))
	GROUP BY ORGANIZATION_ID, ITEM
)
, R6Usage AS (
	SELECT ORGANIZATION_ID, ITEM, SUM(QTY) AS QTY 
	FROM R6Inventory GROUP BY ORGANIZATION_ID, ITEM
)
, KPI AS (
	SELECT pm.ProductKey
		, org.ORGANIZATION_ID
		, poq.OPEN_PO_QTY
		, pod.OLDEST_PO_DATE
		, pod.NEED_BY_DATE
		, pod.PROMISED_DATE
		, lr.RECEIPT_DATE
		, up.UNIT_PRICE 
		, r6.QTY AS R6Usage
		, r12.QTY AS R12Usage
	FROM dbo.DimProductMaster pm
		CROSS JOIN Oracle.ORG_ORGANIZATION_DEFINITIONS org
		LEFT JOIN PO_QTY poq ON pm.ProductKey = poq.ITEM
		LEFT JOIN PO_DATES pod ON pm.ProductKey = pod.Item AND pod.RECORD = 1 
		LEFT JOIN LAST_RECEIPT lr ON pm.ProductKey = lr.Item AND org.ORGANIZATION_ID = lr.ORGANIZATION_ID AND lr.RECORD = 1
		LEFT JOIN UNIT_PRICE up ON pm.ProductKey = up.Item AND up.RECORD = 1
		LEFT JOIN R6Usage r6 ON pm.ProductKey = r6.ITEM AND org.ORGANIZATION_ID = r6.ORGANIZATION_ID
		LEFT JOIN R6Usage r12 ON pm.ProductKey = r12.ITEM AND org.ORGANIZATION_ID = r12.ORGANIZATION_ID
	WHERE org.CurrentRecord = 1
		AND (pod.ITEM IS NOT NULL 
		OR	lr.ITEM IS NOT NULL
		OR	up.ITEM IS NOT NULL
		OR	r6.ITEM IS NOT NULL
		OR	r12.ITEM IS NOT NULL)
)
SELECT
	msib.SEGMENT1 AS ITEM
	,msib.DESCRIPTION
	,org.ORGANIZATION_CODE
	,org.ORGANIZATION_NAME
	,msib.INVENTORY_ITEM_ID
	,msib.INVENTORY_ITEM_STATUS_CODE
	,msib.primary_uom_code AS UOM
	,msib.PRIMARY_UNIT_OF_MEASURE
	,msib.ITEM_TYPE
	,ISNULL(msib.FIXED_LEAD_TIME,0)+ISNULL(msib.FULL_LEAD_TIME,0) AS LEAD_TIME
	,ISNULL(msib.MINIMUM_ORDER_QUANTITY,0) AS MIN_ORDER_QTY_MSIB
	,ISNULL(MSIF.FIXED_LOT_MULTIPLIER,0) AS FIXED_LOT_MULTIPLIER
	,ISNULL(msif.MINIMUM_ORDER_QUANTITY,0) AS MINIMUM_ORDER_QUANTITY
	,ISNULL(msif.MAXIMUM_ORDER_QUANTITY,0) AS MAXIMUM_ORDER_QUANTITY
	,ISNULL(msif.planner_code,0) AS PLANNER_CODE
	,msib.PLANNER_CODE AS PLANNER
	,msif.Buyer_ID as BUYER_ID_F
	,msib.Buyer_ID as BUYER_ID_B
	,ISNULL(papf.full_name,'') as BUYER
	,msib.Attribute7 AS COUNTRY_OF_ORIGIN
	,pov.VENDOR_NAME
	,cst.COST_TYPE
    ,cst.ITEM_COST AS FRZ_COST
    ,cst.MATERIAL_COST AS FRX_MAT_COST
    ,cst.MATERIAL_OVERHEAD_COST AS FRZ_MAT_OH
    ,cst.RESOURCE_COST AS FRZ_RESOURCE
    ,cst.OUTSIDE_PROCESSING_COST AS FRZ_OUT_PROC
    ,cst.OVERHEAD_COST AS FRZ_OH
	,msib.Attribute5 AS HS_TARRIFF_CLASS
	,CASE WHEN msib.planning_make_buy_code = 1 THEN 'MAKE' 
		  WHEN msib.planning_make_buy_code = 2 THEN 'BUY' 
	 END AS MAKE_BUY
	 ,KPI.OPEN_PO_QTY
	 ,KPI.OLDEST_PO_DATE
	 ,KPI.NEED_BY_DATE
	 ,KPI.PROMISED_DATE
	 ,KPI.RECEIPT_DATE
	 ,KPI.UNIT_PRICE
	 ,KPI.R6Usage AS R6_USAGE
	 ,KPI.R12Usage AS R12_USAGE
FROM Oracle.INV_MTL_SYSTEM_ITEMS_B msib
	INNER JOIN Oracle.ORG_ORGANIZATION_DEFINITIONS org ON msib.ORGANIZATION_ID = org.ORGANIZATION_ID AND org.CurrentRecord = 1
	LEFT JOIN Oracle.CST_ITEM_COST_TYPE_V cst ON msib.INVENTORY_ITEM_ID = cst.INVENTORY_ITEM_ID AND msib.ORGANIZATION_ID = cst.ORGANIZATION_ID AND cst.COST_TYPE = 'FROZEN' AND cst.CurrentRecord = 1
	LEFT JOIN Oracle.INV_MTL_SYSTEM_ITEMS_FVL msif ON msib.inventory_item_id = msif.inventory_item_id and msib.organization_id = msif.organization_id AND msif.CurrentRecord = 1
	LEFT JOIN Oracle.PO_APPROVED_SUPPLIER_LIST pasl ON msib.Inventory_Item_ID = pasl.Item_ID AND pasl.CurrentRecord = 1
	LEFT JOIN Oracle.PO_VENDORS pov ON pasl.vendor_id = pov.VENDOR_ID AND pov.CurrentRecord = 1
	LEFT JOIN Oracle.PER_ALL_PEOPLE_F papf ON msif.buyer_id = papf.person_id AND papf.CurrentRecord = 1
	LEFT JOIN dbo.DimProductMaster pm ON msib.SEGMENT1 = pm.ProductKey
	LEFT JOIN KPI ON KPI.ProductKey = pm.ProductKey AND KPI.ORGANIZATION_ID = org.ORGANIZATION_ID
WHERE msib.CurrentRecord = 1
	AND msib.INVENTORY_ITEM_STATUS_CODE <> 'Inactive'
	AND ISNULL(pasl.disable_flag,'N') <> 'Y'
GO
