USE [Operations]
GO
/****** Object:  View [OUTPUT].[SCPKitQty]    Script Date: 7/10/2025 11:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [OUTPUT].[SCPKitQty] AS 
WITH Data AS (
  SELECT * FROM OUTPUT.SCPKitOnHand WHERE ITEM_SEGMENTS IS NOT NULL UNION ALL
  SELECT * FROM OUTPUT.SCPKitSalesOrders UNION ALL
  SELECT * FROM OUTPUT.SCPKitForecast UNION ALL
  SELECT * FROM OUTPUT.SCPKitProduction UNION ALL
  SELECT * FROM OUTPUT.SCPKitPurchases
)
SELECT d.* 
FROM Data d 
	LEFT JOIN [Step2].[CustomerForecastInventory] cfi 
ON d.ITEM_SEGMENTS = cfi.PartID AND cfi.CurrentRecord = 1
WHERE cfi.PartID IS NULL
GO
