USE [Operations]
GO
/****** Object:  View [OUTPUT].[SupplyChainPlanSnapshots]    Script Date: 7/10/2025 11:43:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [OUTPUT].[SupplyChainPlanSnapshots] AS
WITH CTE AS (
SELECT DATEADD(WEEK, DATEDIFF(WEEK, '19050101', GETDATE()), '19050101') AS CurrentWeek
	,DATEADD(WEEK,-1,DATEADD(WEEK, DATEDIFF(WEEK, '19050101', GETDATE()), '19050101')) AS OriginalWeek
)
SELECT REPLACE(
			CASE WHEN (ISNULL(a.plan_id,b.plan_id) = 4  AND ISNULL(a.order_type,b.order_type) in (1,3,24) AND ISNULL(a.source_table,b.source_table) = 'MSC_DEMANDS') THEN ISNULL(a.ORDER_TYPE_TEXT,b.ORDER_TYPE_TEXT)
				WHEN (ISNULL(a.plan_id,b.plan_id) =	4  AND ISNULL(a.order_type,b.order_type) = 30 AND ISNULL(a.source_table,b.source_table) = 'MSC_DEMANDS') THEN ISNULL(a.ORDER_TYPE_TEXT,b.ORDER_TYPE_TEXT) + ' Demand'
				WHEN (ISNULL(a.plan_id,b.plan_id) =	4  and ISNULL(a.order_type,b.order_type) = 5) AND ISNULL(a.FIRM_PLANNED_TYPE,b.FIRM_PLANNED_TYPE) = 1 THEN 'Production'
				WHEN (ISNULL(a.plan_id,b.plan_id) =	4  and ISNULL(a.order_type,b.order_type) = 5) AND ISNULL(a.FIRM_PLANNED_TYPE,b.FIRM_PLANNED_TYPE) = 2 THEN 'Production Non Firm'
				WHEN (ISNULL(a.plan_id,b.plan_id) =	22 and ISNULL(a.order_type,b.order_type) in (18, 29, 30)) THEN 'Sales Orders & Forecast' --ISNULL(a.ORDER_TYPE_TEXT,b.ORDER_TYPE_TEXT)
				WHEN (ISNULL(a.plan_id,b.plan_id) =	4  and ISNULL(a.order_type,b.order_type) = 18 and ISNULL(a.FIRM_PLANNED_TYPE,b.FIRM_PLANNED_TYPE) = 2)  THEN 'On Hand'
				WHEN (ISNULL(a.plan_id,b.plan_id) IN (4,22) and ISNULL(a.order_type,b.order_type) = 3 and ISNULL(a.source_table,b.source_table) = 'MSC_SUPPLIES') THEN ISNULL(a.ORDER_TYPE_TEXT,b.ORDER_TYPE_TEXT)
				WHEN (ISNULL(a.plan_id,b.plan_id) IN (4,22) and ISNULL(a.order_type,b.order_type) = 1 and ISNULL(a.source_table,b.source_table) = 'MSC_SUPPLIES') THEN ISNULL(a.ORDER_TYPE_TEXT,b.ORDER_TYPE_TEXT)
			END,'On Hand', 'Total On Hand'
		) AS InventoryType
		, (SELECT OriginalWeek FROM CTE) AS AsOf
		, ISNULL(a.START_OF_WEEK,b.START_OF_WEEK) AS START_OF_WEEK
		, ISNULL(a.SOURCE_TABLE,b.SOURCE_TABLE) AS SOURCE_TABLE
		, ISNULL(a.PLAN_ID,b.PLAN_ID) AS PLAN_ID
		, ISNULL(a.ORGANIZATION_CODE,b.ORGANIZATION_CODE) AS ORGAINZATION_CODE
		, ISNULL(a.DEMAND_CLASS,b.DEMAND_CLASS) AS DEMAND_CLASS
		, ISNULL(a.ORDER_TYPE,b.ORDER_TYPE) AS ORDER_TYPE
		, ISNULL(a.ORDER_TYPE_TEXT,b.ORDER_TYPE_TEXT) AS ORDER_TYPE_TEXT
		, ISNULL(a.FIRM_PLANNED_TYPE,b.FIRM_PLANNED_TYPE) AS FIRM_PLANNED_TYPE
		, ISNULL(a.ITEM_SEGMENTS,b.ITEM_SEGMENTS) AS ITEM_SEGMENTS
		, ISNULL(a.DESCRIPTION,b.DESCRIPTION) AS DESCRIPTION
		, ISNULL(CASE WHEN (ISNULL(a.plan_id,b.plan_id) =	22 and ISNULL(a.order_type,b.order_type) in (18, 29, 30)) THEN -1 ELSE 1 END * a.QUANTITY,0) AS OriginalQuantity
		, ISNULL(CASE WHEN (ISNULL(a.plan_id,b.plan_id) =	22 and ISNULL(a.order_type,b.order_type) in (18, 29, 30)) THEN -1 ELSE 1 END * b.QUANTITY,0) AS CurrentQuantity
		, ISNULL(CASE WHEN (ISNULL(a.plan_id,b.plan_id) =	22 and ISNULL(a.order_type,b.order_type) in (18, 29, 30)) THEN -1 ELSE 1 END * b.Quantity,0) 
		- ISNULL(CASE WHEN (ISNULL(a.plan_id,b.plan_id) =	22 and ISNULL(a.order_type,b.order_type) in (18, 29, 30)) THEN -1 ELSE 1 END * a.Quantity,0) AS QtyVariance 
		, 1 - CASE WHEN b.Quantity IS NOT NULL THEN ISNULL(CASE WHEN (ISNULL(a.plan_id,b.plan_id) =	22 and ISNULL(a.order_type,b.order_type) in (18, 29, 30)) THEN -1 ELSE 1 END * a.Quantity,0) 
		/ ISNULL(CASE WHEN (ISNULL(a.plan_id,b.plan_id) =	22 and ISNULL(a.order_type,b.order_type) in (18, 29, 30)) THEN -1 ELSE 1 END *b.Quantity,0) ELSE 1 END AS PercentVariance 
FROM (
	SELECT SOURCE_TABLE
		, ITEM_SEGMENTS
		, DESCRIPTION
		, FIRM_PLANNED_TYPE
		, DEMAND_CLASS
		, ORDER_TYPE
		, ORDER_TYPE_TEXT
		, ORGANIZATION_CODE
		, PLAN_ID
		, CAST(START_OF_WEEK AS DATE) AS START_OF_WEEK
		, SUM(QUANTITY) AS QUANTITY
	FROM Oracle.MSC_ORDERS_V
	WHERE (SELECT OriginalWeek FROM CTE) BETWEEN StartDate AND EndDate
		AND CAST(START_OF_WEEK AS DATE) BETWEEN (SELECT CurrentWeek FROM CTE) AND (SELECT DATEADD(WEEK,7,CurrentWeek) FROM CTE)
		--AND ITEM_SEGMENTS < '400000'
		AND NOT (FIRM_PLANNED_TYPE = 2 AND RIGHT(ORGANIZATION_CODE,3) IN ('140') AND plan_id = 4 AND order_Type = 5)
	GROUP BY SOURCE_TABLE
		, ITEM_SEGMENTS
		, DESCRIPTION
		, FIRM_PLANNED_TYPE
		, DEMAND_CLASS
		, ORDER_TYPE
		, ORDER_TYPE_TEXT
		, ORGANIZATION_CODE
		, PLAN_ID
		, CAST(START_OF_WEEK AS DATE)
) a
FULL OUTER JOIN 
(
	SELECT SOURCE_TABLE
		, ITEM_SEGMENTS
		, DESCRIPTION
		, FIRM_PLANNED_TYPE
		, DEMAND_CLASS
		, ORDER_TYPE
		, ORDER_TYPE_TEXT
		, ORGANIZATION_CODE
		, PLAN_ID
		, CAST(START_OF_WEEK AS DATE) AS START_OF_WEEK
		, SUM(QUANTITY) AS QUANTITY
	FROM Oracle.MSC_ORDERS_V
	WHERE CurrentRecord = 1
		AND CAST(START_OF_WEEK AS DATE) BETWEEN (SELECT CurrentWeek FROM CTE) AND (SELECT DATEADD(WEEK,7,CurrentWeek) FROM CTE)
		--AND ITEM_SEGMENTS < '400000'
		AND ORDER_TYPE_TEXT <> 'On Hand'
		AND NOT (FIRM_PLANNED_TYPE = 2 AND RIGHT(ORGANIZATION_CODE,3) IN ('140') AND plan_id = 4 AND order_Type = 5)
	GROUP BY SOURCE_TABLE
		, ITEM_SEGMENTS
		, DESCRIPTION
		, FIRM_PLANNED_TYPE
		, DEMAND_CLASS
		, ORDER_TYPE
		, ORDER_TYPE_TEXT
		, ORGANIZATION_CODE
		, PLAN_ID
		, CAST(START_OF_WEEK AS DATE)
) b
ON a.ITEM_SEGMENTS = b.ITEM_SEGMENTS
	AND a.FIRM_PLANNED_TYPE = b.FIRM_PLANNED_TYPE
	AND ISNULL(a.DEMAND_CLASS,'') = ISNULL(b.DEMAND_CLASS,'')
	AND a.ORDER_TYPE = b.ORDER_TYPE
	AND a.ORGANIZATION_CODE = b.ORGANIZATION_CODE
	AND a.PLAN_ID = b.PLAN_ID
	AND a.START_OF_WEEK = b.START_OF_WEEK
WHERE ISNULL(a.QUANTITY,0) <> ISNULL(b.QUANTITY,0)
GO
