USE [Operations]
GO
/****** Object:  View [OUTPUT].[PurchasePriceVariance]    Script Date: 7/10/2025 11:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [OUTPUT].[PurchasePriceVariance] AS
SELECT
	[YEAR], 
	[Month Seasonality] AS [MONTH], 
	CAST(TX_DATE AS DATE) AS [DATE],
	ORG_CODE,
	ORG_NAME,
	VENDOR_NAME,
	ITEM,
	ITEM_DESC,
	PART_CLASS,
	PO_NUMBER,
	PO_LINE_NUMBER,
	TX_QTY AS [QTY],
	POL_UNIT_PRICE AS [PO_PRICE],
	ROW_NUMBER() OVER (PARTITION BY ITEM ORDER BY CAST(TX_DATE AS DATE) DESC, PO_NUMBER) AS [PRICE_RECORD],
	(STD_COST - MOH_UNIT_COST) AS [STD_COST],
	COST_VARIANCE,
	TX_EXT_VAR AS [TOTAL_PPV]
FROM Oracle.PurchasePriceVariance ppv
	LEFT JOIN dbo.DimCalendarFiscal cf ON cf.DateKey = ppv.TX_DATE
WHERE CAST(TX_DATE AS DATE) >= '2024-01-01'
	AND CURRENTRECORD = 1
GO
