USE [Operations]
GO
/****** Object:  View [OUTPUT].[Product Cost]    Script Date: 7/10/2025 11:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [OUTPUT].[Product Cost] AS
SELECT
	[Month Sort] AS [PERIOD], 
	[YEAR], 
	[Month Seasonality] AS [MONTH], 
	CAST(TX_DATE AS DATE) AS [DATE], 
	[ITEM],
	ITEM_DESC,
	PART_CLASS,
	PPV.VENDOR_NAME,
	PM.[COUNTRY OF ORIGIN] AS [COUNTRY],
	[TX_QTY] AS [QTY],
	[CUR_STD_COST] AS [2025 STD COST],
	CASE 
		WHEN ISNULL(CST.MATERIAL_COST, 0) = 0 THEN PPV.STD_COST 
		ELSE CST.MATERIAL_COST 
		END AS [2024 STD COST],
	[POL_UNIT_PRICE] AS [PO PRICE],
	ROUND(([POL_UNIT_PRICE] - CASE 
		WHEN ISNULL(CST.MATERIAL_COST, 0) = 0 THEN PPV.STD_COST 
		ELSE CST.MATERIAL_COST 
		END),2) AS [UNIT VARIANCE],
	ROUND(([POL_UNIT_PRICE] - CASE 
		WHEN ISNULL(CST.MATERIAL_COST, 0) = 0 THEN PPV.STD_COST 
		ELSE CST.MATERIAL_COST 
		END) * [TX_QTY],2) AS [COST VARIANCE]
FROM Oracle.[PurchasePriceVariance] ppv 
	LEFT JOIN dbo.DimProductMaster pm ON pm.ProductKey = ppv.ITEM 
	LEFT JOIN dbo.DimCalendarFiscal cf ON cf.DateKey = ppv.TX_DATE
	LEFT JOIN Oracle.[CST_ITEM_COST_TYPE_V] cst ON cst.ITEM_NUMBER = ppv.ITEM AND CST.COST_TYPE = '2024Dec' AND CST.ORGANIZATION_ID = '87'
WHERE TX_DATE >= DATEADD(yy, DATEDIFF(yy, 0, DATEADD(YEAR, 0, GETDATE())), 0)
	AND ppv.CurrentRecord = 1

GO
