USE [Operations]
GO
/****** Object:  View [OUTPUT].[Inventory]    Script Date: 7/10/2025 11:43:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE VIEW [OUTPUT].[Inventory] AS 
  SELECT mtl.*
  FROM Oracle.INV_MTL_MATERIAL_TRANSACTIONS mtl
	LEFT JOIN dbo.DimCalendarFiscal cf ON TRANSACTION_DATE = cf.DateKey  
  WHERE YEAR(TRANSACTION_DATE)*100+MONTH(TRANSACTION_DATE) = 202107
GO
