USE [Operations]
GO
/****** Object:  View [OUTPUT].[VenaTBAdj]    Script Date: 7/10/2025 11:43:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [OUTPUT].[VenaTBAdj] AS
WITH CTE AS (
	SELECT DISTINCT 
		   CASE WHEN CAST(JE_HDR_EFF_DATE AS DATE) < CAST(JE_HDR_POSTED_DATE AS DATE)  THEN CAST(JE_HDR_EFF_DATE AS DATE) ELSE CAST(JE_HDR_POSTED_DATE AS DATE) END AS TransDate
	FROM [Oracle].[TrialBalance]
	WHERE JE_BATCH_PERIOD LIKE 'Adj%' AND CurrentRecord = 1 AND Year(CASE WHEN CAST(JE_HDR_EFF_DATE AS DATE) < CAST(JE_HDR_POSTED_DATE AS DATE)  THEN CAST(JE_HDR_EFF_DATE AS DATE) ELSE CAST(JE_HDR_POSTED_DATE AS DATE) END) >= 2019
	UNION		
	SELECT DISTINCT CAST(CAST(PERIOD_YEAR AS VARCHAR(4))+'-12-31' AS DATE)
	FROM Oracle.TrialBalanceEndingBalance eb
	WHERE CurrentRecord = 1
		AND PERIOD_NUM = 13
		AND PERIOD_YEAR >= 2019
)
SELECT DISTINCT tb.* 
FROM Oracle.TrialBalance tb
	INNER JOIN CTE ON 'Dec-'+RIGHT(YEAR(cte.TransDate),2) = tb.PERIOD
WHERE CurrentRecord = 1
UNION ALL
SELECT *
FROM [Oracle].[TrialBalance]
WHERE JE_BATCH_PERIOD LIKE 'Adj%' AND CurrentRecord = 1
GO
