USE [Operations]
GO
/****** Object:  View [OUTPUT].[SalesOnTimeInFull]    Script Date: 7/10/2025 11:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [OUTPUT].[SalesOnTimeInFull] AS
WITH CTE AS (
	SELECT --DATEDIFF(DAY,o.ACTUAL_SHIPMENT_DATE, i.GL_DATE)
		  CASE WHEN DATEDIFF(DAY,o.DATE_REQUESTED, i.GL_DATE) <= 0 THEN 1 ELSE 0 END AS OnTime
		, CASE WHEN SUM(o.QTY) OVER (PARTITION BY o.ORDER_NUM) = SUM(ISNULL(i.QTY_INVOICED,0)) OVER (PARTITION BY i.ORDER_NUM) THEN 1 ELSE 0 END AS InFull
		, o.ORDER_NUM
		, o.ORDER_LINE_NUM
		, o.CREATE_DATE
		, o.ORDER_DATE
		, o.SCH_SHIP_DATE
		, o.CANCEL_DATE
		, o.DATE_REQUESTED
		, o.ACTUAL_SHIPMENT_DATE
		, i.GL_DATE
		, i.SKU
		, i.DEM_CLASS
		, o.PART
		, o.DEMAND_CLASS
		, i.QTY_INVOICED
		, i.ACCTD_USD
		, o.QTY
		, o.LIST_DOLLARS
		, i.QTY_INVOICED - o.QTY AS QTY_DIFF
		, i.ACCTD_USD - o.LIST_DOLLARS AS DOLLARS_DIFF
		, o.FLOW_STATUS_CODE
		--, o.*
	FROM Oracle.Orders o
		LEFT JOIN [Oracle].[Invoice] i ON o.ORDER_NUM = i.ORDER_NUM AND o.ORDER_LINE_NUM = i.SO_LINE_NUM AND i.CurrentRecord = 1 AND i.REVENUE_TYPE = 'AAA-SALES'
	WHERE o.CurrentRecord = 1
		AND CAST(o.ORDER_DATE AS DATE) >= '2022-01-01'
		AND o.FLOW_STATUS_CODE NOT IN ('CANCELLED','DELETED')
	--ORDER BY O.ORDER_NUM, o.ORDER_LINE_NUM
)
, ByMonth AS (
	SELECT OnTime, InFull, [Month Sort], SUM(QTY) AS Qty, SUM(LIST_DOLLARS) AS Sales
	FROM CTE LEFT JOIN dbo.DimCalendarFiscal c ON cte.ORDER_DATE = c.DateKey 
	GROUP BY OnTime, InFull, [Month Sort]
)
SELECT OnTime, InFull, [Month Sort], QTY, SALES
	, CASE WHEN OnTime = 1 THEN QTY ELSE 0 END/SUM(QTY) OVER (PARTITION BY [Month Sort]) AS [OnTime%]
	, CASE WHEN InFull = 1 THEN QTY ELSE 0 END/SUM(QTY) OVER (PARTITION BY [Month Sort]) AS [InFull%]
	, CASE WHEN OnTime = 1 AND InFull = 1 THEN QTY ELSE 0 END/SUM(QTY) OVER (PARTITION BY [Month Sort]) AS [OnTimeInFull%]
FROM ByMonth
GROUP BY OnTime, InFull, [Month Sort], QTY, SALES
--ORDER BY [Month Sort], OnTime, InFull
GO
