USE [Operations]
GO
/****** Object:  View [OUTPUT].[REC_InvoicedFreight]    Script Date: 7/10/2025 11:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [OUTPUT].[REC_InvoicedFreight] AS
--invoiced freight
SELECT cf.[Month Sort], CASE WHEN RevenueKey LIKE 'ZTAX%' THEN 'ZTAX' WHEN INV_DESCRIPTION LIKE '%FRT%MBS%' THEN 'FRTMBS' WHEN INV_DESCRIPTION LIKE 'S2C DSF%' THEN 'DSF' WHEN SKU = 'ZFRT' THEN 'ZFRT' WHEN GL_REVENUE_DISTRIBUTION LIKE '%3300%' THEN 'INVFRT' ELSE RevenueKey END AS RevenueKey, SUM(ACCTD_USD) AS Sales
FROM Oracle.Invoice i
	LEFT JOIN Dim.RevenueType r ON i.REVENUE_TYPE = r.RevenueKey
	LEFT JOIN dbo.DimCalendarFiscal cf ON i.GL_DATE = cf.DateKey
WHERE i.CurrentRecord = 1 AND cf.DateID >= (43100 + 366) 
	AND cf.[Month Sort] >= '202202' --AND cf.[Month Sort] <= '202210'
	AND (
			CASE  WHEN r.RevenueKey LIKE 'ZTAX%' THEN 'ZTAX' 
				WHEN INV_DESCRIPTION LIKE '%FRT%MBS%' THEN 'FRTMBS' 
				WHEN INV_DESCRIPTION LIKE 'S2C DSF%' THEN 'DSF' 
				WHEN i.SKU = 'ZFRT' AND GL_REVENUE_DISTRIBUTION NOT LIKE '%3300%' THEN 'ZFRT' 
				WHEN GL_REVENUE_DISTRIBUTION LIKE '%3300%' THEN 'INVFRT' 
				WHEN ACCT_NAME = 'S2C: KOHLS.COM (PREPAID)' AND REVENUE_TYPE ='S2C_ADJ_OTHER' THEN 'PPDFRT'
				ELSE r.RevenueKey 
			END IN ('DSF', 'ZFRT', 'INVFRT')
			AND 
			i.GL_REVENUE_DISTRIBUTION LIKE '%3300%'
	)
GROUP BY cf.[Month Sort], CASE WHEN RevenueKey LIKE 'ZTAX%' THEN 'ZTAX' WHEN INV_DESCRIPTION LIKE '%FRT%MBS%' THEN 'FRTMBS' WHEN INV_DESCRIPTION LIKE 'S2C DSF%' THEN 'DSF' WHEN SKU = 'ZFRT' THEN 'ZFRT' WHEN GL_REVENUE_DISTRIBUTION LIKE '%3300%' THEN 'INVFRT' ELSE RevenueKey END
--ORDER BY cf.[Month Sort], RevenueKey
GO
