USE [Operations]
GO
/****** Object:  View [OUTPUT].[VendorFillRate]    Script Date: 7/10/2025 11:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [OUTPUT].[VendorFillRate] AS
WITH Data AS (
	SELECT 
		  po.PO_CREATE_DATE
		, po.PO_LINE_CREATE_DATE
		, po.PO_NUMBER
		, po.LINE_NUMBER
		, po.SHIPMENT_LINE_NUMBER
		, po.PO_HEADER_ID
		, po.PO_LINE_ID
		, po.LINE_LOCATION_ID
		, po.[VENDOR_ID]
		, po.[VENDOR_SITE]
		, po.[QUANTITY_RECEIVED]
		, po.[ORDER_QUANTITY]
		, po.[QUANTITY_CANCELLED]
		, po.[HEADER_CLOSED_CODE]
		, po.[LINE_CLOSED_CODE]
		, CASE WHEN po.QUANTITY_RECEIVED >= po.ORDER_QUANTITY - po.QUANTITY_CANCELLED THEN 1 ELSE 0 END IN_FULL
	FROM [Oracle].[PurchaseOrder] po
		INNER JOIN (
			SELECT DISTINCT VENDOR_ID FROM Oracle.PO_HEADERS_ALL 
			WHERE CurrentRecord = 1
			AND (ATTRIBUTE1 IS NOT NULL
			OR ATTRIBUTE2 IS NOT NULL
			OR ATTRIBUTE3 IS NOT NULL
			OR ATTRIBUTE4 IS NOT NULL
			OR ATTRIBUTE5 IS NOT NULL
			OR ATTRIBUTE6 IS NOT NULL
			OR ATTRIBUTE7 IS NOT NULL)
		) poh ON po.VENDOR_ID = poh.VENDOR_ID
	WHERE po.CurrentRecord = 1
		AND po.[ORDER_QUANTITY] IS NOT NULL
		AND po.PO_LINE_CREATE_DATE >= DATEADD(YEAR,-1,GETDATE())
		AND po.NEED_BY_DATE < GETDATE() --only score if expecting to have received
)
SELECT VENDOR_ID, SUM(IN_FULL) AS InFull, COUNT(*) AS LineCount, SUM(IN_FULL)*1.0/COUNT(*)*100 AS FillRate 
FROM Data GROUP BY VENDOR_ID
GO
