USE [Operations]
GO
/****** Object:  View [OUTPUT].[CurrencyConversion]    Script Date: 7/10/2025 11:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [OUTPUT].[CurrencyConversion] AS
SELECT GL_PERIOD
	, MIN(GL_DATE) AS GL_DATE
	, CURRENCY
	, SUM(ACCTD_USD) AS USD
	, SUM(ENTERED_AMOUNT) AS CAD
	, SUM(ACCTD_USD)/SUM(ENTERED_AMOUNT) AS Conversion 
FROM Oracle.Invoice 
WHERE GL_DATE >= '2019-01-01' AND CURRENCY = 'CAD' GROUP BY GL_PERIOD, CURRENCY 
--ORDER BY GL_DATE
GO
