USE [Operations]
GO
/****** Object:  View [OUTPUT].[OrderCount]    Script Date: 7/10/2025 11:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [OUTPUT].[OrderCount] AS 


	SELECT DATEPART(HOUR,ORDER_DATE) AS OrderDate, COUNT(DISTINCT ORDER_NUM) AS Orders, SUM(LIST_DOLLARS) AS Sales FROM Oracle.ORDERS WHERE CurrentRecord = 1 AND CUSTOMER_NUM = '1000189' AND CAST(ORDER_DATE AS DATE) = '2023-12-06' GROUP BY DATEPART(HOUR,ORDER_DATE)
	UNION
	SELECT DATEPART(HOUR,ORDER_DATE) AS OrderDate, COUNT(DISTINCT ORDER_NUM) AS Orders, SUM(LIST_DOLLARS) AS Sales FROM Oracle.ORDERS WHERE CurrentRecord = 1 AND CUSTOMER_NUM = '1000189' AND CAST(ORDER_DATE AS DATE) = '2023-12-07' GROUP BY DATEPART(HOUR,ORDER_DATE)
GO
