USE [Operations]
GO
/****** Object:  View [OUTPUT].[VenaTBDrillthroughVariance]    Script Date: 7/10/2025 11:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [OUTPUT].[VenaTBDrillthroughVariance] AS
WITH TBVendor AS (
  SELECT [_YEAR]
      ,[_PERIOD]
	  ,[_ACCOUNT]
	  ,[_DEPARTMENT]
	  ,[_LOCATION]
	  ,[_ENTITY]
      ,SUM([_VALUE]) AS _VALUE
      --,SUM([_ACTIVITY]) AS _ACTIVITY
	  ,COUNT(*) AS _RECORDS
  FROM [OUTPUT].[VenaTBVendor]
  --WHERE _ACCOUNT < '3000' AND _PERIOD = 3 AND _YEAR = 2025
  GROUP BY [_YEAR]
      ,[_PERIOD]
	  ,[_ACCOUNT]
	  ,[_DEPARTMENT]
	  ,[_LOCATION]
	  ,[_ENTITY]
 --HAVING SUM(_VALUE) <> 0
 -- ORDER BY [_YEAR] DESC
 --     ,[_PERIOD] DESC
	--  ,[_ACCOUNT]
)
, TBDrillthroughVendor AS (
  SELECT [_YEAR]
      ,[_PERIOD]
	  ,[_ACCOUNT]
	  ,[_DEPARTMENT]
	  ,[_LOCATION]
	  ,[_ENTITY]
      ,SUM([_VALUE]) AS _VALUE
      --,SUM([_ACTIVITY]) AS _ACTIVITY
	  ,COUNT(*) AS _RECORDS
  FROM [OUTPUT].[VenaDrillthroughVendor]
  --WHERE _ACCOUNT < '3000' AND _PERIOD = 3 AND _YEAR = 2025
  GROUP BY [_YEAR]
      ,[_PERIOD]
	  ,[_ACCOUNT]
	  ,[_DEPARTMENT]
	  ,[_LOCATION]
	  ,[_ENTITY]
 --HAVING SUM(_VALUE) <> 0
  --ORDER BY [_YEAR] DESC
  --    ,[_PERIOD] DESC
	 -- ,[_ACCOUNT]
)
SELECT TBVendor.*, CAST(ISNULL(TBVendor.[_VALUE],0) - ISNULL(TBOG.[_VALUE],0) AS MONEY) AS _VARIANCE
FROM TBVendor INNER JOIN TBDrillthroughVendor TBOG	
	ON TBVendor.[_YEAR] = TBOG.[_Year]
	AND TBVendor.[_PERIOD] = TBOG.[_PERIOD]
	AND TBVendor.[_ACCOUNT] = TBOG.[_ACCOUNT]
	AND TBVendor.[_DEPARTMENT] = TBOG.[_DEPARTMENT]
	AND TBVendor.[_LOCATION] = TBOG.[_LOCATION]
	AND TBVendor.[_ENTITY] = TBOG.[_ENTITY]
WHERE ABS(ISNULL(TBVendor.[_VALUE],0)) - ABS(ISNULL(TBOG.[_VALUE],0)) > .01
	AND ISNULL(TBVendor.[_YEAR],TBOG.[_YEAR]) >= 2019
--ORDER BY TBVendor.[_YEAR], TBVendor.[_PERIOD], TBVendor.[_ACCOUNT]
GO
