USE [Operations]
GO
/****** Object:  View [OUTPUT].[Trips]    Script Date: 7/10/2025 11:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [OUTPUT].[Trips] AS SELECT * FROM Oracle.Trips
GO
