USE [Operations]
GO
/****** Object:  View [OUTPUT].[REC_Sales]    Script Date: 7/10/2025 11:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [OUTPUT].[REC_Sales] AS
--sales model
SELECT cf.[Month Sort]
	, i.[REPORTING_REVENUE_TYPE]
	, CASE  WHEN RevenueKey LIKE 'ZTAX%' THEN 'ZTAX' 
			WHEN INV_DESCRIPTION LIKE '%FRT%MBS%' THEN 'FRTMBS' 
			WHEN INV_DESCRIPTION LIKE 'S2C DSF%' AND REVENUE_TYPE = 'SHIPHANDLING' THEN 'DSF' 
			WHEN SKU = 'ZFRT' AND GL_REVENUE_DISTRIBUTION NOT LIKE '%3300%' THEN 'ZFRT' 
			WHEN GL_REVENUE_DISTRIBUTION LIKE '%3300%' THEN 'INVFRT' 
			WHEN ACCT_NAME = 'S2C: KOHLS.COM (PREPAID)' AND REVENUE_TYPE ='S2C_ADJ_OTHER' THEN 'PPDFRT'
			ELSE RevenueKey 
	END AS RevenueKey
	, SUM(ACCTD_USD) AS Sales
FROM Oracle.Invoice i
	LEFT JOIN dbo.DimRevenueType r ON i.REVENUE_TYPE = r.RevenueKey
	LEFT JOIN dbo.DimCalendarFiscal cf ON i.GL_DATE = cf.DateKey
WHERE i.CurrentRecord = 1 AND cf.DateID >= (43100 + 366) 
	AND cf.[Month Sort] LIKE '202408%' 
	AND (i.GL_REVENUE_DISTRIBUTION LIKE '%3000%' OR i.GL_REVENUE_DISTRIBUTION LIKE '%3200%' OR i.GL_REVENUE_DISTRIBUTION LIKE '%3250%')
GROUP BY cf.[Month Sort]
	, CASE  WHEN RevenueKey LIKE 'ZTAX%' THEN 'ZTAX' 
			WHEN INV_DESCRIPTION LIKE '%FRT%MBS%' THEN 'FRTMBS' 
			WHEN INV_DESCRIPTION LIKE 'S2C DSF%' AND REVENUE_TYPE = 'SHIPHANDLING' THEN 'DSF' 
			WHEN SKU = 'ZFRT' AND GL_REVENUE_DISTRIBUTION NOT LIKE '%3300%' THEN 'ZFRT' 
			WHEN GL_REVENUE_DISTRIBUTION LIKE '%3300%' THEN 'INVFRT' 
			WHEN ACCT_NAME = 'S2C: KOHLS.COM (PREPAID)' AND REVENUE_TYPE ='S2C_ADJ_OTHER' THEN 'PPDFRT'
			ELSE RevenueKey 
	END
	, i.[REPORTING_REVENUE_TYPE]
GO
