USE [Operations]
GO
/****** Object:  View [OUTPUT].[SalesPPD]    Script Date: 7/10/2025 11:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [OUTPUT].[SalesPPD] AS 
SELECT YEAR(GL_DATE)*100+MONTH(GL_DATE) AS GLPERIOD, REVENUE_TYPE, INV_DESCRIPTION, SUM(ACCTD_USD) AS SALES
FROM Oracle.Invoice i 
WHERE i.INV_DESCRIPTION LIKE 'S2C PPD %' AND CurrentRecord = 1
GROUP BY YEAR(GL_DATE)*100+MONTH(GL_DATE), INV_DESCRIPTION, REVENUE_TYPE
--ORDER BY YEAR(GL_DATE)*100+MONTH(GL_DATE) ASC
GO
