USE [Operations]
GO
/****** Object:  View [OUTPUT].[SCPKitSalesOrders]    Script Date: 7/10/2025 11:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [OUTPUT].[SCPKitSalesOrders] AS 
	WITH Forecast AS (
		SELECT DISTINCT DPP.ITEM_SEGMENTS, DPP.DEMAND_CLASS
		FROM Oracle.MSC_ORDERS_V_FORECAST DPP
			LEFT JOIN Oracle.MSC_ORDERS_V_STAGING ASCP 
		ON DPP.ITEM_SEGMENTS = ASCP.ITEM_SEGMENTS 
			AND DPP.SOURCE_TABLE = ASCP.SOURCE_TABLE
			AND DPP.ORDER_TYPE = ASCP.ORDER_TYPE
		WHERE CurrentRecord = 1
			AND ASCP.ITEM_SEGMENTS IS NULL
	)
	, SKUs AS (
		SELECT l.LocationKey, dc.DemandClassKey, cf.DateKey, BOM.* 
		FROM dbo.DimBillOfMaterial BOM
			LEFT JOIN dbo.DimProductMaster pm1 ON bom.PARENT_SKU = pm1.ProductKey
			LEFT JOIN dbo.DimProductMaster pm2 ON bom.CHILD_SKU = pm2.ProductKey
			CROSS JOIN dbo.DimLocation l
			CROSS JOIN (SELECT DISTINCT DEMAND_CLASS AS DemandClassKey FROM Forecast) dc --cut down to 
			CROSS JOIN (
				SELECT DateKey FROM dbo.DimCalendarFiscal 
				WHERE [Day of Week] = 'Sun' AND DateKey >= DATEADD(WEEK,-1,GETDATE())
			) cf 
		WHERE PARENT_SKU IN (SELECT DISTINCT ITEM_SEGMENTS FROM Forecast)
			AND Level = 1
			AND pm2.[Part Type] = 'FINISHED GOODS'
	)
	, ChildQuantity AS (
		SELECT 'PRD:'+SKUs.LocationKey AS ORGANIZATION_CODE, SKUs.DemandClassKey AS DEMAND_CLASS, PARENT_SKU, CHILD_SKU, SUM(ISNULL(msc.QUANTITY,0)) AS QUANTITY
			, msc.ORDER_TYPE, msc.ORDER_TYPE_TEXT, SKUs.DateKey AS START_OF_WEEK, msc.FIRM_PLANNED_TYPE
		FROM SKUs
			LEFT JOIN Oracle.MSC_ORDERS_V_STAGING msc 
			ON SKUs.CHILD_SKU = msc.ITEM_SEGMENTS 
				AND RIGHT(msc.ORGANIZATION_CODE,3) = SKUs.LocationKey	
				AND SKUs.DemandClassKey = msc.DEMAND_CLASS
				AND SKUs.DateKey = CAST(START_OF_WEEK AS DATE)
				AND msc.quantity <> 0 and msc.plan_id = 22 and msc.order_type = 30 --sales orders
		GROUP BY SKUs.LocationKey, SKUs.DemandClassKey, SKUs.DateKey, PARENT_SKU, CHILD_SKU
			, msc.ORDER_TYPE, msc.ORDER_TYPE_TEXT, msc.FIRM_PLANNED_TYPE
	)
	, ParentQuantity AS (
		SELECT ORGANIZATION_CODE, DEMAND_CLASS, PARENT_SKU, CHILD_SKU, START_OF_WEEK --ORDER_TYPE, ORDER_TYPE_TEXT, FIRM_PLANNED_TYPE
			, QUANTITY
			, MAX(Quantity) OVER (PARTITION BY PARENT_SKU, DEMAND_CLASS, ORGANIZATION_CODE, START_OF_WEEK) AS TOTALQUANTITY
		FROM ChildQuantity
		--ORDER BY START_OF_WEEK, ORGANIZATION_CODE, DEMAND_CLASS, PARENT_SKU, CHILD_SKU
	)
	, SalesOrders AS (
		SELECT DISTINCT   
			--  CHILD_SKU AS ITEM_SEGMENTS
			  PARENT_SKU AS KIT_SKU
			, DEMAND_CLASS
			, ORGANIZATION_CODE AS ORGANIZATION_CODE
			, START_OF_WEEK
			, TOTALQUANTITY AS KIT_QTY  
		FROM ParentQuantity pq
		WHERE TotalQuantity <> 0
	)
	SELECT 
	      'MSC_SUPPLIES' AS SOURCE_TABLE
		, KIT_SKU AS ITEM_SEGMENTS
		, ProductName AS DESCRIPTION
		, DEMAND_CLASS
		, CAST(NULL AS DATETIME2) AS NEW_ORDER_DATE
		, 1 AS FIRM_PLANNED_TYPE
		, CAST(NULL AS DATETIME2) AS FIRM_DATE
		, KIT_QTY AS QUANTITY
		, 'Sales Orders' AS ORDER_TYPE_TEXT
		, 30 AS ORDER_TYPE
		, CAST(NULL AS DATETIME2) AS NEW_DUE_DATE
		, CAST(NULL AS NVARCHAR(10)) AS PLANNER_CODE
		, ORGANIZATION_CODE
		, 22 AS PLAN_ID
		, START_OF_WEEK
		, CAST(NULL AS CHAR(18)) AS RowID
		, GETDATE() AS StartDate
		, CAST(NULL AS DATETIME) EndDate
		, 1 AS CurrentRecord
		, NULL AS SOURCE_ORGANIZATION_CODE
	FROM SalesOrders dd
		LEFT JOIN dbo.DimProductMaster pm ON dd.KIT_SKU = pm.ProductKey
GO
