USE [Operations]
GO
/****** Object:  View [PIM].[CustomerPrice]    Script Date: 7/10/2025 11:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [PIM].[CustomerPrice] AS 
SELECT SKU, SKU_NAME
	,SUM(CASE WHEN CUSTOMER_NUMBER = '1000189' THEN Price END) AS AmazonPrice
	,SUM(CASE WHEN CUSTOMER_NUMBER = '1000769' THEN Price END) AS HomeDepotPrice
	,SUM(CASE WHEN CUSTOMER_NUMBER = '1000020' THEN Price END) AS WayfairPrice
	,SUM(CASE WHEN CUSTOMER_NUMBER = '1000993' THEN Price END) AS KohlsPrice
	,SUM(CASE WHEN CUSTOMER_NUMBER = '1001000' THEN Price END) AS TargetPrice
	,SUM(CASE WHEN CUSTOMER_NUMBER = '1000925' THEN Price END) AS AldiPrice
	,SUM(CASE WHEN CUSTOMER_NUMBER = '1000812' THEN Price END) AS LowesPrice
	,SUM(CASE WHEN CUSTOMER_NUMBER = '1008531' THEN Price END) AS SmythsPrice
	,SUM(CASE WHEN CUSTOMER_NUMBER = '1000283' THEN Price END) AS WalmartPrice
FROM [Oracle].[PriceList] pl
GROUP BY SKU, SKU_NAME

GO
