USE [Operations]
GO
/****** Object:  View [PIM].[CustomerPartNumber]    Script Date: 7/10/2025 11:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/****** Script for SelectTopNRows command from SSMS  ******/
CREATE VIEW [PIM].[CustomerPartNumber] AS 
WITH CTE AS (
		  SELECT '1000189' AS ACCT_NUM, 'Amazon' AS ACCT_NAME
	UNION SELECT '1000769', 'HD'
	UNION SELECT '1000020', 'Wayfair'
	UNION SELECT '1000283', 'Walmart'
	UNION SELECT '1000993', 'Kohls'
	UNION SELECT '1001000', 'Target'
	UNION SELECT '1000925', 'Aldi '
	UNION SELECT '1000812', 'Lowes'
	UNION SELECT '1008531', 'Smyths'
  
)
, CustomerPartNumber AS (
	SELECT [ID]
	      ,cr.[ACCT_NUM]
	      ,cr.[ACCT_NAME]
	      ,[CUSTOMER_NAME]
	      ,[STEP2_ITEM_NUM] AS SKU
	      ,[CUSTOMER_ITEM]
	      ,cr.[DESCRIPTION]
	      ,[ITEM_TYPE]
	      ,[RANK]
		  --,cte.ACCT_NUM
	FROM [Oracle].[CustomerPartReference] cr
		INNER JOIN CTE ON cr.ACCT_NUM = cte.ACCT_NUM
	WHERE CurrentRecord = 1
	--ORDER BY STEP2_ITEM_NUM, RANK
)
SELECT SKU, DESCRIPTION, ITEM_TYPE
	,MAX(CASE WHEN ACCT_NUM = '1000189' THEN CUSTOMER_ITEM END) AS AmazonSKU
	,MAX(CASE WHEN ACCT_NUM = '1000769' THEN CUSTOMER_ITEM END) AS HomeDepotSKU
	,MAX(CASE WHEN ACCT_NUM = '1000020' THEN CUSTOMER_ITEM END) AS WayfairSKU
	,MAX(CASE WHEN ACCT_NUM = '1000283' THEN CUSTOMER_ITEM END) AS WalmartSKU
	,MAX(CASE WHEN ACCT_NUM = '1000993' THEN CUSTOMER_ITEM END) AS KohlsSKU
	,MAX(CASE WHEN ACCT_NUM = '1001000' THEN CUSTOMER_ITEM END) AS TargetSKU
	,MAX(CASE WHEN ACCT_NUM = '1000925' THEN CUSTOMER_ITEM END) AS AldiSKU
	,MAX(CASE WHEN ACCT_NUM = '1000812' THEN CUSTOMER_ITEM END) AS LowesSKU
	,MAX(CASE WHEN ACCT_NUM = '1008531' THEN CUSTOMER_ITEM END) AS SmythsSKU
FROM CustomerPartNumber
GROUP BY SKU, DESCRIPTION, ITEM_TYPE

 /*
  1000769 --HD
  1000020 --wayfair
  1000993 --kohls
  1001000 --target
  1000925 --aldi (not .com)
  1000812 --lowe's B&M
  1008531 --smyth's

  */
GO
